form.cx-ui > fieldset .group > label[for="form-0-dataAccessReadOnly"] ~ div.controls {
    min-height: 45px;
}

.data-access-id {
    width: 115px;
}

select.chzn {
    visibility: hidden;
}

#form-0-allowedOutputMethods label,
#readPermission[protocol] label {
    padding: 0 40px 0 0;
}

#form-0-accessCondition select,
#form-0-accessCondition input {
    width: 30%;
    margin: 2px 0;
}

#form-0-accessCondition .delete-wrapper {
    position: relative;
}
#form-0-accessCondition .delete {
    position: absolute;
    top: -5px;
}

form.cx-ui > fieldset .group > label[for='form-0-readPermission'],
form.cx-ui > fieldset .group > label[for='form-0-writePermission'] {
    display: none
}

form.cx-ui > fieldset .group > label[for='form-0-readPermission'] ~ div.controls,
form.cx-ui > fieldset .group > label[for='form-0-writePermission'] ~ div.controls {
    margin: 0 -3px -4px;
}

#form-0-readPermission,
#form-0-writePermission {
    width: 100%;
    margin-top: -3px;
}

.permission-legend {
    float: left;
    width: 100%;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    margin: 0 0 2px;
    background: #0071bc;
    font-weight: bold;
    color: #ffffff;
    text-align: left;
    white-space: nowrap;
    box-sizing: border-box;
}

.permission-title::before {
    content: url(/core_modules/DataAccess/View/Media/ToggleOpen.png);
    padding: 0 10px 0 0;
    top: -1px;
    position: relative;
}
