form.cx-ui > fieldset .group > label[for="form-0-dataAccessReadOnly"] ~ div.controls {
    min-height: 45px;
}

.data-access-id {
    width: 115px;
}

select.chzn {
    visibility: hidden;
}

#form-0-allowedOutputMethods label {
    padding: 0 40px 0 0;
}