<div class="container-fluid">
    <div class="row">
        Eine <strong>Tag Cloud</strong> ist eine Methode zur Informationsvisualisierung, bei der eine Liste aus Schlagworten zweidimensional alphabetisch sortiert angezeigt wird, wobei einzelne unterschiedlich gewichtete Worte gr&ouml;sser oder auf andere Weise hervorgehoben dargestellt werden. Wortwolken werden zunehmend beim gemeinschaftlichen Indexieren und in Blogs eingesetzt. [<a target="_blank" href="http://de.wikipedia.org/wiki/Tag_cloud">Quelle</a>]
        <br /><br /><fieldset><legend>Beliebteste Tags</legend>{BLOG_TAG_HITLIST}</fieldset>
        <fieldset><legend>Tag Cloud</legend>{BLOG_TAG_CLOUD}</fieldset>
    </div>
</div>
