<div id="blog" class="container-fluid">
    <div class="categories">
        <h2>Themen Kategorien</h2>
        {BLOG_CATEGORIES_LIST}
    </div>
    <!-- BEGIN showBlogEntries -->
    <div class="entries">
        <h2><a title="{BLOG_ENTRIES_TITLE}" href="index.php?section=Blog&amp;cmd=details&amp;id={BLOG_ENTRIES_ID}">{BLOG_ENTRIES_TITLE}</a></h2>
        <div class="posted">
            {BLOG_ENTRIES_POSTED_ICON}&nbsp;{BLOG_ENTRIES_POSTED}
            <!-- BEGIN showCommentPart -->
            &nbsp;&nbsp;|&nbsp;&nbsp;<a title="{TXT_BLOG_COMMENTS}" href="index.php?section=Blog&amp;cmd=details&amp;id={BLOG_ENTRIES_ID}#comments">{BLOG_ENTRIES_COMMENTS}</a>
            <!-- END showCommentPart -->
            <br />{BLOG_ENTRIES_TAGS_ICON}&nbsp;{BLOG_ENTRIES_TAGS}
        </div>
        <div class="content">
            <div class="image img-responsive">{BLOG_ENTRIES_IMAGE}</div>
            <div class="text">{BLOG_ENTRIES_INTRODUCTION}</div>
            <div class="link"><a href="index.php?section=Blog&amp;cmd=details&amp;id={BLOG_ENTRIES_ID}">Weiter...</a></div>
        </div>
        <div class="statistics">
            <strong>{TXT_BLOG_CATEGORIES}:</strong>&nbsp;{BLOG_ENTRIES_CATEGORIES}<br />
            <!-- BEGIN showVotingPart -->
            <strong>{TXT_BLOG_VOTING}:</strong>&nbsp; <a title="{TXT_BLOG_VOTING_DO}" href="index.php?section=Blog&amp;cmd=details&amp;id={BLOG_ENTRIES_ID}#voting">{BLOG_ENTRIES_VOTING_STARS}</a>&nbsp;(<a title="{TXT_BLOG_VOTING_DO}" href="index.php?section=Blog&amp;cmd=details&amp;id={BLOG_ENTRIES_ID}#voting">{BLOG_ENTRIES_VOTING}</a>)
            <!-- END showVotingPart -->
        </div>
    </div>
    <!-- END showBlogEntries -->
    {BLOG_ENTRIES_PAGING}
</div>
