<div id="blog" class="container-fluid">
    <!-- BEGIN showOkay --><div class="message_ok text-success">{BLOG_DETAILS_COMMENT_OKAY}</div><!-- END showOkay -->
    <!-- BEGIN showError --><div class="message_error text-danger">{BLOG_DETAILS_COMMENT_ERROR}</div><!-- END showError -->
    <div class="entry">
        <h2>{BLOG_DETAILS_TITLE}</h2>
        <div class="posted">{BLOG_DETAILS_POSTED_ICON}&nbsp;{BLOG_DETAILS_POSTED}</div>
        <div class="content">
            <div class="image img-responsive">{BLOG_DETAILS_IMAGE}</div>
            <div class="text">{BLOG_DETAILS_CONTENT}</div>
            <div class="networks">{BLOG_DETAILS_NETWORKS}</div>
        </div>
    </div>
    <!-- BEGIN votingPart -->
    <div class="voting">
        <table cellspacing="0">
            <tr>
                <th colspan="2"><a name="voting">{TXT_VOTING}</a></th>
            </tr>
            <tr class="row1">
                <td width="30%" nowrap="nowrap">{TXT_VOTING_ACTUAL}</td>
                <td width="70%">{BLOG_DETAILS_VOTING_BAR}</td>
            </tr>
            <tr class="row2">
                <td nowrap="nowrap">{TXT_VOTING_AVG}</td>
                <td>{BLOG_DETAILS_VOTING_AVG}</td>
            </tr>
            <tr class="row1">
                <td nowrap="nowrap">{TXT_VOTING_COUNT}</td>
                <td>{BLOG_DETAILS_VOTING_COUNT}</td>
            </tr>
            <tr class="row2">
                <td nowrap="nowrap">{TXT_VOTING_USER}</td>
                <td>{BLOG_DETAILS_VOTING_USER}</td>
            </tr>
        </table>
    </div>
    <!-- END votingPart -->
    <!-- BEGIN commentPart -->
    {BLOG_DETAILS_COMMENTS_JAVASCRIPT}
    <h3><a name="comments">{TXT_COMMENTS}</a></h3>
    <!-- BEGIN showCommentRows -->
        <div class="comments bg-primary">
            <div class="comment_avatar">{BLOG_DETAILS_COMMENT_AVATAR}</div>
            <div class="comment_title"><strong>{BLOG_DETAILS_COMMENT_TITLE}</strong></div>
            <div class="comment_posted">{BLOG_DETAILS_COMMENT_POSTED}</div>
            <div class="comment_text">{BLOG_DETAILS_COMMENT_CONTENT}</div>
        </div>
    <!-- END showCommentRows -->
    <!-- BEGIN showNoCommentRows --><div class="comments">{TXT_COMMENTS_NONE_EXISTING}</div><!-- END showNoCommentRows -->
    <!-- BEGIN commentAddPart -->
    <div class="addcomment">
        <fieldset>
            <legend>{TXT_COMMENT_ADD}</legend>
            <form name="frmAddComment" method="post" action="index.php?section=Blog&amp;cmd=details&amp;id={BLOG_DETAILS_COMMENT_ADD_MESSAGE_ID}">
                <input type="hidden" name="frmAddComment_MessageId" value="{BLOG_DETAILS_COMMENT_ADD_MESSAGE_ID}" />
                <p><label>{TXT_COMMENT_ADD_NAME}</label>{BLOG_DETAILS_COMMENT_ADD_NAME}</p>
                <p><label>{TXT_COMMENT_ADD_EMAIL}</label>{BLOG_DETAILS_COMMENT_ADD_EMAIL}</p>
                <p><label>{TXT_COMMENT_ADD_WWW}</label>{BLOG_DETAILS_COMMENT_ADD_WWW}</p>
                <p><label>{TXT_COMMENT_ADD_SUBJECT}</label><input type="text" name="frmAddComment_Subject" value="{BLOG_DETAILS_COMMENT_ADD_SUBJECT}" class="blogCommentInput" /></p>
                <p><label>{TXT_COMMENT_ADD_COMMENT}</label>{BLOG_DETAILS_COMMENT_ADD_COMMENT}</p>
                <!-- BEGIN comment_captcha --><p><label for="coreCaptchaCode">{TXT_COMMENT_CAPTCHA}</label>{COMMENT_CAPTCHA_CODE}</p><!-- END comment_captcha -->
                <p><input type="submit" class="btn btn-default" name="frmAddComment_Submit" value="{TXT_COMMENT_ADD_SUBMIT}" /></p>
            </form>
        </fieldset>
    </div>
    <!-- END commentAddPart -->
    <!-- END commentPart -->
</div>
