#fe_toolbar {
    font-family: Arial, sans-serif;
    z-index: 1000000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 53px;
    background: #0873bb url(../../../../../cadmin/template/ascms/images/gradient.jpg) left top repeat-y;
    -moz-box-shadow: 0px 0 9px #0c8ccd;
    -webkit-box-shadow: 0px 0 9px #0c8ccd;
    box-shadow: 0px 0 9px #0c8ccd;
}

#fe_toolbar_logo {
    position: absolute;
    left: 12px;
    top: 14px;
    width: 137px;
    height: 25px;
    background: url(../../../../../cadmin/template/ascms/images/login_contrexx_logo.png) no-repeat;
    outline: 0;
}

#fe_toolbar_tab {
    position: absolute;
    right: 20px;
    top: 53px;
    background: #0571ba;
    color: #fff;
    padding: 3px 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 13px;
    height: 20px;
}

#fe_toolbar_load_draft,
#fe_toolbar_tab {
    cursor: pointer;
}

#fe_content:focus,
#fe_title:focus {
    outline: 2px dashed #0873BB !important;
}

.cke_button_publish {
    background: url(../Media/ckeditor-publish-icon.png) no-repeat 6px 5px !important;
}

#fe_toolbar_status {
    position: absolute;
    left: 170px;
    top: 8px;
}

#fe_toolbar_startEditMode {
    float: left;
    background: #dadada url(../../../../../cadmin/template/ascms/images/button_bg.png) repeat-x scroll left top;
    border: 1px solid #BBBBBB;
    color: #444444;
    margin-top: 5px;
    margin-bottom: 2px;
    margin-right: 10px;
    padding: 2px 10px;
    text-shadow: 1px 1px #FFFFFF;
}

#fe_toolbar_status_message {
    float: left;
}

#fe_metanavigation {
    position: absolute;
    right: 20px;
    bottom: 14px;
    float: left;
    width: auto;
    font-size: 12px;
}

#fe_metanavigation>a {
    float: left;
    padding: 0 0 0 17px;
    margin: 0 0 0 20px;
    color: #c5dbe8;
    line-height: normal;
}

#fe_metanavigation a.first {
    margin: 0;
}

#fe_metanavigation>a:hover,
#fe_metanavigation>a:focus,
#fe_metanavigation>a:active {
    color: #ffffff;
}

#fe_metanavigation #fe_license-upgrade {
    padding-left: 18px;
    background: url(../../../../../cadmin/template/ascms/images/metanavigation_upgrade.png) no-repeat;
}

#fe_metanavigation #fe_history_box_anchor {
    float: left;
    position: relative;
    padding-left: 21px;
    background: url(../Media/toolbar-history.png) no-repeat;
    margin: 0 0 0 20px;
    color: #c5dbe8;
    line-height: normal;
}

#fe_metanavigation #fe_history_box_anchor>a {
    color: #c5dbe8;
}

#fe_metanavigation #fe_history_box_anchor>a:hover,
#fe_metanavigation #fe_history_box_anchor:hover>a {
    color: #fff;
}

#fe_metanavigation a.backend {
    padding-left: 21px;
    background: url(../../../../../cadmin/template/ascms/images/frontend_icon.png) no-repeat;
}

#fe_metanavigation a.profile {
    background: url(../../../../../cadmin/template/ascms/images/profile_icon.png) no-repeat;
}

#fe_metanavigation a.logout {
    padding-left: 16px;
    background: url(../../../../../cadmin/template/ascms/images/logout_icon.png) no-repeat;
}

#fe_history_box {
    display: block;
    position: absolute;
    top: 45px;
    left: -232px;
    width: 550px;
    background: #fff;
    padding: 5px;
    color: #000;
    border: 2px #0f9bd8 solid;
}

#fe_history_arrow {
    display: block;
    position: absolute;
    top: 19px;
    left: 8px;
    width: 51px;
    height: 26px;
    background: url("../Media/toolbar-history_arrow.png");
}

#fe_history_box .adminlist th {
    height: 29px;
    line-height: 29px;
}

#fe_history_box .historyLoad {
    float: right;
    padding: 0 15px 0 20px;
    background: url(../Media/Restore.png) no-repeat left center;
}

#fe_history_box .historyPreview {
    float: right;
    padding: 0 0 0 18px;
    background: url(../Media/Preview.png) no-repeat left center;
}


/* Style of info, ok, warning, alert, upgrade and news boxes */
.okbox, #okbox,
.infobox, #infobox,
.alertbox, #alertbox,
.warningbox, #warningbox {
    display: block;
    padding: 8px;
    margin: 0 0 15px 0;
    overflow: auto;
}

*+html .okbox, *+html #okbox,
*+html .infobox, *+html #infobox,
*+html .alertbox, *+html #alertbox,
*+html .warningbox, *+html #warningbox {
    overflow: hidden;
}

.okbox a, #okbox a ,
.infobox a, #infobox a,
.alertbox a, #alertbox a,
.warningbox a, #warningbox a {
    font-weight: bold;
    line-height: 1.3;
}

.okbox, #okbox {
    background: #DFF0D8;
    color: #39950C;
}

.okbox a, #okbox a {
    color: #215507;
}

.infobox {
    background: #D9EDF7;
    color: #3a87ad;
}

.infobox a, #infobox a {
    color: #25556D;
}

.alertbox, #alertbox {
    color: #B94A48;
    background: #F2DEDE;
}

.alertbox a, #alertbox a {
    color: #391716;
}

.warningbox, #warningbox {
    background: #FEF0D0;
    color: #DA7A0A;
}

.warningbox a, #warningbox a {
    color: #DB7A0A;
}

/* jquery ui css customization */
.ui-dialog.cxDialog {
    position: fixed;
    top: 0;
    z-index: 2000000 !important;
    border-top: 0;
    border-right: 1px solid #0a85c8;
    border-bottom: 1px solid #0a85c8;
    border-left: 1px solid #0a85c8;
    border-radius: 0;
    text-align: center;
    font-size: 13px;
}

.ui-dialog.noTitle .ui-dialog-titlebar {
    display: none;
}
.ui-dialog .error {
    color: #ff0000;
}
.ui-dialog .warning {
    color: #DB7A0A;
}
.ui-dialog #loading {
    float: none;
    margin: 0 auto;
    width: 95px !important;
    height: 16px !important;
}
.ui-dialog #loading img {
    float: left;
}
.ui-dialog #loading span {
    float: left;
    margin: 0 0 0 5px;
    line-height: 16px;
}

.ui-tabs {
    position: static !important;
    border: 0 !important;
    border-radius: 0 !important;
    padding: 0 !important;
}
.ui-tabs-nav {
    border: 0 !important;
    margin: 0 !important;
}
.ui-tabs-panel {
    padding: 0 !important;
}

.ui-widget-content a,
.ui-widget-content a:link,
.ui-widget-content a:visited {
    color: #1a74bd;
}

.ui-widget-content a:hover,
.ui-widget-content a:focus,
.ui-widget-content a:active {
    color: #0b4c7a;
    cursor: pointer;
}