#logo {
    background: url("images/logo.gif") no-repeat scroll 0 0 transparent;   
}
#nav-main a.active span.left_curve {
    background: url("images/button_left_curve.gif") no-repeat scroll left top transparent;    
}
#nav-main a.active span.middle_bg{
    background: url("images/button_middle.gif") repeat-x scroll left top transparent;    
}
#nav-main a.active span.right_curve{
    background: url("images/button_right_curve.gif") no-repeat scroll left top transparent;    
}
#nav-main a.inactive:hover span.left_curve {
    background: url("images/button_left_curve_hover.gif") no-repeat scroll left top ;
}
#nav-main a.inactive:hover span.middle_bg{
    background: url("images/button_middle_hover.gif") repeat-x scroll 0 0 #DDDCDD;
}
#nav-main a.inactive:hover span.right_curve {
    background: url("images/button_right_curve_hover.gif") no-repeat scroll right top;
}
#footer {
    background: url("images/footer_bg.jpg") no-repeat scroll center top transparent;
}
#nav-main form input#term{
    padding: 4px 0 4px 3px;
    height: 19px;
}
#navigation_top {
    font-size:0px;
}
#main{
    height: 535px;
}
#header {
    height: 65px;
}
#navigation {
    height: 52px;
}
.bottom_left_curve_bg{
    height: 220px;
}
.bottom_right_curve_bg{
    height: 220px;
}
#frame_home_left {
    height: 480px;
}
#forum div.notification_left, #forum div.notification_right {
    height: 600px;
}
#shop div.category {
    height: 120px;
}
#shop div.discount {
    height: 120px;
}