input[type="submit"], input[type="button"], input[type="reset"] {
    min-width: 110px;
}

input[type="submit"], input[type="button"], input[type="reset"] {
    padding: 7px 10px 7px;
	
}

#main .notification_center input[type="button"], #main .selectorCenter input[type="button"] {
    min-width: 19px !important;
}
.submit_type_left{
	padding: 6px 0 6px 3px;
}
.submit_type_right
{
	padding: 6px 3px 6px 0;
    
}