[CUSTOMER_SALUTATION],<br />
<br />
Herzlichen Dank f&uuml;r Ihre Bestellung im {COMPANY} Online Shop.<br />
<br />
Ihre Auftrags-Nr. lautet: [ORDER_ID]<br />
Ihre Kunden-Nr. lautet: [CUSTOMER_ID]<br />
Bestellungszeit: [ORDER_DATE] [ORDER_TIME]<br />
<br />
<br />
<table cellspacing="1" cellpadding="1" style="border: 0;">
  <tbody>
    <tr>
      <td colspan="6">Bestellinformationen</td>
    </tr>
    <tr>
      <td><div style="text-align: right;">ID</div></td>
      <td><div style="text-align: right;">Artikel Nr.</div></td>
      <td><div style="text-align: right;">Menge</div></td>
      <td>Beschreibung</td>
      <td><div style="text-align: right;">St&uuml;ckpreis</div></td>
      <td><div style="text-align: right;">Total</div></td>
    </tr>[[ORDER_ITEM]
    <tr>
      <td><div style="text-align: right;">[PRODUCT_ID]</div></td>
      <td><div style="text-align: right;">[PRODUCT_CODE]</div></td>
      <td><div style="text-align: right;">[PRODUCT_QUANTITY]</div></td>
      <td>[PRODUCT_TITLE][[PRODUCT_OPTIONS]<br />
        [PRODUCT_OPTIONS][PRODUCT_OPTIONS]]</td>
      <td><div style="text-align: right;">[PRODUCT_ITEM_PRICE] [CURRENCY]</div></td>
      <td><div style="text-align: right;">[PRODUCT_TOTAL_PRICE] [CURRENCY]</div></td>
    </tr>[[USER_DATA]
    <tr>
      <td colspan="3">&nbsp;</td>
      <td>Benutzername: [USER_NAME]<br />Passwort: [USER_PASS]</td>
      <td colspan="2">&nbsp;</td>
    </tr>[USER_DATA]][[COUPON_DATA]
    <tr>
      <td colspan="3">&nbsp;</td>
      <td>Gutschein Code: [COUPON_CODE]</td>
      <td colspan="2">&nbsp;</td>
    </tr>[COUPON_DATA]][ORDER_ITEM]]
    <tr style="border-top: 4px none;">
      <td colspan="2">Zwischensumme</td>
      <td><div style="text-align: right;">[ORDER_ITEM_COUNT]</div></td>
      <td colspan="2">Artikel</td>
      <td><div style="text-align: right;">[ORDER_ITEM_SUM] [CURRENCY]</div></td>
    </tr>[[DISCOUNT_COUPON]
    <tr style="border-top: 4px none;">
      <td colspan="3">Gutscheincode</td>
      <td colspan="2">[DISCOUNT_COUPON_CODE]</td>
      <td><div style="text-align: right;">[DISCOUNT_COUPON_AMOUNT] [CURRENCY]</div></td>
    </tr>[DISCOUNT_COUPON]]
    <tr style="border-top: 2px none;">
      <td colspan="3">Versandart</td>
      <td colspan="2">[SHIPMENT_NAME]</td>
      <td><div style="text-align: right;">[SHIPMENT_PRICE] [CURRENCY]</div></td>
    </tr>
    <tr style="border-top: 2px none;">
      <td colspan="3">Bezahlung</td>
      <td colspan="2">[PAYMENT_NAME]</td>
      <td><div style="text-align: right;">[PAYMENT_PRICE] [CURRENCY]</div></td>
    </tr>
    <tr style="border-top: 2px none;">
      <td colspan="5">[TAX_TEXT]</td>
      <td><div style="text-align: right;">[TAX_PRICE] [CURRENCY]</div></td>
    </tr>
    <tr style="border-top: 4px none;">
      <td colspan="5">Gesamtsumme</td>
      <td><div style="text-align: right;">[ORDER_SUM] [CURRENCY]</div></td>
    </tr>
  </tbody>
</table>
<br />
<br />
Ihre Kundenadresse:<br />
[CUSTOMER_COMPANY]<br />
[CUSTOMER_PREFIX] [CUSTOMER_FIRSTNAME] [CUSTOMER_LASTNAME]<br />
[CUSTOMER_ADDRESS]<br />
[CUSTOMER_ZIP] [CUSTOMER_CITY]<br />
[CUSTOMER_COUNTRY]<br />[[SHIPPING_ADDRESS]
<br />
<br />
Lieferadresse:<br />
[SHIPPING_COMPANY]<br />
[SHIPPING_PREFIX] [SHIPPING_FIRSTNAME] [SHIPPING_LASTNAME]<br />
[SHIPPING_ADDRESS]<br />
[SHIPPING_ZIP] [SHIPPING_CITY]<br />
[SHIPPING_COUNTRY]<br />[SHIPPING_ADDRESS]]
<br />
<br />
Ihr Link zum Online Store: {HOMEPAGE}<br />[[CUSTOMER_LOGIN]
<br />
Ihre Zugangsdaten zum Shop:<br />
Benutzername:   [CUSTOMER_USERNAME]<br />
Passwort:       [CUSTOMER_PASSWORD]<br />[CUSTOMER_LOGIN]]
<br />
Wir freuen uns auf Ihren n&auml;chsten Besuch im {COMPANY} Online Store und w&uuml;nschen Ihnen noch einen sch&ouml;nen Tag.<br />
<br />
P.S. Diese Auftragsbest&auml;tigung wurde gesendet an: [CUSTOMER_EMAIL]<br />
<br />
Mit freundlichen Gr&uuml;ssen<br />
Ihr {COMPANY} Online Shop Team<br />
<br />
{HOMEPAGE}<br />
<br />
