<div id="shop">
<!-- BEGIN core_message -->
  <span class="{MESSAGE_CLASS}">{MESSAGE_TEXT}</span>
<!-- END core_message -->
<!-- BEGIN shopConfirm -->
  <div class="order">
    <form action="index.php?section=shop&amp;cmd=confirm" name="shopForm" method="post">
      <h2>{TXT_ORDER_INFOS}</h2>
      <table summary="">
        <tr>
          <th width="01%" nowrap="nowrap">{TXT_ID}</th>
          <th width="94%" align="left">{TXT_PRODUCT}</th>
          <th width="01%" nowrap="nowrap" class="a_right">{TXT_UNIT_PRICE}</th>
          <th width="01%" nowrap="nowrap" class="a_right">{TXT_QUANTITY}</th>
          <th width="01%" nowrap="nowrap" class="a_right">{TXT_WEIGHT}</th>
          <th width="01%" nowrap="nowrap" colspan="2">{TXT_TAX_PREFIX}</th>
          <th width="01%" nowrap="nowrap" class="a_right">{TXT_TOTAL}</th>
        </tr><!-- BEGIN shopCartRow -->
        <tr class="row2">
          <td nowrap="nowrap">{SHOP_PRODUCT_ID}</td>
          <td>{SHOP_PRODUCT_TITLE}<!-- BEGIN attributes -->
            <br />{SHOP_PRODUCT_OPTIONS}<!-- END attributes -->
          </td>
          <td nowrap="nowrap" class="a_right">{SHOP_PRODUCT_ITEMPRICE} {SHOP_UNIT}</td>
          <td nowrap="nowrap" class="a_right">{SHOP_PRODUCT_QUANTITY}</td>
          <td nowrap="nowrap" class="a_right">{SHOP_PRODUCT_WEIGHT}</td>
          <td nowrap="nowrap" class="a_right">{SHOP_PRODUCT_TAX_RATE}</td>
          <td nowrap="nowrap" class="a_right">{SHOP_PRODUCT_TAX_AMOUNT}</td>
          <td nowrap="nowrap" class="a_right">{SHOP_PRODUCT_PRICE} {SHOP_UNIT}</td>
        </tr><!-- END shopCartRow --><!-- BEGIN shopCouponTotal -->
        <tr class="row3">
          <td colspan="2">
            <strong>{SHOP_DISCOUNT_COUPON_TOTAL}</strong>
          </td>
          <td colspan="5">&nbsp;</td>
          <td class="a_right">
            <strong>{SHOP_DISCOUNT_COUPON_TOTAL_AMOUNT}&nbsp;{SHOP_UNIT}</strong>
          </td>
        </tr><!-- END shopCouponTotal -->
        <tr class="row3">
          <td colspan="3" valign="top"><strong>{TXT_INTER_TOTAL}</strong> {SHOP_TAX_PRODUCTS_TXT}</td>
          <td colspan="4" valign="top" nowrap="nowrap">{SHOP_TOTALITEM} {TXT_PRODUCT_S}</td>
          <td valign="top" nowrap="nowrap" class="a_right"><strong>{SHOP_TOTALPRICE} {SHOP_UNIT}</strong></td>
        </tr><!-- BEGIN shiprow -->
        <tr class="row2" valign="top">
          <td colspan="2"><strong>{TXT_SHIPPING_METHOD}</strong></td>
          <td colspan="5">{SHOP_SHIPMENT}</td>
          <td nowrap="nowrap" class="a_right">{SHOP_SHIPMENT_PRICE} {SHOP_UNIT}</td>
        </tr><!-- END shiprow -->
        <tr class="row2" valign="top">
          <td colspan="2"><strong>{TXT_PAYMENT_TYPE}</strong></td>
          <td colspan="5">{SHOP_PAYMENT}</td>
          <td nowrap="nowrap" class="a_right">{SHOP_PAYMENT_PRICE} {SHOP_UNIT}</td>
        </tr><!-- BEGIN taxrow -->
        <tr class="row2" valign="top">
          <td colspan="7"><strong>{TXT_TAX_PREFIX}</strong></td>
          <td nowrap="nowrap" class="a_right">{TXT_TAX_PART} {SHOP_TAX_PRICE} {SHOP_UNIT}</td>
        </tr><!-- END taxrow -->
        <tr class="row3">
          <td colspan="7" valign="top" nowrap="nowrap"><strong>{TXT_TOTAL_PRICE}</strong> {SHOP_TAX_GRAND_TXT}</td>
          <td nowrap="nowrap" class="a_right"><strong>{SHOP_GRAND_TOTAL} {SHOP_UNIT}</strong></td>
        </tr>
      </table>
      <br />
      <table summary="">
        <tr>
          <th width="50%" align="left">{TXT_ADDRESS_CUSTOMER}</th>
          <th width="50%" align="left">{TXT_SHIPPING_ADDRESS}</th>
        </tr>
        <tr>
          <td nowrap="nowrap" valign="top">
            {SHOP_COMPANY}<br />
            {SHOP_PREFIX} {SHOP_FIRSTNAME} {SHOP_LASTNAME}<br />
            {SHOP_ADDRESS}<br />
            {SHOP_ZIP} {SHOP_CITY}<br />
            {SHOP_COUNTRY}<br />
            {SHOP_PHONE}<br />
            {SHOP_FAX}<br />
            {SHOP_EMAIL}
          </td>
          <td nowrap="nowrap" valign="top"><!-- BEGIN shopShipmentAddress -->
            {SHOP_COMPANY2}<br />
            {SHOP_PREFIX2} {SHOP_FIRSTNAME2} {SHOP_LASTNAME2}<br />
            {SHOP_ADDRESS2}<br />
            {SHOP_ZIP2} {SHOP_CITY2}<br />
            {SHOP_COUNTRY2}<br />
            {SHOP_PHONE}<br />
            {SHOP_FAX2}<br />
            {SHOP_EMAIL2}<!-- END shopShipmentAddress -->
          </td>
        </tr>
      </table>
      <br /><!-- BEGIN shopComment -->
      <table summary="">
        <tr class="row3">
          <td><strong>{TXT_COMMENTS}</strong></td>
        </tr>
        <tr class="row2">
          <td>{SHOP_CUSTOMERNOTE}</td>
        </tr>
      </table><br />
      <br /><!-- END shopComment -->
      <div class="a_right"><input type="submit" value="{TXT_ORDER_NOW}" name="process" /></div>
    </form>
  </div><!-- END shopConfirm --><!-- BEGIN shopProcess -->
  <div class="message">
    {TXT_ORDER_PREPARED}<br/>
    {SHOP_PAYMENT_PROCESSING}
  </div><!-- END shopProcess -->
</div>
