<div id="shop">
<!-- BEGIN core_message -->
  <span class="{MESSAGE_CLASS}">{MESSAGE_TEXT}</span>
<!-- END core_message -->
<!-- BEGIN shopProductRow -->
  <div class="discount row">
    <div class="image">
      <a href="{SHOP_PRODUCT_DETAIL_URL}">
        <img border="0" alt="{SHOP_PRODUCT_TITLE}" src="{SHOP_PRODUCT_THUMBNAIL_1}" {SHOP_PRODUCT_THUMBNAIL_SIZE_1} />
      </a>
    </div>
    <h2>{SHOP_PRODUCT_TITLE}</h2>
    <div class="price">
      {TXT_INSTEAD_OF} {SHOP_PRODUCT_PRICE} {SHOP_PRODUCT_PRICE_UNIT}
    </div>
    <div class="price_discount">
      {TXT_PRICE_NOW}
      {SHOP_PRODUCT_DISCOUNTPRICE}  {SHOP_PRODUCT_DISCOUNTPRICE_UNIT}
    </div>
  </div>
<!-- END shopProductRow -->
</div>
