<div id="shop">
<!-- BEGIN core_message -->
  <span class="{MESSAGE_CLASS}">{MESSAGE_TEXT}</span>
<!-- END core_message -->
  <!-- BEGIN shopCart -->
  <div class="cart">
    <form action="index.php?section=shop&amp;cmd=cart" name="shopForm" method ="post">
      <table summary="" cellspacing="0">
        <tr valign="top">
          <th width="60%">
            <b>{TXT_PRODUCT}</b>
          </th>
          <th width="10%" class="a_right">
            <b>{TXT_UNIT_PRICE}</b>
          </th>
          <th width="10%" class="a_right">
            <b>{TXT_QUANTITY}</b>
          </th>
          <th width="20%" class="a_right">
            <b>{TXT_TOTAL}</b>
          </th>
        </tr>
<!-- BEGIN shopCartRow -->
        <tr valign="top" class="{SHOP_PRODUCT_ROW}">
          <td>
            <a href="index.php?section=shop&amp;cmd=details&amp;referer=cart&amp;productId={SHOP_PRODUCT_CART_ID}">
              {SHOP_PRODUCT_TITLE}
            </a>
            {SHOP_PRODUCT_OPTIONS}
          </td>
          <td class="a_right">
            {SHOP_PRODUCT_ITEMPRICE}&nbsp;{SHOP_PRODUCT_ITEMPRICE_UNIT}
          </td>
          <td nowrap="nowrap" class="a_right">
            <a href="#" title="{TXT_SHOP_REMOVE_ITEM}"
                onclick="deleteProduct({SHOP_PRODUCT_CART_ID});">
              <img style="height: 18px;" alt="{TXT_SHOP_REMOVE_ITEM}"
                  src="images/modules/shop/trash.png" />
            </a>
            <input type="text" name="quantity[{SHOP_PRODUCT_CART_ID}]"
                value="{SHOP_PRODUCT_QUANTITY}" class="shop_quantity" />
          </td>
          <td class="a_right">
            <b>{SHOP_PRODUCT_PRICE}&nbsp;{SHOP_PRODUCT_PRICE_UNIT}</b>
          </td>
        </tr>
<!-- END shopCartRow -->
<!-- BEGIN shopVat -->
        <tr class="row3">
          <td colspan="3" valign="top">
            <b>{TXT_TAX_PREFIX}</b>
          </td>
          <td valign="top" nowrap="nowrap" class="a_right">
            <strong>{SHOP_TOTAL_TAX_AMOUNT}</strong>
          </td>
        </tr>
<!-- END shopVat -->
<!-- BEGIN shopCouponTotal -->
        <tr valign="top" class="row3">
          <td colspan="3"><b>{SHOP_DISCOUNT_COUPON_TOTAL}</b></td>
          <td class="a_right">
            <strong>{SHOP_DISCOUNT_COUPON_TOTAL_AMOUNT}&nbsp;{SHOP_PRICE_UNIT}</strong>
          </td>
        </tr>
<!-- END shopCouponTotal -->
        <tr class="row3">
          <td colspan="3" valign="top">
            <b>{TXT_INTER_TOTAL}</b>
          </td>
          <td valign="top" nowrap="nowrap" class="a_right">
            <strong>{SHOP_PRODUCT_TOTALPRICE} {SHOP_PRODUCT_TOTALPRICE_UNIT}</strong>
          </td>
        </tr>
<!-- BEGIN shopCoupon -->
        <tr>
          <td colspan="4">&nbsp;</td>
        </tr>
        <tr class="row2">
          <td>
            <strong>{TXT_SHOP_DISCOUNT_COUPON_CODE}</strong>
          </td>
          <td colspan="3">
            <input type="text" maxlength="20" name="coupon_code"
                value="{SHOP_DISCOUNT_COUPON_CODE}" class="shop_cart_input"
                onchange="document.forms['shopForm'].submit();" />
          </td>
        </tr>
<!-- END shopCoupon -->
<!-- BEGIN shopShippingCountry -->
        <tr class="row3">
          <td valign="top">
            <label>{TXT_SHIP_COUNTRY}</label>
          </td>
          <td colspan="3" valign="top">
            <select name="countryId2" class="shop_cart_input"
                onchange="document.forms['shopForm'].submit()">
              {SHOP_COUNTRIES_MENUOPTIONS}
            </select>
          </td>
        </tr>
<!-- END shopShippingCountry -->
        <tr>
          <td colspan="4">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="4" valign="top" class="a_right">
            <input type="submit" name="update" class="shopbutton" value="{TXT_UPDATE}" />&nbsp;
            <input type="submit" name="continue" class="shopbutton" value="{TXT_NEXT} >>" />
          </td>
        </tr>
      </table>
    </form>
  </div>
<!-- END shopCart -->
  <div class="cart_links">
    <a href="index.php?section=shop" title="{TXT_CONTINUE_SHOPPING}">{TXT_CONTINUE_SHOPPING}</a>
    <br />
    <a href="index.php?section=shop&amp;act=destroy" title="{TXT_EMPTY_CART}">{TXT_EMPTY_CART}</a>
    <br />
  </div>
</div>
