<!-- START module_shop_exchange.html -->
<script language="javascript" type="text/JavaScript">
<!--
function checkObject(objForm, objElement)
{
  getElementsId(objForm, objElement);
  switch (document.forms[objForm].elements[objElementId].type) {
    case "select-multiple":
      if (document.forms[objForm].elements[objElementId].selectedIndex == -1) {
        alert("{TXT_SELECT_CATEGORIES_TO_EXPORT}!");
      } else {
        return true;
      }
      break;
    case "checkbox":
      for (var i = 0; i < document.forms[objForm].elements.length; ++i) {
        if (   document.forms[objForm].elements[i].type == "checkbox"
            && document.forms[objForm].elements[i].name == objElement
            && document.forms[objForm].elements[i].checked == true) {
          return true;
        }
      }
      alert("{TXT_YOU_HAVE_TO_SELECT_AT_LEAST_ONE_COLUMN}");
      break;
    case "radio":
      for (var i = 0; i < document.forms[objForm].elements.length; ++i) {
        if (   document.forms[objForm].elements[i].type == "radio"
            && document.forms[objForm].elements[i].name == objElement
            && document.forms[objForm].elements[i].checked == true) {
          return true;
        }
      }
      alert("{TXT_YOU_HAVE_TO_SELECT_A_TABLE}");
      break;
  }
  return false;
}

function getElementsId(objForm, objElement)
{
  for (var i = 0; i < document.forms[objForm].elements.length; ++i) {
    if (document.forms[objForm].elements[i].name == objElement) {
      objElementId = i;
    }
  }
}

function selectall(objForm, objElement, step)
{
  getElementsId(objForm, objElement);
  if (step) {
    switch (document.forms[objForm].elements[objElementId].type) {
      case "select-multiple":
        for (var i = 0; i < document.forms[objForm].elements[objElementId].length; ++i) {
          document.forms[objForm].elements[objElementId].options[i].selected = true;
        }
        break;
      case "checkbox":
        for (var i = 0; i < document.forms[objForm].elements.length; ++i) {
          if (   document.forms[objForm].elements[i].type == "checkbox"
              && document.forms[objForm].elements[i].name == objElement) {
            document.forms[objForm].elements[i].checked = true;
          }
        }
        break;
    }
  } else {
    switch (document.forms[objForm].elements[objElementId].type) {
      case "select-multiple":
        for (var i = 0; i < document.forms[objForm].elements[objElementId].length; ++i) {
          document.forms[objForm].elements[objElementId].options[i].selected = false;
        }
        break;
      case "checkbox":
        for (var i = 0; i < document.forms[objForm].elements.length; ++i) {
          if (   document.forms[objForm].elements[i].type == "checkbox"
              && document.forms[objForm].elements[i].name == objElement) {
            document.forms[objForm].elements[i].checked = false;
          }
        }
        break;
    }
  }
}
//-->
</script>
<ul id="tabmenu">
<li><a class="active" href="javascript:{}" onClick="expandcontent('shopExport')" title="{TXT_EXPORT}">{TXT_EXPORT}</a></li>
<li><a href="javascript:{}" onClick="expandcontent('shopImport')" title="{TXT_IMPORT}">{TXT_IMPORT}</a></li>
</ul>
<span class="status_message">{CONTENT_STATUS}</span>
<!-- BEGIN export_selectTable -->
<!-- start Export div -->
<div id="shopExport" class="switchcontent" style="{EXPORT_STYLE}">
<form name="shopFormExport" method="post" enctype="multipart/form-data" action="index.php?cmd=shop{MODULE_INDEX}&amp;act=exchange" onsubmit="return checkObject('shopFormExport','table')">
<input type="hidden" name="handler" value="export_selectCategories" />
<table border="0" cellspacing="0" cellpadding="2" width=100% class="adminlist">
    <tr>
      <th><b>{TXT_EXPORT}</b></th>
    </tr>
  <tr>
    <td><b>{TXT_TABLE_SELECTION}</b></td>
  </tr>
  <!-- BEGIN tablesExport -->
  <tr class="row1">
    <td><input type="radio" name="table" value="{TABLE_NAME}" />&nbsp;{TXT_TABLE_NAME}&nbsp;({TABLE_NAME})</td>
  </tr>
  <!-- END tablesExport -->
</table>
<br />
<input type="submit" name="Submit" value="{TXT_NEXT}" />
</form>
</div>
<!-- end Export div -->
<!-- END export_selectTable -->

<!-- BEGIN export_selectCategories -->
<!-- start Export div -->
<div id="shopExport" class="switchcontent" style="{EXPORT_STYLE}">
<form name="shopFormExport" method="post" enctype="multipart/form-data" action="index.php?cmd=shop{MODULE_INDEX}&amp;act=exchange" onsubmit="return checkObject('shopFormExport','categories[]')">
<input type="hidden" name="handler" value="export_selectCols" />
<table border="0" cellspacing="0" cellpadding="2" width=100% class="adminlist">
    <tr>
      <th colspan="2"><b>{TXT_EXPORT}</b></th>
    </tr>
    <tr class="row1">
      <td width="15%" valign="top">{TXT_SELECT_CATEGORIES_TO_EXPORT}:<br /><br />{TXT_ALL} <a href="javascript:{}" onclick="selectall('shopFormExport','categories[]',1)" title="{TXT_SELECT_ALL}">{TXT_SELECT}</a>/<a href="javascript:{}" onclick="javascript:selectall('shopFormExport','categories[]',0)" title="{TXT_REMOVE_ALL}">{TXT_REMOVE}</a></td>
      <td  nowrap="nowrap" valign="top"><select name="categories[]" size="5"  multiple="multiple"><!-- BEGIN categorieList_selectCategories --><option value="{CATEGORIE_ID}">{CATEGORIE_NAME}</option><!-- END categorieList_selectCategories --></select></td>
    </tr>
</table>
<br />
<input type="submit" name="Submit" value="{TXT_NEXT}" />
</form>
</div>
<!-- end Export div -->
<!-- END export_selectCategories -->

<!-- BEGIN export_selectCols -->
<!-- start Export div -->
<div id="shopExport" class="switchcontent" style="{EXPORT_STYLE}">
<form name="shopFormExport" method="post" enctype="multipart/form-data" action="index.php?cmd=shop{MODULE_INDEX}&amp;act=exchange" onsubmit="return checkObject('shopFormExport','cols[]')">
<input type="hidden" name="handler" value="export_download" />
<table border="0" cellspacing="0" cellpadding="2" width=100% class="adminlist">
  <tr>
    <th><b>{TXT_EXPORT}</b></th>
  </tr>
  <tr>
    <td><b>{TXT_COL_SELECTION}</b></td>
  </tr>
  <!-- BEGIN Cols -->
    <tr class="row1">
      <td nowrap="nowrap" valign="top"><input type="checkbox" name="cols[]" value="{COL}" checked="checked" />&nbsp;{COL}</td>
    </tr>
  <!-- END Cols -->
  <tr class="row1">
    <td nowrap="nowrap" valign="top">{TXT_ALL}&nbsp;<a href="javascript:{}" onclick="javascript:selectall('shopFormExport','cols[]',1)" title="{TXT_SELECT_ALL}">{TXT_SELECT}</a>/<a href="javascript:{}" onclick="javascript:selectall('shopFormExport','cols[]',0)" title="{TXT_REMOVE_ALL}">{TXT_REMOVE}</a></td>
  </tr>
  <tr>
    <td><b>{TXT_EXPORT_INFORMATIONS}</b></td>
  </tr>
  <tr class="row1">
    <td nowrap="nowrap" valign="top">{TXT_FORMAT}:&nbsp;<select name="type" size="1"><option value="csv">Character Separated Values (*.csv)</option><option value="xml">Extensible Markup Language (*.xml)</option></select>&nbsp;{TXT_FILENAME}&nbsp;<input type="text" name="filename" value="{FILENAME}" size="15" maxlength="255"/>.*</td>
  </tr>
</table>
<br />
<input type="submit" name="submit" value="{TXT_NEXT}" />
</form>
</div>
<!-- end Export div -->
<!-- END export_selectCols -->

<!-- BEGIN export_download -->
<!-- start Export div -->
<div id="shopExport" class="switchcontent" style="{EXPORT_STYLE}">
<form name="shopFormExport" method="post" enctype="multipart/form-data" action="index.php?cmd=shop{MODULE_INDEX}&amp;act=exchange">
<input type="hidden" name="handler" value="export_selectTable" />
<table border="0" cellspacing="0" cellpadding="2" width=100% class="adminlist">
    <tr>
      <th><b>{TXT_EXPORT}: {TXT_DOWNLOAD}</b></th>
    </tr>
    <tr class="row1">
      <td width="100%" valign="top"><a href="{LINK}" target="_blank" title="{LINK_NAME}">{LINK_NAME}</a></td>
    </tr>
  </table>
  <br />
  <input type="submit" name="submit" value="{TXT_NEXT}" />
  </form>
</div>
<!-- end Export div -->
<!-- END export_download -->

<!-- BEGIN import_selectTable -->
<!-- start Import div -->
<div id="shopImport" class="switchcontent" style="{IMPORT_STYLE}">
<form name="shopFormImport" method="post" enctype="multipart/form-data" action="index.php?cmd=shop{MODULE_INDEX}&amp;act=exchange" onsubmit="return checkObject('shopFormImport','table')">
<input type="hidden" name="handler" value="import_selectFiletype" />
<table border="0" cellspacing="0" cellpadding="2" width=100% class="adminlist">
    <tr>
      <th><b>{TXT_IMPORT}</b></th>
    </tr>
    <!-- BEGIN tablesImport -->
    <tr class="row1">
      <td><input type="radio" name="table" value="{TABLE_NAME}" />&nbsp;{TXT_TABLE_NAME}&nbsp;({TABLE_NAME})</td>
    </tr>
    <!-- END tablesImport -->
    <tr class="row1">
      <td nowrap="nowrap">Datei: <input type="file" name="file" /></td>
    </tr>
  </table>
  <br />
  <input type="submit" name="submit" value="{TXT_NEXT}" />
  </form>
</div>
<!-- end Import div -->
<!-- END import_selectTable -->

<!-- BEGIN import_selectFiletype -->
<!-- start Import div -->
<div id="shopImport" class="switchcontent" style="{IMPORT_STYLE}">
<form name="shopFormImport" method="post" enctype="multipart/form-data" action="index.php?cmd=shop{MODULE_INDEX}&amp;act=exchange">
<input type="hidden" name="handler" value="import_importOptions" />
<table border="0" cellspacing="0" cellpadding="2" width=100% class="adminlist">
    <tr>
      <th><b>{TXT_IMPORT}</b></th>
    </tr>
    <tr class="row1">
      <td nowrap="nowrap">Datei zum Importieren: {FILENAME}</td>
    </tr>
    <tr>
      <td><b>Optionen</b></td>
    </tr>
    <tr class="row1">
      <td nowrap="nowrap">Dateityp:&nbsp;<select name="filetype" size="1"><!-- BEGIN importTypes --><option value="{TYPE}" {SELECTED}>{DESCRIPTION}</option><!-- END importTypes --></select></td>
    </tr>
    <!-- BEGIN csvOptions -->
    <tr class="row1">
      <td nowrap="nowrap">Trennzeichen: <input type="text" name="separator" value=";" size="1" /></td>
    </tr>
    <!-- END csvOptions -->
  </table>
  <br />
  <input type="submit" name="submit" value="{TXT_NEXT}" />
  </form>
</div>
<!-- end Import div -->
<!-- END import_selectFiletype -->

<!-- BEGIN import_importOptions -->
<!-- start Import div -->
<div id="shopImport" class="switchcontent" style="{IMPORT_STYLE}">
<form name="shopFormImport" method="post" enctype="multipart/form-data" action="index.php?cmd=shop{MODULE_INDEX}&amp;act=exchange">
<input type="hidden" name="handler" value="import_importRecords" />
<table border="0" cellspacing="0" cellpadding="2" width=100% class="adminlist">
    <tr>
      <th colspan="2"><b>{TXT_IMPORT}</b></th>
    </tr>
    <tr>
      <td colspan="2"><b>Spaltenzuweisung</b></td>
    </tr>
    <tr>
      <td width="15%">{FILENAME}</td>
      <td width="85%">Datenbank</td>
    </tr>
    <!-- BEGIN colAssignment -->
    <tr class="row1">
      <td width="15%">{COL_IMPORT}</td>
      <td width="85%"><select name="{COL_IMPORT}" size="1"><!-- BEGIN colList --><option value="{COL_DB}" {SELECTED}>{COL_DB_TEXT}</option><!-- END colList --></select></td>
    </tr>
    <!-- END colAssignment -->
    <tr>
      <td colspan="2"><b>Optionen</b></td>
    </tr>
    <tr class="row1">
      <td colspan="2">Datensatz ID...</td>
    </tr>
        <tr class="row1">
      <td colspan="2"><input type="radio" name="optionId" value="dontImport" checked="checked" />&nbsp;...nicht importieren</td>
    </tr>
    <tr class="row1">
      <td colspan="2"><input type="radio" name="optionId" value="importNew" />&nbsp;...importieren, falls Sie nocht nicht existiert</td>
    </tr>
  <tr class="row1">
      <td colspan="2">Vorhandene Datensätze in der Datenbank...</td>
    </tr>
    <tr class="row1">
      <td colspan="2"><input type="radio" name="optionImport" value="del" checked="checked" />&nbsp;...löschen</td>
    </tr>
    <tr class="row1">
      <td colspan="2"><input type="radio" name="optionImport" value="add" />&nbsp;...stehen lassen und die neuen Datensätze hinzufügen</td>
    </tr>
  </table>
  <br />
  <input type="submit" name="submit" value="{TXT_IMPORT}" />
  </form>
</div>
<!-- end Import div -->
<!-- END import_importOptions -->
<br />
<!-- END module_shop_exchange.html -->
