/* FORUM */
#forum .div_title {
	font-weight: bold;
	padding: 3px 6px 3px 6px;
	background-color: #EDEDED;
	border: 1px solid #7390AF;
}

#forum div .div_board {
	margin: 0px 0px 0px 0px;
}

#forum span.last_edited{
         font-size: 10px;
}

#forum table {
	width: 100%;
	border-right: 1px solid #7390AF;
	border-left: 1px solid #7390AF;
}

#forum table.bottomborder{
      border-bottom: 1px solid #7390AF;
}

#forum table tr{
     text-align: left;
}


#forum table th {
	font-weight: bold;
        text-align: left;
	padding: 3px 6px 3px 6px;
	background-color: #F5F5F5;
}

#forum table td {
        text-align: left;
	padding: 3px 6px 3px 6px;
}

#forum table .row_subtitle td {
	font-weight: bold;
	border-bottom: 1px solid #7390AF;
}

#forum .row_1 {
	background-color: #ffffff;
}

#forum .row_2 {
	background-color: #f2f2f2;
}

#forum div.div_board hr{
  height: 1px;
  background-color: #7390AF;
  border: 0px solid #7390AF;
}


#forum .div_board pre.forum_code{
  padding: 3px;
  background-color: #fcfce6;
  border: 1px solid #7390AF;
}

#forum .div_board div.quote{
   padding: 3px;
   background-color: #fcfcff;
   border: 1px solid #7390AF;
}

#forum .div_board div.code{
   padding: 3px;
   background-color: #eeeeee;
   border: 1px solid #7390AF;
   font-family: monospace;
   white-space:pre;
}

#forum .div_board span.quote_from{
   font-weight: normal;
}

#forum .div_board .forum_embedded{
  border: 1px solid #333;
}


/* GALLERY */
#gallery img {
	border:4px solid #EFEFEF;
	margin-bottom:4px;
}
#gallery a:hover img {
	border:4px solid #D0D0D0;
	margin-bottom:4px;
}

/* DOCSYS */
#docsys {
	border-top: 1px solid #D0D0D0;
	border-left: 1px solid #D0D0D0;
}

#docsys td {
	border-right: 1px solid #D0D0D0;
	border-bottom: 1px solid #D0D0D0;
}

#docsys th {
	border-right: 1px solid #D0D0D0;
	border-bottom: 1px solid #D0D0D0;
	font-weight: bold;
	background-color: #EFEFEF;
}

/* MEDIA */
#media {
	border-top: 1px solid #D0D0D0;
	border-left: 1px solid #D0D0D0;
}
#media td {
	border-right: 1px solid #D0D0D0;
	border-bottom: 1px solid #D0D0D0;
}
#media th {
	border-right: 1px solid #D0D0D0;
	border-bottom: 1px solid #D0D0D0;
	font-weight: bold;
	background-color: #EFEFEF;
}

/* NEWS */
#news {
	border-top: 1px solid #D0D0D0;
	border-left: 1px solid #D0D0D0;
}
#news td {
	border-right: 1px solid #D0D0D0;
	border-bottom: 1px solid #D0D0D0;
}
#news th {
	border-right: 1px solid #D0D0D0;
	border-bottom: 1px solid #D0D0D0;
	font-weight: bold;
	background-color: #EFEFEF;
}

/* PODCAST */
#podcast {
	border-top: 1px solid #D0D0D0;
	border-left: 1px solid #D0D0D0;
}

#podcast td {
	border-right: 1px solid #D0D0D0;
	border-bottom: 1px solid #D0D0D0;
}

#podcast th {
	border-right: 1px solid #D0D0D0;
	border-bottom: 1px solid #D0D0D0;
	font-weight: bold;
	background-color: #EFEFEF;
}

/* SITEMAP */
#sitemap_level_1 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D0D0D0;
	font-weight: bold;
}

#sitemap_level_2,
#sitemap_level_3,
#sitemap_level_4,
#sitemap_level_5 {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #D0D0D0;
	font-weight: normal;
}

#cat
{
 border-top: 1px solid #B5B5B5;
 border-bottom: 1px solid #B5B5B5;
 border-right: 1px solid #B5B5B5;
 border-left: 1px solid #B5B5B5;
 background-color: #ECECEC;
}


.feed td.title
{
 color: #B8B8B8;
}

table.feed 
{
 horizontal-align: left;
 border-top: 1px solid #ffffff;
 border-left: 1px solid #ffffff;
}

table.feed th
{
 horizontal-align: left;
 text-align: left;
 background-color: #6686CD;
 text-decoration: none;
 border-bottom: 1px solid #7D9ADA;
 border-right: 1px solid #7D9ADA;
 padding: 2px 2px 2px 2px;
 color: #ffffff;
}


table.feed td
{
 horizontal-align: left;
 background-color: #E6E6E6;
 border-bottom: 0px solid #B5B5B5;
 border-right: 0px solid #B5B5B5;
 padding: 2px 2px 2px 2px;
 marrign: 20px;
}

table.feed td.spacer
{
 background-color: #ffffff;
}

table.feed a
{
 color: #ffffff;
}

table.feed td.footer
{
 horizontal-align: left;
 background-color: #E6E6E6;
 border-bottom: 0px solid #B5B5B5;
 border-right: 0px solid #B5B5B5;
 color: #999999;
 font-style: italic;
}

table.feed td.footer a
{
 color: black;
 font-style: italic;
}

#rss_extern
{
 padding: 0px 20px 10px 20px;
 marrign: 0px 0px 0px 0px;
}

.calendar_eventlist
{
	border-collapse: collapse;
	border-bottom: black 1px solid;
	border-top: black 1px solid;
}

.calendar_eventlist td, .calendar_eventlist th {
	border-bottom: black 1px dotted;
	padding: 5px;
      font-size: 11px;
}

#directory {
	border-top: 0px solid #74CC00;
	border-bottom: 0px solid #74CC00;
	border-right: 0px solid #74CC00;
	border-left: 0px solid #74CC00;
	background-color: #ffffff;
}

#directory span.title {
	font-weight: bold;
        font-size:11px;
        color: #000000;
}

#directory span.title a{
	font-weight: bold;
        color: #000000;
}

#directory span.title a:hover{
	font-weight: bold;
        color: #FC443C;
}

#directory a.catLink {
	font-weight: bold;
        font-size:12px;
}

#directory a.catLink:hover {
}

#directory a.subcatLink {
	font-weight: normal;
        font-size:11px;
}

#directory a.subcatLink:hover {
}

#directory td.description{
	border-top: 1px solid #E5E5E5;
	border-bottom: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-left: 1px solid #E5E5E5;
	background-color: #F2F2F2;
        padding: 4px;
        color: #000000;
}

#memberdir tr.memberdir_row1 {
	background-color: #EDEFF3;
}

#memberdir tr.memberdir_row2 {
	background-color: white;
}

#memberdir tr.memberdir_row1 td, tr.memberdir_row2 td {
	/*padding: 10px;*/
}

#memberdir tr.memberdir_row2:hover, #memberdir tr.memberdir_row1:hover {
	background-color: #E6E6E6;
}

#memberdir tr.memberdir_row2 a, tr.memberdir_row1 a {
	display: block;
	color: black;
	padding: 10px;
      font-weight: normal;
}

#memberdir div.directory {
      height: 1em; 
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      padding-left: 5px;
      border: 1px solid #D0D0D0;
      vertical-align: middle;
      margin-top: -1px;
}

#memberdir div.directory:hover {
      background-color: #EDEFF3;
}

#market {
	border-top: 0px solid #ffffff;
	border-bottom: 0px solid #ffffff;
	border-right: 0px solid #ffffff;
	border-left: 0px solid #ffffff;
}

#market span.title {
	font-weight: bold;
        font-size:12px;
}

#market a.catLink {
	font-weight: bold;
        font-size:12px;
}

#market a.subcatLink {
	font-weight: normal;
        font-size:11px;
}

#market td.description{
	border-top: 1px solid #B5B5B5;
	border-bottom: 1px solid #B5B5B5;
	border-right: 1px solid #B5B5B5;
	border-left: 1px solid #B5B5B5;
	background-color: #ECECEC;
        padding: 3px;
}

.marketRow1 {
	border-top: 0px solid #FE7272;
	border-bottom: 1px solid #FE7272;
	border-right: 0px solid #FE7272;
	border-left: 0px solid #FE7272;
	background-color: #FFC6C6;
}

.marketRow2 {
	border-top: 0px solid #ACDAF1;
	border-bottom: 1px solid #B5B5B5;
	border-right: 0px solid #ACDAF1;
	border-left: 0px solid #ACDAF1;
	background-color: #ffffff;
}

.marketRow3 {
	border-top: 0px solid #ACDAF1;
	border-bottom: 1px solid #ACDAF1;
	border-right: 0px solid #ACDAF1;
	border-left: 0px solid #ACDAF1;
	background-color: #DCF1FC;
}

table.reservation a {
	display: block;
	padding: 0.5em;
	color: #3B6506;
	margin-left: 0px;
}

table.reservation .row_available  {
	background-color: #DBFFAD;
}

table.reservation .row_available:hover {
	background-color: #F3FFE4;
}

table.reservation .row_confirmed {
	background-color: #FF8E5C;
	color: white;
}

table.reservation .row_confirmed td {
	padding: 0.5em;
	color: white;
}

table.reservation .row_occupied td  {
	padding: 0.5em;
}

table.reservation .row_occupied {
	background-color: #E3B96A;
}
