#container {
	width: 990px;
	height: auto;
	margin: 0 auto;
}

#header_wrapper {
	width: 990px;
	height: 180px;
	float: left;
	background-color: #FFFFFF;
}

#header {
	width: 990px;
	height: 120px;
	float: left;
}

#header_image {
	width: 200px;
	height: 85px;
	float: right;
	margin-top: 18px;
	margin-right: 20px;
	background: url("images/printkurier_logo.jpg") no-repeat;
}

#header_image a {
	width: 200px;
	height: 85px;
	float: right;
}

#content_wrapper {
	width: 993px;
	height: auto !important;
	min-height: 435px;
	height: 500px; /*FOR IE*/
	float: left;
	margin-top: 10px;
	padding: 0px;
	background-color: #CCCCCC;
}

#footer {
	width: 950px;
	height: 20px;
	float: left;
	margin-top: 20px;
	padding: 5px 20px 5px 20px;
	background-color: #FFFFFF;
	text-align: right;
}

#footer ul {;
	float: right;
	margin: 0;
	padding: 0;
}

#footer ul li {
	float: left;
	color: #707070;
	padding-left: 5px;
	list-style: none;
}

#footer ul li a {
	float: left;
	color: #707070;
}

#footer ul li a:hover {
	color: #99CC00;
}