
/* START Metanavigation */

#metanavigation {
	width: 990px;
	height: 28px;
	float: left;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
}

#metanavigation ul {
	padding: 0;
	margin: 0 15px 0 15px;
}

#metanavigation ul li {
	float: left;
	list-style: none;
	padding: 5px 5px 5px 5px;
	color: #707070;
}

#metanavigation ul li a {
	color: #707070;
	font-size: 13px;
}

#metanavigation ul li a:hover {
	color: #99CC00;
}

/* END Metanavigation */

/* START Navigation */

#navigation {
	width: 964px;
	height: 29px;
	float: left;
	padding: 0 13px 0 13px;
	border-top: 1px solid #666666;
	background-color: #99CC00;
}

#navigation ul {
    margin-top: 0px;
}

#navigation li {
	float: left;
	padding: 3px 7px 3px 7px;
	list-style: none;
	color: #FFFFFF;
}

#navigation li a {
	float: left;
	color: #FFFFFF;
	font-size: 14px;
}

#navigation li a:hover,
#navigation li a.active {
	color: #000000;
}

/* END Navigation */

/* START Shopnavigation */

#shopJsCart ul{
	width: 240px;
	padding: 0 0 1px 0;
	margin: 0;
	background-image:url(images/left_navigation_bg.gif);
	background-position:bottom;
	background-repeat:no-repeat;
}

#shopJsCart li{
	list-style: none;
	padding: 0;
	margin: 0;
}

#shopJsCart li a.title {
	display:block;
	padding:9px 6px 8px 36px;
	text-decoration:none;
	color:#808080;
	line-height:1;
	font-weight: bold;
	background-image:url(images/left_navigation_shop_cart_b.gif);
	background-position:right top;
	background-repeat:no-repeat;
}

#shopJsCart li.product {
	display:block;
	padding:5px 6px 5px 36px;
	text-decoration:none;
	background-image:none;
	color:#808080;
	line-height:1;
	font-size: 0.9em;
	border-top: 0px solid #c6c6c6;
	font-weight: normal;
	margin-bottom: 0px;
}

#shopJsCart li.total {
	display:block;
	padding:9px 6px 8px 36px;
	text-decoration:none;
	color:#808080;
	line-height:1;
	background-image:url(images/left_navigation_shop_total.gif);
	background-position:right top;
	background-repeat:no-repeat;
}

#shopJsCart li.link a{
	display:block;
	padding:5px 6px 5px 36px;
	text-decoration:none;
	background-image:none;
	color:#808080;
	line-height:1;
	font-size: 0.9em;
	border-top: 0px solid #c6c6c6;
	font-weight: normal;
}

#shopJsCart li.link a:hover{
    display:block;
	padding:5px 6px 5px 36px;
	text-decoration:none;
	color:#FF8000;
	background-color: #E9E9E9;
	background-image:url(images/left_navigation_hover_bg.gif);
	background-position:right center;
	background-repeat:no-repeat;
	font-weight: normal;
	font-size: 0.9em;
}

#shop_navigation ul{
	width: 240px;
	padding: 0 0 1px 0;
	margin: 0;
	background-image:url(images/left_navigation_bg.gif);
	background-position:bottom;
	background-repeat:no-repeat;
}

#shop_navigation li{
	list-style: none;
	padding: 0;
	margin: 0;
}

#shop_navigation li a.title {
	display:block;
	padding:9px 6px 8px 36px;
	text-decoration:none;
	color:#808080;
	line-height:1;
	font-weight: bold;
	background-image:url(images/left_navigation_shop_catego.gif);
	background-position:right top;
	background-repeat:no-repeat;
}

#shop_navigation li.shopnavbar1 a {
	display:block;
	padding:5px 6px 5px 36px;
	text-decoration:none;
	background-image:none;
	color:#808080;
	line-height:1;
	font-size: 0.9em;
	border-top: 0px solid #c6c6c6;
	font-weight: normal;
}

#shop_navigation li.shopnavbar1 a:hover,
#shop_navigation li.shopnavbar1_active a {
    display:block;
	padding:5px 6px 5px 36px;
	text-decoration:none;
	color:#FF8000;
	background-color: #E9E9E9;
	background-image:url(images/left_navigation_hover_bg.gif);
	background-position:right center;
	background-repeat:no-repeat;
	font-weight: normal;
	font-size: 0.9em;
}

#shop_navigation li.shopnavbar2 a {
	display:block;
	padding:5px 6px 5px 44px;
	text-decoration:none;
	background-image:none;
	color:#808080;
	line-height:1;
	font-size: 0.9em;
	border-top: 0px solid #c6c6c6;
	font-weight: normal;
}

#shop_navigation li.shopnavbar2 a:hover,
#shop_navigation li.shopnavbar2_active a {
    display:block;
	padding:5px 6px 5px 44px;
	text-decoration:none;
	color:#FF8000;
	background-color: #E9E9E9;
	background-image:url(images/left_navigation_hover_bg.gif);
	background-position:right center;
	background-repeat:no-repeat;
	font-weight: normal;
	font-size: 0.9em;
}

#shop_currencies  a {
	padding: 0 10px 0 0;
	margin: 0;
	height: auto !important;
	font-weight: bold;
	color:#808080;
}

#shop_currencies  a:hover,
#shop_currencies  a.active {
	color:#FF8000;
}

/* END Shopnavigation */