 <script language="javascript" type="text/javascript">
//<![CDATA[
Style[0]=["","","","","",,"black","#ffffe1","","","",,,,1,"#000000",2,21,0.3,,2,"gray",1,,15,-5];
Text[0]=["","{TXT_U2U_MAX_POSTING_SIZE_INBOX}"];
Text[1]=["","{TXT_U2U_MAX_CHARS_PER_MSG}"];
Text[2]=["","{TXT_U2U_ENTER_THE_SUBJECT_OF_THE_MAIL}"];
Text[3]=["","{TXT_U2U_ENTER_THE_FROM_ADDRESS}"];
//]]>
</script>
<form name="frmSettings" method="post" action="?cmd=u2u&amp;act=saveSettings">
<table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
		<tr>
			<th colspan="2">{TXT_U2U_MAX_POSTING_SIZE_INBOX}</th>
		</tr>
		<tr class="row2">
			<td width="15%">{TXT_U2U_VALUE}:</td>
			<td width="85%"><input type="text" name="frmSettings_max_inbox" value="{TXT_U2U_MAX_POSTING_SIZE}"  maxlength="50" style="width:30%;"  />&nbsp;
				<img src="images/icons/note.gif" width="12" height="12" alt="info" title="" onmouseout="htm()" onmouseover="stm(Text[0],Style[0])" /></td>
		</tr>
		<tr>
			<th colspan="2">{TXT_U2U_MAX_CHARS_PER_MSG}</th>
		</tr>
		<tr class="row1">
			<td width="15%">{TXT_U2U_VALUE}:</td>
			<td width="85%"><input type="text" name="frmSettings_max_chars" value="{TXT_U2U_MAX_POSTING_CHARS}"  maxlength="50" style="width:30%;"  />&nbsp;
				<img src="images/icons/note.gif" width="12" height="12" alt="info" title="" onmouseout="htm()" onmouseover="stm(Text[1],Style[0])" /></td>
		</tr>
		<tr>
			<th colspan="2">{TXT_U2U_NOTIFICATIION_EMAILS}</th>
		</tr>
		<tr class="row2">
			<td width="15%">{TXT_U2U_SUBJECT}:</td>
			<td width="85%"><input type="text" name="frmSettings_subject" value="{TXT_U2U_SETTINGS_MAIL_SUBJECT}"   style="width:30%;"  />&nbsp;
				<img src="images/icons/note.gif" width="12" height="12" alt="info" title="" onmouseout="htm()" onmouseover="stm(Text[2],Style[0])" /></td>
		</tr>
		<tr class="row1">
			<td width="15%">{TXT_U2U_FROM_LINE}:</td>
			<td width="85%"><input type="text" name="frmSettings_from" value="{TXT_U2U_SETTINGS_MAIL_FROM}"   style="width:30%;"  />&nbsp;
				<img src="images/icons/note.gif" width="12" height="12" alt="info" title="" onmouseout="htm()" onmouseover="stm(Text[3],Style[0])" /></td>
		</tr>
		<tr class="row2">
			<td width="15%" colspan="2">{TXT_U2U_MESSAGE}:</td>

		</tr>
        <tr class="row1">
            <td colspan="2">{TXT_U2U_EMAIL_CONTENT}</td>
        </tr>
        <tr class="row2">
            <td colspan="2"><b>{TXT_U2U_NOTE}:</b><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  {TXT_U2U_SENDER_NAME_CONTENT} <br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {TXT_U2U_RECEIVER_NAME_CONTENT} <br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  {TXT_U2U_DOMAIN_NAME_CONTENT}
             </td>
        </tr>

</table>
<input type="submit" value="{TXT_SAVE}" name="frmSettings_submit" />
</form>
