/*
   Base Style Sheet for the CONTREXX CMS backend console.

   Copyright 2005 COMVATION AG.
   All Rights Reserved.

*/

@import url(navbar.css);  /* CSS for navigation menu. */
@import url(jquery_chosen.css);

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: arial, helvetica, sans-serif;
    color: #444444;
}

table td {
    text-align: left;
}

form {
    margin: 0;
}

h1 {
    float: left;
    width: auto;
    clear: both;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: normal;
}

a {
    color: #0d91d1;
    text-decoration: none;
}

a:hover,
a:focus,
a:active,
a:link,
a:visited {
    color: #1072ba;
    outline: 0;
    cursor: pointer;
}

#container {
    position: relative;
    float: left;
    width: 100%;
    min-height: 100%;
    background: #ffffff;
}

#container.backend {
    background: #ffffff url(../images/navigation_wrapper.jpg) repeat-y;
}

* html #container {/* for ie6 */
    height: 100%;
}

#header {
    position: relative;
    width: 100%;
    height: 53px;
    background: #0873bb url(../images/gradient.jpg) left top repeat-y;
}

#header a.logo {
    position: absolute;
    left: 12px;
    top: 14px;
    width: 137px;
    height: 25px;
    background: url(../images/login_contrexx_logo.png) no-repeat;
    outline: 0;
}

#metanavigation {
    position: absolute;
    right: 20px;
    bottom: 14px;
}

#metanavigation a {
    float: left;
    padding: 0 0 0 16px;
    margin: 0 0 0 20px;
    color: #C5DBE8;
}

#metanavigation a.profil {
    background: url(../images/profil_icon.png) no-repeat;
}

#metanavigation a.logout {
    background: url(../images/logout_icon.png) no-repeat;
}

#content_wrapper {
    float: left;
    width: 100%;
    padding: 0 0 24px 0;
    
}

#content_login_center {
    width: 300px;
    margin: 0 auto 0 auto;
}

#content_login {
    float: left;
    width: 100%;
    height: 100%;
    padding: 100px 0 114px;
}

#content_login h1 {
    font-size: 38px;
    font-weight: normal;
    margin: 0 0 44px 0;
}

#content_login.password_lost h1,
#content_login.password_reset h1 {
    margin: 0 0 24px 0;
    font-size: 23px;
}

#content_login form {
    float: left;
    width: 300px;
}

#content_login form div {
    float: left;
    width: 300px;
    padding: 0 0 16px 0;
}

#content_login form div.error {
    width: auto;
    height: auto;
    padding: 0;
    color: #E00500;
}

#content_login form div a {
    float: left;
    width: auto;
}

#content_login form div label {
    float: left;
    width: auto;
}

#content_login form div label[for] {
    cursor: pointer;
}

#content_login form div input.error {
    border: 1px solid #E00500;
    padding: 2px;
}

#content_login form div input[type=text],
#content_login form div input[type=password] {
    float: left;
    width: 296px;
    height: 23px;
    line-height: 23px;
    margin: 3px 0;
}

#content_login form div input[type=checkbox] {
    float: left;
    width: 13px;
    height: 13px;
    margin: 0 3px 3px 0;
    padding: 0;
    outline: 0;
}

#content_login form div input[type=submit],
#content_login form div input[type=button] {
    float: left;
    width: auto;
    margin: 0;
}

*+html #content_login form div input[type=submit],
*+html #content_login form div input[type=button] {/* For IE7 */
    overflow: visible;
    padding: 0 9px 0 9px;
}

#navigation_wrapper {
    float: left;
    width: 217px;
    padding: 34px 0;
}

#content {
    overflow: hidden;
    padding: 14px 14px 14px 14px;
}

#content textarea,
#navigation_wrapper textarea,
#content input,
#navigation_wrapper input,
#content object,
#navigation_wrapper object,
#content select,
#navigation_wrapper select {
    border: 1px solid #acacac;
    padding: 3px;
    color: #444444;
}

#content input[type=radio],
#navigation_wrapper input[type=radio],
#content input[type=checkbox],
#navigation_wrapper input[type=checkbox] {
    border: 0;
    width: 13px;
    height: 13px;
}

#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 24px;
    background: #0873bb url(../images/gradient.jpg) repeat-y left top;
}

#footer a {
    position: absolute;
    left: 12px;
    top: 5px;
    width: auto;
    font-size: 11px;
    color: #ffffff;
    outline: 0;
}

#footer a:hover,
#footer a:focus {
    background: transparent;
}

/* inline instruction */
.status_message {
    background: #faf0e6;
}

#captcha {
    float: left !important;
    width: auto !important;
    clear: none !important;
    padding: 0 !important;
}

#captcha #coreCaptchaLabel {
    float: left;
    width: auto;
    clear: both;
    margin: 2px 0 2px 0;
    white-space: nowrap;
    font-weight: normal;
}

#captcha #coreCaptchaCode {
    float: left;
    width: 58px !important;
    height: 14px;
    clear: both;
    margin: 0 7px 0 0;
}

#content_login #captcha #coreCaptchaCode {
    width: 202px !important;
    height: 23px;
}

#captcha #coreCaptchaImage {
    float: left;
    width: 66px;
    height: 22px;
}

#content_login #captcha #coreCaptchaImage {
    width: 87px;
    height: 29px;
}

.navigation_level_1,
.navigation_level_2 {
    float: left;
    width: auto;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navigation_level_2.inactive {
    display: none;
}

.navigation_level_1 li,
.navigation_level_2 li {
    float: left;
    width: auto;
    border-bottom: 1px solid #efefef;
}

.navigation_level_1 li:hover,
.navigation_level_1 li:focus,
.navigation_level_1 li:active,
.navigation_level_1 li.active {
    background: url(../images/gradient.jpg) repeat-y left top;
    padding-bottom: 1px;
    border: 0;
}

.navigation_level_1 li span,
.navigation_level_1 li a {
    float: left;
    width: 184px;
    height: 30px;
    line-height: 28px;
    padding: 0 10px 0 22px;
    background: url(../images/navigation_level_1_list_style.png) no-repeat 10px 10px;
    font-size: 13px;
    font-weight: bold;
    color: #444444;
}

.navigation_level_1 li:hover span,
.navigation_level_1 li:focus span,
.navigation_level_1 li:active span,
.navigation_level_1 li.active span,
.navigation_level_1 li:hover a,
.navigation_level_1 li:focus a,
.navigation_level_1 li:active a,
.navigation_level_1 li.active a {
    background: url(../images/navigation_level_1_hover_list_style.png) no-repeat 7px 12px;
    color: #ffffff;
    cursor: pointer;
}

#navigation_level_1_dashboard li:hover a,
#navigation_level_1_dashboard li:focus a,
#navigation_level_1_dashboard li:active a,
#navigation_level_1_dashboard li.active a {
    background: url(../images/navigation_level_1_hover_list_style_no_submenu.png) no-repeat 10px 10px;
}

.navigation_level_2 li a {
    float: left;
    width: 167px;
    height: 23px;
    line-height: 21px;
    padding: 0 10px 0 39px;
    background: url(../images/navigation_level_2_list_style.png) no-repeat 26px 7px;
    font-size: 12px;
    font-weight: normal;
    color: #444444;
}

.navigation_level_2 li:hover a,
.navigation_level_2 li:focus a,
.navigation_level_2 li:active a,
.navigation_level_2 li.active a {
    background: url(../images/navigation_level_2_hover_list_style.png) no-repeat 26px 7px;
    font-weight: normal;
    color: #1a74bd;
    cursor: pointer;
}

.navigation_level_2 li.active a {
    font-weight: bold;
}

#search {
    float: left;
    width: 196px;
    padding: 20px 10px 0 10px;
}

#search input[type="text"] {
    width: 121px;
    margin: 0 !important;
}

#search input[type="submit"] {
    width: 63px;
    padding-right: 2px !important;
    padding-left: 2px !important;
    margin: 0 !important;
}

*+html #search input[type="submit"] {
    border: 0;
}

.breadcrumb {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0 0 14px 0;
    margin: 0 0 6px 0;
    list-style-type: none;
}

.breadcrumb li {
    float: left;
    width: auto;
    background: url(../images/breadcrumb_list_style.jpg) no-repeat left center;
    padding: 0 0 0 12px;
    margin: 0 0 0 6px;
    font-size: 11px;
}

.breadcrumb li.first {
    background: transparent;
    padding: 0;
    margin: 0;
}

.breadcrumb li a {
    color: #0d91d1;
}

div.infobox_head {
    clear: both;
    padding: 5px;
    background: #ffcc33;
}

div.infobox_body {
    clear: both;
    padding: 5px;
    background: #fff4c2;
    border-left: 1px solid #ffcc33;
    border-right: 1px solid #ffcc33;
    border-bottom: 1px solid #ffcc33;
    text-align: left;
    color: #444444;
}

table.adminlist {
    position: relative;
    bottom: 1px;
    clear: both;
    empty-cells: show;
    border-spacing: 0;
    border-collapse: collapse;
    background: #ffffff;
}
table.adminlist th {
    background: #0a85c8;
    height: 28px;
    line-height: 28px;
    margin: 0;
    padding: 0 10px;
    text-align: left;
    font-size: 13px;
    font-weight: bold;
    white-space: nowrap;
    color: #ffffff;
}
table.adminlist th a {
    color: #ffffff;
}
table.adminlist tr a:hover,
table.adminlist tr a:focus,
table.adminlist tr a:active {
    text-decoration: underline;
    cursor: pointer;
}
table.adminlist tr.row0,
table.adminlist tr.row1,
table.adminlist tr.row2 {
    background: #ffffff;
}
table.adminlist tr.row0:hover,
table.adminlist tr.row1:hover,
table.adminlist tr.row2:hover {
    background: #ffffd6;
}
table.adminlist tr.row3 {
    background: #fafafa;
    font-weight: bold;
}
table.adminlist tr.row3 td {
    white-space: nowrap;
}
table.adminlist tr.highlighted {
    background: #ffe7e7;
}
table.adminlist tr.highlighted:hover {
    background: #ffe7e7;
}
table.adminlist tr.highlightedGreen {
    background: #d8ffca;
}
table.adminlist tr.rowWarn,
table.adminlist tr.rowwarn {
    background: #ffe7e7 !important;
}
table.adminlist td {
    height: 22px;
    line-height: 22px;
    padding: 3px;
    text-align: left;
    vertical-align: middle;
    border-bottom: #e5e5e5 1px solid;
}
table.adminlist tr.row3 td {
    white-space: nowrap;
}
table.adminlist td.options {
    font-size: 10px;
    background: #ffffff;
}
table.adminlist td.col3 {/* Shop */
    background: #fafafa;
    font-weight: bold;
}
table.adminlist td.number {/* Shop */
    text-align: right;
}
table.title {
    border-bottom: #000099 1px solid;
    background: white;
}
table.subnavbar {
    border-bottom: #000099 0px solid;
    background: #dde4ff;
}

#tabmenu,
.tabmenu {
    float: left;
    width: 100%;
    padding: 0;
    border-bottom: 1px solid #0a85c8;
    margin: 9px 0 0 0;
}

#tabmenu li,
.tabmenu li {
    float: left;
    width: auto;
    list-style-type: none;
}

#tabmenu li a,
.tabmenu li a  {
    position: relative;
    top: 1px;
    float: left;
    height: 22px;
    line-height: 22px;
    width: auto;
    padding: 0 9px;
    border-top: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #0a85c8;
    border-left: 1px solid #e5e5e5;
    margin: 0 10px 0 0;
    font-weight: normal;
    color: #444444;
    cursor: pointer;
}

#tabmenu li a.active,
.tabmenu li a.active {
    height: 22px;
    line-height: 22px;
    background: #0a85c8;
    border-top: 1px solid #0a85c8;
    border-right: 1px solid #0a85c8;
    border-bottom: 1px solid #0a85c8;
    border-left: 1px solid #0a85c8;
    color: #ffffff;
}

#okbox, .okbox {
    clear: both;
    border: #029202 1px solid;
    color: #006900;
    background: #b8fd9f;
    padding: 4px;
}

#alertbox, .alertbox {
    border: 1px solid;
    color: #ff0000;
    background: #ffcccc;
    padding: 4px;
}

#alertbox a, .alertbox a {
    color: #fb5959;
}

.warningbox {
    border: #ffb400 1px solid;
    background: #ffde8f;
    padding: 4px;
}

.note {
    padding-left: 18px;
    background: url('../../../images/icons/note.gif') no-repeat 0 50%;
    z-index: 1000;
}

.sort-handle { /*the drag handle*/
               cursor: move;
               width: 17px;
               background-image: url(../../../images/icons/updown.gif);
               background-repeat: no-repeat;
               background-position: center left;
               clear: left;
               float: left;
               height: 25px;
               width: 17px;
               margin: 0;
               padding: 0;
               margin-right: 3px;
}

#dashboard {
    float: left;
    width: 100%;
}

#dashboard .left,
#dashboard .right {
    padding: 20px 0 20px 0;
    vertical-align: top;
}

#dashboard .left {
    width: 70%;
    border-right: 1px solid #e5e5e5;
    display: table-cell;
}

#dashboard .right {
    width: 30%;
    display: table-cell;
}

#dashboard #quick_access_wrapper {
    float: left;
    width: 100%;
    margin: 0 0 50px 0;
}

#dashboard #quick_access_wrapper #quick_access {
    float: left;
    width: 100%;
}

#dashboard #quick_access .box {
    position: relative;
    float: left;
    width: 31.333%;
    height: auto !important;
    padding: 0;
    overflow: hidden;
}

#dashboard #quick_access .box#box_1 {
    clear: both;
    min-height: 158px;
    height: 158px;
    padding: 10px 0 50px 0;
    margin: 0 2% 0 0;
    background: #21c1f2 url(../images/dashboard_box_1.jpg) repeat-y;
}

#dashboard #quick_access .box#box_2 {
    min-height: 162px;
    height: 162px;
    padding: 10px 0 46px 0;
    margin: 0 2% 0 0;
    background: #68c210 url(../images/dashboard_box_2.jpg) repeat-y;
}

#dashboard #quick_access .box#box_3 {
    min-height: 160px;
    height: 160px;
    padding: 10px 0 48px 0;
    margin: 0 2% 0 0;
    background: #e1a31a url(../images/dashboard_box_3.jpg) repeat-y;
}

#dashboard #quick_access .box .padding_fix {
    float: left;
    width: auto;
    padding: 0 10px;
}

#dashboard #quick_access .box h1 {
    margin: 0 0 9px 0;
    color: #ffffff;
    font-size: 19px;
    font-weight: normal;
}

#dashboard #quick_access .box ul {
    clear: both;
    float: left;
    width: auto;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#dashboard #quick_access .box ul li {
    float: left;
    width: auto;
    clear: both;
}

#dashboard #quick_access .box ul li a {
    float: left;
    width: auto;
    background: url(../images/dashboard_box_list_style.png) no-repeat left center;
    padding: 0 0 0 9px;
    margin: 0 0 5px 0;
    color: #ffffff;
}

#dashboard #quick_access .box ul li a:hover,
#dashboard #quick_access .box ul li a:focus,
#dashboard #quick_access .box ul li a:active {
    text-decoration: underline;
}

#dashboard #quick_access .box .icon {
    position: absolute;
    left: 10px;
    bottom: 10px;
    float: left;
}

#dashboard #quick_access .box#box_1 .icon {
    width: 30px;
    height: 30px;
    background: url(../images/dashboard_box_1_icon.png) no-repeat;
}

#dashboard #quick_access .box#box_2 .icon {
    width: 26px;
    height: 26px;
    background: url(../images/dashboard_box_2_icon.png) no-repeat;
}

#dashboard #quick_access .box#box_3 .icon {
    float: left;
    width: 28px;
    height: 28px;
    background: url(../images/dashboard_box_3_icon.png) no-repeat;
}

#dashboard #history_wrapper {
    float: left;
    width: 48%;
    margin: 0 2% 0 0;
    height: 100px;
}

#dashboard #logged_in_wrapper {
    float: left;
    width: 48%;
    margin: 0 2% 0 0;
    height: 100px;
}

#dashboard #stats_wrapper {
    float: left;
    width: 100%;
    height: 100px;
}

#dashboard #news_wrapper {
    float: left;
    width: 100%;
    height: 100px;
}

/*
  styles for javascript helpers.
*/
.cx-lock {
    background-image: url('../../../images/icons/switch_lock.png');
    width: 21px;
    height: 16px;
    display: inline-block;
}

.cx-lock-open {
    background-position: 0px 0px;
}

.cx-lock-closed {
    background-position: 21px 0px;
}


/* Text alignment -- Shop */
.a_left {
    text-align: left;
}
.a_center {
    text-align: center;
}
.a_right {
    text-align: right;
}


/* Text style -- Shop */
.f_bold {
    font-weight: bold;
}
body #content input[type=button],
body #navigation_wrapper input[type=button],
body #content input[type=reset],
body #navigation_wrapper input[type=reset],
body #content input[type=submit],
body #navigation_wrapper input[type=submit] {
    background: url("../images/button_bg.png") repeat-x scroll left top transparent;
    border: 1px solid #BBBBBB;
    color: #444444;
    line-height: 14px;
    margin-bottom: 2px;
    padding: 2px 10px;
    text-shadow: 1px 1px #FFFFFF;
}
#content #access select,
#content .data select {
    width: 258px !important
}
select#jobsCat,
#content #template_form select {
    width: 408px !important;
}
#content #categoryGeneral select,
#content #downloadGeneral select,
#content #auction select,
#content #news1 select,
#content #AddForum select,
#content #template select,
#content #newsletter_mail_form select,
#content #paypaltemplate select {
    width: 308px !important
}
#content #Content2.zoneTab select{
    width: 208px !important
}
#content #content2.categoryTab select,
#content #content1.productManageTab select{
    width: 303px !important
}
#content #content1.generalTab select,
#content #Backup.setTab select{
    width: 373px !important
}
#content #content4 select{
    width: 373px !important;
}
#content1.productManageTab textarea
{
    width: 296px !important;
}
#content1.generalTab textarea{
    width: 365px !important;
}
