/*
   Base Style Sheet for the CONTREXX CMS backend console.

   Copyright 2005 COMVATION AG.
   All Rights Reserved.

*/

@import url(navbar.css);  /* CSS for navigation menu. */


html, body {
  color:           black;
  background:      #ffffff;
  font-weight:     normal;
  font-family:     Arial, Helvetica, sans-serif;
  font-style:      normal;
  font-size: 11px;
  text-decoration: none;
  padding: 0px;
  border:  0px;
  margin: 0px;
  height: 100%;
}



body {
	SCROLLBAR-FACE-COLOR: #dadada;
	SCROLLBAR-HIGHLIGHT-COLOR: #dadada;
	SCROLLBAR-SHADOW-COLOR: #dadada;
	SCROLLBAR-3DLIGHT-COLOR: #dadada;
	SCROLLBAR-ARROW-COLOR: #000000;
	SCROLLBAR-TRACK-COLOR: #dadada;
	SCROLLBAR-DARKSHADOW-COLOR: #2f4f4f;
	SCROLLBAR-BASE-COLOR: #dadada
}

td {
	font-size: 11px;
	text-align: left;
}

form {
	margin: 0px;
}

textarea,
input,
object,
select {
	BORDER-RIGHT: 1px solid;
	MARGIN-BOTTOM: 2px;
	BORDER-TOP: 1px solid;
	FONT-SIZE: 11px;
	BORDER-LEFT: 1px solid;
	COLOR: black;
	BORDER-BOTTOM: 1px solid;
	BACKGROUND-COLOR: white;
	border-color: #0A50A1
}

h1 {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px
}
A {
	FONT-SIZE: 11px;
	COLOR: #000099;
	TEXT-DECORATION: none
}
A:link {
	COLOR: #000099;
	TEXT-DECORATION: none
}
A:visited {
	COLOR: #000099;
	TEXT-DECORATION: none
}
A:hover {
	COLOR: #000099;
	BACKGROUND-COLOR: #ffffcc;
	TEXT-DECORATION: none
}
A:active {
	COLOR: #000099;
	TEXT-DECORATION: none
}



/* inline instruction */
.status_message {
	background: #faf0e6
}

div#footer {
  FONT-SIZE: 11px;
  margin-right: 4px;
  text-align: right;
}


table.navbar {
	BORDER-RIGHT: 0px;
	PADDING-RIGHT: 0px;
	BORDER-TOP: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	BORDER-LEFT: 0px;
	WIDTH: 100%;
	PADDING-TOP: 0px;
	BORDER-BOTTOM: 0px
}

table.navbar th {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	COLOR: white;
	PADDING-TOP: 0px;
	BORDER-BOTTOM: white 1px solid;
	BACKGROUND-COLOR: #0A50A1
}

table.navbar td{
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	COLOR: #3a6aa9;
	PADDING-TOP: 0px;
	BACKGROUND-COLOR: white;
	vertical-align: top;
}


.navigation {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	WIDTH: 100%;
	PADDING-TOP: 0px;
	LIST-STYLE-TYPE: none
}
.navigation li {
	BORDER-RIGHT: 0px;
	PADDING-RIGHT: 0px;
	BORDER-TOP: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	BORDER-LEFT: 0px;
	PADDING-TOP: 0px;
	BORDER-BOTTOM: #DDE4FF 1px solid;
	BACKGROUND-COLOR: white
}
.navigation li a {
	DISPLAY: block;
	PADDING-LEFT: 8px;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 2px;
	COLOR: black;
	PADDING-TOP: 2px;
	BACKGROUND-COLOR: white
}
.navigation li a:active {
	COLOR: black
}
.navigation li a:link {
	COLOR: black
}
.navigation li a:visited {
	COLOR: black
}
.navigation li a:hover {
	COLOR: black;
	BACKGROUND-COLOR: #F4F7FF
}

div.infobox_head{
	padding: 5px;
	FONT-SIZE: 11px;
	BACKGROUND-COLOR: #FFCC33;
}

div.infobox_body {
	padding: 5px;
	COLOR: #000000;
	BACKGROUND-COLOR: #FFF4C2;
	text-align: left;
	border-left: 	solid 1px #FFCC33;
	border-right: 	solid 1px #FFCC33;
	border-bottom: 	solid 1px #FFCC33;
}

table.adminlist {
	FONT-SIZE: 11px;
	empty-cells: show;
	BACKGROUND-COLOR: #ffffff
}
table.adminlist th {
	COLOR: white;
	HEIGHT: 22px;
	BACKGROUND-COLOR: #0A50A1;
	text-align: left;
	padding: 0px 0px 0px 5px;
	margin: 0px 0px 0px 0px;
	vertical-align: middle;
}
table.adminlist th A {
	COLOR: white;
	/*TEXT-DECORATION: underline*/
}
table.adminlist th A:active {
	COLOR: white;
	TEXT-DECORATION: underline
}
table.adminlist th A:visited {
	COLOR: white;
	TEXT-DECORATION: underline
}
table.adminlist TH A:hover {
	COLOR: #0A50A1;
	BACKGROUND-COLOR: #DCE4FF;
	TEXT-DECORATION: none
}
table.adminlist TH.title {
	COLOR: #333333;
	TEXT-ALIGN: left
}
table.adminlist tr.row1 {
	BACKGROUND-COLOR: #F4F7FF
}
table.adminlist tr.row2 {
	BACKGROUND-COLOR: #ffffff
}
table.adminlist tr.row3 {
	BACKGROUND-COLOR: #DDE4FF;
}
table.adminlist thead tr.row3 {
	BACKGROUND-COLOR: #DDE4FF;
}
table.adminlist tr.highlighted {
	background-color: #ffe7e7;
}
table.adminlist tr.highlighted:hover {
	background-color: #ffe7e7;
}
table.adminlist tr.rowWarn {
	BACKGROUND-COLOR: #ffe7e7
}
table.adminlist tr.highlightedGreen {
	background-color: #d8ffca;
}
table.adminlist td {
	BORDER-BOTTOM: #DDE4FF 1px solid;
}
table.adminlist tr.row1:hover {
	BACKGROUND-COLOR: #f1f1f1;
}
table.adminlist tr.row2:hover {
	BACKGROUND-COLOR: #f1f1f1;
}
table.adminlist td.options {
	FONT-SIZE: 10px;
	BACKGROUND-COLOR: #ffffff;
}

table.title {
	FONT-SIZE: 12px;
	BORDER-BOTTOM: #000099 1px solid;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	BACKGROUND-COLOR: white
}

table.subnavbar {
	FONT-SIZE: 11px;
	BORDER-BOTTOM: #000099 0px solid;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	BACKGROUND-COLOR: #DDE4FF
}

#tabmenu {
	color: black;
	margin: 0;
	padding: 2px;
	z-index: 1;
	padding-left: 0px
}

#tabmenu li {
	display: inline;
	overflow: hidden;
	list-style-type: none;
}

#tabmenu a, a.active {
	color: black;
	background: white;
	FONT-WEIGHT: normal;
	border: 1px solid #0A50A1;
	padding: 2px 5px 2px 5px;
	margin: 0px;
	text-decoration: none;
}

#tabmenu a.active {
	background: #F4F7FF;
	border-bottom: 1px solid #0A50A1;
}

#tabmenu a:hover {
	color: black;
	background: #F4F7FF;
}

#tabmenu a:visited {
	color: black;
}

#tabmenu a.active:hover {
	background: #F4F7FF;
	color: black;
}

#tabsubmenu {
    color: black;
    margin: 0;
    padding: 2px;
    z-index: 1;
    padding-left: 0px
}

#tabsubmenu li {
    display: inline;
    overflow: hidden;
    list-style-type: none;
}

#tabsubmenu a, a.active {
    color: black;
    background: white;
    FONT-WEIGHT: normal;
    border: 1px solid #DDE4FF;
    padding: 2px 5px 2px 5px;
    margin: 0px;
    text-decoration: none;
}

#tabsubmenu a.active {
    background: #F4F7FF;
    border-bottom: 1px solid #DDE4FF;
}

#tabsubmenu a:hover {
    color: black;
    background: #F4F7FF;
}

#tabsubmenu a:visited {
    color: black;
}

#tabsubmenu a.active:hover {
    background: #F4F7FF;
    color: black;
}

#alertbox {
	border: 1px solid;
	color: #ff0000;
	background: #FFCCCC;
	padding: 4px;
}


#alertbox a {
    color: #fb5959;
}

#okbox {
	border: #029202 1px solid;
	color: #006900;
	background: #B8FD9F;
	padding: 4px;
}

.warningbox {
    border: #ffb400 1px solid;
    background: #ffde8f; 
    padding: 4px;
}

.note {
        padding-left: 18px;
        background: url('../../../images/icons/note.gif') no-repeat 0 50%;
        z-index: 1000;
}
