/*
   Base Style Sheet for the CONTREXX CMS backend console.

   Copyright 2005 COMVATION AG.
   All Rights Reserved.

*/

@import url(navbar.css);  /* CSS for navigation menu. */

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 11px;
    font-family: arial, helvetica, sans-serif;
}

/*html, body {
  color: black;
  background: #ffffff;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 11px;
  text-decoration: none;
  padding: 0px;
  border: 0px;
  margin: 0px;
  height: 100%;
}

body {
  scrollbar-face-color: #dadada;
  scrollbar-highlight-color: #dadada;
  scrollbar-shadow-color: #dadada;
  scrollbar-3dlight-color: #dadada;
  scrollbar-arrow-color: #000000;
  scrollbar-track-color: #dadada;
  scrollbar-darkshadow-color: #2f4f4f;
  scrollbar-base-color: #dadada;
}*/

td {
    font-size: 11px;
    text-align: left;
}

form {
    margin: 0px;
}

h1 {
    padding-right: 0px;
    padding-left: 0px;
    font-size: 12px;
    padding-bottom: 0px;
    margin: 0px;
    padding-top: 0px;
}

/*a {
  font-size: 11px;
  color: #000099;
  text-decoration: none;
}

a:link {
  color: #000099;
  text-decoration: none;
}

a:visited {
  color: #000099;
  text-decoration: none;
}

a:hover {
  color: #000099;
  background-color: #ffffcc;
  text-decoration: none;
}

a:active {
  color: #000099;
  text-decoration: none;
}*/

a {
    color: #1A74B1;
    text-decoration: none;
    outline: 0;
}

a:hover,
a:focus {
    text-decoration: none;
}

#container {
    position: relative;
    float: left;
    width: 100%;
    min-height: 100%;
}

#container.backend {
    background: url('../images/bg_navigation_wrapper.jpg') repeat-y;
}

* html #container {
    height: 100%; /* for ie6 */
}

#header {
    position: relative;
    width: 100%;
    height: 53px;
    background: #206eaa url(../images/login_header.jpg) left top no-repeat;
}

#header a.logo {
    position: absolute;
    left: 12px;
    top: 14px;
    width: 137px;
    height: 25px;
    background: url(../images/login_contrexx_logo.png) no-repeat;
    outline: 0;
}

#metanavigation {
    position: absolute;
    right: 20px;
    bottom: 14px;
}

#metanavigation a {
    float: left;
    padding: 0 0 0 16px;
    margin: 0 0 0 20px;
    color: #C5DBE8;
}

#metanavigation a.profil {
    background: url(../images/profil_icon.png) no-repeat;
}

#metanavigation a.logout {
    background: url(../images/logout_icon.png) no-repeat;
}

#content_wrapper {
    float: left;
    width: 100%;
    padding: 0 0 24px 0;
}

#content_login_center {
    width: 300px;
    margin: 0 auto 0 auto;
}

#content_login {
    float: left;
    width: 100%;
    height: 100%;
    padding: 100px 0 114px;
}

#content_login h1 {
    font-size: 32px;
    font-weight: normal;
    margin: 0 0 50px 0;
}

#content_login form {
    float: left;
    width: 300px;
}

#content_login form div {
    float: left;
    width: 300px;
    padding: 0 0 10px 0;
}

#content_login form div.error {
    width: auto;
    height: auto;
    padding: 0;
    color: #E00500;
}

#content_login form div label[for] {
    cursor: pointer;
}

#content_login form div input.error {
    border: 1px solid #E00500;
    padding: 2px;
}

#content_login form div input[type=text],
#content_login form div input[type=password] {
    float: left;
    width: 296px;
    height: 23px;
    line-height: 23px;
}

#content_login form div input[type=checkbox] {
    margin-top: 0;
    margin-left: 0;
    outline: 0;
}

#content_login form div input[type=submit],
#content_login form div input[type=button] {
    margin: 0;
}

*+html #content_login form div input[type=submit],
*+html #content_login form div input[type=button] {/* for ie7 */
                                                   overflow: visible;
                                                   padding: 0 9px 0 9px;
}

#content_login form div img#coreCaptchaImage {
    float: left;
    width: auto;
}

#content_login form div input#coreCaptchaCode {
    float: left;
    clear: both;
    width: 114px;
    margin: 2px 0 0 0;
}

#navigation_wrapper {
    width: 200px;
    float: left;
}

#content {
    overflow: hidden;
    padding: 14px;
}

#content textarea,
#navigation_wrapper textarea,
#content input,
#navigation_wrapper input,
#content object,
#navigation_wrapper object,
#content select,
#navigation_wrapper select {
    border-right: 1px solid;
    margin-bottom: 2px;
    border-top: 1px solid;
    font-size: 11px;
    border-left: 1px solid;
    color: black;
    border-bottom: 1px solid;
    background-color: white;
    border-color: #0a50a1;
    /* background: url("../images/button_bg.png") repeat-x scroll left top transparent;
     border: 1px solid #BBBBBB;
     color: #333333;
     font-size: 11px;
     height: 30px;
     line-height: 30px;
     margin-bottom: 2px;
     padding: 0 ;
     text-shadow: 1px 1px #FFFFFF;*/
}

#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 24px;
    background: #2170ac url(../images/login_footer.jpg) left top no-repeat;
}

#footer a {
    position: absolute;
    left: 12px;
    top: 5px;
    width: auto;
    font-size: 11px;
    color: #ffffff;
    outline: 0;
}

#footer a:hover,
#footer a:focus {
    background: transparent;
}

/* inline instruction */
.status_message {
    background: #faf0e6;
}

table.navbar {
    width: 200px;
    float: left;
}

table.navbar th {
    width: 180px;
    height: 16px;
    float: left;
    padding: 10px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    background: url('../images/bg_navigation.jpg') repeat-x;
}

table.navbar th div {
    float: left;
    padding: 0 0 0 20px;
    background: url('../images/nav_arrows.png') no-repeat 0 2px;
}

table.navbar th div.block {
    background-position: 0 -16px;
}

table.navbar td {
    width: 200px;
    float: left;
    padding: 0;
    color: #3A6AA9;
    vertical-align: top;
}

.navigation {
    width: 100%;
    float: left;
    padding: 0;
    margin: 0;
}

.navigation li {
    width: 200px;
    float: left;
    padding: 0;
    margin: 0;
    list-style: none;
}

.navigation li a {
    width: 180px;
    float: left;
    /*padding: 6px 10px 6px 10px;*/
    padding: 6px 9px 6px 10px;
    font-size: 11px;
    color: #000000;
}

.navigation li a:hover {
    /*  background-color: #CFE3EE;*/
    background-color: #E0F2FF;
}

div.infobox_head{
    padding: 5px;
    font-size: 11px;
    background-color: #ffcc33;
}

div.infobox_body {
    padding: 5px;
    color: #000000;
    background-color: #fff4c2;
    text-align: left;
    border-left: solid 1px #ffcc33;
    border-right: solid 1px #ffcc33;
    border-bottom: solid 1px #ffcc33;
}

table.adminlist {
    font-size: 11px;
    empty-cells: show;
    background-color: #ffffff;
}
table.adminlist th {
    background: url("../images/table_header.png") repeat-x scroll 0 0 transparent;
    color: white;
    height: 26px;
    margin: 0;
    padding: 0 0 0 5px;
    text-align: left;
    vertical-align: middle;
}
table.adminlist th a {
    color: white;
    /*text-decoration: underline*/
}
table.adminlist th a:active {
    color: white;
    text-decoration: underline;
}
table.adminlist th a:visited {
    color: white;
    text-decoration: underline;
}
table.adminlist th a:hover {
    color: #0a50a1;
    background-color: #dce4ff;
    text-decoration: none;
}
table.adminlist th.title {
    color: #333333;
    text-align: left;
}
table.adminlist tr.row1 {
    background-color: #FFFFFF;
}
table.adminlist tr.row2 {
    background-color: #F5F5F5;
}
table.adminlist tr.row3 {
    background-color: #D8EAFE;
}
table.adminlist thead tr.row3 {
    background-color: #dde4ff;
}
table.adminlist tr td.col3 { /* Shop! */
                             background-color: #dde4ff;
}
table.adminlist tr.highlighted {
    background-color: #ffe7e7;
}
table.adminlist tr.highlighted:hover {
    background-color: #ffe7e7;
}
table.adminlist tr.rowwarn {
    background-color: #ffe7e7;
}
table.adminlist tr.highlightedGreen {
    background-color: #d8ffca;
}
table.adminlist td {
    border-bottom: #dde4ff 1px solid;
}
table.adminlist tr.row1:hover {
    background-color: #f1f1f1;
}
table.adminlist tr.row2:hover {
    background-color: #f1f1f1;
}
table.adminlist td.options {
    FONT-SIZE: 10px;
    background-color: #ffffff;
}
table.adminlist td.number { /* Shop */
                            text-align: right;
}
table.title {
    font-size: 12px;
    border-bottom: #000099 1px solid;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

table.subnavbar {
    font-size: 11px;
    border-bottom: #000099 0px solid;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dde4ff;
}

.tabmenu{
    color: black;
    margin: 0;
    padding: 2px;
    z-index: 1;
    padding-left: 0px;
}

#tabmenu {
    color: black;
    margin: 0;
    padding: 0 2px 3px 0;
    z-index: 1;    
}

.tabmenu li, #tabmenu li {
    display: inline;
    overflow: hidden;
    list-style-type: none;
}

.tabmenu a  {
    color: black;
    background: url("../images/tab_clas_btn.jpg") repeat-x scroll 0 0 transparent;
    /*background: white;*/
    font-weight: normal;
    border: 1px solid #CCCCCC;
    /* border: 1px solid #0a50a1;*/
    padding: 2px 5px 2px 5px;
    margin: 0px;
    text-decoration: none;
    cursor: pointer;
}
#tabmenu a  {
    color: black;
    /*background: url("../images/tab_clas_btn.jpg") repeat-x scroll 0 0 transparent;*/
    background: url("../images/nav_tab_bg.jpg") repeat-x scroll 0 0 transparent;
    /*background: white;*/
    font-weight: normal;
    border: 1px solid #CCCCCC;
    /* border: 1px solid #0a50a1;*/
    padding: 2px 5px 2px 5px;
    margin: 0px;
    text-decoration: none;
    cursor: pointer;
}
a.active  {
    color: black;
    background: white;
    font-weight: normal;
    border: 1px solid #CCCCCC;
    border: 1px solid #0a50a1;
    padding: 2px 5px 2px 5px;
    margin: 0px;
    text-decoration: none;
    cursor: pointer;
}


#tabmenu a.active {
    border: 1px solid #2E99D1;
}



#tabmenu a:hover {
    /*color: black;*/
    background: none repeat scroll 0 0 #88CAFE;
    border: 1px solid #88CAFE;
}


#tabmenu a.active {
    background: url("../images/nav_tab_bg_active.png") repeat scroll 0 0 transparent;
    color: #FFFFFF;
}


#tabmenu.media_settings a.active {
    background: #F4F7FF;
    border-bottom: 1px solid #F4F7FF;
}


.tabmenu a:visited, #tabmenu a:visited {
    color: black;
}

.tabmenu a:hover{
    /*  background: #f4f7ff;*/
    background: none repeat scroll 0 0 #E0F2FF;
    color: black;
}
.tabmenu a.active {
    /*  background-color: #DDE4FF;
      font-weight: bold;*/
    background: url("../images/tab_clas_blue_nav.jpg") repeat scroll 0 0 transparent;
    font-weight: normal;
}

#tabmenu a.active:hover {
    /*background: #f4f7ff;*/
    border: 1px solid #2E99D1;
    color: #FFFFFF;
}

.tabmenu a.active:hover {
    /*    background-color: #DDE4FF;*/
    background-color:none;
}

#tabsubmenu {
    color: black;
    margin: 0;
    padding: 2px;
    z-index: 1;
    padding-left: 0px;
}

#tabsubmenu li {
    display: inline;
    overflow: hidden;
    list-style-type: none;
}

#tabsubmenu a, a.active {
    color: black;
    /*  background: white;*/
    background: none repeat scroll 0 0 #AEDAFD;
    font-weight: normal;
    border: 1px solid #dde4ff;
    padding: 2px 5px 2px 5px;
    margin: 0px;
    text-decoration: none;
    border-bottom: 0 none;
}

#tabsubmenu a.active {
    background: #f4f7ff;
    border-bottom: 1px solid #dde4ff;
}

#tabsubmenu a:hover {
    color: black;
    background: #f4f7ff;
}

#tabsubmenu a:visited {
    color: black;
}

#tabsubmenu a.active:hover {
    background: #f4f7ff;
    color: black;
}

#alertbox, .alertbox {
    border: 1px solid;
    color: #ff0000;
    background: #ffcccc;
    padding: 4px;
}

#alertbox a, .alertbox a {
    color: #fb5959;
}

#okbox, .okbox {
    border: #029202 1px solid;
    color: #006900;
    background: #b8fd9f;
    padding: 4px;
}

div.tabContainer {
    /*background-color: #B5C8DE;*/
    background-color: #AEDAFD;
    padding: 0px 0px;
}

.warningbox {
    border: #ffb400 1px solid;
    background: #ffde8f;
    padding: 4px;
}

.note {
    padding-left: 18px;
    background: url('../../../images/icons/note.gif') no-repeat 0 50%;
    z-index: 1000;
}

.sort-handle { /*the drag handle*/
               cursor: move;
               width: 17px;
               background-image: url(../../../images/icons/updown.gif);
               background-repeat: no-repeat;
               background-position: center left;
               clear: left;
               float: left;
               height: 25px;
               width: 17px;
               margin: 0;
               padding: 0;
               margin-right: 3px;
}


/*
  styles for javascript helpers.
*/
.cx-lock {
    background-image: url('../../../images/icons/switch_lock.png');
    width: 21px;
    height: 16px;
    display: inline-block;
}

.cx-lock-open {
    background-position: 0px 0px;
}

.cx-lock-closed {
    background-position: 21px 0px;
}

/* Text alignment -- Shop */
.a_left {
    text-align: left;
}
.a_center {
    text-align: center;
}
.a_right {
    text-align: right;
}
/* Text style -- Shop */
.f_bold {
    font-weight: bold;
}
body #content input[type=button],
body #content input[type=submit]{
    background: url("../images/button_bg.png") repeat-x scroll left top transparent;
    border: 1px solid #BBBBBB;
    color: #333333;
    font-size: 11px;
    height: 30px;
    line-height: 30px;
    margin-bottom: 2px;
    padding: 0 10px;
    text-shadow: 1px 1px #FFFFFF;
}