/* CONTENTS:

  1 Reset
  2 Layout
    2.1 Fonts
    2.2 Content Manager
    2.2.1 Type Tab
  3 Helpers
 */

/* 1) Reset */
body{ font-family: Arial, sans-serif;}
ol, ul{ list-style: none }
table{ border-collapse: collapse; border-spacing: 0; padding: 0; margin: 0; }
html{ overflow-y: scroll; }
.clearfix:before, .clearfix:after{ content: "\0020"; display: block; height: 0; overflow: hidden }
.clearfix:after{ clear: both }
.clearfix{ zoom: 1 }
/* Reset END */

/* 2 Layout */
/* 2.1 Fonts */
h1{ font-size: 20px }

/* 2.2 Content Manager */
#content-manager {
    display: table;
    float: left;
    width: 100%;
    height: 100%;
    background: url(../images/subnavigation_level_1.jpg) repeat-x left top;
}

#content-manager.shrunk {
    background: transparent;
}

#content-manager .left {
    display: table-cell;
    float: left;
    width: 100%;
    padding: 0;
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    margin: 0 14px 70px 0;
}

#content-manager .right {
    display: none;
    float: none;
    vertical-align: top;
}

#content-manager.shrunk .left {
    width: 352px;
    border: 0;
}

#content-manager.shrunk .middle {
    display: table-cell;
}

#content-manager.shrunk .right {
    display: table-cell;
    width: 100%;
}

#content-manager .left table.adminlist {
    position: static;
    bottom: 0;
    margin: 11px 0 0 0;
}

.ie7 #input1{ float:left; }
.ie7 .space{ margin-bottom: 10px; }

#site-language .chzn-select{
    visibility: hidden;
}

#content-manager.shrunk .chzn-container {
    float: left;
    width: 352px !important;
    position: relative;
    z-index: 999;
}

#content-manager.shrunk .chzn-container .chzn-results {
    width: 342px !important;
}

#site-structure {
    position: relative;
    float: left;
    width: 100%;
    overflow: visible;
}

#content-manager.shrunk #site-structure {
    width: 350px;
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
}

#site-structure li select {
    border: none;
    padding: 2px;
    display: none;
    position: absolute;
    left: 17%;
}

#site-structure li a.delete {
    border: none;
    padding: 2px;
    display: none;
    position: absolute;
    left: 22%;
}

#subnavbar_level1 {
    margin: 0 !important;
}

.toplevel {
    background: url(../images/contrexx_icon.png) no-repeat scroll 25px 3px transparent
}

#site-tree {
    padding: 0 0 0 30px;
}

#site-tree ul {
    float: left;
    clear: both;
    margin: 0;
}

*+html #site-tree ul,
*+html #site-tree ul li {
    width: 100%;
}

*+html #site-tree ul li ul li {
    width: 99%;
}

#site-tree li  a.unpublished {
    color: #757575;
}

#site-tree .jstree-wrapper {
    position: absolute;
    left: 0;
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #e5e5e5;
    z-index: auto;
}

#site-tree .jstree-wrapper:hover,
#site-tree .jstree-wrapper.hover,
#site-tree .jstree-wrapper:focus,
#site-tree .jstree-wrapper:active,
#site-tree .jstree-wrapper.active {
    background: #ffffd6;
}

#site-tree span,
#site-tree .actions,
#site-tree .preview  {
    position: absolute;
    top: 0;
    float: left;
    width: auto;
    height: 30px;
    line-height: 30px;
    font-size: 11px;
}

#site-tree .show {
    display: block;
}

#site-tree .hide {
    display: none;
}

#site-tree .module {
    left: 53.8%;
}

#site-tree .user {
    left: 65.6%;
}

#site-tree .lastupdate {
    left: 77.6%;
}

#site-tree .preview {
    left: 70.6%;
    background: url(../images/content_manager_preview.png) no-repeat left center;
    padding: 0 0 0 16px !important;
}

#site-tree .actions {
    right: 10px;
    background: url(../images/content_manager_actions_plus.png) no-repeat left center;
    padding: 0 13px 0 16px;
}

#content-manager.shrunk #site-tree .actions {
    width: 12px;
    padding: 0;
}

#site-tree .actions:hover,
#site-tree .actions:focus,
#site-tree .actions:active {
    cursor: pointer;
}

#site-tree .actions div {
    position: absolute;
    right: 0;
    top: 0;
    width: 13px;
    height: 100%;
    background: url(../images/content_manager_actions_arrow.png) no-repeat right center;
}

#site-tree .actions-expanded {
    display: block;
    position: absolute;
    top: 23px;
    right: 9px;
    z-index: 11;
}

#site-tree .actions-expanded ul {
    float: left;
    background: #ffffff;
    padding: 12px 15px;
    border:  1px solid #d3d3d3;
    margin: 0;
    -moz-box-shadow: 2px 4px 5px rgba(153,153,153,0.5),-2px 4px 5px rgba(153,153,153,0.5);
    -o-box-shadow: 2px 4px 5px rgba(153,153,153,0.5),-2px 4px 5px rgba(153,153,153,0.5);
    -webkit-box-shadow: 2px 4px 5px rgba(153,153,153,0.5),-2px 4px 5px rgba(153,153,153,0.5);
    box-shadow: 2px 4px 5px rgba(153,153,153,0.5),-2px 4px 5px rgba(153,153,153,0.5);
    -ms-filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3,Direction=135,Color='#999999');
}

#site-tree .actions-expanded ul li {
    float: left;
    clear: both;
    line-height: 16px;
    padding: 0 0 0 19px;
    background-repeat: no-repeat;
    background-position: left center;
    margin: 3px 0 3px 0;
    display: block !important;
}

#site-tree .actions-expanded ul li.activate {
    background-image: url(../images/content_manager_actions_activate.png);
}

#site-tree .actions-expanded ul li.deactivate {
    background-image: url(../images/content_manager_actions_deactivate.png);
}

#site-tree .actions-expanded ul li.show {
    background-image: url(../images/content_manager_actions_show.png);
}

#site-tree .actions-expanded ul li.hide {
    background-image: url(../images/content_manager_actions_hide.png);
}

#site-tree .actions-expanded ul li.publish {
    background-image: url(../images/content_manager_actions_publish.png);
}

#site-tree .actions-expanded ul li.delete {
    background-image: url(../images/content_manager_actions_delete.png);
}

#site-tree .actions-expanded ul li:hover,
#site-tree .actions-expanded ul li:focus,
#site-tree .actions-expanded ul li:active {
    cursor: pointer;
    color: #757575;
}

#site-tree .jstree-icon {
    float: left;
    margin-top: 6px;
    cursor: pointer;
    position: relative;
    clear: none;
}

#site-tree .jstree-checkbox {
    float: left;
    position: absolute;
    left: -38px;
    margin-top: 7px;
}
*+html #site-tree .jstree-checkbox {
    margin: 0;
}

#site-tree .publishing {
    width: 13px;
    height: 14px;
    background-image: url(../../../template/ascms/images/publishing-unlocked.png);
    background-position: 0 -4px;
    margin-top: 8px;
}
#site-tree .publishing.locked {
    background-image: url(../../../template/ascms/images/publishing-locked.png);
}
#site-tree .publishing.unpublished {
    background-position: -5px -5px;
}
#site-tree .publishing.unpublished.locked {
    background-position: -4px -4px;
}
#site-tree .publishing.draft {
    background-position: -5px -34px;
}
#site-tree .publishing.draft.locked {
    background-position: -4px -33px;
}
#site-tree .publishing.draftwait {
    background-position: -34px -34px;
}
#site-tree .publishing.draftwait.locked {
    background-position: -33px -33px;
}
#site-tree .publishing.published {
    background-position: -5px -63px; 
}
#site-tree .publishing.published.locked {
    background-position: -4px -62px; 
}
#site-tree .publishing.publishedwait {
    background-position: -34px -63px;
}
#site-tree .publishing.publishedwait.locked {
    background-position: -33px -62px;
}

#site-tree .page {
    margin-top: 7px;
    height: 17px;
    width: 20px;
}
#site-tree .page.active {
    background-image: url(../../../template/ascms/images/page-active.png);
}
#site-tree .page.hidden, #site-tree .page {
    background-image: url(../../../template/ascms/images/page-hidden.png);
}
#site-tree .page {
    background-position: 1px -6px;
}
#site-tree .page.use_fallback {
    background-position: 1px -151px;
}
#site-tree .page.protected {
    background-position: -33px -6px;
}
#site-tree .page.protected.use_fallback {
    background-position: -33px -151px;
}
#site-tree .page.home {
    background-position: 1px -35px;
}
#site-tree .page.home.use_fallback {
    background-position: 1px -209px;
}
#site-tree .page.home.protected {
    background-position: -33px -35px;
}
#site-tree .page.home.protected.use_fallback {
    background-position: -33px -209px;
}
#site-tree .page.app {
    background-position: 1px -64px;
}
#site-tree .page.app.use_fallback {
    background-position: 1px -180px;
}
#site-tree .page.app.protected {
    background-position: -33px -64px;
}
#site-tree .page.app.protected.use_fallback {
    background-position: -33px -180px;
}
#site-tree .page.redir {
    background-position: 1px -93px;
}
#site-tree .page.redir.use_fallback {
    background-position: 1px -122px;
}
#site-tree .page.redir.protected {
    background-position: -33px -93px;
}
#site-tree .page.redir.protected.use_fallback {
    background-position: -33px -122px;
}

#content-manager.shrunk #site-structure .translation,
#content-manager.shrunk #site-structure .module,
#content-manager.shrunk #site-structure .preview,
#content-manager.shrunk #site-structure .user,
#content-manager.shrunk #site-structure .lastupdate {
    display: none;
}

#content-manager.shrunk #site-structure th.page {
    width: 100%;
}


#page,
#page #cm_page {
    float: left;
    width: 100%;
}

#page #sidebar_toggle {
    float: left;
    width: 21px;
    height: 31px;
    background-color: #ececec;
    padding: 0;
    border-right: 1px solid #ffffff;
    position: relative;
    margin-bottom: -31px;
    cursor: pointer;
}

#page #sidebar_toggle:hover,
#page #sidebar_toggle:focus,
#page #sidebar_toggle:active {
    background-color: #85be0b;
}

#page #sidebar_toggle.hide {
    background-image: url(../images/sidebar_hide.png);
    background-repeat: no-repeat;
    background-position: center center;
}

#page #sidebar_toggle.hide:hover,
#page #sidebar_toggle.hide:focus,
#page #sidebar_toggle.hide:active {
    background-image: url(../images/sidebar_hide_hover.png);
}

#page #sidebar_toggle.show {
    background-image: url(../images/sidebar_show.png);
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: 0;
}

#page #sidebar_toggle.show:hover,
#page #sidebar_toggle.show:focus,
#page #sidebar_toggle.show:active {
    background-image: url(../images/sidebar_show_hover.png);
}

#page #cm-tabs {
    position: static;
    float: left;
    width: 100%;
    height: auto !important;
    min-height: 31px;
    height: 31px;
    background: #ececec;
    margin: 0 0 1px 0;
    padding: 0;
}

#page #cm-tabs li:first-child {
    margin-left: 22px;
}

#page #cm-tabs li {
    position: inherit;
    float: left;
    width: auto;
    background: transparent;
    padding: 0;
    border: 0;
    margin: 0;
    list-style-type: none;
}

#page #cm-tabs li a,
.navi a {
    float: left;
    width: auto;
    height: 18px;
    line-height: 18px;
    border-right: 1px solid #ffffff;
    padding: 6.5px 13px 6.5px 13px;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    color: #444444;
}

#page #cm-tabs a:hover,
#cm-tabs a:focus,
#cm-tabs a:active,
#cm-tabs li.ui-state-active a,
#cm-tabs li.ui-state-selected a,
.navi a:hover,
.navi a:focus,
.navi a:active {
    background: #85be0b;
    color: #ffffff !important;
    cursor: pointer;
}

#content-manager .navi {
    display: block !important;
}

#content-manager.shrunk .navi {
    display: none !important;
}

#buttons {
    float: left;
    width: 100%;
    padding: 10px 0 0 0;
    border-top: 1px solid #e5e5e5;
    margin: 20px 0 0 0;
}

#buttons input,
#buttons a.button {
    float: left;
    width: auto;
    margin: 0 5px 0 0;
    cursor: default;
}

#buttons a.button {
    height: 18px;
    line-height: 18px !important;
}

#additionalInfo{
    display:none;
}
.additionalInfo{
    float: left;
    overflow: hidden;
    width: 880px;
    padding: 0 0 10px;
}
.additionalInfo h2{
    font-weight: bold;
    font-size: 13px;
    padding: 0 6px 7px 0;
    margin: 17px 0;
    border-bottom: 1px solid #aaa;
    width: 860px;
}
.additionalInfo label{
    cursor: pointer;
    padding: 0 0 10px
}
.additionalInfo div.twoCols{
    margin: 0 30px 0 0;
    overflow: hidden;
    width: 340px;
    float: left;
    height: 30px;
}

div.date img{
    position:relative;
    left: 3px;
    top: 1px;
}
.additionalInfo label.twoCols{
    display:block;
    width: 150px;
    line-height: 22px;
    float: left;
}
.additionalInfo  input.twoCols{
    display:block;
    float: left;
    width: 160px;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
}

.additionalInfo div.oneCol{
    
}
.additionalInfo label.oneCol{
    display:block;
    width: 150px;
    float:left;
}
.additionalInfo input.oneCol{
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    float:left;
    display:block;
    width: 702px;
}
.additionalInfo select.oneCol{
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    float:left;
    display:block;
    width: 702px;
}


.additionalInfo input.oneCol[type="checkbox"]{
    width: 20px;
}

.dontShow{
    display: none;
}
.additionalInfo input{
    height: 30px;
    line-height: 30px;
    width: 808px;
    margin: 0 0 10px;
    padding: 0 0 0 5px;
    font-size: 18px;
    border: 1px solid #aaa;
}

.headerInfo input {
    width: 300px;
}

#showHideInfo{
    background: #f1f1f1 url(../images/dbl_arrow.png) 50% -29px no-repeat;
    float: right;
    position: relative;
    left: 0;
    height: 32px;
    overflow: hidden;
    text-indent: -1000px;
    width: 40px
}

/* 2.2.1 Type Tabs */
#type .type_hidable {
    display: none;
}

#titles,
#type,
#ckeditor,
#metadata,
#scheduled_publishing,
#themes,
#navigation {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}

#page .toggle,
#page .checkbox,
#page .checkbox_style {
    float: left;
    clear: both;
    display: block;
    width: 100%;
    height: 24px;
    line-height: 24px;
    padding: 3px 0;
    margin: 10px 0 8px 0;
    background: #0a85c8;
    color: #ffffff !important;
    cursor: pointer;
}

#page .toggle .indicator,
#page .checkbox .indicator,
#page .checkbox_style .indicator {
    float: left;
    width: 22px;
    height: 24px;
}

#page .checkbox .indicator,
#page .checkbox_style .indicator {
    margin: 0;
    outline: 0;
    cursor: pointer;
}

#page .toggle.open .indicator {
    background: url(../images/content_manager_toggle_open.png) no-repeat center center;
}

#page .toggle.closed .indicator {
    background: url(../images/content_manager_toggle_closed.png) no-repeat center center;
}

#page .toggle label,
#page .checkbox label {
    cursor: pointer;
}

#page .checkbox_style,
#page .checkbox_style .indicator,
#page .checkbox_style label {
    cursor: default;
}

#page .container {
    float: left;
    margin: 0 0 0 22px;
}

#page .special_form_style input,
#page .special_form_style textarea,
#page .special_form_style select {
    float: left;
    clear: both;
    margin: 0 0 8px 0;
}

#page .special_form_style label {
    float: left;
    clear: both;
    width: auto;
    margin: 0 0 3px 0;
}

#page .container .info {
    float: left;
    width: 13px;
    height: 12px;
    background: url(../images/content_manager_info.png) no-repeat center center;
}

#page .container .info.input {
    margin: 7px 6px;
}

#page .container .info.label {
    margin: 2px 20px 2px 3px;
}

#page .container input {
    width: 566px;
}

#page .container textarea {
    width: 566px;
    height: 200px;
}

#page .container select {
    width: 574px;
}

#page .container .ms2side__div {
    padding: 0;
}

#page .container .ms2side__options p {
    float: left;
    width: 18px;
    margin: 0 0 2px 0;
    background: url(../images/button_bg.png) repeat-x left top #dadada;
    border: 1px solid #bbbbbb;
    padding: 2px 10px;
    color: #444444;
    text-shadow: 1px 1px #ffffff;
    cursor: default;
}

#page .container .ms2side__select select {
    width: 280px;
    height: 94px;
}

#page #titles_container #types {
    float: left;
    clear: both;
    width: auto;
    margin: 5px 0 3px 0;
}

#page #titles_container #types input[type=radio] {
    float: left;
    clear: none;
    width: auto;
    margin: 0 3px 0 0;
}

#page #titles_container #types label {
    float: left;
    clear: none;
}

#page #type_container {
    width: 100%;
    margin: 0;
}

#page #type_container .special_form_style {
    margin: 0 0 0 22px;
}

#page #type_container #cm_ckeditor {
    width: 100%;
    height: 700px;
    padding: 0;
}

#page #type_container #page_target {
    float: left;
    clear: both;
    width: 453px;
    margin: 0 3px 0 0;
}

#page #type_container #targetBrowseButton {
    float: left;
}

#page #type_container #page_application {
    float: left;
    clear: both;
    width: 144px;
    padding: 2px;
    margin: 0 3px 0 0;
}

#page #type_container #page_application_area {
    float: left;
    clear: none;
    width: 418px;
}

#page #type_container br {
    clear: both;
}

#page #type_container label {
    float: left;
    clear: none;
    min-width: 145px;
    margin: 0 3px 3px 0;
}

#page #protection_frontend_container,
#page #protection_backend_container {
    width: 620px;
}

#page #scheduled_publishing_container label {
    float: left;
    width: auto;
    height: 24px;
    line-height: 24px;
    margin: 0 3px 0 0;
}

#page #scheduled_publishing_container input {
    float: left;
    width: 150px;
    margin: 0 8px 0 0;
}

#page #navigation_container #page_aliases {
    float: left;
    clear: both;
    width: auto;
    margin: 0 0 8px 0;
}

#page #navigation_container #page_aliases label {
    margin: 0;
}

#page #navigation_container #page_aliases .page_alias {
    float: left;
    clear: both;
    width: auto;
}

#page #navigation_container #page_aliases .page_alias span {
    float: left;
    clear: both;
    height: 24px;
    line-height: 24px;
    width: auto;
    margin: 0 4px 2px 0;
}

#page #navigation_container #page_aliases .page_alias input {
    clear: none;
    width: 200px;
    margin: 0 0 2px 0;
}
#page #navigation_container #page_aliases .page_alias input.warning {

    border-color: #ff0000;
}

#page_history {
    float: left;
    margin: 11px 0 0 0;
    padding-left: 0 !important;
    width: 100%;
}

#page_history .adminlist {
    bottom: 0;
}

#page_history .historyLoad {
    padding: 0 0 0 21px;
    background: url(../images/content_manager_restore.png) no-repeat left center;
}

#page_history .historyPreview {
    padding: 0 0 0 18px;
    background: url(../images/content_manager_preview.png) no-repeat left center;
}


/* 3) Helpers */
.t{
    padding: 0
}
.btn{
    background: url(../images/button_bg.png) top left repeat-x;
    border: 1px solid #bbb;
    color: #333;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    text-shadow: #fff 1px 1px;
    padding: 0 10px
}
.cxDialog {
    position: absolute;
    top: 0 !important;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    border-left: 1px solid #333;
    text-align: center;
}

.cxDialog.noTitle .ui-dialog-titlebar {
    display: none;
}

.cxDialog .error {
    color: #ff0000;
}

.cxDialog #loading {
    float: none;
    margin: 0 auto;
    width: 95px !important;
    height: 16px !important;
}

.cxDialog #loading img {
    float: left;
}

.cxDialog #loading span {
    float: left;
    margin: 0 0 0 5px;
    line-height: 16px;
}