/* CONTENTS:

  1 Reset
  2 Layout
    2.1 Fonts
    2.2 Content Manager
    2.2.1 Type Tab
  3 Helpers
  4 Chosen Plugin
 */

/* 1) Reset */
body{ font-family: Arial, sans-serif;}
ol, ul{ list-style: none }
table{ border-collapse: collapse; border-spacing: 0; padding: 0; margin: 0; }
html{ overflow-y: scroll; }
.clearfix:before, .clearfix:after{ content: "\0020"; display: block; height: 0; overflow: hidden }
.clearfix:after{ clear: both }
.clearfix{ zoom: 1 }
/* Reset END */

/* 2 Layout */
/* 2.1 Fonts */
h1{ font-size: 20px }

/* 2.2 Content Manager */
#content-manager {
    float: left;
    width: 100%;
    height: 100%;
    background: url(../images/subnavigation_level_1.jpg) repeat-x left top;
}

#content-manager.shrunk {
    background: transparent;
}

#content-manager .left {
    display: block;
    float: left;
    width: 100%;
    padding: 0;
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    margin: 0;
}

#content-manager .middle {
    display: none;
    float: none;
    vertical-align: top;
}

#content-manager .middle #sidebar_toggle {
    float: left;
    width: 10px;
    height: 31px;
    padding: 0 4px;
    background-color: #ececec;
    margin: 0 10px;
    cursor: pointer;
}

#content-manager .middle #sidebar_toggle:hover,
#content-manager .middle #sidebar_toggle:focus,
#content-manager .middle #sidebar_toggle:active {
    background-color: #85be0b;
}

#content-manager .middle #sidebar_toggle.hide {
    background-image: url(../images/sidebar_hide.png);
    background-repeat: no-repeat;
    background-position: center center;
}

#content-manager .middle #sidebar_toggle.show {
    background-image: url(../images/sidebar_show.png);
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: 0;
}

#content-manager .right {
    display: none;
    float: none;
}

#content-manager.shrunk .left {
    width: 352px;
    border: 0;
}

#content-manager.shrunk .middle {
    display: table-cell;
}

#content-manager.shrunk .right {
    display: table-cell;
    width: 100%;
}

#content-manager .left table.adminlist {
    position: static;
    bottom: 0;
    margin: 11px 0 0 0;
}

#cm_page {
    float: left;
    width: 100%;
}

.ie7 #input1{ float:left; }
.ie7 .space{ margin-bottom: 10px; }

#page input {
    width: 566px;
}

#page textarea {
    width: 566px;
    height: 200px;
}

#page select {
    width: 574px;
}

#page .special_form_style input,
#page .special_form_style textarea,
#page .special_form_style select {
    float: left;
    clear: both;
    margin: 0 0 8px 0;
}

#page .special_form_style img.tipmessage {
    float: left;
    width: auto;
    margin: 6px 0 0 6px;
}

#page .special_form_style label {
    float: left;
    clear: both;
    width: auto;
    margin: 0 0 3px 0;
}

#page #titles.special_form_style input,
#page #titles.special_form_style textarea,
#page #titles.special_form_style select {
    padding: 6px;
    font-size: 16px;
}

#page #titles.special_form_style input,
#page #titles.special_form_style textarea {
    width: 560px;
}

#page #titles.special_form_style select {
    width: 574px;
}

#page #titles.special_form_style img.tipmessage {
    margin: 11px 0 0 6px;
}

#page #navigation.special_form_style #page_aliases {
    float: left;
    clear: both;
    width: auto;
    margin: 0 0 8px 0;
}

#page #navigation.special_form_style #page_aliases label {
    margin: 0;
}

#page #navigation.special_form_style #page_aliases .page_alias {
    float: left;
    clear: both;
    width: auto;
}

#page #navigation.special_form_style #page_aliases span {
    float: left;
    clear: both;
    height: 24px;
    line-height: 24px;
    width: auto;
    margin: 0 4px 2px 0;
}

#page #navigation.special_form_style #page_aliases input {
    clear: none;
    width: 200px;
    margin: 0 0 2px 0;
}

#page #navigation.special_form_style #page_aliases input.warning {
    border-color: #ff0000;
}

#ckeditor {
    width: 101.7%;
    margin: 10px 0 10px -22px !important;
}

#ckeditor textarea {
    width: 99.5%;
    height: 694px;
}

#type input.radio {
    float: left;
    width: 20px;
    border: none;
}
#type label {
    float: left;
    min-width: 150px;
}

#page #page_application {
    width: 143px;
}

#page #page_application_area {
    width: 436px;
}

#site-language .chzn-select{
    visibility: hidden;
}

#content-manager.shrunk .chzn-container {
    float: left;
    width: 352px !important;
    position: relative;
    z-index: 999;
}

#content-manager.shrunk .chzn-container .chzn-results {
    width: 342px !important;
}

#site-structure {
    position: relative;
    float: left;
    width: 100%;
    overflow: visible;
}

*+html #site-structure {
    z-index: 0;
}

#content-manager.shrunk #site-structure {
    width: 350px;
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
}

#site-structure li select {
    border: none;
    padding: 2px;
    display: none;
    position: absolute;
    left: 17%;
}

#site-structure li a.delete {
    border: none;
    padding: 2px;
    display: none;
    position: absolute;
    left: 22%;
}

#subnavbar_level1 {
    margin: 0 !important;
}

.toplevel{
    background: url(../images/contrexx_icon.png) no-repeat scroll 25px 3px transparent
}

#page {
    float: left;
    width: 100%;
    overflow: visible;
    position: relative;
    background: transparent;
}

#site-tree{
    padding: 0 0 0 30px;
}

#site-tree ul {
    margin: 0;
}

#site-tree li a ins {
    width: 18px;
    height: 18px;
    overflow: hidden;
    float: left;
}

#site-tree div.actions, div.actions-expanded {
    position: absolute;
}

#site-tree div.actions {
    bottom: 0;
    right: 10px;
    height: 29px;
    line-height: 29px;
    background-image: url(../images/actions-plus.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 16px;
}

#site-tree div.actions-expanded {
    top: -6px;
    right: 3px;
    z-index: 11;
}

#site-tree div.actions-expanded ul {
    background: #ffffff;
    padding: 3px 6px;
    border:  1px solid #d3d3d3;
    margin: 0;
    -moz-box-shadow: 2px 4px 5px rgba(153,153,153,0.5),-2px 4px 5px rgba(153,153,153,0.5);
    -o-box-shadow: 2px 4px 5px rgba(153,153,153,0.5),-2px 4px 5px rgba(153,153,153,0.5);
    -webkit-box-shadow: 2px 4px 5px rgba(153,153,153,0.5),-2px 4px 5px rgba(153,153,153,0.5);
    box-shadow: 2px 4px 5px rgba(153,153,153,0.5),-2px 4px 5px rgba(153,153,153,0.5);
    -ms-filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3,Direction=135,Color='#999999');
}

#site-tree div.actions-expanded ul li {
    margin: 0;
    text-align: right;
}

#site-tree div.actions-expanded ul li.first {
    border-top: none;
}

#site-tree div.actions-expanded ul li:hover {
    margin: 0;
    cursor: pointer;
}

#site-tree:hover div.actions {
    display: inline;
    cursor: pointer;
}

#site-tree li ins.jstree-icon {
    cursor: pointer;
}

#site-tree li a span.module {
    position: absolute;
    left: 38%;
}

#site-tree li a.preview {
    position: absolute;
    left: 51.7%;
    bottom: 0;
    background: url(../images/content_manager_preview.jpg) no-repeat left center;
    padding-left: 16px !important;
}

#site-tree li a span.user {
    position: absolute;
    left: 65.6%;
}

#site-tree li a span.lastupdate {
    position: absolute;
    left: 79.3%;
}

#content-manager.shrunk #site-structure .translation,
#content-manager.shrunk #site-structure .module,
#content-manager.shrunk #site-structure .preview,
#content-manager.shrunk #site-structure .user,
#content-manager.shrunk #site-structure .lastupdate {
    display: none;
}

#content-manager.shrunk #site-structure th.page {
    width: 100%;
}

*+html #site-tree li a span {
    line-height: 17px;
}

#site-tree ins.publishing {
    width: 13px;
    height: 14px;
    background-image: url(../../../template/ascms/images/publishing-unlocked.png);
    background-position: 0 -4px;
    margin-top: 6px;
}
#site-tree ins.publishing.locked {
    background-image: url(../../../template/ascms/images/publishing-locked.png);
}
#site-tree ins.publishing.unpublished {
    background-position: -5px -5px;
}
#site-tree ins.publishing.unpublished.locked {
    background-position: -4px -4px;
}
#site-tree ins.publishing.draft {
    background-position: -5px -34px;
}
#site-tree ins.publishing.draft.locked {
    background-position: -4px -33px;
}
#site-tree ins.publishing.draftwait {
    background-position: -34px -34px;
}
#site-tree ins.publishing.draftwait.locked {
    background-position: -33px -33px;
}
#site-tree ins.publishing.published {
    background-position: -5px -63px; 
}
#site-tree ins.publishing.published.locked {
    background-position: -4px -62px; 
}
#site-tree ins.publishing.publishedwait {
    background-position: -34px -63px;
}
#site-tree ins.publishing.publishedwait.locked {
    background-position: -33px -62px;
}

#site-tree ins.page {
    margin-top: 5px;
    height: 17px;
    width: 20px;
}
#site-tree ins.page.active {
    background-image: url(../../../template/ascms/images/page-active.png);
}
#site-tree ins.page.hidden, #site-tree ins.page {
    background-image: url(../../../template/ascms/images/page-hidden.png);
}
#site-tree ins.page {
    background-position: 1px -6px;
}
#site-tree ins.page.use_fallback {
    background-position: 1px -151px;
}
#site-tree ins.page.protected {
    background-position: -33px -6px;
}
#site-tree ins.page.protected.use_fallback {
    background-position: -33px -151px;
}
#site-tree ins.page.home {
    background-position: 1px -35px;
}
#site-tree ins.page.home.use_fallback {
    background-position: 1px -209px;
}
#site-tree ins.page.home.protected {
    background-position: -33px -35px;
}
#site-tree ins.page.home.protected.use_fallback {
    background-position: -33px -209px;
}
#site-tree ins.page.app {
    background-position: 1px -64px;
}
#site-tree ins.page.app.use_fallback {
    background-position: 1px -180px;
}
#site-tree ins.page.app.protected {
    background-position: -33px -64px;
}
#site-tree ins.page.app.protected.use_fallback {
    background-position: -33px -180px;
}
#site-tree ins.page.redir {
    background-position: 1px -93px;
}
#site-tree ins.page.redir.use_fallback {
    background-position: 1px -122px;
}
#site-tree ins.page.redir.protected {
    background-position: -33px -93px;
}
#site-tree ins.page.redir.protected.use_fallback {
    background-position: -33px -122px;
}


#site-tree li a ins.jstree-checkbox {
    position: absolute;
    left: 10px;
    margin-top: 5px;
}
*+html #site-tree li a ins.jstree-checkbox {
    margin: 0;
}
#site-tree div.jstree-wrapper {
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    margin-top: 28px;
    border-bottom: 1px solid #e5e5e5;
    z-index: auto;
}

#cm-tabs {
    position: static;
    float: left;
    width: 100%;
    height: auto !important;
    min-height: 31px;
    height: 31px;
    background: #ececec;
    margin: 0 0 1px 0;
    padding: 0;
}

#cm-tabs li {
    position: inherit;
    float: left;
    width: auto;
    background: transparent;
    padding: 0;
    border: 0;
    margin: 0;
    list-style-type: none;
}

#cm-tabs li a,
.navi a {
    float: left;
    width: auto;
    height: 18px;
    line-height: 18px;
    border-right: 1px solid #ffffff;
    padding: 6.5px 13px 6.5px 13px;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    color: #444444;
}

#cm-tabs a:hover,
#cm-tabs a:focus,
#cm-tabs a:active,
#cm-tabs li.ui-state-active a,
#cm-tabs li.ui-state-selected a,
.navi a:hover,
.navi a:focus,
.navi a:active {
    background: #85be0b;
    color: #ffffff;
    cursor: pointer;
}

#content-manager .navi {
    display: block !important;
}

#content-manager.shrunk .navi {
    display: none !important;
}

.ui-tabs .ui-tabs-panel {
    padding: 0 0 0 22px !important;
}

.ui-tabs #page_history.ui-tabs-panel {
    float: left;
    margin: 11px 0 0 0;
    padding-left: 0 !important;
    width: 100%;
}

.ui-tabs #page_history.ui-tabs-panel .adminlist {
    bottom: 0;
}

#buttons {
    float: left;
    width: 100%;
    padding: 10px 0 0 0;
    border-top: 1px solid #e5e5e5;
    margin: 20px 0 0 0;
}

#buttons input,
#buttons a.button {
    float: left;
    width: auto;
    margin: 0 5px 0 0;
    cursor: default;
}

#buttons a.button {
    height: 18px;
    line-height: 18px !important;
}

#additionalInfo{
    display:none;
}
.additionalInfo{
    float: left;
    overflow: hidden;
    width: 880px;
    padding: 0 0 10px;
}
.additionalInfo h2{
    font-weight: bold;
    font-size: 13px;
    padding: 0 6px 7px 0;
    margin: 17px 0;
    border-bottom: 1px solid #aaa;
    width: 860px;
}
.additionalInfo label{
    cursor: pointer;
    padding: 0 0 10px
}
.additionalInfo div.twoCols{
    margin: 0 30px 0 0;
    overflow: hidden;
    width: 340px;
    float: left;
    height: 30px;
}

div.date img{
    position:relative;
    left: 3px;
    top: 1px;
}
.additionalInfo label.twoCols{
    display:block;
    width: 150px;
    line-height: 22px;
    float: left;
}
.additionalInfo  input.twoCols{
    display:block;
    float: left;
    width: 160px;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
}

.additionalInfo div.oneCol{
    
}
.additionalInfo label.oneCol{
    display:block;
    width: 150px;
    float:left;
}
.additionalInfo input.oneCol{
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    float:left;
    display:block;
    width: 702px;
}
.additionalInfo select.oneCol{
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    float:left;
    display:block;
    width: 702px;
}


.additionalInfo input.oneCol[type="checkbox"]{
    width: 20px;
}

.dontShow{
    display: none;
}
.additionalInfo input{
    height: 30px;
    line-height: 30px;
    width: 808px;
    margin: 0 0 10px;
    padding: 0 0 0 5px;
    font-size: 18px;
    border: 1px solid #aaa;
}

.headerInfo input {
    width: 300px;
}

#showHideInfo{
    background: #f1f1f1 url(../images/dbl_arrow.png) 50% -29px no-repeat;
    float: right;
    position: relative;
    left: 0;
    height: 32px;
    overflow: hidden;
    text-indent: -1000px;
    width: 40px
}

/* 2.2.1 Type Tabs */
.info {
    width: 100%;
    color: #a2a2a2;
    font-size: 8pt;
    display: block;
    margin-bottom: 5px;
    float: left;
    clear: both;
}

#type .type_hidable {
    display: none;
}

#page #toggle_scheduled_publishing {
    width: 16px;
    float: left;
}

#scheduled_publishing input {
    width: 150px;
    display: inline;
}
.toggle_indicator,
.toggle_indicator_style_fix {
    position: relative;
    clear: both;
    float: left;
    width: 22px !important;
    height: 28px !important;
    line-height: 28px;
    margin: 10px 0 0 -22px;
    background-color: #0a85c8 !important;
    background-repeat: no-repeat !important;
    cursor: pointer;
}

.toggle_indicator_style_fix input[type=checkbox] {
    position: absolute;
    top: 7px;
    left: 5px;
    width: 13px !important;
    height: 13px !important;
    line-height: 13px;
    background: none;
    padding: 0 !important;
    margin: 0;
}

.toggle_open {
    background-image: url(../images/content_manager_switching_content_open.png);
    background-position: center center;
}

.toggle_closed {
    background-image: url(../images/content_manager_switching_content_closed.png);
    background-position: center center;
}

.toggle,
.toggle_checkbox {
    float: left;
    display: block;
    width: 100%;
    height: 22px;
    line-height: 22px;
    padding: 3px 0;
    margin: 10px 0 8px 0;
    background: #0A85C8;
    color: #ffffff !important;
}

.toggle label,
.toggle_checkbox label {
    cursor: pointer;
    color: #ffffff;
}

#titles,
#type,
#ckeditor,
#metadata,
#scheduled_publishing,
#themes,
#navigation {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}

#page .ms2side__select select {
    width: 267px;
}
/* 3) Helpers */
.t{
    padding: 0
}
.btn{
    background: url(../images/button_bg.png) top left repeat-x;
    border: 1px solid #bbb;
    color: #333;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    text-shadow: #fff 1px 1px;
    padding: 0 10px
}
.cxDialog {
    position: absolute;
    border: 1px solid #333;
    text-align: center;
}
.cxDialog.noTitle .ui-dialog-titlebar {
    height: 0px;
    display: none;
}