<!-- START module_popu_settings.html -->
	<form name="popupSettingsForm" action="index.php?cmd=popup&amp;act=settings" method="post">
		<table cellspacing="0" cellpadding="3" width="100%" border="0" class="adminlist">
			<tbody>
				<tr>
					<th colspan="2">{TXT_POPUP_SETTINGS}</th>
				</tr>
				<tr class="row2">
					<td width="15%">{TXT_POPUP_BORDER_COLOR}</td>
					<td width="85%"><input type="text" name="popupSettings[border_color]" value="{POPUP_BORDER_COLOR}" size="50" /></td>
				</tr>
				<tr class="row1">
					<td width="15%">{TXT_POPUP_BORDER_SIZE}</td>
					<td width="85%"><input type="text" name="popupSettings[border_size]" value="{POPUP_BORDER_SIZE}" size="50" /></td>
				</tr>
				<tr class="row2">
					<td width="15%">{TXT_POPUP_DEFAULT_TOP}</td>
					<td width="85%"><input type="text" name="popupSettings[default_top]" value="{POPUP_DEFAULT_TOP}" size="50" /></td>
				</tr>
				<tr class="row1">
					<td width="15%">{TXT_POPUP_DEFAULT_LEFT}</td>
					<td width="85%"><input type="text" name="popupSettings[default_left]" value="{POPUP_DEFAULT_LEFT}" size="50" /></td>
				</tr>
				<tr class="row2">
					<td width="15%">{TXT_POPUP_DEFAULT_WIDTH}</td>
					<td width="85%"><input type="text" name="popupSettings[default_width]" value="{POPUP_DEFAULT_WIDTH}" size="50" /></td>
				</tr>
				<tr class="row1">
					<td width="15%">{TXT_POPUP_DEFAULT_HEIGHT}</td>
					<td width="85%"><input type="text" name="popupSettings[default_height]" value="{POPUP_DEFAULT_HEIGHT}" size="50" /></td>
				</tr>
			</tbody>
		</table>
		<br />
		<table cellspacing="0" cellpadding="3" width="100%" border="0" class="adminlist">
			<tbody>
				<tr>
					<th colspan="2">{TXT_POPUP_PLACEHOLDER}</th>
				</tr>
				<tr class="row3">
					<td colspan="2" width="100%">{TXT_POPUP_PLACEHOLDER_DESC}</td>
				</tr>
				<tr class="row2">
					<td width="15%">[[POPUP_JS_FUNCTION]]</td>
					<td width="85%">{TXT_POPUP_JS_FUNCTION}</td>
				</tr>
				<tr class="row1">
					<td width="15%">[[POPUP_ONLOAD]]</td>
					<td width="85%">{TXT_POPUP_ONLOAD}</td>
				</tr>
				<tr class="row2">
					<td width="15%">[[POPUP_LAYER]]</td>
					<td width="85%">{TXT_POPUP_LAYER}</td>
				</tr>
			</tbody>
		</table>
		<br />
		<input type="submit" name="saveSettings" value="{TXT_POPUP_SAVE}" />
	</form>
<!-- END module_popu_settings.html -->
