<div id="shop">
    <!-- BEGIN core_message -->
    <div class="{MESSAGE_CLASS} text-danger">{MESSAGE_TEXT}</div>
    <!-- END core_message -->
    <div id="shop_payment">
        <form role="form" action="index.php?section=Shop&amp;cmd=payment" name="shopForm" method="post">
            <div class="payment table-responsive">
                <table class="table" summary="" cellspacing="0" width="100%">
                    <tr>
                        <th colspan="3" align="left" style="font: bold 16px/24px 'Open Sans',Arial,Helvetica,sans-serif;">{TXT_PRODUCTS}</th>
                    </tr>
                    <tr class="row1">
                        <td width="40%">
                            {TXT_TOTALLY_GOODS}&nbsp;{SHOP_TAX_PRODUCTS_TXT}
                        </td>
                        <td width="40%">
                            {SHOP_TOTALITEM}&nbsp;{TXT_PRODUCT_S}
                        </td>
                        <td width="20%" style="text-align: right;">
                            {SHOP_TOTALPRICE}&nbsp;{SHOP_UNIT}
                        </td>
                    </tr>
                    <!-- BEGIN shopCouponTotal -->
                    <tr valign="top" class="row1">
                        <td>
                            {SHOP_DISCOUNT_COUPON_TOTAL}
                        </td>
                        <td>&nbsp;</td>
                        <td style="text-align: right;">
                            {SHOP_DISCOUNT_COUPON_TOTAL_AMOUNT}&nbsp;{SHOP_UNIT}
                        </td>
                    </tr>
                    <!-- END shopCouponTotal -->
                    <!-- BEGIN shopShipment -->
                    <tr class="row3 active">
                        <td>
                            {TXT_SHIPPING_METHODS}
                            <!-- BEGIN shopWeight -->
                            &nbsp;({TXT_TOTAL_WEIGHT}&nbsp;{SHOP_TOTAL_WEIGHT})
                            <!-- END shopWeight -->
                        </td>
                        <td>
                            {SHOP_SHIPMENT_MENU}
                            <!-- BEGIN no_shipper -->
                            &nbsp;{TXT_SHIPPER_NO_GOOD}
                            <!-- END no_shipper -->
                        </td>
                        <td style="text-align: right;">
                            {SHOP_SHIPMENT_PRICE}&nbsp;{SHOP_UNIT}
                        </td>
                    </tr>
                    <!-- END shopShipment -->
                    <!-- BEGIN shopPayment -->
                    <tr class="row3 active">
                        <td>
                            {TXT_PAYMENT_TYPES}
                        </td>
                        <td>
                            <select name="paymentId" onchange="document.forms['shopForm'].submit();">
                                <option value="">{TXT_SHOP_PLEASE_SELECT}</option>
                                <!-- BEGIN shop_payment_payment_methods -->
                                <option value="{SHOP_PAYMENT_PAYMENT_METHOD_ID}"<!-- BEGIN shop_payment_payment_selected --> selected="selected"<!-- END shop_payment_payment_selected -->>{SHOP_PAYMENT_PAYMENT_METHOD_NAME}</option>
                                <!-- END shop_payment_payment_methods -->
                            </select>
                        </td>
                        <td style="text-align: right;">
                            {SHOP_PAYMENT_PRICE}&nbsp;{SHOP_UNIT}
                        </td>
                    </tr>
                    <!-- END shopPayment -->
                    <!-- BEGIN shopCoupon -->
                    <tr class="row3 active">
                        <td>
                            {TXT_SHOP_DISCOUNT_COUPON_CODE}
                        </td>
                        <td>
                            <input type="text" maxlength="20" name="coupon_code" value="{SHOP_DISCOUNT_COUPON_CODE}" onchange="document.forms['shopForm'].submit();" />
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    <!-- END shopCoupon -->
                    <!-- BEGIN lsv -->
                    <tr class="row3 active">
                        <td>{TXT_PAYMENT_LSV}</td>
                        <td colspan="2">
                            <p>
                                <label>{TXT_ACCOUNT_HOLDER}</label>
                                <input type="text" value="{SHOP_ACCOUNT_HOLDER}" name="account_holder" />
                            </p>
                            <p>
                                <label>{TXT_ACCOUNT_BANK}</label>
                                <input type="text" value="{SHOP_ACCOUNT_BANK}" name="account_bank" />
                            </p>
                            <p>
                                <label>{TXT_ACCOUNT_BLZ}</label>
                                <input type="text" value="{SHOP_ACCOUNT_BLZ}" name="account_blz" />
                            </p>
                        </td>
                    </tr>
                    <!-- END lsv -->
                    <!-- BEGIN shopVatExcl -->
                    <tr class="row3 active">
                        <td colspan="2">
                            {TXT_TAX_PREFIX}
                        </td>
                        <td style="text-align: right;">
                            {SHOP_TAX_PRICE}
                        </td>
                    </tr>
                    <!-- END shopVatExcl -->
                    <tr class="row3 active">
                        <td colspan="2">
                            <strong>{TXT_TOTAL_PRICE}</strong>
                        </td>
                        <td style="text-align: right;">
                            <strong>{SHOP_GRAND_TOTAL} {SHOP_UNIT}</strong>
                        </td>
                    </tr>
                    <!-- BEGIN shopVatIncl -->
                    <tr class="row1">
                        <td colspan="2">
                            {TXT_TAX_PREFIX}
                        </td>
                        <td style="text-align: right;">
                            {SHOP_TAX_PRICE}
                        </td>
                    </tr>
                    <!-- END shopVatIncl -->
                    <tr class="row1">
                        <td colspan="3">&nbsp;</td>
                    </tr>
                    <tr class="row3 active">
                        <td valign="top">{TXT_COMMENTS}</td>
                        <td colspan="2">
                            <textarea name="customer_note" rows="4" cols="52">{SHOP_CUSTOMERNOTE}</textarea>
                        </td>
                    </tr>
                </table>
            </div>
            <br />
            <div class="message">
                <p class="checkbox col-sm-7 col-md-7 col-md-push-5 col-sm-push-5">
                    <label for="agb" class="description"><input type="checkbox" value="checked" name="agb" id="agb" {SHOP_AGB} />{TXT_ACCEPT_TAC}</label>
                </p>
                <p class="checkbox col-sm-7 col-md-7 col-md-push-5 col-sm-push-5">
                    <label for="cancellation_terms" class="description"><input type="checkbox" value="checked" name="cancellation_terms" id="cancellation_terms" {SHOP_CANCELLATION_TERMS_CHECKED} />
                        {TXT_SHOP_CANCELLATION_TERMS_ACCEPTED}
                    </label>
                </p>
                <p class="checkbox col-sm-7 col-md-7 col-md-push-5 col-sm-push-5">
                    <input class="btn btn-default" type="submit" value="{TXT_UPDATE}" name="refresh" />
                    &nbsp;<input class="btn btn-default" type="submit" value="{TXT_NEXT}" name="check" />
                </p>
            </div>
        </form>
    </div>
</div>
