<!-- BEGIN core_message -->
<span class="{MESSAGE_CLASS}">{MESSAGE_TEXT}</span>
<!-- END core_message -->
<!-- BEGIN shop_sendpass_status -->
<div style="font-weight:bold; color:#ff0000;">{SHOP_PASSWORD_STATUS}</div><br />
<!-- END shop_sendpass_status -->
<!-- BEGIN shop_sendpass -->
<form role="form" name="shop" action="index.php?section=Shop&amp;cmd=sendpass" method="post">
{SHOP_PASSWORD_ENTER_EMAIL}<br />
<br />
<input class="btn btn-default" type="text" style="width:200px;" name="shopEmail">
<input class="btn btn-default" type="submit" value="{TXT_NEXT}">
</form>
<!-- END shop_sendpass -->
