#gallery img {
	border:4px solid #e6e6e6;
	margin-bottom:4px;
}
#gallery a:hover img {
	border:4px solid #9A0000;
	margin-bottom:4px;
}

#docsys
{
 border-top: 1px solid #bbb;
border-left: 1px solid #bbb;
}

#docsys td
{
 border-right: 1px solid #bbb;
 border-bottom: 1px solid #bbb;
}

#docsys th
{
 border-right: 1px solid #bbb;
 border-bottom: 1px solid #bbb;
 font-weight: bold;
}

#media
{
 border-top: 1px solid #bbb;
border-left: 1px solid #bbb;
}

#media td
{
 border-right: 1px solid #bbb;
 border-bottom: 1px solid #bbb;
}

#media th
{
 border-right: 1px solid #bbb;
 border-bottom: 1px solid #bbb;
 font-weight: bold;
}

#news
{
 border-top: 1px solid #bbb;
 border-left: 1px solid #bbb;
}

#news td
{
 border-right: 1px solid #bbb;
 border-bottom: 1px solid #bbb;
}

#news th
{
 border-right: 1px solid #bbb;
 border-bottom: 1px solid #bbb;
 font-weight: bold;
}

#sitemap_level_1 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #bbb;
	font-weight: bold;
}

#sitemap_level_2,
#sitemap_level_3,
#sitemap_level_4,
#sitemap_level_5 {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #bbb;
	font-weight: normal;
}

#cat
{
 border-top: 1px solid #9A0000;
 border-bottom: 1px solid #9A0000;
 border-right: 1px solid #9A0000;
 border-left: 1px solid #9A0000;
 background-color: #E6E6E6;
}

#rss
{
 border-top: 0px solid #B8B8B8;
 border-bottom: 0px solid #B8B8B8;
 border-right: 0px solid #B8B8B8;
 border-left: 0px solid #B8B8B8;
}

#rss td.title
{
 color: #B8B8B8;
}

#rss table.feed 
{
 horizontal-align: left;
 border-top: 1px solid #ffffff;
 border-left: 1px solid #ffffff;
}

#rss table.feed th
{
 horizontal-align: left;
 background-color: #9A0000;
 text-decoration: none;
 border-bottom: 1px solid #ffffff;
 border-right: 1px solid #ffffff;
 padding: 2px 2px 2px 2px;
}


#rss table.feed td
{
 horizontal-align: left;
 background-color: #E6E6E6;
 border-bottom: 1px solid #ffffff;
 border-right: 1px solid #ffffff;
 padding: 2px 2px 2px 2px;
 marrign: 20px;
}

#rss table.feed td.footer
{
 horizontal-align: left;
 background-color: #E6E6E6;
 border-bottom: 1px solid #ffffff;
 border-right: 1px solid #ffffff;
 color: #999999;
 font-style: italic;
}

#rss table.feed td.footer a
{
 color: black;
 font-style: italic;
}

#rss_extern
{
 padding: 10px 20px 10px 20px;
 marrign: 0px 0px 0px 0px;
}