html, body {
margin: 0px;
padding: 0px;
padding-top: 5px;
background-color: #E5E5E5;
color: #fff;
font-family: Verdana, Helvetica, Arial, sans-serif, 'Trebuchet MS';
font-size: 100%;
}

input,select,textarea {
BORDER-RIGHT: black 1px solid;
BORDER-TOP: black 1px solid;
BORDER-LEFT: black 1px solid;
BORDER-BOTTOM: black 1px solid;
COLOR: #000000;
font-size: 12px;
background-color: #ffffff;
}

.search {
BORDER-RIGHT: #ffffff 1px solid;
BORDER-TOP: #ffffff 1px solid;
BORDER-LEFT: #ffffff 1px solid;
BORDER-BOTTOM: #ffffff 1px solid;
COLOR: #ffffff;
font-size: 12px;
background-color: #B34040;
}

.button{
BORDER-RIGHT: black 1px solid;
BORDER-TOP: #E5E5E5 1px solid;
BORDER-LEFT: #E5E5E5 1px solid;
BORDER-BOTTOM: black 1px solid;
COLOR: #ffffff;
background-color: #9A0000;
font-size: 12px;
}

h1, h2, h3, h4, p, ul, li, a {
margin: 0px;
padding: 0px;
}


#content {
margin: 0px 0px 0px 0px;
background-color: white;
color: #000;
font-size: 12px;
padding: 15px 15px;
}

#footer {
padding: 3px 3px 5px 10px;
background-color: #9A0000 ;
color: #FFFFFF;
font-size:10px;
text-align: right;
}

#footer a{
color: #FFFFFF;
}

a {
text-decoration: none;
background-color: transparent;
color: #600;
}
a:visited {
background-color: transparent;
color: #600;
}
a:hover {
background-color: transparent;
color: #9A0000 ;
}
a:active {
background-color: transparent;
color: #9A0000 ;
}
a:focus {
background-color: transparent;
color: #9A0000 ;
}

h1, h2, h3, h4 {
font-family: Verdana, Helvetica, Arial, sans-serif, 'Trebuchet MS';
}

h1 {
font-size: 115%;
background-color: #e6e6e6;
color: #9A0000;
padding: 15px 0px 10px 10px;
}

h2 {
font-size: 110%;
color: #666;
padding: 0px 0px 5px 5px;
letter-spacing: 1pt;
}

img {
border: 0 none;
}

p.topper, a.tooper {
background-color: white;
background-position: 20px 22px;
padding: 15px 0px 15px 15px;
font-size: 80%;
}

#newsbox {
float: right;
width: 30%;
margin-bottom: 0px;
margin-left: 0px;
padding: 0px;
color: black;
background-color: #ffffff;
border: 0px solid red;
}	