#aside{
    display: none;
}
.main_subpage,
#content {
    float: left;
    width: 100%;
}
article.col-13{
    border: 1px solid #efefef; 
    padding: 11px;
    position: relative;
    width: 190px;
    margin:0 20px 20px 0
}
.categories img{
    margin-bottom: 8px;
}
.visual{
    margin-bottom: 0;
    padding: 0;
    position: relative
}
#shop span.description {
    clear:both;
    float:left;
    line-height: 15px;
    color: #555
}
h3 {
    color: #525252;
    font-size: 14px
}
.prod-disc-price{
/*	color: #BCD608;
	color: red;
	font-size: 23px;
	font-weight: bold;*/
	color: #231F20;
	font-size: 23px;
	font-weight: 600;
}
.prod-price{
	 font-size: 16px;
}
span.detail_link{
	padding-left: 5px;
	/*text-transform: lowercase;*/
}
span.detail_link:before{
	content: "..."
}
.vat{
	clear: both
}
.wrapper-shop{
	width: 75%;
float:left;
}
#shop div.description{
	width: 100%
}
#shop div.price, #shop div.functions {
	 text-align: left;
	/* width: auto;*/

}
#shop div.functions{
/*margin: 12px 0 0 15px ;*/

}
