#aside{
    display: none;
}
#nav-sub{
    display: none;
}
#shop_payment{
    border: 1px solid #F2F2F2;    
    float: left;
    width: 650px;
}

#shop_collection{
    float: left;
    width: 650px;
}
.lsv_form{
    border: 1px solid #F2F2F2;
}
.lsv_form span{
    padding-left: 15px;
}
#shop h2{
    background: none repeat scroll 0 0 #F2F2F2;
    font: bold 16px/24px 'Open Sans',Arial,Helvetica,sans-serif;
    padding: 8px 10px 8px 15px;
    margin-top: 10px;
}
#shop form p{
    padding: 2px 0 3px 205px;   
}
.main-holder {
  background: none;
 
}
