#aside{
    display: block;
}

#shop select.shop_cart_input {
    width: 160px !important;
}
.main_subpage,
#content {
    float: left;
   /* width: 100%;*/
}
#shop_cart{
    border: 1px solid #F2F2F2;
 /*   border-radius: 5px 5px 5px 5px;*/
    float: left;
    width: 650px;
}
#shop h2{
    background: none repeat scroll 0 0 #F2F2F2;
   /* font: bold 16px/24px 'Open Sans',Arial,Helvetica,sans-serif;
    padding: 8px 10px 8px 15px;*/
}
.th_bg{
background: none repeat scroll 0 0 #F2F2F2;
}
#shop div.cart_links{

padding:  5px
}

#shop .cart_links a{
padding-right:  15px;
  margin-top: 8px;
float:left;


font-size: 15px
}
#shop table tr.row3, 
table tr.row1, table tr.marketRow2,
table tr.row2, table tr.marketRow3 {
background: none;
}
