<script>

    function checkValidations() {
        var copy = document.getElementById("createSurvey").checked;
        if (copy == false) {
            var SelectId = document.getElementById("selectSurvey").value;
            if (SelectId == "0") {
                alert("Bitte wählen Sie die zu kopierende Umfrage aus");
                document.getElementById("selectSurvey").focus();
                document.getElementById("selectSurvey").value = "";
                return false;
            }
        }
        return true;
    }
    function enabsleSelect() {
        document.getElementById("selectSurvey").disabled = false;
    }
    function diableSelect() {
        document.getElementById("selectSurvey").disabled = true;
    }
</script>
<form name="create_copy" method="post" action="">
    <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
        <tr>
            <th colspan="15">{TXT_TITLE_ADD}</th>
        </tr>
        <tr class="row2">
            <td width="2%" nowrap>
                <input type="radio" value="create" id="createSurvey" name="createSurvey" {SELECT_CREATE}  onclick="diableSelect();"/>
            </td>
            <td width="98%" nowrap>
                <label for="createSurvey">Neue Umfrage erstellen</label><br/>
            </td>
        </tr>
        <tr class="row1">
            <td width="2%" nowrap>
                <input type="radio" value="copy" id="copySurvey" name="createSurvey" onclick="enabsleSelect();"/>
            </td>
            <td width="98%" nowrap>
                <label for="copySurvey">Bestehende Umfrage kopieren</label><br/>
            </td>
        </tr>
        <tr class="row2">
            <td></td>
            <td>
                <select name="selectSurvey" id="selectSurvey" disabled>
                    <option value="0"> - Bitte wählen Sie eine bestehende Umfrage - </option>
                    <!-- BEGIN ShowSurveys -->
                    <option value="{TXT_SURVEY_ID}">{TXT_SURVEY_TITLE}</option>
                    <!-- END ShowSurveys -->
                </select>
            </td>
        </tr>
    </table>
    <br />
    <table cellpadding="2" cellspacing="0" border="0">
        <tr>
            <td>
                <input type="submit" name="create_submit" value="Weiter" onClick="return checkValidations();" />
            </td>
        </tr>
    </table>
</form>
