<style type="text/css">
    /* jquery ui css customization */
    .ui-icon {
        display: inline-block;
    }
    .ui-dialog.cxDialog {
        position: absolute;
        top: 0 !important;
        border-top: 0;
        border-right: 1px solid #0a85c8;
        border-bottom: 1px solid #0a85c8;
        border-left: 1px solid #0a85c8;
        border-radius: 0;
        text-align: center;
    }
    .ui-dialog.noTitle .ui-dialog-titlebar {
        display: none;
    }
    .ui-dialog .error {
        color: #ff0000;
    }
    .ui-dialog #loading {
        float: none;
        margin: 0 auto;
        width: 95px !important;
        height: 16px !important;
    }
    .ui-dialog #loading img {
        float: left;
    }
    table.survey_questions_container tbody tr td:not(:last-child) {
        cursor: move;
    }
    #help1, #help2, #help3, help4, #help5, #help6, #help7, #help8 {display: none;padding-left: 5px;}
</style>
<script type="text/javascript">
var modifySurvey = {
    _moveToNextTab: function() {
        current = $J("ul#tabmenu > li").has("a.active");
        if (current.next().length) {
            target = current.next();
        } else {
            target = $J("ul#tabmenu > li:first"); // This will not happen
        }
        target.find("a").trigger("click");
    }
};
$J(function(){
    $J("ul#tabmenu > li").click(function() {
        if ($J(this).next().length) {
            $J(".tab-next").show();
        } else {
            $J(".tab-next").hide();
        }
    });
    $J(".info-image").click(function(){
        window.open($J(this).attr('href'),'','width=450,height=438');
        return false;
    });
    $J("#questionType").change(function(){
        matrix = parseInt($J(this).val());

        $answer  = $J("#modifyQuestionsForm .answer");
        $comment = $J("#modifyQuestionsForm .addComent");
        $row     = $J("#modifyQuestionsForm .RowTextfield");
        $qTxt    = $J("#modifyQuestionsForm .qTextfield");

        if (matrix == 3 || matrix == 4) {
            $J("#modifyQuestionsForm .col").css("display", "table-row");
        } else {
            $J("#modifyQuestionsForm .col").css("display", "none");
        }
        if (matrix == 5) {
            $answer.css("display", "none");
            $comment.css("display", "table-row");
            $row.css("display", "none");
            $qTxt.css("display", "table-row");
        } else if (matrix == 7) {
            $answer.css("display", "none");
            $comment.css("display", "none");
            $row.css("display", "none");
            $qTxt.css("display", "table-row");
        } else {
            $answer.css("display", "table-row");
            $comment.css("display", "table-row");
            $row.css("display", "none");
            $qTxt.css("display", "table-row");
        }

        $J(".info-image").parent().hide();
        $J("#help"+matrix).show();
    });
    $J("#questionType").trigger('change');
});
cx.ready(function(){
    //create the dialog and save a reference
    var d = cx.ui.dialog({
        width   : 500,
        height  : 500,
        title   : '{TXT_SURVEY_MODIFY_QUESTION}',
        content : $J('#modifyQuestionsForm'),
        autoOpen: false,
        buttons: {
            Cancel: function() {
                $J( this ).dialog( "close" );
            },
            "{TXT_SURVEY_OK}": function() {
                $J.ajax({
                    url      : "index.php?cmd=JsonData&object=Survey&act=modifyQuestions&surveyId={SURVEY_ID}",
                    type     : "post",
                    data     : $J( "#addsurvey" ).serialize(),
                    dataType : "json",
                    beforeSend: function() {
                        cx.tools.StatusMessage.showMessage("<div id=\"loading\">" + cx.jQuery('#loading').html() + "</div>");
                    },
                    complete: function() {
                        cx.tools.StatusMessage.removeAllDialogs();
                    },
                    success  : function(response) {
                        console.log(response);
                         if (response.status == 'success') {
                             response.data;
                         } else {
                             cx.tools.StatusMessage.showMessage(response.message, "error", 1000);
                         }
                     }
                 });
                $J( this ).dialog( "close" );
            }
        },
        close: function() {
            getSurveyQuestions();
            $J("#addsurvey").trigger('reset');
            $J("#questionType").trigger('change');
        }
    });

    $J( ".add_question" ).click(function(){
        $J("#addsurvey #questionId").val('0');
        d.open();
    });
    $J( ".edit_question" ).live('click', function(){
        var id = $J(this).attr("data-id");
        cx.tools.StatusMessage.showMessage("<div id=\"loading\">" + cx.jQuery('#loading').html() + "</div>");
        $J.getJSON('index.php', {cmd : 'JsonData', object : 'Survey' ,act : 'getSurveyQuestion', id : id }, function(data){
            $J("#addsurvey #questionId").val(data.data.id);
            $J("#addsurvey #questionType").val(data.data.questionType);
            $J("#addsurvey #Question").val(data.data.question);
            $J("#addsurvey #QuestionRow").val(data.data.questionRow);
            $J("#addsurvey #ColumnChoices").val(data.data.questionChoice);
            $J("#addsurvey #QuestionAnswers").val(data.data.questionAnswers);
            $J("#addsurvey #QuestionAnswers").val(data.data.questionAnswers);
            $J("#addsurvey input:radio[name=Iscomment]").filter("[value="+data.data.isCommentable+"]").prop("checked", true);
            $J("#questionType").trigger('change');
            d.open();

            cx.tools.StatusMessage.removeAllDialogs();
        });
    });
    $J( ".delete_question" ).live('click', function(){
        var id = $J(this).attr("data-id");

        cx.tools.StatusMessage.showMessage("<div id=\"loading\">" + cx.jQuery('#loading').html() + "</div>");
        $J.getJSON('index.php', {cmd : 'JsonData', object : 'Survey' ,act : 'deleteQuestion', id : id }, function(data){
            getSurveyQuestions();
            cx.tools.StatusMessage.removeAllDialogs();
        });
    });
    $J("table.survey_questions_container tbody").sortable({
        stop: function( event, ui ) {

            var sortFields = $J(this).sortable('serialize');
            $J.ajax({
                url      : "index.php?cmd=JsonData&object=Survey&act=saveSorting&surveyId={SURVEY_ID}",
                type     : "post",
                data     : sortFields,
                dataType : "json",
                beforeSend: function() {
                    cx.tools.StatusMessage.showMessage("<div id=\"loading\">" + cx.jQuery('#loading').html() + "</div>");
                },
                complete: function() {
                    cx.tools.StatusMessage.removeAllDialogs();
                }
             });
        }
    });
});
function getSurveyQuestions() {
    cx.tools.StatusMessage.showMessage("<div id=\"loading\">" + cx.jQuery('#loading').html() + "</div>");
    $J.getJSON('index.php', {cmd : 'JsonData', object : 'Survey' ,act : 'getSurveyQuestions', surveyId : '{SURVEY_ID}' }, function(data){
        $J("table.survey_questions_container tbody").html(data.data);
        cx.tools.StatusMessage.removeAllDialogs();
    });
}
</script>
<form name="modify_servey" method="post" action="">
    <ul id="tabmenu">
        <li><a id="surveyTab_survey" class="active" href="javascript:{}" onclick="selectTab('survey');" title="{TXT_SURVEY_GENERAL}">{TXT_SURVEY_GENERAL}</a></li>
        <li><a id="surveyTab_start" href="javascript:{}" onclick="selectTab('start');" title="{TXT_SURVEY_START}">{TXT_SURVEY_START}</a></li>
        <li><a id="surveyTab_questions" href="javascript:{}" onclick="selectTab('questions');" title="{TXT_SURVEY_QUESTIONS}">{TXT_SURVEY_QUESTIONS}</a></li>
        <li><a id="surveyTab_finish" href="javascript:{}" onclick="selectTab('finish');" title="{TXT_SURVEY_FINISH}">{TXT_SURVEY_FINISH}</a></li>
        <li><a id="surveyTab_feedback" href="javascript:{}" onclick="selectTab('feedback');" title="{TXT_SURVEY_FEEDBACK}">{TXT_SURVEY_FEEDBACK}</a></li>
    </ul>
    <div class="surveyTab" id="survey">
        <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
            <tr>
                <th colspan="2">{TXT_SURVEY_GENERAL}</th>
            </tr>
            <tr class="row1">
                <td width="250">{TXT_TITLE}&nbsp;<font color="red">*</font></td>
                <td><input type="text" name="title" id="title" style="width: 250px;" value="{SURVEY_TITLE}"></td>
            </tr>
            <tr class="row2">
                <td valign="top" >{TXT_DESCRIPTION}</td>
                <td>
                    <textarea name="Description" style="width: 250px; height: 60px;">{SURVEY_DESCRIPTION}</textarea>
                </td>
            </tr>
            <tr class="row1">
                <td>{TXT_UNIQUE_USER_VERIFICATION}&nbsp;<font color="red">*</font></td>
                <td>
                    <label><input type="radio" value="cookie" id="votingRestrictionMethod" name="votingRestrictionMethod" {SURVEY_TYPE_COOKIE} />{TXT_COOKIE_BASED}</label><br/>
                    <label><input type="radio" value="email" id="votingRestrictionMethod" name="votingRestrictionMethod" {SURVEY_TYPE_EMAIL} />{TXT_EMAIL_BASED}</label>
                </td>
            </tr>
        </table>
    </div>
    <div class="surveyTab" id="start" style="display: none;">
        <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
            <tr>
                <th>{TXT_SURVEY_START}</th>
            </tr>
            <tr class="row1">
                <td>{TXT_BEGINNING_SURVEY}</td>
            </tr>
            <tr>
                <td>
                    {SURVEY_BEGIN_SURVEY}
                </td>
            </tr>
        </table>
    </div>
    <div class="surveyTab" id="questions" style="display: none;">
        <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist survey_questions_container">
            <thead>
                <tr>
                    <th colspan="8">{TXT_SURVEY_QUESTIONS}</th>
                </tr>
                <tr class="row3">
                     <td width="20%">{TXT_SURVEY_QUESTION}</td>
                     <td width="15%">{TXT_SURVEY_CREATED_AT}</td>
                     <td width="20%">{TXT_SURVEY_QUESTION_TYPE}</td>
                     <td width="15%">{TXT_SURVEY_IS_COMMENTABLE}</td>
                     <td width="5%">{TXT_SURVEY_COUNTER}</td>
                     <td style="text-align:right;" width="15%">{TXT_SURVEY_FUNCTIONS}</td>
                </tr>
            </thead>
            <tbody>
                {SURVEY_QUESTIONS}
            </tbody>
        </table>
        <br />
        <input class="add_question" type="button" value="{TXT_SURVEY_ADD_QUESTION}">
        <br />
        <br />
    </div>
    <div class="surveyTab" id="finish" style="display: none;">
        <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
            <tr>
                <th colspan="2">{TXT_SURVEY_FINISH}</th>
            </tr>
            <tr class="row1">
                <td colspan="2">{TXT_ADDITIONALINFO_SURVEY}</td>
            </tr>
            <tr class="row2">
                <td colspan="2">
                    {SURVEY_BEFORE_SUB_INFO}
                </td>
            </tr>
            <tr class="row1">
                <td colspan="2">{TXT_BELOW_SUBMIT}</td>
            </tr>
            <tr class="row2">
                <td colspan="2">
                    {SURVEY_BELOW_SUBMIT}
                </td>
            </tr>
            <tr class="row1">
                <td width="250">{TXT_ADDITIONAL_FIELDS_LABEL}</td>
                <td>
                    <!-- BEGIN surveyAdditionalFields -->
                    <label>
                        <input type="checkbox" name="additional_{SURVEY_ADDITIONAL_FIELD_NAME}" {SURVEY_ADDITIONAL_FIELD}/>
                        {TXT_SURVEY_ADDITIONAL_FIELD_NAME}
                    </label>
                    <br/>
                    <!-- END surveyAdditionalFields -->
                </td>
            </tr>
        </table>
    </div>
    <div class="surveyTab" id="feedback" style="display: none;">
        <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
            <tr>
                <th>{TXT_SURVEY_FEEDBACK}</th>
            </tr>
            <tr class="row1">
                <td>{TXT_THANK_MSG}</td>
            </tr>
            <tr class="row2">
                <td>
                   {SURVEY_FEEDBACK_MSG}
                </td>
            </tr>
        </table>
    </div>
    <br />
    <input type="button" onclick="location.href = 'index.php?cmd=Survey&{CSRF_PARAM}';" value="{TXT_SURVEY_CANCEL}" />
    &nbsp;<input class="tab-next" type="button" onclick="modifySurvey._moveToNextTab($J(this));" value="{TXT_SURVEY_NEXT}" />
    &nbsp;<input type="submit" name="save_survey"  value="{TXT_SURVEY_SAVE}" />
</form>

<div id="modifyQuestionsForm" style="display: none;">
    <form id="addsurvey" name="addsurvey" method="post" action="">
        <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
            <tr class="row1">
                <td>{TXT_SELECT_QUESTION}&nbsp;<font color="red">*</font></td>
            </tr>
            <tr class="row2">
                <td>
                    <input type="hidden" name="id" id="questionId" value="" />
                    <select name="questionType" id="questionType">
                        <option value="">{TXT_QUESTION_TYPE}</option>
                        <option value="1">{TXT_MULTIPLE_CHOICE_ONE_ANSWER}</option>
                        <option value="2">{TXT_MULTIPLE_CHOICE_MULTIPLE_ANSWER}</option>
                        <option value="3">{TXT_MATRIX_CHOICE_ONE_ANSWER_PER_ROW}</option>
                        <option value="4">{TXT_MATRIX_CHOICE_MULTIPLE_ANSWER_PER_ROW}</option>
                        <option value="5">{TXT_SINGLE_TEXTBOX}</option>
                        <option value="6">{TXT_MULTIPLE_TEXTBOX}</option>
                        <option value="7">{TXT_TEXT_ROW}</option>
                    </select>
                    <span id="help1"><a class="info-image" href='{SURVEY_IMAGE_PATH}/MC_OA-01.png' title="{TXT_HELP_IMAGE_TXT}">{TXT_HELP_TXT}</a></span>
                    <span id="help2"><a class="info-image" href='{SURVEY_IMAGE_PATH}/MC_MA01.png' title="{TXT_HELP_IMAGE_TXT}">{TXT_HELP_TXT}</a></span>
                    <span id="help3"><a class="info-image" href='{SURVEY_IMAGE_PATH}/matrix_singleAnswer.jpg' title="{TXT_HELP_IMAGE_TXT}">{TXT_HELP_TXT}</a></span>
                    <span id="help4"><a class="info-image" href='{SURVEY_IMAGE_PATH}/matrix_multipleAnswer.jpg' title="{TXT_HELP_IMAGE_TXT}">{TXT_HELP_TXT}</a></span>
                    <span id="help5"><a class="info-image" href='{SURVEY_IMAGE_PATH}/S_TEXT-01.png' title="{TXT_HELP_IMAGE_TXT}">{TXT_HELP_TXT}</a></span>
                    <span id="help6"><a class="info-image" href='{SURVEY_IMAGE_PATH}/M_TEXT-01.png' title="{TXT_HELP_IMAGE_TXT}">{TXT_HELP_TXT}</a></span>
                    <span id="help7"><a class="info-image" href='{SURVEY_IMAGE_PATH}/text_box.jpg' title="{TXT_HELP_IMAGE_TXT}" >{TXT_HELP_TXT}</a></span>
                </td>
            </tr>
            <tr class="row1 qTextfield">
                <td >
                    <span id="labelid">{TXT_QUESTION_TEXT}</span>&nbsp;<font color="red">*</font>
                </td>
            </tr>
            <tr class="row2 qTextfield">
                <td>
                    <input type="text" name="Question" id="Question" style="width: 440px;" />
                </td>
            </tr>
            <tr class="row1 RowTextfield">
                <td >
                    <span id="labelid">{TXT_TEXT_ROW}</span>&nbsp;<font color="red">*</font>
                </td>
            </tr>
            <tr class="row2 RowTextfield">
                <td >
                    <textarea style="width: 440px;" rows="6" name="QuestionRow" id="QuestionRow">{DB_QUESTION_TITLE}</textarea>
                </td>
            </tr>
            <tr class="row1 col">
                <td>
                    {TXT_COLUMN_CHOICE}&nbsp;<font color="red">*</font>
                </td>
            </tr>
            <tr class="row2 col">
                <td>
                    <textarea style="width: 440px;" rows="6" name="ColumnChoices" id="ColumnChoices">{DB_COLUMN_OPTIONS}</textarea>
                </td>
            </tr>
            <tr class="row1 answer">
                <td>
                    {TXT_ANSWER_CHOICE}&nbsp;<font color="red">*</font>
                </td>
            </tr>
            <tr class="row2 answer">
                <td>
                    <textarea style="width: 440px;" rows="6" name="QuestionAnswers" id="QuestionAnswers">{DB_QUESTION_OPTIONS}</textarea>
                </td>
            </tr>

            <tr class="row1 addComent">
                <td>{TXT_ADD_COMMENT}</td>
            </tr>
            <tr class="row2 addComent">
                <td>
                    <label>
                        <input type="radio" value="1" id="Iscomment" name="Iscomment" {SELECT_COMMENTABLE_YES}/>
                        {TXT_YES}
                    </label>
                    <label>
                        <input type="radio" value="0" id="Iscomment" checked name="Iscomment" {SELECT_COMMENTABLE_NO}/>
                        {TXT_NO}
                    </label>
                </td>
            </tr>
        </table>
    </form>
</div>
