{CREATE_SURVEY_JAVASCRIPT}
<form name="addsurvey" method="post" action="">
    <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
        <tr>
            <th colspan="15">{TXT_ADD_QUESTION}</th>
        </tr>
        <tr class="row2">
            <td nowrap="nowrap" width="20%">{TXT_SELECT_QUESTION}&nbsp;<font color="red">*</font></td>
            <td width="80%">
                <select name="questionType" id="questionType" onchange="showColumnTab();">
                    <option value="">{TXT_QUESTION_TYPE}</option>
                    <option value="1" {TXT_RADIO_SEL}>{TXT_MULTIPLE_CHOICE_ONE_ANSWER}</option>
                    <option value="2" {TXT_CHECK_SEL}>{TXT_MULTIPLE_CHOICE_MULTIPLE_ANSWER}</option>
                    <option value="3" {TXT_MATRIX_SEL}>{TXT_MATRIX_CHOICE_ONE_ANSWER_PER_ROW}</option>
                    <option value="4" {TXT_MATRIXMUL_SEL}>{TXT_MATRIX_CHOICE_MULTIPLE_ANSWER_PER_ROW}</option>
                    <option value="5" {TXT_SINGLEBOX_SEL}>{TXT_SINGLE_TEXTBOX}</option>
                    <option value="6" {TXT_MULTIPLEBOX_SEL}>{TXT_MULTIPLE_TEXTBOX}</option>
                    <option value="7" {TXT_TEXTROW_SEL}>{TXT_TEXT_ROW}</option>
                </select>
                <span id="help1" name="help1" style="padding-left:5px;display:{TXT_HELPONE_SEL};"><a href = '{SURVEY_IMAGE_PATH}/MC_OA-01.png' title="{TXT_HELP_IMAGE_TXT}" rel="gb_page_fs[]"> {TXT_HELP_TXT} </a></span>
                <span id="help2" name="help2" style="padding-left:5px;display:{TXT_HELPTWO_SEL};"><a href = '{SURVEY_IMAGE_PATH}/MC_MA01.png' title="{TXT_HELP_IMAGE_TXT}" rel='gb_page_fs[]'> {TXT_HELP_TXT} </a></span>
                <span id="help3" name="help3" style="padding-left:5px;display:{TXT_HELPTHREE_SEL};"><a href = '{SURVEY_IMAGE_PATH}/matrix_singleAnswer.jpg' title="{TXT_HELP_IMAGE_TXT}" rel='gb_page_fs[]'> {TXT_HELP_TXT} </a></span>
                <span id="help4" name="help4" style="padding-left:5px;display:{TXT_HELPFOUR_SEL};"><a href = '{SURVEY_IMAGE_PATH}/matrix_multipleAnswer.jpg' title="{TXT_HELP_IMAGE_TXT}" rel='gb_page_fs[]'> {TXT_HELP_TXT} </a></span>
                <span id="help5" name="help5" style="padding-left:5px;display:{TXT_HELPFIVE_SEL};"><a href = '{SURVEY_IMAGE_PATH}/S_TEXT-01.png' title="{TXT_HELP_IMAGE_TXT}" rel='gb_page_fs[]'> {TXT_HELP_TXT} </a></span>
                <span id="help6" name="help6" style="padding-left:5px;display:{TXT_HELPSIX_SEL};"><a href = '{SURVEY_IMAGE_PATH}/M_TEXT-01.png' title="{TXT_HELP_IMAGE_TXT}" rel='gb_page_fs[]'> {TXT_HELP_TXT} </a></span>
                <span id="help7" name="help7" style="padding-left:5px;display:{TXT_HELPSEVEN_SEL};"><a href = '{SURVEY_IMAGE_PATH}/text_box.jpg' title="{TXT_HELP_IMAGE_TXT}" rel='gb_page_fs[]'> {TXT_HELP_TXT} </a></span>
            </td>
        </tr>
        <tr class="row1" id="qTextfield" style="display:{TXT_QUESTHIDE}">
            <td nowrap="nowrap" width="20%"><span id ="labelid">{TXT_QUESTION_TEXT}</span>&nbsp;<font color="red">*</font></td>
            <td width="80%"><input type="text" name="Question" id="Question" style="width: 440px;" value="{DB_QUESTION_TITLE}"></td>
        </tr>
        <!-- This is the <tr> for Row text question  -->
        <tr class="row1" id="RowTextfield" style="display:{TXT_RTEXTHIDE}">
            <td nowrap="nowrap" width="20%"><span id ="labelid">{TXT_TEXT_ROW}</span>&nbsp;<font color="red">*</font></td>
            <td width="80%"> <textarea style="width: 440px;" rows="6" name="QuestionRow" id="QuestionRow">{DB_QUESTION_TITLE}</textarea>  </td>
        </tr>

        <tr class="row1" id="col" style="{TXT_COLHIDE};">
            <td width="20%" nowrap="nowrap">{TXT_COLUMN_CHOICE}&nbsp;<font color="red">*</font></td>
            <td width="80%">
                <textarea style="width: 440px;" rows="6" name="ColumnChoices" id="ColumnChoices">{DB_COLUMN_OPTIONS}</textarea>
            </td>
        </tr>

        <!-- This is the <tr> for Row text question  -->
        <tr class="row2" id="answer" style="display:{TXT_ANSWERHIDE}">
            <td width="20%" nowrap="nowrap">{TXT_ANSWER_CHOICE}&nbsp;<font color="red">*</font></td>
            <td width="80%">
                <input type="hidden" name="votingresults" value="{IDS_ANSWERS}">
                <input type="hidden" name="Colvoltingresults" value="{COL_IDS_ANSWERS}">
                <textarea style="width: 440px;" rows="6" name="QuestionAnswers" id="QuestionAnswers">{DB_QUESTION_OPTIONS}</textarea>
            </td>
        </tr>

        <tr class="row1" id="addComent" style="{TXT_ADDCOMMENTHIDE};">
            <td width="20%" nowrap="nowrap">{TXT_ADD_COMMENT}</td>
            <td width="80%">
                <input type="radio" value="1" id="Iscomment" name="Iscomment" {SELECT_COMMENTABLE_YES}/>
                       <label for="votingRestrictionMethodCookie">{TXT_YES}</label>
                <input type="radio" value="0" id="Iscomment" name="Iscomment" {SELECT_COMMENTABLE_NO}/>
                       <label for="votingRestrictionMethodEmail">{TXT_NO}</label>
            </td>
        </tr>

    </table>
    <br />
    <!--div  id="colchoice">
  <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
      <tr class="row2">
       <td width="20%" nowrap="nowrap">{TXT_COLUMN_CHOICE}&nbsp;<font color="red">*</font></td>
       <td width="80%">
        <textarea style="width: 440px;" rows="6" name="ColumnChoices" id="ColumnChoices">{DB_COLUMN_OPTIONS}</textarea>
       </td>
      </tr>
   </table>
  </div-->
    <table cellpadding="2" cellspacing="0" border="0">
        <tr>
            <td>

                <input type="hidden" name="currency_id" value="{TXT_CURRENCY_ID}" />

                <input type="submit" name="surveyQuestions_submit" value="{TXT_SAVE_TXT}" onClick="return checkValidations();" />
            </td>
            <td>
        {TXT_DONE}
            </td>
            <td>
        {TXT_BACK}
            </td>
            <td>
        {TXT_PREVIEW}
            </td>
            <td>
        {ADD_QUESTION_HERE}
            </td>
        </tr>
    </table>
</form>
