<table border="0" cellpadding="0" cellspacing="0" class="adminlist" width="100%">
       <tr>
           <th colspan="5">{TXT_ANALYSE_SURVEY_OVERVIEW}</th>
       </tr>
       <tr class="row3">
            <td  style="text-align:left;padding:2px 0px;font-weight:bold;" width="8%">{TXT_SNO}</td>
            <td  style="text-align:left;padding:2px 0px;font-weight:bold;" width="40%">{TXT_QUESTION}</td>
            <td style="text-align:left;padding:2px 0px;font-weight:bold;" width="18%">{TXT_ANSWERED_QUESTION}</td>
            <td style="text-align:left;padding:2px 0px;font-weight:bold;" width="18%">{TXT_SKIPPED_QUESTION}</td>
            <td style="text-align:left;padding:2px 0px;font-weight:bold;" width="18%">{TXT_FUNCTIONS}</td>
       </tr>
       <!-- BEGIN Show_Analyse -->
       <tr class="{ENTRY_ROWCLASS}">
            <td style="text-align:left;padding:2px;">{TXT_SURVEY_COUNT}</td>
            <td style="text-align:left;padding:2px;">{TXT_SURVEY_QUES}</td>
            <td style="text-align:left;padding:2px;">{TXT_SURVEY_VOTES}</td>
            <td style="text-align:left;padding:2px;">{TXT_SURVEY_SKIPPED}</td>
            <td nowrap="nowrap">
     <div align="left" style="padding-right:5px;">
       <a href="index.php?cmd=Survey&act=questionAnalyseSurvey&id={TXT_SURVEY_ID}&sid={TXT_SUR_ID}" target="_self" title="Analyse">
         <img src="../core/Core/View/Media/icons/stats.png" border="0" alt="Analyse" title="Analyse" />
       </a>
     </div>
       </td>
       </tr>
       <!-- END Show_Analyse -->
       <tr>
            <td style="border-style:none;padding-top:5px;"></td>
            <td style="border-style:none;padding-top:5px;text-align:center;"><b>{TXT_TOTAL}</b></td>
            <td style="border-style:none;padding-top:5px;"><b>{TXT_ANSWER_TOTAL}</b></td>
            <td style="border-style:none;padding-top:5px;"><b>{TXT_SKIPPED_TOTAL}</b></td>
            <td style="border-style:none;padding-top:5px;"></td>
       </tr>
       <tr>
            <td style="border-style:none;padding-top:5px;">
              <a href="index.php?cmd=Survey">
               <input type="submit" name="sumbit" value="{TXT_BACK}">
              </a>
            </td>
       </tr>

</table>
