{CREATE_SURVEY_JAVASCRIPT}
<form name="addsurvey" method="post" action="">
    <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
        <tr>
            <th colspan="15">{TXT_TITLE_ADD}</th>
        </tr>
        <tr class="row2">
            <td colspan="2" width="15%" nowrap>{TXT_TITLE}&nbsp;<font color="red">*</font></td>
            <td width="85%"><input type="text" name="title" id="title" style="width: 440px;" value="{DB_SURVEY_TITLE}"></td>
        </tr>
        <tr class="row1">
            <td  colspan="2" nowrap="nowrap">{TXT_UNIQUE_USER_VERIFICATION}&nbsp;<font color="red">*</font></td>
            <td>
                <input type="radio" value="cookie" id="votingRestrictionMethod" name="votingRestrictionMethod" {SELECT_RESTRICTION_COOKIE} /><label for="votingRestrictionMethodCookie">{TXT_COOKIE_BASED}</label><br/>
                <input type="radio" value="email" id="votingRestrictionMethod" name="votingRestrictionMethod" {SELECT_RESTRICTION_EMAIL} /><label for="votingRestrictionMethodEmail">{TXT_EMAIL_BASED}</label>
            </td>
        </tr>
        <tr class="row2">
            <td valign="top" height="10" nowrap="nowrap">{TXT_DESCRIPTION}</td>
            <td align="right" valign="top"><a href="javascript:void(0);" title="{TXT_SHOW}" onclick="displayToggle(this, 'editor_survey_desc');">{TXT_SHOW}</a></td>
            <td>
                <div id="editor_survey_desc" style="display: none;">
                    {DB_SURVEY_DESC}
                </div>
            </td>
        </tr>
        <tr class="row1">
            <td valign="top" height="10" nowrap="nowrap">{TXT_BEGINNING_SURVEY}</td>
            <td align="right" valign="top"> <a href="javascript:void(0);" title="{TXT_SHOW}" onclick="displayToggle(this, 'editor_text1');">{TXT_SHOW}</a></td>
            <td>
                <div id="editor_text1" style="display: none;">
                    {TEXT1}
                </div>
            </td>
        </tr>
        <tr class="row2">
            <td valign="top" height="10" nowrap="nowrap">{TXT_ADDITIONALINFO_SURVEY}</td>
            <td align="right" valign="top"><a href="javascript:void(0);" title="{TXT_SHOW}" onclick="displayToggle(this, 'editor_text2');">{TXT_SHOW}</a></td>
            <td>
                <div id="editor_text2" style="display: none;">
                    {TEXT2}
                </div>
            </td>
        </tr>
        <tr class="row1">
            <td valign="top" height="10" nowrap="nowrap">{TXT_BELOW_SUBMIT}</td>
            <td align="right" valign="top"><a  href="javascript:void(0);" title="{TXT_SHOW}" onclick="displayToggle(this, 'editor_text_aft_btn');">{TXT_SHOW}</a></td>
            <td>
                <div id="editor_text_aft_btn"  style="display: none;">
                    {DB_TEXT_AFTER_BUTTON}
                </div>
            </td>
        </tr>
        <tr class="row2">
            <td valign="top" height="10" nowrap="nowrap">{TXT_THANK_MSG}</td>
            <td align="right" valign="top"><a  href="javascript:void(0);" title="{TXT_SHOW}" onclick="displayToggle(this, 'editor_thanks_msg');">{TXT_SHOW}</a></td>
            <td>
                <div id="editor_thanks_msg"  style="display: none;">
                    {THANKS_MSG}
                </div>
            </td>
        </tr>
        <tr valign="top" class="row1">
            <td colspan="2" nowrap="nowrap">{TXT_ADDITIONAL_FIELDS_LABEL}</td>
            <td>
                <input type="checkbox" id="additional_salutation" name="additional_salutation" {VOTING_FLAG_ADDITIONAL_SALUTATION}/>
                       <label for="additional_salutation">{TXT_SALUTATION}</label> <br/>

                <input type="checkbox" id="additional_nickname" name="additional_nickname" {VOTING_FLAG_ADDITIONAL_NICKNAME}/>

                       <label for="additional_nickname">{TXT_NICKNAME}</label><br/>
                <input type="checkbox" id="additional_forename" name="additional_forename" {VOTING_FLAG_ADDITIONAL_FORENAME}/>
                       <label for="additional_forename">{TXT_FIRSTNAME}</label> <br/>

                <input type="checkbox" id="additional_surname" name="additional_surname" {VOTING_FLAG_ADDITIONAL_SURNAME}/>
                       <label for="additional_surname">{TXT_LASTNAME}</label> <br/>

                <input type="checkbox" id="additional_agegroup" name="additional_agegroup" {VOTING_FLAG_ADDITIONAL_AGEGROUP}/>
                       <label for="additional_agegroup">{TXT_AGEGROUP}</label> <br/>


                <input type="checkbox" id="additional_email" name="additional_email" {VOTING_FLAG_ADDITIONAL_EMAIL}/>
                       <label for="additional_email">{TXT_EMAIL_TEXT}</label> <br/>

                <input type="checkbox" id="additional_phone" name="additional_phone" {VOTING_FLAG_ADDITIONAL_PHONE}/>
                       <label for="additional_phone">{TXT_TELEPHONE}</label> <br/>

                <input type="checkbox" id="additional_street" name="additional_street" {VOTING_FLAG_ADDITIONAL_STREET}/>
                       <label for="additional_street">{TXT_STREET}</label> <br/>

                <input type="checkbox" id="additional_zip" name="additional_zip" {VOTING_FLAG_ADDITIONAL_ZIP}/>
                       <label for="additional_zip">{TXT_ZIPCODE}</label> <br/>

                <input type="checkbox" id="additional_city" name="additional_city" {VOTING_FLAG_ADDITIONAL_CITY}/>
                       <label for="additional_city">{TXT_PLACEOFREC}</label> <br/>
            </td>
        </tr>
    </table>
    <br />
    <table cellpadding="2" cellspacing="0" border="0">
        <tr>
            <td>
                {HIDDEN_FIELD}<input type="submit" name="survey_submit" value="{TXT_BUTTON}" onClick="return checkValidations_one();" />
            </td>
            <td>
                  {TXT_NEXT}
            </td>
        </tr>
    </table>
</form>
