<!-- START module_newsletter -->

{JAVASCRIPTCODE}
<div id="subnavbar_level2">
<ul>
<li><a href="index.php?cmd=newsletter&act=edituser" title="{TXT_EDIT}">{TXT_EDIT}</a></li>
<li><a href="index.php?cmd=newsletter&act=adduser" title="{TXT_ADD}">{TXT_ADD}</a></li>
<li><a href="index.php?cmd=newsletter&act=importuser" title="{TXT_IMPORT}">{TXT_IMPORT}</a></li>
<li><a href="index.php?cmd=newsletter&act=exportuser" title="{TXT_EXPORT}">{TXT_EXPORT}</a></li>
</ul>
</div>
<br/>
<table width="100%" border="0" cellpadding="3" cellspacing="0" class="adminlist">
	<tr>
		<th>{TXT_TITLE}</th>
	</tr>
	<tr class="row1">
		<td>
			<form name="SearchForm" action="index.php?cmd=newsletter&act=edituser" method="POST">
				<table cellspacing="0" cellpadding="1" border="0">
					<tr>
						<td><input type="text" name="keyword" value="" size="40" maxlength="255" /></td>
						<td>{SELECTLIST_FIELDS}</td>
						<td>{SELECTLIST_STATUS}</td>
						<td><input type="submit" value="{TXT_SEARCH}" /></td>
					</tr>
				</table>
			</form>
		</td>
	</tr>
</table>
<br/>{EMAIL_CODE_CHECK}
<table width="100%" border="0" cellpadding="3" cellspacing="0" class="adminlist">
	<tr>
		<th nowrap align="center">&nbsp;</th>
		<th nowrap width="30%">{TXT_EMAIL_ADDRESS}</th>
		<th nowrap>{TXT_LASTNAME}</th>
		<th nowrap>{TXT_FIRSTNAME}</th>
		<th nowrap>{TXT_STREET}</th>
		<th nowrap>{TXT_ZIP}</th>
		<th nowrap>{TXT_CITY}</th>
		<th nowrap>{TXT_COUNTRY}</th>
		<th width="100%">&nbsp;</th>
	</tr>
	<!-- BEGIN newsletter_user -->
	<tr class="{ROW_CLASS}">
		<td align="center">{STATUS_IMG}</td>
		<td nowrap>{USER_EMAIL}</td>
		<td nowrap>{USER_LASTNAME}</td>
		<td nowrap>{USER_FIRSTNAME}</td>
		<td nowrap>{USER_STREET}</td>
		<td nowrap>{USER_ZIP}</td>
		<td nowrap>{USER_CITY}</td>
		<td nowrap>{USER_COUNTRY}</td>
		<td align="right">
			<table cellspacing="0" cellpadding="0" border="0" align="right">
				<tr>
					<td><a href="index.php?cmd=newsletter&act=detailuser&id={USER_ID}"><img src="images/icons/edit.gif" border="0" alt="{TXT_EDIT}"></a></td>
					<td><a href="javascript:DeleteUser({USER_ID});"><img src="images/icons/delete.gif" border="0" alt="{TXT_DELETE}"></a></td>
				</tr>
			</table> 
		</td>
	</tr>
	<!-- END newsletter_user -->
	
</table>
<br/>
{USER_PAGING}
<!-- END module_newsletter -->