<!-- START module_newsletter_overview.html -->



<table width="100%" border="0" cellpadding="3" cellspacing="0" class="adminlist">
	<tr>
		<th>{TXT_TITLE}</th>
	</tr>
</table>

<br/>

<table width="50%" cellspacing="5" cellpadding="10" border="0">
	<tr>
		<td>
		
			<table width="100%" cellspacing="2" cellpadding="10" border="0">
				<tr>
					<td width="25%"><a href="?cmd=newsletter&act=newsletterlist"><div align="center"><img src="images/32x32/newsletter.gif" border="0" /><br/>{TXT_TITLE_NEWSLETTER}</div></a></td>
					<td width="25%"><a href="?cmd=newsletter&act=edituser"><div align="center"><img src="images/32x32/user.gif" border="0" /><br/>{TXT_TITLE_USER}</div></a></td>
					<td width="25%"><a href="?cmd=newsletter&act=categorys"><div align="center"><img src="images/32x32/category.gif" border="0" /><br/>{TXT_TITLE_CATEGORY}</div></a></td>
					<td width="25%"><a href="?cmd=newsletter&act=dispatch"><div align="center"><img src="images/32x32/config.gif" border="0" /><br/>{TXT_TITLE_SETTINGS}</div></a></td>
				</tr>
			</table>
		
			<!-- NEWSLETTER 
			<table cellspacing="0" cellpadding="0" border="0">
				<tr>
					<td>
						<table cellspacing="0" cellpadding="0" border="0">
							<tr>
								<td><img src="images/newsletter/newsletter_newsletter.gif" border="0" /></td>
								<td valign="bottom"><b>{TXT_TITLE_NEWSLETTER}</b></td>
							</tr>
							<tr>
								<td><img src="images/newsletter/newsletter_newsletter2.gif" border="0" /></td>
								<td><img src="images/newsletter/newsletter_line01.gif" border="0" /></td>
							</tr>
							<tr>
								<td colspan="2">
									<table width="273" cellspacing="0" cellpadding="0" border="0">
										<tr>
											<td width="61"><img src="images/newsletter/newsletter_line02.gif" border="0" /></td>
											<td width="212" valign="top">
												<a href="index.php?cmd=newsletter&act=newsletterinsert">+ {TXT_NEWSLETTER_NEW}</a><br/>
												<a href="index.php?cmd=newsletter&act=newsletterlist">+ {TXT_NEWSLETTER_EDIT_SEND}</a><br/>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
		<td valign="top">
			 CATEGORY 
			<table cellspacing="0" cellpadding="0" border="0">
				<tr>
					<td>
						<table cellspacing="0" cellpadding="0" border="0">
							<tr>
								<td><img src="images/newsletter/newsletter_categorys.gif" border="0" /></td>
								<td valign="bottom"><b>{TXT_TITLE_CATEGORY}</b></td>
							</tr>
							<tr>
								<td><img src="images/newsletter/newsletter_categorys2.gif" border="0" /></td>
								<td><img src="images/newsletter/newsletter_line01.gif" border="0" /></td>
							</tr>
							<tr>
								<td colspan="2">
									<table width="273" cellspacing="0" cellpadding="0" border="0">
										<tr>
											<td width="61"><img src="images/newsletter/newsletter_line02.gif" border="0" /></td>
											<td width="212" valign="top">
												<a href="index.php?cmd=newsletter&act=categorys">+ {TXT_ADD} / {TXT_EDIT}</a>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td valign="top">
			 USER 
			<table cellspacing="0" cellpadding="0" border="0">
				<tr>
					<td>
						<table cellspacing="0" cellpadding="0" border="0">
							<tr>
								<td><img src="images/newsletter/newsletter_user.gif" border="0" /></td>
								<td valign="bottom"><b>{TXT_TITLE_USER}</b></td>
							</tr>
							<tr>
								<td><img src="images/newsletter/newsletter_user2.gif" border="0" /></td>
								<td><img src="images/newsletter/newsletter_line01.gif" border="0" /></td>
							</tr>
							<tr>
								<td colspan="2">
									<table width="273" cellspacing="0" cellpadding="0" border="0">
										<tr>
											<td width="61"><img src="images/newsletter/newsletter_line02.gif" border="0" /></td>
											<td width="212" valign="top">
												<a href="index.php?cmd=newsletter&act=adduser">+ {TXT_ADD}</a><br/>
												<a href="index.php?cmd=newsletter&act=edituser">+ {TXT_EDIT}</a><br/>
												<a href="index.php?cmd=newsletter&act=importuser">+ {TXT_IMPORT}</a><br/>
												<a href="index.php?cmd=newsletter&act=exportuser">+ {TXT_EXPORT}</a>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
		<td valign="top">
			 CONFIG 
			<table cellspacing="0" cellpadding="0" border="0">
				<tr>
					<td>
						<table cellspacing="0" cellpadding="0" border="0">
							<tr>
								<td><img src="images/newsletter/newsletter_config.gif" border="0" /></td>
								<td valign="bottom"><b>{TXT_TITLE_SETTINGS}</b></td>
							</tr>
							<tr>
								<td><img src="images/newsletter/newsletter_config2.gif" border="0" /></td>
								<td><img src="images/newsletter/newsletter_line01.gif" border="0" /></td>
							</tr>
							<tr>
								<td colspan="2">
									<table width="273" cellspacing="0" cellpadding="0" border="0">
										<tr>
											<td width="61"><img src="images/newsletter/newsletter_line02.gif" border="0" /></td>
											<td width="212" valign="top">
												<a href="index.php?cmd=newsletter&act=dispatch">+ {TXT_DISPATCH_SETINGS}</a><br/>
												<a href="index.php?cmd=newsletter&act=confightml">+ {TXT_GENERATE_HTML}</a><br/>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			-->
		</td>
	</tr>
</table>
<br/>
<table width="100%" border="0" cellpadding="3" cellspacing="0" class="adminlist">
	<tr>
		<th>{TXT_STATISTICS}</th>
	</tr>
</table>

<table width="100%" cellspacing="0" cellpadding="0" border="0" class="adminlist">
	
	<tr>
		<td><div align="center"><img src="images/32x32/newsletter.gif" border="0" /></div></td>
		<td width="90%">{TXT_NEWSLETTER_SENT_NEWSLETTERS}: {VALUE_SENT_NEWSLETTERS}</td>
	</tr>
	<tr> 
		<td><div align="center"><img src="images/32x32/user.gif" border="0" /></div></td>
		<td width="90%"><a href="?cmd=newsletter&act=edituser">{TXT_NEWSLETTER_ANNOUNCED_USERS}: {USER_COUNT}</a><br/><br/>
		{CAT_STAT}
		</td>
	</tr><!--
	<tr class="row1">
		<td><div align="center"><img src="/images/modules/newsletter/newsletter_icon_config.gif" border="0" /></div></td>
		<td width="90%">{TXT_TITLE_SETTINGS}</td>
	</tr>-->
</table>
	
<!--

<table width="100%" border="0" cellpadding="3" cellspacing="0" class="adminlist">
	<tr>
		<td>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<img src="images/icons/newsletter.gif" border="0" /> {TXT_NEWSLETTER_NOT_SENT_NEWSLETTERS}: {VALUE_NOT_SENT_NEWSLETTERS}&nbsp;&nbsp;&nbsp;&nbsp;
		<img src="images/icons/newsletter.gif" border="0" /> {TXT_NEWSLETTER_SENT_NEWSLETTERS}: {VALUE_SENT_NEWSLETTERS}&nbsp;&nbsp;&nbsp;&nbsp;
		<img src="images/icons/groups.gif" border="0" /> {TXT_NEWSLETTER_ANNOUNCED_USERS}: {USER_COUNT}
		
		</td>
	</tr>
</table>

-->
<br/>


<!-- END module_newsletter_overview.html -->