<!-- START module_newsletter.html -->


<script language="javascript">
	
</script>


<form name="NewsletterTest" action="index.php?cmd=newsletter&act=newslettersend" method="POST">
<input type="hidden" name="sendtestmail" value="exe">
<input type="hidden" name="id" value="{NEWSLETTER_ID}">
<table width="100%" border="0" cellpadding="3" cellspacing="0" class="adminlist">
	<tr>
		<th nowrap colspan="2">{TXT_SEND_TEST_EMAIL}</th>
	</tr>
	<tr class="row1">
		<td width="12%">{TXT_EMAIL_ADDRESS}</td>
		<td width="88%"><input type="text" name="testemail" value="" size="40" maxlength="200" style="width: 220px;" /></td>
	</tr>
</table>
<br/>
<input type="submit" value="{TXT_SEND_TEST_EMAIL}" />
</form>
<br/>
<table width="100%" border="0" cellpadding="3" cellspacing="0" class="adminlist">
	<tr>
		<th nowrap>{TXT_SEND_NEWSLETTER}</th>
	</tr>
	<tr class="row1">
		<td>
		
		<br/><br/>
		<!--<iframe frameborder="0" id="NewsletterSending" width="200" height="50" src="../modules/newsletter/template/newsletter_reload.html">-->
		<iframe name="NewsletterIframe" scrolling="No" width="100%" height="120" frameborder="0" src="index.php?cmd=newsletter&act=newslettersend&standalone=true&id={NEWSLETTER_ID}"></frame></td>
	</tr>
</table>


<!-- END module_newsletter.html -->