<!-- START module_newsletter_overview.html -->

{JAVASCRIPTCODE}
<div id="subnavbar_level2">
<ul>
<li><a href="index.php?cmd=newsletter&act=edituser" title="{TXT_EDIT}">{TXT_EDIT}</a></li>
<li><a href="index.php?cmd=newsletter&act=adduser" title="{TXT_ADD}">{TXT_ADD}</a></li>
<li><a href="index.php?cmd=newsletter&act=importuser" title="{TXT_IMPORT}">{TXT_IMPORT}</a></li>
<li><a href="index.php?cmd=newsletter&act=exportuser" title="{TXT_EXPORT}">{TXT_EXPORT}</a></li>
</ul>
</div>
<br/>
<form name="exportuserlist" action="" method="POST">
<table width="100%" border="0" cellpadding="3" cellspacing="0" class="adminlist">
	<tr>
		<th>{TXT_TITLE}</th>
	</tr>
	<tr class="row1">
		<td><textarea name="exportlist" style="width: 100% ; height: 300px;">{USER_LIST}</textarea></td>
	</tr>

</table>
<br/>
<INPUT onclick="javascript:this.form.exportlist.focus();this.form.exportlist.select();" type=button value="{TXT_SELECT_ALL}"/>
</form>

<!-- END module_newsletter_overview.html -->