/* \*/
/* */
html,body {
            margin:0;
            padding:0;
            border:0;
            /* \*/
            height:100%;
          }
body {
       background:#FF9933;
       min-width:982px; 
       text-align:center;
     }	 
.clear{
        clear:both;
        height:1px;
        overflow:hidden;
        line-height:1%;
        font-size:0px;
        margin-bottom:-1px;
}
* html .clear { 
                height:auto;
                margin-bottom:0
			  }
#fullheightcontainer {
                       margin-left:auto;
                       margin-right:auto;
                       text-align:left;
                       position:relative;
                       width:982px;
                       /* \*/
                       height:100%;
                     }
#wrapper{
          min-height:100%;
          /* \*/
          height:100%;
          border-right:1px solid #FF9933;
          border-left:1px solid #FF9933;
          background:#FFCC88;
        }
#wrapp\65 r {
              height:auto; 
            }
/* \*/
* html #wrapper {
                  height:100%;
                }
#outer { 
         z-index:1;
         position:relative;
         margin-left:150px;
         width:678px;
         border-right:1px solid #FF9933;
         border-left:1px solid #FF9933;
         background:transparent;
         /* \*/
         height:100%;
       }
* html #outer { 
                width:680px; 
                w\idth:478px;
              }
#float-wrap { 
              width:678px;
              margin-right:-1px;
              float:left;
              display:inline;
            }
#left {
        width:152px;
        float:left;
        display:inline;
        position:relative;
        margin-left:-151px;
}
*>html #left { 
               width:151px;
			 }
#container-center {
 margin: 5px;
}

#container-left {
                  width:150px;
                }
#right {
         float:left;
         display:inline;
         width:152px;
         margin-right:-150px;
         margin-left:-1px;
         position:relative;
       }
/* \*/
* html #right {
                width:152px;
                margin-left:0px;
                margin-right:-700px;
                mar\gin-right:-152px;
              }

#container-right {
                   /* \*/
                   width:150px;
                   margin-left:3px;
                 }
/* \*/
* html #container-right {
                          fl\oat:right;
                          di\splay:inline;
                          margin-left:2px;
                          mar\gin-left:0px;
                        }
/* \*/
* html #left { 
               margin-right:-3px;
			 }
#center {
          width:678px;
          float:right;
          display:inline;
          /* \*/
          margin-left:-1px;
        }
#clearheadercenter {
                     height:196px;
                     overflow:hidden;
                   }
#clearheaderleft {
                   height:196px;
                   overflow:hidden;
                 }
#clearheaderright {
                    height:196px;
                    overflow:hidden;
                  }
#clearfootercenter {
                     height:112px;
                     overflow:hidden;
                   }
#clearfooterleft {
                   height:112px; 
                   overflow:hidden;
                 }
#clearfooterright {
                    height:112px;
                    overflow:hidden;
                  }
#footer {
          z-index:1;
          position:absolute;
          clear: both;
          width:982px;
          height:52px;
          overflow:hidden;
          margin-top:-52px;
        }
#subfooter1 {
              background:#FF9933;
              text-align:center;
              margin:0 1px;
              height:0px;
			  font-size: 50%;
            }
#subfooter2 {
              background:#FF9933;
              text-align:center;
              margin:0 1px;
              height:0px;
			  font-size: 50%;
            }
#subfooter3 {
              background:#FF9933;
              text-align:center;
              margin:0 1px;
              height:0px;
			  font-size: 50%;
            }
#subfooter4 {
              background:#FFE7AA;
              text-align:center;
              margin:0 1px;
              height:50px; 
			  font-size: 80%;
            }
#header {
          z-index:1;
          position:absolute;
          top:0px;
          width:982px;
          height:196px;
          overflow:hidden;
        }
.outer_horiz_border, .sb_outer_horiz_border {
                                              background:#FF9933;
                                              height:1px;
                                              overflow:hidden;
                                              font-size:0px
                                            }
#subheader1 {
              background:#FFCC88;
              text-align:left;
              margin:0px 1px;
              height:32px;
            }
#subheader2 {
              background:#FFE7AA;
              text-align:left;
              margin:0px 1px;
              height:78px;
            }
#subheader3 {
              background:#FFCC88;
              text-align:center;
              margin:0px 1px;
              height:32px;
            }

#subheader4 {
              background:#FFE7AA;
              text-align:left;
              margin:0px 1px;
              height:42px;
            }
#gfx_bg_middle {
                 top:0px;
                 position:absolute;
                 height:100%;
                 overflow:hidden;
                 width:678px;
                 margin-left:150px;
                 
                 border-right:1px solid #FF9933; 
                 border-left:1px solid #FF9933;
               }
* html #gfx_bg_middle {
                        display:none;
                      }