<table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
    <thead>
        <tr>
            <th colspan="2">{TXT_DOWNLOADS_PLACEHOLDERS}</th>
        </tr>
    </thead>
    <tbody>
        <tr class="row3">
            <td colspan="2">{TXT_DOWNLOADS_KEY}: {TXT_DOWNLOADS_MAIL_KEY_ASSEST_NOTIFICATION}</td>
        </tr>
        <tr class="row1">
            <td style="width: 200px;">[DOMAIN_URL]</td>
            <td>
                {TXT_DOWNLOADS_DOMAIN_URL_DESC}
            </td>
        </tr>
        <tr class="row1">
            <td style="width: 200px;">[FILE_OWNER]</td>
            <td>
                {TXT_DOWNLOADS_FILE_OWNER_DESC}
            </td>
        </tr>
        <tr class="row1">
            <td style="width: 200px;">[FILE_NAME]</td>
            <td>
                {TXT_DOWNLOADS_FILE_NAME_DESC}
            </td>
        </tr>
        <tr class="row1">
            <td style="width: 200px;">[CATEGORY_NAME]</td>
            <td>
                {TXT_DOWNLOADS_CATEGORY_NAME_DESC}
            </td>
        </tr>
        <tr class="row1">
            <td style="width: 200px;">[FILE_DOWNLOAD_LINK_SRC]</td>
            <td>
                {TXT_DOWNLOADS_FILE_DOWNLOAD_LINK_SRC_DESC}
            </td>
        </tr>
    </tbody>
</table>
