 #menuwrapper, #contentwrapper, #footerwrapper, #seperatorwrapper {
	text-align: center;
	border-top: 1px solid #fff;
}

#top, #menu, #homecontent, #footer, #seperator {
	width: 928px;
	text-align: left;
	margin: 0 auto;
}

#homecontent {
	width: 930px;
	height: auto !important;
	min-height: 500px;
	height: 500px;
	text-align: left;
	margin: 0 auto;
}

#frame {
	width: 928px;
	height: auto !important;
	min-height: 500px;
	height: 500px;
	text-align: left;
	float:left;
	background: #fff url(images/bg_homecontent.gif) repeat-y top left;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

#topwrapper {
	width: 100%;
	background-image:url(images/bg_topwrapper.gif);
}
#top {
	height: 95px;
	background-image:url(images/bg_header_2.gif);
	border-left: 1px solid #1679CE;
	border-right: 1px solid #1679CE;
	background-position:top;
	border-bottom: 5px solid #1679CE;
}

#pagetitle {
	float: left;
	width: 600px;
	height: auto;
	margin: 15px 0px 0 15px;
	padding: 0;
	color: #FFFFFF;
}

#searchbox {
	float: right;
	width: 220px;
	height: auto;
	margin: 20px 30px 0 0;
	padding: 0;
	text-align:right;
}

#langnavbar{
	float: right;
	width: 220px;
	height: auto;
	margin: 20px 30px 0 0;
	padding: 0;
	text-align:right;
	color: #FFFFFF;
        font-size: 11px;
}

#langnavbar a{
	color: #FFFFFF;
	text-decoration:none;
}

#langnavbar a:hover{
	color: #FFFFFF;
	text-decoration:underline;
}

#menuwrapper {
	background: #eee url(images/menubg.gif) no-repeat center;
}

#menu {
	background: #ddd url(images/bg_menu.gif) repeat-x;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
	height: 35px;
}

#seperatorwrapper {
    width: 100%;
	background-image:url(images/bg_seperatorwrapper.gif);
	background-position:top center;
	background-color: #eeeeee;
}

#seperator {
	height: 30px;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
	background-color:#1679CE;
	background-image:url(images/bg_seperator.gif);
}

#breadcrumb {
	width: 538px;
	padding: 7px 0px 0px 210px;
	font-size: 0.7em;
	line-height : 1.5em;
	color: #666666;
	float: left;
}

#fontsize {
	float: left;
	width: 140px;
	height: auto;
	padding: 6px 30px 0px 10px;
	line-height : 1.5em;
	color: #666666;
	font-size: 0.7em;
	text-align:right;
}

#contentwrapper{
	background: #fff url(images/bg_sides_content.gif) repeat-y center;
	height: auto !important;
	width:100%;
	float:left;
}

#sidebar {
	width: 210px;
	background: #eee url(images/bg_eee_rightshad.gif) repeat-y right;
	float: left;
	height: auto !important;
	border-top:0px solid #cccccc;
	padding: 0px 0 0 0;
}

#sidebar ul {
	padding: 0 15px 15px 15px;
}

#sidebar ul li ul {
	padding: 0;
}

#sidebar li {
	list-style: none;
	padding: 5px;
	font-size: 0.8em;
	line-height : 1.4em;
	padding-left: 15px;
	border-bottom: 1px solid #ccc;
}

#sidebar li ul li {
	padding-left: 15px;
	padding-bottom: 0;
	border-bottom: 0;
	font-size: 1em;
}

#sidebar li a {
	text-decoration: none;
}

#sidebar h2 {
	color: #666;
	background: #eee url(images/bg_submenu_head.gif) repeat-x top;
	margin: 0 0 0px 0;
	padding: 7px 15px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	font-size: 0.9em;
	font-weight: bold;
	text-align:left;
}

#shopInfos ul {
	color: #666;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 17px 0px;
}

#shopInfos ul li{
	display: block;
	padding: 4px 13px 4px 18px;
	margin: 0px 0px 0px 0px;
	text-align:left;
	font-size: 0.7em;
}

#shopInfos ul li:hover{
	display: block;
	padding: 4px 12px 4px 18px;
	margin: 0px 0px 0px 0px;
	background-color: #F2F2F2;
	border-right: 1px solid #ccc;
}

#shopInfos ul li a, #shopInfos ul li a:hover{
	color: #666;
	text-decoration: none;
	font-weight: bold;
}

#shopJsCart {
	color: #666;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 17px 0px;
	text-align:center;
}

#shopJsCart ul {
	color: #666;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

#shopJsCart ul li{
	display: block;
	padding: 4px 13px 4px 18px;
	margin: 0px 0px 0px 0px;
	text-align:left;
	font-size: 0.7em;
}

#shopJsCart ul li.cart {
	background-image: url('images/zumwarenkorb.gif');
	background-repeat: no-repeat;
        background-position:18px 0px;
	padding: 4px 13px 4px 42px;
}

#shopJsCart ul li.destroy {
	background-image: url('images/warenkorbcancel.gif.');
	background-repeat: no-repeat;
        background-position:18px 0px;
	padding: 4px 13px 4px 42px;
}

#shopJsCart ul li:hover{
	display: block;
	margin: 0px 0px 0px 0px;
	background-color: #F2F2F2;
	border-right: 1px solid #ccc;
}

#shopJsCart ul li a, #shopJsCart ul li a:hover{
	color: #666;
	text-decoration: none;
	font-weight: bold;
}

#headlines ul {
	color: #666;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 17px 0px;
}

#headlines ul li{
	display: block;
	padding: 4px 13px 4px 18px;
	margin: 0px 0px 0px 0px;
	font-size: 0.7em;
}

#headlines ul li a, #headlines ul li a:hover{
	color: #666;
	text-decoration: none;
	font-weight: bold;
}

#headlines ul li:hover{
	display: block;
	padding: 4px 12px 4px 18px;
	margin: 0px 0px 0px 0px;
	background-color: #F2F2F2;
	border-right: 1px solid #ccc;
}

#login ul {
	color: #666;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 17px 0px;
}

#login ul li{
	display: block;
	padding: 4px 13px 4px 18px;
	margin: 0px 0px 0px 0px;
	font-size: 0.7em;
}

#login ul li a, #login ul li a:hover{
	color: #666;
	text-decoration: none;
	font-weight: bold;
}

#login ul li:hover{
	display: block;
	padding: 4px 12px 4px 18px;
	margin: 0px 0px 0px 0px;
	background-color: #F2F2F2;
	border-right: 1px solid #ccc;
}

#community_large {
	display:none;
	margin: 0px 0px 10px 0px;
}

#community_small {
	display:block;
	margin: 0px 0px 27px 0px;
}

#community_small h2 a, #community_large h2 a {
	color: #666666;
}

#community ul {
	color: #666;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 17px 0px;
}

#community ul li{
	display: block;
	padding: 4px 13px 4px 18px;
	margin: 0px 0px 0px 0px;
	font-size: 0.7em;
}

#community ul li a, #community ul li a:hover{
	color: #666;
	text-decoration: none;
	font-weight: bold;
}

#community ul li:hover{
	display: block;
	padding: 4px 12px 4px 18px;
	margin: 0px 0px 0px 0px;
	background-color: #F2F2F2;
	border-right: 1px solid #ccc;
}

#latest ul {
	color: #666;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 17px 0px;
	height:auto !important;
	max-height: 134px;
	overflow:auto;
}

#latest ul li{
	display: block;
	padding: 4px 13px 4px 18px;
	margin: 0px 0px 0px 0px;
	font-size: 0.7em;
}

#latest ul li a, #latest ul li a:hover{
	color: #666;
	text-decoration: none;
	font-weight: bold;
}

#latest ul li:hover{
	display: block;
	padding: 4px 12px 4px 18px;
	margin: 0px 0px 0px 0px;
	background-color: #F2F2F2;
	border-right: 1px solid #ccc;
}

#online ul {
	color: #666;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 17px 0px;
	height:auto !important;
	max-height: 134px;
	overflow:auto;
}

#online ul li{
	display: block;
	padding: 4px 13px 4px 18px;
	margin: 0px 0px 0px 0px;
	font-size: 0.7em;
}

#online ul li a, #online ul li a:hover{
	color: #666;
	text-decoration: none;
	font-weight: bold;
}

#online ul li:hover{
	display: block;
	padding: 4px 12px 4px 18px;
	margin: 0px 0px 0px 0px;
	background-color: #F2F2F2;
	border-right: 1px solid #ccc;
}

#newest ul {
	color: #666;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 17px 0px;
	height:auto !important;
	max-height: 134px;
	overflow:auto;
}

#newest ul li{
	display: block;
	padding: 4px 13px 4px 18px;
	margin: 0px 0px 0px 0px;
	font-size: 0.7em;
}

#newest ul li a, #newest ul li a:hover{
	color: #666;
	text-decoration: none;
	font-weight: bold;
}

#newest ul li:hover{
	display: block;
	padding: 4px 12px 4px 18px;
	margin: 0px 0px 0px 0px;
	background-color: #F2F2F2;
	border-right: 1px solid #ccc;
}

#birthday ul {
	color: #666;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 17px 0px;
	height:auto !important;
	max-height: 134px;
	overflow:auto;
}

#birthday ul li{
	display: block;
	padding: 4px 13px 4px 18px;
	margin: 0px 0px 0px 0px;
	font-size: 0.7em;
}

#birthday ul li a, #birthday ul li a:hover{
	color: #666;
	text-decoration: none;
	font-weight: bold;
}

#birthday ul li:hover{
	display: block;
	padding: 4px 12px 4px 18px;
	margin: 0px 0px 0px 0px;
	background-color: #F2F2F2;
	border-right: 1px solid #ccc;
}

.columnwrapper {
	width: 658px;
	margin: 30px 0 0px 30px;
padding: 0px 0px 30px 0px;
	float: left;
	font: normal 0.8em Arial, Verdana, sans-serif;
}

.column {
	padding: 0px 0px 30px 0px;
	clear: both;
}

.leftmargin {
	margin-left: 30px;
}


.home_community_table {
	float: left;
	width: 205px;
	padding: 0px 0px 0px 0px;
	margin: 25px 5px 15px 0px;
	height: auto !important;
        border-bottom: 1px solid #cccccc;
        border-left: 1px solid #cccccc;
        border-right: 1px solid #cccccc;
        border-top: 1px solid #cccccc;
        min-height: 230px;
	height: auto !important;
	height: 230px;
}

.home_community_table div.header {
	color: #666;
	background: #eee url(images/bg_submenu_head.gif) repeat-x top;
	margin: 0 0 0px 0;
	padding: 7px 15px;
	border-bottom: 1px solid #ccc;
	font-size: 0.9em;
	font-weight: bold;
	text-align:left;
}

.home_community_table div.content {
	margin:0;
	padding: 5px 8px 5px 8px;
	font-size: 0.9em;
}

.home_community_table div.content ul {
	margin: 0px;
	padding: 0px;
}


.home_community_table div.content ul li{
	margin: 0px 0px 0px 0px;
	padding: 0px 2px 7px 2px;
	border-bottom: 0px solid #ccc;
list-style: none;
	font-size: 0.95em;
	color: #666;
}


.home_community_table div.content ul li a{
	font-weight: bold;
	color: #666;
}




#footerwrapper{
	float: left;
	width: 100%; 
	background-image:url(images/bg_body.gif);
	background-position:top center;
	background-color: #F6F6F6;
	background-repeat:repeat-y;
}

#footer{
	background: #ddd;
	border-left: 1px solid #bbb;
	border-right: 1px solid #bbb;
	height: 100px;
	width: 928px;
}

#footer a {
	color: #666;
	text-decoration:none;
}

#footer a:hover {
	color: #999;
	text-decoration:none;
}

#footer p {
	margin: 0;
	color: #666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.6em;
	padding: 20px 0 0 30px;
	float: left;
}

#footer p.right {
	padding: 25px 30px;
	float: right;
}

#footer p.left {
	padding: 25px 30px;
	float: left;
}

.clear {
	clear: both;
}
#qualidator {
	float: left;
	width: 90px;
	height: 70px;
	position: relative;
	left: 3px;
	top: 0px;
	bottom: 0px;
	list-style-type:none;
	margin: 15px 0px 0px 0px;
	background: none;
}

#qualidator a, #logoAG a {
	float: left;
	background: url("images/qualidator_normal.gif") no-repeat;
	width: 70px;
	height: 70px;
	list-style-type:none;
}

#qualidator #logoAG a:hover, #qualidator #logoAG a.active {
	color: #9ff;
	background:url("images/qualidator_hover.gif") no-repeat;
}

#qualidator #logoAG a .showcase {
	display: none;
	list-style-type:none;
}

#qualidator #logoAG a:hover .showcase {
	display: none;
	list-style-type:none;
}

ul#logoAG li {
	list-style-type:none;
}

ul#logoAG li a {
	list-style-type:none;
}
