/*-----------SUBNAVIGATION-----------*/
#subnavigation ul, #shopNavbar ul {
    display:block;
	padding: 0px 0px 17px 0px;
    margin: 0px 0px 0px 0px;
	list-style: none;
 	border-right: 0px solid #00ff00;
}

#subnavigation li, #shopNavbar li {

    padding:0px;
    margin: 0px;
	list-style: none;
}

#subnavigation ul li.level2, #shopNavbar ul li.shopnavbar1, #shopNavbar ul li {
    display:block;
	height: auto !important;
    height: 15px;
    padding:0px;
    margin: 0px;
}

#subnavigation ul li.level2 a, #shopNavbar ul li.shopnavbar1 a, #shopNavbar ul li a {
    display:block;
    padding: 5px 12px 5px 18px;
	color: #666666;
	height: auto !important;
	font-weight: normal;
	text-transform: none;
}

#subnavigation ul li.level2 a:hover, #shopNavbar ul li.shopnavbar1 a:hover, #shopNavbar ul li a:hover   {
    display:block;
    padding: 5px 12px 5px 18px;
    color: #666666;
    background-color: #F2F2F2;
    text-decoration: none;
	border-right: 1px solid #cccccc;
}

#subnavigation ul li.level2 a.active, #subnavigation ul li.level2 a.active:hover, #shopNavbar ul li.shopnavbar1_active a, #shopNavbar ul li.shopnavbar1_active a:hover, #shopNavbar ul li.active a:hover, #shopNavbar ul li.active a  {
    display:block;
    padding: 5px 12px 5px 18px;
    color: #666666;
    text-decoration: none;
    font-weight:bold;
    background-color: #F2F2F2;
	background-image:url(images/bg_submenu_hover.gif);
	background-position:right;
	border-right: 0px solid #cccccc
}


/*-----------LEVEL 3-----------*/
#subnavigation ul li.level3, #shopNavbar ul li.shopnavbar2 {
	color: #666666;
	border-bottom: solid 1px #C3C3C3;

}

#subnavigation ul li.level3 a, #shopNavbar ul li.shopnavbar2 a  {
	display: block;
	padding: 3px 24px 3px 27px;
	color: #666666;
	font: normal 0.9em Arial, Verdana, sans-serif;
}

#subnavigation ul li.level3 a:hover, #shopNavbar ul li.shopnavbar2 a:hover {
	color: #666666;
	padding: 3px 24px 3px 27px;
	background-color: #F2F2F2;
	font: normal 0.9em Arial, Verdana, sans-serif;
	border-right: 1px solid #cccccc;
	display:block;
}

#subnavigation ul li.level3 a.active, #subnavigation ul li.level3 a.active:hover, #shopNavbar ul li.shopnavbar2_active a, #shopNavbar ul li.shopnavbar2_active a:hover {
	color: #666666;
	display:block;
	padding: 3px 24px 3px 27px;
	background-color: #F2F2F2;
	font: bold 0.9em Arial, Verdana, sans-serif;
	background-image:url(images/bg_submenu_hover.gif);
	background-position:right;
	border-right: 0px solid #cccccc
}


/*-----------LEVEL 4-----------*/
#subnavigation ul li.level4, #shopNavbar ul li.shopnavbar3 {
	color: #666666;
	border-bottom: solid 1px #C3C3C3;

}

#subnavigation ul li.level4 a, #shopNavbar ul li.shopnavbar3 a {
	display: block;
	padding: 1px 36px 1px 40px;
	color: #666666;
	font: normal 0.8em Arial, Verdana, sans-serif;
}

#subnavigation ul li.level4 a:hover, #shopNavbar ul li.shopnavbar3 a:hover {
	color: #666666;
	display:block;
	padding: 1px 36px 1px 40px;
	font: normal 0.8em Arial, Verdana, sans-serif;
	background-color: #F2F2F2;
	border-right: 1px solid #cccccc;
}

#subnavigation ul li.level4 a.active, #subnavigation ul li.level4 a.active:hover, #shopNavbar ul li.shopnavbar3_active a, #shopNavbar ul li.shopnavbar3_active a:hover {
	color: #666666;
	display:block;
	padding: 1px 36px 1px 40px;
	background-color: #F2F2F2;
	font: bold 0.8em Arial, Verdana, sans-serif;
	background-color: #F2F2F2;
	background-image:url(images/bg_submenu_hover.gif);
	background-position:right;
	border-right: 0px solid #cccccc
}


