html, body {
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	font-weight: 300;
    color: #323232;
    line-height: 1.5em;
    background: #fff;
}
body section {
    margin-top: 0px;
}
h1 {
	font-size: 40px;
	font-weight: 400;
	color: #273f77;
}
h2 {
    font-size: 28px;
    font-weight: 400;
    color: #323232;
    padding: 0px;
    margin-bottom: 35px;
}
h3 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    color: #323232;
    padding: 0px;
    margin-bottom: 35px;
}
a, a:focus, a:visited, a:active {
	color: #e32b42;
}
a:hover {
	opacity: 95%;
    color: #273f77;
}
a.more-link:hover {
    color: #273f77 !important;
}
a.more-link:hover i {
    color: #273f77 !important;
    opacity: 95%;
}
input:focus, select:focus, textarea:focus {
    border-color: #066196;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(6,97,150, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(6,97,150, 0.6);
}
select{
    width: 268px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 5px;
    height: 34px;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat  96% 50% #ddd;
    -webkit-appearance: none;
    background-position-x: 96%;
    -moz-appearance: none;  /*Removes default style Firefox*/
}
select::-ms-expand {
    display: none;
}
input[type=reset]{ display:none;}

img {
    width: 100%;
    max-width: 100% !important;
    height: auto;
}
#content-wrapper {
    background: #fff;
    padding-bottom: 555px;
}
.bannerImage {
    max-height: 340px;
    overflow: hidden;
    width: 100%;
    margin: 0px;
}
.bannerImage img{
    width: 100% !important;
    height: auto !important;
}
#page {
    float: none;
    padding-top: 0px;
    margin-top: 40px;
    display: inline-block;
}
/* display block fixes the content switching left for content fullwidth */
#page.row {
    display: block;
}
#page.col-sm-7 {
    float: left;
}
#page h1.first, 
#news-title-main {
    font-weight: 300;
    font-size: 36px;
}
.main-padding {
    padding-left: 50px;
    padding-right: 50px;
}
@media (min-width: 1310px) {
	.container {
	    width: 1280px !important;
	}
 }
#page{
    margin: 40px 0 70px 0;
    padding: 0 100px 0 0;
}
h3, .h3 {
    font-size: 18px;
    font-weight: 500;
    margin: 30px 0 20px 0;
}
h2, .h2 {
    font-size: 24px;
    font-weight: 500;
}
h1, .h1 {
    font-size: 45px;
}
body a{
    font-size: inherit;
    color: #e32b42;
}
iframe{
    border:0;
}
ul.horizontal-list li{
    margin: 0 5px 0 0;
}
.header {
    position: relative;
}
.header #navigation-wrapper{
    margin-bottom: 0 !important;
}
#page a{
    font-size: inherit;
    font-weight: 400;
    color: #e32b42;
}

.headlinelink{
    float: left;
    margin: 17px 0 0 0;
}
.mediadirpaging{
  color: transparent;
  font-size: 1px;
  width: auto;
  margin: 0 auto;
  display: table;
}

.pagingLower, .pagingUpper, .pagingTotal{display:none;}

.pagingPage1, .pagingPage2, .pagingPage3, .pagingPage4, .pagingPage5, .pagingPage6, .pagingPage7, .pagingPage8, .pagingPage9, .pagingPage10, .pagingPage11, .pagingPage12, .pagingPage13, .pagingPage14, .pagingPage15, .pagingPage16, .pagingPage17, .pagingPage18, .pagingPage19, .pagingPage20 {
    float: left;
    display: block; 
    height: 40px; 
    width: 40px;
    line-height:36px;
    font-weight: 500;
    font-size:18px;
    text-align: center;
    color: #e32b42;
    border: 2px solid #e32b42;
}

.mediadirpaging a, .pagingFirst{
    float: left;
    display: block; 
    height: 40px; 
    width: 40px;
    line-height:38px;
    font-weight: 500;
    font-size:18px !important;
    text-align: center;
    color: #000000 !important;
    border: 0;
}

form select{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    border-radius: 0;
    color: #8d7c78;
    background-color: #f9f9f8;
    box-shadow: none;
    font-size: 20px;
    padding: 8px 15px 8px 5px;
    height: inherit;
    margin: 0 15px 0 0;
    border: 1px solid #e3dedd;
    width: auto;
}
#sidebar {
    display: inline-block;
}
#sidebar > ul, #sidebar > div{
    background-color: #f9f9f8;
    color: inherit;
    margin-bottom: 15px;
    padding: 20px;
}
#sidebar h3{
    font-size: 28px;
    font-weight: 300;
    color: #273f77;
}
#sidebar .top-news ul {
    margin: 0;
    padding: 0;
}
#sidebar .top-news ul li{
    padding: 0;
    background: none;
    margin-bottom: 15px;
}
#sidebar .top-news ul li a {
    color: #e32b42;
    font-size: 16px;
    line-height: 1em !important;
}
#sidebar .top-news .news-info {
    font-size: 16px;
    line-height: 1em !important;
    font-weight: 500;
}
#sidebar .top-news .news-teaser {
    padding-bottom: 0px;
    font-weight: 300;
}
#sidebar ul.horizontal-list{
    display: inline-block;
    padding: 0;
    width: auto;
    margin: 0;
}
#sidebar ul.horizontal-list li{
    padding: 0px;
    margin: 0px 10px 0px 0px;
}
#sidebar ul.horizontal-list li a{
    position: relative;
    width: 50px;
    height: 50px;
    border: 2px solid #e32b42;
    border-radius: 100%;
    display: block;
    float: left;
    transition: opacity 0.5s 0s ease-in-out;
}
#sidebar ul.horizontal-list li a:hover{
    background-color: rgba(227,43,66,0.95);
}
#sidebar ul.horizontal-list li a i{
    position: absolute;
    color: #e32b42;
    background: transparent;
    padding: 0px;
    margin: 0px;
    border-radius: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#sidebar ul.horizontal-list li a:hover i{
    color: #fff;
    transition-delay: 0.1s;
}
/******************************
*	HELPER CLASSES
******************************/
.navigation li.hide2ndlevel > ul > li > a {
    display: none;
}
.navigation li.hide2ndlevel > ul > li > ul {
    padding-top: 0px;
}
.mobile-nav .navigation li.hide2ndlevel > ul > li > a {
    display: block !important;
}
.img-responsive img {
	width: 100%;
	height: auto;
}
.employee .img-responsive img {
    border-radius: 100%;
}
.absolute {
	position: absolute;
}
.relative {
	position: relative;
}
.circle {
    border-radius: 100%;
}
.center {
    text-align: center;
}
.redbg {
    background-color: #e32b42;
}
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
       width: 20%;
       float: left;
    }

    /* .circle.absolute.redbg {
        width: 55% !important;
    } */
}

@media (min-width: 992px) {
    .col-md-5ths {
       width: 20%;
       float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
       width: 20%;
       float: left;
    }
}
/******************************
*	NAV MENU
******************************/
.header {
	background: #ffffff;
    border-bottom: 2px solid #e3dedd;
}
.top-meta-nav {
	float: right;
	margin-top: 15px;
}
.top-meta-nav, .top-meta-nav a, 
.top-meta-nav input, .top-meta-nav i {
	line-height: 1.6em;
	font-size: 14px;
	font-weight: 400;
	color: #8d7c78 !important;
}
.top-meta-nav i {
    font-size: 15px;
}
.top-meta-nav ul {
	padding: 0;
}
.top-meta-nav ul li {
	padding: 0px;
	margin-right: 20px;
}
.top-meta-nav ul li:last-child    {
	margin-right: 0px;
}
.top-meta-nav ul li.search-item {
    margin-left: 0;
}
.top-meta-nav form {
    display: inline-flex;
    box-shadow: none;
    margin-bottom: 0px;
}
.top-meta-nav form input[name="term"] {
    background: 0 0;
    height: 25px;
    border: none;
    width: 0;
    padding: 0;
    margin: 0;
    margin-right: 3px;
    background-color: #eee;
    line-height: inherit;
}
.top-meta-nav form button {
    box-shadow: none;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: top;
    background: 0 0;
    border: none;
    color: inherit;
    line-height: inherit;
}
.top-meta-nav form button {
    padding: 0px;
    width: 20px;
    height: 22px;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
.top-meta-nav form button:hover{
    border-color: none;
    background: none;
}
.top-meta-nav form span {
    float: left;
    margin-right: 3px
}
.top-meta-nav form button i {
    margin-right: 0px;
    margin-top: 0px;
    padding: 0px 2px;
    line-height: 1.6em;
    float: right;
}
.top-meta-nav form button i:hover {
    background-color: transparent;
    border-radius: 0px;
}
.navigation li {
    position: relative;
}
.navigation li a {
	font-size: 24px;
	font-weight: 300;
	color: #323232 !important;
}
.navigation li a:active,
.navigation li.open > a ,
.navigation li a:hover {
    color: #e32b42 !important;
}
.navigation li.dropdown ul li.level-2 a
 {
    color: #323232;
}
.navigation li.level-3.active a.active    {
    color: #e32b42 !important;
    font-weight: 400;
}
.navigation li.dropdown ul li.level-2 > span {
    display: none !important;
}
.navigation li.level-3:hover span,
.navigation li.level-3.active span {
    display: block;
    position: absolute;
    top: 50%;
    left: 20px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 4px;
    background-color: #e32b42;
}
.header #logo {
	margin: 21px 35px 35px 0px;
}
.header #navigation-wrapper {
	margin-top: 29px;
	margin-left: 0px;
	margin-bottom: 35px;
}
.navigation > li {
    	margin-right: 10px;
}
.navigation > li:last-child {
    	margin-right: 0px;
}
.navigation > li ul {
	padding-top: 35px;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
}
.navigation li a:hover {
    color: #273f77;
}
.header .menupaging {
    margin-left: 35px;
    margin-right: 35px;
}
.navbar{
    margin-bottom: 15px;
}
.navbar-default{
    background: none;
    border-color: #ffffff;
}
/* removing space between logo and navbar */
.collapse.navbar-collapse.js-navbar-collapse {
    padding-left: 0;
}
.navigation ul li {
    width: 245px;
}
.navigation li.level-1.open > a{
    background: url('/themes/standard_4_0/images/nav-background.png') no-repeat;
    height: 67px;
    background-position: bottom center;
    position: relative !important;
    z-index: 999;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background-color: transparent;
    color: #e32b42;
}
.nav>li>a{
    padding: 10px 13px;
}

.dropdown-large {
    position: static !important;
}
.dropdown-menu-large {
    margin-left: 16px;
    margin-right: 16px;
    padding: 20px 0px;
}
.dropdown-menu-large > li > ul {
    padding: 0;
    margin: 0;
    display: block;
    position: static;
}
.dropdown-menu-large > li > ul > li {
    list-style: none;
}
.dropdown-menu-large > li > ul > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: normal !important;
}
.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
    text-decoration: none;
    color: #e14754;
    background-color: #f9f9f8;
}
.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
    color: #999999;
}
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    cursor: not-allowed;
}
.navigation .dropdown-menu-large li.level-2 > a {
    color: #373737;
    font-size: 20px;
    background: none;
    cursor: default;
    font-weight: 500;
}
.navigation > li ul.dropdown-menu {
    background-color: #f9f9f8;
    position: absolute;
    top: 65px;
    left: -265px;
    padding-bottom: 50px;
    z-index: 0;
    border-top: 2px solid rgba(0,0,0,0.15);
}
.navigation li.level-2 {
    background: #f9f9f8;
    border-bottom: none;
}
.navigation li.level-2:hover, .navigation li.level-2.active {
    background: inherit;
}
.navigation li.level-2 a{
    color: #9c8d8a;
    padding: 5px 15px 5px 15px;
    height: auto;
}
.navigation li.dropdown:hover ul li.level-2 {
    display: inline-block;
}
.navigation li.dropdown ul li.level-2 > ul {
    margin-left: -15px;
    margin-right: -15px;
}
.navigation li.dropdown ul li.level-2 > ul:before,
.navigation li.dropdown ul li.level-2 > ul:after {
    display: table;
    content: " ";
}
.navigation li.dropdown ul li.level-2 > ul:after {
    clear: both;
}
.navigation li.level-3 a{
    border-bottom: 1px solid #8a817d;
    width: 80%;
    padding: 5px 0;
    margin: 0px 30px;
    font-size: 15px;
    font-weight: 300;
}
.navigation .caret {
    display: none;
}
.navigation .dropdown .caret {
    display: inline-block;
}
@media only screen and (max-width: 1320px){
    .navigation > li ul.dropdown-menu{
       left: -64px
    }
}
@media (max-width: 768px) {
    .dropdown-menu-large {
       margin-left: 0 ;
       margin-right: 0 ;
    }
    .dropdown-menu-large > li {
       margin-bottom: 30px;
    }
    .dropdown-menu-large > li:last-child {
       margin-bottom: 0;
    }
    .dropdown-menu-large .dropdown-header {
       padding: 3px 15px !important;
    }
}
/******************************
*	HOME
******************************/
a.more-link {
    margin-top: 12px;
}
.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.swiper-top .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    height: 450px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-top .swiper-slide .col-sm-6 {
    z-index: 1;
}
.swiper-top .swiper-pagination {
	text-align: left;
	margin-left: 112px;
    margin-top: -46px;
}
.swiper-top .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 2px solid #fff;
    display: inline-block;
    border-radius: 100%;
    opacity: 1;
    margin-right: 10px;
}
.swiper-top .swiper-pagination-bullet-active {
    border: 2px solid #transparent;
    background-color: #fff;
}
.absolute-center {
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}
.swiper-top .mixed.swiper-slide .circle.redbg.absolute {
    width: 1068px;
    height: 1000px;
    margin-left: -6%;
    margin-top: -15%;
}
.swiper-top .left.swiper-slide .circle.redbg.absolute {
    width: 1068px;
    height: 1000px;
    margin-left: -6%;
    margin-top: -15%;
}
.swiper-top .right.swiper-slide .circle.redbg.absolute {
    right: 0;
    width: 1068px;
    height: 1000px;
    margin-right: -6%;
    margin-top: -15%;
}
.swiper-top .swiper-slide .slider-box-left,
.swiper-top .swiper-slide .slider-box-right {
    z-index: 1;
    margin-top: 100px;
}
.swiper-top .swiper-slide .slider-box-left {
    max-width: 440px;
    float: left;
    margin-left: 114px;
    text-align: left;
}
.swiper-top .left.swiper-slide .slider-box-left {
    max-width: 440px;
    float: left;
    margin-left: 114px;
    text-align: left;
}
.swiper-top .right.swiper-slide .slider-box-right {
    max-width: 440px;
    float: right;
    margin-right: 114px;
    text-align: right;
}
.swiper-top .swiper-slide .slider-box-left h2 {
    margin: 15px 0 35px;
    padding: 0px;
    line-height: 1em;
    font-size: 40px;
    color: #fff;
    font-weight: 300;
}
.swiper-top .swiper-slide .slider-box-right h2 {
    margin: 15px 0 35px;
    padding: 0px;
    line-height: 1em;
    font-size: 40px;
    color: #fff;
    font-weight: 400;
}
.swiper-top .swiper-slide .slider-box-right iframe {
    width: 400px;
    height: 250px;
}
.swiper-top .swiper-slide .slider-box-left p,
.swiper-top .swiper-slide .slider-box-right p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    line-height: 30px;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;
}
.swiper-top .slider-box-left a img.arrow-white, 
.swiper-top .slider-box-right a img.arrow-white {
    width: 35px;
    height: 17px;
}
.swiper-button-prev {
    background-image: url("/themes/standard_4_0/images/slider-arrow-left.png");
    left: 40px;
    right: auto;
}
.swiper-button-next {
    background-image: url("/themes/standard_4_0/images/slider-arrow-right.png");
    right: 40px;
    left: auto;
}
.home-box {
    padding: 0px 15px 0px 15px;
    margin: 0;
    border-top: none; 
}
.home-boxes {
    padding: 0px 0px 50px;
    float: left;
}
.home-box.last {
    float: right;
    min-height: 200px;
    padding: 0 15px;
    margin: 0;
}
.home-boxes a div.circle {
    width: 100px;
    height: 100px;
    background-color: #273f77;
    margin: 0 auto;
}
.home-boxes a:hover div.circle {
    background-color: #e32b42;
}
.home-boxes a div.circle img {
    margin: 0;
    font-size: 50px;
    margin: 24px;
    width: 53px;
    height: 53px;
}
.home-boxes a h3 {
    font-size: 26px;
    font-weight: 300;
    margin: 30px 0 18px;
    color: #273f77;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}
.home-boxes a:hover h3 {
    color: #e32b42;
}
.home-boxes a p.home-box-text {
    min-height: 220px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    color: #8A817D;
}
#home-page h1.first {
    margin-top: 30px;
    margin-bottom: 70px;
    padding-bottom: 0;
    font-weight: 300;
    font-size: 40px;
    line-height: 40px;
    color: #273f77;
}
.news-box a.more-link {
    position: absolute;
    right: 50px;
    top: 0;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    color: #e32b42;
}
.news-box a.more-link i {
    color: #e32b42;
    font-size: 22px;
    margin-right: 0px;
    padding: 8px 5px 5px;
}
.news-box h2 {
    font-size: 40px;
    font-weight: 300;
    line-height: 40px;
    color: #273f77;
    margin: 54px 0 54px;
    padding: 0px;
}
form[name="formNews"]{
    width: 33.33%;
    margin: 0 0 30px 0;
}
.news-text{
    text-align: justify;
    margin: 30px 0 50px;
}
.news-info{
    float: none;
    width: initial;
    color: #000000;
    font-size: 12px;
    font-weight: 700;
}
.news-teaser{
    float: none;
    width: initial;
    color: #303030;
    padding: 0 0 10px 0;
    font-weight: 300;
    font-size: inherit;
}
#news{
    margin: 0 0 40px;
    border:0;
}
.news-image{
    margin-top: 20px;
}
#news h2{
    margin: 30px 0 10px 0;
    font-weight: 300;
    font-size: 28px;
}
#news-teaser-text h2 {
    font-weight: 500;
    margin-bottom: 19px;
}
div#social-box.news-social-box {
    width: 100%;
    max-width: 100%;
    float: left;
    margin: 20px 0 40px;
}
#social-box.news-social-box ul#news-social-media{
    display: inline-block !important;
    width: 50% !important;
    margin: 0 0 0 10px;
    float: none;
    border: none;
    vertical-align: middle;
}
#page ul#news-social-media li {
    background: none;
    margin: 0 5px 0 0;
    padding: 0;
}
p.social-share {
    display: inline-block;
    color: #284078;
    font-size: 28px;
    padding: 0;
    vertical-align: middle;
}
#news-social-media .facebook, #news-social-media .google-plus,#news-social-media .twitter{
    width: 50px;
    display: inline-block;
    float: none;
}
#home-content {
    margin-top: 40px;
}
#home-content #home-page-wrapper {
    padding: 0px 15px;
    margin: 0;
}
#home-content-news {
    background-color: #f9f9f8;
}
#home-content-mediadir {
    margin-bottom: 60px;
}
.effect .mask {
    opacity: 0;
    overflow:visible;
    background-color: rgba(227,43,66,0.95);
    box-sizing:border-box;
    transition: all 0.4s ease-in-out;
}
.newslink.effect .mask{
    width: 220px;
    height: 220px;
}

.effect .info {
    position: relative;
    top:-10px; /* Center the link */
    opacity: 1;
    transition: opacity 0.5s 0s ease-in-out;
    top: calc(50% - 14px);
    /* left: calc(50% - 30px); */
    /* center the arrow */
    display: block;
    margin: 0 auto;
    width: 27%;
}

.effect .info i {
    margin:0px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.effect:hover .mask {
    opacity: 1;
    background-color: rgba(227,43,66,0.95);
}
a.effect div.newstext {
    color: #323232;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

a.effect div.newstext span{
    font-size: 18px;
    font-weight:300;
}

#home-headlines > div:nth-of-type(odd) {
    padding-right: 60px;
}
#home-headlines > div:nth-of-type(even) {
    padding-left: 75px;
}
a.effect div.newstext b {
    color: #000000;
    font-size: 12px;
    font-weight: 700;
}
a.effect div.newstext > p {
    color: #323232;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 16px;
    line-height: 26px;
    padding: 0px;
}
a.effect:hover div.newstext > p {
    color: #e32b42;
    font-size: 22px;
    line-height: 26px;
}

.effect:hover .info {
    opacity:1;
    transition-delay: 0.3s;
    z-index: 1;
}
.view {
    float: left;
    margin-right: 20px;
}
.view img {
    position: relative;
}
.view .mask {
    width: 140px;
    height: 140px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
#home-headlines > div {
    margin-bottom: 60px;
}
#home-content-kunden {
    width: 100%;
}
.swiper-bottom .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    max-height: 610px;
    min-height: 333px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-bottom .swiper-slide .circle.redbg.absolute {
    width: 540px;
    height: 540px;
    right: 15px;
    bottom: 0;
    margin-bottom: -45px;
}
.swiper-bottom .swiper-slide > img {
    width: 100%;
    min-width: 100%;
    min-height: 333px;
}
.swiper-bottom .swiper-slide .swiper-top-text {
    position: absolute;
    top: 9%;
    width: 100%;
}
.swiper-bottom .swiper-slide .swiper-top-text h2 {
    position: relative;
    display: inline-block;
    float: left;
    width: auto;
    padding: 0;
    line-height: 33px;
    font-size: 40px;
    line-height: 42px;
    color: #fff;
    font-weight: 300;
    padding-left: 50px;
}
.swiper-bottom .swiper-slide .swiper-top-text a {
    float: right;
    position: relative;
    display: inline-block;
    width: auto;
    line-height: 33px;
}
.swiper-bottom .swiper-slide .swiper-top-text i {
    margin: 0;
    padding: 0;
    color: #e32b42;
}
.swiper-bottom .swiper-slide .slider-box-bottom {
    z-index: 1;
    width: 540px;
    height: 470px;
    padding: 80px 60px 20px 60px;
    float: right;
    bottom: 0;
}
.swiper-bottom .swiper-slide .slider-box-bottom .relative {
    width: 100%;
    height: 100%;
    float: left;
    display: block;
}
.swiper-bottom .swiper-slide .slider-box-bottom .inner-box {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.swiper-bottom .swiper-slide .slider-box-bottom .inner-box p {
    font-size: 36px;
    line-height: 42px;
    color: #fff;
    margin-bottom: 35px;
    font-weight: 700;
    text-align: left;
}
.swiper-bottom .swiper-slide .slider-box-bottom .inner-box span {
    font-size: 20px;
    color: #fff;
    font-weight: 300;
}
#home-content-kunden #testamonial-link {
    display: none;
}
.home-boxes #hauptsitz a{
    font-size: 22px;
}
.swiper-bottom .swiper-slide .swiper-top-text a.more-link {
    position: absolute;
    right: 0;
    top: 0;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 22px;
    color: #e32b42;
}
.swiper-bottom .swiper-slide .swiper-top-text a.more-link {
    color: #e32b42;
    font-size: 18px;
    font-weight: 700;
    margin-right: 0px;
    padding: 0px 15px 5px;
}
/******************************
* CONTENT
******************************/
#content h1.first,
#news-title-main {
    margin-top: 0px;
    line-height: 1em;
    padding-bottom: 48px;
}
#content #zertvor h2 {
    font-weight: 400;
    margin-bottom: 60px;
    padding-right: 270px;
}
#content #zertvor h3 {
    font-weight: 400;
    margin-bottom: 12px;
}
#content #zertvor p {
    font-size: 18px;
}
#content #zertvor .row {
    margin-bottom: 50px;
}
#content #zertvor .row .cert-text {
    margin-left: 49px;
}
#content #e-commerce > div {
    margin-bottom: 45px;
}
#content #e-commerce h3 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
}
#content #e-commerce h4 {
    padding-top: 0px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
}
.content ul {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    margin-left: 0px;
    padding: 0px;
}
#page ul li {
    padding: 0 0 5px 35px;
    background: url('images/line.gif') no-repeat 0px 13px;
}
#content #e-commerce p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}
.intern-testamonial {
    width: 700px;
    padding: 0px 90px;
    margin: 70px auto;
    text-align: center;
}
.intern-testamonial p {
    font-weight: 400 !important;
    font-size: 36px !important;
    line-height: 40px !important;
    color: #323232 !important;
    padding: 0px !important;
    margin-bottom: 50px !important;
}
.intern-testamonial span {
    font-weight: 400 !important;
    font-size: 20px !important;
    line-height: 1em !important;
    color: #323232 !important;
    padding: 0px !important;
    margin-bottom: 70px !important;
}
.extern-testamonial {
    margin: 70px auto;
    text-align: center;
    width: 700px;
    padding: 0px 150px;
    height: 400px;
    float: left;
}
.extern-testamonial .horizontal.absolute {
    z-index: 1;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 300px;
    max-height: 330px;
    overflow: hidden; 
    color: #ffffff;
}
.extern-testamonial p,
.extern-testamonial span {
    z-index: 1;
    color: #fff;
    border-radius: 100%;    
}
.extern-testamonial p {
    margin-bottom: 14px !important;
    font-weight: 700 !important;
    font-size: 28px !important;
    line-height: 36px !important;
    color: #fff !important;
    /* text-align: left !important; */
}
.extern-testamonial span {
    font-size: 20px !important;
    font-weight: 400 !important;
    color: #fff !important;
}
.extern-testamonial .circle.redbg.absolute {
    width: 400px;
    height: 400px;
}
.kontakt-block {
    padding: 25px 20px;
    width: 100%;
}
.kontakt-block h3 {
    font-size: 28px;
    font-weight: 400;
    color: #273f77;
    padding: 0px !important;
    margin: 0px !important;
    margin-bottom: 25px !important;
}
.kontakt-block ul {
    position: relative;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    margin-left: 0px;
    padding: 0px;
}
.kontakt-block ul.personals {
    margin-bottom: 30px;
}
.kontakt-block ul.kontakt-details {
    margin-bottom: 25px;
}
.kontakt-block ul.kontakt-details li {
    margin-bottom: 20px;
}
.kontakt-block ul.kontakt-details li i {
    color: #e32b42;
    margin-right: 0px;
    padding-left: 0px;
}
.kontakt-block ul.kontakt-details li i.fa-phone {
    padding-right: 15px;
}
.kontakt-block ul.kontakt-details li:first-child a {
    color: #323232;
}
.kontakt-block ul.kontakt-details li:last-child {
    margin-bottom: 0px;
}
.kontakt-block ul.social-links {
    margin: 0px !important;
}
.kontakt-block ul li {
    padding: 0px;
    font-weight: 300;
    background: none;
}
.kontakt-block ul li.name {
    font-weight: 500;
}
.kontakt-block img {
    width: 120px !important;
    height: 120px !important;
    border-radius: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
}
.ms-accordion {
    float: left;
    display: block;
    margin: 60px 0;
    color: #323232;
    width: 100%;
}
.ms-accordion .panel-default {
    border-color: transparent;
    border-top-color: #e3dedd;
    box-shadow: none;
}
.ms-accordion .panel-default:last-child {
    border-bottom-color: #e3dedd;
}
.ms-accordion .panel-default > .panel-heading {
    background-color: transparent;
    padding: 6px 15px 5px 0px;
}
.ms-accordion .panel-default > .panel-heading .panel-title {
    padding: 6px;
}
.ms-accordion .panel-default > .panel-heading .panel-title a.collapsed.plus {
    padding: 10px 40px;
    background: url('images/plus.png') no-repeat 0px 6px;
    color: #323232 !important;
}
.ms-accordion .panel-group .panel+.panel {
    margin-top: 0px;
}
.ms-accordion .panel-default > .panel-heading .panel-title a.plus {
    font-weight: 400 !important;
    padding: 10px 40px;
    background: url('images/minus.png') no-repeat 0px 6px;
}
.ms-accordion .panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: transparent;
    padding-top: 0px;
    padding-left: 46px;
}
#news_archive_months_list {
    display: none;
}
select#javaSelections {
    border-radius: 0;
    color: #8d7c78;
    background-color: #fff;
    box-shadow: none;
    font-size: 18px;
    padding: 8px 15px;
    height: 40px;
    font-weight: 400;
}
h1#news-title-main {
    padding: 0px 0 40px;
    line-height: 1em;
}
h2#news-title {
    padding: 0;
    margin-bottom: 14px;
    font-size: 24px;
    line-height: 32px;
    color: #323232;
    font-weight: 300;
}
#news-date {
    color: #323232;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 16px;
}
#news-date a{
    font-weight: 300;
}

#news-image {
    margin-bottom: 15px;
    float: left;
}
#news .news-image {
    width: 220px;
    height: 220px;
}
#news li {
    padding: 0 0 10px 0 !important;
    background-image: none!important;
}

#news li:first-of-type h2{
    margin-top:0;
}

#news li:last-of-type{
    border-bottom: 0;
}
/******************************
*	FOOTER
******************************/
footer #home-content-boxes {
    padding-top: 55px;
}
footer .kontakt-detail img {
    width: 28px;
    vertical-align: middle;
}
.home-boxes #hauptsitz h3 {
    margin-bottom: 22px;
    font-size: 22px;
    font-weight: 500;
    padding: 0px;
    color: #323232;
}
.home-boxes #hauptsitz p {
    color: #323232;
    padding: 0px;
    margin: 0px;
    font-size: 18px;
    font-weight: 400;
}
.home-boxes #hauptsitz #kontakt-details {
    margin-bottom: 28px;
}
.home-boxes #hauptsitz .kontakt-detail {
    font-size: 18px;
    font-weight: 400;
    color: #323232;
    display: block;
    margin-bottom: 25px;
}
#hauptsitz > p:nth-child(3) > a {
    color: #323232;
}
.home-boxes #hauptsitz a {
    font-size: 18px;
    font-weight: 400;
}
.home-boxes #hauptsitz .kontakt-detail i,
.home-boxes #hauptsitz a i {
    margin-right: 5px;
    color: #e32b42;
    padding-left: 0px;
}
.home-boxes #hauptsitz .kontakt-detail i.fa-phone {
    padding-right: 17px;
}
.home-boxes #hauptsitz a img.arrow {
    padding-right: 2px !important;
}
img.arrow {
    vertical-align: middle;
}
img.arrow-red{
    width: 33px;
    height: 17px;
}
img.arrow-white, .newslink .view img.arrow-white{
    width: 59px;
    height: 29px;
}
img.arrow-red-hover{
    display: none;
    width: 33px;
    height: 17px;
}
img.arrow-white-hover{
    display: none;
    width: 33px;
    height: 17px;
}
img.arrow-red-hover:hover{
    display: inline-block;
}
img.arrow-white-hover:hover{
    display: inline-block;
}
#social-box {
    margin-left: 20px;
    max-width: 270px;
}
#social-box ul {
    margin-top: 60px;
    margin-bottom: 60px;
    display: block;
    padding: 0px;
    width: 100%;
    float: left;
    margin-left: 0px;
}
#social-box ul li {
    padding: 0px;
    margin: 0px 10px 0px 0px;
}
#social-box ul li:last-child {
    margin-right: 0px;
}
#social-box ul li a {
    position: relative;
    width: 50px;
    height: 50px;
    border: 2px solid #e32b42;
    border-radius: 100%;
    display: block;
    float: left;
    transition: opacity 0.5s 0s ease-in-out;
}
#social-box ul li a:hover {
    background-color: rgba(227,43,66,0.95);
}
#social-box ul li a i {
    position: absolute;
    color: #e32b42;
    background: transparent;
    padding: 0px;
    margin: 0px;
    border-radius: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#social-box ul li a:hover i {
    color: #fff;
    transition-delay: 0.1s;
}
#social-box > a.direct-btn,
.btn {
    width: 230px;
    border: 2px solid #e32b42;
    font-size: 18px;
    color: #e32b42;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    border-radius: 0px;
    margin-bottom: 20px;
}
#social-box > a.direct-btn i {
    margin: 0px;
    padding: 0px 10px 0px 10px;
    color: #e32b42;
}
#social-box a.direct-btn:hover, 
.btn:hover{
    color: #fff;
    background-color: rgba(227,43,66,0.95);
    font-weight: 400;
    border-color: #e32b42;
}
#social-box a.direct-btn:hover img.arrow-white-hover {
    display: inline-block;
}
#social-box a.direct-btn:hover img.arrow-red {
    display: none;
} 
#cert-box h2 {
    margin-bottom: 25px;
    font-size: 22px;
    font-weight: 500;
    padding: 0px;
    color: #323232;
}
#cert-box ul {
    margin: 0px;
    padding: 0px;
}
#cert-box ul li {
    width: 50%;
    margin: 0px;
    padding: 0px;
}

#cert-box ul li.zert-1, 
#cert-box ul li.zert-2{
    width: 30%;
    padding: 0 10px 0 0;
    
}
#cert-box ul li.zert-3{
     width: 35%; 
}
#cert-box ul li.zert-4{
    width: 60%;
    padding: 0 10px 0 0;
    
}
#cert-box ul li.zert-5{
    width: 30%;    
}

#footer {
    background-color: #f9f9f8;
    padding-bottom: 0px;
}
.home-box {
    background-color: #f9f9f8;
}
#footer #footer-bottom {
    background-color: #eeeceb;
	display: block;
    float: left;
    width: 100%;
    padding: 0px;
}
#footer #footer-bottom ul {
    margin: 16px auto 11px;
    padding: 0px;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    color: #8d7c78;
}
#footer #footer-bottom ul li a {
    font-size: 14px;
    font-weight: 400;
    color: #8d7c78;
}
#mediadir p {
    padding: 3px;
}
#mediadir p.refentry{
    line-height:23px;
}

#mediadir .employee ul li {
    padding: 0px !important;
    background-image: none !important;
    font-weight: 500;
}
#mediadir .employee {
    border-bottom: none;
    float:none;
}
#mediadir .sameheight {
    margin-top: 5px;
    margin-bottom: 55px;
}
#mediadir .employee .employee-pic {
    border-radius: 100%;
    width: 190px;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 30px;
}
#mediadir .employee .employee-details .center {
    float:left;
    width: 100%;
}
#mediadir .employee .employee-name,
#mediadir .employee .employee-socials {
    float: none;
    display: inline-block;
}
#mediadir .employee .employee-name li:last-child {
    margin-right: 0px;
}
#mediadir .employee .employee-position {
    font-weight: 400;
    font-size: 16px;
    height: 75px;
    margin-bottom: 13px;
}
#mediadir .employee .employee-tel {
    margin-bottom: 17px;
}
#mediadir .employee .employee-socials a {
    padding: 0px;
    margin: 0px;
    margin-left: 10px;
}
#mediadir .employee .employee-socials a:first-child {
    padding: 0px;
    margin-left: 0px;
}
#mediadir .employee .employee-socials a {
    position: relative;
    width: 50px;
    height: 50px;
    border: 2px solid #e32b42;
    border-radius: 100%;
    display: block;
    float: left;
    transition: opacity 0.5s 0s ease-in-out;
}
#mediadir .employee .employee-socials a i {
    position: absolute;
    color: #e32b42;
    background: transparent;
    padding: 0px;
    margin: 0px;
    border-radius: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#mediadir .employee .employee-socials a:hover i {
    color: #fff;
    transition-delay: 0.1s;
}
#mediadir .employee .employee-socials a:hover {
    background-color: rgba(227,43,66,0.95);
}
/* switch "leistungen" and "branche" selects */
#mediadir .mediadirSearchForm form div.normal {
    display: none
}
#mediadir div.expanded p {
    display: inline-block;
    float: none;
}
#mediadir div.expanded p:last-child {
    float: left;
}
#home-content-mediadir .mediadir-best-pic {
    width: 140px;
    height: 140px;
    float: left;
    margin-right:20px;
}
#home-content-mediadir .mediadir-best-pic .view {
    margin-right: 0px;
}
#home-content-mediadir .mediadir-best-pic .view .mask {
    width: 140px;
    height: 140px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 15px;
}
#mediadir .mediadir_referenzen .bestpractice:hover {
    cursor: pointer;
}

#mediadir .mediadir_referenzen .bestpractice:hover h3{
    color: #e32b42;
}
#home-content-mediadir .best-practice-box h2 {
    font-size: 40px;
    font-weight: 300;
    color: #273f77;
    margin: 30px 0 47px;
    padding: 0px;
}
#home-content-mediadir .best-practice-box a.more-link {
    position: absolute;
    right: 50px;
    top: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    color: #e32b42;
}
#home-content-mediadir .best-practice-box a.more-link i {
    color: #e32b42;
    font-size: 22px;
    margin-right: 0px;
    padding: 8px 5px 5px;
}
#home-content-mediadir .best-practice-box .bestpractice {
    margin-bottom: 43px;
}
#home-content-mediadir .best-practice-box .bestpractice h3 {
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 700;
    margin-top: -7px;
}

#home-content-mediadir .best-practice-box .bestpractice p {
    font-size: 18px;
    font-weight: 300;
}

#mediadir .mediadir_referenzen .bestpractice {
    margin-top: 0px;
    margin-bottom: 40px;
    height: 140px;
}
#mediadir .mediadir_referenzen .mediadir-best-pic img {
    /*width: 140px;*/
    /*height: 140px;*/
    /*float: left;*/
}
#mediadir .mediadir_referenzen .mediadir-best-pic .view {
    margin-right: 20px;
}
#mediadir .mediadir_referenzen .mediadir-best-pic .view .mask {
    width: 140px;
    height: 140px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 15px;
}
#mediadir .mediadir_referenzen .best-practice-box .bestpractice {
    margin-bottom: 43px;
}
#mediadir .mediadir_referenzen .bestpractice h3 {
    margin-bottom: 10px;
    margin-top: -5px;
    font-weight: 700;
    font-size: 22px;
}
#mediadir .expanded p {
    width: auto;
    margin-bottom: 40px;
}
.passende-best-practice h2 {
    margin-bottom: 0px;
    font-size: 35px;
    font-weight: 200;
    color: #273f77;
    padding: 0px;
}
.passende-block {
    margin-top: 60px;
    margin-bottom: 55px;
}
.passende-block .bestpractice:nth-child(3),
.passende-block .bestpractice:nth-child(4),
.passende-block .bestpractice:nth-child(5),
.passende-block .bestpractice:nth-child(6) {
    display: none;
}
.passende-block .mediadir-best-pic .view {
    margin-right: 20px;
}
.passende-block .mediadir-best-pic .view .mask {
    width: 140px;
    height: 140px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 15px;
}
.passende-block .bestpractice h3 {
    margin-bottom: 10px;
}
.passende-best-practice a.more-link {
    position: absolute;
    right: 0;
    top: 0;
    text-transform: uppercase;
    font-weight: 400 !important;
    font-size: 18px !important;
    color: #e32b42 !important;
    margin-top: 12px !important;
}
.passende-best-practice a.more-link i {
    color: #e32b42 !important;
    font-size: 18px !important;
    margin-right: 0px !important;
    padding: 16px 5px 0px !important;
    float: none;
}
/* added this media query to make sure, that mobile navigation is displayed as soon as deskton navigation is hidden */
@media screen and (max-width: 1200px){
    .navbar-toggle:hover {
    background: #fff;
    }
    .navbar-toggle .icon-bar {
    background: #273f77;
    }
    .navbar-toggle { 
    margin-right: 0px;
    box-shadow: none; 
    margin-top: calc(50% - 3px) !important;
    margin-top: -moz-calc(50% - 3px);
    margin-bottom: calc(50% - 3px) !important;
    margin-top: -moz-calc(50% - 3px);
    }
    .navbar-toggle .icon-bar {
    width: 30px;
    height: 4px;
    border-radius: 0px;
    }
    .mobile-nav {
    padding-top: 78px;
    background: #fff;
    }
    .mobile-nav .navigation {
    width: 80%;
    float: right;    
    }
    .mobile-nav ul {
    box-shadow: none !important;
    }
    .mobile-nav .navigation > li ul.dropdown-menu,
    .mobile-nav .navigation > li ul {
    left: initial;
    position: relative;
    top: initial;
    padding-top: 0px;
    padding-bottom: 0px;
    }
    .mobile-nav .navigation > li ul li,
    .mobile-nav .navigation > li ul.dropdown-menu li {
    margin-bottom: 0px;
    }
}
@media screen and (max-width: 767px) {
        /*new*/
    .slider-box-left.center a, .slider-box-right.center a {
        display: none;
    }
    .main-slider .slider-box-right img {
  width: auto;
  height: 100px;
}
    .home-boxes a h3 {
        font-size: 22px;
    }
    a.effect div.newstext > p {
        font-size: 18px;
    }
    #home-content-mediadir .best-practice-box .bestpractice p {
        font-size: 16px;
    }
    /*new*/
    #home-headlines > div:nth-of-type(odd) {
    padding-right: 15px;
    }
    .full-width .main-padding {
  padding-left: 6px;
  padding-right: 0;
}
    #home-headlines > div:nth-of-type(even) {
    padding-left: 15px;
    }
    #home-headlines .effect .info {
        width: 59%;
    }
    .main-padding {
    padding: 0px;
    }
    .home-box#social-box {
    margin-left: 0px;
    }
    #footer-bottom ul {
    margin: 20px auto;
    }
    #footer-bottom ul li {
    width: 33%;
    margin: 0px;
    padding: 0px;
    text-align: center;
    }
    #footer-bottom ul li:first-child {
    width: 100%;
    margin: 0px 0px 20px 0px;
    padding: 0px;
    }
    .home-boxes {
    padding: 0px 0px 40px;
    float: left;
    }
    .home-boxes #cert-box h2 {
    margin-bottom: 25px;
    }
    .home-boxes #social-box {
    margin-bottom: 10px;
    }
    .home-boxes #social-box ul {
    margin-top: 20px;
    margin-bottom: 35px;
    }
    footer #home-content-boxes {
    padding-top: 22px;
    }
    #content-wrapper {
    padding-bottom: 1108px;
    }
    .swiper-top .swiper-slide .circle.redbg.absolute {
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    }
    .swiper-top .swiper-slide {
    height: 225px;
    }
    .swiper-top .swiper-button-prev {
    left: 15px;
    }
    .swiper-top .swiper-button-next {
    right: 15px;
    }
    .swiper-bottom .swiper-slide img {
    width: auto;
    min-width: initial;
    height: 333px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    }
    .swiper-bottom .swiper-slide .swiper-top-text {
    z-index: 1;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    }
    .swiper-bottom .swiper-slide .circle.redbg.absolute {
    width: 260px;
    height: 260px;
    right: 15px;
    bottom: 0;
    margin-bottom: -60px;
    }
    .swiper-bottom .swiper-slide .slider-box-bottom {
    z-index: 1;
    width: 225px;
    max-height: 200px;
    padding: 50px 25px 0px 0px;
    float: right;
    bottom: 0;
    }
    .swiper-bottom .swiper-slide .slider-box-bottom .inner-box p {
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    margin-bottom: 5px;
    font-weight: 400;
    text-align: left;
    }
    .swiper-bottom .swiper-slide .swiper-top-text h2 {
    font-size: 28px;
    text-align: left;
    }
    .swiper-top .swiper-slide .slider-box-left {
    max-width: initial;
    }
    #home-content-kunden .swiper-bottom .swiper-slide .swiper-top-text a.more-link {
    display: none;
    }
    #home-content-kunden #testamonial-link {
    padding: 0 15px;
    float: right;
    display: block;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 22px;
    color: #e32b42;
    margin: 25px 0 35px;
    }
    #home-content-kunden #testamonial-link i {
    color: #e32b42;
    font-size: 22px;
    margin-right: 0px;
    padding: 8px 5px 5px;
    }
    .newslink .view .mask {
    width: 100px;
    height: 100px;
    }
    .newslink .view img {
    width: 100px;
    height: 100px;
    }
    .news-box a.more-link {
    position: relative;
    float: right;
    right: 0;
    margin-bottom: 27px;
    }
    #home-headlines > div {
    margin-bottom: 23px;
    }
    #home-headlines > div:last-child {
    margin-bottom: 18px;
    }
    .news-box h2 {
    font-size: 26px;
    margin: 35px 0 35px;
    }
    a.effect div.newstext > p {
    margin-bottom: 0px;
    }
    a.effect div.newstext span {
    display: none;
    }
    #home-content #home-page-wrapper {
    padding: 0px;
    }
    #home-page h1.first {
    padding-bottom: 21px;
    font-size: 26px;
    margin-top: 0px;
    }
    .home-boxes a h3 {
    margin: 35px 0 10px;
    }
    .header .menupaging {
    margin-left: 0px;
    margin-right: 0px;
    }
    .top-meta-nav {
    display: none;
    }
    #home-content {
    margin-top: 32px;
    }
    .navbar-toggle:hover {
    background: #fff;
    }
    .navbar-toggle .icon-bar {
    background: #273f77;
    }
    .header #logo {
    margin: 26px 35px 26px 6px;
    }
    .header #logo img {
    max-width: 125px;
    }
    .navbar-toggle { 
    margin-right: 0px;
    box-shadow: none; 
    margin-top: calc(50% - 3px) !important;
    margin-top: -moz-calc(50% - 3px);
    margin-bottom: calc(50% - 3px) !important;
    margin-top: -moz-calc(50% - 3px);
    }
    .navbar-toggle .icon-bar {
    width: 30px;
    height: 4px;
    border-radius: 0px;
    }
    .mobile-nav {
    padding-top: 78px;
    background: #fff;
    }
    .mobile-nav .navigation {
    width: 80%;
    float: right;    
    }
    .mobile-nav ul {
    box-shadow: none !important;
    }
    .mobile-nav .navigation > li ul.dropdown-menu,
    .mobile-nav .navigation > li ul {
    left: initial;
    position: relative;
    top: initial;
    padding-top: 0px;
    padding-bottom: 0px;
    }
    .mobile-nav .navigation > li ul li,
    .mobile-nav .navigation > li ul.dropdown-menu li {
    margin-bottom: 0px;
    }
    .swiper-top .mixed.swiper-slide .slider-box-left {
    margin-left: 0px;
    text-align: center;
    margin-top: 30px;
    float: none;
    }
    .swiper-top .mixed.swiper-slide .slider-box-left h2 {
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 15px;
    }
    .swiper-top .mixed.swiper-slide .slider-box-left p {
    display: none;
    }
    .swiper-top .mixed.swiper-slide .slider-box-right {
    margin-top: 0px;
    }
    .swiper-top .left.swiper-slide .slider-box-left,
    .swiper-top .right.swiper-slide .slider-box-right {
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    margin-top: 30px;
    float: none;
    }
    .swiper-top .left.swiper-slide .slider-box-left h2,
    .swiper-top .right.swiper-slide .slider-box-right h2{
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 15px;
    }
    .swiper-top .left.swiper-slide .slider-box-right {
    margin-top: 0px;
    }
    .swiper-top .swiper-slide .slider-box-left p, .swiper-top .swiper-slide .slider-box-right p {
    font-size: 13px;
    padding: 0 30px;
    }
    .swiper-top .swiper-slide .slider-box-right iframe {
    width: calc(560px / 3);
    height: calc(315px / 3);
    }
    .swiper-top .swiper-slide.right.img-responsive > div.absolute-center > div > div > div:nth-child(1) {
    display: none;
    }
    .swiper-top .swiper-slide.right .col.md-6,
    .swiper-top .swiper-slide.left .col.md-6 {
    width: 100%;
    }
    .swiper-top .right.swiper-slide .slider-box-right,
    .swiper-top .left.swiper-slide .slider-box-left {
    max-width: initial;
    }
    .swiper-top .swiper-pagination {
    margin-left: initial;
    text-align: center;
    left: 0;
    right: 0;
    }
    .home-boxes a p.home-box-text {
    min-height: initial;
    }
    #home-content-mediadir .best-practice-box a.more-link,
    .passende-best-practice a.more-link{
    position: relative;
    right: 0;
    }
}
@media screen and (max-width: 480px) {
    .main-padding {
    padding: 0px;
    }
    .home-box#social-box {
    margin-left: 0px;
    }
    #footer-bottom ul {
    margin: 20px auto;
    }
    #footer-bottom ul li {
    width: 33%;
    margin: 0px;
    padding: 0px;
    text-align: center;
    }
    #footer-bottom ul li:first-child {
    width: 100%;
    margin: 0px 0px 20px 0px;
    padding: 0px;
    }
    .home-boxes {
    padding: 0px 0px 40px;
    float: left;
    }
    .home-boxes #cert-box h2 {
    margin-bottom: 25px;
    }
    .home-boxes #social-box {
    margin-bottom: 10px;
    }
    .home-boxes #social-box ul {
    margin-top: 20px;
    margin-bottom: 35px;
    }
    footer #home-content-boxes {
    padding-top: 22px;
    }
    #content-wrapper {
    padding-bottom: 1108px;
    }
    .swiper-top .swiper-slide .circle.redbg.absolute{
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius:0;
    margin: 0 !important;
    width:100% !important;
    height: 100% !important;
    }
    .swiper-top .swiper-slide {
    height: 225px;
    }
    .swiper-top .swiper-button-prev {
    left: 15px;
    }
    .swiper-top .swiper-button-next {
    right: 15px;
    }
    .swiper-bottom .swiper-slide img {
    width: auto;
    min-width: initial;
    height: 333px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    }
    .swiper-bottom .swiper-slide .swiper-top-text {
    z-index: 1;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    }
    .swiper-bottom .swiper-slide .circle.redbg.absolute {
    width: 260px;
    height: 260px;
    right: 15px;
    bottom: 0;
    margin-bottom: -30px;
    }
    .swiper-bottom .swiper-slide .slider-box-bottom {
    z-index: 1;
    width: 225px;
    max-height: 200px;
    padding: 0px 25px 0px 0px;
    float: right;
    bottom: 0;
    }
    .swiper-bottom .swiper-slide .slider-box-bottom .inner-box p {
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    margin-bottom: 5px;
    font-weight: 400;
    text-align: left;
    }
    .swiper-bottom .swiper-slide .swiper-top-text h2 {
    font-size: 28px;
    text-align: left;
    }
    .swiper-top .swiper-slide.right.img-responsive > div.absolute-center > div > div > div:nth-child(1) {
    display: none;
    }
    #home-content-kunden .swiper-bottom .swiper-slide .swiper-top-text a.more-link {
    display: none;
    }
    #home-content-kunden #testamonial-link {
    display: block;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 22px;
    color: #e32b42;
    margin: 25px 0 35px;
    }
    #home-content-kunden #testamonial-link i {
    color: #e32b42;
    font-size: 22px;
    margin-right: 0px;
    padding: 8px 5px 5px;
    }
    .newslink .view .mask {
    width: 100px;
    height: 100px;
    }
    .newslink .view img {
    width: 100px;
    height: 100px;
    }
    .news-box a.more-link {
    position: relative;
    float: right;
    right: 0;
    margin-bottom: 27px;
    }
    #home-headlines > div {
    margin-bottom: 23px;
    }
    #home-headlines > div:last-child {
    margin-bottom: 18px;
    }
    .news-box h2 {
    font-size: 26px;
    margin: 35px 0 35px;
    }
    a.effect div.newstext > p {
    margin-bottom: 0px;
    }
    a.effect div.newstext span {
    display: none;
    }
    #home-content #home-page-wrapper {
    padding: 0px;
    }
    #home-page h1.first {
    padding-bottom: 21px;
    font-size: 26px;
    margin-top: 0px;
    }
    .home-boxes a h3 {
    margin: 35px 0 10px;
    }
    .header .menupaging {
    margin-left: 0px;
    margin-right: 0px;
    }
    .top-meta-nav {
    display: none;
    }
    #home-content {
    margin-top: 32px;
    }
    .navbar-toggle:hover {
    background: #fff;
    }
    .navbar-toggle .icon-bar {
    background: #273f77;
    }
    .header #logo {
    margin: 26px 35px 26px 6px;
    }
    .header #logo img {
    max-width: 125px;
    }
    .navbar-toggle { 
    margin-right: 0px;
    box-shadow: none; 
    margin-top: calc(50% - 3px) !important;
    margin-top: -moz-calc(50% - 3px);
    margin-bottom: calc(50% - 3px) !important;
    margin-top: -moz-calc(50% - 3px);
    }
    .navbar-toggle .icon-bar {
    width: 30px;
    height: 4px;
    border-radius: 0px;
    }
    .mobile-nav {
    padding-top: 160px;
    background: #f9f9f8;
    }
    .mobile-nav .navigation {
    width: 80%;
    float: right;    
    }
    .mobile-nav .navigation > li ul.dropdown-menu,
    .mobile-nav .navigation > li ul {
    left: initial;
    position: relative;
    top: initial;
    padding-top: 0px;
    padding-bottom: 0px;
    }
    .mobile-nav .navigation > li ul li,
    .mobile-nav .navigation > li ul.dropdown-menu li {
    margin-bottom: 0px;
    }
    
    .navigation li.level-3 a {border:0;}
    .navigation > li ul.dropdown-menu{border:0;}
    .navigation li.level-1 a{
        font-size: 22px;
        border:0;
    }
    form select{font-size:15px;}
    .row{margin:0;}
    #page{padding:0;}
    #zertvor h2{padding-right:0 !important;}
    .cert-text{margin-left:0 !important;}
    
    .side-meta-nav li.search-item {
       font-size: 24px;       
       padding: 10px 15px;
       line-height: 20px;
    }

    .side-meta-nav li.search-item input.search {
       width: 69%;
       margin: 1% 1% 0 0;
       float: left;
    }

    .side-meta-nav li.search-item .btn {
       width: 30%;
       margin: 1% 0 0 0;
    }
    .swiper-top .mixed.swiper-slide .slider-box-left {
    margin-left: 0px;
    text-align: center;
    margin-top: 30px;
    float: none;
    }
    .swiper-top .mixed.swiper-slide .slider-box-left h2 {
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 15px;
    }
    .swiper-top .mixed.swiper-slide .slider-box-left p {
    display: none;
    }
    .swiper-top .mixed.swiper-slide .slider-box-right {
    margin-top: 0px;
    }
    .swiper-top .left.swiper-slide .slider-box-left,
    .swiper-top .right.swiper-slide .slider-box-right {
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    margin-top: 30px;
    float: none;
    }
    .swiper-top .left.swiper-slide .slider-box-left h2,
    .swiper-top .right.swiper-slide .slider-box-right h2{
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 15px;
    }
    .swiper-top .left.swiper-slide .slider-box-right {
    margin-top: 0px;
    }
    .swiper-top .swiper-slide .slider-box-left p, .swiper-top .swiper-slide .slider-box-right p {
    font-size: 13px;
    padding: 0 30px;
    }
    .swiper-top .swiper-slide .slider-box-right iframe {
    width: calc(560px / 3);
    height: calc(315px / 3);
    }
}


@media only screen and (min-width: 767px) and (max-width: 1320px){
    .swiper-top .swiper-slide{
        height: auto;
    }

    .swiper-top .mixed.swiper-slide .circle.redbg.absolute, .swiper-top .right.swiper-slide .circle.redbg.absolute, .swiper-top .left.swiper-slide .circle.redbg.absolute { 
        width: 58%;
        height: 100%;
        margin-left: 0;
        margin-top: 0;
        border-radius: 0;
        background: url('/themes/standard_4_0/images/red-circle-background.png') no-repeat;
        background-size: contain;
    }

    .swiper-top .right.swiper-slide .circle.redbg.absolute{
        background: url('/themes/standard_4_0/images/red-circle-background-right.png') no-repeat;
    }

    .swiper-top .swiper-slide .slider-box-left,
    .swiper-top .swiper-slide .slider-box-right {
        margin-top: 7%;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .swiper-top .swiper-slide .slider-box-right h2{
        font-size: 30px;
    }

    .swiper-top .swiper-slide .slider-box-left p, .swiper-top .swiper-slide .slider-box-right p{
        font-size: 18px;
    }
}
/*Newly added*/
#hauptsitz {
  padding-left: 0;
}
.slider-box-right.center a#banner-player {display: inline-table;}