<!-- START content_master.html -->
<script language="JavaScript" type="text/javascript">
<!-- //
function logout() {
	Check = confirm("{TXT_LOGOUT_WARNING}");
	if(Check == true) {
		location.href = "index.php?cmd=logout";	
	}
}
// -->
</script>
<table cellspacing="0" cellpadding="1" width="100%" border="0">
	<tr>
		<th id="subnavbar_level1">&nbsp;{CONTENT_NAVIGATION}</th>
		<th id="subnavbar_level1"><div align="right">{FRONTEND_LANG_MENU}</div></th>
	</tr>
	<tr>
		<td height="10" colspan="2"><span class="status_message">{CONTENT_STATUS_MESSAGE}</span></td>
	</tr>
	<tr>
		<td height="100%" colspan="2">
			<table id="admincontent" cellspacing="15" cellpadding="0" border="0">
				<tr>
					<td valign="top"><div id="content_view" >{ADMIN_CONTENT}</div></td>
				</tr>
				<script type="text/javascript">;
					hoehe = document.body.clientHeight - 90;
					hoehe2 = document.body.clientHeight - 180;
					
					var all = document.getElementById('navi_content');
					all.setAttribute('height', hoehe);
					
					var div = document.getElementById("content_view");
					div.style.height = hoehe2+"px";
					div.style.overflow = "auto";
				</script>
			</table>
		</td>
	</tr>
</table>
<!-- END content_master.html -->