<!-- START content_editor.html -->
<script language="JavaScript" type="text/javascript">
<!--
function setText()
{
with( document.formContent ) 
{	
var txtNewpage= newpage.value;
if(title.value == "")
	title.value=txtNewpage;	
if(desc.value == "")
	desc.value=txtNewpage;	
if(key.value == "")
	key.value=txtNewpage	
}
}

function setDateToday(txtValue)
{
with(document.formContent)
{
if(txtValue.value=="")
{
 txtValue.value=date.value;
}
}
}

function swapBlock( div,status ) 
{
	if(status == 1)
	{
	    document.getElementById( div ).style.display ='block';
	}
	else
	{
	    document.getElementById( div ).style.display ='none';		
	}
}

function AddToTheList(from,dest,add,remove) 
{
    if ( from.selectedIndex < 0)
	{
		if (from.options[0] != null)
			from.options[0].selected = true;
		from.focus();
		return false;
	}
	else
	{	
		for (var i=0; i<from.length; i++) 
		{	    
			if (from.options[i].selected) 
			{
		    	dest.options[dest.length] = new Option( from.options[i].text, from.options[i].value, false, false);				
   			}			
		}
	    for (var i=from.length-1; i>=0; i--) 
		{	    
			if (from.options[i].selected) 
			{
		       from.options[i] = null;				
   			}			
		}		
	}
    disapleButtons(from,dest,add,remove);
}	
function RemoveFromTheList(from,dest,add,remove) 
{
	if ( dest.selectedIndex < 0)
	{
		if (dest.options[0] != null)
			dest.options[0].selected = true;
		dest.focus();
		return false;
	}
	else
	{	
		for (var i=0; i<dest.options.length; i++) 
		{	    
			if (dest.options[i].selected) 
			{
		    	from.options[from.options.length] = new Option( dest.options[i].text, dest.options[i].value, false, false);				
   			}			
		}
	    for (var i=dest.options.length-1; i>=0; i--) 
		{	    
			if (dest.options[i].selected) 
			{
		       dest.options[i] = null;				
   			}			
		}		
	}	
	disapleButtons(from,dest,add,remove);
}
function disapleButtons(from,dest,add,remove)
{
	if (from.options.length > 0 )
	{		
		add.disabled = 0;		
	}
	else
		add.disabled = 1;

	if (dest.options.length > 0)
		remove.disabled = 0;
	else
		remove.disabled = 1;
}

function SelectAllList(CONTROL)
{
	for(var i = 0;i < CONTROL.length;i++)
{
		CONTROL.options[i].selected = true;
	}
}

function DeselectAllList(CONTROL)
{
	for(var i = 0;i < CONTROL.length;i++)
	{
		CONTROL.options[i].selected = false;
	}
}
-->
</script>
<span class="red">{CONTENT_STATUS}</span>
<form name="formContent" method="post" onsubmit="SelectAllList(document.formContent.elements['assignedGroups[]']); SelectAllList(document.formContent.elements['assignedBackendGroups[]']);" action="index.php?cmd=content&amp;act={CONTENT_FORM_ACTION}">
<input type="hidden" name="pageid" value="{CONTENT_CATID}">
<input type="hidden" name="date" value="{CONTENT_DATE}">
<input type="hidden" name="pagetitle" value="{CONTENT_TOP_TITLE}">
<ul id="tabmenu">
<li><a id="editorTab_content1" class="active" href="javascript:{}" onclick="selectTab('content1')" title="{TXT_BASIC_DATA}">{TXT_BASIC_DATA}</a></li>
<li><a id="editorTab_content2" href="javascript:{}" onclick="selectTab('content2')" title="{TXT_MORE_OPTIONS}">{TXT_MORE_OPTIONS}</a></li>
<li><a id="editorTab_content3" href="javascript:{}" onclick="selectTab('content3')" title="{TXT_FRONTEND_PERMISSION}">{TXT_FRONTEND_PERMISSION}</a></li>
<li><a id="editorTab_content4" href="javascript:{}" onclick="selectTab('content4')" title="{TXT_RELATEDNESS}">{TXT_RELATEDNESS}</a></li>	
</ul>
<div id="content1" class="editorTab" style="display:block">
<table border="0" cellspacing="0" cellpadding="2" width=100% class="adminlist">
<tr> 
<th colspan="2"> 
<div align="left"><b>{TXT_PAGE_NAME}</b></div>
</th>
</tr>
<tr class="row1"> 
<td valign="top" width="15%" nowrap="nowrap">{TXT_MENU_NAME}</td>
<td valign="top"><b> 
<input type="text" name="newpage" size="40" onchange="setText()" maxlength="100" value="{CONTENT_MENU_NAME}" />
&nbsp; 
<select name="category">
<option value="" selected="selected">{TXT_NEW_CATEGORY}</option>
{CONTENT_CAT_MENU}
</select>
&nbsp;</b>{TXT_TARGET}<b>
<select name="redirectTarget">
  <option value="{CONTENT_TARGET}" selected="selected">{CONTENT_TARGET}</option>
  <option value="_blank">{TXT_TARGET_BLANK} (_blank)</option>
  <option value="_parent">{TXT_TARGET_PARENT} (_parent)</option>
  <option value="_self">{TXT_TARGET_SELF} (_self)</option>
  <option value="_top">{TXT_TARGET_TOP} (_top)</option>
</select>
</b>&nbsp;{TXT_ACTIVE}<b> 
<input type="checkbox" name="displaystatus" value="on" {CONTENT_DISPLAYSTATUS} />
</b></td>
</tr>
<tr class="row1"> 
<td valign=top width="15%">{TXT_META_TITLE}</td>
<td valign=top> 
<input type="text" name="title" value="{CONTENT_META_TITLE}" maxlength="250" size="80" />
</td>
</tr>
<tr class="row1"> 
<td nowrap="nowrap" valign="top" width="15%">{TXT_META_DESCRIPTION}</td>
<td nowrap="nowrap" valign="top"> 
<input type="text" name="desc" value="{CONTENT_DESC}" maxlength="250" size="80" />
</td>
</tr>
<tr class="row1"> 
<td nowrap="nowrap" valign="top" width="15%">{TXT_META_KEYWORD}</td>
<td nowrap="nowrap" valign="top"> 
<input type="text" name="key" value="{CONTENT_KEY}" maxlength="250" size="80" />
</td>
</tr>
<tr class="row1"> 
<td nowrap="nowrap" valign="top" width="15%">{TXT_META_ROBOTS}</td>
<td nowrap="nowrap" valign="top"> 
<input type="checkbox" name="robots" value="index" {CONTENT_ROBOTS} />
</td>
</tr>
</table>
<br />  
<table border="0" cellspacing="0" cellpadding="2" width=100% class="adminlist">
<tr> 
<th>{TXT_CONTENT}</th>
</tr>
<tr class="row1"> 
<td valign="top">{CONTENT_HTML}</td>
</tr>
<tr class="row1">
<td valign=top height="26">&nbsp;</td>
</tr>
</table>
</div>  
<div id="content2" class="editorTab" style="display: none"> 
<table border="0" cellspacing="0" cellpadding="2" width="100%" class="adminlist">
<tr> 
<th colspan="2"> 
  <div align="left"><b>{TXT_GENERAL_OPTIONS}</b></div>
</th>
</tr>
<tr class="row1"> 
<td valign="top" width="15%" height="26">{TXT_START_DATE}<b> </b></td>
<td valign="top"><b> 
  <input type="text" name="startdate" size="10" maxlength="10" onclick="setDateToday(startdate);" value="{CONTENT_STARTDATE}" />
  </b><b> </b><b> </b><b>&nbsp; </b></td>
</tr>
<tr class="row1"> 
<td valign="top" width="15%" height="26">{TXT_END_DATE}</td>
<td valign="top"><b> 
  <input type="text" name="enddate" size="10" maxlength="10" onfocus="setDateToday(enddate);" value="{CONTENT_ENDDATE}" />
  </b></td>
</tr>
</table>
<br />
<table border="0" cellspacing="0" cellpadding="2" width="100%" class="adminlist">
  <tr>
    <th colspan="2"> <div align="left">{TXT_THEMES}</div></th>
  </tr>
  <tr class="row1">
    <td nowrap="nowrap" valign="top" width="15%">{TXT_THEMES}</td>
    <td nowrap="nowrap" valign="top" width="80%">
<select name="themesId">        
{CONTENT_THEMES_MENU} 
</select>
      </td>
  </tr>
  <tr class="row1">
    <td valign="top" width="15%">{TXT_RECURSIVE_CHANGE}</td>
    <td valign="top" width="80%"><input type="checkbox" name="themesRecursive" value="1"></td>
  </tr>
</table>
<br />
<table border="0" cellspacing="0" cellpadding="2" width="100%" class="adminlist">
<tr> 
<th colspan="2"> 
  <div align="left"><b>{TXT_EXPERT_MODE}</b></div>
</th>
</tr>
<tr class="row1"> 
<td valign="top" width="15%">{TXT_MODULE} (cmd | section)</td>
<td valign="top" width="85%"> 
  <input type="text" name="command" value="{CONTENT_SHOW_CMD}" maxlength="100" size="40" />
  <select name="selectmodule">
    <option value="" selected="selected">{TXT_NO_MODULE}</option>
  {CONTENT_MODULE_MENU}
  </select>
</td>
</tr>
<tr class="row1"> 
<td nowrap="nowrap" valign="top" width="15%">{TXT_REDIRECT}</td>
<td nowrap="nowrap" valign="top" width="85%"> 
  <input type="text" name="redirect" value="{TXT_NO_REDIRECT}" maxlength="255" size="40" /> 
  ( http:// ) </td>
</tr>
<tr class="row1"> 
<td nowrap="nowrap" valign="top" width="15%">{TXT_SOURCE_MODE}</td>
<td nowrap="nowrap" valign="top" width="85%"> 
  <input type="checkbox" name="expertmode" value="y" {CONTENT_SHOW_EXPERTMODE} />
</td>
</tr>
</table>
</div>
<!-- start content3 div -->
<div id="content3" class="editorTab" style="display: none"> 
<table cellspacing="0" cellpadding="3" border="0" align="top" width="100%" class="adminlist">
<tr> 
<th><b>{TXT_FRONTEND_PERMISSION}</b></th>
</tr>
<tr class="row1"> 
<td valign="top">
<input value="0" name="protection" type="radio" onclick="swapBlock('frontendGroups',0);" {CONTENT_PROTECTION_INACTIVE} />&nbsp;{TXT_PUBLIC_PAGE}<br />
<input value="1" name="protection" type="radio" onclick="swapBlock('frontendGroups',1);" {CONTENT_PROTECTION_ACTIVE} />&nbsp;{TXT_PROTECTION}</td>
</tr>
</table>
<table cellspacing="0" cellpadding="3" border="0" align="top" width="100%" class="adminlist" id="frontendGroups" style="display:{CONTENT_PROTECTION_DISPLAY};">
  <tr class="row1">
    <td colspan="3">&nbsp;</td>
    </tr>
  <tr class="row1">
    <td colspan="3">{TXT_RECURSIVE_CHANGE}&nbsp;<input type="checkbox" name="recursive" value="1"></td>
    </tr>
  <tr class="row1">
    <td width="15%">{TXT_GROUPS}</td>
    <td width="1%">&nbsp;</td>
    <td>
    {TXT_GROUPS_DEST}</td>
  </tr>
  <tr class="row1">
    <td><select name="existingGroups[]" size="10" style="width:200px;" multiple="multiple">    
{CONTENT_EXISTING_GROUPS}
      </select>
        <br />
        <font size="1"><a href="javascript:SelectAllList(document.formContent.elements['existingGroups[]']);" style="color:blue;">{TXT_SELECT_ALL}</a><br />
        <a href="javascript:DeselectAllList(document.formContent.elements['existingGroups[]']);" style="color:blue;">{TXT_DESELECT_ALL}</a></font> </td>
    <td width="1%"><input type="button" value="&gt;&gt;" name="adduser" onclick="AddToTheList(document.formContent.elements['existingGroups[]'],document.formContent.elements['assignedGroups[]'],adduser,removeuser);" />
        <br />
        <input type="button" value="&lt;&lt;" name="removeuser" onclick="RemoveFromTheList(document.formContent.elements['existingGroups[]'],document.formContent.elements['assignedGroups[]'],adduser,removeuser);" />
    </td>
    <td><select name="assignedGroups[]" size="10" style="width:200px;" multiple="multiple">       
{CONTENT_ASSIGNED_GROUPS}                                     
      </select>
        <br />
        <font size="1"><a href="javascript:SelectAllList(document.formContent.elements['assignedGroups[]']);" style="color:blue;">{TXT_SELECT_ALL}</a> <br />
        <a href="javascript:DeselectAllList(document.formContent.elements['assignedGroups[]']);" style="color:blue;">{TXT_DESELECT_ALL}</a></font> </td>
  </tr>
</table>
</div>
<!-- start content4 div --> 
<div id="content4" class="editorTab" style="display: none">
<table cellspacing="0" cellpadding="3" border="0" align="top" width="100%" class="adminlist">
<tr>
<th colspan="3">{TXT_RELATEDNESS}</th>
</tr>
<tr class="row1">
<td colspan="3">
<input value="0" name="backendPermission" type="radio" onclick="swapBlock('backendGroups',0);" {CONTENT_CONTROL_BACKEND_INACTIVE} />&nbsp;{TXT_BACKEND_RELEASE}<br />
<input value="1" name="backendPermission" type="radio" onclick="swapBlock('backendGroups',1);" {CONTENT_CONTROL_BACKEND_ACTIVE} />&nbsp;{TXT_LIMIT_GROUP_RIGHTS}</td>
</tr>
</table>
<table cellspacing="0" cellpadding="3" border="0" align="top" width="100%" class="adminlist" id="backendGroups" style="display:{CONTENT_CONTROL_BACKEND_DISPLAY};">
  <tr class="row1">
    <td colspan="3">&nbsp;</td>
    </tr>
  <tr class="row1">
    <td colspan="3">{TXT_RECURSIVE_CHANGE}&nbsp;<input type="checkbox" name="backendInherit" value="1"></td>
    </tr>
  <tr class="row1">
    <td width="15%">{TXT_GROUPS}</td>
    <td width="1%">&nbsp;</td>
    <td>
    {TXT_GROUPS_DEST}</td>
  </tr>
  <tr class="row1">
    <td><select name="existingBackendGroups[]" size="10" style="width:200px;" multiple="multiple">      
{CONTENT_EXISTING_BACKEND_GROUPS}
      </select>
        <br />
        <font size="1"><a href="javascript:SelectAllList(document.formContent.elements['existingBackendGroups[]']);" style="color:blue;">{TXT_SELECT_ALL}</a><br />
        <a href="javascript:DeselectAllList(document.formContent.elements['existingBackendGroups[]']);" style="color:blue;">{TXT_DESELECT_ALL}</a></font> </td>
    <td width="1%"><input type="button" value="&gt;&gt;" name="adduser" onclick="AddToTheList(document.formContent.elements['existingBackendGroups[]'],document.formContent.elements['assignedBackendGroups[]'],adduser,removeuser);" />
        <br />
        <input type="button" value="&lt;&lt;" name="removeuser" onclick="RemoveFromTheList(document.formContent.elements['existingBackendGroups[]'],document.formContent.elements['assignedBackendGroups[]'],adduser,removeuser);" />
    </td>
    <td><select name="assignedBackendGroups[]" size="10" style="width:200px;" multiple="multiple">       
{CONTENT_ASSIGNED_BACKEND_GROUPS}                                     
</select>
        <br />
        <font size="1"><a href="javascript:SelectAllList(document.formContent.elements['assignedBackendGroups[]']);" style="color:blue;">{TXT_SELECT_ALL}</a> <br />
        <a href="javascript:DeselectAllList(document.formContent.elements['assignedBackendGroups[]']);" style="color:blue;">{TXT_DESELECT_ALL}</a></font> </td>
  </tr>
</table>  
</div>
<!-- end content4 div -->  
<br />
<input type="submit" name="Submit" value="{TXT_STORE}" />
<br />
</form>
<!-- END content_editor.html -->