<!-- START language_mod.html -->
<script language="JavaScript" type="text/javascript">
<!--
function formCheck(formobj)
{
if (formobj.name.value == "") 
{
alert("{TXT_LANGUAGE_NAME_REQUIRED}");
return false;		
}	
if (!formobj.backend.checked && !formobj.frontend.checked) 
{
alert("{TXT_APPLICATION_RANGE_REQUIRED}");
return false;
}
if (formobj.moduleId.value == "") 
{
alert("{TXT_APPLICATION_RANGE_REQUIRED}");
return false;
}
return true;
}
// -->
</script>
<form name="form1" method="post" action="index.php?cmd=language&amp;act=mod" onsubmit="return formCheck(this);" >
<input type="hidden" name="id" value="{LANGUAGE_VARIABLE_ID}" />
<table cellspacing="0" cellpadding="3" border="0" align="top" width="100%" class="adminlist">
<tr> 
<th width="15%" colspan="4"><b>{TXT_LANGUAGE_SETTING}</b></th>
</tr>
<tr class="row1" valign="top"> 
<td width="15%" nowrap="nowrap">{TXT_NAME}</td>
<td colspan="3"> 
<input type="text" name="name" size="40" value="{LANGUAGE_VARIABLE_NAME}" maxlength="250" />
&nbsp;</td>
</tr>
<tr class="row1" valign="top"> 
<td width="15%" nowrap>{TXT_APPLICATION_RANGE}</td>
<td colspan="3"> 
<input type="checkbox" name="backend" value="1" {LANGUAGE_ADMINZONE} />
{TXT_ADMINISTRATION_PAGES}&nbsp; &nbsp;&nbsp; 
<input type="checkbox" name="frontend" value="1" {LANGUAGE_WEBSITE} />
{TXT_WEB_PAGES} &nbsp;&nbsp; 
<select name="moduleId">
<option value="">{TXT_MODULE}</option>
{LANGUAGE_MODULES_MENU}
</select>
</td>
</tr>
<tr class="row1" valign="top"> 
<td width="15%" nowrap="nowrap">{TXT_VALUE_CONTROL_LANGUAGE}</td>
<td colspan="3">{LANGUAGE_INPUT_FIELDS}</td>
</tr>
</table>
<br />
<input type="submit" value="{TXT_STORE}" name="submit" />&nbsp;&nbsp;&nbsp;{TXT_WRITE_VARIABLES_TO_FILES}<input type="checkbox" value="1" name="writeFiles" checked="checked" />
<br />
</form>
<!-- END language_mod.html -->