<!-- START settings.html -->
<form name="form1" method="post" action="index.php?cmd=settings&amp;act=update">
<table width="100%" cellspacing="0" cellpadding="3" border="0" align="top" class="adminlist">
<tr> 
<th colspan="3">
<div align="left">{TXT_SYSTEM_VARIABLES_OVERVIEW}</div>
</th>
</tr>
<tr class="row2"> 
<td width="20%"><b>{TXT_NAME}</b></td>
<td width="70%"><b>{TXT_VALUE}</b></td>
<td width="10%"><b>{TXT_MODULE}</b></td>
</tr>
<!-- BEGIN settingsOutput -->
<tr class="{SETTINGS_ROWCLASS}"> 
<td><b>{SETTINGS_SETNAME}</b></td>
<td>{SETTINGS_SETVALUE}</td>
<td>{SETTINGS_SETMODULE}</td>
</tr>
<!-- END settingsOutput -->
</table>
<br />
<input type="submit" value="{TXT_SAVE_CHANGES}" name="submit">
</form>
<br />
<!-- END settings.html -->