<!-- START skins_examples.html --> 
<table width="100%" border="0" cellspacing="0" cellpadding="3" class="adminlist">
  <tr> 
    <th colspan="4"> 
      <div align="left">{TXT_REPLACEMENT_LIST}</div>
    </th>
  </tr>
  <tr class="row1" valign="top"> 
    <td width="5%" nowrap="nowrap"><b>{TXT_FILES}</b></td>
    <td width="45%" nowrap="nowrap">&lt;JAVASCRIPT_FILE&gt;&nbsp;&nbsp; ( Optional ) <br />
      &lt;STYLE_FILE&gt;&nbsp;&nbsp; ( Optional ) <br>
      &lt;BUILDIN_STYLE_FILE&gt;&nbsp;&nbsp; ( Optional )       <br />
      &lt;CONTENT_FILE&gt;<br />
      &lt;NAVBAR_FILE&gt;&nbsp;&nbsp; ( Optional ) <br />
      &lt;SUBNAVBAR_FILE&gt;&nbsp;&nbsp; ( Optional ) <br />
      &lt;SHOPNAVBAR_FILE&gt;&nbsp;&nbsp; ( Optional ) <br />
      &lt;SIDEBAR_FILE&gt;&nbsp;&nbsp; ( Optional )  <br />
      &lt;DIRECTORY_FILE&gt;&nbsp;&nbsp; ( Optional )  <br />
      &lt;EVENTS_FILE&gt;&nbsp;&nbsp; ( Optional )  <br />
     &lt;HEADLINES_FILE&gt;&nbsp;&nbsp; ( Optional ) </td>
    <td><b>{TXT_CONTENTS}</b></td>
    <td width="45%">&lt;CHARSET&gt;<br />
      &lt;TITLE&gt;<br />
      &lt;METAKEYS&gt;<br />
      &lt;METADESC&gt;<br />
      &lt;METAROBOTS&gt;<br />
      &lt;CONTENT_TITLE&gt;<br />
      &lt;CONTENT_TEXT&gt; <br />
      &lt;DATE&gt;<br />
      &lt;NAVTREE&gt;<br />
      &lt;ONLINE_USERS&gt;<br />
      &lt;VERSION&gt;<br />
      &lt;LANGUAGE_NAVBAR&gt;<br />
      &lt;LOGGING_STATUS&gt;<br />
      &lt;PARSING_TIME&gt;<br />
      &lt;LANGUAGE_NAVBAR&gt;<br>
      &lt;COUNTER&gt;</td>
  </tr>
</table>
<br />
<table width="100%" border="0" cellspacing="0" cellpadding="3" class="adminlist">
  <tr> 
    <th><div align="left">{TXT_STANDARD_TEMPLATE_STRUCTURE}</div></th>
  </tr>
  <tr class="row1"> 
    <td> 
      <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr valign="top"> 
          <td>{TXT_STARTPAGE}<br />
            <table width="100%" border="0" cellspacing="2" cellpadding="2">
              <tr> 
                <td bgcolor="#FFFF99" valign="top">INDEX.HTML<br />
                  <table width="95%" border="0" cellspacing="2" cellpadding="2" align="center">
                    <tr> 
                      <td bgcolor="#FFCC33" valign="top">JAVASCRIPT.JS</td>
                    </tr>
                  </table>
                  <table width="95%" border="0" cellspacing="2" cellpadding="2" align="center">
                    <tr> 
                      <td valign="top" bgcolor="#FFCC33">STYLE.CSS</td>
                    </tr>
                  </table>
                  <table width="95%" border="0" cellspacing="2" cellpadding="2" align="center">
                    <tr> 
                      <td bgcolor="#FFCC33" valign="top">BUILDIN_STYLE.CSS</td>
                    </tr>
                    <tr>
                      <td bgcolor="#CCCCCC" valign="top">CONTENT_HOME.HTML<br />
                        <table width="95%" border="0" cellspacing="0" cellpadding="0" align="center">
                          <tr>
                            <td colspan="3" valign="top"><table width="100%" border="0" cellspacing="2" cellpadding="2">
                                <tr>
                                  <td bgcolor="#FF9999">NAVBAR.HTML</td>
                                </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td valign="top" width="20%">&nbsp;</td>
                            <td valign="top">&nbsp;</td>
                            <td width="20%" valign="top"><table width="100%" border="0" cellspacing="2" cellpadding="2">
                                <tr>
                                  <td bgcolor="#FF9999">HEADLINES.HTML<br />
                                  </td>
                                </tr>
                            </table></td>
                          </tr>
                        </table></td>
                    </tr>
                  </table>
                  <br>
                  &lt;COUNTER&gt;</td>
              </tr>
            </table>
          </td>
          <td>{TXT_STANDARD_PAGES}<br />
            <table width="100%" border="0" cellspacing="2" cellpadding="2">
              <tr> 
                <td bgcolor="#FFFF99" valign="top">INDEX.HTML<br />
                  <table width="95%" border="0" cellspacing="2" cellpadding="2" align="center">
                    <tr> 
                      <td bgcolor="#FFCC33" valign="top">JAVASCRIPT.JS</td>
                    </tr>
                  </table>
                  <table width="95%" border="0" cellspacing="2" cellpadding="2" align="center">
                    <tr> 
                      <td bgcolor="#FFCC33" valign="top">STYLE.CSS</td>
                    </tr>
                  </table>
                  <table width="95%" border="0" cellspacing="2" cellpadding="2" align="center">
                    <tr> 
                      <td bgcolor="#FFCC33" valign="top" width="5%">BUILDIN_STYLE.CSS</td>
                    </tr>
                    <tr>
                      <td bgcolor="#CCCCCC" valign="top">CONTENT.HTML<br />
                        <table width="95%" border="0" cellspacing="0" cellpadding="0" align="center">
                          <tr>
                            <td colspan="3" valign="top"><table width="100%" border="0" cellspacing="2" cellpadding="2">
                                <tr>
                                  <td bgcolor="#FF9999">NAVBAR.HTML</td>
                                </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td valign="top" width="20%"><table width="100%" border="0" cellspacing="2" cellpadding="2">
                                <tr>
                                  <td bgcolor="#FF9999">SHOPNAVBAR.HTML<br />
            SUBNAVBAR.HTML</td>
                                </tr>
                            </table></td>
                            <td valign="top">&nbsp;</td>
                            <td width="20%" valign="top"><table width="100%" border="0" cellspacing="2" cellpadding="2">
                                <tr>
                                  <td bgcolor="#FF9999">SIDEBAR.HTML</td>
                                </tr>
                            </table></td>
                          </tr>
                        </table></td>
                    </tr>
                  </table>
                  <br>
                  &lt;COUNTER&gt;</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <br />
    </td>
  </tr>
</table>
<br />
<!-- END skins_examples.html -->