<!-- START user_edit.html -->
<script language="JavaScript" type="text/javascript">
function AddToTheList(from,dest,add,remove) 
{
    if ( from.selectedIndex < 0)
	{
		if (from.options[0] != null)
			from.options[0].selected = true;
		from.focus();
		return false;
	}
	else
	{	
		for (var i=0; i<from.length; i++) 
		{	    
			if (from.options[i].selected) 
			{
		    	dest.options[dest.length] = new Option( from.options[i].text, from.options[i].value, false, false);				
   			}			
		}
	    for (var i=from.length-1; i>=0; i--) 
		{	    
			if (from.options[i].selected) 
			{
		       from.options[i] = null;				
   			}			
		}		
	}
    disapleButtons(from,dest,add,remove);
    checkAdminIn();
}


function RemoveFromTheList(from,dest,add,remove) 
{
	if ( dest.selectedIndex < 0)
	{
		if (dest.options[0] != null)
			dest.options[0].selected = true;
		dest.focus();
		return false;
	}
	else
	{	
		for (var i=0; i<dest.options.length; i++) 
		{	    
			if (dest.options[i].selected) 
			{
		    	from.options[from.options.length] = new Option( dest.options[i].text, dest.options[i].value, false, false);				
   			}			
		}
	    for (var i=dest.options.length-1; i>=0; i--) 
		{	    
			if (dest.options[i].selected) 
			{
		       dest.options[i] = null;				
   			}			
		}		
	}	
	disapleButtons(from,dest,add,remove);
    checkAdminIn();
}


function disapleButtons(from,dest,add,remove)
{
	if (from.options.length > 0 )
	{		
		add.disabled = 0;		
	}
	else
		add.disabled = 1;

	if (dest.options.length > 0)
		remove.disabled = 0;
	else
		remove.disabled = 1;
}

function SelectAllList(CONTROL)
{
	for(var i = 0;i < CONTROL.length;i++)
    {
		CONTROL.options[i].selected = true;
	}
}

function DeselectAllList(CONTROL)
{
	for(var i = 0;i < CONTROL.length;i++)
	{
		CONTROL.options[i].selected = false;
	}
}
</script>
<form name=form method="post" action="index.php?cmd=user&amp;act=updateuser" onSubmit="javascript:SelectAllList(document.form.elements['destuser[]']);">
<input type="hidden" name="userId" value="{USERS_ID}" />
  <table cellspacing="0" cellpadding="3" border="0" align="top" width="100%" class="adminlist">
    <tr> 
      <th colspan="2"> 
        <div align="left">{TXT_USER}: {USERS_FIRSTNAME} {USERS_LASTNAME}</div>
      </th>
    </tr>
    <tr class="row2"> 
      <td width="24%">{TXT_USER_NAME}</td>
      <td width="76%"> 
        <input type="text" name="username" size="50" value="{USERS_USERNAME}" />
      </td>
    </tr>
    <tr class="row1"> 
      <td width="24%">{TXT_PASSWORD}</td>
      <td width="76%"> 
        <input type="text" name="password" size="50" value="{USERS_PASSWORD}" />
        <font color="red">*</font> {TXT_PASSWORD_MINIMAL_CHARACTERS}</td>
    </tr>
    <tr class="row2"> 
      <td width="24%">{TXT_FIRST_NAME}</td>
      <td width="76%"> 
        <input type="text" name="firstname" size="50" value="{USERS_FIRSTNAME}" />
      </td>
    </tr>
    <tr class="row1"> 
      <td width="24%">{TXT_LAST_NAME}</td>
      <td width="76%"> 
        <input type="text" name="lastname" size="50" value="{USERS_LASTNAME}" />
      </td>
    </tr>
    <tr class="row2"> 
      <td width="24%">{TXT_EMAIL}</td>
      <td width="76%"> 
        <input type="text" name="email" size="50" value="{USERS_EMAIL}" />
      </td>
    </tr>
    <tr class="row1"> 
      <td width="24%">{TXT_LANGUAGE}</td>
      <td width="76%"> 
        <select name="adminlang">
		 {USERS_LANGUAGE_MENU}
        </select>
      </td>
    </tr>
    <tr class="row2"> 
      <td valign="top" width="24%">{TXT_ADMIN_STATUS}</td>
      <td width="76%"><input type="checkbox" name="is_admin" value="1" {USERS_ADMIN_STATUS} />
      {TXT_USER_ADMIN_RIGHTS}</td>
    </tr>
    <tr class="row1">
      <td valign="top" width="24%">&nbsp;</td>
      <td width="76%">
        <table width="100%" border="0">
          <tr valign="top"> 
            <td width="5%">{TXT_GROUPS}<br />
              <select name="fromuser[]" size="10" style="width:200px;" multiple="multiple">
                  {GROUPS_EDIT_FROMUSER}      
              </select><br />
              <font size="1"><a href="javascript:SelectAllList(document.form.elements['fromuser[]']);" style="color:blue;">{TXT_SELECT_ALL}</a><br />
              <a href="javascript:DeselectAllList(document.form.elements['fromuser[]']);" style="color:blue;">{TXT_DESELECT_ALL}</a></font></td>
            <td width="5%"> 
              <div align="center"> <br />
                <br />
                <br />
                <input type="button" value="&gt;&gt;" name="adduser" onClick="AddToTheList(document.form.elements['fromuser[]'],document.form.elements['destuser[]'],adduser,removeuser);" />
                <br />
                <input type="button" value="&lt;&lt;" name="removeuser" onClick="RemoveFromTheList(document.form.elements['fromuser[]'],document.form.elements['destuser[]'],adduser,removeuser);" />
              </div>
            </td>
            <td width="90%">{TXT_GROUPS_DEST}<br />
              <select name="destuser[]" size="10" style="width:200px;" multiple="multiple">
				{GROUPS_EDIT_DESTUSER}
              </select>
              <br />
              <font size="1"><a href="javascript:SelectAllList(document.form.elements['destuser[]']);" style="color:blue;">{TXT_SELECT_ALL}</a> 
              <br />
              <a href="javascript:DeselectAllList(document.form.elements['destuser[]']);" style="color:blue;">{TXT_DESELECT_ALL}</a></font> 
              <div align="left"> </div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <br />
  <input type="submit" value="{TXT_ACCEPT_CHANGES}" name="submit" />
  <br />
  <br />
  [<font color="red">&nbsp;*&nbsp;</font>]&nbsp;{TXT_PASSWORD_FIELD_EMPTY} {TXT_PASSWORD_MD5_ENCRYPTED}<br />
  <br />
</form>
<!-- END user_edit.html -->