<h1>Error</h1>
<p>The component {COMPONENT_NAME} threw an exception of class "{EXCEPTION_CLASS}" with the following message:</p>
<p>{EXCEPTION_MESSAGE}</p>
<p>Please blablabla...</p>
<p>Additional info:
<!-- BEGIN stacktrace_entry -->
<p>{STACKTRACE_FILE} on line {STACKTRACE_LINE}: {STACKTRACE_CLASS}{STACKTRACE_TYPE}{STACKTRACE_FUNCTION}(<!-- BEGIN stacktrace_entry_arg -->{STACKTRACE_ARGUMENT}<!-- END stacktrace_entry_arg -->)</p>
<!-- END stacktrace_entry -->
</p>

TODO:
<ul>
    <li>Style this page</li>
    <li>Use language vars</li>
    <li>Do the same for Frontend</li>
    <li>Do something similiar for CLI</li>
    <li>Add a way to submit a bug report (backend only)</li>
</ul>
