<form method="post">
    <table class="adminlist" cellspacing="0" cellpadding="5" border="0" width="100%" >
        <tr>
            <th colspan="2">{TXT_MODULE_FAVORITELIST_SETTINGS_FUNCTION}</th>
        </tr>
        <tr class="row1">
            <td width="150px">{TXT_MODULE_FAVORITELIST_SETTINGS_FUNCTION_MAIL}</td>
            <td>
                <input type="checkbox" name="setting[functionMail]" id="functionMail" value="1" {FAVORITELIST_SETTINGS_FUNCTION_MAIL}/>
            </td>
        </tr>
        <tr class="row2">
            <td width="150px">{TXT_MODULE_FAVORITELIST_SETTINGS_FUNCTION_PRINT}</td>
            <td>
                <input type="checkbox" name="setting[functionPrint]" id="functionPrint" value="1" {FAVORITELIST_SETTINGS_FUNCTION_PRINT}/>
            </td>
        </tr>
        <tr class="row1">
            <td width="150px">{TXT_MODULE_FAVORITELIST_SETTINGS_FUNCTION_RECOMMENDATION}</td>
            <td>
                <input type="checkbox" name="setting[functionRecommendation]" id="functionRecommendation" value="1" {FAVORITELIST_SETTINGS_FUNCTION_RECOMMENDATION}/>
            </td>
        </tr>
        <tr class="row2">
            <td width="150px">{TXT_MODULE_FAVORITELIST_SETTINGS_FUNCTION_INQUIRY}</td>
            <td>
                <input type="checkbox" name="setting[functionInquiry]" id="functionInquiry" value="1" {FAVORITELIST_SETTINGS_FUNCTION_INQUIRY}/>
            </td>
        </tr>
        <tr>
            <th colspan="2">{TXT_MODULE_FAVORITELIST_SETTINGS_NOTIFICATION}</th>
        </tr>
        <tr class="row1">
            <td width="150px">{TXT_MODULE_FAVORITELIST_SETTINGS_FUNCTION_MAIL}</td>
            <td>
                <input type="checkbox" name="setting[notificationMail]" id="notificationMail" value="1" {FAVORITELIST_SETTINGS_NOTIFICATION_MAIL}/>
                <input type="text" name="setting[notificationMailMail]" id="notificationMailMail" value="{FAVORITELIST_SETTINGS_NOTIFICATION_MAIL_MAIL}" placeholder="{TXT_MODULE_FAVORITELIST_SETTINGS_NOTIFICATION_MAIL}"/>
            </td>
        </tr>
        <tr class="row2">
            <td width="150px">{TXT_MODULE_FAVORITELIST_SETTINGS_FUNCTION_PRINT}</td>
            <td>
                <input type="checkbox" name="setting[notificationPrint]" id="notificationPrint" value="1" {FAVORITELIST_SETTINGS_NOTIFICATION_PRINT}/>
                <input type="text" name="setting[notificationPrintMail]" id="notificationPrintMail" value="{FAVORITELIST_SETTINGS_NOTIFICATION_PRINT_MAIL}" placeholder="{TXT_MODULE_FAVORITELIST_SETTINGS_NOTIFICATION_MAIL}"/>
            </td>
        </tr>
        <tr class="row1">
            <td width="150px">{TXT_MODULE_FAVORITELIST_SETTINGS_FUNCTION_RECOMMENDATION}</td>
            <td>
                <input type="checkbox" name="setting[notificationRecommendation]" id="notificationRecommendation" value="1" {FAVORITELIST_SETTINGS_NOTIFICATION_RECOMMENDATION}/>
                <input type="text" name="setting[notificationRecommendationMail]" id="notificationRecommendationMail" value="{FAVORITELIST_SETTINGS_NOTIFICATION_RECOMMENDATION_MAIL}" placeholder="{TXT_MODULE_FAVORITELIST_SETTINGS_NOTIFICATION_MAIL}"/>
            </td>
        </tr>
        <tr class="row2">
            <td width="150px">{TXT_MODULE_FAVORITELIST_SETTINGS_FUNCTION_INQUIRY}</td>
            <td>
                <input type="checkbox" name="setting[notificationInquiry]" id="notificationInquiry" value="1" {FAVORITELIST_SETTINGS_NOTIFICATION_INQUIRY}/>
                <input type="text" name="setting[notificationInquiryMail]" id="notificationInquiryMail" value="{FAVORITELIST_SETTINGS_NOTIFICATION_INQUIRY_MAIL}" placeholder="{TXT_MODULE_FAVORITELIST_SETTINGS_NOTIFICATION_MAIL}"/>
            </td>
        </tr>
        <tr>
            <th colspan="2">{TXT_MODULE_FAVORITELIST_SETTINGS_PDF}</th>
        </tr>
        <tr class="row1">
            <td width="150px">{TXT_MODULE_FAVORITELIST_SETTINGS_PDF_LOGO}</td>
            <td>
                <input type="text" name="setting[pdfLogo]" id="pdfLogo" value="{FAVORITELIST_SETTINGS_PDF_LOGO}"/>
            </td>
        </tr>
        <tr class="row2">
            <td width="150px">{TXT_MODULE_FAVORITELIST_SETTINGS_PDF_ADDRESS}</td>
            <td>
                <textarea name="setting[pdfAddress]" id="pdfAddress">{FAVORITELIST_SETTINGS_PDF_ADDRESS}</textarea>
            </td>
        </tr>
        <tr class="row1">
            <td width="150px">{TXT_MODULE_FAVORITELIST_SETTINGS_PDF_FOOTER}</td>
            <td>
                <textarea name="setting[pdfFooter]" id="pdfFooter">{FAVORITELIST_SETTINGS_PDF_FOOTER}</textarea>
            </td>
        </tr>
    </table>
    <br>
    <input type="submit" name="save" value="{TXT_MODULE_FAVORITELIST_SETTINGS_SAVE}"/>
</form>
