/* CSS Document */
body{
	margin-left: 2px;
	margin-top: 2px;
	margin-right: 2px;
	margin-bottom: 2px;
    background-color : #282828;
	margin:0;
	padding:0;
}

#Sidebar{
	position:absolute;
	width: 1037px;
	height:23px;
	left: 10px;
	top: 3px;
}

#logo {
	position:absolute;
	width:147px;
	height:170px;
	z-index:1;
	left: 10px;
	top: 30px;
}

#logo2 {
	position:absolute;
	width:147px;
	height:170px;
	z-index:1;
	left: 157px;
	top: 30px;
}

#title {
	position:absolute;
	width:614px;
	height:69px;
	z-index:1;
	left: 259px;
	top: 84px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:36px;
	color:#FFFFFF;
}

#logo3 {
	position:absolute;
	width: 98%;
	height:170px;
	left: 10px;
	top: 30px;
}

#navbar {
	position:absolute;
	width:98%;
	height:100%;
	z-index:1;
	left: 10px;
	top: 200px;
	background-color:ffffff;
}

#menu_1 a {
	display: block;
	text-decoration: none;
	color: #666666;
	padding: 4px;
	padding-left: 2px;
}
#menu_1 .menu1-level1-inactive a:hover, .menu1-level1-active a:hover {
	color: #000000;
}
.menu1-level1-inactive,.menu1-level1-active {
	border-top: 1px solid #7390af;
	padding-top: 0px;
	margin: 0px;
}


#menu_1 .menu1-level1-active a {
	color: #666666;
}


.menu1-level1-active {
	font-weight: bold;
}

.menu1-level2-active {
	font-weight: bold;
}

.menu1-level3-active {
	font-weight: bold;
}

#menu_1 .menu1-level2-inactive a:hover, #menu_1 .menu1-level2-active a:hover {
	color: #000000;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}
.menu1-level2-inactive,.menu1-level2-active {
	padding-left: 10px;
		font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}
#menu_1 .menu1-level2-active a {
	color: #666666;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}
.menu1-level3-inactive,.menu1-level3-active {
	padding-left: 20px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}
#menu_1 .menu1-level3-inactive a:hover, #menu_1 .menu1-level3-active a:hover {
	color: #000000;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}
.menu1-level3-active {
	color: #666666;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}

.NewsColor {
    color:#666666;
    font-size:12px;
    border-top: 1px solid #7390af;
}

#block_1 {
    border: 1px solid #7390af;
    background-color: #F5F5F5;
    margin-right:10px;
    padding:10px;
}

#block_2 {
    border: 1px solid #7390af;
    background-color: #F5F5F5;
    margin-right:10px;
    padding:10px;
}

h1 {
	font-weight: bold;
    padding: 0;
    margin-top: 0px;
	margin-bottom: 20px;
	font-size: 14px;
	color: #00346e;
}

h2 {
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 11px;
}


td {
	vertical-align: top;
}
a {
	color: #00346e;
}
a:hover {
	color: #7390af;
	text-decoration: none;
}

input, textarea, select, radio {
	font-family: Verdana;
	font-size: 11px;
	border: 1px solid #E0E0E0;
	background-color: #FCFCFC;
	padding: 1px;
	color: #000000;
	overflow: auto;
	margin-bottom: 1px;
}

ul, li {
	margin-top:0px;
	margin-left:0px;
	padding-left:0px;
	list-style:none;
}

.NewsColor {
    color:#666666;
    font-size:11px;
    border-top: 1px solid #7390af;
}

#newsbox {
    border: 1px solid #7390af;
    background-color: #F5F5F5;
    margin-right:10px;
    padding:10px;
}

.container {
    width:956px;
    height:100%;
}

#content {
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
}

#footer {
clear:both;
margin:0 auto;
padding:10px 0 20px;
border-top:4px solid #f0f0f0;
width:760px;
text-align:center;
color:#808080;
background:#ffffff;
font-size:12px;
font-family:Verdana, Arial, Helvetica, sans-serif;
}