<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE module SYSTEM "http://www.contrexx.com/modules/module-1.0">
<module version="1.0">
  <name> Testmodule </name>
  <summary> This is a Testmodule</summary>
  <description> This is some more descriptive text. Here you can introduce the module to the user, tell what it does and so on...  blahbelhabehlablh </description>
  <maintainers>
    <maintainer>
      <user>kon</user>
      <name>Savino Johner</name>
      <email>savino.johner@astalavista.ch</email>
      <role>developer</role>
    </maintainer> 
  	<!--  more maintainers here... -->
  </maintainers>
  <release>
    <version>0.1b</version>
    <date>2006-02-07</date>
    <license> Contrexx license </license>
    <state>Beta</state>
    <notes> This is an example. This module does nothing </notes>
    <todo> nothing. </todo>
	<warnings> none known </warnings>
    <configureoptions>
  		<configureoption name="foo" default="bar" value="bar" />
  		<configureoption name="testval" default="1" value="10" />  
	</configureoptions>
    <filelist>
      <file role="fphp"  baseinstalldir="modules" md5sum="023423234ae56ae6a355ba71286628b7" name="class.index.php"/>
      <file role="doc"  baseinstalldir="modules" md5sum="553e0ea0ff4d18d0097ee4d61496dbd6" name="doc/readme.txt"/>
      <file role="html" baseinstalldir="modules" md5sum="19ef198adef91e8ad1ef91ad18erf9e1" name="template/demo.html"/> 
      <file role="style" baseinstalldir="themes" md5sum="19ef198adef91e8ad1ef91ad18erf9e1" name="foo/style.css"/> 
      <file role="sql" baseinstalldir="modules/sql" md5sum="19e49274825e8ad1ef91ad18erf9e13f" name="themoduleDBstruct.sql"/>
      <file baseinstalldir="modules" role="bphp" name="admin.index.php">
      	<replace from="foo,10" to="foo,20" type="constant"/>
      	<replace from="@version@" to="version" type="package"/>
      	<replace from="@test@" to="test2" type="config"/>
      </file>
    </filelist>
  </release> 
  <changelog>
    <release>
      <version>0.1a</version>
      <date>2005-10-01</date>
      <license>Contrexx license</license>
      <state>alpha</state>
      <notes>asdfasdlkdlk  fdk fd f  .</notes>
      <todo> beta testing </todo>
    </release>
    <release>
      <version>0.02</version>
      <date>2004-11-11</date>
      <license>Contrexx license</license>
      <state>pre-alpha</state>    
      <notes>blah, bleh and fixed bug #1234</notes> 
      <todo> things to do...  </todo>
      <warnings> xyz doesnt work when jkl </warnings>
      <configureoptions>
  		<configureoption name="foo" default="bar" value="bar" />
  		<configureoption name="testval" default="1" value="10" />  
	  </configureoptions>
    </release>
  </changelog>
</module>
