<form action="" method="get">
  <fieldset>
    <div class="contact row">
      <label>
        {TXT_MODULE_CHDIRTRAVELLOG_PROJECT}
        <select name="project">
          {CHDIRTRAVELLOG_PROJECT_OPTIONS}
        </select>
      </label>
    </div>
    <div class="contact row">
      <label>
        {TXT_MODULE_CHDIRTRAVELLOG_NUMBER}
        <input type="text" name="number" value="{CHDIRTRAVELLOG_NUMBER}" />
      </label>
    </div>
    <div class="contact row">
      <label>
        {TXT_MODULE_CHDIRTRAVELLOG_SELECT_TYPE}
        <select name="type">
          <option value="connection"{CHDIRTRAVELLOG_SELECTED_CONNECTION}>
            {TXT_MODULE_CHDIRTRAVELLOG_CONNECTION_NUMBER}
          </option>
          <option value="journey"{CHDIRTRAVELLOG_SELECTED_JOURNEY}>
            {TXT_MODULE_CHDIRTRAVELLOG_JOURNEY_NUMBER}
          </option>
        </select>
      </label>
    </div>
    <div class="contact row">
      <label>
        <input type="submit" name="search"
               value="{TXT_MODULE_CHDIRTRAVELLOG_SEARCH}" />
      </label>
      <div style="padding-top: 17px;">{BLOCK_70}</div>
    </div>
    <div class="contact row">
      <br />
    </div>
  </fieldset>
</form>
<!-- BEGIN travellog_journeys -->
{CHDIRTRAVELLOG_EXPORT_RESULTS}
<!-- BEGIN travellog_journey_info -->
{TXT_MODULE_CHDIRTRAVELLOG_JOURNEY_QUERIED_COLON}
{CHDIRTRAVELLOG_JOURNEY_QUERIED}<br />
{TXT_MODULE_CHDIRTRAVELLOG_JOURNEY_COUNT_COLON}
{CHDIRTRAVELLOG_JOURNEY_COUNT}<br />
<!-- END travellog_journey_info -->
<!-- BEGIN travellog_connection_info -->
{TXT_MODULE_CHDIRTRAVELLOG_CONNECTION_QUERIED_COLON}
{CHDIRTRAVELLOG_CONNECTION_QUERIED}<br />
{TXT_MODULE_CHDIRTRAVELLOG_CONNECTION_COUNT_COLON}
{CHDIRTRAVELLOG_CONNECTION_COUNT}<br />
<!-- END travellog_connection_info -->
<br />
<table>
  <tr>
    <th width="20%">
      {TXT_MODULE_CHDIRTRAVELLOG_DATE}
    </th>
    <th width="15%">
      {TXT_MODULE_CHDIRTRAVELLOG_CONNECTION}
    </th>
    <th width="45%">
      {TXT_MODULE_CHDIRTRAVELLOG_NAME}
    </th>
    <th width="10%" style="text-align: center;">
      {TXT_MODULE_CHDIRTRAVELLOG_COUNT}
    </th>
    <th width="10%"  colspan="2">
      {TXT_MODULE_CHDIRTRAVELLOG_JOURNEY}
    </th>
  </tr>
  <!-- BEGIN travellog_journey -->
  <tr>
    <td>{CHDIRTRAVELLOG_JOURNEY_DATE}</td>
    <td>{CHDIRTRAVELLOG_JOURNEY_CONNECTION_NR}</td>
    <td>{CHDIRTRAVELLOG_JOURNEY_CONNECTION_NAME}</td>
    <td style="text-align: center;">{CHDIRTRAVELLOG_JOURNEY_CONNECTION_COUNT}</td>
    <td>{CHDIRTRAVELLOG_JOURNEY_RBN_LINK}</td>
    <td style="vertical-align: middle !important;">{CHDIRTRAVELLOG_JOURNEY_RBN}</td>
  </tr>
  <!-- END travellog_journey -->
</table>
<!-- END travellog_journeys -->
<!-- BEGIN travellog_no_result -->
<em>
  {TXT_MODULE_CHDIRTRAVELLOG_WARNING_NO_RESULT}
</em>
<!-- END travellog_no_result -->
{CHDIRTRAVELLOG_PAGING}
