<!-- BEGIN messages -->
<div class="message_{MESSAGE_CLASS}">{MESSAGE_TEXT}</div>
<!-- END messages -->
<form action="{CHDIRTRAVELLOG_URI}" method="get">
  <fieldset>
    <div class="contact row">
      <label>
        {TXT_MODULE_CHDIRTRAVELLOG_PROJECT}
        <select name="project">
          {CHDIRTRAVELLOG_PROJECT_OPTIONS}
        </select>
      </label>
    </div>
    <div class="contact row">
      <label>
        {TXT_MODULE_CHDIRTRAVELLOG_NUMBER}
        <input type="text" name="number" value="{CHDIRTRAVELLOG_NUMBER}" />
      </label>
    </div>
    <div class="contact row">
      <label>
        {TXT_MODULE_CHDIRTRAVELLOG_SELECT_TYPE}
        <select name="type">
          <option value="connection"{CHDIRTRAVELLOG_SELECTED_CONNECTION}>
            {TXT_MODULE_CHDIRTRAVELLOG_CONNECTION_NUMBER}
          </option>
          <option value="journey"{CHDIRTRAVELLOG_SELECTED_JOURNEY}>
            {TXT_MODULE_CHDIRTRAVELLOG_JOURNEY_NUMBER}
          </option>
        </select>
      </label>
    </div>
    <div class="contact row">
      <label>
        <input type="submit" name="search"
               value="{TXT_MODULE_CHDIRTRAVELLOG_SEARCH}" />
      </label>
      <div style="padding-top: 17px;">{BLOCK_70}</div>
    </div>
    <div class="contact row">
      <br />
    </div>
  </fieldset>
</form>
<!-- BEGIN chdirtravellog_journeys -->
<a href="{CHDIRTRAVELLOG_URI}&csv=1"
   title="{TXT_MODULE_CHDIRTRAVELLOG_EXPORT_TITLE}">
  <img src="{CHDIRTRAVELLOG_ICON_FOLDER_PATH}xls.png"
       style="height: 20px; width: auto; margin: 0 0 15px 0 !important; float: right;"
       alt="{TXT_MODULE_CHDIRTRAVELLOG_EXPORT_TITLE}" />
</a>
<!-- BEGIN chdirtravellog_journey_info -->
{TXT_MODULE_CHDIRTRAVELLOG_JOURNEY_QUERIED_COLON}
<a target="_blank"
   href="{CHDIRTRAVELLOG_JOURNEY_RBN_URL}">
  {CHDIRTRAVELLOG_NUMBER}
</a>
<br />
{TXT_MODULE_CHDIRTRAVELLOG_JOURNEY_COUNT_COLON}
{CHDIRTRAVELLOG_JOURNEY_COUNT}<br />
<!-- END chdirtravellog_journey_info -->
<!-- BEGIN chdirtravellog_connection_info -->
{TXT_MODULE_CHDIRTRAVELLOG_CONNECTION_QUERIED_COLON}
{CHDIRTRAVELLOG_NUMBER}
{CHDIRTRAVELLOG_CONNECTION_NAME}<br />
{TXT_MODULE_CHDIRTRAVELLOG_CONNECTION_COUNT_COLON}
{CHDIRTRAVELLOG_CONNECTION_COUNT}<br />
<!-- END chdirtravellog_connection_info -->
<br />
<table>
  <tr>
    <th width="20%">
      {TXT_MODULE_CHDIRTRAVELLOG_DATE}
    </th>
    <th width="15%">
      {TXT_MODULE_CHDIRTRAVELLOG_CONNECTION}
    </th>
    <th width="45%">
      {TXT_MODULE_CHDIRTRAVELLOG_NAME}
    </th>
    <th width="10%" style="text-align: center;">
      {TXT_MODULE_CHDIRTRAVELLOG_COUNT}
    </th>
    <th width="10%"  colspan="2">
      {TXT_MODULE_CHDIRTRAVELLOG_JOURNEY}
    </th>
  </tr>
  <!-- BEGIN chdirtravellog_journey -->
  <tr>
    <td>{CHDIRTRAVELLOG_JOURNEY_DATE}</td>
    <td>{CHDIRTRAVELLOG_JOURNEY_CONNECTION_NR}</td>
    <td>{CHDIRTRAVELLOG_JOURNEY_CONNECTION_NAME}</td>
    <td style="text-align: center;">{CHDIRTRAVELLOG_JOURNEY_CONNECTION_COUNT}</td>
    <td>
      <!-- BEGIN chdirtravellog_journey_download -->
      <a target="_blank" href="{CHDIRTRAVELLOG_JOURNEY_RBN_URL}">
        <img src="{CHDIRTRAVELLOG_ICON_FOLDER_PATH}pdf.png"
             style="height: 20px; width: auto; margin: 0 !important;"
             title="{TXT_MODULE_CHDIRTRAVELLOG_DOWNLOAD_ICON_TITLE}"
             alt="{TXT_MODULE_CHDIRTRAVELLOG_DOWNLOAD_ICON_TITLE}" />
      </a>
      <!-- END chdirtravellog_journey_download -->
      <!-- BEGIN chdirtravellog_journey_no_download -->
      <img src="{CHDIRTRAVELLOG_ICON_FOLDER_PATH}blank.gif"
           style="margin: 0 !important;"
           title="{TXT_MODULE_CHDIRTRAVELLOG_WARNING_NO_DOWNLOAD_FOUND}"
           alt="{TXT_MODULE_CHDIRTRAVELLOG_WARNING_NO_DOWNLOAD_FOUND}" />
      <!-- END chdirtravellog_journey_no_download -->
    </td>
    <td style="vertical-align: middle !important;">{CHDIRTRAVELLOG_JOURNEY_RBN}</td>
  </tr>
  <!-- END chdirtravellog_journey -->
</table>
<!-- END chdirtravellog_journeys -->
<!-- BEGIN chdirtravellog_no_result -->
<em>
  {TXT_MODULE_CHDIRTRAVELLOG_WARNING_NO_RESULT}
</em>
<!-- END chdirtravellog_no_result -->
{CHDIRTRAVELLOG_PAGING}
