html {
}

#accesskeys{
    display:none;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: Arial;
	font-size: 12px;
	text-align: justify;
	background-color: #566891;
	background-image: url('images/background_repeat.gif');
	background-repeat: repeat-x;
	background-position: center top;
}
h1 {
	color: #495983;
	font-family: Arial;
	font-size: 24px;
	font-weight: normal;
	margin: 0px;
	padding: 20px 0px 20px 0px;
}
h2 {
	color: #000000;
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
	margin: 0px;
	padding: 10px 0px 0px 0px;
}
h3 {
	color: #495983;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	margin: 0px;
	padding: 0px 0px 5px 0px;
}
hr {
	height: 1px;
	border: 0px;
	color: #495983;
	background-color: #495983;
	padding: 0px;
	margin: 0px 0px 3px 0px;
}
a {
	color: #FF0000;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
input, textarea, select, radio {
	border: 1px solid #495983;
	background-color: #ffffff;
	padding:0px;
        margin:1px;
        color: #5F5F5F;
}
/* BOXES  -------------------------------------------- */
.box {
	width: 230px;
	margin: 0px;
	padding: 0px;
}
.box_top {
	width: 230px;
	height: 8px;
	margin: 0px;
	padding: 20px 0px 0px 0px;
	background-color: #FFFFFF;
	background-image: url('images/frame_top.gif');
	background-repeat: no-repeat;
	background-position: center bottom;
}
.box_bottom {
	width: 230px;
	height: 8px;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	background-color: #FFFFFF;
	background-image: url('images/frame_bottom.gif');
	background-repeat: no-repeat;
	background-position: center top;
}
.box_bg {
	width: 230px;
	margin: 0px;
	padding: 0px;
	background-color: #FFFFFF;
	background-image: url('images/frame_bg_repeat.gif');
	background-repeat: repeat-y;
	background-position: center center;
}
.box_content {
	width: 214px;
	margin: 0px;
	padding: 0px 8px 0px 8px;
	font-family: Arial;
	font-size: 12px;
	background-image: url('images/frame_bg.gif');
	background-repeat: no-repeat;
	background-position: center top;
}

/* GENERAL  -------------------------------------------- */
#container {
	float: left;
	width: 810px;
	position: absolute;
	left: 50%;
	margin-left: -405px;
	background-image: url('images/content_bg.gif');
	background-repeat: repeat-y;
	background-position: center center;
}
#container_bg {
	width: 810px;
	min-height: 534px;
 	height:auto !important;
 	height:534px;
	background-image: url('images/background.gif');
	background-repeat: no-repeat;
	background-position: center top;
}
/* HEADER  -------------------------------------------- */
#header {
	width: 810px;
	height: 115px;
}
#header_topbar {
	width: 746px;
	height: 16px;
	margin: 0px;
	padding: 7px 32px 8px 32px;
	text-align: center;
	color: #8c97b6;
	font-family: Tahoma;
	font-size: 8px;
}
#header_topbar a, #header_topbar a:visited {
	color: #8c97b6;
	font-family: Arial;
	font-size: 9px;
	text-decoration: none;
}
#header_topbar a:hover {
	color: #FFFFFF;
}
#header_title {
	float: left;
	width: 738px;
	height: 41px;
	margin: 0px;
	padding: 14px 32px 0px 40px;
	color: #FFFFFF;
	font-family: Arial;
	font-size: 24px;
	font-weight: bold;
}

/* NAVIGATION  ---------------------------------------- */
#navigation {
	float: left;
	width: 738px;
	height: 30px;
	margin: 0px;
	padding: 0px 32px 0px 40px;
	font-family: Arial;
	font-size: 12px;
}

/* CONTENT  ---------------------------------------- */
#content {
	float: right;
	width: 530px;
	margin: 0px;
	padding: 0px 40px 0px 0px;
}
#content_home {
	float: left;
	width: 480px;
	margin: 0px;
	padding: 0px 0px 0px 40px;
}
#content_text {
	min-height: 450px;
 	height:auto !important;
 	height:450px;
}
/* SUBNAVIGATION --------------------------------------- */
#subnavigation {
	float: left;
	width: 180px;
	margin: 0px;
	padding: 20px 0px 0px 40px;
}
#subnavigation ul {
	width: 180px;
	margin: 0px;
	padding: 0px;
	list-style: none;
}
#subnavigation ul li.level2 {
	width: 180px;
	height: 25px;
	margin: 0px;
	border-top: 1px solid #566891;
}
#subnavigation ul li.level2 a {
	display: block;
	padding: 5px 0px 5px 0px;
	color: #000000;
	font-weight: bold;
}
#subnavigation ul li.level2 a:hover, #subnavigation ul li.level2 a.active {
	background-color: #DDDDDD;
	background-image: url('images/subnav_bg.gif');
}
#subnavigation ul li.level3 {
	width: 180px;
	height: 25px;
	border-top: 1px solid #B4BDD0;
}
#subnavigation ul li.level3 a {
	display: block;
	padding: 5px 0px 5px 0px;
	color: #000000;
	font-weight: normal;
}
#subnavigation ul li.level3 a:hover, #subnavigation ul li.level3 a.active {
	background-color: #DDDDDD;
	background-image: url('images/subnav_bg.gif');
}
/* SIDEBAR  -------------------------------------------- */
#sidebar {
	float: right;
	width: 230px;
	margin: 0px;
	padding: 0px 40px 10px 0px;
	font-size: 12px;
}
#sidebar ul {
	margin: 0px;
	padding: 0px 0px 5px 0px;	
	list-style: none;
}
#sidebar ul a, #sidebar ul a:visited {
	padding: 0px 0px 0px 8px;
	color: #FF0000;
	font-weight: bold;
	background-image: url('images/list_pfeil.gif');
	background-repeat: no-repeat;
	background-position: left center;
}
#sidebar ul a:hover {
	color: #DD0000;
}
#sidebar a, #news_box a:visited {
	color: #FF0000;
	font-weight: bold;
}
#sidebar a:hover {
	color: #DD0000;
}
#sidebar form {
	margin: 0px;
	padding: 0px;
}
#sidebar form input {
	margin: 0px;
	padding: 0px;
}
/* FOOTER  -------------------------------------------- */
#footer {
	float: left;
	width: 730px;
	margin: 0px;
	padding: 30px 40px 60px 40px;
	text-align: center;
	background-image: url('images/footer_bg.gif');
	background-repeat: no-repeat;
	background-position: center bottom;
}
#footer a, #footer a:visited {
	color: #000000;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
#footer a:hover {
	text-decoration: underline;
}