#container {
    width: 1200px;
    margin: 0 auto;
}


#header {
    float: left;
    width: 100%;
    padding: 30px 0 30px 0;
}

#logo {
    float: left;
    width: 198px;
    height: 24px;
    background: url('images/logo.png') no-repeat;
}

#metanavigation {
    float: right;
}

#metanavigation li {
    float: left;
    padding: 6px 15px 0 0;
    margin: 0 15px 0 0;
    background: url('images/divider.gif') no-repeat right 10px;
}

#metanavigation li * {
    color: #8D8D8D;
}

#metanavigation li a:hover {
    color: #0A85C8;
}

#metanavigation li#metanavigation-search {
    padding: 0;
    margin: 0;
    background: none;
}

#metanavigation li#metanavigation-search #search-text {
    float: left;
    padding: 6px 15px 0 0;
}

#metanavigation li#metanavigation-search #search-left,
#metanavigation li#metanavigation-search #search-right {
    float: left;
    height: 30px;
}

#metanavigation li#metanavigation-search #search-left {
    width: 10px;
    background: url('images/search-left.jpg');
}

#metanavigation li#metanavigation-search #search-right {
    width: 25px;
    background: url('images/search-right.jpg');
}

#metanavigation li#metanavigation-search #search-input {
    float: left;
    width: 120px;
    height: 30px;
    padding: 0;
    margin: 0;
    border: 0;
    background: url('images/search-middle.jpg') repeat-x;
}

#navigation {
    float: left;
    width: 100%;
    height: 51px;
    border-top: 3px solid #0A85C8;
    background: #3C3C3C url('images/nav-bg.gif') repeat-x left top;
}

#navigation * {
    z-index: 1;
}

#navigation li {
    position: relative;
    float: left;
}

#navigation li:hover,
#navigation li.starter_active {
    background: url('images/nav-bg-hover.gif') repeat-x left bottom;
}

#navigation li a {
    float: left;
    height: 19px;
    padding: 16px 30px 16px 30px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    background: url('images/nav-divider.gif') no-repeat right bottom;
}

#navigation li ul {
    display: none;
}

#navigation li ul {
    position: absolute;
    top: 51px;
    left: 0;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    box-shadow: 2px 2px #EEEEEE;
    -moz-box-shadow: 2px 2px #EEEEEE;
    -webkit-box-shadow: 2px 2px #EEEEEE;
    -o-box-shadow: 2px 2px #EEEEEE;
    background: none;
}

#navigation li ul li {
    border-bottom: 1px solid #EEEEEE;
    background: #FFFFFF;
}

#navigation li ul li:hover,
#navigation li ul li.starter_active {
    background: #F6F6F6;
}

#navigation li ul li a {
    width: 200px;
    padding: 10px 15px 10px 15px;
    color: #000000;
    font-weight: normal;
    background: none;
}

#navigation li ul li a:hover,
#navigation li ul li a.starter_active {
    
}

#content-wrapper {
    float: left;
    width: 100%;
}

#home-slider {
    float: left;
    width: 1192px;
    height: 500px;
    margin: 10px 0 20px 0;
}

#home-slider img {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
}

#content-top,
#content-bottom {
    float: left;
    width: 1200px;
    height: 5px;
}

#content {
    float: left;
    width: 1158px;
    padding: 20px;
    border-left: 1px solid #D6D6D6;
    border-right: 1px solid #D6D6D6;
    background: #FFFFFF;
}

#content-top {
    margin: 10px 0 0 0;
    background: url('images/content-top.png');
}

#content-bottom {
    background: url('images/content-bottom.png');
}

.content li {
    padding: 0 0 5px 20px;
    background: url('images/marker.gif') no-repeat 2px 6px;
}

#home-boxes {
    float: left;
    width: 100%;
}

.home-box {
    width: 380px;
    float: left;
    padding: 0 30px 0 0;
}

.home-box.top {
    height: 5px;
    padding: 0;
    background: url('images/box-top.gif') no-repeat;
}

.home-box.middle {
    width: 348px;
    height: auto !important;
    min-height: 125px;
    height: 125px; /*FOR IE*/
    padding: 0 15px 10px 15px;
    border-left: 1px solid #D6D6D6;
    border-right: 1px solid #D6D6D6;
    background: #F9F9F9;
}

.home-box.bottom {
    height: 5px;
    padding: 0;
    background: url('images/box-bottom.gif') no-repeat;
}

.home-box.last {
    padding: 0;
}

#footer-top {
    float: left;
    width: 100%;
    padding: 20px 0 10px 0;
}

#footer-top .footer-left li {
    float: left;
    padding: 0 10px 0 0;
    margin: 0 10px 0 0;
    background: url('images/divider.gif') no-repeat right 4px;
}

#footer-top .footer-left li.last {
    padding: 0;
    margin: 0;
    background: none;
}

#footer-top .footer-right li {
    float: left;
    padding: 0 5px 0 0;
    margin: 0 5px 0 0;
}

#footer-top .footer-right li.last {
    padding: 0;
    margin: 0;
}

#footer-bottom {
    float: left;
    width: 100%;
    padding: 0 0 20px 0;
}

.footer-left {
    float: left;
}

.footer-right {
    float: right;
}

#back-top {
    display: none;
    position: fixed;
    right: 40px;
    bottom: 40px;
    width: 50px;
    height: 50px;
    float: left;
    cursor: pointer;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    transition: .21s;
    -moz-transition: .21s;
    -webkit-transition: .21s;
    -o-transition: .21s;
    background: #DDDDDD url('images/up-arrow.png') no-repeat center center;
}

#back-top:hover {
    background-color: #0A85C8;
}
