/* Start CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End CSS Reset */

body {
    color: #404040;
    font-family: Arial, Helvetica;
    font-size: 12px;
    line-height: 1.5em;
    background: #F1F1F1 url('images/bg.gif') repeat-x;
}

a {
    color: #0A85C8;
    text-decoration: none;
}

a:hover {
    color: #000000;
}

p {
    padding: 0 0 10px 0;
}

h1, h2, h3, h4, h5, h6 {
    padding: 10px 0 10px 0;
    line-height: 1;
}

h1 {
    font-size: 26px;
}

h1.first {
    padding-top: 0;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 15px;
}

h6 {
    font-size: 14px;
}

input,
textarea {
    padding: 7px 12px 8px 12px;
    margin: 0 0 10px 0;
    color: #7D7D7D;
    border: 1px solid #DDDDDD;
    background: #FFFFFF;
}

input:hover,
input:focus {
    border: 1px solid #BBBBBB;
    outline: 0;
}

input[type=text] {
    line-height: 17px;
}

input[type=submit],
input[type=reset] {
    padding: 8px 10px 7px 10px;
    color: #414141;
    font-size: 12px;
    line-height: 17px;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-color: white #F8F8F8 #F2F2F2 #F8F8F8;
    box-shadow: 1px 1px 2px #C5C5C5;
    -moz-box-shadow: 1px 1px 2px #C5C5C5;
    -webkit-box-shadow: 1px 1px 2px #C5C5C5;
    -o-box-shadow: 1px 1px 2px #C5C5C5;
    background: #F5F5F5;
    transition: all ease .2s;
    -moz-transition: all ease .2s;
    -webkit-transition: all ease .2s;
    -o-transition: all ease .2s;
}

input[type=submit]:hover,
input[type=reset]:hover {
    background: #E8E8E8;
}
