<ul id="cm-tabs" class="clearfix">
            <li><a href="#tabs-1" class="tab site-type">[[txt-site-type]]</a></li>
            <li><a href="#tabs-2" class="tab site-content">[[txt-site-content]]</a></li>
            <li><a href="#tabs-3" class="tab site-access">[[txt-site-access]]</a></li>
            <li><a href="#tabs-4" class="tab site-settings">[[txt-site-settings]]</a></li>
            <li><a href="#tabs-5" class="tab site-history">[[txt-site-history]]</a></li>
        </ul>

        <div id="tabs-1">
            <form class="clearfix" action="." enctype="multipart/form-data">
                <div class="clearfix">
                    <div id="additionalInfo">
                        <label class="dontShow" for="input1">[[txt-pagetitle]]</label><input id="input1" type="text" value="[[pagetitle]]"/>

                        <div class="clearfix">
                            <h2>[[txt-active-from-to]]</h2>

                            <div class="date">
                                <label for="active-from" class="date">[[txt-active-from]]</label>
                                <input id="active-from" class="date" type="text" value="[[active-from]]"/>
                            </div>

                            <div class="date">
                                <label for="active-to" class="date">[[txt-active-to]]</label>
                                <input id="active-to" class="date" type="text" value="[[active-to]]"/>
                            </div>
                        </div>
                        <h2>[[txt-meta-information]]</h2>

                        <div class="clearfix">
                            <label for="meta-title" class="meta">[[txt-meta-title]]</label>
                            <input id="meta-title" class="meta" type="text" value="[[meta-title]]"/>
                        </div>
                        <div class="clearfix">
                            <label for="meta-kwords" class="meta">[[txt-meta-kwords]]</label>
                            <input id="meta-kwords" class="meta" type="text" value="[[meta-kwords]]"/>
                        </div>
                        <div class="clearfix">
                            <label for="meta-desc" class="meta">[[txt-meta-desc]]</label>
                            <input id="meta-desc" class="meta" type="text" value="[[meta-desc]]"/>
                        </div>
                        <div class="clearfix">
                            <label for="meta-robots" class="meta">[[txt-meta-robots]]</label>
                            <input id="meta-robots" class="meta" type="checkbox" value="[[meta-robots]]"/>
                        </div>
                    </div>
                    <a href="#" id="showHideInfo">Show</a>
                </div>
                <textarea id="cm_ckeditor" rows="15" cols="45"></textarea>

                <div id="buttons">
                    <button id="preview" class="btn left"><span>[[txt-preview]]</span></button>
                    <button id="publish" class="btn right"><span>[[txt-save-publish]]</span></button>
                    <button id="save" class="btn right"><span>[[txt-save]]</span></button>
                </div>
            </form>
        </div>
        <div id="tabs-2">Test Tab2</div>
        <div id="tabs-3">Test Tab3</div>
        <div id="tabs-4">Test Tab4</div>
        <div id="tabs-5">Test Tab5</div>
