<ul id="cm-tabs" class="clearfix">
            <li><a href="#tabs-1" class="tab site-type">[[txt-site-type]]</a></li>
            <li><a href="#tabs-2" class="tab site-content">[[txt-site-content]]</a></li>
            <li><a href="#tabs-3" class="tab site-access">[[txt-site-access]]</a></li>
            <li><a href="#tabs-4" class="tab site-settings">[[txt-site-settings]]</a></li>
            <li><a href="#tabs-5" class="tab site-history">[[txt-site-history]]</a></li>
        </ul>

        <div id="tabs-1" class="types">
            <!-- type: content -->
            <form name="typeForm">
              <p class="info">
                [[txt-type-explanation]]
              </p>
              <div class="type content">
                <div class="wrapper">
                  <div class="left">
                    <input type="radio" name="type" id="typeContent" value="content"></input>
                  </div>
                  <label for="typeContent">
                    <h1> [[txt-type-content]] </h1>
                  </label>
                  <p>
                    [[txt-type-content-description]]
                  </p>
                </div>
              </div>
              <!-- type: redirection -->
              <div class="type redirection">
                <div class="wrapper">
                  <div class="left">
                    <input type="radio" name="type" id="typeRedirection" value="redirection"></input>
                  </div>
                  <label for="typeRedirection">
                    <h1> [[txt-type-redirection]] </h1>
                  </label>
                  <p>
                    [[txt-type-redirection-description]]
                  </p>
                </div>
              </div>
              <!-- type: app -->
              <div class="type app">
                <div class="wrapper">
                  <div class="left">
                    <input type="radio" name="type" id="typeApp" value="app"></input>
                  </div>
                  <label for="typeApp">
                    <h1> [[txt-type-app]] </h1>
                  </label>
                  <p>
                    [[txt-type-app-description]]
                  </p>
                </div>
              </div>
            </form>
        </div>
        <div id="tabs-2">
          <form class="clearfix" action="." enctype="multipart/form-data" id="cm_form">
            <div class="clearfix">
              <div class="additionalInfo">
                <label class="dontShow" for="input1">[[txt-pagetitle]]</label><input id="input1" type="text" value="[[pagetitle]]" name="title" />
                <a href="#" id="showHideInfo">Show</a>
              </div>
              <div id="additionalInfo" class="additionalInfo">
                <div class="clearfix">
                  <h2>[[txt-active-from-to]]</h2>

                  <div class="twoCols">
                    <label for="active-from" class="twoCols">[[txt-active-from]]</label>
                    <input id="active-from" class="twoCols date" type="text" value="[[active-from]]" name="start" />
                  </div>

                  <div class="twoCols">
                    <label for="active-to" class="twoCols">[[txt-active-to]]</label>
                    <input id="active-to" class="twoCols date" type="text" value="[[active-to]]" name="end" />
                  </div>
                </div>
                <h2>[[txt-meta-information]]</h2>

                <div class="clearfix space">
                  <label for="meta-title" class="oneCol">[[txt-meta-title]]</label>
                  <input id="meta-title" class="oneCol" type="text" value="[[meta-title]]" nameg="metatitle" />
                </div>
                <div class="clearfix space">
                  <label for="meta-kwords" class="oneCol">[[txt-meta-kwords]]</label>
                  <input id="meta-kwords" class="oneCol" type="text" value="[[meta-kwords]]" name="metakeys" />
                </div>
                <div class="clearfix space">
                  <label for="meta-desc" class="oneCol">[[txt-meta-desc]]</label>
                  <input id="meta-desc" class="oneCol" type="text" value="[[meta-desc]]" name="metadesc" />
                </div>
                <div class="clearfix">
                  <label for="meta-robots" class="oneCol">[[txt-meta-robots]]</label>
                  <input id="meta-robots" class="oneCol" type="checkbox" value="[[meta-robots]]" name="metarobots" />
                </div>
              </div>

            </div>
            <textarea id="cm_ckeditor" rows="15" cols="45" name="content"></textarea>
          </form>
        </div>
        <div id="tabs-3">Test Tab3</div>
        <div id="tabs-4">
          <form name="settingsForm">
            <div class="additionalInfo">
              <div class="clearfix">
                <h2>[[txt-module-cmd]]</h2>
                <div class="twoCols">
                  <label for="module" class="twoCols">[[txt-module]]</label>
                  <input id="module" class="twoCols" type="text" value="[[module]]" name="module" />
                </div>

                <div class="twoCols">
                  <label for="cmd" class="twoCols">[[txt-cmd]]</label>
                  <input id="cmd" class="twoCols" type="text" value="[[cmd]]" name="cmd" />
                </div>
              </div>
              <div class="clearfix space">
                <h2>[[txt-optics-style]]</h2>
                <label for="skin" class="oneCol">[[txt-skin]]</label>
                <select id="skin" class="oneCol" value="[[skin]]" name="skin" />
              </div>
              <div class="clearfix space">
                <label for="cssName" class="oneCol">[[txt-cssName]]</label>
                <select id="cssName" class="oneCol" value="[[cssName]]" name="cssName" />
              </div>
              <div class="clearfix space">
                <h2>[[txt-special-content-page]]</h2>
                <label for="customContent" class="oneCol">[[txt-customContent]]</label>
                <select id="customContent" class="oneCol" value="[[customContent]]" name="customContent" />
              </div>
              <div class="clearfix space">
                <h2>[[txt-redirection]]</h2>
                <label for="target" class="oneCol">[[txt-target]]</label>
                <input id="target" class="oneCol" type="text" value="[[target]]" name="target" />
              </div>
              <div class="clearfix space">
                <h2>[[txt-performance-optimization]]</h2>
                <label for="caching" class="oneCol">[[txt-caching]]</label>
                <input id="caching" class="oneCol" type="checkbox" value="[[caching]]" name="caching" />
              </div>
              <div class="clearfix">
                <h2>[[txt-link]]</h2>
                <label for="slug" class="oneCol">[[txt-slug]]</label>
                <input id="slug" class="oneCol" type="text" value="[[slug]]" name="slug" />
              </div>
            </div>
          </form>
          <div class="clearfix"></div>
        </div>
        <div id="tabs-5">Test Tab5</div>

        <div id="buttons">
          <button id="preview" class="btn left"><span>[[preview]]</span></button>
          <button id="publish" class="btn right"><span>[[save-publish]]</span></button>
          <button id="save" class="btn right"><span>[[save]]</span></button>
        </div>

