<!-- START content_master.html -->
<script language="JavaScript" type="text/javascript">
<!-- //
function logout() {
	Check = confirm("{TXT_LOGOUT_WARNING}")
	if(Check == true) {
		location.href = "index.php?cmd=logout&{CSRF_PARAM}";
	}
}
// -->
</script>
<table summary="" class="title" cellspacing="0" cellpadding="3" width="100%" border="0">
<tr>
<td nowrap="nowrap">
<div align="left"><a href="./"><b>Home</b></a>&nbsp;&raquo;&nbsp;<b>{SUB_MENU_TITLE}</b>&nbsp;&raquo;&nbsp;<b>{CONTENT_TITLE}</b></div>
</td>
<td nowrap="nowrap"><div align="right">&nbsp;
<img align="bottom" src="images/icons/logged_as.gif" width="19" height="19" title="{TXT_LOGGED_IN_AS} {LOGGED_NAME}" alt="{TXT_LOGGED_IN_AS} {LOGGED_NAME}" />&nbsp;&nbsp;&nbsp;
<a href="javascript:logout();"><img src="images/icons/logout.gif" align="bottom"  width="22" height="17" title="{TXT_LOG_OUT}" alt="{TXT_LOG_OUT}" border="0" /></a>&nbsp;</div></td>
</tr>
</table>
<br />
<table summary="" class="subnavbar_level1" cellspacing="0" cellpadding="3" width="100%" border="0">
<tr>
<td width="83%">&nbsp;{CONTENT_NAVIGATION}</td>
<td width="17%"><div align="right">{FRONTEND_LANG_MENU}</div>
</td>
</tr>
</table>
<table summary="" cellspacing="0" cellpadding="0" width="100%" border="0">
<tr>
<td height="10"><img height="1" alt="" width="1" /></td>
</tr>
</table>
<span class="status_message">{CONTENT_STATUS_MESSAGE}</span>
{ADMIN_CONTENT}<br />
<br />
<!-- END content_master.html -->
