<script type="text/javascript">
/* <![CDATA[ */
Style[0]=["","","","","",,"black","#ffffe1","","","",,,,1,"#000000",2,21,0.3,,2,"gray",1,,15,-5];
Text[0]=["","{TXT_CORE_CM_PAGE_NAME_INFO}"];
Text[1]=["","{TXT_CORE_CM_PAGE_TITLE_INFO}"];
Text[2]=["","{TXT_CORE_CM_TYPE_CONTENT_INFO}"];
Text[3]=["","{TXT_CORE_CM_TYPE_REDIRECT_INFO}"];
Text[4]=["","{TXT_CORE_CM_TYPE_APPLICATION_INFO}"];
Text[5]=["","{TXT_CORE_CM_TYPE_FALLBACK_INFO}"];
Text[6]=["","{TXT_CORE_CM_METATITLE_INFO}"];
Text[7]=["","{TXT_CORE_CM_METADESC_INFO}"];
Text[8]=["","{TXT_CORE_CM_METAKEYS_INFO}"];
Text[9]=["","{TXT_CORE_CM_THEMES_INFO}"];
Text[10]=["","{TXT_CORE_CM_CUSTOM_CONTENT_INFO}"];
Text[11]=["","{TXT_CORE_CM_CSS_CLASS_INFO}"];
Text[12]=["","{TXT_CORE_CM_LINK_TARGET_INO}"];
Text[13]=["","{TXT_CORE_CM_SLUG_INFO}"];
Text[14]=["","{TXT_CORE_CM_ALIAS_INFO}"];
Text[15]=["","{TXT_CORE_CM_CSS_NAV_CLASS_INFO}"];
/* ]]> */
</script>

<script type="text/javascript" src="../lib/javascript/notificationBar.js"></script>
<script type="text/javascript" src="../lib/javascript/contentmanager.js"></script>

<link href="template/ascms/css/contentmanager2.css" rel="stylesheet" type="text/css" />

<ul class="breadcrumb">
    <li class="level_1"><a href="index.php">Home</a></li>
    <li class="level_2">{SUB_MENU_TITLE}</li>
    <li class="level_3">{CONTENT_TITLE}</li>
</ul>
<div id="content-manager" class="{CM_HIDE_LIST}" width="100%">
    <div class="left_wrapper">
        <div class="left" class="{SIDEBAR_TOGGLE_CLASS}">
            <div id="site-language" class="clearfix">
                <div class="navi" style="display: none;">
                    <a href="index.php?cmd=content&act=new">{TXT_NEW_PAGE}</a>
                    <a href="index.php?cmd=workflow">{TXT_CONTENT_HISTORY}</a>
                    <a href="index.php?cmd=media&archive=content">{TXT_IMAGE_ADMINISTRATION}</a>
                </div>
                <select class="chzn-select">{LANGSWITCH_OPTIONS}</select>
            </div>
            <div id="site-structure">
                <table class="adminlist" width="100%">
                    <tr>
                        <th class="page" width="42%">
                            {TXT_CORE_CM_STATUS_PAGE}
                            <span id="flip-menu">
                                (&nbsp;
                                <a href="#" class="jstree-action open">{TXT_EXPAND_LINK}</a>
                                &nbsp;|&nbsp;
                                <a href="#" class="jstree-action close">{TXT_COLLAPS_LINK}</a>
                                &nbsp;)
                            </span>
                        </th>
                        <th class="translation" width="11%">{TXT_CORE_CM_TRANSLATIONS}</th>
                        <th class="module" width="17%">{TXT_CORE_CM_SECTION_CMD}</th>
                        <th class="preview" width="7%"></th>
                        <th class="lastupdate" width="16%">{TXT_CORE_CM_DATE_USER}</th>
                        <th class="actions" width="7%"></th>
                    </tr>
                </table>
                <div id="site-tree"></div>
            </div>
        </div>
        <div id="multiple-actions">
            <img id="multiple-actions-arrow" src="images/icons/arrow.gif" border="0" width="38" height="22" alt="" />
            <span id="multiple-actions-marking">
                <a href="#" class="jstree-action check">{TXT_SELECT_ALL}</a> /
                <a href="#" class="jstree-action uncheck">{TXT_DESELECT_ALL}</a>
                <img id="multiple-actions-strike" style="{MULTIPLE_ACTIONS_STRIKE_STYLE}" src="images/icons/strike.gif" alt="Strike" />
            </span>
            <select action="." id="select-multiple-actions" class="{SELECT_MULTIPLE_ACTIONS_CLASS}">
                <option value="0">{TXT_MULTISELECT_SELECT}</option>
                <option value="publish">{TXT_MULTISELECT_PUBLISH}</option>
                <option value="activate">{TXT_MULTISELECT_ACTIVATE}</option>
                <option value="deactivate">{TXT_MULTISELECT_DEACTIVATE}</option>
                <option value="show">{TXT_MULTISELECT_SHOW}</option>
                <option value="hide">{TXT_MULTISELECT_HIDE}</option>
                <option value="delete">{TXT_MULTISELECT_DELETE}</option>
            </select>
        </div>
    </div>
    <div class="right">
        <div id="page"{CM_HIDDEN}>
            {CONTENT_MANAGER_MEAT}
        </div>
    </div>
</div>

<script type="text/javascript">
var languages = {LANGUAGE_ARRAY};
var fallbacks = {FALLBACK_ARRAY};
var language_labels = {LANGUAGE_LABELS};

cx.ready(function() {
    cx.cm();
});
</script>
    