<!-- START content_sitemap.html -->
<script language="JavaScript" type="text/javascript">
<!-- // confirm delete page
function deletePage(pageId)
{
  if(confirm('{TXT_CONFIRM_DELETE_DATA}\n{TXT_ACTION_IS_IRREVERSIBLE}'))
    window.location.replace("index.php?cmd=content&{CSRF_PARAM}&act=delete&pageId="+pageId);
}

function deleteContent(contentId)
{
  if(confirm('{TXT_CONFIRM_DELETE_CONTENT}\n{TXT_ACTION_IS_IRREVERSIBLE}'))
    window.location.replace("index.php?cmd=content&{CSRF_PARAM}&act=deleteAll&contentId="+contentId);
}

function repositoryPage(pageId)
{
  if(confirm('{TXT_CONFIRM_REPOSITORY}\n{TXT_ACTION_IS_IRREVERSIBLE}'))
    window.location.replace("index.php?cmd=content&{CSRF_PARAM}&act=addrepository&pageid="+pageId);
}

function changeStatus(pageId)
{
  if(confirm('{TXT_CONFIRM_CHANGESTATUS}'))
    window.location.replace("index.php?cmd=content&{CSRF_PARAM}&act=changestatus&pageId="+pageId);
}
function selectMultiAction()
{
  with (document.form)
  {
    switch (frmContentSitemap_MultiAction.value) {
      case 'activate':
        submit();
      break;
      case 'deactivate':
        submit();
       break;
      case 'delete':
        if (confirm('{TXT_DELETE_ALL}')) {
          submit();
        } else {
          frmContentSitemap_MultiAction.selectedIndex = 0;
        }
      break;
      default: //do nothing
    }
  }
}
// -->
</script>
<form name="form" action="index.php?cmd=content&amp;act=mod" method="post">
<table summary="" class="adminlist" width="100%" cellspacing="0" cellpadding="3" border="0">
<tr>
<th width="50%">
<div align="left"><b>{TXT_PAGE}</b>&nbsp;&nbsp;&nbsp;[ <a href="index.php?cmd=content&amp;act=expandAll">{TXT_EXPAND_LINK}</a>
| <a href="index.php?cmd=content&amp;act=collaps">{TXT_COLLAPS_LINK}</a>
]</div>
</th>
<th nowrap="nowrap" width="20%">
<div align="left"><b>{TXT_MODULE}</b></div>
</th>
<th nowrap="nowrap" width="15%">
<div align="left"><b>{TXT_LAST_EDIT}</b></div>
</th>
<th nowrap="nowrap" width="10%">
<div align="left"><b>{TXT_USER}</b></div>
</th>
<th nowrap="nowrap" >
<div align="left"><b>{TXT_FUNCTIONS}</b></div>
</th>
</tr>
<!-- BEGIN siteRow -->
<tr class="row2">
<td colspan="2"><div style="padding-left: 0px">
<img src='images/icons/pixel.gif' alt="" width="1" height="1" />
<img src="images/icons/root_active.gif" alt="" border="0" align="middle" />&nbsp;&nbsp;&nbsp;Frontend [<b>{CONTENT_NAME}</b>]</div></td>
<td><div style="padding-left: 0px">&nbsp;</div></td>
<td><div style="padding-left: 0px">&nbsp;</div></td>
<td nowrap="nowrap">
<img src='images/icons/pixel.gif' alt="" width="16" height="16" />
<a href="index.php?cmd=content&amp;act=copyAll"><img src="images/icons/copy.gif" alt="{TXT_COPY_CONTENT}" title="{TXT_COPY_CONTENT}" border="0" /></a>
<img src='images/icons/pixel.gif' alt="" width="16" height="16" />
<a href="javascript:deleteContent('{CONTENT_ID}');"><img src="images/icons/delete.gif" alt="{TXT_DELETE}" title="{TXT_DELETE}" border="0" /></a>
</td>
</tr>
<!-- END siteRow -->

<!-- BEGIN pageRow -->
<tr class="{SITEMAP_ROWCLASS}">
<td><div style="padding-left: {SITEMAP_ROW_PADDING}px">
<input type="checkbox" name="selectedPages[]" value="{SITEMAP_PAGE_ID}" />
{SITEMAP_PAGE_LEVEL}
<input {SITEMAP_DISPLAYORDER_DISABLED} class="tree_input" maxlength="5" size="3" value="{SITEMAP_PAGE_DISPLAYORDER}" name="displayorder_new[{SITEMAP_PAGE_ID}]" />
<input type="hidden" value="{SITEMAP_PAGE_DISPLAYORDER}" name="displayorder_old[{SITEMAP_PAGE_ID}]" />
<input type="hidden" value="{SITEMAP_PAGE_ID}" name="catid[{SITEMAP_PAGE_ID}]" />
<a href="{SITEMAP_PAGE_LINK}"><b>{SITEMAP_PAGE_NAME}</b></a></div></td>
<td nowrap="nowrap"><i>{SITEMAP_PAGE_MODULE}&nbsp;{SITEMAP_PAGE_CMD}</i></td>
<td nowrap="nowrap">{SITEMAP_PAGE_CHANGELOG}&nbsp;</td>
<td nowrap="nowrap"><img src="images/icons/creator.gif" alt="" border="0" align="middle" />&nbsp;{SITEMAP_PAGE_USERNAME}</td>
<td nowrap="nowrap">{SITEMAP_REPOSITORY}
<a href="index.php?cmd=content&amp;act=new&amp;pageId={SITEMAP_PAGE_ID}"><img src="images/icons/copy.gif" alt="{TXT_TEMPLATE}" title="{TXT_TEMPLATE}" border="0" /></a>
<a href="index.php?cmd=content&amp;act=edit&amp;pageId={SITEMAP_PAGE_ID}" title="{TXT_EDIT}"><img src="images/icons/edit.gif" alt="{TXT_EDIT}" title="{TXT_EDIT}" border="0" /></a>
<a href="javascript:deletePage('{SITEMAP_PAGE_ID}');" title="{TXT_DELETE}"><img src="images/icons/delete.gif" alt="{TXT_DELETE}" title="{TXT_DELETE}" border="0" /></a></td>
</tr>
<!-- END pageRow -->
</table>
<br />
<input type="submit" value="{TXT_SAVE_CHANGES}" name="Submit" style="margin-left:30px;" />
<table summary="" cellpadding="2" cellspacing="0" border="0">
  <tr>
    <td>
      <img src="images/icons/arrow.gif" border="0" width="38" height="22" alt="{TXT_MARKED}:" />
      <a href="#" onclick="changeCheckboxes('form','selectedPages[]',true); return false;">{TXT_SELECT_ALL}</a> /
      <a href="#" onclick="changeCheckboxes('form','selectedPages[]',false); return false;">{TXT_DESELECT_ALL}</a>
      <img src="images/icons/strike.gif" />
      <select name="frmContentSitemap_MultiAction" onchange="selectMultiAction();">
        <option value="0">{TXT_SUBMIT_SELECT}</option>
        <option value="delete">{TXT_SUBMIT_DELETE}</option>
        <option value="activate">{TXT_SUBMIT_ACTIVATE}</option>
        <option value="deactivate">{TXT_SUBMIT_DEACTIVATE}</option>
      </select>
    </td>
  </tr>
</table>
<br />
<br />
</form>
<style type="text/css">@import url('template/ascms/css/contentManager.css') all;</style>
<!--[if lte IE 7]>
<style type="text/css">@import url('template/ascms/css/contentManager_ie.css');</style>
<![endif]-->
<script src="../lib/javascript/scriptaculous/scriptaculous.js" type="text/javascript"></script>
<script language="JavaScript" type="text/javascript">
function moveDivsToEndOfBodyTag() {
	backgroundDiv = $('editMode_Background').remove();
	windowDiv = $('editMode_Window').remove();

	body = document.getElementsByTagName("body")[0];
	new Insertion.Bottom(body, backgroundDiv);
	new Insertion.Bottom(body, windowDiv);
}
window.onload = moveDivsToEndOfBodyTag;

function showEditModeWindow(cmdName, pageId) {
	$('editMode_Code_Link1').href 		= 'index.php?cmd=content&act=edit&pageId=' + pageId + '&{CSRF_PARAM}';
	$('editMode_Code_Link2').href 		= 'index.php?cmd=content&act=edit&pageId=' + pageId + '&{CSRF_PARAM}';
	$('editMode_Content_Link1').href 	= 'index.php?cmd=' + cmdName + '&{CSRF_PARAM}';
	$('editMode_Content_Link2').href 	= 'index.php?cmd=' + cmdName + '&{CSRF_PARAM}';

	Effect.Appear('editMode_Background', {duration: 0.5, to: 0.5});
	Effect.Appear('editMode_Window', {duration: 0.5});
}

function closeEditModeWindow() {
	Effect.Fade('editMode_Background', {duration: 0.5, from: 0.5});
	Effect.Fade('editMode_Window', {duration: 0.5, queue:{scope:'myscope', position:'end'}});
}
</script>
<div id="editMode_Background" style="display: none;"></div>
<div id="editMode_Window" style="display: none;">
	<div id="editMode_Frame">
		<div id="editMode_Title">
			<div class="left">{TXT_EDITMODE_TITLE}</div>
			<div class="right"><a href="javascript:void(0)" onclick="closeEditModeWindow();">X</a></div>
		</div>
		<div id="editMode_Content">
			<p style="text-align: left;">{TXT_EDITMODE_TEXT}</p>
			<div class="left"><a href="" title="{TXT_EDITMODE_CODE}" id="editMode_Code_Link1"><img src="images/content_manager/editmode_Code.gif" alt="{TXT_EDITMODE_CODE}" title="{TXT_EDITMODE_CODE}" /></a></div>
			<div class="right"><a href="" title="{TXT_EDITMODE_CONTENT}" id="editMode_Content_Link1"><img src="images/content_manager/editmode_Content.gif" alt="{TXT_EDITMODE_CONTENT}" title="{TXT_EDITMODE_CONTENT}" /></a></div>
			<br />
			<div class="left"><a href="" title="{TXT_EDITMODE_CODE}" id="editMode_Code_Link2">{TXT_EDITMODE_CODE}</a></div>
			<div class="right"><a href="" title="{TXT_EDITMODE_CONTENT}" id="editMode_Content_Link2">{TXT_EDITMODE_CONTENT}</a></div>
		</div>
	</div>
</div>
<!-- END content_sitemap.html -->
