<script type="text/javascript" src="../lib/javascript/contentmanager.js"></script>

<!--[if lt IE 7 ]><div id="content-manager" class="clearfix ie6"> <![endif]-->
<!--[if IE 7 ]><div id="content-manager" class="clearfix ie7">  <![endif]-->
<!--[if IE 8 ]><div id="content-manager" class="clearfix ie8">  <![endif]-->
<!--[if IE 9 ]><div id="content-manager" class="clearfix ie9">  <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><div id="content-manager" class="clearfix">  <!--<![endif]-->
    <div id="site-structure">
        <div id="site-language" class="clearfix">
            <select class="chzn-select" style="width:101%; height:35px;">
                <option value="de">[[txt-german]]</option>
                <option value="fr">[[txt-french]]</option>
                <option value="en">[[txt-english]]</option>
            </select>
        </div>

        <div id="site-tree">

        </div>
    </div>
    <div id="site">
        
    </div>
</div>
