<script type="text/javascript">
/* <![CDATA[ */
Style[0]=["","","","","",,"black","#ffffe1","","","",,,,1,"#000000",2,21,0.3,,2,"gray",1,,15,-5];
Text[0]=["","{TXT_CORE_CM_PAGE_NAME_INFO}"];
Text[1]=["","{TXT_CORE_CM_PAGE_TITLE_INFO}"];
Text[2]=["",""];
Text[3]=["",""];
Text[4]=["",""];
Text[5]=["",""];
Text[6]=["","{TXT_CORE_CM_METATITLE_INFO}"];
Text[7]=["","{TXT_CORE_CM_METADESC_INFO}"];
Text[8]=["","{TXT_CORE_CM_METAKEYS_INFO}"];
Text[9]=["","{TXT_CORE_CM_THEMES_INFO}"];
Text[10]=["","{TXT_CORE_CM_CUSTOM_CONTENT_INFO}"];
Text[11]=["","{TXT_CORE_CM_CSS_CLASS_INFO}"];
Text[12]=["","{TXT_CORE_CM_LINK_TARGET_INO}"];
Text[13]=["","{TXT_CORE_CM_SLUG_INFO}"];
Text[14]=["","{TXT_CORE_CM_ALIAS_INFO}"];
Text[15]=["","{TXT_CORE_CM_CSS_NAV_CLASS_INFO}"];
/* ]]> */
</script>

<script type="text/javascript" src="../lib/javascript/notificationBar.js"></script>
<script type="text/javascript" src="../lib/javascript/contentmanager.js"></script>

<link href="template/ascms/css/contentmanager2.css" rel="stylesheet" type="text/css" />
<link href="template/ascms/css/contentmanager2-jq-ui.css" rel="stylesheet" type="text/css" />

<ul class="breadcrumb">
    <li class="level_1"><a href="index.php">Home</a></li>
    <li class="level_2">{SUB_MENU_TITLE}</li>
    <li class="level_3">{CONTENT_TITLE}</li>
</ul>
<div id="content-manager" class="{CM_HIDE_LIST}" width="100%">
    <div class="left" style="{SIDEBAR_DISPLAY_STYLE}">
        <div id="site-language" class="clearfix">
            <div class="navi" style="display: none;">
                <a href="index.php?cmd=content&act=new">{TXT_NEW_PAGE}</a>
                <a href="index.php?cmd=workflow">{TXT_CONTENT_HISTORY}</a>
                <a href="index.php?cmd=media&archive=content">{TXT_IMAGE_ADMINISTRATION}</a>
            </div>
            <select class="chzn-select">{LANGSWITCH_OPTIONS}</select>
        </div>
        <div id="site-structure">
            <table class="adminlist" width="100%">
                <tr>
                    <th class="page" width="22%">Status / Seite</th>
                    <th class="translation" width="13%">&Uuml;bersetzung</th>
                    <th class="module" width="13%">Section / CMD</th>
                    <th class="preview" width="13%">Ansicht</th>
                    <th class="user" width="13%">Benutzer</th>
                    <th class="lastupdate" width="13%">Datum</th>
                    <th calss="actions" width="7%" style="text-align: right;">Aktionen</th>
                </tr>
            </table>
            <div id="site-tree"></div>
        </div>
    </div>
    <div class="middle"><div id="sidebar_toggle" class="{SIDEBAR_CLASS_NAME}"></div></div>
    <div class="right">
        <div id="page"{CM_HIDDEN}>
            {CONTENT_MANAGER_MEAT}
        </div>
    </div>
</div>

<script type="text/javascript">
var languages = {LANGUAGE_ARRAY};
var fallbacks = {FALLBACK_ARRAY};
var language_labels = {LANGUAGE_LABELS};

cx.ready(function() {
    cx.cm();
});
</script>
    