<!-- BEGIN list -->
<!-- BEGIN list_start -->
<ul class="{SITEMAP_UL_CLASS}" {SITEMAP_ROOT_UL_ID}>
<!-- END list_start -->
    <!-- BEGIN item_start -->
    <li id="pageId-{SITEMAP_PAGE_ID}" class="{SITEMAP_LI_CLASSES}">
    <div class="{SITEMAP_ROWCLASS}">
        <div class="siteMapFunctions siteMapColumn">
            <!-- BEGIN repository -->
            <a href="javascript:repositoryPage({SITEMAP_PAGE_ID})">
                <img class="icon" src="images/icons/upload.gif" alt="{TXT_ADD_REPOSITORY}" title="{TXT_ADD_REPOSITORY}" />
            </a>
            <!-- END repository -->
            <a href="index.php?cmd=content&amp;act=new&amp;pageId={SITEMAP_PAGE_ID}">
                <img src="images/icons/copy.gif" alt="{TXT_TEMPLATE}" title="{TXT_TEMPLATE}" border="0" />
            </a>
            <a href="index.php?cmd=content&amp;act=edit&amp;pageId={SITEMAP_PAGE_ID}" title="{TXT_EDIT}">
                <img src="images/icons/edit.gif" alt="{TXT_EDIT}" title="{TXT_EDIT}" border="0" />
            </a>
            <a href="javascript:deletePage({SITEMAP_PAGE_ID})">
                <img src="images/icons/delete.gif" alt="{TXT_DELETE}" title="{TXT_DELETE}" border="0" />
            </a>
        </div>
        <div class="siteMapUser siteMapColumn">
            {SITEMAP_USERNAME}
        </div>
        <div class="siteMapLastEdited siteMapColumn">
            {SITEMAP_LAST_EDITED}
        </div>
        <div class="siteMapModule siteMapColumn">
            {SITEMAP_MODULE} {SITEMAP_PAGE_CMD}
        </div>
        <div class="siteMapPage">
            <div class="{SITEMAP_HANDLER_CLASS}"></div>
            <input type="checkbox" name="selectedPages[]" value="{SITEMAP_PAGE_ID}" />
            <input type="hidden" value="{SITEMAP_PAGE_DISPLAYORDER}" name="displayorder_old[{SITEMAP_PAGE_ID}]" />
            <input type="hidden" value="{SITEMAP_PAGE_ID}" name="catid[{SITEMAP_PAGE_ID}]" />
            <!-- BEGIN treenodeicon -->
            <a class="{SITEMAP_PAGE_NODE_CLASS}" href="{DIRECTORY_INDEX}?cmd=content&amp;act=expand&amp;catId={SITEMAP_PAGE_ID}">
                &nbsp;&nbsp;&nbsp;
            </a>&nbsp;
            <!-- END treenodeicon -->
            <a href="{DIRECTORY_INDEX}?cmd=content&amp;act=changeActiveStatus&amp;id={SITEMAP_PAGE_ID}">
                <img class="icon" src="images/icons/led_{SITEMAP_LED_COLOR}.gif" border="0" title="{TXT_PAGE_ACTIVATE}" alt="{TXT_PAGE_ACTIVATE}" />
            </a>
            <a href="javascript:changeStatus({SITEMAP_PAGE_ID});">
                <img class="icon" src="images/icons/folder_{IS_VISIBLE}{IS_CORE}{IS_REDIRECT}.gif"
                    title="{TXT_STATUS_VISIBILITY}" alt="{TXT_STATUS_VISIBILITY}" />
            </a>&nbsp;
            <a href="{SITEMAP_PAGE_TITLE_HREF}"><b>{SITEMAP_PAGE_TITLE}</b></a>
        </div>
    </div>
    <!-- END item_start -->
    <!-- BEGIN item_end -->
    </li>
    <!-- END item_end -->
<!-- BEGIN list_end -->
</ul>
<!-- END list_end -->
<!-- END list -->