<!-- START content_sitemap.html -->
<script language="JavaScript" type="text/javascript">
/* <![CDATA[ */

__CSRF__ = {key:"{CSRF_KEY}", code:"{CSRF_CODE}"};
__CSRF__QSTR = __CSRF__.key+'='+__CSRF__.code;

function deletePage(pageId)
{
    if(confirm('{TXT_CONFIRM_DELETE_DATA}\n{TXT_ACTION_IS_IRREVERSIBLE}'))
        window.location.replace("index.php?cmd=content&act=delete&pageId="+pageId);
}

function repositoryPage(pageId)
{
    if(confirm('{TXT_CONFIRM_REPOSITORY}\n{TXT_ACTION_IS_IRREVERSIBLE}'))
        window.location.replace("index.php?cmd=content&act=addrepository&pageid="+pageId);
}

function changeStatus(pageId)
{
    if(confirm('{TXT_CONFIRM_CHANGESTATUS}'))
        window.location.replace("index.php?cmd=content&act=changestatus&pageId="+pageId);
}

function selectMultiAction()
{
    with (document.form)
    {
      switch (frmContentSitemap_MultiAction.value) {
        case 'activate':
          submit();
        break;
        case 'deactivate':
          submit();
        break;
        case 'delete':
          if (confirm('{TXT_DELETE_ALL}')) {
            submit();
          }
    	  else {
    		frmContentSitemap_MultiAction.selectedIndex = 0;
    	  }
        break;
        default: //do nothing
      }
    }
}
  
(function(){ //wrap in anonyomous function to avoid polluting the global namespace

    var rootUlId = 'sortableNavigation';

    $J(function(){
        $J('#tabmenu li a').click(function(){ //change language via upper right form with dropdown if tabmenu item gets clicked
                $J('form[name=userFrontendLangIdForm] :selected').val($J(this).attr('id').replace(/.*?(\d+)$/, '$1'));
                $J('form[name=userFrontendLangIdForm]').submit();
        });

        $J('#'+rootUlId+' li div.sort-handle').mousedown(function(){
            collapseNode.apply($J('a.hasChildren,a.hasNoChildren', $J(this).closest('li')));
        });

        initSortable();

        $J('.hasChildren').live('click', function(){
            nodeHandler.apply(this);
            return false;
        });

        $J('.hasNoChildren').live('click', function(){
            return false;
        });

        $J('#expandAllLink').click(expandAll);
        $J('#collapseAllLink').click(collapseAll);
        collapseAll();
    });

    var nodeHandler = function(){
        if($J(this).is('.nodeExpanded')){
            collapseNode.apply(this);
        } else {
            expandNode.apply(this);
        }
    }

    var initSortable = function(){
        //turn the nested lists into draggable and sortable objects
        $J('#'+rootUlId).NestedSortable({
            accept: 'sortablePage',
            ghosting: true,
            opacity: 0.5,
            fx: 200,
            revert: true,
            currentNestingClass: 'nestedHighlight',
            nestingPxSpace: 16,
            activeclass: 'nsactive',
            hoverclass: 'nshover',
            helperclass: 'nshelper',
            handle: '.sort-handle',
            autoScroll: true,
            onStart: function(){},
            onHover: function(){},
            onOut: function(){},
            onStop: function(){
                i=0;
                $J('#'+rootUlId+' li').each(function(){
                    var node    =  $J('a.hasChildren, a.hasNoChildren', this);
                    node.removeClass('hasChildren hasNoChildren nodeExpanded nodeCollapsed');
                    var visible = 0;
                    var total   = 0;
                    $J('> ul', this).each(function(){
                        if($J('li', this).length == 0){
                            return;
                        }
                        total++;
                        if(this.style.display != 'none'){
                            visible++;
                        }

                    });
                    if(total > 0){
                        if(visible > 0){
                            node.addClass('hasChildren nodeExpanded');
                        }else{
                            node.addClass('hasChildren nodeCollapsed');
                        }
                    }else{
                        node.addClass('hasNoChildren');
                    }
                });
            },
            onChange: function(serialized) {
                var hash = serialized[0].hash;
                $J.ajax({
                    type: 'POST',
                    url: '{DIRECTORY_INDEX}?cmd=content&act=updateSorting',
                    data: hash,
                    dataType: 'json',
                    success: function(data){
                        if(!data.success){
                            alert('{TXT_DATABASE_QUERY_ERROR}');
                        }
                    }
                });
            resetRowClasses();
            }
        });
    }

    var collapseNode = function(){
        if($J(this).closest('li').children('ul').length == 0){
            return;
        }
        $J(this).closest('li').children('ul').hide();
        $J(this).removeClass('nodeExpanded').addClass('nodeCollapsed');
        resetRowClasses();
    }

    var expandNode = function(){
        if($J(this).closest('li').children('ul').length == 0){
            return;
        }
        $J(this).closest('li').children('ul').show();
        $J(this).removeClass('nodeCollapsed').addClass('nodeExpanded');
        resetRowClasses();
    }

    var collapseAll = function(){
        $J('a.hasChildren').closest('li').children('ul').hide();
        $J('a.hasChildren').removeClass('nodeExpanded').addClass('nodeCollapsed');
        resetRowClasses();
        return false;
    }

    var expandAll = function(){
        $J('a.hasChildren').closest('li').children('ul').show();
        $J('a.hasChildren').removeClass('nodeCollapsed').addClass('nodeExpanded');
        resetRowClasses();
        return false;
    }


    var resetRowClasses = function(){
        i=0;
        $J('#sortableNavigation li > div').each(function(){
            $J(this).removeClass('row1 row2');
            if($J(this).closest('ul')[0].style.display == 'none'){
                return;
            }
            $J(this).addClass('row' + (i++ % 2 == 0 ? 1 : 2));
        });
    }

})();//execute anonymous function

/* ]]> */
</script>
<form name="form" action="index.php?cmd=content&amp;act=mod" method="post">
<ul id="tabmenu">
<!-- BEGIN languages_tab -->
    <li><a class="{TAB_CLASS}" title="{LANGUAGE_TITLE}" id="langTab_{LANGUAGE_ID}">{LANGUAGE_NAME}</a></li>
<!-- END languages_tab -->
</ul>
<div class="adminHeader">
    <div class="siteMapFunctions siteMapHeader">
        <b>{TXT_FUNCTIONS}</b>
    </div>
    <div class="siteMapUser siteMapHeader">
        <b>{TXT_USER}</b>
    </div>
    <div class="siteMapLastEdited siteMapHeader">
        <b>{TXT_LAST_EDIT}</b>
    </div>
    <div class="siteMapModule siteMapHeader">
        <b>{TXT_MODULE}</b>
    </div>
    <div class="siteMapPage">
        <b>{TXT_PAGE}</b>&nbsp;&nbsp;&nbsp;
        [ <a id="expandAllLink" href="?cmd=content&amp;act=expandAll">{TXT_EXPAND_LINK}</a>
        | <a id="collapseAllLink" href="?cmd=content&amp;act=collaps">{TXT_COLLAPS_LINK}</a>
        ]

    </div>
</div>
<!-- BEGIN header -->
<div>
    <div class="siteMapFunctions siteMapColumn row2">
        <a href="index.php?cmd=content&amp;act=copyAll"><img src="images/icons/copy.gif" alt="{TXT_COPY_CONTENT}" title="{TXT_COPY_CONTENT}" border="0" /></a>
        <img class="icon" src='images/icons/pixel.gif' alt="" title="" />&nbsp;
        <img class="icon" src='images/icons/pixel.gif' alt="" title="" />
    </div>
    <div class="siteMapPage row2">
       <img class="icon" src="images/icons/root_active.gif" alt="" border="0" align="middle" />&nbsp;&nbsp;&nbsp;Frontend [<b>{CONTENT_NAME}</b>]
    </div>
</div>
<!-- END header -->

{SITEMAP_NESTED_PAGES}

<br />
<!--<input type="submit" value="{TXT_SAVE_CHANGES}" name="Submit" style="margin-left:30px;" />-->
<table summary="" cellpadding="2" cellspacing="0" border="0">
  <tr>
    <td>
      <img style="margin-left: 43px;" src="images/icons/arrow.gif" border="0" width="38" height="22" alt="{TXT_MARKED}:" />
      <a href="#" onclick="changeCheckboxes('form','selectedPages[]',true); return false;">{TXT_SELECT_ALL}</a> /
      <a href="#" onclick="changeCheckboxes('form','selectedPages[]',false); return false;">{TXT_DESELECT_ALL}</a>
      <img alt="-" title="-" src="images/icons/strike.gif" />
      <select name="frmContentSitemap_MultiAction" onchange="selectMultiAction();">
        <option value="0">{TXT_SUBMIT_SELECT}</option>
        <option value="delete">{TXT_SUBMIT_DELETE}</option>
        <option value="activate">{TXT_SUBMIT_ACTIVATE}</option>
        <option value="deactivate">{TXT_SUBMIT_DEACTIVATE}</option>
      </select>
    </td>
  </tr>
</table>
<br />
<br />
</form>

<script src="../lib/javascript/scriptaculous/scriptaculous.js" type="text/javascript"></script>
<script language="JavaScript" type="text/javascript">
/* <![CDATA[ */

/*@cc_on
  /*@if (@_jscript_version <= 5.6)
        $J('head').append('<link rel="stylesheet" type="text/css" href="template/ascms/css/contentManager_ie.css"></link>');
        $J(function(){
            $J('#editMode_Frame').css({top: 300});
            $J(window).scroll(function(){
                var top = $J(this).scrollTop()+300;
                $J('#editMode_Frame').css({top: top});
                $J('#editMode_Background').css({top: $J(this).scrollTop()});
            });
        });
   @else @*/
        $J('head').append('<link rel="stylesheet" type="text/css" href="template/ascms/css/contentManager.css" media="all"></link>');
 /*@end
@*/

function moveDivsToEndOfBodyTag() {
  $J('#editMode_Background').appendTo('body');
  $J('#editMode_Window').appendTo('body')
}


$J(moveDivsToEndOfBodyTag);

function showEditModeWindow(cmdName, pageId) {
  $J('#editMode_Code_Link1').attr('href', '{DIRECTORY_INDEX}?cmd=content&act=edit&pageId=' + pageId + "&" + __CSRF__QSTR);
  $J('#editMode_Code_Link2').attr('href', '{DIRECTORY_INDEX}?cmd=content&act=edit&pageId=' + pageId + "&" + __CSRF__QSTR);
  $J('#editMode_Content_Link1').attr('href', '{DIRECTORY_INDEX}?cmd=' + cmdName + "&" + __CSRF__QSTR);
  $J('#editMode_Content_Link2').attr('href', '{DIRECTORY_INDEX}?cmd=' + cmdName + "&" + __CSRF__QSTR);
  $J('#editMode_Background').fadeIn('slow');
  $J('#editMode_Window').fadeIn('slow');
}

function closeEditModeWindow() {
  $J('#editMode_Background').fadeOut('slow');
  $J('#editMode_Window').fadeOut('slow');
}

/* ]]> */
</script>
<div id="editMode_Background" style="display: none;"></div>
<div id="editMode_Window" style="display: none;">
  <div id="editMode_Frame">
    <div id="editMode_Title">
      <div class="left">{TXT_EDITMODE_TITLE}</div>
      <div class="right"><a href="javascript:void(0)" onclick="closeEditModeWindow();">X</a></div>
    </div>
    <div id="editMode_Content">
      <p style="text-align: left;">{TXT_EDITMODE_TEXT}</p>
      <div class="left"><a href="" title="{TXT_EDITMODE_CODE}" id="editMode_Code_Link1"><img src="images/content_manager/editmode_Code.gif" alt="{TXT_EDITMODE_CODE}" title="{TXT_EDITMODE_CODE}" /></a></div>
      <div class="right"><a href="" title="{TXT_EDITMODE_CONTENT}" id="editMode_Content_Link1"><img src="images/content_manager/editmode_Content.gif" alt="{TXT_EDITMODE_CONTENT}" title="{TXT_EDITMODE_CONTENT}" /></a></div>
      <br />
      <div class="left"><a href="" title="{TXT_EDITMODE_CODE}" id="editMode_Code_Link2">{TXT_EDITMODE_CODE}</a></div>
      <div class="right"><a href="" title="{TXT_EDITMODE_CONTENT}" id="editMode_Content_Link2">{TXT_EDITMODE_CONTENT}</a></div>
    </div>
  </div>
</div>
<!-- END content_sitemap.html -->
