<!-- START dbm_csv.html -->
<script language="javascript" type="text/javascript">
// <![CDATA[
function optimizeDB()
{
  window.location = 'index.php?cmd=dbm&{CSRF_PARAM}&act=optimize';
}

function repairDB()
{
  window.location = 'index.php?cmd=dbm&{CSRF_PARAM}&act=repair';
}

function selectMultiAction()
{
  with (document.formcsv) {
    switch (multiaction.value) {
      case 'export':
      case 'import':
        action = 'index.php?cmd=dbm&act=csv';
        submit();
    }
  }
}
// ]]>
</script>
<form name="formcsv" method="post" action="index.php?cmd=dbm&amp;act=table_actions">
  <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
    <tr>
      <th colspan="6">{TXT_DBM_CSV}</th>
    </tr>
    <tr class="row3">
      <td width="1%">&nbsp;</td>
      <td width="20%"><b>{TXT_DBM_CSV_TABLES_NAME}</b></td>
      <td width="20%" style="text-align: center;"><b>{TXT_DBM_CSV_TABLES_ROWS}</b></td>
      <td width="20%" style="text-align: center;"><b>{TXT_DBM_CSV_TABLES_DATA}</b></td>
      <td width="20%" style="text-align: center;"><b>{TXT_DBM_CSV_TABLES_INDEXES}</b></td>
      <td width="19%" style="text-align: center;"><b>{TXT_DBM_CSV_TABLES_BACKLOG}</b></td>
    </tr>
    <!-- BEGIN showTables -->
    <tr class="row{DBM_CSV_TABLES_ROW}">
      <td><input type="checkbox" name="source[]" value="{DBM_CSV_TABLES_NAME}" /></td>
      <td>
        <!-- BEGIN showTableContentLink --><a href="index.php?cmd=dbm&amp;act=showTable&amp;table={DBM_CSV_TABLES_NAME}" title="{TXT_DBM_CSV_SHOW_TABLE}: {DBM_CSV_TABLES_NAME}">{DBM_CSV_TABLES_NAME}</a><!-- END showTableContentLink -->
        <!-- BEGIN showTableContentNoLink -->{DBM_CSV_TABLES_NAME}<!-- END showTableContentNoLink -->
      </td>
      <td style="text-align: center;">{DBM_CSV_TABLES_ROWS}</td>
      <td style="text-align: center;">{DBM_CSV_TABLES_DATA}</td>
      <td style="text-align: center;">{DBM_CSV_TABLES_INDEXES}</td>
      <td style="text-align: center;">{DBM_CSV_TABLES_BACKLOG}</td>
    </tr>
    <!-- END showTables -->
  </table>
  <br />
  <table cellpadding="2" cellspacing="0" border="0">
    <tr>
      <td>
        <img src="images/icons/arrow.gif" border="0" width="38" height="22" alt="" />
        <a href="#" onclick="changeCheckboxes('formcsv','source[]',true); return false;">{TXT_DBM_CSV_TABLES_SELECT_ALL}</a> /
        <a href="#" onclick="changeCheckboxes('formcsv','source[]',false); return false;">{TXT_DBM_CSV_TABLES_DESELECT_ALL}</a>
        <img src="images/icons/strike.gif" alt="" />
        <select name="multiaction" onchange="selectMultiAction();">
          <option value="">{TXT_DBM_CSV_TABLES_SUBMIT_SELECT}</option>
          <option value="export">{TXT_DBM_CSV_EXPORT}</option>
          <option value="import">{TXT_DBM_CSV_IMPORT}</option>
        </select>
      </td>
      <td>
        <input type="checkbox" name="truncate" id="truncate" value="1" />
        <label for="truncate">{TXT_DBM_CSV_IMPORT_TRUNCATE_TABLE}</label>
      </td>
    </tr>
  </table>
</form>
<!-- END dbm_csv.html -->
