<script type="text/javascript">
// <![CDATA[
function swapNavigation(navi_id) {
    $J('#navigation_level_1_' + navi_id).toggleClass('active inactive');
    $J('#navigation_level_2_' + navi_id).toggleClass('active inactive');
    className = $J('#navigation_level_2_' + navi_id).hasClass('active') ? 'active' : 'inactive';
    document.cookie = 'navigation_level_2_' + navi_id + "=" + className;
}
// ]]>
</script>

<a class="navigation_level_1 dashboard" href="index.php" title="Dashboard">Dashboard</a>
<!-- BEGIN navigationRow -->
<div id="navigation_level_1_{NAVIGATION_ID}" class="navigation_level_1 {NAVIGATION_CLASS}" onclick="swapNavigation('{NAVIGATION_ID}');">{NAVIGATION_GROUP_NAME}</div>
<ul id="navigation_level_2_{NAVIGATION_ID}" class="navigation_level_2 {NAVIGATION_CLASS}">{NAVIGATION_MENU}</ul>
<!-- END navigationRow -->
<form id="search" name="search" action="index.php" method="post">
    <input name="term" type="text" value="" />
    <input name="submit" type="submit" value="{TXT_SEARCH}" />
</form>