<!-- start login_lostpw.html -->
<br />
<form method="post" action="index.php?cmd=lostpw">
    <table width="100%" cellspacing="0" cellpadding="2" border="0" summary="lost password form">
        <tbody>
        	<!-- BEGIN login_lost_password -->
	            <tr>
	                <td colspan="2" width="70%">{TXT_LOST_PASSWORD_TEXT}</td>
	                <td rowspan="3" width="30%">&nbsp;&nbsp;&nbsp;&nbsp;<img src="template/ascms/images/icons/32x32/lost_pw.gif" align="middle" alt="login key" /></td>
	            </tr>
	            <tr>
	                <td width="30%" nowrap="nowrap" rowspan="3"><div style="vertical-align: top;">{TXT_EMAIL}:</div></td>
	                <td width="40%"><input type="text" maxlength="255" style="width: 100%;" size="30" name="email" /></td>
	            </tr>
	            <tr>
	                <td><input type="submit" name="restore_pw" value="{TXT_RESET_PASSWORD}" /></td>
	            </tr>
			<!-- END login_lost_password -->
			<tr>
				<td colspan="2"><div style="color: #ff0000; font-weight: bold;"><br />{LOGIN_STATUS_MESSAGE}</div></td>
			</tr>
        </tbody>
    </table>
</form>
<br />
<!-- end login_lostpw.html -->
