<!-- START login.html -->
<form method="post" action="index.php" name="login_form" onsubmit="return ValidateForm(this)">
<input type="hidden" name="redirect" value="{REDIRECT_URL}" />
<script language="JavaScript" type="text/javascript" defer="defer">
<!--
form_submitted=false;
function ValidateForm(theform)
{
	if(theform.USERNAME.value=='')
	{
		if(theform.USERNAME.focus)
			theform.USERNAME.focus()
		alert('It was not specified a valid username.')
		form_submitted=false
		return false
	}
	if(theform.hash.value=='')
	{
		if(theform.hash.focus)
			theform.hash.focus()
		alert('It was not specified a valid password.')
		form_submitted=false
		return false
	}
	//theform.PASSWORD.value=MD5(theform.hash.value)
	theform.PASSWORD.value=theform.hash.value
	theform.hash.value=''
	return true
}
//-->
</script>
<br />
<table summary="" width="100%" border="0" cellpadding="2" cellspacing="0">
	<tr>
		<td width="30%" nowrap="nowrap">{TXT_SECURITY_CODE}:</td>
		<td width="70%">{LOGIN_IMAGE}</td>
	</tr>
	<tr>
		<td nowrap="nowrap">{TXT_USER_NAME}:</td>
		<td><input style="width:300px;" tabindex="2" name="USERNAME" value="{UID}" /></td>
	</tr>
	<tr>
		<td nowrap="nowrap" rowspan="4" style="vertical-align:top;">{TXT_PASSWORD}:</td>
		<td><input style="width:300px;" type="password" tabindex="3" size="40" name="hash" value="" /><input type="hidden" name="PASSWORD" value="" /></td>
	</tr>
	<tr>
		<td><input type="submit" tabindex="4" name="submit_button" value="{TXT_LOGIN}" onclick="if(this.disabled || typeof(this.disabled)=='boolean') this.disabled=true ; form_submitted_test=form_submitted ; form_submitted=true ; form_submitted=(!form_submitted_test || confirm('Are you sure you want to submit this form again?')) ; if(this.disabled || typeof(this.disabled)=='boolean') this.disabled=false ; sub_form='' ; return true" /></td>
	</tr>
	<tr>
		<td><a href="index.php?cmd=lostpw"><br />&raquo;&nbsp;{TXT_PASSWORD_LOST}</a></td>
	</tr>
	<tr>
		<td><div style="color: #ff0000; font-weight: bold;"><br />{LOGIN_ERROR_MESSAGE}{CAPTCHA_ERROR}</div></td>
	</tr>
</table>
</form>
<br />
<!-- END login.html -->
