<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!-- START login_index.html -->
<html>
<head>
<title>Contrexx Administration Console</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="robots" content="noindex" />
<meta name="robots" content="nofollow" />
<meta name="robots" content="noarchive" />
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="cache-control" content="no-cache" />
<link href="template/ascms/css/base.css" rel="stylesheet" type="text/css" />
{JAVASCRIPT}
</head>
<body bgcolor="#ffffff" style="margin: 0px">
<table summary="" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td width="29%"><a href="./" title="Home"><img name="Home" src="template/ascms/images/contrexx_logo.jpg" width="232" height="55" border="0" alt="" /></a></td>
    <td width="65%"><div align="right"><img src="template/ascms/images/contrexx_header.jpg"  height="55" border="0" alt="" /></div></td>
    <td width="6%" align="right"><img src="template/ascms/images/contrexx_header2.jpg" height="55" border="0" alt="" /></td>
  </tr>
</table>
<div style="border-bottom-width: 1px; border-bottom-color:#0A50A1; border-bottom-style:solid"></div>
<table summary="" cellspacing="0" cellpadding="3" width="100%" border="0">
  <tr>
    <td nowrap="nowrap">
      <div align="left"><a href="./"><b>Home</b></a>&nbsp;&raquo;&nbsp;<b>{TITLE}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
    </td>
  </tr>
</table>
<br />
<br />
<table summary="" width="600" style="height: 250" border="0" align="center" cellpadding="4" cellspacing="0">
  <tr>
    <td valign="top"><div align="center">{CONTENT_FILE}</div></td>
  </tr>
</table>
<br />
<br />
<br />
<div style="border-bottom-width: 1px; border-bottom-color:#0A50A1; border-bottom-style:solid"></div>
<table summary="" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td width="29%">&nbsp;</td>
<td width="65%"><div align="right"><img src="template/ascms/images/contrexx_footer.jpg" border="0" alt="" /></div></td>
<td width="6%" align="right"><img src="template/ascms/images/contrexx_footer2.jpg" border="0" alt="" /></td>
</tr>
</table>
<div id="footer"><br />
&copy; COMVATION Internet Solutions, Switzerland</div>
<br />
<br />
<br />
<!-- END login_index.html -->
</body>
</html>
