<!-- start login_reset_password.html -->
<br />
<form method="post" action="index.php?cmd=resetpw">
	<input type="hidden" name="restore_key" value="{LOGIN_RESTORE_KEY}" />
    <input type="hidden" name="username" value="{LOGIN_USERNAME}" />
    <table width="100%" cellspacing="0" cellpadding="2" border="0" summary="set new password form">
        <tbody>
        	<!-- BEGIN login_reset_password -->
	            <tr>
	                <td colspan="2" width="70%">{TXT_SET_PASSWORD_TEXT}</td>
	                <td rowspan="5" width="30%">&nbsp;&nbsp;&nbsp;&nbsp;<img src="template/ascms/images/icons/32x32/lost_pw.gif" align="middle" alt="login key" /></td>
	            </tr>
				<tr>
					<td width="30%" nowrap="nowrap">{TXT_USERNAME}</td>
					<td width="40%">{LOGIN_USERNAME}</td>
				</tr>
				<tr>
					<td width="30%" nowrap="nowrap">{TXT_PASSWORD}&nbsp;{TXT_PASSWORD_MINIMAL_CHARACTERS}</td>
					<td width="40%"><input type="password" maxlength="50" size="30" name="password" /></td>
				</tr>
				<tr>
					<td width="30%" nowrap="nowrap" rowspan="2"><div style="vertical-align: top;">{TXT_VERIFY_PASSWORD}</div></td>
					<td width="40%"><input type="password" maxlength="50" size="30" name="password2" /></td>
				</tr>
				<tr>
					<td><input type="submit" value="{TXT_SET_NEW_PASSWORD}" name="reset_password" /></td>
				</tr>
			<!-- END login_reset_password -->
			<tr>
				<td colspan="2"><div style="color: #ff0000; font-weight: bold;"><br />{LOGIN_STATUS_MESSAGE}</div></td>
			</tr>
        </tbody>
    </table>
</form>
<br />
<!-- end login_reset_password.html -->
