<!-- start login_reset_password.html -->
<div id="content_login_center">
    <div id="content_login">
        <form method="post" action="index.php?cmd=resetpw">
            <input type="hidden" name="restore_key" value="{LOGIN_RESTORE_KEY}" />
            <input type="hidden" name="username" value="{LOGIN_USERNAME}" />
            <!-- BEGIN login_reset_password -->
            <div>
                {TXT_SET_PASSWORD_TEXT}
            </div>
            <div>
                <label for="username">{TXT_USERNAME}:</label>
                <input type="text" value="{LOGIN_USERNAME}" id="username" readonly="readonly" style="border: 0; padding: 3px;" />
            </div>
            <div>
                <label for="password">{TXT_PASSWORD} {TXT_PASSWORD_MINIMAL_CHARACTERS}:</label>
                <input type="password" value="" name="password" id="password"  />
            </div>
            <div>
                <label for="password2">{TXT_VERIFY_PASSWORD}:</label>
                <input type="password" value="" name="password2" id="password2" />
            </div>
            <div>
                <input type="submit" value="{TXT_SET_NEW_PASSWORD}" name="reset_password" />
            </div>
            <!-- END login_reset_password -->
            <br /><div class="error">{LOGIN_STATUS_MESSAGE}</div>
        </form>
    </div>
</div>
<!-- end login_reset_password.html -->
