<!-- START login_lostpw.html -->
<table summary="" cellspacing="0" cellpadding="4" width="100%" border="0">
<tr>
<td valign="top">
<div>
<form method="post" action="index.php?cmd=lostpw" name="lostpw_form">
<br />
<table summary="" cellspacing="0" cellpadding="2" width="100%" border="0">
<!-- BEGIN lostpw -->
<tr>
	<td colspan="3">{TXT_LOST_PW_TEXT}</td>
</tr>
<tr>
	<td colspan="3"><br /></td>
</tr>
<tr>
<td width="20%" nowrap="nowrap">{TXT_EMAIL}:</td>
<td width="28%">
<input style="width:100%;" type="text" tabindex="3" size="40" name="EMAIL" value="" />
</td>
<td rowspan="2" width="52%">&nbsp;&nbsp;<img src="template/ascms/images/icons/32x32/lost_pw.gif" align="middle" alt="login key" /></td>
</tr>
<tr>
<td width="20%">&nbsp;</td>
<td width="28%">
<input type="submit" tabindex="4" name="submit_button" value="{TXT_RESET}" />
</td>
</tr>
<!-- END lostpw -->
<tr>
<td width="20%">&nbsp;</td>
<td width="28%">
<p><font color="red"><b>{LOGIN_ERROR_MESSAGE}</b></font></p>
</td>
<td width="52%">&nbsp;</td>
</tr>
</table>
<br />
</form>
</div>
</td>
</tr>
</table>
<br />
<!-- END login_lostpw.html -->
