<!-- start mailtemplate_edit.html -->
<form name="formMailtemplate" method="post" action="{URI_BASE}&amp;act=mailtemplate_edit" >
  <table class="adminlist" border="0" cellspacing="0" cellpadding="2" width="100%" summary="">
    <colgroup><col width="25%" /><col width="75%" /></colgroup>
    <thead>
      <tr>
        <th colspan="2">
          <b>{TXT_CORE_MAILTEMPLATE_EDIT}</b>
          <div style="float: right;">
            <a href="index.php?cmd=hotelcard&amp;active_tab={CORE_MAILTEMPLATE_ACTIVE_TAB}&amp;act=mailtemplate_overview">{TXT_CORE_MAILTEMPLATE_BACK_TO_OVERVIEW}</a>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
<!-- BEGIN core_mailtemplate_section -->
<!-- BEGIN core_mailtemplate_section_row -->
      <tr class="row3">
        <td colspan="2">
          {MAILTEMPLATE_SECTION}
        </td>
      </tr>
<!-- END core_mailtemplate_section_row -->
<!-- BEGIN core_mailtemplate_row -->
      <tr class="row{MAILTEMPLATE_ROWCLASS}">
        <td valign="top">
          {MAILTEMPLATE_NAME}
        </td>
        <td valign="top">
          {MAILTEMPLATE_VALUE}
        </td>
      </tr>
<!-- END core_mailtemplate_row -->
<!-- BEGIN core_mailtemplate_special -->
      <tr class="row{MAILTEMPLATE_ROWCLASS}">
        <td colspan="2" valign="top">
          {MAILTEMPLATE_SPECIAL}
        </td>
      </tr>
<!-- END core_mailtemplate_special -->
<!-- END core_mailtemplate_section -->
    </tbody>
  </table>
  <br />
  {TXT_CORE_MAILTEMPLATE_NOTE_PLACEHOLDERS}
<!-- BEGIN core_mailtemplate_hidden -->
  {MAILTEMPLATE_HIDDEN}
<!-- END core_mailtemplate_hidden -->
  <br />
  <br />
  <input type="submit" name="bsubmit" value="{TXT_CORE_MAILTEMPLATE_STORE}"
      tabindex="101" />
</form>
<!-- end mailtemplate_edit.html -->
