<!-- START skins_examples.html -->
<table summary="" width="100%" border="0" cellspacing="0" cellpadding="3" class="adminlist">
  <tr>
    <th colspan="5">
      <div align="left">{TXT_REPLACEMENT_LIST}</div>
    </th>
  </tr>
  <tr class="row1" valign="top">
    <td width="10%" nowrap="nowrap"><b>{TXT_FILES}</b></td>
    <td width="25%" nowrap="nowrap">
		[[JAVASCRIPT_FILE]]<br />
		[[STYLE_FILE]]<br />
		[[BUILDIN_STYLE_FILE]]<br />
		[[CONTENT_FILE]]<br />
		[[NAVBAR_FILE]]<br />
		[[SUBNAVBAR_FILE]]<br />
		[[SHOPNAVBAR_FILE]]<br />
		[[SIDEBAR_FILE]]<br />
		[[DIRECTORY_HOME]]<br />
		[[EVENTS_FILE]]<br />
		[[HEADLINES_FILE]]<br />
		[[FORUM_FILE]]<br />
		[[PODCAST_FILE]]<br />
		[[BLOG_FILE]]<br />
        [[JAVASCRIPT]]<br />
    </td>
    <td  width="5%" nowrap="nowrap"><b>{TXT_CONTENTS}</b></td>
    <td width="30%">
		[[ACTIVE_LANGUAGE_NAME]]<br />
		[[CHARSET]]<br />
		[[CSS_NAME]]<br />
		[[COUNTER]]<br />
		[[CONTENT_TITLE]]<br />
		[[CONTENT_TEXT]]<br />
		[[DATE]]<br />
		[[TIME]]<br />
		[[LANGUAGE_NAVBAR]]<br />
		[[LOGGING_STATUS]]<br />
		[[LANGUAGE_NAVBAR]]<br />
		[[FACEBOOK_LIKE_IFRAME]]
    </td>
    <td width="30%">
		[[TITLE]]<br />
		[[GLOBAL_TITLE]]<br />
		[[METATITLE]]<br />
		[[NAVTITLE]]<br />
		[[METAKEYS]]<br />
		[[METADESC]]<br />
		[[METAROBOTS]]<br />
		[[NAVTREE]]<br />
		[[ONLINE_USERS]]<br />
		[[PARSING_TIME]]<br />
		[[PAGE_URL]]<br />
		[[PRINT_URL]]<br />
		[[PDF_URL]]<br />
		[[CURRENT_URL]]<br />
		[[RANDOM]]<br />
		[[VERSION]]
    </td>
  </tr>
  <tr class="row1" valign="top">
    <td><b>{TXT_FRONTEND_EDITING_LOGIN_FRONTEND}</b></td>
	<td >
		[[LOGIN_INCLUDE]]<br />
		[[LOGIN_CONTENT]]<br />
		[[LOGIN_URL]]<br />
	</td>
	</td>
    <td >
    </td>
    <td >
    </td>
    <td >
    </td>
  </tr>
</table>
<br />
<table summary="" width="100%" border="0" cellspacing="0" cellpadding="3" class="adminlist">
  <tr>
    <th><div align="left">{TXT_STANDARD_TEMPLATE_STRUCTURE}</div></th>
  </tr>
  <tr class="row1">
    <td>
      <table summary="" width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr valign="top">
          <td>{TXT_STARTPAGE}<br />
            <table summary="" width="100%" border="0" cellspacing="2" cellpadding="2">
              <tr>
                <td bgcolor="#FFFF99" valign="top">INDEX.HTML<br />
                  <table summary="" width="95%" border="0" cellspacing="2" cellpadding="2" align="center">
                    <tr>
                      <td bgcolor="#FFCC33" valign="top">JAVASCRIPT.JS</td>
                    </tr>
                  </table>
                  <table summary="" width="95%" border="0" cellspacing="2" cellpadding="2" align="center">
                    <tr>
                      <td valign="top" bgcolor="#FFCC33">STYLE.CSS</td>
                    </tr>
                  </table>
                  <table summary="" width="95%" border="0" cellspacing="2" cellpadding="2" align="center">
                    <tr>
                      <td bgcolor="#FFCC33" valign="top">BUILDIN_STYLE.CSS</td>
                    </tr>
                    <tr>
                      <td bgcolor="#CCCCCC" valign="top">CONTENT_HOME.HTML<br />
                        <table summary="" width="95%" border="0" cellspacing="0" cellpadding="0" align="center">
                          <tr>
                            <td colspan="3" valign="top">
                              <table summary="" width="100%" border="0" cellspacing="2" cellpadding="2">
                                <tr>
                                  <td bgcolor="#FF9999">NAVBAR.HTML</td>
	                            </tr>
                                <tr>
       			                   <td bgcolor="#FF9999">FORUM.HTML<br />
                			       </td>
                          		</tr>
                          		<tr>
       			                   <td bgcolor="#FF9999">PODCAST.HTML<br />
                			       </td>
                          		</tr>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td valign="top" width="20%">&nbsp;</td>
                            <td valign="top">&nbsp;</td>
                            <td width="20%" valign="top">
                            <table summary="" width="100%" border="0" cellspacing="2" cellpadding="2">
                                <tr>
                                  <td bgcolor="#FF9999">HEADLINES.HTML<br />
                                  </td>
                                </tr>
                            </table></td>
                          </tr>
                        </table></td>
                    </tr>
                  </table>
                  <br />
                  [[COUNTER]]</td>
              </tr>
            </table>
          </td>
          <td>{TXT_STANDARD_PAGES}<br />
            <table summary="" width="100%" border="0" cellspacing="2" cellpadding="2">
              <tr>
                <td bgcolor="#FFFF99" valign="top">INDEX.HTML<br />
                  <table summary="" width="95%" border="0" cellspacing="2" cellpadding="2" align="center">
                    <tr>
                      <td bgcolor="#FFCC33" valign="top">JAVASCRIPT.JS</td>
                    </tr>
                  </table>
                  <table summary="" width="95%" border="0" cellspacing="2" cellpadding="2" align="center">
                    <tr>
                      <td bgcolor="#FFCC33" valign="top">STYLE.CSS</td>
                    </tr>
                  </table>
                  <table summary="" width="95%" border="0" cellspacing="2" cellpadding="2" align="center">
                    <tr>
                      <td bgcolor="#FFCC33" valign="top" width="5%">BUILDIN_STYLE.CSS</td>
                    </tr>
                    <tr>
                      <td bgcolor="#CCCCCC" valign="top">CONTENT.HTML<br />
                        <table summary="" width="95%" border="0" cellspacing="0" cellpadding="0" align="center">
                          <tr>
                            <td colspan="3" valign="top">
                              <table summary="" width="100%" border="0" cellspacing="2" cellpadding="2">
                                <tr>
                                  <td bgcolor="#FF9999">NAVBAR.HTML</td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td valign="top" width="20%">
                              <table summary="" width="100%" border="0" cellspacing="2" cellpadding="2">
                                <tr>
                                  <td bgcolor="#FF9999">SHOPNAVBAR.HTML<br />
            SUBNAVBAR.HTML</td>
                                </tr>
                              </table>
                            </td>
                            <td valign="top">&nbsp;</td>
                            <td width="20%" valign="top">
                              <table summary="" width="100%" border="0" cellspacing="2" cellpadding="2">
                                <tr>
                                  <td bgcolor="#FF9999">SIDEBAR.HTML</td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table></td>
                    </tr>
                  </table>
                  <br />
                  [[COUNTER]]</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <br />
    </td>
  </tr>
</table>
<br />
<!-- END skins_examples.html -->
