<!-- START user_group_overview.html -->
<script language="JavaScript" type="text/javascript">
function deleteGroup(id)
{
    if(confirm('{TXT_CONFIRM_DELETE_DATA}\n{TXT_ACTION_IS_IRREVERSIBLE}'))
        window.location.replace("index.php?cmd=user&{CSRF_PARAM}&act=deletegroup&groupId="+id);
}
</script>


<table summary="" width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
  <tr>
    <th width="5%" nowrap="nowrap">{TXT_STATUS}</th>
    <th width="5%" nowrap="nowrap">{TXT_GROUP_ID}</th>
    <th width="10%" nowrap="nowrap">{TXT_TYPE}</th>
    <th width="20%" nowrap="nowrap">{TXT_GROUP_NAME}</th>
    <th width="40%">{TXT_DESCRIPTION}</th>
    <th width="5%" nowrap="nowrap">{TXT_PAGES}</th>
    <th width="5%" nowrap="nowrap">{TXT_AMOUNT}</th>
    <th width="10%" style="text-align: right; padding-right: 2px;">{TXT_ACTION}</th>
  </tr>
  <!-- BEGIN groupRow -->
  <tr class="{USERS_ROWCLASS}" valign="top">
    <td><img src="images/icons/led_{GROUP_STATUS}.gif" alt="{GROUP_STATUS}" title="{GROUP_STATUS}" /></td>
    <td>{GROUP_ID}&nbsp;</td>
    <td>{GROUP_TYPE}&nbsp;</td>
    <td>{GROUP_NAME}&nbsp;</td>
    <td>{GROUP_DESCRIPTION}&nbsp;</td>
    <td>{GROUP_PAGES}&nbsp;</td>
    <td>{GROUP_AMOUNT}&nbsp;</td>
    <td nowrap="nowrap">
      <div align="right">
      <a href="index.php?cmd=user&amp;act=export&amp;groupId={GROUP_ID}" title="{TXT_EXPORT}"><img border="0" src="images/icons/icon_excel.gif" alt="{TXT_EXPORT}" title="{TXT_EXPORT}" /></a>&nbsp;
      <a href="{GROUP_EDIT_LINK}"><img src="images/icons/edit.gif" border="0" alt="bearbeiten" title="bearbeiten" /></a>
        <a href="javascript:deleteGroup({GROUP_ID})"><img src="images/icons/delete.gif" border="0" alt="l&ouml;schen" title="l&ouml;schen" /></a></div>
    </td>
  </tr>
  <!-- END groupRow -->
</table>
<!-- END user_group_overview.html -->
