<!-- START user_group_edit.html -->
<script language="JavaScript" type="text/javascript">
function AddToTheList(from,dest,add,remove)
{
    if ( from.selectedIndex < 0)
	{
		if (from.options[0] != null)
			from.options[0].selected = true;
		from.focus();
		return false;
	}
	else
	{
		for (var i=0; i<from.length; i++)
		{
			if (from.options[i].selected)
			{
		    	dest.options[dest.length] = new Option( from.options[i].text, from.options[i].value, false, false);
   			}
		}
	    for (var i=from.length-1; i>=0; i--)
		{
			if (from.options[i].selected)
			{
		       from.options[i] = null;
   			}
		}
	}
    disapleButtons(from,dest,add,remove);
}
function RemoveFromTheList(from,dest,add,remove)
{
	if ( dest.selectedIndex < 0)
	{
		if (dest.options[0] != null)
			dest.options[0].selected = true;
		dest.focus();
		return false;
	}
	else
	{
		for (var i=0; i<dest.options.length; i++)
		{
			if (dest.options[i].selected)
			{
		    	from.options[from.options.length] = new Option( dest.options[i].text, dest.options[i].value, false, false);
   			}
		}
	    for (var i=dest.options.length-1; i>=0; i--)
		{
			if (dest.options[i].selected)
			{
		       dest.options[i] = null;
   			}
		}
	}
	disapleButtons(from,dest,add,remove);
}
function disapleButtons(from,dest,add,remove)
{
	if (from.options.length > 0 )
	{
		add.disabled = 0;
	}
	else
		add.disabled = 1;

	if (dest.options.length > 0)
		remove.disabled = 0;
	else
		remove.disabled = 1;
}

function SelectAllList(CONTROL)
{
	for(var i = 0;i < CONTROL.length;i++)
{
		CONTROL.options[i].selected = true;
	}
}

function DeselectAllList(CONTROL)
{
	for(var i = 0;i < CONTROL.length;i++)
	{
		CONTROL.options[i].selected = false;
	}
}
</script>

<form name="editForm" method="post" action="index.php?cmd=user&amp;act=updategroup" onsubmit="javascript:SelectAllList(document.editForm.elements['destuser[]']);">
  <table summary="" width="100%" cellspacing="0" cellpadding="3" border="0" align="top" class="adminlist">
    <tr>
      <th colspan="2">
        <div align="left">{TXT_GROUP_EDIT}</div>
      </th>
    </tr>
    <tr class="row1">
      <td width="17%"><b>{TXT_GROUP_NAME}</b></td>
      <td width="83%">
        <input maxlength="255" name="formname" size="40" value="{GROUP_NAME}" />
      </td>
    </tr>
    <tr class="row1">
      <td width="17%"><b>{TXT_DESCRIPTION}</b></td>
      <td width="83%">
        <input type="text" name="formdescription" size="60" value="{GROUP_DESCRIPTION}" />
      </td>
    </tr>
    <tr class="row1">
      <td width="17%" valign="top"><b>{TXT_USERS}</b></td>
      <td width="83%">
        <div align="center">
          <table summary="" width="100%" border="0">
            <tr>
              <td width="13%">
                <select name="fromuser[]" size="10" style="width:125px;" multiple="multiple">
                  {GROUPS_EDIT_FROMUSER}

                </select>
              </td>
              <td width="4%">
                <div align="center">
                  <input type="button" value="&gt;&gt;" name="adduser" onclick="AddToTheList(document.editForm.elements['fromuser[]'],document.editForm.elements['destuser[]'],adduser,removeuser);" />
                  <br />
                  <input type="button" value="&lt;&lt;" name="removeuser" onclick="RemoveFromTheList(document.editForm.elements['fromuser[]'],document.editForm.elements['destuser[]'],adduser,removeuser);" />
                </div>
              </td>
              <td width="1%">
                <div align="left">
                  <select name="destuser[]" size="10" style="width:125px;" multiple="multiple">
				{GROUPS_EDIT_DESTUSER}
                  </select>
                </div>
              </td>
              <td width="82%">&nbsp;</td>
            </tr>
            <tr>
              <td width="13%"> <font size="1"><a href="javascript:SelectAllList(document.editForm.elements['fromuser[]']);" style="color:blue;">{TXT_SELECT_ALL}<br />
                </a><a href="javascript:DeselectAllList(document.editForm.elements['fromuser[]']);" style="color:blue;">{TXT_DESELECT_ALL}</a></font></td>
              <td width="4%">&nbsp;</td>
              <td width="1%"><font size="1"><a href="javascript:SelectAllList(document.editForm.elements['destuser[]']);" style="color:blue;">{TXT_SELECT_ALL}<br />
                </a><a href="javascript:DeselectAllList(document.editForm.elements['destuser[]']);" style="color:blue;">{TXT_DESELECT_ALL}</a></font>
              </td>
              <td width="82%">&nbsp;</td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </table>
  <input type="hidden" name="groupID" value="{GROUP_ID}" />
  <br />
  <input type="submit" name="Submit" value="{TXT_STORE}" />
</form>
<p>
  <!-- END user_group_edit.html -->
