<!-- START user_overview.html -->
<script language="javascript" type="text/javascript">
<!--
function activateUser(userId)
{
  if (confirm('{TXT_SEND_ACTIVATION_USER_EMAIL}')) {
    window.location.replace("index.php?cmd=user&{CSRF_PARAM}&act=activate&sendmail=1&userId="+userId);
  } else {
    window.location.replace("index.php?cmd=user&{CSRF_PARAM}&act=activate&userId="+userId);
  }
}

var filterGroup = function() {
  var o = document.getElementById('id_group_filter').options;
  var c = document.getElementById('id_search_criteria').options;
  var i = document.getElementById('id_grpinv');
  var u = document.getElementById('id_user_searchterm');
  groupId = o[o.selectedIndex].value;
  grpinv = i.checked ? 1 : 0;
  term = u.value;
  criteria = c[c.selectedIndex].value;
  location.href="index.php?cmd=user&{CSRF_PARAM}&groupId="+groupId+"&grpinv="+grpinv+"&user_searchterm="+term+"&user_search_criteria="+criteria+"&useract={USER_STATUS}";
}

-->
</script>

<form method="get" action="index.php" id="user_search_form">
  <input type="hidden" name="cmd" value="user" />
  <input type="hidden" name="useract" value="{USER_STATUS}" />
  <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
  <tr>
    <th colspan="2">
      {TXT_USER_SEARCH}
    </th>
  </tr>
  <tr class="row3">
    <td>
      <strong>{TXT_USER_GROUP_FILTER}</strong>
    </td>
    <td>
      <strong>{TXT_USER_SEARCH_TERM}</strong>
    </td>
  </tr>
  <tr>
    <td>
      {USER_CATEGORY_DROPDOWN}
      <input type="checkbox" name="grpinv" value="1" id="id_grpinv" {GRPINV_CHECKED} />
      <label for="id_grpinv">{TXT_USER_GROUP_INVERT_RESULT}</label>
    </td>
    <td>
      <select name="user_search_criteria" id="id_search_criteria">
        <option value="all" style="border-bottom: 1px solid black;">{TXT_USER_ALL}</option>
        <option value="username" {USER_SEARCH_SELECTED_USERNAME}>{TXT_USER_USERNAME}</option>
        <option value="email" {USER_SEARCH_SELECTED_EMAIL}>{TXT_USER_EMAIL}</option>
        <option value="firstname" {USER_SEARCH_SELECTED_FIRSTNAME}>{TXT_USER_FIRSTNAME}</option>
        <option value="lastname" {USER_SEARCH_SELECTED_LASTNAME}>{TXT_USER_LASTNAME}</option>
      </select>
      <input type="text" id="id_user_searchterm" name="user_searchterm" value="{SEARCH_TERM}" />
      <input type="submit" name="search_submit" value="{TXT_USER_SEARCH}" />
    </td>
  </tr>
  </table><br />
</form>

{USERS_PAGING}<br /><br />

<table summary="" width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
  <tr>
    <th colspan="9">
      <div align="left">{TXT_USER_LIST}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <a href='index.php?cmd=user&amp;pos={USER_SORT_POS}&amp;groupId={USER_FILTER_GROUP_ID}&amp;by={USER_SORT_BY}&amp;grpinv={GRPINV_ENABLED}&amp;user_search_criteria={SEARCH_CRITERIA}&amp;user_searchterm={SEARCH_TERM}&useract={USER_STATUS_SWITCH}'>{TXT_USER_LINK_INACTIVE}</a>
      </div>
    </th>
  </tr>
  <tr class="row1">
   <!-- ?cmd=access&act=user&groupId=4&sort=desc&by=username -->
    <td width="13%"><a href="index.php?cmd=user&amp;pos={USER_SORT_POS}&amp;groupId={USER_FILTER_GROUP_ID}&amp;by=username&amp;grpinv={GRPINV_ENABLED}&amp;user_search_criteria={SEARCH_CRITERIA}&amp;user_searchterm={SEARCH_TERM}&useract={USER_STATUS}"><b>{TXT_USER_NAME}</b></a></td>
    <td width="13%"><a href="index.php?cmd=user&amp;pos={USER_SORT_POS}&amp;groupId={USER_FILTER_GROUP_ID}&amp;by=firstname&amp;grpinv={GRPINV_ENABLED}&amp;user_search_criteria={SEARCH_CRITERIA}&amp;user_searchterm={SEARCH_TERM}&useract={USER_STATUS}"><b>{TXT_FIRST_NAME}</b></a></td>
    <td width="13%"><a href="index.php?cmd=user&amp;pos={USER_SORT_POS}&amp;groupId={USER_FILTER_GROUP_ID}&amp;by=lastname&amp;grpinv={GRPINV_ENABLED}&amp;user_search_criteria={SEARCH_CRITERIA}&amp;user_searchterm={SEARCH_TERM}&useract={USER_STATUS}"><b>{TXT_LAST_NAME}</b></a></td>
    <td width="15%"><a href="index.php?cmd=user&amp;pos={USER_SORT_POS}&amp;groupId={USER_FILTER_GROUP_ID}&amp;by=email&amp;grpinv={GRPINV_ENABLED}&amp;user_search_criteria={SEARCH_CRITERIA}&amp;user_searchterm={SEARCH_TERM}&useract={USER_STATUS}"><b>{TXT_EMAIL}</b></a></td>
    <td width="12%"><a href="index.php?cmd=user&amp;pos={USER_SORT_POS}&amp;groupId={USER_FILTER_GROUP_ID}&amp;by=language&amp;grpinv={GRPINV_ENABLED}&amp;user_search_criteria={SEARCH_CRITERIA}&amp;user_searchterm={SEARCH_TERM}&useract={USER_STATUS}"><b>{TXT_LANGUAGE}</b></a></td>
    <td width="13%"><a href="index.php?cmd=user&amp;pos={USER_SORT_POS}&amp;groupId={USER_FILTER_GROUP_ID}&amp;by=validity&amp;grpinv={GRPINV_ENABLED}&amp;user_search_criteria={SEARCH_CRITERIA}&amp;user_searchterm={SEARCH_TERM}&useract={USER_STATUS}"><b>{TXT_USERS_VALIDITY}</b></a></td>
    <td width="13%"><a href="index.php?cmd=user&amp;pos={USER_SORT_POS}&amp;groupId={USER_FILTER_GROUP_ID}&amp;by=admin&amp;grpinv={GRPINV_ENABLED}&amp;user_search_criteria={SEARCH_CRITERIA}&amp;user_searchterm={SEARCH_TERM}&useract={USER_STATUS}"><b>{TXT_ADMINISTRATOR}</b></a></td>
    <td width="12%"><a href="index.php?cmd=user&amp;pos={USER_SORT_POS}&amp;groupId={USER_FILTER_GROUP_ID}&amp;by=regdate&amp;grpinv={GRPINV_ENABLED}&amp;user_search_criteria={SEARCH_CRITERIA}&amp;user_searchterm={SEARCH_TERM}&useract={USER_STATUS}"><b>{TXT_REGDATE}</b></a></td>
    <td><b>{TXT_ACTION}</b></td>
  </tr>
  <!-- BEGIN user_row -->
  <tr class="{USERS_ROWCLASS}">
    <td><a href="index.php?cmd=user&amp;act=edituser&amp;userId={USERS_EDIT_ID}" title="{TXT_EDIT_USER_ACCOUNT}">{USERS_USERNAME}</a></td>
    <td>{USERS_FIRSTNAME}</td>
    <td>{USERS_LASTNAME}</td>
    <td><a href="mailto:{USERS_EMAIL}">{USERS_EMAIL}</a></td>
    <td>{USERS_LANGUAGE}</td>
    <td>{USERS_VALIDITY}</td>
    <td>{USERS_ADMIN_STATUS}</td>
    <td>{USERS_JOIN_DATE}</td>
    <td nowrap="nowrap">
      <div align="right">
        <a href="index.php?cmd=user&amp;act=edituser&amp;userId={USERS_EDIT_ID}" title="{TXT_EDIT_USER_ACCOUNT}">
          <img src="images/icons/edit.gif" border="0" alt="{TXT_EDIT_USER_ACCOUNT}" />
        </a>
        <!-- BEGIN user_active -->
        <a href="index.php?cmd=user&amp;act=deactivate&amp;userId={USERS_ID}" title="{TXT_DEACTIVATE_USER_ACCOUNT}"><img src="images/icons/delete.gif" border="0" alt="{TXT_DEACTIVATE_USER_ACCOUNT}" /></a>
        <!-- END user_active -->
        <!-- BEGIN user_inactive -->
        <a href="javascript:{}" onclick="activateUser({USERS_ID})" title="{TXT_ACTIVATE_USER_ACCOUNT}"><img src="images/icons/check.gif" border="0" alt="{TXT_ACTIVATE_USER_ACCOUNT}" /></a>
        <!-- END user_inactive -->
      </div>
    </td>
  </tr>
<!-- END user_row -->
</table>
<!-- END user_overview.html -->
<br />
{USERS_PAGING}
