<!-- START user_modgroup.html -->
<script language="JavaScript" type="text/javascript">
function swapAreas( div )
{
	displayType = ( document.getElementById( div ).style.display == 'none' ) ? 'block' : 'none';
	document.getElementById( div ).style.display = displayType;
	document.cookie = div + "=" + displayType;
}

function AddToTheList(from,dest,add,remove)
{
    if ( from.selectedIndex < 0)
	{
		if (from.options[0] != null)
			from.options[0].selected = true;
		from.focus();
		return false;
	}
	else
	{
		for (var i=0; i<from.length; i++)
		{
			if (from.options[i].selected)
			{
		    	dest.options[dest.length] = new Option( from.options[i].text, from.options[i].value, false, false);
   			}
		}
	    for (var i=from.length-1; i>=0; i--)
		{
			if (from.options[i].selected)
			{
		       from.options[i] = null;
   			}
		}
	}
    disapleButtons(from,dest,add,remove);
}
function RemoveFromTheList(from,dest,add,remove)
{
	if ( dest.selectedIndex < 0)
	{
		if (dest.options[0] != null)
			dest.options[0].selected = true;
		dest.focus();
		return false;
	}
	else
	{
		for (var i=0; i<dest.options.length; i++)
		{
			if (dest.options[i].selected)
			{
		    	from.options[from.options.length] = new Option( dest.options[i].text, dest.options[i].value, false, false);
   			}
		}
	    for (var i=dest.options.length-1; i>=0; i--)
		{
			if (dest.options[i].selected)
			{
		       dest.options[i] = null;
   			}
		}
	}
	disapleButtons(from,dest,add,remove);
}
function disapleButtons(from,dest,add,remove)
{
	if (from.options.length > 0 )
	{
		add.disabled = 0;
	}
	else
		add.disabled = 1;

	if (dest.options.length > 0)
		remove.disabled = 0;
	else
		remove.disabled = 1;
}

function SelectAllList(CONTROL)
{
	for(var i = 0;i < CONTROL.length;i++)
    {
		CONTROL.options[i].selected = true;
	}
}

function DeselectAllList(CONTROL)
{
	for(var i = 0;i < CONTROL.length;i++)
	{
		CONTROL.options[i].selected = false;
	}
}

/**
 * Checks/unchecks all checkboxes
 *
 * @param   string   the form name
 * @param   boolean  whether to check or to uncheck the element
 *
 * @return  boolean  always true
 */
function setCheckboxes(do_check)
{
	with (document.form)
	{
	    var box      = elements['areaId[]'];

	    var box_cnt  = (typeof(box.length) != 'undefined')
	                  ? box.length
	                  : 0;

	    if (box_cnt)
	    {
	        for (var i = 0; i < box_cnt; i++)
	        {
	            box[i].checked = do_check;
	        }
	    }
	    else
	    {
	        box.checked = do_check;
	    }
	    return true;
	}
}
</script>
<form name="form" action="{USER_FORM_ACTION}" method="post" onsubmit="javascript:SelectAllList(document.form.elements['selectedUsers[]']);">
<input type="hidden" name="groupId" value="{USER_GROUP_ID}" />
  <table summary="" class="adminlist" border="0" width="100%" cellpadding="3" cellspacing="0">
    <tr>
      <th nowrap="nowrap" colspan="2">
        <div align="left">{TXT_ADD_GROUP} </div>
      </th>
    </tr>
    <tr class="row1">
      <td nowrap="nowrap" width="17%">{TXT_NAME}&nbsp;<span class="status"><b><font color="red">*</font></b></span></td>
      <td>
        <input maxlength="255" name="groupName" size="60" value="{USER_GROUP_NAME}" />
        &nbsp;&nbsp;&nbsp;&nbsp; Aktiviert
        <input type="checkbox" name="groupStatus" value="1" {USER_GROUP_STATUS} />
      </td>
    </tr>
    <tr class="row1">
      <td nowrap="nowrap" width="17%">{TXT_DESCRIPTION}</td>
      <td>
        <input type="text" name="groupDescription" size="60" value="{USER_GROUP_DESCRIPTION}" />
      </td>
    </tr>
    <tr class="row1">
      <td nowrap="nowrap" width="17%" valign="top">{TXT_USERS}</td>
      <td>
        <table summary="" width="100%" border="0">
          <tr>
            <td width="13%">
              <select name="notSelectedUsers[]" size="8" style="width:125px;" multiple="multiple">
                  {USER_UNSELECTED}
              </select>
              <br />
              <font size="1"><a href="javascript:SelectAllList(document.form.elements['notSelectedUsers[]']);" style="color:blue;">{TXT_SELECT_ALL}<br />
              </a><a href="javascript:DeselectAllList(document.form.elements['notSelectedUsers[]']);" style="color:blue;">{TXT_DESELECT_ALL}</a></font>
            </td>
            <td width="4%">
              <div align="center">
                <input type="button" value="&gt;&gt;" name="adduser" onclick="AddToTheList(document.form.elements['notSelectedUsers[]'],document.form.elements['selectedUsers[]'],adduser,removeuser);" />
                <br />
                <input type="button" value="&lt;&lt;" name="removeuser" onclick="RemoveFromTheList(document.form.elements['notSelectedUsers[]'],document.form.elements['selectedUsers[]'],adduser,removeuser);" />
              </div>
            </td>
            <td width="1%">
              <div align="left">
                <select name="selectedUsers[]" size="8" style="width:125px;" multiple="multiple">
				{USER_SELECTED}
                </select>
                <br />
                <font size="1"><a href="javascript:SelectAllList(document.form.elements['selectedUsers[]']);" style="color:blue;">{TXT_SELECT_ALL}<br />
                </a><a href="javascript:DeselectAllList(document.form.elements['selectedUsers[]']);" style="color:blue;">{TXT_DESELECT_ALL}</a></font>
              </div>
            </td>
            <td width="82%">&nbsp;</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <br />
  <table summary="" width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
    <tr>
      <th>
        <div align="left"></div>
      </th>
      <th>
        <div align="left">{TXT_PERMISSIONS}</div>
      </th>
      <th>
        <div align="right"><a href="javascript:{}" onclick="setCheckboxes(true); return false;">Alles
          markieren</a>&nbsp;|&nbsp; <a href="javascript:{}" onclick="setCheckboxes(false); return false;">Auswahl
          entfernen</a></div>
      </th>
      <th>&nbsp;</th>
    </tr>
    <tr class="row1">
      <td width="1%" nowrap="nowrap">
        <div align="center"><b>#</b></div>
      </td>
      <td nowrap="nowrap" width="90%" colspan="2"><b>{TXT_AREAS}</b></td>
      <td nowrap="nowrap" width="8%">
        <div align="center"><b>{TXT_ALLOW}</b></div>
      </td>
    </tr>
    <!-- BEGIN groupPermissions -->
    <tr class="{USER_AREA_GROUP_ROWCLASS}">
      <td width="1%" nowrap="nowrap">
        <input type="checkbox" name="areaId[]" {USER_AREA_GROUP_PERMISSION} value="{USER_AREA_GROUP_ID}" />
      </td>
      <td colspan="3" nowrap="nowrap"><b>{USER_AREA_GROUP_NAME}</b> {USER_AREA_GROUP_STATUS}
        <font size="1">[{USER_AREA_GROUP_ID}]&nbsp;</font></td>
    </tr>
    <!-- BEGIN areaPermissions -->
    <tr class="{USER_AREA_ROWCLASS}">
      <td width="1%" nowrap="nowrap">&nbsp;</td>
      <td nowrap="nowrap" colspan="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{USER_AREA_NAME}
        {USER_AREA_STATUS}<font size="1">[{USER_AREA_ID}]</font>&nbsp;</td>
      <td nowrap="nowrap">
        <div align="center"> </div>
        <div align="center"> </div>
        <div align="center">
          <input type="checkbox" name="areaId[]" value="{USER_AREA_ID}" {USER_AREA_PERMISSION} />
        </div>
      </td>
    </tr>
    <!-- BEGIN functionPermissions -->
    <tr class="{USER_AREA_FUNCTION_ROWCLASS}">
      <td width="1%" nowrap="nowrap">&nbsp;</td>
      <td nowrap="nowrap" colspan="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{USER_AREA_FUNCTION_NAME}
        {USER_AREA_FUNCTION_STATUS}<font size="1">[{USER_AREA_FUNCTION_ID}]</font>&nbsp;</td>
      <td nowrap="nowrap">
        <div align="center"> </div>
        <div align="center"> </div>
        <div align="center">
          <input type="checkbox" name="areaId[]" value="{USER_AREA_FUNCTION_ID}" {USER_AREA_FUNCTION_PERMISSION} />
        </div>
      </td>
    </tr>
    <!-- END functionPermissions -->
    <!-- END areaPermissions -->
    <!-- END groupPermissions -->
  </table>
  <br />
  <input type="reset" value="{TXT_RESET}" name="Reset" />
  <input type="submit" value="{TXT_STORE}" name="Submit" />
  <br />
</form>
<br />
<!-- END user_modgroup.html -->
