table.adminlist tr.row2,
table.adminlist tr.row1 {
    background: none;
    cursor: move;
}

table.adminlist tr.row2 td:first-child,
table.adminlist tr.row1 td:first-child {
    padding-left: 60px;
    background: url(../../../../core/ContentManager/View/Media/Move.png) no-repeat 10px center;
    background-size: 18px;
}

.loading {
    cursor: wait !important;
}

.loading table.adminlist tr.row2,
.loading table.adminlist tr.row1 {
    cursor: not-allowed;
}

.loading table.adminlist tr.row2,
.loading table.adminlist tr.row1 {
    opacity: 0.6;
}
