/* Root = Horizontal, Secondary = Vertical */
#menu ul {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	border: 0px solid #00ff00;
	width: 926px;
	height: 35px;
}

#menu ul li{
	float:left;
	border-right: 1px solid #cccccc;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	height: 35px;
	list-style: none;
}

#menu ul li a{
	float:left;
	display:block;
	padding: 6px 15px 0px 15px;
	margin: 0px 0px 0px 0px;
	height: 29px;
	color: #666666;
	font: normal 1.0em 'Trebuchet MS', Arial, Verdana, sans-serif;
	text-decoration:none;
}

#menu ul li a:hover{
	background-image:url(images/bg_menu_hover.gif);
	color: #666666;
	font-weight: normal;
	text-decoration:none;
}

#menu ul li a.active{
	/*float:left;
	display:block;
	padding: 7px 15px 0px 15px;
	margin: 0px 0px 0px 0px;
	height: 28px;*/
	background-image:url(images/bg_menu_hover.gif);
	color: #666666;
	font-weight: bold;
	text-decoration:none;
}

