@import url("modules.css");
@import url("layout.css");
@import url("subnavigation.css");
@import url("navigation.css");

body, html {
	margin: 0;
	padding: 0;
	font-family : Arial, Helvetica, sans-serif;
	color: #333;
	font-size: 1em;
	background-color: #f6f6f6;
	background-image:url(images/bg_body.gif);
	background-position: top center;
	background-repeat:repeat-y;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
}

img {
	border: 0;
}

h1 {
	margin: 0px 0px 11px 0px;
	font: normal 2.0em 'Trebuchet MS', Arial, Verdana, sans-serif;
	color: #1679CE;
}

#pagetitle h1 {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font: normal 2.0em 'Trebuchet MS', Arial, Verdana, sans-serif;
	color: #ffffff;
	letter-spacing: 0.1em;
}

#pagetitle p{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font: normal 0.9em 'Trebuchet MS', Arial, Verdana, sans-serif;
	color: #ffffff;
	letter-spacing: 0.0em;
}


h2 {
	margin: 15px 0px 9px 0px;
	font: normal 1.6em 'Trebuchet MS', Arial, Verdana, sans-serif;
	color: #1679CE;
}

h3 {
	margin: 15px 0px 7px 0px;
	font: bold 1.3em 'Trebuchet MS', Arial, Verdana, sans-serif;
	color: #1679CE;
}

h4 {
	margin: 15px 0px 5px 0px;
	font: bold 1.1em 'Trebuchet MS', Arial, Verdana, sans-serif;
	color: #1679CE;
}

p {
	/*font-size: 0.9em;*/
	line-height : 1.5em;
	margin: 0 0 15px 0;
}

a {
	color: #1679CE;
	text-decoration:none;
}

a:hover {
	color: #51BBF9;
	text-decoration:none;
}

ul, ol {
	padding: 0 0 15px 15px;
	margin: 0;
}

ul ul, ol ol {
	padding: 0 0 0 15px;
	margin: 0;
}

li {
	padding: 0;
	line-height : 1.4em;
	padding-left: 15px;
        margin: 0 0 0 5px;
}

ol li {
	background: none;
}

table {
	width: 100%;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	border-spacing: 0px;
	border-collapse: collapse;
	border-width: 0px; 
	cell-spacing: 0px;
}

th {
	padding: 4px 5px 4px 5px;
	margin: 0px 0px 0px 0px;
	font-weight: bold;
	background-color: #EFEFEF;
	border: 0px;
	border-right: 1px solid #ffffff;
	border-bottom: 1px dotted #D0D0D0;
}

tr{
	border: 0px dotted #D0D0D0;
}

tr.row1 {
	background-color: #ffffff;
}

tr.row2 {
	background-color: #f9f9f9;
}

td {
	padding: 3px 5px 3px 5px;
	margin: 0px 0px 0px 0px;
	border: 0px;
	border-bottom: 1px dotted #D0D0D0;
	border-right: 1px solid #ffffff;
	border-spacing: 0px;
}

#breadcrumb a, #fontsize a{
	color: #666666;
	text-decoration:none;
}

#fontsize a.smaller {
	font-size: 0.9em;
}

#fontsize a.reset {
	font-size: 1.0em;
}

#fontsize a.bigger {
	font-size: 1.1em;
}

#breadcrumb a:hover, #fontsize a:hover {
	color: #1679CE;
	text-decoration:none;
}

/* ---- FORMULAR STYLE ---- */
legend {
	font:bold 14px Arial, Verdana, Helvetica, sans-serif;
	color: #bcbcbc;
	padding: 0px;
}

fieldset {
	border: solid 1px #bcbcbc;
	padding: 10px;
}

input:hover, textarea:hover, select:hover, input:focus, textarea:focus, select:focus { 
    border: 1px solid #CCCCCC; 
    margin-bottom: 1px; 
}

select { 
    border:solid 1px #000000; 
    color: #000000; 
    font-size: 11px;
    margin-bottom: 1px;
	width: 170px;
	padding: 1px; 
}

input, textarea { 
    background: #fff top left repeat-x; 
    font: 11px Arial, "Lucida Grande","Lucida Sans Unicode",geneva,verdana,sans-serif; 
    border: 1px solid #000000;
    padding: 1px; 
    margin-bottom: 1px;
width: 170px;
}

* html input, textarea { 
width: auto;
}

input[type=submit], input[type=reset], input[type=button]{  
	width: auto;
	background: #aaa top left repeat-x; 
	color: #fff;
	padding-left: 5px; 
	padding-right: 5px;
}

input[type=radio], input[type=checkbox]{ 
	width: auto;
}

/*input, textarea, select { 
    font: 11px Arial, "Lucida Grande","Lucida Sans Unicode",geneva,verdana,sans-serif; 
    border: 1px solid #08457A;
    padding: 1px; 
    margin-bottom: 1px;
	width: 160px;
	background-image:url(images/bg_topwrapper.gif);
	background-position:top;
}

textarea {
	height: 80px !important;
}


input[type=submit], input[type=button], input[type=reset] { 
	width: 80px;
	background-position:bottom;
	color: #FFFFFF;
}

input:hover, input:focus { 
    border: 1px solid #000000; 
    margin-bottom: 1px; 
}
*/

#fontsize input { 
	font-family: 'Trebuchet MS', Arial, Verdana, sans-serif;
	letter-spacing: 0.0em;
    border: 1px solid #1679CE;
    padding: 0; 
    margin-bottom: 1px;
	background-color: #FFFFFF;
	height: 18px;
}

#fontsize input:hover, #searchbox input:focus { 
    border: 1px solid #51BBF9; 
    margin-bottom: 1px; 
}

#fontsize input { 
	font-size: 12px;
	font-weight:normal;
	color: #aaaaaa;
}

#searchbox input { 
    /*font: 12px Arial, bold, #666666, "Lucida Grande","Lucida Sans Unicode",geneva,verdana,sans-serif; */
	font-size: 14px;
	font-weight:normal;
	color: #aaaaaa;
	font-family: 'Trebuchet MS', Arial, Verdana, sans-serif;
	letter-spacing: 0.0em;
    border: 2px solid #1679CE;
    padding: 2px 25px 2px 5px; 
    margin-bottom: 1px;
	width: 190px;
	background:#FFFFFF url(http://www.ipartee.com/img/icons/search.gif) no-repeat scroll right bottom;
}



#searchbox input:hover, #searchbox input:focus { 
    border: 2px solid #51BBF9; 
    margin-bottom: 1px; 
}
