<!-- START module_block_block.html -->
<script language="JavaScript" type="text/javascript">
    arrTabToDiv = new Object();
    {EDIT_JS_TAB_TO_DIV}
    
    // <![CDATA[
    function switchBoxAndTab(objElement, strTabId) {
        
        if (countActiveLanguages() == 0) {
            //We just "unchecked" the last language, disallow this
            objElement.checked = true;
        } else {            
            //There are more active languages, hide the tab
            switchTabVisibility(strTabId);
        }

        //Now make sure that a possible div is shown
        activateAnyActiveDiv();
    }

    function switchTabVisibility(strTabId) {
        if (document.getElementById(strTabId).style.display == 'none') {
            document.getElementById(strTabId).style.display = 'inline';
        } else {
            document.getElementById(strTabId).style.display = 'none';
        }        
    }

    function countActiveLanguages() {
        var activeLanguages = 0;
        activeLanguages = $J("input[name*=blockFormLanguages]:checked").length;
        return activeLanguages;
    }

    function activateAnyActiveDiv() { 
        for (var TabName in arrTabToDiv) { 
            if (document.getElementById(TabName).style.display == 'inline') {
                updateCKeditorContent(TabName.split('_')[2]);
                break;
            }
        }
        //Deactivate every div first first
        for (var TabName in arrTabToDiv) {
            document.getElementById(TabName).className = 'inactive';
        }

        //Activate the first possible div with an acitvated checkbox
        for (var TabName in arrTabToDiv) {
            if (document.getElementById(TabName).style.display == 'inline') {
                document.getElementById(TabName).className = 'active';                
                break;
            }
        }
        swapHeaderLangName();
    }
    /**
    Select the super tab according to the name

    @author  Stefan Heinemann <sh@adfinis.com>
    @param   string name
     */
    function superTab(ele, name) {
        $J('.tabs').hide();
        $J('#tab_' + name).show();
        $J('#tabmenu li a').removeClass('active');
        $J(ele).addClass('active');
    }

    function langTab(ele, id) {        
        updateCKeditorContent(id);

        $J('.tabmenu li a').removeClass('active').addClass('inactive');
        $J(ele).removeClass('inactive').addClass('active');
        swapHeaderLangName();
    }    
    function swapHeaderLangName(){
        $J('form[name=blockFormModifyBlock] table.block_lang th:first-child').each(
        function(){
            $J(this).text($J(this).text().replace(/\s\(.*?\)$/, '')+' ('+$J('#blockLanguages li a.active').text()+')')
        }
    )
    }  
    function updateCKeditorContent(CurrentLangId){        
        activeLang = $J('ul.blockLang a.active').attr('id').split('_')[2];
        
        $J('#blockFormText_'+activeLang).val(CKEDITOR.instances.blockTextEditor.getData());
        
        form_text = $J('#blockFormText_'+CurrentLangId).val();
        CKEDITOR.instances.blockTextEditor.setData(form_text);

    }    
    function move(from, dest, add, remove)
    {
        if (from.selectedIndex < 0) {
            if (from.options[0] != null) from.options[0].selected = true;
            from.focus();
            return false;
        } else {
            for (i = 0; i < from.length; ++i) {
                if (from.options[i].selected) {
                    dest.options[dest.options.length] = new Option(from.options[i].text, from.options[i].value, false, false);
                }
            }
            for (i = from.options.length-1; i >= 0; --i) {
                if (from.options[i].selected) {
                    from.options[i] = null;
                }
            }
        }
        disableButtons(from, dest, add, remove);
    }
    function onSubmit() {
        activeLang = $J('ul.blockLang a.active').attr('id').split('_')[2];        
        $J('#blockFormText_'+activeLang).val(CKEDITOR.instances.blockTextEditor.getData());
        return true;
    }
    function disableButtons(from,dest,add,remove)
    {
        if (from.options.length > 0 )
        {
            add.disabled = 0;
        }
        else
            add.disabled = 1;

        if (dest.options.length > 0)
            remove.disabled = 0;
        else
            remove.disabled = 1;
    }

    function selectAll(CONTROL)
    {
        for(var i = 0;i < CONTROL.length;i++)
        {
            CONTROL.options[i].selected = true;
        }
    }

    function deselectAll(CONTROL)
    {
        for(var i = 0;i < CONTROL.length;i++)
        {
            CONTROL.options[i].selected = false;
        }
    }

    function showOrHide(strElement, bolStatus)
    {
        elm = document.getElementById(strElement);

        if(bolStatus==1){
            elm.style.display = 'block';
        } else {
            elm.style.display = 'none';
        }
    }
    function selectDataTab(ele, tabName) {  
	if(document.getElementById(tabName).style.display != "block")
	{
		document.getElementById(tabName).style.display = "block";
		strClass = document.getElementById(tabName).className;		
		
		arrTags = document.getElementsByTagName("*");
		for (i=0;i<arrTags.length;i++)
		{
			if(arrTags[i].className == strClass && arrTags[i] != document.getElementById(tabName))
			{
				arrTags[i].style.display = "none";
			}
		}
                $J('#tabmenu li a').removeClass('active');
                $J(ele).addClass('active');                
	}
    }
    // ]]>
</script>
<script language="JavaScript" type="text/javascript">
    //adds the datetimepicker to the date fields
    cx.ready(function() {
        var dpOptions = {
            dateFormat: 'yy-mm-dd',
            timeFormat: 'hh:mm' 
        };

        $J('input[name=inputStartDate]').datetimepicker(dpOptions);
        $J('input[name=inputEndDate]').datetimepicker(dpOptions);
    
    }, true);
    // <![CDATA[
    (function(){
        $J(function(){
            
            var $inputDateEnd   = $J('[name=inputEndDate]');
            var $inputDateStart = $J('[name=inputStartDate]');
            var $spansDate      = $J('#startTime,#endTime');
            var $spansAlways    = $J('#startTimeAlways,#endTimeAlways');
            var $a = $J('#blockShowAlways');
            var hideInputs = function(){
                $spansDate.hide();
                $spansAlways.show();
                $a.text('{TXT_BLOCK_SHOW_TIMED}');
            }

            var showInputs = function(){
                $spansDate.show();
                $spansAlways.hide();
                DatePickerControl.relocateButtons();
                $a.text('{TXT_BLOCK_SHOW_ALWAYS}');
            }

            $a.click(function(){
                if($inputDateEnd.is(':hidden')){
                    showInputs();
                } else {
                    hideInputs();
                }
            });
            if($inputDateEnd.val() == '2038-01-19'){ //check if we display always
                hideInputs();
            }
            $J('[name=blockFormModifyBlock]').submit(function(){
                if($inputDateEnd.is(':hidden')){
                    var now = new Date();
                    var today = now.getFullYear()+'-'+now.getMonth()+'-'+now.getDate();
                    $inputDateEnd.val('2038-01-19');
                    $inputDateStart.val(today);                    
                }
            });
            
            /**
            Load content in Textarea from hidden field while page load
             */
            if(typeof CKEDITOR != 'undefined' && CKEDITOR.instances){
                activeLang = $J('ul.blockLang a.active').attr('id').split('_')[2];
                form_text = $J('#blockFormText_'+activeLang).val();
                CKEDITOR.instances.blockTextEditor.setData(form_text);
            }        
            swapHeaderLangName();            
        });
    })();
    // ]]>    
</script>

<form name="blockFormModifyBlock" action="index.php?cmd=block&amp;act=modify" method="post" onsubmit="selectAll(document.getElementById('SelectedPages'));">
    <input type="hidden" name="blockId" value="{BLOCK_ID}" size="50" />

    <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist block_lang">
        <tr>
            <th colspan="4">{TXT_BLOCK_LANGUAGE}</th>
        </tr>
        <tr class="row1">
            <td width="10%">{TXT_BLOCK_LANGUAGE}</td>
            <td width="12%" valign="top">{EDIT_LANGUAGES_1}</td>
            <td width="12%" valign="top">{EDIT_LANGUAGES_2}</td>
            <td width="66%" valign="top">{EDIT_LANGUAGES_3}</td>
        </tr>
    </table>
    <br />
    <ul id="tabmenu">
        <li><a class="active" href="javascript:{}" id="data_{TXT_BLOCK_BASIC_DATA}" onclick="selectDataTab(this, '{TXT_BLOCK_BASIC_DATA}')" title="{TXT_BLOCK_BASIC_DATA}">{TXT_BLOCK_BASIC_DATA}</a></li>  
        <li><a href="javascript:{}" id="data_{TXT_BLOCK_ADDITIONAL_OPTIONS}" onclick="selectDataTab(this, '{TXT_BLOCK_ADDITIONAL_OPTIONS}')" title="{TXT_BLOCK_ADDITIONAL_OPTIONS}">{TXT_BLOCK_ADDITIONAL_OPTIONS}</a></li>  
    </ul>
    <div id="{TXT_BLOCK_BASIC_DATA}" class="data">   
        <table cellspacing="0" cellpadding="3" width="100%" border="0" class="adminlist" summary="block list">
            <tbody>
                <tr>
                    <th colspan="3">{TXT_BLOCK_BASIC_DATA}</th>                    
                </tr>
                <tr class="row1">
                    <td width="250px">{TXT_BLOCK_NAME}:</td>
                    <td width="250px"><input type="text" name="blockName" value="{BLOCK_NAME}" style="width: 250px;" /></td>
                    <td><br /></td>
                </tr>   
                <tr class="row2">
                    <td>{TXT_BLOCK_CATEGORY}:</td>
                    <td colspan="2">
                        <select name="blockCat" style="width: 252px;">
                            <option value="0">{TXT_BLOCK_NONE}</option>
                            {BLOCK_CATEGORIES_PARENT_DROPDOWN}
                        </select>
                    </td>
                </tr>                
            </tbody>
        </table>
        <br />
        <div>    
            <ul id="blockLanguages" class="tabmenu blockLang">
                <!-- BEGIN block_language_tabs -->
                <li><a id="lang_blockContent_{BLOCK_LANG_TAB_LANG_ID}" style="{BLOCK_LANGTAB_DISPLAY}" class="{BLOCK_LANG_TAB_CLASS}" href="javascript:{}" onclick="langTab(this, {BLOCK_LANG_TAB_LANG_ID})" title="{TXT_BLOCK_LANG_TAB_LANG_NAME}">{TXT_BLOCK_LANG_TAB_LANG_NAME}</a></li>
                <!-- END block_language_tabs -->
            </ul>
            <!-- BEGIN block_language_content -->            
            <input id="blockFormText_{BLOCK_LANG_ID}" type="hidden" name="blockFormText_[{BLOCK_LANG_ID}]" value="{BLOCK_CONTENT_TEXT_HIDDEN}" />
            <!-- END block_language_content -->
            <table  border="0" cellpadding="0" cellspacing="0" width="100%" class="adminlist block_lang">
                <tbody>
                    <tr>
                        <th>{TXT_BLOCK_FORM_DESC}</th>
                    </tr>
                    <tr class="row2">
                        <td>{BLOCK_CONTENT_TEXT}</td>
                    </tr>
                </tbody>
            </table>
        </div>            
        <br />        
    </div>
    <div id="{TXT_BLOCK_ADDITIONAL_OPTIONS}" class="data" style="display:none;">
        <table cellspacing="0" cellpadding="3" width="100%" border="0" class="adminlist" summary="block list">
            <tbody>
                <tr>
                    <th colspan="2">{TXT_BLOCK_ADDITIONAL_OPTIONS}</th>
                </tr>
                <tr class="row1">
                    <td valign="top" width="250px">{TXT_BLOCK_RANDOM}:</td>
                    <td>
                        <input type="checkbox" name="blockRandom" value="1" {BLOCK_RANDOM}/>[[BLOCK_RANDOMIZER]]<br />
                        <input type="checkbox" name="blockRandom2" value="1" {BLOCK_RANDOM_2}/>[[BLOCK_RANDOMIZER_2]]<br />                      
                        <input type="checkbox" name="blockRandom3" value="1" {BLOCK_RANDOM_3}/>[[BLOCK_RANDOMIZER_3]]<br />
                        <input type="checkbox" name="blockRandom4" value="1" {BLOCK_RANDOM_4}/>[[BLOCK_RANDOMIZER_4]]<br />
                    </td>
                </tr>   
                <tr class="row2">
                    <td valign="top">{TXT_BLOCK_DISPLAY_TIME}</td>
                    <td>
                        <span id="startTime">
                            <span style="float: left;width:40px">
                                <label name="{TXT_BLOCK_SHOW_FROM}">{TXT_BLOCK_SHOW_FROM}</label>&nbsp;:&nbsp;
                            </span>                            
                            <input type="text" name="inputStartDate" id="DPC_edit1_YYYY-MM-DD" value="{BLOCK_START}" />                        
                        </span>

                        <span id="startTimeAlways" style="display:none;">
                            {TXT_BLOCK_SHOW_ALWAYS}
                        </span>&nbsp;<a style="margin-left: 15px;" href="#" id="blockShowAlways">{TXT_BLOCK_SHOW_ALWAYS}</a>
                        <br />
                        <span id="endTime">
                            <span style="float: left;width:40px">
                                <label name="{TXT_BLOCK_SHOW_UNTIL}">{TXT_BLOCK_SHOW_UNTIL}</label>&nbsp;:&nbsp;
                            </span>                            
                            <input type="text" name="inputEndDate" id="DPC_edit2_YYYY-MM-DD" value="{BLOCK_END}" /><br />
                        </span>
                        <span id="endTimeAlways" style="display:none;">
                            {TXT_BLOCK_SHOW_ALWAYS}
                        </span>
                    </td>
                </tr>
                <tr class="row1">
                    <td width="250px" valign="top">{TXT_BLOCK_GLOBAL_PLACEHOLDERS}:</td>
                    <td nowrap="nowrap">
                        <input onclick="showOrHide('pageSelector', '0');" type="radio" name="blockGlobal" value="0" {BLOCK_GLOBAL_0} />&nbsp;{TXT_DONT_SHOW}Auf keiner Seite&nbsp;&nbsp;&nbsp;<br />
                        <input onclick="showOrHide('pageSelector', '0');" type="radio" name="blockGlobal" value="1" {BLOCK_GLOBAL_1} />&nbsp;{TXT_SHOW_ON_ALL_PAGES}&nbsp;&nbsp;&nbsp;<br />
                        <input onclick="showOrHide('pageSelector', '1');" type="radio" name="blockGlobal" value="2" {BLOCK_GLOBAL_2} />&nbsp;{TXT_SHOW_ON_SELECTED_PAGES}<br /><br />
                        <div id="pageSelector" class="blockLangTab"  style="display:{BLOCK_SHOW_PAGE_SELECTOR};">
                            <div style="float: left;width: 41%">
                                <label name="{TXT_BLOCK_AVAILABLE_PAGES}">{TXT_BLOCK_AVAILABLE_PAGES}</label><br/>
                                <select id="notSelectedPages" name="notSelectedPages[]" size="12" style="margin-top: 5px;width:100%;" multiple="multiple">
                                    {BLOCK_RELATION_PAGES_UNSELECTED}
                                </select>
                                <br />                                  
                                <a href="javascript:selectAll(document.blockFormModifyBlock.elements['notSelectedPages[]']);" title="{TXT_BLOCK_SELECT_ALL}">{TXT_BLOCK_SELECT_ALL}<br />
                                </a><a href="javascript:deselectAll(document.blockFormModifyBlock.elements['notSelectedPages[]']);" title="{TXT_BLOCK_UNSELECT_ALL}">{TXT_BLOCK_UNSELECT_ALL}</a>                                    
                            </div>
                            <div style="padding-top: 18px;float: left;width:5%;"align="center">
                                <input type="button" value=" &gt;&gt; " name="addpages" onclick="move(document.getElementById('notSelectedPages'),document.getElementById('SelectedPages'),document.getElementsByName('addpages')[0],document.getElementsByName('removepages')[0]);" />
                                <br />
                                <input type="button" value=" &lt;&lt; " name="removepages" onclick="move(document.getElementById('SelectedPages'),document.getElementById('notSelectedPages'),document.getElementsByName('removepages')[0],document.getElementsByName('addpages')[0]);" />
                                <br /><br />
                            </div>                                
                            <div style="float: left;width: 45%;">
                                <label name="{TXT_BLOCK_SELECTED_PAGES}">{TXT_BLOCK_SELECTED_PAGES}</label><br />
                                <div align="left">
                                    <select id="SelectedPages" name="selectedPages[]" size="12" style="margin-top: 5px;width:100%;" multiple="multiple">
                                        {BLOCK_RELATION_PAGES_SELECTED}
                                    </select>
                                    <br />                                                                    
                                    <a href="javascript:selectAll(document.blockFormModifyBlock.elements['selectedPages[]']);" title="{TXT_BLOCK_SELECT_ALL}">{TXT_BLOCK_SELECT_ALL}<br />
                                    </a><a href="javascript:deselectAll(document.blockFormModifyBlock.elements['selectedPages[]']);" title="{TXT_BLOCK_UNSELECT_ALL}">{TXT_BLOCK_UNSELECT_ALL}</a>
                                </div>                                    
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>     
        <br />        
    </div>
<br />
<input type="submit" onclick="onSubmit()" name="block_save_block" value="{TXT_BLOCK_SAVE}" />
</form>
<!-- END module_block_block.html -->
