<!-- START module_block_block.html -->
<script language="JavaScript" type="text/javascript">
    // <![CDATA[
    function move(from, dest, add, remove)
    {
        if (from.selectedIndex < 0) {
            if (from.options[0] != null) from.options[0].selected = true;
            from.focus();
            return false;
        } else {
            for (i = 0; i < from.length; ++i) {
                if (from.options[i].selected) {
                    dest.options[dest.options.length] = new Option(from.options[i].text, from.options[i].value, false, false);
                }
            }
            for (i = from.options.length-1; i >= 0; --i) {
                if (from.options[i].selected) {
                    from.options[i] = null;
                }
            }
        }
        disableButtons(from, dest, add, remove);
    }

    function disableButtons(from,dest,add,remove)
    {
        if (from.options.length > 0 )
        {
            add.disabled = 0;
        }
        else
            add.disabled = 1;

        if (dest.options.length > 0)
            remove.disabled = 0;
        else
            remove.disabled = 1;
    }

    function selectAll(CONTROL)
    {
        for(var i = 0;i < CONTROL.length;i++)
        {
            CONTROL.options[i].selected = true;
        }
    }

    function deselectAll(CONTROL)
    {
        for(var i = 0;i < CONTROL.length;i++)
        {
            CONTROL.options[i].selected = false;
        }
    }

    function showOrHide(strElement, bolStatus)
    {
        elm = document.getElementById(strElement);

        if(bolStatus==1){
            elm.style.display = 'block';
        } else {
            elm.style.display = 'none';
        }
    }
    // ]]>
</script>
<script language="JavaScript" type="text/javascript">
    //adds the datetimepicker to the date fields
    cx.ready(function() {
        var dpOptions = {
            dateFormat: 'dd.mm.yy',
            timeFormat: 'hh:mm' 
        };

        $J('input[name=inputStartDate]').datetimepicker(dpOptions);
        $J('input[name=inputEndDate]').datetimepicker(dpOptions);
    
    }, true);
</script>

<form name="blockFormModifyBlock" action="index.php?cmd=block&amp;act=modify" method="post" onsubmit="selectAll(document.getElementById('SelectedPages')); ">
    <input type="hidden" name="blockId" value="{BLOCK_ID}" size="50" />

    <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
        <tr>
            <th colspan="4">{TXT_BLOCK_LANGUAGE}</th>
        </tr>
        <tr class="row1">
            <td width="10%">{TXT_BLOCK_LANGUAGE}</td>
            <td width="12%" valign="top">{EDIT_LANGUAGES_1}</td>
            <td width="12%" valign="top">{EDIT_LANGUAGES_2}</td>
            <td width="66%" valign="top">{EDIT_LANGUAGES_3}</td>
        </tr>
    </table>  
    <br />
    <ul class="tabmenu">      
        <li><a href="javascript:{}" id="data_{TXT_BLOCK_BASIC_DATA}" class="active" onclick="selectTab('{TXT_BLOCK_BASIC_DATA}')" title="{TXT_BLOCK_BASIC_DATA}">{TXT_BLOCK_BASIC_DATA}</a></li>  
        <li><a href="javascript:{}" id="data_{TXT_BLOCK_ADDITIONAL_OPTIONS}" onclick="selectTab('{TXT_BLOCK_ADDITIONAL_OPTIONS}')" title="{TXT_BLOCK_ADDITIONAL_OPTIONS}">{TXT_BLOCK_ADDITIONAL_OPTIONS}</a></li>  
    </ul>
    <div id="{TXT_BLOCK_BASIC_DATA}" class="data">   
        <table cellspacing="0" cellpadding="3" width="100%" border="0" class="adminlist" summary="block list">
            <tbody>
                <tr>
                    <th colspan="3">{TXT_BLOCK_BASIC_DATA}</th>                    
                </tr>
                <tr class="row1">
                    <td width="250px">{TXT_BLOCK_NAME}:</td>
                    <td width="250px"><input type="text" name="blockName" value="{BLOCK_NAME}" style="width: 250px;" /></td>
                    <td><br /></td>
                </tr>   
                <tr class="row2">
                    <td>{TXT_BLOCK_CATEGORY}:</td>
                    <td colspan="2">
                        <select name="blockCat" style="width: 252px;">
                            <option value="0">{TXT_BLOCK_NONE}</option>
                            {BLOCK_CATEGORIES_PARENT_DROPDOWN}
                        </select>
                    </td>
                </tr>                
            </tbody>
        </table>
        <br />
        <div>    
            <ul class="tabmenu">
                <!-- BEGIN block_language_tabs -->
                <li><a id="lang_blockContent_{BLOCK_LANG_TAB_LANG_ID}" class="{BLOCK_LANG_TAB_CLASS}" href="javascript:{}" onclick="selectTab('blockContent_{BLOCK_LANG_TAB_LANG_ID}')" title="{TXT_BLOCK_LANG_TAB_LANG_NAME}">{TXT_BLOCK_LANG_TAB_LANG_NAME}</a></li>
                <!-- END block_language_tabs -->
            </ul>
            <!-- BEGIN block_language_content -->
            <div id="blockContent_{BLOCK_LANG_ID}" class="lang" style="display:{BLOCK_SHOW_CONTENT};">
                <table cellspacing="0" cellpadding="3" width="100%" border="0" class="adminlist" summary="block list">
                    <tbody>
                        <tr class="row3">
                            <th colspan="2">{TXT_BLOCK_CONTENT} {TXT_BLOCK_CONTENT_LANG_NAME}</th>
                        </tr>
                        <tr class="row1">
                            <td width="250px">{TXT_BLOCK_LANG_SHOW}:</td>
                            <td>
                                <input type="radio" onclick="showOrHide('blockEditor_{BLOCK_LANG_ID}', '1');" name="block_activate_language[{BLOCK_LANG_ID}]" value="1" {BLOCK_LANG_ASSOCIATED} />&nbsp;{TXT_BLOCK_ACTIVATE}&nbsp;&nbsp;&nbsp;
                                       <input type="radio" onclick="showOrHide('blockEditor_{BLOCK_LANG_ID}', '0');" name="block_activate_language[{BLOCK_LANG_ID}]" value="0" {BLOCK_LANG_NOT_ASSOCIATED} />&nbsp;{TXT_BLOCK_DEACTIVATE}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div id="blockEditor_{BLOCK_LANG_ID}" style="display:{BLOCK_SHOW_CONTENT_EDITOR};">
        	{BLOCK_CONTENT}
                </div>
            </div>
            <!-- END block_language_content -->
            <br />        
        </div>
    </div>
    <div id="{TXT_BLOCK_ADDITIONAL_OPTIONS}" class="data" style="display:none;{BLOCK_SHOW_CONTENT}">
        <table cellspacing="0" cellpadding="3" width="100%" border="0" class="adminlist" summary="block list">
            <tbody>
                <tr>
                    <th colspan="2">{TXT_BLOCK_ADDITIONAL_OPTIONS}</th>
                </tr>
                <tr class="row1">
                    <td valign="top" width="250px">{TXT_BLOCK_RANDOM}:</td>
                    <td>
                        <input type="checkbox" name="blockRandom" value="1" {BLOCK_RANDOM}/>[[BLOCK_RANDOMIZER]]<br />
                        <input type="checkbox" name="blockRandom2" value="1" {BLOCK_RANDOM_2}/>[[BLOCK_RANDOMIZER_2]]<br />                      
                        <input type="checkbox" name="blockRandom3" value="1" {BLOCK_RANDOM_3}/>[[BLOCK_RANDOMIZER_3]]<br />
                        <input type="checkbox" name="blockRandom4" value="1" {BLOCK_RANDOM_4}/>[[BLOCK_RANDOMIZER_4]]<br />
                    </td>
                </tr>   
                <tr class="row2">
                    <td valign="top">{TXT_BLOCK_DISPLAY_TIME}</td>
                    <td>
                        <span style="float: left;width:40px">
                            <label name="{TXT_BLOCK_SHOW_FROM}">{TXT_BLOCK_SHOW_FROM}</label>&nbsp;:&nbsp;
                        </span>                            
                        <input type="text" name="inputStartDate" id="DPC_edit1_YYYY-MM-DD" value="{BLOCK_START} {BLOCK_START_HOURS}:{BLOCK_START_MINUTES}" />
                        <a style="margin-left: 15px;" href="#" id="blockShowAlways">{TXT_BLOCK_SHOW_ALWAYS}</a><br />
                        <span style="float: left;width:40px">
                            <label name="{TXT_BLOCK_SHOW_UNTIL}">{TXT_BLOCK_SHOW_UNTIL}</label>&nbsp;:&nbsp;
                        </span>                            
                        <input type="text" name="inputEndDate" id="DPC_edit2_YYYY-MM-DD" value="{BLOCK_END} {BLOCK_START_HOURS}:{BLOCK_END_MINUTES}" /><br />
                    </td>
                </tr>
                <tr class="row1">
                    <td width="250px" valign="top">{TXT_BLOCK_GLOBAL_PLACEHOLDERS}:</td>
                    <td nowrap="nowrap">
                        <input onclick="showOrHide('pageSelector', '0');" type="radio" name="blockGlobal" value="0" {BLOCK_GLOBAL_0} />&nbsp;{TXT_DONT_SHOW}Auf keiner Seite&nbsp;&nbsp;&nbsp;<br />
                        <input onclick="showOrHide('pageSelector', '0');" type="radio" name="blockGlobal" value="1" {BLOCK_GLOBAL_1} />&nbsp;{TXT_SHOW_ON_ALL_PAGES}&nbsp;&nbsp;&nbsp;<br />
                        <input onclick="showOrHide('pageSelector', '1');" type="radio" name="blockGlobal" value="2" {BLOCK_GLOBAL_2} />&nbsp;{TXT_SHOW_ON_SELECTED_PAGES}<br /><br />
                        <div id="pageSelector" class="blockLangTab"  style="display:{BLOCK_SHOW_PAGE_SELECTOR};">
                            <div style="float: left;width: 41%">
                                <label name="TXT_BLOCK_AVAILABLE_PAGES}">{TXT_BLOCK_AVAILABLE_PAGES}</label><br/>
                                <select id="notSelectedPages" name="notSelectedPages[]" size="12" style="margin-top: 5px;width:100%;" multiple="multiple">
                                    {BLOCK_RELATION_PAGES_UNSELECTED}
                                </select>
                                <br />                                  
                                <a href="javascript:selectAll(document.blockFormModifyBlock.elements['notSelectedPages[]']);" style="color:blue;" title="{TXT_BLOCK_SELECT_ALL}">{TXT_BLOCK_SELECT_ALL}<br />
                                </a><a href="javascript:deselectAll(document.blockFormModifyBlock.elements['notSelectedPages[]']);" style="color:blue;" title="{TXT_BLOCK_UNSELECT_ALL}">{TXT_BLOCK_UNSELECT_ALL}</a>                                    
                            </div>
                            <div style="padding-top: 18px;float: left;width:5%;"align="center">
                                <input type="button" value=" &gt;&gt; " name="addpages" onclick="move(document.getElementById('notSelectedPages'),document.getElementById('SelectedPages'),document.getElementsByName('addpages')[0],document.getElementsByName('removepages')[0]);" />
                                <br />
                                <input type="button" value=" &lt;&lt; " name="removepages" onclick="move(document.getElementById('SelectedPages'),document.getElementById('notSelectedPages'),document.getElementsByName('removepages')[0],document.getElementsByName('addpages')[0]);" />
                                <br /><br />
                            </div>                                
                            <div style="float: left;width: 45%;">
                                <label name="{TXT_BLOCK_SELECTED_PAGES}">{TXT_BLOCK_SELECTED_PAGES}</label><br />
                                <div align="left">
                                    <select id="SelectedPages" name="selectedPages[]" size="12" style="margin-top: 5px;width:100%;" multiple="multiple">
                                        {BLOCK_RELATION_PAGES_SELECTED}
                                    </select>
                                    <br />                                                                    
                                    <a href="javascript:selectAll(document.blockFormModifyBlock.elements['selectedPages[]']);" style="color:blue;" title="{TXT_BLOCK_SELECT_ALL}">{TXT_BLOCK_SELECT_ALL}<br />
                                    </a><a href="javascript:deselectAll(document.blockFormModifyBlock.elements['selectedPages[]']);" style="color:blue;" title="{TXT_BLOCK_UNSELECT_ALL}">{TXT_BLOCK_UNSELECT_ALL}</a>
                                </div>                                    
                            </div>
                        </div>
                        </div>                            
                    </td>
                </tr>
            </tbody>
        </table>     
        <br />        
    </div>
    <br />
    <input type="submit" name="block_save_block" value="{TXT_BLOCK_SAVE}" />
</form>
<!-- END module_block_block.html -->
