<!-- START module_block_block.html -->
<script language="JavaScript" type="text/javascript">
// <![CDATA[
function move(from, dest, add, remove)
{
  if (from.selectedIndex < 0) {
    if (from.options[0] != null) from.options[0].selected = true;
    from.focus();
    return false;
  } else {
    for (i = 0; i < from.length; ++i) {
      if (from.options[i].selected) {
        dest.options[dest.options.length] = new Option(from.options[i].text, from.options[i].value, false, false);
      }
    }
    for (i = from.options.length-1; i >= 0; --i) {
      if (from.options[i].selected) {
        from.options[i] = null;
      }
    }
  }
  disableButtons(from, dest, add, remove);
}

function disableButtons(from,dest,add,remove)
{
  if (from.options.length > 0 )
  {
    add.disabled = 0;
  }
  else
    add.disabled = 1;

  if (dest.options.length > 0)
    remove.disabled = 0;
  else
    remove.disabled = 1;
}

function selectAll(CONTROL)
{
  for(var i = 0;i < CONTROL.length;i++)
    {
    CONTROL.options[i].selected = true;
  }
}

function deselectAll(CONTROL)
{
  for(var i = 0;i < CONTROL.length;i++)
  {
    CONTROL.options[i].selected = false;
  }
}

function showOrHide(strElement, bolStatus)
{
    elm = document.getElementById(strElement);

    if(bolStatus==1){
        elm.style.display = 'block';
    } else {
        elm.style.display = 'none';
    }
}
// ]]>
</script>
<script src="../lib/datepickercontrol/datepickercontrol.js" type="text/javascript"></script>
<script language="JavaScript" type="text/javascript">
// <![CDATA[
    (function(){
        DatePickerControl.onSelect = function(inputid)
        {
            var startdate = document.getElementsByName('blockFormModifyBlock')[0].inputStartDate.value.replace(/-/g, "");
            var enddate = document.getElementsByName('blockFormModifyBlock')[0].inputEndDate.value.replace(/-/g, "");

            if (startdate > enddate) {
              var date = document.getElementsByName('blockFormModifyBlock')[0].inputStartDate.value;
              document.getElementsByName('blockFormModifyBlock')[0].inputEndDate.value = date;
            }
        }

        $J(function(){
            var $inputDateEnd   = $J('[name=inputEndDate]');
            var $inputDateStart = $J('[name=inputStartDate]');
            var $spansDate      = $J('#startTime,#endTime');
            var $spansAlways    = $J('#startTimeAlways,#endTimeAlways');
            var $a = $J('#blockShowAlways');
            var hideInputs = function(){
                $spansDate.hide();
                $spansAlways.show();
                $a.text('{TXT_BLOCK_SHOW_TIMED}');
            }

            var showInputs = function(){
                $spansDate.show();
                $spansAlways.hide();
                DatePickerControl.relocateButtons();
                $a.text('{TXT_BLOCK_SHOW_ALWAYS}');
            }

            $a.click(function(){
                if($inputDateEnd.is(':hidden')){
                    showInputs();
                } else {
                    hideInputs();
                }
            });
            if($inputDateEnd.val() == '2038-01-19'){ //check if we display always
                hideInputs();
            }
            $J('[name=blockFormModifyBlock]').submit(function(){
                if($inputDateEnd.is(':hidden')){
                    var now = new Date();
                    var today = now.getFullYear()+'-'+now.getMonth()+'-'+now.getDate();
                    $inputDateEnd.val('2038-01-19');
                    $inputDateStart.val(today);
                }
            });
        });
    })();
// ]]>
</script>

<form name="blockFormModifyBlock" action="index.php?cmd=block&amp;act=modify" method="post" onsubmit="selectAll(document.getElementById('SelectedPages')); ">
  <input type="hidden" name="blockId" value="{BLOCK_ID}" size="50" />
    <table cellspacing="0" cellpadding="3" width="100%" border="0" class="adminlist" summary="block list">
      <tbody>
        <tr>
          <th colspan="3">{BLOCK_MODIFY_TITLE}</th>
        </tr>
        <tr class="row1">
          <td width="250px">{TXT_BLOCK_NAME}:</td>
          <td width="250px"><input type="text" name="blockName" value="{BLOCK_NAME}" style="width: 250px;" /></td>
          <td><br /></td>
        </tr>
        <tr class="row2">
          <td>{TXT_BLOCK_CATEGORY}:</td>
          <td colspan="2">
            <select name="blockCat" style="width: 252px;">
                <option value="0">{TXT_BLOCK_NONE}</option>
                {BLOCK_CATEGORIES_PARENT_DROPDOWN}
            </select>
          </td>
        </tr>
        <tr class="row1">
          <td valign="top">{TXT_BLOCK_RANDOM}:</td>
          <td><input type="checkbox" name="blockRandom" value="1" {BLOCK_RANDOM}/>[[BLOCK_RANDOMIZER]]<br /><input type="checkbox" name="blockRandom3" value="1" {BLOCK_RANDOM_3}/>[[BLOCK_RANDOMIZER_3]]</td>
          <td><input type="checkbox" name="blockRandom2" value="1" {BLOCK_RANDOM_2}/>[[BLOCK_RANDOMIZER_2]]<br /><input type="checkbox" name="blockRandom4" value="1" {BLOCK_RANDOM_4}/>[[BLOCK_RANDOMIZER_4]]</td>
        </tr>
       </tr>
      </tbody>
     </table>
     <br />
     <table cellspacing="0" cellpadding="3" width="100%" border="0" class="adminlist" summary="block list">
      <tbody>
        <tr>
          <th colspan="2">Anzeigedauer</th>
        </tr>
        <tr class="row1">
            <td width="250px" valign="middle">{TXT_BLOCK_SHOW_FROM}:</td>
            <td valign="middle" style="height: 27px;">
                <span id="startTime">
                    <input type="text" name="inputStartDate" id="DPC_edit1_YYYY-MM-DD" value="{BLOCK_START}" style="width: 8em;" />
                    <select name="inputStartHour" style="margin-left: 10px">
                        {BLOCK_START_HOURS}
                    </select>
                    :
                    <select name="inputStartMinute">
                        {BLOCK_START_MINUTES}
                    </select>
                </span>
                <span id="startTimeAlways" style="display:none;">
                    {TXT_BLOCK_SHOW_ALWAYS}
                </span>
                <a style="margin-left: 15px;" href="#" id="blockShowAlways">{TXT_BLOCK_SHOW_ALWAYS}</a>
            </td>
        </tr>
        <tr class="row2">
            <td valign="middle">{TXT_BLOCK_SHOW_UNTIL}:</td>
            <td valign="middle" style="height: 27px;">
                <span id="endTime">
                    <input type="text" name="inputEndDate" id="DPC_edit2_YYYY-MM-DD" value="{BLOCK_END}" style="width:8em;" />
                    <select name="inputEndHour" style="margin-left: 10px">
                        {BLOCK_END_HOURS}
                    </select>
                    :
                    <select name="inputEndMinute">
                        {BLOCK_END_MINUTES}
                    </select>
                </span>
                <span id="endTimeAlways" style="display:none;">
                    {TXT_BLOCK_SHOW_ALWAYS}
                </span>
            </td>
        </tr>
    </table>
    <br />
    <table cellspacing="0" cellpadding="3" width="100%" border="0" class="adminlist" summary="block list">
      <tbody>
        <tr>
          <th colspan="4">{TXT_BLOCK_FRONTEND_LANGUAGES}</th>
        </tr>
		<tr class="row1">
			<td width="250px">Block im globalen Platzhalter anzeigen:</td>
			<td nowrap="nowrap">
			    <input onclick="showOrHide('pageSelector', '0');" type="radio" name="blockGlobal" value="0" {BLOCK_GLOBAL_0} />&nbsp;{TXT_DONT_SHOW}Auf keiner Seite&nbsp;&nbsp;&nbsp;
			    <input onclick="showOrHide('pageSelector', '0');" type="radio" name="blockGlobal" value="1" {BLOCK_GLOBAL_1} />&nbsp;{TXT_SHOW_ON_ALL_PAGES}&nbsp;&nbsp;&nbsp;
			    <input onclick="showOrHide('pageSelector', '1');" type="radio" name="blockGlobal" value="2" {BLOCK_GLOBAL_2} />&nbsp;{TXT_SHOW_ON_SELECTED_PAGES}
		    </td>
		</tr>
      </tbody>
    </table>
    <div id="pageSelector" class="blockLangTab"  style="display:{BLOCK_SHOW_PAGE_SELECTOR};">
    <table cellspacing="0" cellpadding="3" width="100%" border="0" class="adminlist" summary="block list">
      <tbody>
		<tr width="250px" class="row2">
          <td valign="top">{TXT_BLOCK_FRONTEND_PAGES}:</td>
          <td>
            <table width="100%" border="0">
              <tr>
                <td width="13%">
                  <select id="notSelectedPages" name="notSelectedPages[]" size="12" style="width:200px;" multiple="multiple">
                      {BLOCK_RELATION_PAGES_UNSELECTED}
                  </select>
                  <br />
                  <font size="1"><a href="javascript:selectAll(document.blockFormModifyBlock.elements['notSelectedPages[]']);" style="color:blue;">{TXT_BLOCK_RELATION_SELECT}<br />
                  </a><a href="javascript:deselectAll(document.blockFormModifyBlock.elements['notSelectedPages[]']);" style="color:blue;">{TXT_BLOCK_RELATION_DESELECT}</a></font>
                </td>
                <td width="4%">
                  <div align="center">
                    <input type="button" value=" &gt;&gt; " name="addpages" onclick="move(document.getElementById('notSelectedPages'),document.getElementById('SelectedPages'),document.getElementsByName('addpages')[0],document.getElementsByName('removepages')[0]);" />
                    <br />
                    <input type="button" value=" &lt;&lt; " name="removepages" onclick="move(document.getElementById('SelectedPages'),document.getElementById('notSelectedPages'),document.getElementsByName('removepages')[0],document.getElementsByName('addpages')[0]);" />
                    <br /><br />
                  </div>
                </td>
                <td width="1%">
                  <div align="left">
                    <select id="SelectedPages" name="selectedPages[]" size="12" style="width:200px;" multiple="multiple">
                      {BLOCK_RELATION_PAGES_SELECTED}
                    </select>
                    <br />
                    <font size="1"><a href="javascript:selectAll(document.blockFormModifyBlock.elements['selectedPages[]']);" style="color:blue;">{TXT_BLOCK_RELATION_SELECT}<br />
                    </a><a href="javascript:deselectAll(document.blockFormModifyBlock.elements['selectedPages[]']);" style="color:blue;">{TXT_BLOCK_RELATION_DESELECT}</a></font>
                  </div>
                </td>
                <td width="82%">&nbsp;</td>
              </tr>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
    <br />
    <ul id="tabmenu">
        <!-- BEGIN block_language_tabs -->
         <li><a id="lang_blockContent_{BLOCK_LANG_TAB_LANG_ID}" class="{BLOCK_LANG_TAB_CLASS}" href="javascript:{}" onclick="selectTab('blockContent_{BLOCK_LANG_TAB_LANG_ID}')" title="{TXT_BLOCK_LANG_TAB_LANG_NAME}">{TXT_BLOCK_LANG_TAB_LANG_NAME}</a></li>
        <!-- END block_language_tabs -->
    </ul>
    <!-- BEGIN block_language_content -->
    <div id="blockContent_{BLOCK_LANG_ID}" class="lang" style="display:{BLOCK_SHOW_CONTENT};">
        <table cellspacing="0" cellpadding="3" width="100%" border="0" class="adminlist" summary="block list">
          <tbody>
            <tr class="row3">
              <th colspan="2">{TXT_BLOCK_CONTENT} {TXT_BLOCK_CONTENT_LANG_NAME}</th>
            </tr>
            <tr class="row1">
    			<td width="250px">{TXT_BLOCK_LANG_SHOW}:</td>
    			<td>
    			     <input type="radio" onclick="showOrHide('blockEditor_{BLOCK_LANG_ID}', '1');" name="block_activate_language[{BLOCK_LANG_ID}]" value="1" {BLOCK_LANG_ASSOCIATED} />&nbsp;{TXT_BLOCK_ACTIVATE}&nbsp;&nbsp;&nbsp;
            		 <input type="radio" onclick="showOrHide('blockEditor_{BLOCK_LANG_ID}', '0');" name="block_activate_language[{BLOCK_LANG_ID}]" value="0" {BLOCK_LANG_NOT_ASSOCIATED} />&nbsp;{TXT_BLOCK_DEACTIVATE}
                </td>
    		</tr>
          </tbody>
        </table>
        <div id="blockEditor_{BLOCK_LANG_ID}" style="display:{BLOCK_SHOW_CONTENT_EDITOR};">
        	{BLOCK_CONTENT}
        </div>
    </div>
    <!-- END block_language_content -->
    <br />
  <input type="submit" name="block_save_block" value="{TXT_BLOCK_SAVE}" />
</form>
<!-- END module_block_block.html -->
