html, body {
    padding: 0;
    margin: 0;
    font-size: 17px;
    font-family: arial, helvetica, sans-serif;
    color: #444444;
}

h1 {
    float: left;
    width: auto;
    clear: both;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: normal;
}

a,
a:link,
a:visited {
    color: #1a74bd;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    color: #0b4c7a;
    cursor: pointer;
}

/*#container {
    position: absolute;
    top: 140px;
    left: 50%;
    float: left;
    width: 610px;
    padding: 25px;
    margin: 0 -330px;
    background: #ececec url(../Media/exclamation_mark.png) no-repeat 575px 21px;
}*/

#container #title {
    float: left;
    width: auto;
    margin: 0 85px 30px 0;
    font-size: 38px;
}

#container #message {
    float: left;
    clear: both;
    width: 610px;
    margin: 0 0 30px 0;
}

#container #message ul {
    padding: 0 0 0 15px;
    margin: 10px 0;
}

#container #message a {
    font-weight: bold;
    color: #444444;
}

#container .button {
    float: left;
    width: 268px;
    height: 25px;
    padding: 12px;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    color: #ffffff;
}

#container .button#abort {
    float: left;
    background: #acacac;
}

#container .button#continue {
    float: right;
    background: #85be0b;
}

#container .button:hover,
#container .button:focus,
#container .button:active {
    color: #e5e5e5;
}

#container form {
    display: none;
}

/* new style */

#container {
    position: relative;
    float: left;
    top: 140px;
    width: 610px;
    padding: 25px;
    margin-bottom: 100px;
    background: #ececec url(../Media/exclamation_mark.png) no-repeat 575px 21px;
}
.container {
    margin: 0 auto;
    width: 660px;
}

@media (max-width: 767px) {
    .container { 
        margin: 0 auto;
        width: 300px;
    }
    #container {
        width: 300px;
        padding: 15px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        background: #ececec url(../Media/exclamation_mark.png) no-repeat 230px 21px;
    }
    #container #title {
        margin: 0 60px 30px 0;
        font-size: 25px;
    }
    #container #message {        
        width: 100%;
        font-size: 13px;
        margin: 0 0 20px 0;
    }
    #container .button {        
        width: 100%;
        height: 50px;
        padding: 12px;        
        margin-bottom: 15px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
    }
}