<script type="text/javascript">
    cx.jQuery(document).ready(function() {
        cx.jQuery('#activeLanguages').chosen({
            width: '250px'
        });
    });
</script>
<!-- TODO: Implement action to store changes -->
<form name="localeBackendForm" method="post" class="cx-ui" style="overflow: visible">
    <fieldset style="overflow: visible">
        <div class="group">
            <label for="activeLanguages">{TXT_CORE_LOCALE_BACKEND_ACTIVE_LANGUAGES}</label>
            <div class="controls">
                <!-- BEGIN source_languages -->
                <select name="activeLanguages" id="activeLanguages" multiple data-placeholder="{TXT_CORE_LOCALE_BACKEND_SELECT_ACTIVE_LANGUAGES}">
                    {SOURCE_LANGUAGES}
                </select>
                <!-- END source_languages -->
            </div>
        </div>
        <div class="group">
            <label for="defaultLanguage">{TXT_CORE_LOCALE_BACKEND_DEFAULT_LANGUAGE}</label>
            <div class="controls">
                <!-- BEGIN default_language -->
                {BACKEND_DEFAULT_LANGUAGE}
                <!-- END default_language -->
            </div>
        </div>
    </fieldset>
</form>