<!-- START gallery_new_category.html -->
<script language="JavaScript" type="text/javascript">
function disableCategorySelection()
{
	document.newcat.select_category_id.disabled = true;
}
function enableCategorySelection()
{
	document.newcat.select_category_id.disabled = false;
}
function showOrHide(strElement) {
	if (document.getElementById(strElement).style.display == 'none') {
		document.getElementById(strElement).style.display = 'block';
	} else {
		document.getElementById(strElement).style.display = 'none';
	}
}
function copyText(strType) {
	for (var h=0; h < document.forms.length;h++) {
		for (var i=0; i < document.forms[h].elements.length;i++) {
			//read out all form-elements with the loop
			if(document.forms[h].elements[i].name.search(strType) != -1) {
				if (strType == 'category_name_') {
					document.forms[h].elements[i].value = document.newcat.category_name.value;
				} else {
					document.forms[h].elements[i].value = document.newcat.category_desc.value;
				}
			}
		}
	}	
}
</script>
<form name="newcat" method="post" action="?cmd=gallery&amp;act=insert_category">
	<table width="100%" cellspacing="0" cellpadding="3" border="0" align="top" class="adminlist">
		<tr>
			<th colspan="2" align="left">{TXT_TITLE}</th>
		</tr>
		<tr valign="top" class="row1">
			<td nowrap="nowrap" width="10%">{TXT_NAME}</td>
			<td>
				<input name="category_name" type="text" onChange="copyText('category_name_');" style="width:30%;" />&nbsp;<a href="javascript:showOrHide('divLang_Name');">{TXT_EXTENDED}</a>
				<div id="divLang_Name" style="display: none;">
					<!-- BEGIN showNameFields -->
					<input name="category_name_{NAMEFIELDS_LID}" value="" style="width:30%; margin-top:1px;">&nbsp;<label for="category_name_{NAMEFIELDS_LID}">{NAMEFIELDS_LANGUAGE}</label> <br />
					<!-- END showNameFields -->
				</div>				
		  </td>		
		</tr>
		<tr valign="top" class="row1">
			<td nowrap="nowrap">{TXT_DESCRIPTION}</td>
			<td>
				<textarea name="category_desc" onChange="copyText('category_desc_');" rows="3" style="width:30%;" ></textarea>&nbsp;<a href="javascript:showOrHide('divLang_Desc');">{TXT_EXTENDED}</a>
				<div id="divLang_Desc" style="display: none;">
					<!-- BEGIN showDescFields -->
					<textarea name="category_desc_{DESCFIELDS_LID}" rows="3" style="width:30%; margin-top:1px;"></textarea>&nbsp;<label for="category_name_{DESCFIELDS_LID}">{DESCFIELDS_LANGUAGE}</label> <br />
					<!-- END showDescFields -->
				</div>	
		  </td>
		</tr>
		<tr class="row1">
			<td valign="top" nowrap="nowrap">{TXT_CATEGORYTYPE}</td>
			<td>
				<input type="radio" name="category_type" value="new" checked="checked" onClick="disableCategorySelection()" />&nbsp;{TXT_CATEGORYTYPE_NEW}<br />
				<input type="radio" name="category_type" value="existing" onClick="enableCategorySelection()" />&nbsp;{TXT_CATEGORYTYPE_SUB}
				<select name="select_category_id" disabled="disabled">
					<!-- BEGIN showCategories -->
					<option value="{NEW_CATEGORY_ID}">{NEW_CATEGORY_NAME}</option>
					<!-- END showCategories -->
				</select>
			</td>
		</tr>
		<tr class="row1">
			<td nowrap="nowrap">{TXT_STATUS}</td>
			<td>
				<input type="radio" name="category_status" value="1" checked="checked" />&nbsp;{TXT_STATUS_ON}
				<input type="radio" name="category_status" value="0" />&nbsp;{TXT_STATUS_OFF}
			</td>
		</tr>
		<tr class="row1">
			<td nowrap="nowrap">{TXT_COMMENT}</td>
			<td>
				<input type="radio" name="category_comment" value="1" checked="checked" />&nbsp;{TXT_STATUS_ON}
				<input type="radio" name="category_comment" value="0" />&nbsp;{TXT_STATUS_OFF}
			</td>
		</tr>
		<tr class="row1">
			<td nowrap="nowrap">{TXT_VOTING}</td>
			<td>
				<input type="radio" name="category_voting" value="1" checked="checked" />&nbsp;{TXT_STATUS_ON}
				<input type="radio" name="category_voting" value="0" />&nbsp;{TXT_STATUS_OFF}
			</td>
		</tr>
  </table>
	<br />
	<input type="submit" value="{TXT_BUTTON_SUBMIT}" />
</form>
<!-- END gallery_new_category.html -->