<div id="directory">
    <div class="search">{DIRECTORY_SEARCH}</div>
    <div class="container-fluid">
        <div class="row">
            <a href="index.php?section=Directory">{TXT_DIRECTORY_DIR}</a>{DIRECTORY_TREE}
        </div>
    </div>
    <!-- BEGIN showTitle -->
    <div class="title"><h2>{DIRECTORY_TITLE}</h2>{DIRECTORY_DESCRIPTION}</div>
    <!-- END showTitle -->
    <!-- BEGIN showCategories -->
    <div class="categories container-fluid row">
        <div class="row">
            <div class="col-md-6">{DIRECTORY_ROW1}</div>
            <div class="col-md-6">{DIRECTORY_ROW2}</div>
        </div>
    </div>
    <!-- END showCategories -->
    <!-- BEGIN showLatest -->
    <div class="latest"><h2>Neuste Verzeichnis Eintr&auml;ge</h2></div>
    <!-- END showLatest -->
    <!-- BEGIN showFeeds -->
    <div class="feeds {DIRECTORY_FEED_ROW} container-fluid">
        <div class="row">
            <div class="image_default col-md-2 col-sm-12">
                <a href="index.php?section=Directory&amp;cmd=detail&amp;id={DIRECTORY_FEED_ID}&amp;lid={DIRECTORY_LEVEL_ID}&amp;cid={DIRECTORY_CAT_ID}">{DIRECTORY_FEED_SPEZ_FIELD_11}</a>
            </div>
            <div class="infos col-md-10 col-sm-12">
                <h3><a href="index.php?section=Directory&amp;cmd=detail&amp;id={DIRECTORY_FEED_ID}&amp;lid={DIRECTORY_LEVEL_ID}&amp;cid={DIRECTORY_CAT_ID}">{DIRECTORY_FEED_TITLE}</a></h3>
                <div class="voting">{DIRECTORY_FEED_AVERAGE_VOTE}<br /><em><a href="{DIRECTORY_FEED_VOTE_LINK}">{DIRECTORY_FEED_COUNT_VOTES}</a></em>
                    <div style="display: none;" id="voting_{DIRECTORY_FEED_ID}">
                        <br />{DIRECTORY_FEED_VOTE_IMG}
                    </div>
                </div>
                <br />
                <br />
                {DIRECTORY_FEED_SHORT_DESCRIPTION}<br />
                <a href="{DIRECTORY_FEED_LINK}" target="_blank">{DIRECTORY_FEED_LINK}</a>
            </div>
        </div>
    </div>
    <!-- END showFeeds -->
    <!-- BEGIN noFeeds -->
    <div class="no_feeds">{DIRECTORY_NO_FEEDS_FOUND}</div>
    <!-- END noFeeds -->
    <!-- BEGIN showInsertFeeds -->
    <div class="insert_feeds">{DIRECTORY_INSERT_FEEDS}</div>
    <!-- END showInsertFeeds -->
    <div class="paging">{SEARCH_PAGING}<br /></div>
</div>
