<div id="directory">
    <div class="search">{DIRECTORY_SEARCH}</div>
    <div class="container-fluid"><div class="row"><a href="index.php?section=Directory">{TXT_DIRECTORY_DIR}</a>{DIRECTORY_CATEGORY_NAVI}</div></div>
    <!-- BEGIN feedDetails -->
    <div class="feed container-fluid">
        <div class="row">
            <div class="container-fluid"><h2>{DIRECTORY_FEED_TITLE}</h2></div>
            <div class="image col-md-2 col-sm-12">{DIRECTORY_FEED_SPEZ_FIELD_11}</div>
            <div class="infos col-md-10 col-sm-12">{DIRECTORY_FEED_DESCRIPTION}</div>
            <div class="link col-md-10 col-sm-12">{DIRECTORY_FEED_LINK}</div>
            <div>{DIRECTORY_FEED_GOOGLEMAP}</div>
            <div>{DIRECTORY_FEED_RSS_LINK}</div>
        </div>
    </div>
    <!-- END feedDetails -->
</div>
{DIRECTORY_GOOGLEMAP_JAVASCRIPT_BLOCK}
