<div id="directory">
    <div class="search">{DIRECTORY_SEARCH}</div>
    <div class="container-fluid"><div class="row"<a href="index.php?section=Directory">{TXT_DIRECTORY_DIR}</a>{DIRECTORY_CATEGORY_NAVI}</div></div>
    <!-- BEGIN showResults -->
    <div class="feeds {DIRECTORY_FEED_ROW} container-fluid">
        <div class="image col-md-2 col-sm-12"><a href="index.php?section=Directory&amp;cmd=detail&amp;id={DIRECTORY_FEED_ID}&amp;lid={DIRECTORY_LEVEL_ID}&amp;cid={DIRECTORY_CAT_ID}"><img border="0" height="90" width="120" src="http://open.thumbshots.org/image.aspx?url={DIRECTORY_FEED_LINK_URL}" /></a></div>
        <div class="infos col-md-10 col-sm-12">
            <h3><a href="index.php?section=Directory&amp;cmd=detail&amp;id={DIRECTORY_FEED_ID}&amp;lid={DIRECTORY_LEVEL_ID}&amp;cid={DIRECTORY_CAT_ID}">{DIRECTORY_FEED_TITLE}</a></h3>
            <div class="voting">{DIRECTORY_FEED_AVERAGE_VOTE}<br /><em><a href="{DIRECTORY_FEED_VOTE_LINK}">{DIRECTORY_FEED_COUNT_VOTES}</a></em>
                <div style="display: none;" id="voting_{DIRECTORY_FEED_ID}"><br />{DIRECTORY_FEED_VOTE_IMG}</div></div><br /><br />
            {DIRECTORY_FEED_SHORT_DESCRIPTION}<br />
            <a href="{DIRECTORY_FEED_LINK}" target="_blank">{DIRECTORY_FEED_LINK}</a>
        </div>
    </div>
    <!-- END showResults -->
    <!-- BEGIN noResults -->
    <div class="no_feeds">{DIRECTORY_NO_FEEDS_FOUND}</div>
    <!-- END noResults -->
    <div class="paging">{SEARCH_PAGING}</div>
</div>
