form{
        margin: 0px;
}

#gallery img {
	border:4px solid #e6e6e6;
	margin-bottom:4px;
}
#gallery a:hover img {
	border:4px solid #ABC0CB;
	margin-bottom:4px;
}

#docsys {
	border-top: 1px solid #bbb;
	border-left: 1px solid #bbb;
}
#docsys td {
	border-right: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
}
#docsys th {
	border-right: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	font-weight: bold;
}

#media {
	border-top: 1px solid #bbb;
	border-left: 1px solid #bbb;
}
#media td {
	border-right: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
}
#media th {
	border-right: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	font-weight: bold;
}

#news {
	border-top: 1px solid #bbb;
	border-left: 1px solid #bbb;
}
#news td {
	border-right: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
}
#news th {
	border-right: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	font-weight: bold;
}

.code {
	border: 1px solid #bbb;
	font-family: courier new;
	font-size: 8pt;
}

#sitemap_level_1 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #bbb;
	font-weight: bold;
}
#sitemap_level_2,
#sitemap_level_3,
#sitemap_level_4,
#sitemap_level_5 {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #bbb;
	font-weight: normal;
}

#directory {
	border-top: 0px solid #ffffff;
	border-bottom: 0px solid #ffffff;
	border-right: 0px solid #ffffff;
	border-left: 0px solid #ffffff;
}
.normal{
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
	background-color: #ffffff;
}

.premium {
	border-top: 1px solid #FE7272;
	border-bottom: 1px solid #FE7272;
	border-right: 1px solid #FE7272;
	border-left: 1px solid #FE7272;
	background-color: #FFC6C6;
}

#directory span.title {
	font-weight: bold;
        font-size:12px;
}

#directory a.catLink {
	font-weight: bold;
        font-size:12px;
}

#directory a.subcatLink {
	font-weight: normal;
        font-size:11px;
}

#directory td.description{
	border-top: 1px solid #B5B5B5;
	border-bottom: 1px solid #B5B5B5;
	border-right: 1px solid #B5B5B5;
	border-left: 1px solid #B5B5B5;
	background-color: #ECECEC;
        padding: 3px;
}


tr.memberdir_row1 {
	background-color: #EBF3F7;
}

tr.memberdir_row2 {
	background-color: white;
	
}

tr.memberdir_row1 td, tr.memberdir_row2 td {
	/*padding: 10px;*/
}

tr.memberdir_row2:hover, tr.memberdir_row1:hover {
	background-color: #E6E6E6;
}

tr.memberdir_row2 a, tr.memberdir_row1 a {
	display: block;
	color: black;
	padding: 10px;
}

#market {
	border-top: 0px solid #ffffff;
	border-bottom: 0px solid #ffffff;
	border-right: 0px solid #ffffff;
	border-left: 0px solid #ffffff;
}

#market span.title {
	font-weight: bold;
        font-size:12px;
}

#market a.catLink {
	font-weight: bold;
        font-size:12px;
}

#market a.subcatLink {
	font-weight: normal;
        font-size:11px;
}

#market td.description{
	border-top: 1px solid #B5B5B5;
	border-bottom: 1px solid #B5B5B5;
	border-right: 1px solid #B5B5B5;
	border-left: 1px solid #B5B5B5;
	background-color: #ECECEC;
        padding: 3px;
}

.marketRow1 {
	border-top: 0px solid #FE7272;
	border-bottom: 1px solid #FE7272;
	border-right: 0px solid #FE7272;
	border-left: 0px solid #FE7272;
	background-color: #FFC6C6;
}

.marketRow2 {
	border-top: 0px solid #ACDAF1;
	border-bottom: 1px solid #B5B5B5;
	border-right: 0px solid #ACDAF1;
	border-left: 0px solid #ACDAF1;
	background-color: #ffffff;
}

.marketRow3 {
	border-top: 0px solid #ACDAF1;
	border-bottom: 1px solid #ACDAF1;
	border-right: 0px solid #ACDAF1;
	border-left: 0px solid #ACDAF1;
	background-color: #DCF1FC;
}

table.reservation a {
	display: block;
	padding: 0.5em;
	color: #3B6506;
	margin-left: 0px;
}

table.reservation .row_available  {
	background-color: #DBFFAD;
}

table.reservation .row_available:hover {
	background-color: #F3FFE4;
}

table.reservation .row_confirmed {
	background-color: #FF8E5C;
	color: white;
}

table.reservation .row_confirmed td {
	padding: 0.5em;
	color: white;
}

table.reservation .row_occupied td  {
	padding: 0.5em;
}

table.reservation .row_occupied {
	background-color: #E3B96A;
}

