{MEDIADIR_JAVASCRIPT}
<div id="mediadir">
    <div class="row">

        <!-- BEGIN mediadirSearchform -->
        <div class="container-fluid">
            {MEDIADIR_NORMAL_SEARCH_FORM}
        </div>
        <!-- END mediadirSearchform -->

        <!-- BEGIN mediadirEntryList -->
        <div class="container-fluid">
            <a href="{MEDIADIR_ENTRY_DETAIL_URL}" title="{MEDIADIR_ENTRY_TITLE}">{MEDIADIR_ENTRY_TITLE}</a>
        </div>
        <!-- END mediadirEntryList -->

        <!-- BEGIN mediadirNoEntriesFound -->
        <div class="container-fluid">
            {TXT_MEDIADIR_SEARCH_MESSAGE}
        </div>
        <!-- END mediadirNoEntriesFound -->

        {MEDIADIR_PAGING}

    </div>
</div>
