<div id="mediadir">
    <div class="table-responsive">
        <!-- BEGIN mediadirEntryList -->
        <!-- BEGIN mediadirLatestList -->
        <table class="table">
            <tr>
                <td colspan="3">
                    <h2>{MEDIADIR_ENTRY_TITLE}</h2>
                </td>
            </tr>
            <tr>
                <td style="width: 33%;">
                    <!-- BEGIN mediadirEntryVotes -->
                    {MEDIADIR_ENTRY_VOTES}
                    <!-- END mediadirEntryVotes -->
                </td>
                <td style="width: 33%;">
                    <!-- BEGIN mediadirEntryComments -->
                    {MEDIADIR_ENTRY_COMMENTS}
                    <!-- END mediadirEntryComments -->
                </td>
                <td style="width: 33%;">
                    <a href="{MEDIADIR_ENTRY_DETAIL_URL}">{TXT_MEDIADIR_ENTRY_DETAIL}</a>
                </td>
            </tr>
        </table>
        <br />
        <!-- END mediadirLatestList -->
        <!-- END mediadirEntryList -->
        <!-- BEGIN mediadirNoEntriesFound -->
        {TXT_MEDIADIR_SEARCH_MESSAGE}
        <!-- END mediadirNoEntriesFound -->
    </div>
</div>
