<div id="mediadir">
    <div class="form_search">
        <!-- BEGIN mediadirSearchform -->
        {MEDIADIR_EXPANDED_SEARCH_FORM}
        <!-- END mediadirSearchform -->
    </div>
    <div class="table-responsive">
        <!-- BEGIN mediadirEntryList -->
        <table class="table">
            <tr>
                <td colspan="3">
                    <h2><!-- BEGIN mediadir_inputfield_130 -->{MEDIADIR_INPUTFIELD_VALUE}<!-- END mediadir_inputfield_130 --></h2>
                </td>
            </tr>
            <tr>
                <td style="width: 33%;">
                    <!-- BEGIN mediadirEntryVotes -->
                    {MEDIADIR_ENTRY_VOTES}
                    <!-- END mediadirEntryVotes -->
                </td>
                <td style="width: 33%;">
                    <!-- BEGIN mediadirEntryComments -->
                    {MEDIADIR_ENTRY_COMMENTS}
                    <!-- END mediadirEntryComments -->
                </td>
                <td style="width: 33%;">
                    <a href="{MEDIADIR_ENTRY_DETAIL_URL}">{TXT_MEDIADIR_ENTRY_DETAIL}</a>
                </td>
            </tr>
        </table>
        <br />
        <!-- END mediadirEntryList -->
    </div>
    {MEDIADIR_PAGING}
    <!-- BEGIN mediadirNoEntriesFound -->
    <span class="text-muted">{TXT_MEDIADIR_SEARCH_MESSAGE}</span>
    <!-- END mediadirNoEntriesFound -->
</div>
