.line {
    clear: both;
    display: block;
    margin: 0 0 4px 0;
}

#content-login #login {
    float: right;
    width: 50%;
    margin-top: 50px;
}

#content-login #login label {
    float: left;
    width: 125px;
}

#content-login #login input[type=text],
#content-login #login input[type=password] {
    width: 131px;
}

#content-login #login input[type=submit] {
    float: right;
}


#content-overview table {
    margin-top: 10px;
}

#content-overview #versions-incompatible {
    margin-top: 20px;
}

#content-overview #versions-incompatible ul {
    margin: 0;
    padding: 0 0 0 20px;
}

#content-start table {
    margin-top: 10px;
}

#content-start table td input[type=checkbox] {
    margin-left: 2px;
}

/* Content migration */
.level1 {
    text-indent: 15px;
}
.level2 {
    text-indent: 30px;
}
.level3 {
    text-indent: 45px;
}
