<!-- START module_feed_newsml_overview.html -->
<form action="?cmd=feed&amp;act=newsML" method="post">
	<table cellspacing="0" cellpadding="0" width="100%" border="0" class="adminlist">
		<tbody>
			<tr>
				<th colspan="4">{TXT_FEED_NEWSML_CATEGORIES}</th>
			</tr>
			<tr class="row3">
				<td height="20"><b>{TXT_FEED_CATEGORY}</b></td>
				<td height="20"><b>{TXT_FEED_TEMPLATE_PLACEHOLDER}</b></td>
				<td height="20"><b>{TXT_FEED_NEWSML_PROVIDER}</b></td>
				<td height="20" style="text-align:right;"><b>{TXT_FEED_FUNCTIONS}</b></td>
			</tr>
			<!-- BEGIN feed_newsml_list -->
				<tr class="{FEED_NEWSML_LIST_ROW_CLASS}">
					<td height="20"><a href="index.php?cmd=feed&amp;act=newsML&amp;tpl=details&amp;providerId={FEED_NEWSML_CATEGORY_ID}">{FEED_NEWSML_NAME}</a></td>
					<td height="20">{FEED_NEWSML_PLACEHOLDER}</td>
					<td height="20">{FEED_NEWSML_PROVIDER}</td>
					<td height="20" style="text-align:right;"><a href="index.php?cmd=feed&amp;act=newsML&amp;tpl=details&amp;providerId={FEED_NEWSML_CATEGORY_ID}" title="{TXT_FEED_SHOW_DETAILS}"><img src="images/icons/details.gif" alt="{TXT_FEED_SHOW_DETAILS}" width="14" height="16" border="0" /></a><a href="index.php?cmd=feed&amp;act=newsML&amp;tpl=editCategory&amp;categoryId={FEED_NEWSML_CATEGORY_ID}" title="{TXT_FEED_EDIT_CATEGORY}"><img src="images/icons/edit.gif" width="16" height="16" alt="{TXT_FEED_EDIT_CATEGORY}" border="0" /></a><!--<a href="index.php?cmd=feed&amp;act=newsML&amp;tpl=deleteProvider&amp;providerId={FEED_NEWSML_CATEGORY_ID}"><img src="images/icons/delete.gif" width="17" height="17" border="0" /></a>--></td>
				</tr>
			<!-- END feed_newsml_list -->
		</tbody>
	</table>
	<br />
	<!--<input type="submit" value="Neuen Provider hinzufügen">-->
</form>
<!-- END module_feed_newsml_overview.html -->