<!-- START module_feed_newsml_edit_category.html -->
<form action="?cmd=feed&amp;act=newsML" method="post">
	<table cellspacing="0" cellpadding="0" width="100%" border="0" class="adminlist">
		<tbody>
			<tr>
				<th colspan="2">{FEED_CATEGORY_TITLE}</th>
			</tr>
			<tr class="row1">
				<td height="20" width="15%">{TXT_FEED_NAME}</td>
				<td height="20" width="85%"><input type="text" name="feedNewsMLCategoryName" value="{FEED_NEWSML_CATEGORY_NAME}" maxlength="40" /></td>
			</tr>
			<tr class="row2">
				<td height="20" width="15%">{TXT_FEED_NEWSML_PROVIDER}</td>
				<td height="20" width="85%">{FEED_NEWSML_PROVIDER_MENU}</td>
			</tr>
			<tr class="row1">
				<td height="20" width="15%">{TXT_FEED_NEWSML_SUBJECT_CODES}</td>
				<td height="20" width="85%">{FEED_NEWSML_SUBJECT_CODES_MENU}
				
				<!--<input type="checkbox" name="feedNewsMLSubjectCode" value="0" id="feedNewsMLSubjectCodeAll" /><label for="feedNewsMLSubjectCodeAll">Alle anzeigen</label>
				<input type="checkbox" name="feedNewsMLSubjectCode" value="0" id="feedNewsMLSubjectCodeOnly" /><label for="feedNewsMLSubjectCodeOnly">Nur angegebene anzeigen</label>
				<input type="checkbox" name="feedNewsMLSubjectCode" value="0" id="feedNewsMLSubjectCodeExclude" /><label for="feedNewsMLSubjectCodeExclude">Alle aussert die angegebenen nicht anzeigen</label>
				-->
				</td>
			</tr>
			<tr class="row2">
				<td height="20" width="15%">{TXT_FEED_NEWSML_MSG_COUNT}</td>
				<td height="20" width="85%"><input type="text" name="feedNewsMLCategoryMsgCount" value="{FEED_NEWSML_CATEGORY_MSG_COUNT}" /></td>
			</tr>
			<tr class="row1">
				<td height="20" style="vertical-align:top;" width="15%">{TXT_FEED_LAYOUT}</td>
				<td height="20" width="85%"><textarea name="feedNewsMLCategoryTemplate">{FEED_NEWSML_CATEGORY_TEMPLATE}</textarea></td>
			</tr>
		</tbody>
	</table>
	<br />
	<!--<input type="submit" value="Neuen Provider hinzufügen">-->
</form>
<!-- END module_feed_newsml_edit_category.html -->