<!-- START module_mediadir_settings_global.html -->
<script language="JavaScript" type="text/javascript">

var lastInputfieldId = {MEDIADIR_SETTINGS_INPUTFIELD_LASTID};

function addInputfield()
{
    //count tabel rows for row class
    numRows = (document.getElementById('inputfieldContainer').getElementsByTagName('TR').length);

    if (numRows % 2 == 0) {
        rowClass = 'row1';
    } else {
        rowClass = 'row2';
    }

    //coppy last inputfield
    cloneInputfield = document.getElementById('inputfield_3').cloneNode(true);

    //change ids from cloned inpudfield
    cloneInputfield.setAttribute('id', 'inputfield_' + (lastInputfieldId+1));
    cloneInputfield.setAttribute('class', rowClass);

    //insert new inputfield row
	document.getElementById('inputfieldContainer').appendChild(cloneInputfield);

	//change attributes from cloned inputfield
	newInputfield = document.getElementById('inputfield_' + (lastInputfieldId+1));

    for (i = 0; i < newInputfield.getElementsByTagName('Input').length; ++i) {
        var inputfieldName = newInputfield.getElementsByTagName('Input')[i].name;

        if (inputfieldName == 'inputfieldId[3]') {
            newInputfield.getElementsByTagName('Input')[i].setAttribute('name', 'inputfieldId[' + (lastInputfieldId+1) + ']');
            newInputfield.getElementsByTagName('Input')[i].value = (lastInputfieldId+1);
        }

        if (inputfieldName == 'inputfieldOrder[3]') {
            newInputfield.getElementsByTagName('Input')[i].setAttribute('name', 'inputfieldOrder[' + (lastInputfieldId+1) + ']');
            newInputfield.getElementsByTagName('Input')[i].value = 0;
        }

        var reg = new RegExp('inputfieldName\\[3\\]');

        if (inputfieldName.match(reg)) {
            newInputfieldName = inputfieldName.split('inputfieldName[3]').join('inputfieldName[' + (lastInputfieldId+1) + ']');

            newInputfield.getElementsByTagName('Input')[i].setAttribute('name', newInputfieldName);
            newInputfield.getElementsByTagName('Input')[i].value = '';
        }

        var reg = new RegExp('inputfieldDefaultvalue\\[3\\]');

        if (inputfieldName.match(reg)) {
            newInputfieldName = inputfieldName.split('inputfieldDefaultvalue[3]').join('inputfieldDefaultvalue[' + (lastInputfieldId+1) + ']');

            newInputfield.getElementsByTagName('Input')[i].setAttribute('name', newInputfieldName);
            newInputfield.getElementsByTagName('Input')[i].value = '';
        }

        if (inputfieldName == 'inputfieldMustfield[3]') {
            newInputfield.getElementsByTagName('Input')[i].setAttribute('name', 'inputfieldMustfield[' + (lastInputfieldId+1) + ']');
            newInputfield.getElementsByTagName('Input')[i].checked = false;
        }

        if (inputfieldName == 'inputfieldExpSearch[3]') {
            newInputfield.getElementsByTagName('Input')[i].setAttribute('name', 'inputfieldExpSearch[' + (lastInputfieldId+1) + ']');
            newInputfield.getElementsByTagName('Input')[i].checked = false;
        }
    }

    for (i = 0; i < newInputfield.getElementsByTagName('Select').length; ++i) {
        var inputfieldName = newInputfield.getElementsByTagName('Select')[i].name;

        newInputfield.getElementsByTagName('Select')[i].selectedIndex  = 0;

        if (inputfieldName == 'inputfieldType[3]') {
            newInputfield.getElementsByTagName('Select')[i].setAttribute('name', 'inputfieldType[' + (lastInputfieldId+1) + ']');
        }

        if (inputfieldName == 'inputfieldShow[3]') {
            newInputfield.getElementsByTagName('Select')[i].setAttribute('name', 'inputfieldShow[' + (lastInputfieldId+1) + ']');
        }

        if (inputfieldName == 'inputfieldVerification[3]') {
            newInputfield.getElementsByTagName('Select')[i].setAttribute('name', 'inputfieldVerification[' + (lastInputfieldId+1) + ']');
        }
    }

    newInputfield.getElementsByTagName('Div')[0].setAttribute('id', 'inputfieldName_' + (lastInputfieldId+1) + '_Minimized');
    newInputfield.getElementsByTagName('Div')[1].setAttribute('id', 'inputfieldName_' + (lastInputfieldId+1) + '_Expanded');
    newInputfield.getElementsByTagName('Div')[2].setAttribute('id', 'inputfieldDefaultvalue_' + (lastInputfieldId+1) + '_Minimized');
    newInputfield.getElementsByTagName('Div')[3].setAttribute('id', 'inputfieldDefaultvalue_' + (lastInputfieldId+1) + '_Expanded');
    newInputfield.getElementsByTagName('Div')[4].setAttribute('id', 'inputfieldLanguages_' + (lastInputfieldId+1) + '_Minimized');
    newInputfield.getElementsByTagName('Div')[5].setAttribute('id', 'inputfieldLanguages_' + (lastInputfieldId+1) + '_Expanded');
    newInputfield.getElementsByTagName('A')[2].setAttribute('href', "javascript:ExpandMinimizeInputfields('inputfieldName', '" + (lastInputfieldId+1) + "'); ExpandMinimizeInputfields('inputfieldDefaultvalue', '" + (lastInputfieldId+1) + "'); ExpandMinimizeInputfields('inputfieldLanguages', '" + (lastInputfieldId+1) + "');");
    newInputfield.getElementsByTagName('A')[2].setAttribute('id', 'inputfieldExpand_' + (lastInputfieldId+1));
    newInputfield.getElementsByTagName('A')[3].setAttribute('href', "javascript:ExpandMinimizeInputfields('inputfieldName', '" + (lastInputfieldId+1) + "'); ExpandMinimizeInputfields('inputfieldDefaultvalue', '" + (lastInputfieldId+1) + "'); ExpandMinimizeInputfields('inputfieldLanguages', '" + (lastInputfieldId+1) + "');");
    newInputfield.getElementsByTagName('A')[3].setAttribute('id', 'inputfieldMinimize_' + (lastInputfieldId+1));
    newInputfield.getElementsByTagName('A')[4].setAttribute('id', 'inputfieldDelete_' + (lastInputfieldId+1));
    newInputfield.getElementsByTagName('A')[4].setAttribute('href', "javascript:removeInputfield('" + (lastInputfieldId+1) + "');");

	//set new last inputfield id
	lastInputfieldId = lastInputfieldId + 1;
}

function removeInputfield(id)
{
    if (id != 3) {
       //document.getElementById('inputfieldContainer').removeChild(document.getElementById('inputfield_' + id));
	   document.getElementById('inputfield_'+id).innerHTML = "";
    } else {
        alert('{TXT_MEDIADIR_SETTINGS_INPUTFIELD_SYSTEM_FIELD_CANT_DELETE}')
    }
}

function ExpandMinimizeInputfields(toggle, id) {

    var pattern = /^inputfieldLanguages/;
    var reg = new RegExp(pattern);

    if (!toggle.match(reg)) {
        var masterValue = document.getElementsByName(toggle + '[' + id + '][0]')[0].value;
        var defaultValue = document.getElementsByName(toggle + '[' + id + '][{MEDIADIR_SETTINGS_INPUTFIELDS_DEFAULT_LANG_ID}]')[0].value;

        var reg = new RegExp(toggle + '\\[' + id + '\\]');

    	for (i = 0; i < document.settingsInputfieldsForm.elements.length; ++i) {
            var field = document.settingsInputfieldsForm.elements[i];

            if (field.name.match(reg)) {
    			if (field.value == '') {
    			    field.value = masterValue;
    			}

    			var regDefaultLang = new RegExp(toggle + '\\[' + id + '\\]\\[{MEDIADIR_SETTINGS_INPUTFIELDS_DEFAULT_LANG_ID}\\]');

    			if (field.name.match(regDefaultLang)) {
    			    field.value = masterValue;
    			}

    			var regMaster = new RegExp(toggle + '\\[' + id + '\\]\\[0\\]');

    			if (field.name.match(regMaster)) {
    			    field.value = defaultValue;
    			}
            }
        }
    }

    elm1 = document.getElementById(toggle + '_' + id + '_Minimized');
    elm2 = document.getElementById(toggle + '_' + id + '_Expanded');

    elm1.style.display = (elm1.style.display=='none') ? 'block' : 'none';
    elm2.style.display = (elm2.style.display=='none') ? 'block' : 'none';
}

function ExpandMinimizeForm(toggle){
    if (toggle == 'formName') {
        var pattern = /^formName/;
    } else {
        var pattern = /^formDescription/;
    }

    var reg = new RegExp(pattern);

    var masterValue = document.getElementsByName(toggle + '[0]')[0].value;
    var defaultValue = document.getElementsByName(toggle + '[{MEDIADIR_SETTINGS_FORM_DEFAULT_LANG_ID}]')[0].value;

	for (i = 0; i < document.settingsInputfieldsForm.elements.length; ++i) {
        var field = document.settingsInputfieldsForm.elements[i];

        if (field.name.match(reg)) {
			if (field.value == '') {
			    field.value = masterValue;
			}

			var regDefaultLang = new RegExp(toggle + '\\[{MEDIADIR_SETTINGS_FORM_DEFAULT_LANG_ID}\\]');

			if (field.name.match(regDefaultLang)) {
			    field.value = masterValue;
			}

			var regMaster = new RegExp(toggle + '\\[0\\]');

			if (field.name.match(regMaster)) {
			    field.value = defaultValue;
			}
        }
    }

    elm1 = document.getElementById(toggle + 'Minimized');
    elm2 = document.getElementById(toggle + 'Expanded');

    elm1.style.display = (elm1.style.display=='none') ? 'block' : 'none';
    elm2.style.display = (elm2.style.display=='none') ? 'block' : 'none';
}

function SetUrl(url, width, height, alt) {
	switch (fileType) {
    	case 'image':
    	case 'webpages':
    		document.getElementById(insertBox).value = url;
    		break
    	case 'link':
    		if (insertText == '') {
    			insertText = url;
    		}
    		newsInsertLink(document.getElementById(insertBox), '<a href="'+url+'">'+insertText+'</a>');
    		break;
	}
}

function getFileBrowser(name, type)
{
	insertBox = name;
	fileType = type;

	if (type == 'link') {
		insertText = prompt('{TXT_NEWS_DEFINE_LINK_ALT_TEXT}', '');
		if (insertText == null) {
			return false;
		}
	}

	if (type == 'webpages') {
		openWindow('?cmd=fileBrowser&standalone=true&type=webpages','','width=800,height=600,resizable=yes,status=no,scrollbars=yes');
	} else {
		openWindow('?cmd=fileBrowser&standalone=true','','width=800,height=600,resizable=yes,status=no,scrollbars=yes');
	}
}

function openWindow(theURL,winName,features){
	browserPopup = window.open(theURL,"Browser",features);
	browserPopup.focus();
}

Style[0]=["","","","","",,"black","#ffffe1","","","",,,,1,"#000000",2,21,0.3,,2,"gray",1,,15,-5];
Text[0]=['','{TXT_MEDIADIR_SETTINGS_SHOW_CATEGORY_DESC_INFO}'];

</script>

<form name="settingsInputfieldsForm" action="index.php?cmd=mediadir&act=settings&tpl=inputfields" method="post" >
    <input name="formId" type="hidden" value="{MEDIADIR_FORM_ID}" />
    <table border="0" cellpadding="3" cellspacing="0" width="100%" class="adminlist" id="formContainer">
        <tbody>
            <tr>
                <th colspan="11">{TXT_MEDIADIR_PAGE_TITLE}</th>
            </tr>
            <tr class="row1">
                <td valign="top" width="200">{TXT_MEDIADIR_NAME}</td>
                <td>
                    <div id="formNameMinimized" style="display: block;">
                        <input name="formName[0]" type="text" style="width: 300px" value="{MEDIADIR_FORM_NAME_MASTER}" />&nbsp;<a href="javascript:ExpandMinimizeForm('formName');">{TXT_MEDIADIR_MORE}&nbsp;&raquo;</a><br />
                    </div>
                    <div id="formNameExpanded" style="display: none;">
                        <!-- BEGIN mediadirFormNameList -->
                        <input name="formName[{MEDIADIR_FORM_NAME_LANG_ID}]" type="text" style="width: 279px; margin-bottom: 2px; padding-left: 21px; background: #ffffff url('images/flags/flag_{TXT_MEDIADIR_FORM_NAME_LANG_SHORTCUT}.gif') no-repeat 3px 3px;" title="{TXT_MEDIADIR_FORM_NAME_LANG_NAME}" value="{MEDIADIR_FORM_NAME}" />&nbsp;{TXT_MEDIADIR_FORM_NAME_LANG_NAME}&nbsp;&nbsp;&nbsp;{MEDIADIR_MINIMIZE}<br />
                        <!-- END mediadirFormNameList -->
                    </div>
                </td>
            </tr>
            <tr class="row2">
                <td valign="top">{TXT_MEDIADIR_DESCRIPTION}</td>
                <td>
                    <div id="formDescriptionMinimized" style="display: block;">
                        <textarea name="formDescription[0]" style="width: 300px; height: 50px;" >{MEDIADIR_FORM_DESCRIPTION_MASTER}</textarea>&nbsp;<a href="javascript:ExpandMinimizeForm('formDescription');">{TXT_MEDIADIR_MORE}&nbsp;&raquo;</a>
                    </div>
                    <div id="formDescriptionExpanded" style="display: none;">
                        <!-- BEGIN mediadirFormDescriptionList -->
                        <textarea name="formDescription[{MEDIADIR_FORM_DESCRIPTION_LANG_ID}]" style="height: 50px; width: 279px; margin-bottom: 2px; padding-left: 21px; background: #ffffff url('images/flags/flag_{TXT_MEDIADIR_FORM_DESCRIPTION_LANG_SHORTCUT}.gif') no-repeat 3px 3px;" title="{TXT_MEDIADIR_FORM_DESCRIPTION_LANG_NAME}" >{MEDIADIR_FORM_DESCRIPTION}</textarea>&nbsp;{TXT_MEDIADIR_FORM_DESCRIPTION_LANG_NAME}&nbsp;&nbsp;&nbsp;{MEDIADIR_MINIMIZE}<br />
                        <!-- END mediadirFormDescriptionList -->
                    </div>
                </td>
            </tr>
            <tr class="row1">
                <td valign="top">{TXT_MEDIADIR_PICTURE}</td>
                <td>{MEDIADIR_FORM_PICTURE_THUMB}<input type="text" name="formImage" value="{MEDIADIR_FORM_PICTURE}" id="formImage2" style="width: 300px;" />&nbsp;<input type="button" value="{TXT_MEDIADIR_BROWSE}" onClick="getFileBrowser('formImage2', 'image')" /></td>
            </tr>
        </tbody>
    </table>

    <br />
    <ul id="tabmenu">
          <li><a class="active" id="mediadirTab_inputfields" href="javascript:{}" onclick="selectTab('inputfields')" title="">{TXT_MEDIADIR_SETTINGS_INPUTFIELDS}</a></li>
          <li><a id="mediadirTab_placeholders" href="javascript:{}" onclick="selectTab('placeholders')" title="">{TXT_MEDIADIR_SETTINGS_PLACEHOLDER}</a></li>
    </ul>

    <div id="inputfields" class="mediadirTab" style="display: block;">
        <table border="0" cellpadding="3" cellspacing="0" width="100%" class="adminlist" id="inputfieldContainer">
            <tbody>
                <tr>
                    <th colspan="11">{TXT_MEDIADIR_SETTINGS_INPUTFIELDS}</th>
                </tr>
                <tr class="row3">
                    <td style="width: 30px;" nowrap="nowrap"><strong>{TXT_MEDIADIR_SETTINGS_INPUTFIELDS_ID}&nbsp;</strong></td>
                    <td style="width: 79px;" nowrap="nowrap"><strong>{TXT_MEDIADIR_SETTINGS_INPUTFIELDS_SORT}&nbsp;</strong></td>
                    <td style="width: 208px;" nowrap="nowrap"><strong>{TXT_MEDIADIR_SETTINGS_INPUTFIELDS_NAME}&nbsp;</strong></td>
                    <td style="width: 146px;" nowrap="nowrap"><strong>{TXT_MEDIADIR_SETTINGS_INPUTFIELDS_TYPE}&nbsp;</strong></td>
                    <td style="width: 126px;" nowrap="nowrap"><strong>{TXT_MEDIADIR_SETTINGS_FIELD_SHOW_IN}&nbsp;</strong></td>
                    <td style="width: 208px;" nowrap="nowrap"><strong>{TXT_MEDIADIR_SETTINGS_INPUTFIELDS_DEFAULTVALUE}&nbsp;</strong></td>
                    <td style="width: 126px;" nowrap="nowrap"><strong>{TXT_MEDIADIR_SETTINGS_INPUTFIELDS_CHECK}&nbsp;</strong></td>
                    <td style="width: 61px;" nowrap="nowrap"><strong>{TXT_MEDIADIR_SETTINGS_INPUTFIELDS_MUSTFIELD}&nbsp;</strong></td>
                    <td style="width: 61px;" nowrap="nowrap"><strong>{TXT_MEDIADIR_SETTINGS_INPUTFIELDS_EXP_SEARCH}&nbsp;</strong></td>
                    <td style="width: 100%;" nowrap="nowrap"><br /></td>
                    <td style="text-align: right; width: 56px;"><strong>{TXT_MEDIADIR_SETTINGS_INPUTFIELDS_ACTION}</strong></td>
                </tr>

                <!-- BEGIN mediadirInputfieldList -->
                <tr class="{MEDIADIR_SETTINGS_INPUTFIELD_ROW_CLASS}" id="inputfield_{MEDIADIR_SETTINGS_INPUTFIELD_ID}">

                    <!-- BEGIN mediadirInputfield -->
                        <td valign="top">
                            <input name="inputfieldId[{MEDIADIR_SETTINGS_INPUTFIELD_ID}]" style="width: 20px;" readonly="readonly" type="text" value="{MEDIADIR_SETTINGS_INPUTFIELD_ID}" />
                        </td>
                        <td valign="top" style="text-align: center;">
                            <input name="inputfieldOrder[{MEDIADIR_SETTINGS_INPUTFIELD_ID}]" style="width: 20px;" type="text" value="{MEDIADIR_SETTINGS_INPUTFIELD_ORDER}" onfocus="this.select();" />&nbsp;
                            <a href="#" id="" title=""><img style="vertical-align: middle;" src="images/icons/up.gif" alt="" width="14" border="0" height="12"></a>
                            <a href="#" id="" title=""><img style="vertical-align: middle;" src="images/icons/down.gif" alt="" width="14" border="0" height="12"></a>
                		</td>
                        <td valign="top" nowrap="nowrap">
                            <div id="inputfieldName_{MEDIADIR_SETTINGS_INPUTFIELD_ID}_Minimized" style="display: block;">
                                <input name="inputfieldName[{MEDIADIR_SETTINGS_INPUTFIELD_ID}][0]" maxlength="255" type="text" style="width: 200px;" value="{MEDIADIR_SETTINGS_INPUTFIELD_NAME_MASTER}" />
                            </div>
                            <div id="inputfieldName_{MEDIADIR_SETTINGS_INPUTFIELD_ID}_Expanded" style="display: none;">
                                <!-- BEGIN mediadirInputfieldNameList -->
                                    <input name="inputfieldName[{MEDIADIR_SETTINGS_INPUTFIELD_ID}][{MEDIADIR_INPUTFIELD_NAME_LANG_ID}]" maxlength="255" type="text" style="width: 179px; margin-bottom: 2px; padding-left: 21px; background: #ffffff url('images/flags/flag_{MEDIADIR_INPUTFIELD_NAME_LANG_SHORTCUT}.gif') no-repeat 3px 3px;" title="{MEDIADIR_INPUTFIELD_NAME_LANG_NAME}" value="{MEDIADIR_SETTINGS_INPUTFIELD_NAME}" /><br />
                                <!-- END mediadirInputfieldNameList -->
                            </div>
                        </td>
                        <td valign="top">
                            <select name="inputfieldType[{MEDIADIR_SETTINGS_INPUTFIELD_ID}]" style="width: 140px">
                                {MEDIADIR_SETTINGS_INPUTFIELD_TYPE}
                            </select>
                        </td>
                        <td valign="top">
                            <select name="inputfieldShow[{MEDIADIR_SETTINGS_INPUTFIELD_ID}]" style="width: 120px">
                                {MEDIADIR_SETTINGS_INPUTFIELD_SHOW}
                            </select>
                        </td>
                        <td valign="top">
                            <div id="inputfieldDefaultvalue_{MEDIADIR_SETTINGS_INPUTFIELD_ID}_Minimized" style="display: block;">
                                <input name="inputfieldDefaultvalue[{MEDIADIR_SETTINGS_INPUTFIELD_ID}][0]" type="text" style="width: 200px;" value="{MEDIADIR_SETTINGS_INPUTFIELD_DEFAULTVALUE_MASTER}" />
                            </div>
                            <div id="inputfieldDefaultvalue_{MEDIADIR_SETTINGS_INPUTFIELD_ID}_Expanded" style="display: none;">
                                <!-- BEGIN mediadirInputfieldDefaultvalueList -->
                                    <input name="inputfieldDefaultvalue[{MEDIADIR_SETTINGS_INPUTFIELD_ID}][{MEDIADIR_INPUTFIELD_DEFAULTVALUE_LANG_ID}]" type="text" style="width: 179px; margin-bottom: 2px; padding-left: 21px; background: #ffffff url('images/flags/flag_{MEDIADIR_INPUTFIELD_DEFAULTVALUE_LANG_SHORTCUT}.gif') no-repeat 3px 3px;" title="{MEDIADIR_INPUTFIELD_DEFAULTVALUE_LANG_NAME}" value="{MEDIADIR_SETTINGS_INPUTFIELD_DEFAULTVALUE}" /><br />
                                <!-- END mediadirInputfieldDefaultvalueList -->
                            </div>
                        </td>
                        <td valign="top">
                            <select name="inputfieldVerification[{MEDIADIR_SETTINGS_INPUTFIELD_ID}]" style="width: 120px">
                                {MEDIADIR_SETTINGS_INPUTFIELD_VERIFICATION}
                            </select>
                        </td>
                        <td valign="top" style="text-align: center;">
                            <input name="inputfieldMustfield[{MEDIADIR_SETTINGS_INPUTFIELD_ID}]" {MEDIADIR_SETTINGS_INPUTFIELD_MUSTFIELD} type="checkbox" value="1" />
                        </td>
                        <td valign="top" style="text-align: center;">
                            <input name="inputfieldExpSearch[{MEDIADIR_SETTINGS_INPUTFIELD_ID}]" {MEDIADIR_SETTINGS_INPUTFIELD_EXP_SEARCH} type="checkbox" value="1" />
                        </td>
                        <td valign="top" nowrap="nowrap" style="line-height: 19px;">
                            <div id="inputfieldLanguages_{MEDIADIR_SETTINGS_INPUTFIELD_ID}_Minimized" style="display: block;">
                                <a id="inputfieldExpand_{MEDIADIR_SETTINGS_INPUTFIELD_ID}" href="javascript:ExpandMinimizeInputfields('inputfieldName', '{MEDIADIR_SETTINGS_INPUTFIELD_ID}'); ExpandMinimizeInputfields('inputfieldDefaultvalue', '{MEDIADIR_SETTINGS_INPUTFIELD_ID}'); ExpandMinimizeInputfields('inputfieldLanguages', '{MEDIADIR_SETTINGS_INPUTFIELD_ID}');">Erweitert&nbsp;&raquo;</a>
                            </div>
                            <div id="inputfieldLanguages_{MEDIADIR_SETTINGS_INPUTFIELD_ID}_Expanded" style="display: none;">
                                <!-- BEGIN mediadirInputfieldLanguagesList -->
                                    {MEDIADIR_INPUTFIELD_LANG_NAME}&nbsp;&nbsp;&nbsp;{MEDIADIR_INPUTFIELD_MINIMIZE}<br />
                                <!-- END mediadirInputfieldLanguagesList -->
                            </div>
                        </td>
                        <td style="text-align: right;" valign="top">
                            <a href="javascript:removeInputfield('{MEDIADIR_SETTINGS_INPUTFIELD_ID}');" id="inputfieldDelete_{MEDIADIR_SETTINGS_INPUTFIELD_ID}" title="{TXT_MEDIADIR_DELETE}"><img style="vertical-align: middle;" src="images/icons/delete.gif" alt="{TXT_MEDIADIR_DELETE}" width="17" border="0" height="17"></a>
                        </td>
                        <!-- END mediadirInputfield -->

                        <!-- BEGIN mediadirSelector -->
                        <td valign="top">
                            <input name="selectorId[{MEDIADIR_SETTINGS_SELECTOR_ID}]" style="width: 20px;" readonly="readonly" type="text" value="{MEDIADIR_SETTINGS_SELECTOR_ID}" />
                        </td>
                        <td valign="top" style="text-align: center;">
                            <input name="selectorOrder[{MEDIADIR_SETTINGS_SELECTOR_ID}]" style="width: 20px;" type="text" value="{MEDIADIR_SETTINGS_SELECTOR_ORDER}" onfocus="this.select();" />&nbsp;
                            <a href="#" id="" title=""><img style="vertical-align: middle;" src="images/icons/up.gif" alt="" width="14" border="0" height="12"></a>
                            <a href="#" id="" title=""><img style="vertical-align: middle;" src="images/icons/down.gif" alt="" width="14" border="0" height="12"></a>
                		</td>
                        <td valign="top" nowrap="nowrap" colspan="9">
                            {MEDIADIR_SETTINGS_SELECTOR_NAME}
                        </td>
                        <!-- END mediadirSelector -->
                </tr>
                <!-- END mediadirInputfieldList -->
            </tbody>
        </table>
        <input style="margin-left: 99px; margin-top: 5px;" type="button" onclick="addInputfield();" name="addField" value="{TXT_MEDIADIR_SETTINGS_INPUTFIELDS_ADD_NEW}" /><br />
    </div>

    <div id="placeholders" class="mediadirTab" style="display: none;">
        <table border="0" cellpadding="3" cellspacing="0" width="100%" class="adminlist">
            <tr>
                <th colspan="8">Platzhalter</th>
            </tr>
            <tr class="row3">
                <td>Verfügbare Platzhalter und Blöcke für alle Eingabefelder. Diese Platzhalter ünd Blöcke können frei verwendet werden und werden geparst, sobald das entsprechende Eingabefeld Inhalt enthält.</td>
            </tr>
            <tr>
                <td>
                    <br />
                    <!-- BEGIN mediadirInputfieldPlaceholderList -->
                        {MEDIADIR_SETTINGS_INPUTFIELD_DESCRIPTION}:<br />
                        <pre style="background-color:#f1f1f1; border: 1px solid #cccccc; margin: 3px 10px 15px 10px; padding: 5px;">&lt;!-- BEGIN mediadir_inputfield_{MEDIADIR_SETTINGS_INPUTFIELD_ID} --&gt;
    &nbsp;&nbsp;&nbsp;&nbsp;{MEDIADIR_SETTINGS_INPUTFIELD_PLACEHOLDERS}
    &lt;!-- END mediadir_inputfield_{MEDIADIR_SETTINGS_INPUTFIELD_ID} --&gt;</pre>
                    <!-- END mediadirInputfieldPlaceholderList -->
                    <br />
                </td>
            </tr>
            <tr class="row3">
                <td>Globaler Block für sämtliche Eingabefelder. Dieser Block parst automatisch alle ausgefüllten Eingabefelder in der definierten Reihenfolgen</td>
            </tr>
            <tr>
                <td>
                    <pre style="background-color:#f1f1f1; border: 1px solid #cccccc; margin: 10px 10px 15px 10px; padding: 5px;">&lt;!-- BEGIN mediadir_inputfields --&gt;
    &nbsp;&nbsp;&nbsp;&nbsp;[[TXT_MEDIADIR_INPUTFIELD_NAME]]&nbsp;[[MEDIADIR_INPUTFIELD_VALUE]]
    &lt;!-- END mediadir_inputfields --&gt;</pre>
                </td>
            </tr>
        </table>
    </div>
    <br />
    <input type="submit" name="submitSettingsForm" value="{TXT_MEDIADIR_SUBMIT}" />
</form>

<!-- END module_mediadir_settings_global.html -->
