<div id="recommend">
    <div class="status">{RECOM_STATUS}</div>
    <!-- BEGIN recommend_form -->
    {RECOM_SCRIPT}
    <div class="text">{RECOM_TEXT}</div>
    <div class="form">
        <form id="recommendForm" name="recommend" method="post" action="index.php?section=Recommend&amp;act=sendRecomm">
            <input type="hidden" value="$html_encode({RECOM_REFERER})" name="uri" />
            <input type="hidden" value="{RECOM_FEMALE_SALUTATION_TEXT}" name="female_salutation_text" />
            <input type="hidden" value="{RECOM_MALE_SALUTATION_TEXT}" name="male_salutation_text" />
            <input type="hidden" value="{RECOM_PREVIEW}" name="preview_text" />
            <p><label for="receivername">{RECOM_TXT_RECEIVER_NAME}</label>
                <input type="text" onchange="recommendUpdate();" value="{RECOM_RECEIVER_NAME}" maxlength="100" name="receivername" />
            </p>
            <p><label for="receivermail">{RECOM_TXT_RECEIVER_MAIL}</label>
                <input type="text" onchange="recommendUpdate();" value="{RECOM_RECEIVER_MAIL}" maxlength="100" name="receivermail" />
            </p>
            <p><label>{RECOM_TXT_GENDER}</label>
                <span class="radio">
                    <label class="description" for="female">
                        <input type="radio" onclick="recommendUpdate();" value="female" name="gender" id="female" />
                        {RECOM_TXT_FEMALE}
                    </label>
                </span>
            </p>
            <p>
                <span class="radio">
                    <label class="description" for="male">
                        <input type="radio" onclick="recommendUpdate();" value="male" name="gender" id="male" />
                        {RECOM_TXT_MALE}
                    </label>
                </span>
            </p>
            <p><label for="sendername">{RECOM_TXT_SENDER_NAME}</label>
                <input type="text" onchange="recommendUpdate();" value="{RECOM_SENDER_NAME}" maxlength="100" name="sendername" />
            </p>
            <p><label for="sendermail">{RECOM_TXT_SENDER_MAIL}</label>
                <input type="text" onchange="recommendUpdate();" value="{RECOM_SENDER_MAIL}" maxlength="100" name="sendermail" />
            </p>
            <p><label for="comment">{RECOM_TXT_COMMENT}</label>
                <textarea rows="1" cols="1" onchange="recommendUpdate();" name="comment">{RECOM_COMMENT}</textarea>
            </p>
            <p><label for="preview">{RECOM_TXT_PREVIEW}</label>
                <textarea rows="1" cols="1" name="preview"></textarea>
            </p>
            <p>
                <!-- BEGIN recommend_captcha -->
                <label for="captchaCode">{RECOM_TXT_CAPTCHA}</label>
            </p>
            <div id="contactFormCaptcha">
                {RECOM_CAPTCHA_CODE}
            </div>
            <!-- END recommend_captcha -->

            <p><input class="btn btn-default" type="submit" value="{TXT_RECOMMEND_SEND}" />
                <input class="btn btn-default" type="reset" value="{TXT_RECOMMEND_DELETE}" />
            </p>
        </form>
    </div>
    <!-- END recommend_form -->
</div>
