<!-- START module_knowledge_articles_overview_articlelist.html --> 
<!-- BEGIN content -->

<!--
<table>
    <thead>
        <tr>
            <th>{CATEGORY}</th>
        </tr>
    </thead>
</table>-->
<div style="min-height: 1%; height: 1%; float:left; width: 100%;">
    <table style="width: 100%; font-weight: bold;" class="adminlist" cellspacing="0" cellpadding="3">
        <tr>
            <th colspan="6">
                <div >{TXT_CATEGORY_NAME}</div>
            </th>
        </tr>
        <tr class="row3">
            <td style="width: 75px;">{TXT_SORT}</td>
            <td style="width: 50px;">{TXT_STATE}</td>
            <td>{TXT_QUESTION}</td>
            <td style="width: 50px;">{TXT_HITS}</td>
            <td style="width: 180px;">{TXT_RATING}</td>
            <td style="width: 50px;">{TXT_ACTIONS}</td>
        </tr>
    </table>
    <ul id="articlelist">
        <!-- BEGIN row -->
        <li id="article_{ARTICLEID}">
            <table style="width: 100%;">
                <tr>
                    <td class="drag_handle" style="width: 75px;" onmousedown="lastDragged={ARTICLEID}; handlerEvent();">
                        <img src="../images/modules/knowledge/sort.gif" style="boder: none;" />
                    </td>
                    <td style="width: 50px;">
                        <a href="javascript: void(0);" onclick="switchActive({ARTICLEID}, this, {ACTIVE_STATE})">
                           <img src="images/icons/led_{CATEGORY_ACTIVE_LED}.gif"  alt="switch active state" style="border: none;" />
                        </a>
                    </td>
                    <td style="padding-right: 15px;"><a href="index.php?cmd=knowledge{MODULE_INDEX}&amp;section=articles&amp;act=edit&amp;id={ARTICLEID}">{QUESTION}</a></td>
                    <td style="width: 50px;">
                        {HITS}
                    </td>
                    <td style="width: 180px;">
                        <div id="rating{ARTICLEID}"></div>
                        <script type="text/javascript">
                            /* <![CDATA[ */
                            var rating{ARTICLEID} = new Rating({ARTICLEID}, {VOTEVALUE}, {
                                stars : {MAX_RATING},
                                locked : true,
                                starPath : '../images/modules/knowledge/'
                            });
                            /* ]]> */
                        </script>
                    </td>
                    <td style="width: 50px; text-align: right;">
                        <a href="index.php?cmd=knowledge{MODULE_INDEX}&amp;section=articles&amp;act=edit&amp;id={ARTICLEID}" title="{TXT_IMGALT_EDIT}">
                            <img src="images/icons/edit.gif" border="0" alt="{TXT_IMGALT_EDIT}" title="{TXT_IMGALT_EDIT}" />
                        </a>
                        
    					<a href="javascript:deleteArticle({ARTICLEID});" title="{TXT_DELETE_CATEGORY}">
    					   <img src="images/icons/delete.gif" border="0" alt="{TXT_DELETE_CATEGORY}" title="{TXT_DELETE_CATEGORY}" />
    				    </a> 
                    </td>
                </tr>
            </table>
        </li>
        <!-- END row -->
        
        <!-- BEGIN no_articles -->
        <li>
            {TXT_NO_ARTICLES}
        </li>   
        <!-- END no_articles -->
    </ul>
   <!--<ul id="articlelist">
        <li>
            <div class="drag_area">drag</div>
            Testblabal
            <ul id="article2">
                <li><div class="drag_area2">drag</div>unter halb</li>
                <li><div class="drag_area2">drag</div>blah</li>
            </ul>
        </li>
        <li>
            <div class="drag_area">drag</div>
            zweitens
        </li>
        <li>
        <div class="drag_area">drag</div>
            drittens
            <ul id="article3">
                <li><div class="drag_area3">drag</div>unter</li>
                <li><div class="drag_area3">drag</div>test</li>
            </ul>
        </li>
    </ul>-->
</div>

<!-- BEGIN jsinit -->
<!-- parsed only when neede because the content is not given through ajax -->

<script type="text/javascript">
/* <![CDATA[  */

setRows();
initSortableArea();

/* ]]> */
</script>

<!-- END jsinit -->

{PAGING}
<!-- END content -->

<!-- END module_knowledge_articles_overview_articlelist.html -->
