<!-- START module_catalog_overview.html -->

<script type="text/javascript">
<!-- //
function confirmDelete(id) {
  confirmation = confirm("Möchten Sie diesen Eintrag unwiederuflich löschen?")
  if(confirmation == true) {
    location.href = "index.php?cmd=catalog&act=delete&id="+id;
  }
}
// -->
</script>

<form action="index.php?cmd=catalog" method="post">
  <table class="adminlist" cellspacing="0" cellpadding="3" width="100%" border="0">
    <tr>
      <th colspan="5">Einträge verwalten</th>
    </tr>
    <tr>
      <td width="5%"><strong>Status</strong></td>
      <td width="5%"><strong>Reihenfolge</strong></td>
      <td width="40%"><strong>Titel</strong></td>
      <td width="47%"><strong>Beschreibung</strong></td>
      <td width="3%"><strong>Aktion</strong></td>
    </tr>
    <!-- BEGIN catalog_row -->
    <tr class="{ROW_CLASS}">
      <td><a href="index.php?cmd=catalog&amp;act=changeStatus&amp;status={STATUS_X}&amp;id={CATALOG_ID}"><img src="images/icons/led_{STATUS}.gif" alt="led_{STATUS}.gif" border="0" /></a></td>
      <td><input style="width:30px;" type="text" name="arrSortOrder[{CATALOG_ID}]" value="{SORTORDER}" /></td>
      <td>{TITLE}</td>
      <td>{DESCRIPTION}</td>
      <td>
        <a href="index.php?cmd=catalog&amp;act=edit&amp;id={CATALOG_ID}"><img src="images/icons/edit.gif" alt="images/icons/edit.gif" border="0" /></a>
        <a href="javascript:confirmDelete('{CATALOG_ID}');"><img src="images/icons/delete.gif" alt="images/icons/delete.gif" border="0" /></a>
      </td>
    </tr>
    <!-- END catalog_row -->
  </table><br />
  <br />
  <input type="submit" name="save" value="speichern" />
</form>

<!-- END module_catalog_overview.html -->
