<div id="u2u">
    <!-- BEGIN delete_information -->
    <div class="message_ok">
        {PRIVATE_MESSAGE_DELETE_SUCCESS}</div>
    <!-- END delete_information -->
    <div class="addressbook table-responsive">
        <table class="table">
            <tbody>
                <tr>
                    <th style="width: 30%;">
                        {TXT_U2U_NICK_NAME}</th>
                    <th style="width: 25%;">
                        {TXT_U2U_CITY}</th>
                    <th style="width: 35%;">
                        {TXT_U2U_EMAIL}</th>
                    <th style="width: 10%; text-align: right;">
                        {TXT_U2U_ACTIONS}</th>
                </tr>
                <!-- BEGIN address_empty -->
                <tr>
                    <td colspan="4">
                        {ADDRESS_BOOK_NO_ENTRIES}</td>
                </tr>
                <!-- END address_empty --><!-- BEGIN address_list -->
                <tr class="{ROW_CLASS}">
                    <td>
                        {TXT_U2U_ADDRESS_NAME}</td>
                    <td>
                        {TXT_U2U_ADDRESS_CITY}&nbsp;</td>
                    <td>
                        <a href="mailto:{TXT_U2U_ADDRESS_EMAIL}">{TXT_U2U_ADDRESS_EMAIL}</a></td>
                    <td align="right" nowrap="nowrap">
                        <a target="_blank"><img alt="{TXT_U2U_HOME_SITE}" border="0" src="{TXT_U2U_IMG_PATH}" title="{TXT_U2U_HOME_SITE}" /></a>&nbsp;&nbsp;<a href="index.php?section=U2u&amp;act=sendmsg&amp;id={TXT_U2U_ADDRESS_BUDDIES_ID}" title="{TXT_SEND_PRIVATE_MESSAGE}"><img alt="{TXT_SEND_PRIVATE_MESSAGE}" border="0" src="modules/U2u/View/Media/mail.gif" title="{TXT_SEND_PRIVATE_MESSAGE}" /></a>&nbsp;&nbsp;<a href="index.php?section=Access&amp;cmd=user&amp;id={TXT_U2U_ADDRESS_BUDDIES_ID}"><img alt="{TXT_U2U_DETAILS}" src="modules/U2u/View/Media/details.gif" title="{TXT_U2U_DETAILS}" /></a>&nbsp;&nbsp;<a href="index.php?section=U2u&amp;cmd=buddiesList&amp;id={TXT_U2U_ADDRESS_BUDDIES_ID}"><img alt="{TXT_U2U_DELETE}" src="modules/U2u/View/Media/delete.gif" title="{TXT_U2U_DELETE}" /></a></td>
                </tr>
                <!-- END address_list -->
            </tbody>
        </table>
    </div>
    <div class="paging">
        {ADDRESS_BOOK_PAGINATION}</div>
</div>
