#MultiSiteAccountActivation {
    z-index: 1000001;
    width: 100%;
    text-align:center;
    marquee-style: scroll;
    padding: 15px;
    position: fixed;
    font-size: 12px;
    border: 1px solid transparent;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

#MultiSiteAccountActivation .highlight {
    color: #0a85c8;
}

#MultiSiteAccountActivation button {
    display: inline;
}
