.ui-dialog.noTitle .ui-dialog-titlebar {
    display: none;
}
.ui-dialog #loading {
    width: 100%;
    text-align: center;
    height: 20px !important;
}
.ui-dialog #loading span {
    margin: 0 0 0 5px;
    line-height: 16px;
    position: relative;
    top: -3px;
}
#instance_table{
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
}
#load-lock, #MultisiteConfigload-lock{
    position: absolute;
    opacity: 0.5;
    background-color: white;
    display: none;
    z-index: 500;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

a.dbEdit {
    background-image: url(../Media/DbEdit.png);
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-top: 4px;
    margin-left: 4px;
    cursor: pointer;
}

a.showLicense {
    background-image: url(../Media/details.gif);
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-top: 4px;
    margin-left: 4px;
    cursor: pointer;
}

a.remoteWebsiteLogin, a.websiteBackup, a.websiteRestore {
    background-image: url(../Media/RemoteLogin.png);
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-top: 4px;
    margin-left: 4px;
    cursor: pointer;
}

a.websiteUpdate{
    background-image: url(../Media/update.png);
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-top: 4px;
    margin-left: 4px;
    cursor: pointer;
}

#websitesSection label{
    font-weight: bold;
}

#websiteUpdateForm{
      padding: 45px 80px;
      text-align: center;
}
#websitesSection table.adminlist{
    margin-bottom: 25px;
}
#websiteUpdateForm a{
      color: #1a74bd;
}
#websiteUpdateForm input{
    margin-left: 15px
}
a.mailServerPlans {
    background-image: url(../Media/details.gif);
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-top: 4px;
    margin-left: 4px;
    cursor: pointer;
}

a.multiSiteWebsiteConfig {
    background-image: url(../Media/Config.png);
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-top: 4px;
    margin-left: 4px;
    cursor: pointer;
}

a.editLicense, a.editMultisiteConfig {
    background-image: url(../Media/edit.gif);
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-top: 4px;
    margin-left: 4px;
    cursor: pointer;
}
a.deleteMultisiteConfig {
    background-image: url(/core/Core/View/Media/icons/delete.gif);
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-top: 4px;
    margin-left: 4px;
    cursor: pointer;
}

.queueStatus {
    font-weight: bold;
}

.resultSet > div {
    margin-bottom: 10px;
    width: 100%;
} 

.stopexecutionQuery.ui-button {
    display :none;
}

.mandatory {
    color: red;
}
.border-red {
    border-color: #b94a48 !important;
}
.ui-dialog #loading.websiteBackup {
 height: 28px !important;
}
#websitesSection{
    padding-top: 15px;
}

#websiteUpdateForm select{
    margin-left: 5px;
}
#MultisiteWebsiteRestore #restore_websiteName {
    float: left;
    width: 100%;
}

#MultisiteWebsiteRestore input[type="text"] {
    float: left;
    padding: 5px 5px 6px 5px;
    border-radius: 4px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border: 1px solid #ccc;
}

#MultisiteWebsiteRestore #restore_websiteName > div{
    padding: 2px 7px 2px 7px;
    float: left;
    background: #dedede;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-weight: 600;
}
#MultisiteWebsiteRestore .restore_error, #restoreWebsiteForm #restoreform_error {
    display: none;
    padding: 4px 5px;
    float: left;
    width: 100%;
    color: #a94442;
}

#MultisiteWebsiteRestore select {
    padding: 4px 5px;
}
