.error{
font-size:11px;
color:red;

}
.clear{
 height:20px;
}
#theme .content{
 width:80%;
 margin:auto;
 height:520px;
 border: 1px solid #cccccc;
}

#theme .content .themeImg{
 width:140px;
 float:left;
 min-height:160px;
 border: 1px solid #000;
 background:#cccccc;
 margin:5px;
}

.imageContent{
float:left;
width:100%;
height:140px;
}
.imageTitle{
float:left;
width:100%;
height:18px;
}
div.error{
    line-height:0;
}
