div#preview-content {
    float: left;
    width: 100%;
    padding-bottom: 30px;
}

div#PoweredByFooter {
    clear: both;
    width: 100%;
    height: 30px;
    position: fixed;
    bottom: 0px;
    z-index: 9999;
    background: rgb(0, 113, 188);    
    color: rgb(255, 255, 255);
    padding: 2px 10px;
    text-align: right;
}

#PoweredByFooterMessage a {
    color: rgb(255, 255, 255);
}
