<!-- START calendar_show_all.html -->
<style type="text/css">
    #calendar_search input {
        float: left;
        margin: 2px 5px 2px 0;
    }

    #calendar_search input[type=submit] {
        margin-top: 3px;
    }

    #calendar_search input.search {
        width: 240px;
    }

    #calendar_search input.date {
        width: 119px;
    }

    #calendar_search select {
        float: left;
        margin: 1px 5px 0 0;
    }

    *+html #calendar_search select {
        margin: 3px 5px 3px 0;
    }
</style>

<script type="text/javascript">
/* <![CDATA[ */
function deleteNote(id)
{
    if (confirm('{TXT_CALENDAR_DELETE_CONFIRM}')) {
        window.location.replace("index.php?cmd=calendar{CALENDAR_MANDATE}&{CSRF_PARAM}&act=delete&id="+id);
    }
}

function selectMultiAction()
{
    with (document.frmEventList){
        switch (frmEventList_MultiAction.value) {
            case 'delete':
                if (confirm('{TXT_CALENDAR_DELETE_CONFIRM}')) {
                    submit();
                }
            break;
            case 'activate':
                action='index.php?cmd=calendar{CALENDAR_MANDATE}&act=activate';
                submit();
            break;
            case 'deactivate':
                action='index.php?cmd=calendar{CALENDAR_MANDATE}&act=deactivate';
                submit();
            break;
            default:
            break;
        }
    }
}

cx.ready(function() {
    var datetimepickerOptions = {
        onSelect: function(dateText, inst) {
            // adjust start or end date to avoid an invalid date range
            var startDate = jQuery('input[name=datetimeStart]').datepicker('getDate');
            var endDate = jQuery('input[name=datetimeEnd]').datepicker('getDate');

            if ((startDate != null) && (endDate != null) && (startDate > endDate)) {
                if (jQuery(this).attr('name') == 'datetimeStart') {
                    jQuery('input[name=datetimeEnd]').datepicker('setDate', dateText);
                } else {
                    jQuery('input[name=datetimeStart]').datepicker('setDate', dateText);
                }
            }
        }
    };

    jQuery('.date').datetimepicker();
});
/* ]]> */ 
</script>

<table class="adminlist" width="100%">
    <tr>
        <th>{TXT_CORE_FILTER}</th>
    </tr>
    <tr>
        <td style="vertical-align: middle;">
            <form id="calendar_search" action="index.php" method="get">
                <input type="hidden" name="cmd" value="calendar{CALENDAR_MANDATE}" />
                <input type="hidden" name="act" value="overview" />
                <input type="text" name="searchTerm" value="{CALENDAR_SEARCH_TERM}" class="search" onfocus="if(this.value=='{TXT_CALENDAR_KEYWORD}'){this.value=''}" onblur="if(this.value==''){this.value='{TXT_CALENDAR_KEYWORD}'}" />
                <select name="categoryId">
                    <option value="0" selected="selected">{TXT_CALENDAR_ALL_CAT}</option>
                    <!-- BEGIN calendar_cat --><option value="{CALENDAR_CAT_ID}"{CALENDAR_CAT_SELECT}>[{CALENDAR_CAT_LANG}]&nbsp;&nbsp;{CALENDAR_CAT_NAME}</option><!-- END calendar_cat -->
                </select>
                <input type="text" name="datetimeStart" value="{CALENDAR_DATETIME_START}" class="date" onfocus="if(this.value=='{TXT_CALENDAR_STARTDATE}'){this.value=''}" onblur="if(this.value==''){this.value='{TXT_CALENDAR_STARTDATE}'}" />
                <input type="text" name="datetimeEnd" value="{CALENDAR_DATETIME_END}" class="date" onfocus="if(this.value=='{TXT_CALENDAR_ENDDATE}'){this.value=''}" onblur="if(this.value==''){this.value='{TXT_CALENDAR_ENDDATE}'}" />
                <input type="submit" value="{TXT_SEARCH}" name="search" />
            </form>
        </td>
    </tr>
</table><br />

<form name="frmEventList" action="index.php?cmd=calendar{CALENDAR_MANDATE}&amp;act=event_actions" method="post">
    <table class="adminlist" width="100%">
        <tr>
            <th colspan="10">{TXT_EVENTS}</th>
        </tr>
        <tr class="row3">
            <td>#</td>
            <td nowrap="nowrap" style="text-align: center;">{TXT_CALENDAR_STATUS}</td>
            <td nowrap="nowrap">{TXT_CALENDAR_TITLE}</td>
            <td nowrap="nowrap">{TXT_CALENDAR_CAT}</td>
            <td nowrap="nowrap">{TXT_CALENDAR_DATE}</td>
            <td nowrap="nowrap">{TXT_SERIES}</td>
            <td nowrap="nowrap" style="text-align: center;">{TXT_CALENDAR_SUBSCRIBER}</td>
            <td nowrap="nowrap" style="text-align: center;">{TXT_CALENDAR_REGISTRATIONS}</td>
            <td nowrap="nowrap" style="text-align: center;">{TXT_CALENDAR_CSV_FILE}</td>
            <td nowrap="nowrap" style="text-align: right;">{TXT_CALENDAR_ACTION}</td>
        </tr>
        <!-- BEGIN event -->
        <tr class="{CALENDAR_ROW}">
            <td><input type="checkbox" name="selectedEventId[]" id="selectedEventId" value="{CALENDAR_EVENT_ID}" /></td>
            <td style="text-align: center;"><a href="index.php?cmd=calendar{MODULE_INDEX}&amp;act=toggle_event&amp;id={CALENDAR_EVENT_ID}"><img src="images/icons/led_{CALENDAR_ACTIVE_ICON}.gif" border="0" alt="{CALENDAR_EVENT_LED}" title="{CALENDAR_EVENT_LED}" /></a></td>
            <td><a href="index.php?cmd=calendar{CALENDAR_MANDATE}&amp;act=edit&amp;id={CALENDAR_EVENT_ID}" title="{TXT_CALENDAR_EDIT}">{CALENDAR_EVENT_TITLE}</a></td>
            <td>{CALENDAR_EVENT_CAT}</td>
            <td>{CALENDAR_EVENT_STARTDATE} - {CALENDAR_EVENT_ENDDATE}</td>
            <td>{CALENDAR_SERIES}</td>
            <td style="text-align: center;">{CALENDAR_EVENT_COUNT_SUBSCRIBER}</td>
            <td style="text-align: center;"><a href="index.php?cmd=calendar{CALENDAR_MANDATE}&amp;act=reg&amp;id={CALENDAR_EVENT_ID}">{CALENDAR_EVENT_COUNT_REG} / {CALENDAR_EVENT_COUNT_SIGNOFF}</a></td>
            <td style="text-align: center;"><a href="index.php?cmd=calendar{CALENDAR_MANDATE}&amp;act=getCSV&amp;id={CALENDAR_EVENT_ID}"><img src="images/icons/xls.gif" alt="{TXT_CALENDAR_CSV_FILE}" title="{TXT_CALENDAR_CSV_FILE}" border="0"/></a></td>
            <td style="text-align: right;">
                <a href="index.php?cmd=calendar{CALENDAR_MANDATE}&amp;act=edit&amp;id={CALENDAR_EVENT_ID}" title="{TXT_CALENDAR_EDIT}"><img src="images/icons/edit.gif" width="16" height="16" border="0" alt="{TXT_CALENDAR_EDIT}" /></a>
                <a href="javascript:deleteNote({CALENDAR_EVENT_ID})" title="{TXT_CALENADR_DELETE}"><img src="images/icons/delete.gif" width="17" height="17" border="0" alt="{TXT_CALENDAR_DELETE}" /></a>
            </td>
        </tr>
        <!-- END event -->
    </table>
    <table>
        <tr>
            <td>
                <img src="images/icons/arrow.gif" border="0" width="38" height="22" alt="{TXT_MARKED}:" />
                <a href="#" onclick="changeCheckboxes('frmEventList','selectedEventId',true); return false;">{TXT_SELECT_ALL}</a> /
                <a href="#" onclick="changeCheckboxes('frmEventList','selectedEventId',false); return false;">{TXT_DESELECT_ALL}</a>
                <img src="images/icons/strike.gif" alt="space" />
                <select name="frmEventList_MultiAction" onchange="selectMultiAction();">
                  <option value="0">{TXT_SUBMIT_SELECT}</option>
                  <option value="activate">{TXT_SUBMIT_ACTIVATE}</option>
                  <option value="deactivate">{TXT_SUBMIT_DEACTIVATE}</option>
                </select>
            </td>
        </tr>
    </table>
</form>