<!-- START module_calendar_categories_edit.html -->
<script language="JavaScript" type="text/javascript">
	function formCheck()
	{
        if(document.form.name.value == "")
        {
            alert("{TXT_CALENDAR_FORMCHECK_NAME}");
	        document.form.name.focus();
            return false;
        }
        if(document.form.status.value == "")
        {
            alert("{TXT_CALENDAR_FORMCHECK_STATUS}");
	        document.form.status.focus();
            return false;
        }
        if(document.form.lang.value == "")
        {
        	alert("{TXT_CALENDAR_FORMCHECK_LANG}");
        	document.form.lang.focus();
        	return false;
        	}
    }
</script>

<form action="?cmd=calendar{CALENDAR_MANDATE}&amp;act=catedit&amp;id={CALENDAR_CAT_ID}&amp;set=1" name="form" method="post" style="padding:0px; margin:0px;" onsubmit="return formCheck();">
	<input type="hidden" name="id" value="{CALENDAR_CAT_ID}" />
	<table cellspacing="0" cellpadding="3" width="100%" border="0" class="adminlist">
	    <tr>
	    	<th colspan="2">{TXT_CALENDAR_EDIT_CAT}</th>
	    </tr>
	    <tr class="row1">
	    	<td width="15%">{TXT_CALENDAR_CATEGORY_NAME}:</td>
	    	<td width="85%"><input type="text" name="name" size="30" value="{CALENDAR_CAT_NAME}" style="width:300px;" /></td>
	    </tr>
		<tr class="row2">
			<td>{TXT_CALENDAR_STATUS}:</td>
			<td>
				<select name="status" style="width:300px;">
		            <option value="0"{CALENDAR_STATUS0}>{TXT_CALENDAR_INACTIVE}</option>
		            <option value="1"{CALENDAR_STATUS1}>{TXT_CALENDAR_ACTIVE}</option>
                </select>
            </td>
        </tr>
        <tr class="row1">
        	<td>{TXT_CALENDAR_LANG}:</td>
        	<td>
        		<select name="lang" style="width:300px;">
        			<!-- BEGIN calendar_lang -->
        			<option value="{CALENDAR_LANG_ID}"{CALENDAR_LANG_SELECTED}>{CALENDAR_LANG_NAME}</option>
        			<!-- END calendar_lang -->
        		</select>
        	</td>
        </tr>
	</table>
	<br />
	<input type="reset" value="{TXT_CALENDAR_RESET}" /> <input type="submit" value="{TXT_CALENDAR_SAVE}" />
</form>
<!-- END module_feed_categories_edit.html -->

