<!-- START module_calendar_placeholders.html -->
<table border="0" cellpadding="3" cellspacing="0" width="100%" class="adminlist">
		<tr>
			<th colspan="2">{TXT_USAGE}</th>
		</tr>
		<tr class="row1">
			<td colspan="2">{TXT_CALENDAR_PLACEHOLDER_INTRO}</td>
		</tr>
</table>
<br />
<table border="0" cellpadding="3" cellspacing="0" width="100%" class="adminlist">
		<tr>
			<th colspan="2">{TXT_CALENDAR_PLACEHOLDER_LIST}</th>
		</tr>
		<tr class="row2">
			<td>[[CALENDAR_EVENT_STARTDATE]]</td>
			<td>{TXT_CALENDAR_EVENT_STARTDATE}</td>
		</tr>
		<tr class="row1">
			<td>[[CALENDAR_EVENT_STARTTIME]]</td>
			<td>{TXT_CALENDAR_EVENT_STARTTIME}</td>
		</tr>
		<tr class="row2">
			<td width="15%">[[CALENDAR_EVENT_ENDDATE]]</td>
			<td width="85%">{TXT_CALENDAR_EVENT_ENDDATE}</td>
		</tr>
		<tr class="row1">
			<td>[[CALENDAR_EVENT_ENDTIME]]</td>
			<td>{TXT_CALENDAR_EVENT_ENDTIME}</td>
		</tr>
		<tr class="row2">
			<td>[[CALENDAR_EVENT_NAME]]</td>
			<td>{TXT_CALENDAR_EVENT_NAME}</td>
		</tr>
		<tr class="row1">
			<td>[[CALENDAR_EVENT_ID]]</td>
			<td>{TXT_CALENDAR_EVENT_ID}</td>
		</tr>
		<tr class="row2">
			<td>[[CALENDAR_EVENT_THUMB]]</td>
			<td>{TXT_CALENDAR_EVENT_THUMB}</td>
		</tr>
		<tr class="row1">
			<td>[[CALENDAR_EVENT_SHORT_COMMENT]]</td>
			<td>{TXT_CALENDAR_EVENT_SHORT_DESC}</td>
		</tr>
</table>
<!-- END module_calendar_placeholders.html -->
