<!-- START module_calendar_style.html -->
<script language="JavaScript" type="text/javascript">
<!--
function reset()
{ 
    if(confirm('{TXT_CALENDAR_RESET_STANDARD_CONFIRM}')) 
        window.location.replace("?cmd=calendar&act=style&style=reset");
       
}

function setStyle()
{
    if(document.setstyle.periodTime1.value >= document.setstyle.periodTime2.value)
	{
		alert("{TXT_CALENDAR_ERROR_PERIOD}");
		document.setstyle.periodTime2.focus();
		return false;
	}
}
// -->
</script>

<form action="index.php?cmd=calendar&amp;act=saveSettings" method="post">
    <table cellspacing="0" cellpadding="3" width="100%" border="0" class="adminlist">
		<tr>
			<th colspan="2" nowrap="nowrap">
			<div align="left">{TXT_CALENDAR_MENU_SETTINGS}</div>
			</th>
		</tr>
		<tr class="row1">
			<td style="width: 350px">
				{TXT_CALENDAR_SET_HEADLINES}
			</td>
			<td>
				<input type="checkbox" name="headlines" {CALENDAR_HEADLINES_CHECKED} />
			</td>
		</tr>
		<tr class="row2">
			<td>
			{TXT_CALENDAR_SET_HEADLINESCOUNT}
			</td>
			<td>
				<input type="text" name="headlinescount" value="{CALENDAR_HEADLINESCOUNT}" style="width: 2em;" maxlength="2"/>
			</td>
		</tr>
		<tr class="row1">
			<td>{TXT_CALENDAR_SET_HEADLINESCAT}</td>
			<td>
			<select name="headlinescat">
				<option value="0" {>{TXT_CALENDAR_ALL_CAT}</option>
				{CALENDAR_CATEGORIES}
				</select>
			</td>
		</tr>
		<tr>
			<td>{TXT_CALENDAR_SET_STDCOUNT}</td>
			<td><input type="text" name="defaultlistcount" value="{CALENDAR_STANDARDNUMBER}" style="width: 2em;" maxlength="2" /></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
	      <th colspan="2" nowrap="nowrap">
			{TXT_CALENDAR_STD_CAT}
	      </th>
		</tr>
    	<!-- BEGIN calendar_std_lang -->
		<tr class="{CALENDAR_STD_CLASS}">
			<td valign="middle" width="150">
				{CALENDAR_STD_LANG}:
			</td>
			<td valign="middle">
			    <input type="hidden" name="stdCatLang[]" value="{CALENDAR_STD_LANG_ID}" />
				<select name="stdCat[]">
        			<option value="0">{TXT_CALENDAR_STD_CAT_NONE}</option>
        			{CALENDAR_OPTION}
        		</select>
			</td>
		</tr>
		<!-- END calendar_std_lang -->
	</table>
	<br /><input type="submit" value="{TXT_SUBMIT}" />
</form>

<!-- END module_calendar_style.html -->
