#search-form2 input {
    width:177px;
}

.full-width {
    width: 100%;
    *zoom: 1;
}

.full-width:before,.full-width:after {
    display: table;
    content: "";
    line-height: 0;
}

.full-width:after {
    clear: both;
}

.full-width [class*="grid"] {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 2.127659574468085%;
    *margin-left: 2.074468085106383%;
}

.full-width [class*="grid"]:first-child {
    margin-left: 0;
}

.full-width .grid12 {
    width: 100%;
    *width: 99.94680851063829%;
}

.full-width .grid11 {
    width: 91.48936170212765%;
    *width: 91.43617021276594%;
}

.full-width .grid10 {
    width: 82.6%;
    *width: 82.92553191489361%;
}

.full-width .grid9 {
   /* width: 74.46808510638297%;
    width: 74.41489361702126%; */
    width: 76.59708510638297%

}

#mediadir .full-width .grid9 {
    width: 74.46808510638297%;
    *width: 74.41489361702126%;
}

.full-width .grid8 {
    width: 65.95744680851064%;
    *width: 65.90425531914893%;
}

.full-width .grid7 {
    width: 57.44680851063829%;
    *width: 57.39361702127659%;
}

.full-width .grid6 {
    width: 48.93617021276595%;
    *width: 48.88297872340425%;
}

.full-width .grid5 {
    width: 40.42553191489362%;
    *width: 40.37234042553192%;
}

.full-width .grid4 {
    width: 31.914893617021278%;
    *width: 31.861702127659576%;
}

.full-width .grid3 {
    width: 23.404255319148934%;
    *width: 23.351063829787233%;
}

.full-width .grid2 {
    width: 14.893617021276595%;
    *width: 14.840425531914894%;
}

.full-width .grid1 {
    width: 6.382978723404255%;
    *width: 6.329787234042553%;
}

.full-width .push12 {
    margin-left: 104.25531914893617%;
    *margin-left: 104.14893617021275%;
}

.full-width .push12:first-child {
    margin-left: 102.12765957446808%;
    *margin-left: 102.02127659574467%;
}

.full-width .push11 {
    margin-left: 95.74468085106382%;
    *margin-left: 95.6382978723404%;
}

.full-width .push11:first-child {
    margin-left: 93.61702127659574%;
    *margin-left: 93.51063829787232%;
}

.full-width .push10 {
    margin-left: 87.23404255319149%;
    *margin-left: 87.12765957446807%;
}

.full-width .push10:first-child {
    margin-left: 85.1063829787234%;
    *margin-left: 84.99999999999999%;
}

.full-width .push9 {
    margin-left: 78.72340425531914%;
    *margin-left: 78.61702127659572%;
}

.full-width .push9:first-child {
    margin-left: 76.59574468085106%;
    *margin-left: 76.48936170212764%;
}

.full-width .push8 {
    margin-left: 70.2127659574468%;
    *margin-left: 70.10638297872339%;
}

.full-width .push8:first-child {
    margin-left: 68.08510638297872%;
    *margin-left: 67.9787234042553%;
}

.full-width .push7 {
    margin-left: 61.70212765957446%;
    *margin-left: 61.59574468085106%;
}

.full-width .push7:first-child {
    margin-left: 59.574468085106375%;
    *margin-left: 59.46808510638297%;
}

.full-width .push6 {
    margin-left: 53.191489361702125%;
    *margin-left: 53.085106382978715%;
}

.full-width .push6:first-child {
    margin-left: 51.063829787234035%;
    *margin-left: 50.95744680851063%;
}

.full-width .push5 {
    margin-left: 44.68085106382979%;
    *margin-left: 44.57446808510638%;
}

.full-width .push5:first-child {
    margin-left: 42.5531914893617%;
    *margin-left: 42.4468085106383%;
}

.full-width .push4 {
    margin-left: 36.170212765957444%;
    *margin-left: 36.06382978723405%;
}

.full-width .push4:first-child {
    margin-left: 34.04255319148936%;
    *margin-left: 33.93617021276596%;
}

.full-width .push3 {
    margin-left: 27.659574468085104%;
    *margin-left: 27.5531914893617%;
}

.full-width .push3:first-child {
    margin-left: 25.53191489361702%;
    *margin-left: 25.425531914893618%;
}

.full-width .push2 {
    margin-left: 19.148936170212764%;
    *margin-left: 19.04255319148936%;
}

.full-width .push2:first-child {
    margin-left: 17.02127659574468%;
    *margin-left: 16.914893617021278%;
}

.full-width .push1 {
    margin-left: 10.638297872340425%;
    *margin-left: 10.53191489361702%;
}

.full-width .push1:first-child {
    margin-left: 8.51063829787234%;
    *margin-left: 8.404255319148938%;
}

.full-width .push0 {
    margin-left: 0;
    *margin-left: 0;
}
@media(min-width: 1020px) and (max-width: 1164px){
    .wrapper{width: 86.5%;}

    .open_navigation {
        display: block;
    }
    #right-nav {
        display: none;
    }
    #subpage_content .sidebar #subnavigation {
        display: none;
    }
    #subpage_content #page {
        width: 74.5%;
    }

    #search-form {
        display: none;
    }

}
@media(min-width: 728px) and (max-width: 1019px)
{
    #search-form {
        display: none;
    }
    .wrapper{width: 86.5%;}
    .full-width {
        width: 100%;
        *zoom: 1;
    }
    .open_navigation {
        display: block;
    }
    #right-nav {
        display: none;
    }
#subpage_content .sidebar.grid3 {
width: 100%;
}
.sidebar > div {
border-width: 0;
background: url('images/mobline.png');
background-position: left bottom;
background-repeat: no-repeat;
padding-bottom: 20px;
}
    .full-width:before,.full-width:after {
        display: table;
        content: "";
        line-height: 0;
    }

    .full-width:after {
        clear: both;
    }

    .full-width [class*="grid"] {
        display: block;
        width: 100%;
        min-height: 30px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
        margin-left: 2.127659574468085%;
        *margin-left: 2.074468085106383%;
    }

    .full-width [class*="grid"]:first-child {
        margin-left: 0;
    }

    .full-width .grid12 {
        width: 100%;
        *width: 99.94680851063829%;
    }

    .full-width .grid11 {
        width: 91.48936170212765%;
        *width: 91.43617021276594%;
    }

    .full-width .grid10 {
        width: 82.97872340425532%;
        *width: 82.92553191489361%;
    }

    .full-width .grid9 {
      /*  width: 74.46808510638297%;
        width: 74.41489361702126%; */
        width: 76.59708510638297%
    }

    #mediadir .full-width .grid9 {
    width: 74.46808510638297%;
    *width: 74.41489361702126%;
}

    .full-width .grid8 {
        width: 65.95744680851064%;
        *width: 65.90425531914893%;
    }

    .full-width .grid7 {
        width: 57.44680851063829%;
        *width: 57.39361702127659%;
    }

    .full-width .grid6 {
        width: 48.93617021276595%;
        *width: 48.88297872340425%;
    }

    .full-width .grid5 {
        width: 40.42553191489362%;
        *width: 40.37234042553192%;
    }

    .full-width .grid4 {
        width: 31.914893617021278%;
        *width: 31.861702127659576%;
    }

    .full-width .grid3 {
        width: 23.404255319148934%;
        *width: 23.351063829787233%;
    }

    .full-width .grid2 {
        width: 14.893617021276595%;
        *width: 14.840425531914894%;
    }

    .full-width .grid1 {
        width: 6.382978723404255%;
        *width: 6.329787234042553%;
    }

    .full-width .push12 {
        margin-left: 104.25531914893617%;
        *margin-left: 104.14893617021275%;
    }

    .full-width .push12:first-child {
        margin-left: 102.12765957446808%;
        *margin-left: 102.02127659574467%;
    }

    .full-width .push11 {
        margin-left: 95.74468085106382%;
        *margin-left: 95.6382978723404%;
    }

    .full-width .push11:first-child {
        margin-left: 93.61702127659574%;
        *margin-left: 93.51063829787232%;
    }

    .full-width .push10 {
        margin-left: 87.23404255319149%;
        *margin-left: 87.12765957446807%;
    }

    .full-width .push10:first-child {
        margin-left: 85.1063829787234%;
        *margin-left: 84.99999999999999%;
    }

    .full-width .push9 {
        margin-left: 78.72340425531914%;
        *margin-left: 78.61702127659572%;
    }

    .full-width .push9:first-child {
        margin-left: 76.59574468085106%;
        *margin-left: 76.48936170212764%;
    }

    .full-width .push8 {
        margin-left: 70.2127659574468%;
        *margin-left: 70.10638297872339%;
    }

    .full-width .push8:first-child {
        margin-left: 68.08510638297872%;
        *margin-left: 67.9787234042553%;
    }

    .full-width .push7 {
        margin-left: 61.70212765957446%;
        *margin-left: 61.59574468085106%;
    }

    .full-width .push7:first-child {
        margin-left: 59.574468085106375%;
        *margin-left: 59.46808510638297%;
    }

    .full-width .push6 {
        margin-left: 53.191489361702125%;
        *margin-left: 53.085106382978715%;
    }

    .full-width .push6:first-child {
        margin-left: 51.063829787234035%;
        *margin-left: 50.95744680851063%;
    }

    .full-width .push5 {
        margin-left: 44.68085106382979%;
        *margin-left: 44.57446808510638%;
    }

    .full-width .push5:first-child {
        margin-left: 42.5531914893617%;
        *margin-left: 42.4468085106383%;
    }

    .full-width .push4 {
        margin-left: 36.170212765957444%;
        *margin-left: 36.06382978723405%;
    }

    .full-width .push4:first-child {
        margin-left: 34.04255319148936%;
        *margin-left: 33.93617021276596%;
    }

    .full-width .push3 {
        margin-left: 27.659574468085104%;
        *margin-left: 27.5531914893617%;
    }

    .full-width .push3:first-child {
        margin-left: 25.53191489361702%;
        *margin-left: 25.425531914893618%;
    }

    .full-width .push2 {
        margin-left: 19.148936170212764%;
        *margin-left: 19.04255319148936%;
    }

    .full-width .push2:first-child {
        margin-left: 17.02127659574468%;
        *margin-left: 16.914893617021278%;
    }

    .full-width .push1 {
        margin-left: 10.638297872340425%;
        *margin-left: 10.53191489361702%;
    }

    .full-width .push1:first-child {
        margin-left: 8.51063829787234%;
        *margin-left: 8.404255319148938%;
    }

    .full-width .push0 {
        margin-left: 0;
        *margin-left: 0;
    }
    #subpage_content .sidebar #subnavigation {
        display: none;
    }
    #subpage_content #page {
        width: 100%;
    }
    #contactForm #contactFrame div {
        padding: 0 0 10px 0;
    }
    #contactForm #contactFrame div label{
       width: 100%;
       font-family: MyriadPro;
       padding-top: 0;
    }
    #contactForm #contactFrame input[type="text"],#contactForm #contactFrame div textarea,
    #contactForm #contactFrame div select {
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
       box-sizing: border-box;
    }
    #contactForm #contactFrame div:last-child {
      text-align: right;
    }
    #contactForm #contactFrame div input[type="submit"] {
        float :none;
        margin-right: 5px;
    }
    #contactForm #contactFrame div .contactFormClass_button {
         background: #1B3F89;
         font-family: MyriadPro;
         padding: 8px 20px 2px;
         color: #fff;
         font-size: 15px;
      }
      #captcha {
         width: 100%;
      }
}
@media(max-width: 727px){
    #search-form {
        display: none;
    }
    .wrapper{width: 86.5%;}
    [    class*="grid"],
    .uneditable-input[class*="grid"],
    .full-width [class*="grid"] {
        float: left;
        width: 100% !important;
        margin-left: 0 !important;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    #logo {
        width: auto !important;
     }
    .sidebar {
        padding-right: 0;
    }
    .open_navigation {
        display: block;
    }
    #right-nav {
        display: none;
    }
    form label {
       width: 100%;
       float: left;
       -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    form input[type="text"],form select,form textarea {
       width: 100%;
       float: left;
       -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    #checkout .left {
        width: 100%;
    }

    .grid12,
    .full-width .grid12 {
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .full-width [class*="push"]:first-child {
        margin-left: 0;
    }

    #subpage_content .sidebar #subnavigation {
        display: none;
    }
    #subpage_content #page {
        width: 100%;
    }

    #contactForm #contactFrame div {
        padding: 0 0 10px 0;
    }
    #contactForm #contactFrame div label{
       width: 100%;
       font-family: MyriadPro;
       padding-top: 0;
    }
    #contactForm #contactFrame input[type="text"],#contactForm #contactFrame div textarea,
    #contactForm #contactFrame div select {
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
       box-sizing: border-box;
    }
    #contactForm #contactFrame div:last-child {
      text-align: right;
    }
    #contactForm #contactFrame div input[type="submit"] {
      float :none;
      margin-right: 5px;
    }
    #contactForm #contactFrame div .contactFormClass_button {
      background: #1B3F89;
      font-family: MyriadPro;
      padding: 8px 20px 2px;
      color: #fff;
      font-size: 15px;
      }
.sidebar > div {
border-width: 0;
background: url('images/mobline.png');
background-position: left bottom;
background-repeat: no-repeat;
padding-bottom: 20px;
}
      #captcha {
         width: 100%;
      }
      #login #USERNAME,#login #PASSWORD, input#file_upload, select[name="catId"], select[name="catid"] {
          width: 100% !important;
      }
      #shop div.details {
          margin-top: 130px;
      }
      .form-control {
          width: 100%;
      }
      #shop figure a .categorie-image-wrapper img {
          padding: 0;
      }
      #mediadir .mapLarge, #livecam img {width: 100%;}
}
@media(max-width: 480px){
    #search-form {
        display: none;
    }
    .wrapper{width: 86.5%;}
    .open_navigation {
        display: block;
    }
    #right-nav {
        display: none;
    }
    #logo {
        width: 85% !important;
     }
.sidebar > div {
border-width: 0;
background: url('images/mobline.png');
background-position: left bottom;
background-repeat: no-repeat;
padding-bottom: 20px;
}
    form label {
       width: 100%;
       float: left;
       -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    form input[type="text"],form select,form textarea {
       width: 100%;
       float: left;
       -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    #media_slider ol.flex-control-thumbs li {

       max-width: 50px !important;
       max-height: 35px !important;
       margin-right: 8px !important;
     }
    ol.flex-control-thumbs li img {
       max-height: 35px !important;
     }

     #subpage_content .sidebar #subnavigation {
        display: none;
    }
    #subpage_content #page {
        width: 100%;
    }

    #contactForm #contactFrame div {
        padding: 0 0 10px 0;
    }
    #contactForm #contactFrame div label{
       width: 100%;
       font-family: MyriadPro;
       padding-top: 0;
    }
    #contactForm #contactFrame input[type="text"],#contactForm #contactFrame div textarea,
    #contactForm #contactFrame div select {
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
       box-sizing: border-box;
    }
    #contactForm #contactFrame div:last-child {
      text-align: right;
    }
    #contactForm #contactFrame div input[type="submit"] {
      float :none;
      margin-right: 5px;
    }
    #contactForm #contactFrame div .contactFormClass_button {
      background: #1B3F89;
      font-family: MyriadPro;
      padding: 8px 20px 2px;
      color: #fff;
      font-size: 15px;
      }
      #captcha {
         width: 100%;
      }
 #logo img {
max-width: 85%;
height: auto;}
 #blog div.search_date {
     width: 100%;
     padding: 0;
 }
#shop div.details {
          margin-top: 170px;
      }
 .login-bottom a {
    white-space: normal;
}
#access p span input[type="file"], form p input[type="password"], form#directorySearch input[name="term"] {width: 100%;}
#directory input, #directory textarea {width: 100% !important;}
#market input#pic, #market input.searchbox, #market form input {width: 100%;}
}

@media(max-width: 340px){
    #search-form {
        display: none;
    }
    .wrapper{width: 86.5%;}
    .open_navigation {
        display: block;
    }
    #right-nav {
        display: none;
    }
    #logo {
        width: 85% !important;
     }
    form label {
       width: 100%;
       float: left;
       -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    form input[type="text"],form select,form textarea {
       width: 100%;
       float: left;
       -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
     }
     #media_slider ol.flex-control-thumbs li {

       max-width: 40px !important;
       max-height: 25px !important;
       margin-right: 8px !important;
     }
    ol.flex-control-thumbs li img {
       max-height: 25px !important;
     }

     #subpage_content .sidebar #subnavigation {
        display: none;
    }
    #subpage_content #page {
        width: 100%;
    }
     #contactForm #contactFrame div {
        padding: 0 0 10px 0;
    }
    #contactForm #contactFrame div label{
       width: 100%;
       font-family: MyriadPro;
       padding-top: 0;
    }
    #contactForm #contactFrame input[type="text"],#contactForm #contactFrame div textarea,
    #contactForm #contactFrame div select {
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
       box-sizing: border-box;
    }
    #contactForm #contactFrame div:last-child {
      text-align: right;
    }
    #contactForm #contactFrame div input[type="submit"] {
      float :none;
      margin-right: 5px;
    }
    #contactForm #contactFrame div .contactFormClass_button {
      background: #1B3F89;
      font-family: MyriadPro;
      padding: 8px 20px 2px;
      color: #fff;
      font-size: 15px;
      }
      #captcha {
         width: 100%;
      }
.sidebar > div {
border-width: 0;
background: url('images/mobline.png');
background-position: left bottom;
background-repeat: no-repeat;
padding-bottom: 20px;
}
 #logo img {
max-width: 85%;
height: auto;}
h1.first {
word-wrap: break-word;
}
#shop div.details {
          margin-top: 215px;
      }
}

@media (max-width: 241px){
    #search-form {
        display: none;
    }
    .wrapper{width: 86.5%;}
    .open_navigation {
        display: block;
    }
    #right-nav {
        display: none;
    }
    #logo {
        width: 85%!important;
     }
    form label {
       width: 100%;
       float: left;
       -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    form input[type="text"],form select,form textarea {
       width: 100%;
       float: left;
       -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
    }

    #media_slider ol.flex-control-thumbs li {

       max-width: 35px !important;
       max-height: 20px !important;
       margin-right: 6px !important;
     }
    ol.flex-control-thumbs li img {
       max-height: 20px !important;
     }

     #subpage_content .sidebar #subnavigation{
        display: none;
    }
    #subpage_content #page {
        width: 100%;
    }
     #contactForm #contactFrame div {
        padding: 0 0 10px 0;
    }
    #contactForm #contactFrame div label{
       width: 100%;
       font-family: MyriadPro;
       padding-top: 0;
    }
    #contactForm #contactFrame input[type="text"],#contactForm #contactFrame div textarea,
    #contactForm #contactFrame div select {
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
       box-sizing: border-box;
    }
    #contactForm #contactFrame div:last-child {
      text-align: right;
    }
    #contactForm #contactFrame div input[type="submit"] {
      float :none;
      margin-right: 5px;
    }
    #contactForm #contactFrame div .contactFormClass_button {
      background: #1B3F89;
      font-family: MyriadPro;
      padding: 8px 20px 2px;
      color: #fff;
      font-size: 15px;
      }
      #captcha {
         width: 100%;
      }

  #logo img {
max-width: 85%;
height: auto;}
  h1.first {
word-wrap: break-word;
}
}
@media(min-width: 241px) and (max-width: 1019px){
    form .contactFormGroup {
        float: left;
        width: 100%;
    }
    #contactForm #contactFrame div.checkbox > label {
        margin-left: 0;
    }
}
