html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
border:0;
font-size:100%;
font:inherit;
vertical-align:baseline;
margin:0;
padding:0;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
display:block;
}

body {
background:none repeat scroll 0 0 #FFFFFF;
color:#505050;
font-family:Arial,Helvetica;
font-size:14px;
line-height:1.5em;
}

blockquote,q {
quotes:none;
}

blockquote:before,blockquote:after,q:before,q:after {
content:none;
}

table {
border-collapse:collapse;
border-spacing:0;
}

@font-face {
font-family: 'MyriadPro';
src:url('fonts/myriad.eot');
}

@font-face {
font-family: 'MyriadPro';
src:url('fonts/myriad.otf');
}

@font-face {
font-family: 'MyriadPro';
src:url('fonts/myriad.ttf');
}

@font-face {
font-family: 'MyriadPro';
src:url('fonts/MYRIADPROREGULAR.woff');
}

@font-face {
font-family: 'OpenSans-Regular';
src:url('fonts/OpenSans-Regular.ttf');
}

@font-face {
font-family: 'OpenSans-Regular';
src:url('fonts/opensansregular.eot');
}
@font-face {
font-family: 'OpenSans-Regular';
src:url('fonts/opensansregular.woff');
}

a {
color:#4b4b4b;
text-decoration:none;
}
.login-bottom a {
    color:#4b4b4b;
}
a:hover {
color:#528AA2;
text-decoration:underline;
}

p {
padding:0 0 10px;
}

b,strong {
font-weight:700;
}

ul.horizontal-list li {
float:left;
background:url(images/divider.gif) no-repeat right 7px;
margin:0 10px 0 0;
padding:0 10px 0 0;
}

ul.horizontal-list li.last {
background:none!important;
margin:0!important;
padding:0!important;
}

h1,h2,h3,h4,h5,h6 {
line-height:normal;
color:#505050;
font-family:open sans;
padding:0 0 20px;
}

h1 {
font-size:29px;
}

h1.first {
padding-top:0;
color:  #528AA2 !important;
}

h2 {
font-size:23px;
color:  #528AA2 !important;
padding-top:10px;
}

h3 {
font-size:18px;
color:  #528AA2 !important;
padding-top:10px;
}

h4 {
font-size:17px;
padding-top:10px;
}

h5 {
font-size:16px;
padding-top:10px;
}

h6 {
font-size:15px;
padding-top:10px;
}

input,button,select,textarea {
width:300px;
color:#7D7D7D;
font-family:Arial;
border:1px solid #DDD;
background:#FFF;
outline:0;
margin:0;
padding:7px 12px 8px;
}
#checkout button, #checkout select, #checkout textarea {
color:#7D7D7D;
font-family:Arial;
outline:0;
margin:0;
padding: 6px 6px 7px;
border: 1px solid #BBB;
background: #FCFCFC;
font-size: normal;
}
select, select[name="catid"] {
width:300px;
padding:6px 6px 7px;
}

input:hover,input:focus,select:hover,select:focus,textarea:hover,textarea:focus {
border:1px solid #BBB;
background:#FCFCFC;
outline:0;
}

input[type=submit],input[type=button],input[type=reset],input[type=radio],input[type=checkbox],button {
width:auto;
}

input[type=radio] {
float:left;
border:0 none;
margin:3px 10px 3px 0;
padding:0;
-webkit-appearance: none;
}

input[type=checkbox] {
float:left;
border:0 none;
margin:4px 10px 4px 0;
padding:0;
}

input[type=text] {
line-height:17px;
}

button,input[type=submit],input[type=button],input[type=reset] {
color:#414141;
font-size:13px;
line-height:17px;
text-decoration:none;
cursor:pointer;
border:0;
border-radius: 0;
padding:8px 10px 7px;
-webkit-appearance: none;
}

.loginbutton,.loginbutton:link,.loginbutton:hover,.loginbutton:visited {
display:block;
float:left;
color:transparent;
height:26px;
margin-right:10px;
margin-bottom:10px;
-webkit-appearance: none;
width:189px;
}

.loginbutton:hover {
text-decoration:underline;
-webkit-appearance: none;
}

.loginbutton.facebook {
background:url(images/facebook_login.png) no-repeat;
}

.loginbutton.google {
background:url(images/google_login.png) no-repeat;
}

.loginbutton.twitter {
background:url(images/twitter_login.png) no-repeat;
}

button[disabled=disabled],input[disabled=disabled] {
opacity:0.6;
cursor:default;
}

.ie7 button,.ie8 button {
border:1px solid #DDD;
}

button:hover,input[type=submit]:hover,input[type=reset]:hover {
background:#E8E8E8;
}

button[disabled=disabled]:hover,input[disabled=disabled]:hover {
background:#F5F5F5;
}

legend {
display:none;
}
div.menu > form > select {
-webkit-appearance: menulist-button !important;
}
* {
-webkit-tap-highlight-color:rgba(0,0,0,0);
}
#contactForm #contactFrame div.checkbox {
    float: left;
    width: 100%;
}
#contactForm #contactFrame div.checkbox > label {
    text-align: left;
    margin-left: 28%;
    padding-top: 0;
}
#contactForm #contactFrame div.checkbox > label.noCaption {
    margin-left: 0;
}
