<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>{TXT_UPDATE_CONTREXX_UPDATE_SYSTEM}</title>

        <meta name="robots" content="noindex" />
        <meta name="robots" content="nofollow" />
        <meta name="robots" content="noarchive" />
        <meta http-equiv="pragma" content="no-cache" />
        <meta http-equiv="cache-control" content="no-cache" />
        <meta http-equiv="content-type" content="text/html; charset={CHARSET}" />

        <link type="text/css" href="{UPDATE_TPL_PATH}/css/base.css" rel="stylesheet" />
        <link type="text/css" href="{UPDATE_TPL_PATH}/css/content.css" rel="stylesheet" />

        {JAVASCRIPT}
    </head>
    <body>
        <div id="header">
            <a class="logo" href="index.php"></a>
        </div>
        <div id="container">
            <form id="wrapper" action="index.php" method="post" onsubmit="return doUpdate()">
                <div id="wrapper-content">{CONTENT}</div>
                <div id="wrapper-bottom-left">{LOGOUT_BUTTON}</div>
                <div id="wrapper-bottom-right">{NAVIGATION}</div>
            </form>
        </div>
        <div id="footer"><a href="http://www.cloudrexx.com" target="_blank">&copy; CLOUDREXX AG, Switzerland</a></div>
    </body>
</html>
