<style type="text/css">
    fieldset {
        border: 0;
    }
    
    legend {
        font-weight: bold;
    }
    
    textarea {
        width: 200px;
    }
    
    .row,
    .periods-wrapper,
    .currency-wrapper {
        margin-bottom: 3px;
    }
    
    select {
        width: auto;
    }
    
    .row label {
        display: inline-block;
        width: 50%;
        height: 100%;
    }
    
    label {
        vertical-align: top;
    }
    
    label.invalid {
        color: red;
    }
    
    .periods-wrapper span,
    .currency-wrapper span {
        display: inline-block;
        width: 30%;
    }
    
    #wrapper {
        margin: 95px 0 35px 0;
    }
</style>
<div id="content-overview">
    <h1 class="first">{TXT_UPDATE_LICENSE_MODEL}</h1>
    Zurzeit verwenden Sie Contrexx <strong>{UPDATE_EDITION}</strong> Version <strong>{UPDATE_VERSION}</strong>.<br />
    <br />
    Mit der Ausführung dieses Updatevorgangs wird Ihre aktuelle Contrexx Installation auf die Edition <strong>Contrexx 4 Business</strong> (entspricht vollem Leistungsumfang) migriert.<br /><br />
    
    <!-- BEGIN update_license_new -->
    <p>
    <fieldset id="contactFrame">
    <legend>Contrexx Software Bestellung (neu)</legend>
<div class="contact row">
<label for="contactFormFieldId_252">Edition<strong class="is_required">*</strong></label>
<select class="contactFormClass_select" name="edition" id="contactFormFieldId_252">

<option value="Business Standard">Business Standard (CHF 49.-/Mnt.)</option>

<option value="Business Enterprise">Business Enterprise (CHF 349.-/Mnt.)</option>

</select>
</div>
<div class="contact row">
<label for="contactFormFieldId_628">Abo-Dauer<strong class="is_required">*</strong></label>
<select class="contactFormClass_select" name="duration" id="contactFormFieldId_628">

<option value="Lizenzdauer 1 Jahr">Lizenzdauer 1 Jahr</option>

<option value="Lizenzdauer 2 Jahre - 10% Rabatt"> Lizenzdauer 2 Jahre - 10% Rabatt</option>

</select>
</div>
</fieldset>
<fieldset>
    <legend>Zahlungsoptionen</legend>
<div class="periods-wrapper">
<div class="prices-periods">
    <span>
        <input checked="checked" id="monthly" name="period" type="radio" value="monthly" />
        <label for="monthly">Monatlich</label>
    </span>
    <span>
        <input id="annually" name="period" type="radio" value="annually" />
        <label for="annually">Jährlich</label>
    </span>
    <span>
        <input id="biannually" name="period" type="radio" value="biannually" />
        <label for="biannually">Zwei Jahre</label>
    </span>
</div>
</div>
<div class="currency-wrapper">
<div class="prices-currency">
    <span>
        <input checked="checked" id="chf" name="currency" type="radio" value="chf" />
        <label for="chf">CHF</label>
    </span>
    <span>
        <input id="euro" name="currency" type="radio" value="euro" />
        <label for="euro">Euro</label>
    </span>
</div>
</div>
</fieldset>
<fieldset id="contactFormFieldId_251">
<legend>Kontaktangaben</legend>
<div class="contact row">
<label for="contactFormFieldId_242">Firma</label>
<input class="contactFormClass_special" id="contactFormFieldId_242" type="text" name="company" value="" />
</div>
<div class="contact row">
<label for="contactFormFieldId_244">Vor- und Nachname<strong class="is_required">*</strong></label>
<input class="contactFormClass_special" id="contactFormFieldId_244" type="text" name="contact_name" value="" />
</div>
<div class="contact row">
<label for="contactFormFieldId_245">Strasse + Nr.<strong class="is_required">*</strong></label>
<input class="contactFormClass_special" id="contactFormFieldId_245" type="text" name="street" value="" />
</div>
<div class="contact row">
<label for="contactFormFieldId_247">PLZ/Ort<strong class="is_required">*</strong></label>
<input class="contactFormClass_special" id="contactFormFieldId_247" type="text" name="location" value="" />
</div>
<div class="contact row">
<label for="contactFormFieldId_249">Telefon</label>
<input class="contactFormClass_special" id="contactFormFieldId_249" type="text" name="phone" value="" />
</div>
<div class="contact row">
<label for="contactFormFieldId_250">E-Mail<strong class="is_required">*</strong></label>
<input class="contactFormClass_text" id="contactFormFieldId_250" type="text" name="mail" value="" />
</div>
<div class="contact row">
<label for="contactFormFieldId_255">Mitteilung</label>
<textarea class="contactFormClass_textarea" name="comments" id="comments" rows="5" cols="20"></textarea>
</div>
</fieldset>
<fieldset id="contactFormFieldId_322">
<legend>Interesse an weiteren Services</legend>
<div class="contact row">
<div class="contactFormGroup" id="contactFormFieldId_323">
<label class="noCaption" for="contactFormField_0_323">Hersteller Support</label><input type="checkbox" class="contactFormClass_checkboxGroup" name="interests1" id="contactFormField_0_323" value="Hersteller Support" />
<label class="noCaption" for="contactFormField_1_323">Software Update &amp; Upgrade</label><input type="checkbox" class="contactFormClass_checkboxGroup" name="interests2" id="contactFormField_1_323" value="Software Update &amp; Upgrade" />
<label class="noCaption" for="contactFormField_2_323">Application Hosting</label><input type="checkbox" class="contactFormClass_checkboxGroup" name="interests3" id="contactFormField_2_323" value="Application Hosting" />
<label class="noCaption" for="contactFormField_3_323">Software Services</label><input type="checkbox" class="contactFormClass_checkboxGroup" name="interests4" id="contactFormField_3_323" value="Software Services" />
<label class="noCaption" for="contactFormField_4_323">Contrexx Installation</label><input type="checkbox" class="contactFormClass_checkboxGroup" name="interests5" id="contactFormField_4_323" value="Contrexx Installation" />
<label class="noCaption" for="contactFormField_5_323">Online Marketing</label><input type="checkbox" class="contactFormClass_checkboxGroup" name="interests6" id="contactFormField_5_323" value="Online Marketing" />
<label class="noCaption" for="contactFormField_6_323">Webdesign Templates</label><input type="checkbox" class="contactFormClass_checkboxGroup" name="interests7" id="contactFormField_6_323" value="Webdesign Templates" />
</div>
</div>
</fieldset>
<fieldset id="contactFormFieldId_474">
<legend>AGB</legend>
<div class="contact row">
<label for="contactFormFieldId_469">Ich habe die <a href="http://www.comvation.com/de/System/AGBs" target="_blank">AGBs</a>
der Comvation AG<br /> gelesen und akzeptiere diese<strong class="is_required">*</strong></label><input class="contactFormClass_checkbox" id="agb" type="checkbox" name="agb" value="1" />
</div>
</fieldset>
<fieldset>
<div class="row">
    <label>* benötigte Angaben</label>
</div>
</fieldset>
    </p>
    <!-- END update_license_new -->
    
    <!-- BEGIN update_license_existing -->
    <p>
        Ihre existierende NonProfit- oder Business-Lizenz wird auf diese Installation
        übernommen.
    </p>
    <p>
        <input class="contactFormClass_checkbox" id="agb" type="checkbox" name="agb" value="1" />
        <label for="agb">Ich habe die vorliegenden Informationen verstanden und bin damit einverstanden.</label> 
    </p>

    <!-- END update_license_existing -->
</div>
<script type="text/javascript">
    jQuery("#wrapper").attr("onsubmit", "");
    jQuery("input[value=null]").val("");
    jQuery("#wrapper").submit(function(e) {
        if (!jQuery("select[name=edition]").size()) {
            return doUpdate();
        }
        
        if (isFormValid()) {
            return doUpdate(false, true);
        }
        return false;
    });
    
    var isFormValid = function() {
        var valid = true;
        jQuery("label").removeClass("invalid");
        
        var fieldsToCheck = jQuery(".is_required").parent().next("input");
        jQuery.each(fieldsToCheck, function(index, element) {
            valid = isFieldValid(jQuery(element)) &amp;&amp; valid;
        });
        return valid;
    }
    
    var isFieldValid = function(element) {
        var valid = false;
        if (element.prop("tagName") == "INPUT") {
            if (element.is("[type=checkbox]")) {
                valid = element.is(":not(:checked)");
            } else {
                valid = element.val().trim().length &lt;= 0;
            }
        }
        if (valid) {
            element.prev("label").addClass("invalid");
            return false;
        }
        return true;
    }
</script>

