<div id="content-overview">
    <h1 class="first">{TXT_UPDATE_LICENSE_MODEL}</h1>
    Zurzeit verwenden Sie Contrexx <strong>{UPDATE_EDITION}</strong> Version <strong>{UPDATE_VERSION}</strong>.<br />
    <br />
    Mit der Ausführung dieses Updatevorgangs wird Ihre aktuelle Contrexx Installation auf die <strong>Contrexx 3 Testversion</strong> (entspricht vollem Leistungsumfang) erneuert.<br />
    Sie können die Contrexx Testversion ohne funktionelle Einschränkungen bis zu <strong>60 Tagen kostenlos</strong> nutzen. <br /><br />

    <h2>Lizenzerwerb</h2>
    Während der Testphase von 60 Tagen haben Sie die Möglichkeit eine der folgenden Lizenzen direkt aus Ihrer Administrationskonsole zu erwerben:
    <ul style="padding-top: 10px;">
        <!-- BEGIN update_license_info_free -->
        <li>
            <strong>Contrexx 3 Free</strong><br />
            <i>
                Eingeschränkter Leistungsumfang<br />
                Für weitre Informationen siehe <a href="http://www.contrexx.com/de/products/software/Contrexx-Free" title="Infos zu Contrexx Free anzeigen" target="_blank">Website</a>
            </i>
        </li>
        <!-- END update_license_info_free -->
        <li>
            <strong>Contrexx 3 Non-Profit</strong>
            <i>
                (entspricht vollem Leistungsumfang - siehe <a href="http://www.contrexx.com/de/products/software/Contrexx-Non-Profit" title="Infos zu Contrexx Non-Profit anzeigen" target="_blank">Website</a>)
            </i>
        </li>
        <li>
            <strong>Contrexx 3 Business</strong>
            <i>
                (entspricht vollem Leistungsumfang - siehe <a href="http://www.contrexx.com/de/products/software/Contrexx-Business" title="Infos zu Contrexx Business anzeigen" target="_blank">Website</a>)
            </i>
        </li>
    </ul><br />

    <h2>Weiterführende Informationen</h2>
    <ul>
        <li><a href="http://www.contrexx.com/de/kaufen" title="Lizenzvergleich anzeigen" target="_blank">Lizenzvergleich</a></li>
        <li><a href="http://www.contrexx.com/de/products/software/Contrexx-Non-Profit" title="Infos zu Contrexx Non-Profit anzeigen" target="_blank">Contrexx Non-Profit</a></li>
        <li><a href="http://www.contrexx.com/de/products/software/Contrexx-Business" title="Infos zu Contrexx Business anzeigen" target="_blank">Contrexx Business</a></li>
    </ul><br />

    <h2>Ablauf Testphase</h2>
    Falls Sie keine kommerzielle Lizenz erwerben, wird nach Ablauf der Testphase Ihre Contrexx Installation automatisch in eine Contrexx 3 Free Edition mit eingeschränktem Leistungsumfang umgewandelt.<br />
    <br />

    <div style="padding-top: 5px;">
        <input type="checkbox" value="1" id="license_info" name="update_license_info" {UPDATE_LICENSE_INFO_CHECKED} />
        <label for="license_info"> {TXT_UPDATE_ACCEPT_LICENSE_CHANGE}</label>
    </div>
</div>
