<div id="content-login">
    <img src="{UPDATE_TPL_PATH}/images/content/wms.jpg" border="0"  height="100" width="520" alt="" />
    {TXT_UPDATE_INTRO_MSG}

    <div id="login">
        <!-- BEGIN updateAuthFailedBox --><div class="message-alert">{UPDATE_ERROR_MSG}</div><!-- END updateAuthFailedBox -->
        <div class="line">
            <label for="updateUser">{TXT_UPDATE_USERNAME}</label>
            <input id="updateUser" name="updateUser" type="text" />
        </div>
        <div class="line">
            <label for="updatePass">{TXT_UPDATE_PASSWORD}</label>
            <input id="updatePass" name="updatePass" type="password" />
        </div>
        <div class="line">
            <input name="updateNext" value="{TXT_UPDATE_LOGIN}" type="submit" />
        </div>
    </div>
</div>
