<div id="content-overview">
    <h1 class="first">{TXT_UPDATE_VERSION_SELECTION}</h1>

    <!-- BEGIN updateNoVersions --><div class="message-warning">{TXT_UPDATE_NO_VERSION_TO_UPGRADE_TO}</div><!-- END updateNoVersions -->

    <!-- BEGIN updateVersions -->
    <div id="versions-compatible">
        <input type="hidden" name="updateVersions" value="1" />
        <span>{TXT_UPDATE_SELECT_VERSION_MSG}</span>
        <!-- BEGIN updateNoVersionSelected --><div class="message-alert">{UPDATE_ERROR_MSG}</div><!-- END updateNoVersionSelected -->
        <table class="adminlist">
            <tr>
                <th>{TXT_UPDATE_AVAILABLE_VERSIONS}</th>
            </tr>
            <tr>
                <td>
                    <!-- BEGIN updateVersionList --><input type="radio" name="updateVersion" value="{UPDATE_VERSION_PATH}" id="updateVersion{UPDATE_VERSION_PATH}" {UPDATE_VERSION_CHECKED} /> <label for="updateVersion{UPDATE_VERSION_PATH}">{UPDATE_VERSION_NAME} {UPDATE_VERSION_EDITION} {UPDATE_VERSION}</label><br /><!-- END updateVersionList -->
                </td>
            </tr>
        </table>
    </div>
    <!-- END updateVersions -->
</div>
