<div id="content-process">
    <!-- BEGIN processStatus -->
    <h1 class="first">{UPDATE_PROCESS_TITLE}</h1>

    <table class="adminlist">
        <tr>
            <th>{UPDATE_STATUS_TITLE}</th>
        </tr>
        <tr>
            <td>
                <!-- BEGIN updateProcessError -->
                <div class="message-alert">{UPDATE_ERROR_MSG}</div>
                <!-- END updateProcessError -->
                {UPDATE_STATUS}
            </td>
        </tr>
    </table>
    <!-- END processStatus -->
    
    <!-- BEGIN dialogContent -->
    <script type="text/javascript">
        cx.ready(function() {
            cx.ui.dialog({
                width:         1020,
                height:        800,
                modal:         true,
                closeOnEscape: false,
                dialogClass:   "content-migration-dialog",
                title:         "Inhaltsseiten gruppieren",
                content:       '{PROCESS_DIALOG_CONTENT}',
                
                close: function() {
                    executeGrouping();
                },
                buttons: {
                    "Abschliessen": function() {
                        $J(this).dialog("close");
                    }
                }
            });
        });
    </script>
    
    <div style="margin: 180px 0 0 155px;">Bitte haben Sie einen Moment Geduld.<br />Das Update wird durchgeführt...<br /><br /><img src="template/contrexx/images/content/loading_animation.gif" width="208" height="13" alt="" /></div>
    <!-- END dialogContent -->
    
    <!-- BEGIN ajaxDialogContent -->
    {PROCESS_DIALOG_CONTENT}
    <!-- END ajaxDialogContent -->
 
    <!-- BEGIN finish -->
    <h1>{TXT_UPDATE_UPDATE_FINISHED}</h1>
    Gratulation, Sie haben Contrexx WMS Version 3.0 Service Pack 1 erfolgreich installiert!<br /><br />
    <h2 class="no-space-bottom">Nächste Schritte</h2>
    <h3>Anpassungen an Templates</h3>
    Module, welche durch dieses Update aktualisiert wurden, benötigen neue Style-Definitionen. Zudem unterstützen nun einige Module HTML-Vorlagen, welche noch an Ihr Corporate Design angepasst werden müssen. Unter <a href="http://www.contrexx.com/wiki/de/index.php?title=Version_3.0.1" target="_blank">http://www.contrexx.com/wiki/de/index.php?title=Version_3.0.1</a> erfahren Sie, wie und wo Sie die Darstellung anpassen können.

    <h3>Lizenz erwerben</h3>
    Wenn Sie eine Lizenz erwerben möchten, so besuchen Sie nun <a href="http://www.contrexx.com/de/kaufen" target="_blank">http://www.contrexx.com/de/kaufen</a>.

    <h3>Webseite Management System</h3>
    Über folgende Links gelangen Sie zum Contrexx WMS:
    <ul>
        <li><a href="{URL_FRONTEND}">Frontend</a></li>
        <li><a href="{URL_BACKEND}">Backend</a></li>
    </ul>
    <!-- END finish -->

 </div>