<!-- start process.html -->
<div class="title">{UPDATE_PROCESS_TITLE}</div>
<div style="border:1px solid #ECF2FA; background-color:#ECF2FA; margin-top:10px; padding:2px;">{UPDATE_STATUS_TITLE}</div>
<div style="padding:10px; border:1px solid #ECF2FA;">
	<!-- BEGIN updateProcessError -->
		<div style="min-height:20px; clear:both; width:100%; margin-top:2px;" class="status_message">
			<div class="failed">
			{UPDATE_ERROR_MSG}
			</div>
		</div>
		<br />
	<!-- END updateProcessError -->
	{UPDATE_STATUS}
</div>
<!-- end process.html -->