<div id="content-overview">
    <h1 class="first">{TXT_UPDATE_SYSTEM_REQUIREMENTS}</h1>

    <!-- BEGIN versions -->
    <div id="versions">
        <table class="adminlist">
            <tr>
                <th colspan="2">{TXT_UPDATE_VERSIONS}</th>
            </tr>
            <!-- BEGIN version -->
            <tr>
                <td>{UPDATE_VERSION_NAME}</td>
                <td class="{UPDATE_VERSION_CLASS} td-status">{UPDATE_VERSION_VALUE}</td>
            </tr>
            <!-- END version -->
        </table>
    </div>
    <!-- END versions -->

    <!-- BEGIN phpExtensions -->
    <div id="php-extensions">
        <table class="adminlist">
            <tr>
                <th colspan="2">{TXT_UPDATE_PHP_EXTENSIONS}</th>
            </tr>
            <!-- BEGIN phpExtension -->
            <tr>
                <td>{UPDATE_PHP_EXTENSION_NAME}</td>
                <td class="{UPDATE_PHP_EXTENSION_CLASS} td-status">{UPDATE_PHP_EXTENSION_VALUE}</td>
            </tr>
            <!-- END phpExtension -->
        </table>
    </div>
    <!-- END phpExtensions -->

    <!-- BEGIN phpConfigurations -->
    <div id="php-configuration">
        <table class="adminlist">
            <tr>
                <th colspan="2">{TXT_UPDATE_PHP_CONFIGURATIONS}</th>
            </tr>
            <!-- BEGIN phpConfiguration -->
            <tr>
                <td>{UPDATE_PHP_CONFIGURATION_NAME}</td>
                <td class="{UPDATE_PHP_CONFIGURATION_CLASS} td-status">{UPDATE_PHP_CONFIGURATION_VALUE}</td>
            </tr>
            <!-- END phpConfiguration -->
        </table>
    </div>
    <!-- END phpConfigurations -->
</div>
