<div id="content-overview">
    <!-- BEGIN versionRequirements -->
    <div id="version-requirements">
        <table class="adminlist">
            <tr>
                <th>{TXT_UPDATE_VERSION_REQUIREMENTS_NOT_PASSED}</th>
            </tr>
            <tr>
                <td>
                    <ul class="list">
                        <li>{TXT_UPDATE_VERSION_REQUIREMENTS}</li>
                        <ul>
                            {UPDATE_VERSION_REQUIREMENTS}
                        </ul>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
    <!-- END versionRequirements -->
    
    <!-- BEGIN serverRequirements -->
    <div id="server-requirements">
        <table class="adminlist">
            <tr>
                <th>{TXT_UPDATE_SERVER_REQUIREMENTS_NOT_PASSED}</th>
            </tr>
            <tr>
                <td>
                    <ul class="list">
                        <li>{TXT_UPDATE_SERVER_REQUIREMENTS}</li>
                        <ul>
                            {UPDATE_SERVER_REQUIREMENTS}
                        </ul>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
    <!-- END serverRequirements -->
    
    <!-- BEGIN serverNotices -->
    <div id="server-notices">
        <table class="adminlist">
            <tr>
                <th>{TXT_UPDATE_NOTICES}</th>
            </tr>
            <tr>
                <td><ul class="list">{UPDATE_NOTICES}</ul></td>
            </tr>
        </table>
    </div>
    <!-- END serverNotices -->
</div>