<!-- start start.html -->
<div id="updateStatusScreen">
<div class="title">{TXT_UPDATE_UPDATE_IS_READY}</div>
{UPDATE_PROCESS_SCREEN}
<div style="border:1px solid #ECF2FA; background-color:#ECF2FA; margin-top:30px;">
	<input type="checkbox" id="update_advanced" onclick="document.getElementById('updateAdvancedBox').style.display = (this.checked == true ? 'block' : 'none')" style="border-color:#ECF2FA; background-color:#ECF2FA;" /> <label for="update_advanced">{TXT_UPDATE_ADVANCED_CONFIGURATION}</label>
</div>
<div id="updateAdvancedBox" style="display:none; padding:10px; border:1px solid #ECF2FA;">
	<input type="checkbox" name="update_module_repository" id="update_module_repository" value="1" checked="checked" style="border-color:#ffffff; background-color:#ffffff;" /> <label for="update_module_repository">{TXT_UPDATE_RENEW_MODULE_REPOSITORY}</label><br />
	<input type="checkbox" name="update_backend_areas" id="update_backend_areas" value="1" checked="checked" style="border-color:#ffffff; background-color:#ffffff;" /> <label for="update_backend_areas">{TXT_UPDATE_RENEW_BACKEND_AREAS}</label><br />
	<input type="checkbox" name="update_module_table" id="update_module_table" value="1" checked="checked" style="border-color:#ffffff; background-color:#ffffff;" /> <label for="update_module_table">{TXT_UPDATE_RENEW_MODULE_TABLE}</label><br />
</div>
</div>
<!-- end start.html -->