<div id="content-start">
    <h1 class="first">{TXT_UPDATE_UPDATE_IS_READY}</h1>

    Bevor Sie das Update starten, stellen Sie sicher, dass ein Backup aller Dateien sowie der Datenbank Ihrer kompletten Webseite vorhanden ist.<br /><br />

    <b>Hinweis:</b><br />
    Je nach Grösse Ihrer Website kann das Update bis zu 30 Minuten dauern.<br /><br />

    <b>Achtung:</b><br />
    Während des Updatevorgangs ist Ihre Website nicht funktionsfähig und steht Besuchern nicht zur Verfügung.<br />
    Nach Initialisierung des Updatevorgangs kann dieser nicht unterbrochen oder abgebrochen werden.<br /><br />

    Klicken Sie nun auf "Update starten", um Ihre Contrexx Installation auf die Version {UPDATE_VERSION} zu aktualisieren.
</div>
