<div>
    <div class="form">
        <form role="form" name="SurveyForm" action="index.php?section=Survey" method="post">
            <!-- BEGIN Total_surveys -->
            <div class="results">
                <fieldset>
                    <legend>{SURVEY_TITLE}</legend>
                    {SURVEY_OPTIONS_TEXT}
                    {SURVEY_COMMENT_BOX}
                </fieldset>
            </div>
            <!-- END Total_surveys -->
            <div style="padding-left:100px;">{TXT_SUBMIT}</div>
        </form>
    </div>
</div>
