#content {
  float: left;
  width: 100%;
}
.main_subpage {
  float: left;
  width: 100%;
}
.txt {
  float: left;
  overflow: hidden;
  width: 650px;
}
#main .headline {
  clear: both;
  margin-bottom: 37px;
  padding: 0 20px 0 0;
   width: 650px;
}
#contactFrame{
    float: left;
    width: 650px;
}