
<!-- START  module_dataviewer_new_project.html -->
<script type="text/javascript">
/* <![CDATA[ */
	function preview() {
		div = document.getElementById("preview");
		numberOfElements = document.project.column.length;		
		
		var tableStart = '<table id="preview" border="0" cellpadding="5" cellspacing="0"><tr>';
		var tableEnd = '<\/tr><\/table>';
		var rows = "";
		var blindText = "";
		var i = 1;
		
		while (i < numberOfElements) {
			var rows = rows + '<td><b>' + document.project.column[i].value + '<\/b><\/td>';
			var blindText = blindText + '<td>lorem ipsum..<\/td>';
			i++;
		}
		div.innerHTML = tableStart + rows + '<tr>' + blindText + '<\/tr>' + tableEnd;
	}
	
	function validateInput(input) {
		var expression = 	/\W/;
		input = input.replace(expression, "_");
		
		if(input == "country") {
			input = "country2";
		}
		
		return input;
	}
	
	function validateInputProjectName(input) {
		var expression = 	/\W/;
		input = input.replace(expression, "_");
		
		return input;
	}
	
	
	var projectTable;
	var rowId = 0;
	function addColumn() {
		var foo = document.getElementById("rowTemplate");	
		var rowTemplate = foo.cloneNode(true);
		
		projectTable = document.getElementById("projectTable");
		rowTemplate.id = "projectRow_"+rowId++;
		rowTemplate.style.display = "table-row";
		projectTable.insertBefore(rowTemplate, foo);
 	}
		
	var deleteRow = function (obj) {
		var tr = obj.parentNode.parentNode;
		tr.parentNode.removeChild(tr);
	}
	
	function checkColumns() {
		numberOfElements = document.project.column.length;
		
		if(!numberOfElements) {
			return "NO_COLUMN";
		}
		
		var i = 1;
		var error = false;
		while (i < numberOfElements) {
			if(document.project.column[i].value == "") {
				return "EMPTY_COLUMN";
			}
			i++;
		}
		
		return "OK";		
	}
	
	
	function checkInput() {
		var errorMessage = "";
		var wrongFieldsArray = new Array();
		
		//columns
		var checkColumnsReturn = checkColumns();
		if(checkColumnsReturn == "NO_COLUMN") {
			errorMessage = "{TXT_ONE_COLUMN_OR_MORE}\n"
		}

		if(checkColumnsReturn == "EMPTY_COLUMN") {
			errorMessage = "{TXT_COLUMNS_MUSTNT_BE_EMPTY}\n"
		}

		//name
		if(document.project.name.value == "") {
			wrongFieldsArray.push("name");
			errorMessage += "{TXT_ENTER_A_NAME}\n";
		}
		
		//language
//		if(document.project.language.value == "") {
//			wrongFieldsArray.push("language");
//			errorMessage += "{TXT_CHOOSE_FRONTENT_LANG}\n";
//		}
		
		//description
		if(document.project.description.value == "") {
			wrongFieldsArray.push("description");
			errorMessage += "{TXT_ENTER_DESCRIPTION}\n";
		}
		
		//country based
		if(document.getElementsByName('countryBased')[0].checked == false && document.getElementsByName('countryBased')[1].checked == false) {
			wrongFieldsArray.push("countryBased");
			errorMessage += "{TXT_CHOOSE_COUNTRYBASED}\n";
		}
		
		//status
		if(document.getElementsByName('status')[0].checked == false && document.getElementsByName('status')[1].checked == false) {
			wrongFieldsArray.push("status");
			errorMessage += "{TXT_CHOOSE_STATUS}\n";
		}
		
		
		//highlight the fields
		for (var i=0; i < wrongFieldsArray.length; i++) {
//			alert(wrongFieldsArray[i]);
		}
				
		if(errorMessage !== "") {
			alert(errorMessage);
			return false; 
		} else {
			return true; 
		}		
	}

	
	Text[0] = ["", '{TIP_PROJECTNAME}'];
	Text[1] = ["", '{TIP_FRONTEND_LANG}'];
	Text[2] = ["", '{TIP_COUNTRYBASED}'];
	Text[3] = ["", '{TIP_DESCRIPTION}'];
	Text[4] = ["", '{TIP_STATUS}'];
	Text[5] = ["", '{TIP_COLUMN_NAME}'];
	
	Style[0]=["","","","","",,"black","#ffffe1","","","",,,,1,"#000000",2,21,0.3,,2,"gray",1,,15,-5];
/* ]]> */
</script>

<form name="project" action="index.php?cmd=dataviewer&amp;act=new" method="post" onsubmit="return checkInput();">
<table cellspacing="0" cellpadding="3" width="100%" border="0" class="adminlist">
		<thead>
			<tr>
				<th valign="top" colspan="2">
					{TXT_PROJECT_COLUMNS}
				</th>
			</tr>
		</thead>
		<tbody id="projectTable" >
			<tr class="row1">
				<td width="12%" nowrap="nowrap" onmouseout="htm()" onmouseover="stm(Text[0],Style[0])">{TXT_PROJECTNAME}</td>
				<td width="88%"><input type="text" onkeypress="this.value=validateInputProjectName(this.value);" name="name" style="width: 400px;" value="{POST_NAME}" maxlength="250" /></td>
			</tr>
			<tr class="row2">
				<td width="12%" nowrap="nowrap" onmouseout="htm()" onmouseover="stm(Text[1],Style[0])">{TXT_FRONTEND_LANGUAGE}</td>
				<td width="88%">{AVAILABLE_FRONTENT_LANGUAGES}</td>
			</tr>
			<tr class="row1">
				<td width="12%" nowrap="nowrap" onmouseout="htm()" onmouseover="stm(Text[2],Style[0])">{TXT_PROJECTDESCRIPTION}</td>
				<td width="88%"><input type="text" name="description" style="width: 400px;" value="{POST_DESCRIPTION}" maxlength="250" /></td>
			</tr>
			<tr class="row2">
				<td width="12%" nowrap="nowrap" onmouseout="htm()" onmouseover="stm(Text[3],Style[0])">{TXT_COUNTRY_BASED}</td>
				<td width="88%">
					<input type="radio" name="countryBased" {POST_DESCRIPTION_COUNTRYBASED_Y} value="y" />{TXT_YES}
					<input type="radio" name="countryBased" {POST_DESCRIPTION_COUNTRYBASED_N} value="n" />{TXT_NO}
				</td>
			</tr>
			<tr class="row1">
				<td width="12%" nowrap="nowrap" onmouseout="htm()" onmouseover="stm(Text[4],Style[0])">Status</td>
				<td width="88%">
					<input type="radio" name="status" {POST_DESCRIPTION_STATUS_Y} value="y" />{TXT_ACTIVE}
					<input type="radio" name="status" {POST_DESCRIPTION_STATUS_N} value="n" />{TXT_INACTIVE}
				</td>
			</tr>
			<tr>
				<th valign="top" colspan="2">
					{TXT_PROJECT_COLUMNS}
				</th>
			</tr>
			<tr class="row1" id="rowTemplate" style="display: none;">
				<td width="12%" nowrap="nowrap" onmouseout="htm()" onmouseover="stm(Text[5],Style[0])">Spalte 1</td>
				<td width="88%"><input type="text" name="column[]" id="column" onkeypress="this.value=validateInput(this.value); preview();" onblur="this.value=validateInput(this.value); preview();" style="width: 400px;" value="" maxlength="250" />&nbsp;<a href="javascript:void;" onclick="deleteRow(this); preview();"><img border="0" src="../cadmin/images/icons/delete.gif" alt="delete" /></a><br /></td>
			</tr>
			<tr class="row2">
				<td width="12%" nowrap="nowrap">&nbsp;</td>
				<td width="88%" nowrap="nowrap"><input type="button" onclick="addColumn();" name="addColumnButton" value="{TXT_ADD_COLUMN}" /></td>
			</tr>
			<tr>
				<th valign="top" colspan="2">
					{TXT_PREVIEW}
				</th>
			</tr>
			<tr class="row1">
				<td colspan="2">
					<div id="preview"></div>
				</td>
			</tr>
		</tbody>
	</table>
	<br />
	<input type="submit" name="save" value="{TXT_SAVE}" />
</form>

<!-- END module_dataviewer_new_project.html -->
