
<!-- START module_dataviewer_filters.html -->
<script type="text/javascript">
/* <![CDATA[ */
  function checkDoubleAssignments() {
    numberOfElements = document.filter.filters.length;
    var z = 0;
    while (z < numberOfElements){
      var i = 0;
      while (i < numberOfElements) {
        if (z != i) {
          if((document.filter.filters[z].selectedIndex == document.filter.filters[i].selectedIndex)  && document.filter.filters[i].selectedIndex !== 0) {
            var double = true;
          }
        }
        i++;
      }
      z++;
    }

    if(double) {
      alert ("{TXT_NO_DOUBLE_ASSIGNMENTS}");
      return false;
    }
    return true;
  }

  Text[0] = ["", '{TIP_EVERY_FILTER}'];
  Style[0]=["","","","","",,"black","#ffffe1","","","",,,,1,"#000000",2,21,0.3,,2,"gray",1,,15,-5];
/* ]]> */
</script>

<form name="filter" action="index.php?cmd=dataviewer&amp;act=filter&amp;id={ID}" method="post" onsubmit="return checkDoubleAssignments()">
  <table cellspacing="0" cellpadding="3" width="100%" border="0" class="adminlist" summary="block list">
    <tbody>
      <tr>
        <th valign="top" colspan="2">
          {TXT_FILTER}
        </th>
      </tr>
      <!-- BEGIN filterRow -->
      <tr class="{ROWCLASS}">
        <td width="12%" nowrap="nowrap" onmouseout="htm()" onmouseover="stm(Text[0],Style[0])">{FILTER}</td>
        <td width="88%">
          <select size="1" name="filters[]" id="filters" style="width: 200px;">
            <option value="noColumn">{TXT_NO_FILTER}</option>
            <!-- BEGIN columnsRow -->
            <option value="{COLUMN}" {SELECTED}>{COLUMN}</option>
            <!-- END columnsRow -->
          </select><br />
        </td>
      </tr>
      <!-- END filterRow -->
    </tbody>
  </table>
  <br />
  <input type="submit" name="save" value="{TXT_SAVE}" />
</form>

<!-- END module_dataviewer_filters.html -->
