
<!-- START  module_dataviewer_edit_project.html -->
<script type="text/javascript">
/* <![CDATA[ */
	function preview() {
		//preview
		div = document.getElementById("preview");
		numberOfElements = document.project.column.length;
		
		var tableStart = '<table id="preview" border="1" cellpadding="0" cellspacing="0"><tr>';
		var tableEnd = '</tr></table>';
		var rows = "";
		var blindText = "";
		var i = 0;
		
		while (i < numberOfElements) {
			var rows = rows + '<td><b>' + document.project.column[i].value + '</b></td>';
			var blindText = blindText + '<td>foo doo soo moo kuh</td>';
			i++;
		}
				
		div.innerHTML = tableStart + rows + '<tr>' + blindText + '</tr>' + tableEnd;
	}
	
	function updateConfirm() {
	    check = confirm("ACHTUNG! Bei einem Projektupdate gehen alle bisher importierten Daten verloren! Wollen Sie fortfahren?")
		if(check == true) {
			location.href = "index.php?cmd=dataviewer&act=edit";
		} else {
			return false;
		}
	}
	
	Text[0] = ["", 'Dieser Projektname ist für den User sichtbar.'];
	Text[1] = ["", 'Gibt an, in welchen Sprachen dieses Projekt verfügbar ist.<br />Die Auswahl ist abhängig von den aktivierten Sprachen unter "Spracheinstellungen.'];
	Text[2] = ["", 'Ist diese Option aktiviert, so können die importieren Daten innerhalb<br />eines Projektes einem Land zugewiesen werden.'];
	Text[3] = ["", 'Die Beschreibung ist bei den Projektauflistungen für den User ersichtlich.'];
	Text[4] = ["", 'Ist der Status auf inaktiv, wird das Projekt nicht angezeigt'];
	
	Style[0]=["","","","","",,"black","#ffffe1","","","",,,,1,"#000000",2,21,0.3,,2,"gray",1,,15,-5];
/* ]]> */
</script>

<form name="project" action="index.php?cmd=dataviewer&act=edit" method="post" onsubmit="return updateConfirm()" />
	<table cellspacing="0" cellpadding="3" width="100%" border="0" class="adminlist">
		<tr>
			<th valign="top" colspan="2">
				Projekdaten
			</th>
		</tr>
		<tr class="row1">
			<td width="12%" nowrap="nowrap" onmouseout="htm()" onmouseover="stm(Text[0],Style[0])">Name</td>
			<td width="88%"><input type="text" name="name" style="width: 400px;" value="{POST_NAME}" maxlength="250" /></td>
		</tr>
		<tr class="row2">
			<td width="12%" nowrap="nowrap" onmouseout="htm()" onmouseover="stm(Text[1],Style[0])">Frontend Sprache</td>
			<td width="88%"><input type="text" name="language" style="width: 400px;" value="{NEWS_TITLE}" maxlength="250" /></td>
		</tr>
		<tr class="row1">
			<td width="12%" nowrap="nowrap" onmouseout="htm()" onmouseover="stm(Text[2],Style[0])">Beschreibung</td>
			<td width="88%"><input type="text" name="description" style="width: 400px;" value="{POST_DESCRIPTION}" maxlength="250" /></td>
		</tr>
		<tr class="row2">
			<td width="12%" nowrap="nowrap" onmouseout="htm()" onmouseover="stm(Text[3],Style[0])">Länderbasiert</td>
			<td width="88%">
				<input type="radio" name="countryBased" {POST_DESCRIPTION_COUNTRYBASED_Y} value="y">Ja
				<input type="radio" name="countryBased" {POST_DESCRIPTION_COUNTRYBASED_N} value="n">Nein
			</td>
		</tr>
		<tr class="row1">
			<td width="12%" nowrap="nowrap">Status</td>
			<td width="88%">
				<input type="radio" name="status" {POST_DESCRIPTION_STATUS_Y} value="y">Aktiv
				<input type="radio" name="status" {POST_DESCRIPTION_STATUS_N} value="n">Inaktiv
			</td>
		</tr>
		<tr>
			<th valign="top" colspan="2">
				Projektspalten
			</th>
		</tr>
		<tr class="row1">
			<td width="12%" nowrap="nowrap">Spalte 1</td>
			<td width="88%"><input type="text" id="column" name="column[]" onchange="preview(this.value);" style="width: 400px;" value="" maxlength="250" />&nbsp;<img src="../images/modules/dataviewer/delete.gif" alt="delete" /></td>
		</tr>
		<tr class="row2">
			<td width="12%" nowrap="nowrap">Spalte 2</td>
			<td width="88%"><input type="text" id="column" name="column[]" onchange="preview();" style="width: 400px;" value="" maxlength="250" />&nbsp;<img src="../images/modules/dataviewer/delete.gif" alt="delete" /></td>
		</tr>
		<tr class="row1">
			<td width="12%" nowrap="nowrap">Spalte 3</td>
			<td width="88%"><input type="text" id="column" name="column[]" onchange="preview();" style="width: 400px;" value="" maxlength="250" />&nbsp;<img src="../images/modules/dataviewer/delete.gif" alt="delete" /></td>
		</tr>
		<tr class="row2">
			<td width="12%" nowrap="nowrap">&nbsp;</td>
			<td width="88%" nowrap="nowrap"><input type="button" onclick="addColumn()" name="addColumn" value="Weitere Spalte hinzufügen" /></td>
		</tr>
		<tr>
			<th valign="top" colspan="2">
				Vorschau
			</th>
		</tr>
		<tr class="row1">
			<td colspan="2">
				<div id="preview"></div>
			</td>
		</tr>
	</table>
	<br />
	<input type="hidden" name="id" value="{POST_ID}" />
	<input type="submit" name="save" value="Speichern" />
</form>

<!-- END module_dataviewer_edit_project.html -->
