
<!-- START module_dataviewer_settings.html -->

<script type="text/javascript">
	Text[0] = ["", '{TIP_USE_COUNTRYBASED}'];
	Style[0]=["","","","","",,"black","#ffffe1","","","",,,,1,"#000000",2,21,0.3,,2,"gray",1,,15,-5];
</script>	

<form action="index.php?cmd=dataviewer&amp;act=settings" method="post">
	<table cellspacing="0" cellpadding="3" width="100%" border="0" class="adminlist">
		<tr>
			<th valign="top" colspan="7">
			{TXT_DATAVIEWER_SETTINGS}
			</th>
		</tr>
			<tr class="row1">
				<td width="12%" nowrap="nowrap" onmouseout="htm()" onmouseover="stm(Text[0],Style[0])">{TXT_USE_COUNTRYBASED}</td>
				<td width="88%"><input type="checkbox" name="useCountrybased" {CHECKED} /></td>
			</tr>
		<tr>
				<th valign="top" colspan="2">
					{TXT_PLACEHOLDER}
				</th>
			</tr>
			<!-- BEGIN placeholderRow -->
			<tr class="{ROWCLASS}">
				<td colspan="2">
					Wenn Sie die Inhaltsseite manuell bearbeiten möchten, können Sie die Platzhalter selbst bestimmen.<br />
					Benutzen Sie die Platzhalter nach folgendem Schema:<br />
					<br />
					<strong>DATAVIEWER_PLACEHOLDER_X</strong> => ersetzen Sie das X mit der richtigen Nummer.<br />
					Sie können die Belegung jederzeit unter dem Menüpunkt "Platzhalter" für jedes Projekt ändern und einsehen.<br />
					<br />
					<strong><em>Beispiel:</em></strong><br />
					&lt;!-- BEGIN dataviewer_row --&gt;<br />
					Name: DATAVIEWER_PLACEHOLDER_1<br />
					Telefon: DATAVIEWER_PLACEHOLDER_3<br />
					Telefax: DATAVIEWER_PLACEHOLDER_2<br />
					&lt;!-- END dataviewer_row --&gt;<br />
				</td>
			</tr>
	</table>
	<br />
	<input type="submit" name="save" value="{TXT_SAVE}" />
</form>

<!-- END module_dataviewer_overview.html -->
