
<!-- START module_dataviewer_placeholders.html -->
<script type="text/javascript">
/* <![CDATA[ */
  Text[0] = ["", '{TIP_PLACEHOLDER}'];
  Style[0]=["","","","","",,"black","#ffffe1","","","",,,,1,"#000000",2,21,0.3,,2,"gray",1,,15,-5];
/* ]]> */
</script>
<form action="index.php?cmd=dataviewer&amp;act=placeholder&amp;id={ID}" method="post">
  <table cellspacing="0" cellpadding="3" width="100%" border="0" class="adminlist" summary="block list">
    <tbody>
      <tr>
        <th valign="top" colspan="2">
          {TXT_PLACEHOLDER}
        </th>
      </tr>
      <!-- BEGIN placeholderRow -->
      <tr class="{ROWCLASS}">
        <td width="12%" nowrap="nowrap" onmouseout="htm()" onmouseover="stm(Text[0],Style[0])">[[PLACEHOLDER_{PLACEHOLDERID}]]</td>
        <td width="88%">
          <select size="1" name="placeholders[]" style="width: 200px;">
            <option value="noAssignment">{TXT_NO_ASSIGNMENT}</option>
            <!-- BEGIN columnsRow -->
            <option value="{COLUMN}" {SELECTED}>{COLUMN}</option>
            <!-- END columnsRow -->
          </select><br />
        </td>
      </tr>
      <!-- END placeholderRow -->
      <tr>
        <td colspan="2"><br />{TXT_WHERE_TO_PUT_PLACEHOLDER}</td>
      </tr>
    </tbody>
  </table>
  <br />
  <input type="submit" name="save" value="{TXT_SAVE}" />
</form>

<!-- END module_dataviewer_placeholders.html -->
