
<!-- START module_dataviewer_settings.html -->

<script type="text/javascript">
  Text[0] = ["", '{TIP_USE_COUNTRYBASED}'];
  Style[0]=["","","","","",,"black","#ffffe1","","","",,,,1,"#000000",2,21,0.3,,2,"gray",1,,15,-5];
</script>

<form action="index.php?cmd=dataviewer&amp;act=settings" method="post">
  <table cellspacing="0" cellpadding="3" width="100%" border="0" class="adminlist">
    <tr>
      <th valign="top" colspan="7">
      {TXT_DATAVIEWER_SETTINGS}
      </th>
    </tr>
      <tr class="row1">
        <td width="12%" nowrap="nowrap" onmouseout="htm()" onmouseover="stm(Text[0],Style[0])">{TXT_USE_COUNTRYBASED}</td>
        <td width="88%"><input type="checkbox" name="useCountrybased" {CHECKED} /></td>
      </tr>
    <tr>
        <th valign="top" colspan="2">
          {TXT_PLACEHOLDER}
        </th>
      </tr>
      <!-- BEGIN placeholderRow -->
      <tr class="{ROWCLASS}">
        <td colspan="2">
        {TXT_HOW_TO_PLACEHOLDER_SETTINGS}
          {TXT_WHERE_TO_PUT_PLACEHOLDER}
        </td>
      </tr>
  </table>
  <br />
  <input type="submit" name="save" value="{TXT_SAVE}" />
</form>

<!-- END module_dataviewer_overview.html -->
