<script type="text/javascript">
<!--
    function toggle(target) {
        obj = document.getElementById(target);
        obj.style.display = (obj.style.display == 'none') ? 'inline' : 'none';
        if (obj.style.display == 'none' && target == 'hiddenSearch') {
            document.getElementById('searchCheck').value = 'norm';
        } else if (obj.style.display == 'inline' && target == 'hiddenSearch') {
            document.getElementById('searchCheck').value = 'exp';
        }
    }
    function CheckForm() {
        var errorMsg = "";
        with (document.sendMessage) {
            if (title.value == "") {
                errorMsg = errorMsg + "- {TXT_MARKET_TITLE} <n";
            }
            if (message.value == "") {
                errorMsg = errorMsg + "- {TXT_MARKET_MSG}\n";
            }
            if (email.value == "") {
                errorMsg = errorMsg + "- {TXT_MARKET_EMAIL}\n";
            } else {
                if (!matchType('^[_a-zA-Z0-9-]+(.[_a-zA-Z0-9-]+)*@[a-zA-Z0-9-]+(.[a-zA-Z0-9-]+)*.(([0-9]{1,3})|([a-zA-Z]{2,3})|(aero|coop|info|museum|name))$', email.value)) {
                    errorMsg = errorMsg + "- n";
                }
            }
            if (errorMsg != "")
            {
                alert("{TXT_FIELDS_REQUIRED}n{TXT_THOSE_FIELDS_ARE_EMPTY}\n" + errorMsg);
                return false;
            } else {
                return true;
            }
        }
    }
    function matchType(pattern, value) {
        var reg = new RegExp(pattern);
        if (value.match(reg)) {
            return true;
        }
        return false;
    }
    --></script>
<div id="market">
    <div class="search">
        <form role="form" action="index.php?" method="get" name="marketSearch" id="marketSearch">
            <input class="searchbox" name="term" value="{TXT_MARKET_SEARCHTERM}" maxlength="100" />
            <input type="hidden" id="searchCheck" name="check" value="norm" />
            <input type="hidden" name="section" value="Market" />
            <input type="hidden" name="cmd" value="search" />
            &nbsp;<input class="btn btn-default" type="submit" value="{TXT_MARKET_SEARCH}" name="search" />
            <div class="adv-search">&nbsp;&raquo;&nbsp;<a href="javascript:toggle('hiddenSearch')">{TXT_MARKET_SEARCH_EXP}</a></div><br />
            <div style="display: none;" id="hiddenSearch"><br />
                <table>
                    {MARKET_EXP_SEARCH_FIELD}
                </table>
            </div>
        </form>
    </div>
    <div class="breadcrumb"><a href="index.php?section=Market">Übersicht</a>{MARKET_CATEGORY_NAVI}</div>
    <div class="title"><h2>{MARKET_TITLE}</h2></div>
    <div class="data">
        <div class="row">
            <div class="col-md-2">{MARKET_PICTURE}</div>
            <div class="col-md-10"><b>{MARKET_TYPE}</b>&nbsp;<i>{MARKET_ENDDATE}&nbsp;</i><br /><br />{MARKET_DESCRIPTION}</div>
        </div>
    </div>
    <div class="data">
        <table>
            <tr>
                <th colspan="2">zus&auml;tzliche Informationen</th>
            </tr>
            <tr class="marketRow2">
                <td width="120" nowrap="nowrap">{TXT_MARKET_PRICE}</td>
                <td>{MARKET_PRICE}</td>
            </tr>
            <tr class="marketRow3">
                <td nowrap="nowrap">{TXT_MARKET_USER_DETAILS}</td>
                <td>{MARKET_USER_DETAILS}</td>
            </tr>
        </table>
    </div>
    <div class="form">
        <fieldset>
            <legend>{TXT_MARKET_MESSAGE}</legend>
            <form name="sendMessage" action="index.php?section=Market&amp;cmd=send&amp;id={MARKET_ID}" method="post" onsubmit="return CheckForm()">
                <p><label for="title">{TXT_MARKET_TITLE}</label><input name="title"  value="{TXT_MARKET_MSG_TITLE}{MARKET_TITLE}" /></p>
                <p><label for="name">{TXT_MARKET_NAME}</label><input name="name"  value="" /></p>
                <p><label for="email">{TXT_MARKET_EMAIL}</label><input name="email"  value="" /></p>
                <p><label for="price">{TXT_MARKET_PRICE_MSG}</label><input name="price"  value="" /></p>
                <p><label for="newprice">{TXT_MARKET_NEW_PRICE}</label><input name="newprice"  value="" /></p>
                <p><label for="message">{TXT_MARKET_MSG}</label><textarea name="message" style="overflow: auto;" rows='7'></textarea></p>
                <p><input class="btn btn-default" type="submit" name="sendMSG" value="{TXT_MARKET_SEND}" /></p>
            </form>
        </fieldset>
    </div>
    <div class="functions">{MARKET_EDIT}&nbsp;|&nbsp;{MARKET_DEL}</div>
</div>
