<!-- START module_livecam_settings.html -->
<script language="javascript" type="text/javascript">
<!-- //
Style[0]=["","","","","",,"black","#ffffe1","","","",,,,1,"#000000",2,21,0.3,,2,"gray",1,,15,-5];
Text[0]=['','{TXT_ACTIVATE_LIGHTBOX_INFO}'];
// -->
</script>
<form action="index.php?cmd=livecam&amp;act=settings" method="post" name="guestbook">
	<table cellspacing="0" cellpadding="2" width="100%" border="0" class="adminlist">
		<tr>
			<th colspan="2">{TXT_SETTINGS}</th>
		</tr>
		<tr class="row1">
			<td width="15%" style="vertical-align: top;">{TXT_CURRENT_IMAGE_URL}:</td>
			<td><input type="text" name="currentImageUrl" value="{CURRENT_IMAGE_URL}" /></td>
		</tr>
		<tr class="row2">
			<td width="15%" nowrap="nowrap">{TXT_ARCHIVE_PATH}</td>
			<td width="85%" nowrap="nowrap"><input name="archivePath" type="text" value="{ARCHIVE_PATH}" /></td>
		</tr>
		<tr class="row1">
			<td width="15%" nowrap="nowrap">{TXT_THUMBNAIL_PATH}</td>
			<td width="85%" nowrap="nowrap"><input name="thumbnailPath" type="text" value="{THUMBNAIL_PATH}" /></td>
		</tr>
		<tr class="row2">
			<td width="15%" nowrap="nowrap">{TXT_ACTIVATE_LIGHTBOX}</td>
			<td width="85%" nowrap="nowrap"><input name="activateLightbox" type="radio" value="1" {LIGHTBOX_ACTIVE} />{TXT_LIGHTBOX_ACTIVE}&nbsp;<input name="activateLightbox" type="radio" value="0" {LIGHTBOX_INACTIVE} />{TXT_LIGHTBOX_INACTIVE}&nbsp;&nbsp;<img src="images/icons/note.gif" alt="info" title="info" width="12" height="12" onmouseout="htm()" onmouseover="stm(Text[0],Style[0])" /></td>
		</tr>
	</table>
	<br />
	<input type="submit" name="store" value="{TXT_SAVE}" />
</form>
<!-- END module_livecam_settings.html -->