#frame_home {
	margin: 0;
	padding: 20px 15px 15px 15px;
	width: 938px;
	height: auto !important;
	float: left;
}

#frame_home_left {
	margin: 0;
	padding: 0 30px 0 0;
	width: 616px;
	min-height: 350px;
	height: auto !important;
	height: 350px;
	float: left;
}

#frame_home_right {
	margin: 0;
	padding: 0;
	width: 292px;
	height: auto !important;
	float: right;
}

#boxes_home {
	margin: 30px 0 0 0;
	padding: 0px 0px 0px 0px;
	width: 616px;
	height: auto !important;
	float: left;
}

#boxes_left, #boxes_center, #boxes_right {
	margin: 0;
	padding: 0;
	width: 292px;
	height: auto !important;
	float: left;
}

#boxes_left, #boxes_center {
	padding-right: 31px;
}
