html {
}

body { 
	background: #ffffff;
	background-repeat: repeat-y;
	background-position: center center;
	margin: 0px;
	font-family: Verdana;
    color: #000000;
}

form { 
	padding: 0px;
	margin: 0px;
}

a{
	font-family:Verdana;
	font-weight: regular;
	text-decoration: none;
        color: #004A9C;
}


a:hover{
	font-family: Verdana;
	font-weight: regular;
        color: #004A9C;
	text-decoration: underline;
}

input, textarea, select, radio {
	font-family: Verdana;
	font-size: 11px;
	border: 1px solid #E5E5E5;
	background-color: #F9F9F9;
	padding: 1px;
	color: #000000;
	overflow: auto;
}


h1 {
	font-family: ARIAL;
	color: #4175A9;
	text-decoration: none;
	font-size: 12px;
	font-style: italic;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
        text-transform : uppercase;
}

h2 {
	font-family: Verdana;
	color: #4175A9;
	text-decoration: none;
	font-size: 10px;
        font-weight: bold;
	margin: 0px;
	padding: 0px;
}


#site {
	float: left;
	width: 698px;
	padding: 0px 0px 0px 0px;
	border: 0px solid #000000;
        position: absolute;
	left: 50%;
	margin-left: -350px;
}

#header {
	float: left;
	height: 110px;
	width: 688px;
	padding: 4px 10px 0px 0px;
	border: 0px solid #000000;
	background-image: url(images/header.gif);
	font-size: 9px;
	color: #ffffff;
	text-align: right;
}

#header a{
	font-size: 11px;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
}

#header a:hover{
	font-size: 11px;
	color: #ffffff;
	text-align: center;
	text-decoration: underline;
}


#navigation {
	float: left;
	height: 24px;
	width: 698px;
	padding: 0px 0px 0px 0px;
	border: 0px solid #000000;
	background-color: #DDDDDD;
        font-size: 11px;
}


#frame{
        float: left;
        width: 698px;
        min-height: 358px;
        height:auto !important;
 	height: 358px;
 	border: 0px solid #000000;
 	background-color: #ffffff;
}

#contentLeft {
	float: left;
	height: 100%;
	width: 195px;
	padding: 15px 15px 15px 10px;
	border: 0px solid #000000;
	background-color: #ffffff;
	min-height: 358px;
 	height:auto !important;
 	height: 358px;
        font-family: Verdana;
	color: #777777;
	text-decoration: none;
	font-size: 9px;
}

#contentLeft a{
	color: #4175A9;
	text-decoration: none;
}

#contentLeft a:hover{
	color: #4175A9;
	text-decoration: none;
}

#contentCenter {
	float: left;
	height: 100%;
	width: 249px;
	padding: 15px 15px 15px 15px;
	border-left: 1px dotted #CCCCCC;
        border-right: 1px dotted #CCCCCC;
	background-color: #ffffff;
	min-height: 358px;
 	height:auto !important;
 	height: 358px;
        font-family: Verdana;
	color: #777777;
	text-decoration: none;
	font-size: 9px;
}

#contentRight {
	float: left;
	height: 100%;
	width: 172px;
	padding: 15px 10px 15px 15px;
	border: 0px solid #000000;
	background-color: #ffffff;
	min-height: 358px;
 	height:auto !important;
 	height: 358px;
        font-family: Verdana;
	color: #777777;
	text-decoration: none;
	font-size: 9px;
}

#contentContent {
	float: left;
	height: 100%;
	width: 475px;
	padding: 15px 15px 15px 10px;
	border-right: 1px dotted #CCCCCC;
	background-color: #ffffff;
	min-height: 358px;
 	height:auto !important;
 	height: 358px;
        font-family: Verdana;
	color: #777777;
	text-decoration: none;
	font-size: 9px;
}
