{FORUM_JAVASCRIPT_GOTO}
{FORUM_JAVASCRIPT_DELETE}
{FORUM_JAVASCRIPT_INSERT_TEXT}
<div id="forum">
    <!-- <div class="links">{FORUM_COMMUNITY_LINKS}</div> -->
    <!-- <div class="dropdown">{FORUM_DROPDOWN}</div> -->
    <div class="breadcrumb">
        {FORUM_TREE}{FORUM_NAME}
    </div>
    <span class="text-danger">{TXT_FORUM_ERROR}&nbsp;</span>
    <span class="text-success">{TXT_FORUM_SUCCESS}&nbsp;</span>
    <div class="container-fluid">
        <div class="row">
            <!-- BEGIN addPostAnchor -->
            <div class="anchor">
                <input class="btn btn-default" onclick="location.href = '#thread';" value="{TXT_FORUM_CREATE_THREAD}" type="button">
            </div>
            <!-- END addPostAnchor -->
        </div>
    </div>
    <div class="threads table-responsive">
        <table cellspacing="0" class="table">
            <tr>
                <th width="96%">{TXT_THREADS_SUBJECTAUTHOR}</th>
                <th width="1%" nowrap="nowrap">{TXT_THREADS_LASTTOPIC}</th>
                <th width="1%" nowrap="nowrap" align="center">{TXT_THREADS_REPLIES}</th>
                <th width="1%" nowrap="nowrap" align="center">{TXT_THREADS_HITS}</th>
                <th width="1%" nowrap="nowrap" align="right">&nbsp;</th>
            </tr>
            <!-- BEGIN forumThreads -->
            <tr class="row{FORUM_THREADS_ROWCLASS}">
                <td><strong><a href="index.php?section=Forum&amp;cmd=thread&amp;id={FORUM_THREADS_ID}" title="{FORUM_THREADS_NAME}">{FORUM_THREADS_NAME}</a></strong><br /><div class="smallfont">{FORUM_THREADS_AUTHOR}</div></td>
                <td nowrap="nowrap" class="smallfont">{FORUM_THREADS_LASTPOST_AUTHOR}<br />{FORUM_THREADS_LASTPOST_DATE}</td>
                <td align="center">{FORUM_THREADS_REPLIES}</td>
                <td align="center">{FORUM_THREADS_HITS}</td>
                <td align="center">
                    <!-- BEGIN deleteThread -->
                    <a onclick="deleteThread('{FORUM_FORUM_ID}', '{FORUM_THREADS_ID}');
                        return false;" href="index.php?section=Forum&amp;cmd=board&amp;id={FORUM_FORUM_ID}&amp;act=delete&amp;threadid={FORUM_THREADS_ID}"><img style="border: medium none ; vertical-align: middle;" src="core/Core/View/Media/icons/delete.gif" title="Thema löschen" alt="Thema löschen" /></a>
                    <!-- END deleteThread -->
                </td>
            </tr>
            <!-- END forumThreads -->
            <!-- BEGIN forumNoThreads -->
            <tr class="row1">
                <td align="center" colspan="5">{TXT_FORUM_NO_THREADS}</td>
            </tr>
            <!-- END forumNoThreads -->
        </table>
    </div>
    <div class="paging">
        {FORUM_THREADS_PAGING}
    </div>
    <!-- BEGIN addThread -->
    <div class="addthread">
        <a name="thread"></a>
        <fieldset>
            <legend>{TXT_FORUM_ADD_THREAD}</legend>
            <form enctype="multipart/form-data" name="frm_thread" action="index.php?section=Forum&amp;cmd=board&amp;id={FORUM_FORUM_ID}" method="post">
                <input type="hidden" name="category_id" value="{FORUM_FORUM_ID}" />
                <input type="hidden" value="{FORUM_PAGING_POS}" name="pos" />
                <!-- <p>
                        <label>{TXT_FORUM_ICON}</label> -->
                <!-- BEGIN icons -->
                <!-- <input type="radio" id="icons_{FORUM_ICON_VALUE}" name="icons" value="{FORUM_ICON_VALUE}" /><label class="description" for="icons_{FORUM_ICON_VALUE}"><img src="{FORUM_ICON_SRC}" alt="{FORUM_ICON_ALT}" title="{FORUM_ICON_TITLE}" /></label><br /> -->
                <!-- END icons -->
                <!-- </p> -->
                <p><label for="thread_subject">{TXT_FORUM_SUBJECT}</label><input type="text" name="thread_subject" value="{FORUM_SUBJECT}" /></p>
                <p><label for="thread_keywords">{TXT_FORUM_KEYWORDS}</label><input onfocus="showToolTip('{TXT_FORUM_COMMA_SEPARATED_KEYWORDS}', this, 'forumKeywordsHelp')" onblur="hideToolTip('forumKeywordsHelp')" title="{TXT_FORUM_COMMA_SEPARATED_KEYWORDS}"  type="text" name="thread_keywords" value="{FORUM_KEYWORDS}" /></p>
                <p><label for="forum_attachment">{TXT_FORUM_FILE_ATTACHMENT}</label>
                <input type="hidden" value="{FORUM_UPLOADER_ID}" name="forumUploaderId" />
                <input type="text" value="{FORUM_ATTACHMENT_VALUE}" name="forum_attachment" class="inputtext" id="forum_attachment"/>
                <input type="button" value="{TXT_FORUM_CHOOSE_FILE}" id="forum-attachment-board"  />
                </p>
                <p><label for="thread_message">{TXT_FORUM_MESSAGE}</label>{FORUM_MESSAGE_INPUT}</p>
                <!-- BEGIN captcha -->
                <p>
                    <label for="captcha">Captcha-Code</label><img src="{FORUM_CAPTCHA_IMAGE_URL}" title="{FORUM_CAPTCHA_IMAGE_ALT}" alt="{FORUM_CAPTCHA_IMAGE_ALT}" /><br />
                    <input type="text" name="captcha" /><input type="hidden" name="offset" value="{FORUM_CAPTCHA_OFFSET}" />
                </p>
                <!-- END captcha -->
                <!-- BEGIN notificationRow -->
                <p>
                    <span class="checkbox">
                        <label class="description" for="forum_notify">
                            <input id="forum_notify" type="checkbox" name="notification" value="notify" {FORUM_NOTIFICATION_CHECKBOX_CHECKED} />
                            {TXT_FORUM_NOTIFY_NEW_POSTS}</label>
                    </span>
                </p>
                <!-- END notificationRow -->
                <p class="thread-button"><input class="btn btn-default" type="reset" value="{TXT_FORUM_RESET}" />&nbsp;
                    <input class="btn btn-default" type="submit" name="create" value="{TXT_FORUM_CREATE_THREAD}" />&nbsp;
                    <input class="btn btn-default" type="submit" name="preview" value="{TXT_FORUM_PREVIEW}" />
                </p>
            </form>
        </fieldset>
    </div>
    <!-- END addThread -->
</div>
{FORUM_UPLOADER}
<script type="text/javascript">
function forumFileUploaderCallback(callback) {
    if (typeof callback[0] !== 'undefined') {
        var data     = callback[0].split('/'),
            fileName = data.pop();
        $J('#forum_attachment').val(fileName);
    }
}
$J(document).ready(function(){
    $J('#forum-attachment-board').click(function(){
        $J('#forum-attachment-uploader').trigger('click');
    });
});

</script>
