{FORUM_JAVASCRIPT}
{FORUM_JAVASCRIPT_GOTO}
<div id="forum">
    <!-- <div class="links">{FORUM_COMMUNITY_LINKS}</div> -->
    <!-- <div class="dropdown">{FORUM_DROPDOWN}</div> -->
    <div class="breadcrumb">{FORUM_TREE}{FORUM_NAME}</div>
    <div class="forums">
        <h2>{FORUM_MAINCATEGORY_NAME}</h2>
        <div class="table-responsive">
            <table class="table" cellspacing="0">
                <tr>
                    <th style="width: 99%;">{TXT_FORUM}</th>
                    <th style="width: 1%; white-space: nowrap;">{TXT_LASTPOST}</th>
                    <th style="width: 1%; text-align: center; white-space: nowrap;">{TXT_THREADS}</th>
                    <th style="width: 1%; text-align: center; white-space: nowrap;">{TXT_POSTINGS}</th>
                </tr>
                <!-- BEGIN forumSubCategory -->
                <tr class="row{FORUM_SUBCATEGORY_ROWCLASS}">
                    <td><div style="padding-left: {FORUM_SUBCATEGORY_SPACER}px;">
                            <a href="index.php?section=Forum&amp;cmd=board&amp;id={FORUM_SUBCATEGORY_ID}" title="{FORUM_SUBCATEGORY_NAME}"><b>{FORUM_SUBCATEGORY_NAME}</b></a><br />{FORUM_SUBCATEGORY_DESC}</div></td>
                    <td style="white-space: nowrap;">{FORUM_SUBCATEGORY_LASTPOST_TITLE}<br />{FORUM_SUBCATEGORY_LASTPOST_DATE}</td>
                    <td style="text-align: center;">{FORUM_SUBCATEGORY_THREADS}</td>
                    <td style="text-align: center;">{FORUM_SUBCATEGORY_POSTINGS}</td>
                </tr>
                <!-- END forumSubCategory -->
            </table>
        </div>
    </div>
