<div class="container-fluid">
    <div class="row">
        <h2>Nach Aufrufe</h2>
        <div class="div_board">
            <ol>
                <!-- BEGIN mostViewed -->
                <li>
                    <a href="{FORUM_MOST_VIEWED_LINK}" title="{FORUM_MOST_VIEWED_SUBJECT}">
                        {FORUM_MOST_VIEWED_SUBJECT} ({FORUM_MOST_VIEWED_VIEWS} mal aufgerufen)
                    </a><br />
                    Stichworte: {FORUM_MOST_VIEWED_KEYWORDS}
                    Inhalt: {FORUM_MOST_VIEWED_CONTENT}
                </li>
                <!-- END mostViewed -->
                </ol>
                    </div>
                    <h2>Nach Bewertung</h2>
                    <div class="div_board">
                        <ol>
                            <!-- BEGIN topRated -->
                            <li>
                                <a href="{FORUM_TOP_RATED_LINK}" title="{FORUM_SUBJECT}">
                                    {FORUM_TOP_RATED_SUBJECT} (Bewertung: {FORUM_TOP_RATED_RATING})
                                </a><br />
                                Stichworte: {FORUM_TOP_RATED_KEYWORDS}
                                Inhalt: {FORUM_TOP_RATED_CONTENT}
                            </li>
                            <!-- END topRated -->
                        </ol>
                    </div>
                    </div>
                    </div>
