<!-- START module_calendar_settings_form.html -->
<script language="JavaScript" type="text/javascript">
var lastId      = {CALENDAR_INPUTFIELD_LAST_ID};
var lastRow     = {CALENDAR_INPUTFIELD_LAST_ROW};
var BlankField  = '',
    defaultLang = '{CALENDAR_FORM_DEFAULT_LANG}',
    activeLang  = [{CALENDAR_FORM_ACTIVE_LANG_ARRAY}];

function appendField(){
    lastId = lastId + 1;

    if(lastRow == 'row1') {
    	lastRow = 'row2';
    } else {
    	lastRow = 'row1';
    }    
    
    var tmpBlankField1 = BlankField.replace(/FIELD_ID/g, lastId);
    var tmpBlankField2 = tmpBlankField1.replace(/FIELD_ROW/g, lastRow);
    
    $J('#inputfields').append(tmpBlankField2);
    attachFieldEvents(cx.jQuery('#inputfield_'+ lastId + ' .lang_default_value_master'));
    attachFieldEvents(cx.jQuery('#inputfield_'+ lastId + ' .lang_name_master'));
    $J('#inputfield_'+lastId).css('display', 'none');
    $J('#inputfield_'+lastId).fadeIn("slow");
}

function deleteField(fieldId){
    $J('#inputfield_'+fieldId).fadeOut("slow", function(){ $J('#inputfield_'+fieldId).remove();});
}

function ExpandMinimize(toggle, id) {

    elm1 = document.getElementById('inputfield_' + id + '_' + toggle + '_Minimized');
    elm2 = document.getElementById('inputfield_' + id + '_' + toggle + '_Expanded');

    elm1.style.display = (elm1.style.display=='none') ? 'block' : 'none';
    elm2.style.display = (elm2.style.display=='none') ? 'block' : 'none';
}
$J(function(){    
    var formData = {CALENDAR_FORM_DATA};
    BlankField = $J("#blankField").html();

    $J(formData).each(function(index, data) {
        $J('#inputfields').append(getField(data));
    });
    cx.jQuery('.lang_default_value_master, .lang_name_master').each(function(){
        cx.jQuery(this).data('lastDefaultValue', cx.jQuery(this).val());
        attachFieldEvents(cx.jQuery(this));
    });
});
function attachFieldEvents($elm) {

    var id = $elm.data('id');
    var relatedFieldPrefix = $elm.data('relatedFieldPrefix') ? $elm.data('relatedFieldPrefix') : 'inputfield';
    $elm.keyup(function() {
        var that = cx.jQuery(this);

        var id = cx.jQuery(this).data('id');
        var relatedFieldPrefix = cx.jQuery(this).data('relatedFieldPrefix') ? cx.jQuery(this).data('relatedFieldPrefix') : 'inputfield';
        cx.jQuery.each(activeLang, function(i, v) {
            if (cx.jQuery('#'+ relatedFieldPrefix + '_' + id +'_'+ v).val() == that.data('lastDefaultValue')) {
                cx.jQuery('#'+ relatedFieldPrefix + '_' + id +'_'+ v).val(that.val());
            }
        });
        cx.jQuery(this).data('lastDefaultValue', cx.jQuery(this).val());
    });
    cx.jQuery('#'+ relatedFieldPrefix + '_' + id +'_'+ defaultLang).keyup(function(){
        var id = cx.jQuery(this).data('id');
        var relatedFieldPrefix = cx.jQuery(this).data('relatedFieldPrefix') ? cx.jQuery(this).data('relatedFieldPrefix') : 'inputfield';
        cx.jQuery('#'+ relatedFieldPrefix + '_' + id +'_0').val(cx.jQuery(this).val());
        cx.jQuery('#'+ relatedFieldPrefix + '_' + id +'_0').data('lastDefaultValue', cx.jQuery(this).val());
    });
}
function getField(data) {
    var tmpBlankField1 = BlankField.replace(/FIELD_ID/g, data.id);
    tmpBlankField1 = tmpBlankField1.replace(/FIELD_ROW/g, data.row);
    $field = $J(tmpBlankField1);
    $field.find('.lang_name_master').val(data.name_master);
    $field.find('.lang_name_master').data('lastDefaultValue', data.name_master);
    $field.find('.sort_order').val(data.order);
    $field.find('.sort_order').val(data.order);
    $field.find('.field_type').val(data.type);
    $field.find('.lang_default_value_master').val(data.default_value_master);
    $field.find('.lang_default_value_master').data('lastDefaultValue', data.default_value_master);
    if (data.required == '1') {
        $field.find('.field_req').attr('checked', 'checked');
    }
    $field.find('.field_afflications').val(data.affiliation);
    
    var lang_name = $J.parseJSON(data.field_value);    
    $J.each(lang_name, function(index, value){        
        $field.find('.inputNamefield_'+index).val(value);
    });
    
    var lang_default_value = $J.parseJSON(data.default_field_value);    
    $J.each(lang_default_value, function(index, value){
        $field.find('.inputDefaultfield_'+index).val(value);
    });
    
    changeFieldType($field);
    
    return $field;
}
function changeFieldType(container) {
    var fieldType = container.find('.field_type').val();

    switch(container.data('prevFieldType')) {
        case 'select':
        case 'radio':
        case 'checkbox':
            container.find('.col_default_value .input_field').tagit('destroy');
            // tagit ul is not removed
            container.find('.col_default_value ul.tagit').remove();
            break;
        case 'textarea':
            changeDefaultFieldType(container, 'text');
            break;
    }

    switch(fieldType) {
        case 'fieldset':
            container.find(".field_req").attr('disabled', 'disabled').hide();
        case 'agb':
            container.find(".field_afflications").attr('disabled', 'disabled').hide();
            container.find(".col_default_value :input").attr('disabled', 'disabled').hide();
            break;
        case 'select':
        case 'radio':
        case 'checkbox':
            addTagIt(container.find('.col_default_value .input_field'));
            container.find(".col_default_value .input_field").hide();
            updateLangFlag(container);
            break;
        case 'textarea':
            changeDefaultFieldType(container, 'textarea');
        default:
            container.find(".field_req").removeAttr('disabled').show();
            container.find(".field_afflications").removeAttr('disabled').show();
            container.find(".col_default_value :input").removeAttr('disabled').show();

            break;
    }
    container.data('prevFieldType', fieldType);
}
function updateLangFlag(container) {
    cx.jQuery.each(container.find('#'+container.attr('id')+'_default_value_Expanded .tagit'), function() {
        cx.jQuery(this)
            .find('input')
            .css({
                'background': cx.jQuery(this).prev('input').css('background'),
                'padding-left': '21px'
            });
    })
}
function changeDefaultFieldType(container, type) {
    container.find('.col_default_value .input_field').each(function(){
        var $this = cx.jQuery(this);
        $this.replaceWith( changeInputFieldType($this, type) );
    });
}
function changeInputFieldType(source, type) {
    var inputTag = type == 'textarea' ? 'textarea' : 'input',
        $field   = cx.jQuery('<'+ inputTag +' />')
                    .attr({
                        id   : source.attr('id'),
                        style: source.attr('style'),
                        class: source.attr('class'),
                        name : source.attr('name')
                    });

    if (inputTag == 'input') {
        $field.attr('type', 'text');
    }
    $field.val(source.val());

    $field.data('id', source.data('id'));
    $field.data('relatedFieldPrefix', source.data('relatedFieldPrefix'));
    $field.data('lastDefaultValue', source.data('lastDefaultValue'));

    return $field;
}
function addTagIt(selector) {
  $J(selector)
    .tagit({
        placeholderText: "{TXT_CALENDAR_ADD_OPTION}",
        allowSpaces: true,
        afterTagAdded: function(event, ui) {
            updateLangTagItFields(event, ui);
            updateDefaultTagItFields(event, ui);
        },
        afterTagRemoved: function(event, ui) {
            updateLangTagItFields(event, ui);
            updateDefaultTagItFields(event, ui);
        }
    });
}
function updateLangTagItFields(event, ui) {
    var $elm = cx.jQuery(event.target);
    if ($elm.hasClass('lang_default_value_master') && $elm.data('isDirty') !== true) {
        var id = $elm.data('id');
        var relatedFieldPrefix = $elm.data('relatedFieldPrefix') ? $elm.data('relatedFieldPrefix') : 'inputfield';
        cx.jQuery.each(activeLang, function(i, v) {
            if (cx.jQuery('#'+ relatedFieldPrefix + '_' + id +'_'+ v).val() == $elm.data('lastDefaultValue')) {
                cx.jQuery('#'+ relatedFieldPrefix + '_' + id +'_'+ v).val($elm.val());
                cx.jQuery('#'+ relatedFieldPrefix + '_' + id +'_'+ v).tagit('destroy');
                cx.jQuery('#'+ relatedFieldPrefix + '_' + id +'_'+ v).next('ul.tagit').remove();
                addTagIt('#'+ relatedFieldPrefix + '_' + id +'_'+ v);
            }
        });
        updateLangFlag(cx.jQuery('#'+ relatedFieldPrefix + '_' + id).closest('tr'));
        $elm.data('lastDefaultValue', $elm.val());
    }
}
function updateDefaultTagItFields(event, ui) {
    var $elm = cx.jQuery(event.target);
    var id = $elm.data('id');
    var relatedFieldPrefix = $elm.data('relatedFieldPrefix') ? $elm.data('relatedFieldPrefix') : 'inputfield';

    if ($elm.attr('id') == relatedFieldPrefix + '_' + id +'_'+ defaultLang) {
        var defaultFieldId = '#'+ relatedFieldPrefix + '_' + id +'_0';
        cx.jQuery(defaultFieldId).val($elm.val());
        cx.jQuery(defaultFieldId).tagit('destroy');
        cx.jQuery(defaultFieldId).next('ul.tagit').remove();
        cx.jQuery(defaultFieldId).data('isDirty', true);
        addTagIt(defaultFieldId);
        cx.jQuery(defaultFieldId).data('isDirty', false);
        cx.jQuery(defaultFieldId).data('lastDefaultValue', $elm.val());
    }
}
</script>
<script id="blankField" type="jquery/tmpl">
    <tr class="FIELD_ROW" id="inputfield_FIELD_ID">
    <td valign="top" style="text-align: center;">FIELD_ID</td>
    <td valign="top" style="text-align: center;">
        <input class="sort_order" name="inputfield[FIELD_ID][order]" type="text" value="99" style="width: 20px;" onfocus="this.select();" />&nbsp;
    </td>
    <td valign="top">
        <div id="inputfield_FIELD_ID_name_Minimized" style="display: block;">
            <input data-id="FIELD_ID" data-last-default-value="" data-related-field-prefix="inputfieldName" id="inputfieldName_FIELD_ID_0" class='lang_name_master' name="inputfield[FIELD_ID][name][0]" maxlength="255" style="width: 200px;" type="text" value="" />
        </div>
        <div id="inputfield_FIELD_ID_name_Expanded" style="display: none;">
            <!-- BEGIN inputfieldNameList -->
            <input data-id="FIELD_ID" data-related-field-prefix="inputfieldName" id="inputfieldName_FIELD_ID_{CALENDAR_INPUTFIELD_LANG_ID}" class="inputNamefield_{CALENDAR_INPUTFIELD_LANG_ID}" name="inputfield[FIELD_ID][name][{CALENDAR_INPUTFIELD_LANG_ID}]" maxlength="255" type="text" style="width: 179px; margin-bottom: 2px; padding-left: 21px; background: #ffffff url('../core/Country/View/Media/Flag/flag_{CALENDAR_INPUTFIELD_LANG_SHORTCUT}.gif') no-repeat 3px 3px;" title="{CALENDAR_INPUTFIELD_LANG_NAME}" value="" /><br />
            <!--  END inputfieldNameList -->
        </div>
    </td>
    <td valign="top">
        <select onChange="changeFieldType($J(this).closest('#inputfield_FIELD_ID'));" class="field_type" name="inputfield[FIELD_ID][type]" style="width: 140px">
            <optgroup label="{TXT_CALENDAR_FIELDS}">
            <!-- BEGIN inputfieldTypes -->
            <option value="{CALENDAR_FORM_FIELD_TYPE}">{TXT_CALENDAR_FORM_FIELD_TYPE}</option>
            <!-- END inputfieldTypes -->
            </optgroup>
            <optgroup label="{TXT_CALENDAR_REGISTRATION_DATA}">
            <!-- BEGIN inputRegfieldTypes -->
            <option value="{CALENDAR_FORM_FIELD_TYPE}">{TXT_CALENDAR_FORM_FIELD_TYPE}</option>
            <!-- END inputRegfieldTypes -->
            </optgroup>
        </select>
    </td>
    <td valign="top" class="col_default_value">
        <div id="inputfield_FIELD_ID_default_value_Minimized" style="display: block;">
            <input data-id="FIELD_ID" data-last-default-value="" id="inputfield_FIELD_ID_0" class="input_field lang_default_value_master" name="inputfield[FIELD_ID][default_value][0]" maxlength="255" style="width: 200px;" type="text" value="" />
        </div>
        <div id="inputfield_FIELD_ID_default_value_Expanded" style="display: none;">
            <!-- BEGIN inputfieldDefaultValueList -->
            <input data-id="FIELD_ID" id="inputfield_FIELD_ID_{CALENDAR_INPUTFIELD_LANG_ID}" class="input_field inputDefaultfield_{CALENDAR_INPUTFIELD_LANG_ID}" name="inputfield[FIELD_ID][default_value][{CALENDAR_INPUTFIELD_LANG_ID}]" maxlength="255" type="text" style="width: 179px; margin-bottom: 2px; padding-left: 21px; background: #ffffff url('../core/Country/View/Media/Flag/flag_{CALENDAR_INPUTFIELD_LANG_SHORTCUT}.gif') no-repeat 3px 3px;" title="{CALENDAR_INPUTFIELD_LANG_NAME}" value="{CALENDAR_INPUTFIELD_DEFAULT_VALUE}" />
            <!-- END inputfieldDefaultValueList -->
        </div>
    </td>
    <td valign="top" style="text-align: center;">
        <input class="field_req" name="inputfield[FIELD_ID][required]" type="checkbox" value="1"/>
    </td>
    <td valign="top">
        <!-- select class="field_afflications" name="inputfield[FIELD_ID][affiliation]" style="width: 140px">
            <!-- BEGIN fieldAfflications -->
            <option value="{CALENDAR_FORM_FIELD_TYPE}">{TXT_CALENDAR_FORM_FIELD_TYPE}</option>
            <!-- END fieldAfflications -->
        </select -->
    </td>
    <td valign="top" style="line-height: 19px;" nowrap="nowrap">        
        <div id="inputfield_FIELD_ID_lang_name_Minimized" style="display: {CALENDAR_DISPLAY_EXPAND};">
            <a href="javascript:ExpandMinimize('name', 'FIELD_ID'); ExpandMinimize('default_value', 'FIELD_ID'); javascript:ExpandMinimize('lang_name', 'FIELD_ID');" >{TXT_CALENDAR_EXPAND}&nbsp;&raquo;</a>
        </div>        
        <div id="inputfield_FIELD_ID_lang_name_Expanded" style="display: none;">
            <div class="pull-left width-50">
            <!-- BEGIN inputfieldLanguagesList -->
            {CALENDAR_INPUTFIELD_LANG_NAME}&nbsp;&nbsp;&nbsp;<br />
            <!-- END inputfieldLanguagesList -->
            </div>
            <a class="pull-left width-50" href="javascript:ExpandMinimize('name', 'FIELD_ID');ExpandMinimize('default_value', 'FIELD_ID'); javascript:ExpandMinimize('lang_name', 'FIELD_ID');">&laquo;&nbsp;{TXT_CALENDAR_MINIMIZE}</a>
        </div>
    </td>
    <td style="text-align: right;" valign="top">
        <a href="javascript::void(0);" onclick="deleteField(FIELD_ID);" title="{TXT_CALENDAR_DELETE}"><img style="vertical-align: middle;" src="../core/Core/View/Media/icons/delete.gif" alt="{TXT_CALENDAR_DELETE}" width="17" border="0" height="17"></a>
    </td>
</tr>
</script>
<style type="text/css">
    .pull-left{float: left;}
    .width-50{width: 50%;}
    ul.tagit.ui-widget-content {
        background: none;
        border: none;
        padding: 0;
        margin: 0;
    }
    .tagit-new input.ui-widget-content.ui-autocomplete-input {
        width: 209px;
    }
</style>
<form name="formModifyForm" method="post" action="index.php?cmd={CALENDAR_MODULE_NAME}&act=settings&tpl=forms">
    <input name="formId" type="hidden" value="{CALENDAR_FORM_ID}" />  
	<table id="form" style="width: 100%; border-spacing: 0px;" class="adminlist" cellspacing="0" cellpadding="3">
	    <tr>
	        <th colspan="2">{TXT_CALENDAR_REGISTRATION_FORM_TITLE}</th>
	    </tr>
        <tr class="row1">  
            <td width="87">{TXT_CALENDAR_TITLE}</td>
            <td><input name="formTitle" maxlength="255" style="width: 200px;" type="text" value="{CALENDAR_FORM_TITLE}" /></td>      
        </tr>
    </table>
    <table id="inputfields" style="width: 100%; border-spacing: 0px;" class="adminlist" cellspacing="0" cellpadding="3">    
	    <tr class="row3">
            <td style="text-align: center; font-weight: bold" width="1%" nowrap="nowrap">&nbsp;ID&nbsp;</td>
            <td style="text-align: center; font-weight: bold" width="1%" nowrap="nowrap">&nbsp;{TXT_CALENDAR_SORT}&nbsp;</td>
            <td style="text-align: left; font-weight: bold" width="1%" nowrap="nowrap">{TXT_CALENDAR_FIELD_NAME}</td>
            <td style="text-align: left; font-weight: bold" width="1%" nowrap="nowrap">{TXT_CALENDAR_FIELD_TYPE}</td>
            <td style="text-align: left; font-weight: bold" width="1%" nowrap="nowrap">{TXT_CALENDAR_DEFAULT_VALUES}</td>
            <td style="text-align: left; font-weight: bold" width="1%" nowrap="nowrap">&nbsp;&nbsp;{TXT_CALENDAR_FIELD_REQUIRED}&nbsp;&nbsp;</td>
            <td style="text-align: left; font-weight: bold" width="1%" nowrap="nowrap"><!-- {TXT_CALENDAR_FIELD_AFFILIATION} --></td>            
            <td colspan="2" style="text-align: right; font-weight: bold" width="90%" nowrap="nowrap">{TXT_CALENDAR_ACTIONS}</td>
        </tr>        
    </table>
    <input type="button" onclick="appendField();" name="newInputfiels" value="{TXT_CALENDAR_NEW_INPUTFIELD}" style="margin-left: 96px; margin-top: 6px;" />
    <br />
    <input type="submit" name="submitModifyForm" value="{TXT_CALENDAR_SAVE}" />
</form>
<!-- END module_calendar_settings_form.html -->
