html, body {
    height: 100%;
}

/* LOADER --------------------------------------------- */
#fe_Loader {
     position: absolute;
     width: 32px;
     height: 32px;
     top: 50%;
     left: 50%;
     margin-top: -21px;
     margin-left: -21px;
     padding: 5px 5px 5px 5px;
     z-index: 1000;
     border: 1px solid #999999;
     background: #ffffff url(../images/loading.gif) no-repeat center center;
}

/* BACKGROUND ----------------------------------------- */
#fe_Background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/wrapper_background.png) repeat;
    z-index: 400;
}

/* TOOLBAR -------------------------------------------- */
#fe_Toolbar {
    display: block;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #4978ae;
    font-size: 13px;
    color: #ffffff;
    background: #82b1ec url(../images/login_bg.gif) repeat-x top;
    z-index: 500;
}

#fe_Toolbar .fe_ToolbarIconsLeft {
    float: left;
    padding: 6px 2px 2px 2px;
    margin: 0;
}

#fe_Toolbar .fe_ToolbarText {
    float: left;
    font-weight: bold;
    padding: 12px 3px 3px 3px;
    margin: 0;
}

#fe_Toolbar .fe_ToolbarIconsRight {
    float: right;
    padding: 2px 2px 2px 2px;
    margin: 0;
}

#fe_editIcon {
    border: 0;
    margin: 0;
    padding: 6px 0 0 0;
}

#fe_saveIcon {
    border: 0;
    margin: 0;
    padding: 0;
}

#fe_adminIcon {
    border: 0;
    margin: 0;
    padding: 0;
}

#fe_closeIcon {
    border: 0;
    margin: 0;
    padding: 0;
}

#fe_logoutIcon {
    border: 0;
    margin: 0;
    padding: 0 5px 0 0;
}

/* BOX (SHARED CLASSES) -------------------------------- */
#fe_BoxTitle {
    float: left;
    width: 100%;
    padding: 0 0 5px 0;
    font-weight: bold;
    height: auto;
    color: #fffffe;
}

#fe_BoxTitle a,
#fe_BoxTitle a:visited,
#fe_BoxTitle a:active {
    text-decoration: none;
    color: #fffffe;
}

#fe_BoxTitle a:hover  {
    color: #efefef;
}

#fe_BoxTitle .left {
    float: left;
    padding-left: 3px;
}

#fe_BoxTitle .right {
    float: right;
    padding-right: 3px;
}

/* LOGIN ---------------------------------------------- */
#fe_Login {
    color: #000000;
    position: fixed;
    top: 0;
    width: 0;
    width: 100%;
    height: 100%;
    z-index: 500;
}

#fe_LoginBoxFrame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 280px;
    height: auto;
    padding: 10px;
    margin: -194px 0 0 -151px;
    font-size: 13px;
    text-align: center;
    border: 1px solid #c3dff9;
    background: #82b1ec url(../images/login_bg.gif) repeat-x top;
}

#fe_LoginBoxFrame #fe_BoxTitle {
    width: 280px;
}

#fe_LoginBoxContent {
    float: left;
    width: 258px;
    height: auto;
    padding: 10px;
    border: 1px solid #4978ae;
    background: #ffffff;
    line-height: normal;
}

#fe_LoginBoxContent form[name="fe_LoginForm"] {
    float: left;
    height: auto;
}

#fe_LoginBoxContent .fe_LoginSpacer {
    float: left;
    height: auto;
    padding: 2px 2px 2px 2px;
    margin: 0 0 3px 0;
}

#fe_LoginBoxContent .fe_LoginError {
    background: #faa4a4;
    border: 1px solid #ab0101;
    color: #ab0101;
    padding: 4px 2px 4px 2px;
    margin: 0 0 10px 0;
}

#fe_LoginBoxContent .fe_LoginLostPassword {
    float: left;
    width: 100%;
    font-size: 0.8em;
    padding: 0;
    text-align: center;
}

*+html #fe_LoginBoxContent .fe_LoginLostPassword {
    margin: 15px 0 0 0;
}

#fe_LoginBoxContent form .fe_LoginBoxLabel {
    float: left;
    clear: both;
    width: 100%;
    font-weight: bold;
    margin-bottom: 2px;
    text-align: left;
}

#fe_LoginBoxContent form .fe_LoginBoxValue {
    float: left;
    clear: both;
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
}

#fe_LoginBoxContent form .fe_LoginBoxValue #coreCaptchaLabel {
    margin-top: 0;
    white-space: normal;
}

#fe_LoginBoxContent form .fe_LoginBoxValue #coreCaptchaCode {
    height: 25px;
    line-height: 25px;
}

#fe_LoginBoxContent form input {
    height: 20px;
    font-size: 1.0em;
    color: #000000;
    background: #ffffff;
    border: 1px solid #b9d1f0;
    margin: 0;
    padding: 2px 2px 2px 2px;
}



#fe_LoginBoxContent form input[name="fe_LoginType"] {
    border: 0;
    margin-right: 2px;
    background: transparent;
}

#fe_LoginBoxContent form label[for="fe_LoginTypeFrontend"] {
    margin-right: 10px;
}

#fe_LoginBoxContent form input:hover,
#fe_LoginBoxContent form input:focus,
#fe_LoginBoxContent form input:active {
    background-color: #e8f1f6;
}

#fe_LoginBoxContent form .fe_LoginBoxUsername {
    width: 232px;
    background-image: url(../images/login_username.gif);
    background-repeat: no-repeat;
    background-position: 3px center;
    padding-left: 22px;
}


#fe_LoginBoxContent form .fe_LoginBoxPassword {
    width: 232px;
    background-image: url(../images/login_password.gif);
    background-repeat: no-repeat;
    background-position: 3px center;
    padding-left: 22px;
}

#fe_LoginBoxContent form #coreCaptchaCode {
    width: 79px;
    background-image: url(../images/login_captcha.gif);
    background-repeat: no-repeat;
    background-position: 3px center;
    padding-left: 22px;
}

#fe_LoginBoxContent form .fe_LoginBoxButton {
    background: #c3dff9;
    width: 123px;
    height: 30px;
}

#fe_LoginBoxContent form .fe_LoginBoxButton.left {
    float: left;
}

#fe_LoginBoxContent form .fe_LoginBoxButton.right {
    float: right;
}


/* SELECTION ------------------------------------------ */
#fe_Selection {
    position: fixed;
    top: 0;
    width: 0;
    width: 100%;
    height: 100%;
    z-index: 500;
}

#fe_SelectionBoxFrame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 194px;
    padding: 10px;
    margin: -107px 0 0 -211px;
    text-align: center;
    border: 1px solid #c3dff9;
    background: #82b1ec url(../images/login_bg.gif) repeat-x top;
}

#fe_SelectionBoxContent {
    height: 146px;
    padding: 10px;
    border: 1px solid #4978ae;
    background: #ffffff;
    font-size: 13px;
}

#fe_SelectionBoxContent img {
    border: 0;
}

#fe_SelectionBoxContent .left {
    width: 180px;
    float: left;
}

#fe_SelectionBoxContent .right {
    width: 180px;
    float: right;
}

/* EDITOR   ------------------------------------------- */
#fe_Editor {
    z-index: 500;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 500;
}

#fe_EditorBoxFrame {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 598px;
    padding: 10px;
    margin: -310px 0 0 -411px;
    font-size: 13px;
    text-align: center;
    border: 1px solid #c3dff9;
    background: #82b1ec url(../images/login_bg.gif) repeat-x top;
}

#fe_EditorBoxContent {
    float: left;
    width: 778px;
    padding: 10px;
    border: 1px solid #4978ae;
    background: #ffffff;
}

#fe_EditorBoxContent form .fe_EditorBoxLabel {
    float: left;
    clear: both;
    width: 100%;
    font-weight: bold;
    margin-bottom: 2px;
    text-align: left;
}

#fe_EditorBoxContent form .fe_EditorBoxValue {
    float: left;
    clear: both;
    width: 100%;
    margin-bottom: 8px;
    text-align: left;
}

#fe_EditorBoxContent form input {
    height: 20px;
    line-height: 20px;
    font-size: 1.0em;
    color: #000000;
    background: #ffffff;
    border: 1px solid #b9d1f0;
    margin: 0;
    padding: 2px 2px 2px 2px;
}

#fe_EditorBoxContent form input:hover,
#fe_EditorBoxContent form input:focus,
#fe_EditorBoxContent form input:active {
    background: #dff1ff;
}


#fe_EditorBoxContent form .fe_EditorTitle {
    width: 772px;
}

#fe_EditorBoxContent form .fe_EditorBoxButton {
    background: #c3dff9;
    width: 123px;
    height: 30px;
    font-size: 1.0em;
}

#fe_EditorBoxContent .cke_wrapper {
    float: left;
    width: 778px !important;
    margin: 0 0 0 -5px;
}


/* DISALLOW ------------------------------------------- */
#fe_Disallowed {
    position: fixed;
    top: 0;
    width: 0;
    width: 100%;
    height: 100%;
    background: url(../images/wrapper_background_disallowed.png) repeat;
    z-index: 500;
}

#fe_Disallowed span {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 200px;
    height: 198px;
    margin: -99px 0 0 -100px;
    background: url(../images/disallowed.gif) no-repeat;
}