html, body {
	height: 100%;
}

/* LOADER --------------------------------------------- */
#fe_Loader {
	 position: absolute;
	 width: 32px;
	 height: 32px;
	 top: 50%;
	 left: 50%;
	 margin-top: -21px;
	 margin-left: -21px;
	 padding: 5px 5px 5px 5px;
	 z-index: 1000;
	 border: 1px solid #999999;
	 background-color: #ffffff;
	 background-image: url('../images/loading.gif');
	 background-position: center center;
	 background-repeat: no-repeat;
}

/* BACKGROUND ----------------------------------------- */
#fe_Background {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 0.5;
	z-index: 400;
}

/* TOOLBAR -------------------------------------------- */
#fe_Toolbar {
	display: block;
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #4978ae;
	font-size: 13px;
	color: #ffffff;
	background-color: #82b1ec;
	background-image: url('../images/login_bg.gif');
	background-repeat: repeat-x;
	background-position: top;
	z-index: 500;
}

#fe_Toolbar .fe_ToolbarIconsLeft {
	float: left;
	padding: 6px 2px 2px 2px;
	margin: 0px 0px 0px 0px;
}

#fe_Toolbar .fe_ToolbarText {
	float: left;
	font-weight: bold;
	padding: 12px 3px 3px 3px;
	margin: 0px 0px 0px 0px;
}

#fe_Toolbar .fe_ToolbarIconsRight {
	float: right;
	padding: 2px 2px 2px 2px;
	margin: 0px 0px 0px 0px;
}

#fe_editIcon {
	border: 0px;
	margin: 0px 0px 0px 0px;
	padding: 6px 0px 0px 0px;
}

#fe_saveIcon {
	border: 0px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#fe_adminIcon {
	border: 0px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#fe_closeIcon {
	border: 0px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#fe_logoutIcon {
	border: 0px;
	margin: 0px 0px 0px 0px;
	padding: 0px 5px 0px 0px;
}

/* BOX (SHARED CLASSES) -------------------------------- */
#fe_BoxTitle {
	width: 100%;
	padding: 0px 0px 10px 0px;
	font-weight: bold;
	height: 16px;
	color: #ffffff;
}

#fe_BoxTitle a,
#fe_BoxTitle a:visited,
#fe_BoxTitle a:active {
	text-decoration: none;
	color: #ffffff;
}

#fe_BoxTitle a:hover  {
	color: #efefef;
}

#fe_BoxTitle .left {
	float: left;
	padding-left: 3px;
}

#fe_BoxTitle .right {
	float: right;
	padding-right: 3px;
}

/* LOGIN ---------------------------------------------- */
#fe_Login {
    color: #000000;
	position: fixed;
	top: 0px;
	width: 0px;
	width: 100%;
	height: 100%;
	z-index: 500;
}

#fe_LoginBoxFrame {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 280px;
	height: 368px;
	padding: 10px;
	margin-top: -194px;
	margin-left: -151px;
	font-size: 13px;
	text-align: center;
	border: 1px solid #c3dff9;
	background-color: #82b1ec;
	background-image: url('../images/login_bg.gif');
	background-repeat: repeat-x;
	background-position: top;
}

#fe_LoginBoxContent {
	padding: 10px;
	border: 1px solid #4978ae;
	background-color: #ffffff;
}

#fe_LoginBoxContent .fe_LoginSpacer {
	padding: 2px 2px 2px 2px;
	margin: 0px 0px 3px 0px;
}

#fe_LoginBoxContent .fe_LoginError {
	background-color: #faa4a4;
	border: 1px solid #ab0101;
	color: #ab0101;
	padding: 4px 2px 4px 2px;
	margin: 0px 0px 5px 0px;
}

#fe_LoginBoxContent .fe_LoginLostPassword {
	font-size: 0.8em;
	padding: 0px;
	margin: 15px 0px 0px 0px;
}

#fe_LoginBoxContent form .fe_LoginBoxLabel {
	width: 100%;
	font-weight: bold;
	margin-bottom: 2px;
	text-align: left;
}

#fe_LoginBoxContent form .fe_LoginBoxValue {
	width: 100%;
	margin-bottom: 4px;
	text-align: left;
}

#fe_LoginBoxContent form input {
	height: 20px;
	font-size: 1.0em;
	color: #000000;
	background-color: #ffffff;
	border: 1px solid #b9d1f0;
	margin: 0px 0px 0px 0px;
	padding: 2px 2px 2px 2px;
}

#fe_LoginBoxContent form input:hover {
	background-color: #e8f1f6;
}

#fe_LoginBoxContent form .fe_LoginBoxUsername {
	width: 232px;
	background-image: url('../images/login_username.gif');
	background-repeat: no-repeat;
	background-position: 3px 3px;
	padding-left: 22px;
}


#fe_LoginBoxContent form .fe_LoginBoxPassword {
	width: 232px;
	background-image: url('../images/login_password.gif');
	background-repeat: no-repeat;
	background-position: 3px 3px;
	padding-left: 22px;
}

#fe_LoginBoxContent form .fe_LoginBoxCaptcha {
	width: 70px;
	background-image: url('../images/login_captcha.gif');
	background-repeat: no-repeat;
	background-position: 3px 3px;
	padding-left: 22px;
}

#fe_LoginBoxContent form .fe_LoginBoxButton {
	background-color: #c3dff9;
	width: 123px;
	height: 30px;
	font-size: 1.0em;
}

/* SELECTION ------------------------------------------ */
#fe_Selection {
	position: fixed;
	top: 0px;
	width: 0px;
	width: 100%;
	height: 100%;
	z-index: 500;
}

#fe_SelectionBoxFrame {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 194px;
	padding: 10px;
	margin-top: -107px;
	margin-left: -211px;
	text-align: center;
	border: 1px solid #c3dff9;
	background-color: #82b1ec;
	background-image: url('../images/login_bg.gif');
	background-repeat: repeat-x;
	background-position: top;
}

#fe_SelectionBoxContent {
	height: 146px;
	padding: 10px;
	border: 1px solid #4978ae;
	background-color: #ffffff;
	font-size: 13px;
}

#fe_SelectionBoxContent img {
	border: 0px;
}

#fe_SelectionBoxContent .left {
	width: 180px;
	float: left;
}

#fe_SelectionBoxContent .right {
	width: 180px;
	float: right;
}

/* EDITOR   ------------------------------------------- */
#fe_Editor {
	z-index: 500;
	position: fixed;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 500;
}

#fe_EditorBoxFrame {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 800px;
	height: 560px;
	padding: 10px;
	margin-left: -420px;
	margin-top: -290px;
	font-size: 13px;
	text-align: center;
	border: 1px solid #c3dff9;
	background-color: #82b1ec;
	background-image: url('../images/login_bg.gif');
	background-repeat: repeat-x;
	background-position: top;
}

#fe_EditorBoxContent {
	padding: 10px;
	border: 1px solid #4978ae;
	background-color: #ffffff;
}

#fe_EditorBoxContent form .fe_EditorBoxLabel {
	width: 100%;
	font-weight: bold;
	margin-bottom: 2px;
	text-align: left;
}

#fe_EditorBoxContent form .fe_EditorBoxValue {
	width: 100%;
	margin-bottom: 8px;
	text-align: left;
}

#fe_EditorBoxContent form input {
	height: 20px;
	font-size: 1.0em;
	color: #000000;
	color: #000000;
	background-color: #ffffff;
	border: 1px solid #b9d1f0;
	margin: 0px 0px 0px 0px;
	padding: 2px 2px 2px 2px;
}

#fe_EditorBoxContent form .fe_EditorTitle {
	width: 770px;
}

#fe_EditorBoxContent form input:hover {
	background-color: #dff1ff;
}

#fe_EditorBoxContent form .fe_EditorBoxButton {
	background-color: #c3dff9;
	width: 123px;
	height: 30px;
	font-size: 1.0em;
}

/* DISALLOW ------------------------------------------- */
#fe_Disallowed {
	position: fixed;
	top: 0px;
	width: 0px;
	width: 100%;
	height: 100%;
	background-color: #ff6666;
	opacity: 0.90;
	z-index: 500;
	background-image: url('../images/disallowed.gif');
	background-position: center center;
	background-repeat: no-repeat;
}
