<table class="adminlist" width="100%">
    <tr>
        <th colspan="2">{TXT_CHECKOUT_SETTINGS_PLACEHOLDERS_MAILS_TITLE}</th>
    </tr>
    <tr>
        <td width="200">[[DOMAIN_URL]]</td>
        <td>{TXT_CHECKOUT_SETTINGS_PLACEHOLDERS_DOMAIN}</td>
    </tr>
    <tr>
        <td>[[TRANSACTION_ID]]</td>
        <td>{TXT_CHECKOUT_SETTINGS_PLACEHOLDERS_ID}</td>
    </tr>
    <tr>
        <td>[[TRANSACTION_STATUS]]</td>
        <td>{TXT_CHECKOUT_SETTINGS_PLACEHOLDERS_STATUS}</td>
    </tr>
    <tr>
        <td>[[TRANSACTION_TIME]]</td>
        <td>{TXT_CHECKOUT_SETTINGS_PLACEHOLDERS_TIME}</td>
    </tr>
    <tr>
        <td>[[INVOICE_NUMBER]]</td>
        <td>{TXT_CHECKOUT_INVOICE_NUMBER}</td>
    </tr>
    <tr>
        <td>[[INVOICE_CURRENCY]]</td>
        <td>{TXT_CHECKOUT_INVOICE_CURRENCY}</td>
    </tr>
    <tr>
        <td>[[INVOICE_AMOUNT]]</td>
        <td>{TXT_CHECKOUT_INVOICE_AMOUNT}</td>
    </tr>
    <tr>
        <td>[[CONTACT_TITLE]]</td>
        <td>{TXT_CHECKOUT_TITLE}</td>
    </tr>
    <tr>
        <td>[[CONTACT_FORENAME]]</td>
        <td>{TXT_CHECKOUT_FORENAME}</td>
    </tr>
    <tr>
        <td>[[CONTACT_SURNAME]]</td>
        <td>{TXT_CHECKOUT_SURNAME}</td>
    </tr>
    <tr>
        <td>[[CONTACT_COMPANY]]</td>
        <td>{TXT_CHECKOUT_COMPANY}</td>
    </tr>
    <tr>
        <td>[[CONTACT_STREET]]</td>
        <td>{TXT_CHECKOUT_STREET}</td>
    </tr>
    <tr>
        <td>[[CONTACT_POSTCODE]]</td>
        <td>{TXT_CHECKOUT_POSTCODE}</td>
    </tr>
    <tr>
        <td>[[CONTACT_PLACE]]</td>
        <td>{TXT_CHECKOUT_PLACE}</td>
    </tr>
    <tr>
        <td>[[CONTACT_COUNTRY]]</td>
        <td>{TXT_CHECKOUT_COUNTRY}</td>
    </tr>
    <tr>
        <td>[[CONTACT_PHONE]]</td>
        <td>{TXT_CHECKOUT_PHONE}</td>
    </tr>
    <tr>
        <td>[[CONTACT_EMAIL]]</td>
        <td>{TXT_CHECKOUT_EMAIL}</td>
    </tr>
</table>