.container                                  { position: relative; width: 1200px; margin: 0 auto; padding: 0; }
    .container .column,
    .container .columns                         { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
    .row                                        { margin-bottom: 20px; }

    .column.alpha, .columns.alpha               { margin-left: 0; }
    .column.omega, .columns.omega               { margin-right: 0; }

    .container .one.column,
    .container .one.columns                     { width: 55px;  }
    .container .two.columns                     { width: 130px; }
    .container .three.columns                   { width: 205px; }
    .container .four.columns                    { width: 280px; }
    .jcarousel.container .four.column{width: 280px !important; margin-right: 20px !important;}/*for flexslider*/
    .container .five.columns                    { width: 355px; }
    .container .six.columns                     { width: 430px; }
    .container .seven.columns                   { width: 505px; }
    .container .eight.columns                   { width: 580px; }
    .container .nine.columns                    { width: 655px; }
    .container .ten.columns                     { width: 730px; }
    .container .eleven.columns                  { width: 805px; }
    .container .twelve.columns                  { width: 880px; }
    .container .thirteen.columns                { width: 955px; }
    .container .fourteen.columns                { width: 1030px; }
    .container .fifteen.columns                 { width: 1105px; }
    .container .sixteen.columns                 { width: 1180px; }

    .container .one-third.column                { width: 380px; }
    .container .two-thirds.column               { width: 780px; }
    .container .twelve.alt.columns              { width: 860px; margin-right: 30px; }
    .container .twelve.alt2.columns             { width: 860px; margin-left: 30px; }
    .container .eleven.alt.columns              { width: 775px; margin-right: 30px; }
    .container .five.alt.columns                { width: 320px; margin-right: 15px; }

    body.boxed,
    body.boxed #header                          { width: 1280px; }

    @media only screen and (min-width: 1200px) and (max-width: 1300px) {
        body.boxed,
        body.boxed #header                          { width: 100%; }
    }

    @media only screen and (min-width: 960px) and (max-width: 1199px) {
        .container                                  { position: relative; width: 960px; margin: 0 auto; padding: 0; }
        .container .column,
        .container .columns                         { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
        .row                                        { margin-bottom: 20px; }

        .column.alpha, .columns.alpha               { margin-left: 0; }
        .column.omega, .columns.omega               { margin-right: 0; }

        .container .one.column,
        .container .one.columns                     { width: 40px;  }
        .container .two.columns                     { width: 100px; }
        .container .three.columns                   { width: 160px; }
        .container .four.columns                    { width: 220px; }
        .jcarousel.container .four.column{width: 220px !important; margin-right: 20px !important;}/*for flexslider*/
        .container .five.columns                    { width: 280px; }
        .container .six.columns                     { width: 340px; }
        .container .seven.columns                   { width: 400px; }
        .container .eight.columns                   { width: 460px; }
        .container .nine.columns                    { width: 520px; }
        .container .ten.columns                     { width: 580px; }
        .container .eleven.columns                  { width: 640px; }
        .container .twelve.columns                  { width: 700px; }
        .container .thirteen.columns                { width: 760px; }
        .container .fourteen.columns                { width: 820px; }
        #client-logo .jcarousel {width: 820px !important;}/*Client logos*/
        .container .fifteen.columns                 { width: 880px; }
        .container .sixteen.columns                 { width: 940px; }

        .container .one-third.column                { width: 300px; }
        .container .two-thirds.column               { width: 620px; }
        .container .twelve.alt.columns              { width: 680px; margin-right: 30px; }
        .container .twelve.alt2.columns             { width: 680px; margin-left: 30px; }
        .container .eleven.alt.columns              { width: 610px; margin-right: 30px; }
        .container .five.alt.columns                { width: 245px; margin-right: 15px; }

        body.boxed,
        body.boxed #header                          { width: 1020px; }
        .hovercover{min-height: 158px !important;}
        .hovericon_zoom{margin: 50px 0 0 75px !important; }
        #client-logo ul li{
      width: 175px !important;
    }
    #slide1 .slide_text{left: 44% !important;}
    #slide1 .slide_text h2{font-size: 40px !important;}
    #slide1 .slide_text h3{font-size: 24px !important;}
    #slide1 .slide_text p{font-size: 14px !important;}
        #main-nav{
          display: none;
  }
      .responsive_navi{
          display: block;
     }

    }

    @media only screen and (min-width: 769px) and (max-width: 1040px) {
        body.boxed,
        body.boxed #header                          { width: 100%; }
    }

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .container                                  { width: 768px; }
        .container .column,
        .container .columns                         { margin-left: 10px; margin-right: 10px;  }
        .column.alpha, .columns.alpha               { margin-left: 0; margin-right: 10px; }
        .column.omega, .columns.omega               { margin-right: 0; margin-left: 10px; }
        .alpha.omega                                { margin-left: 0; margin-right: 0; }

        .container .one.column,
        .container .one.columns                     { width: 28px; }
        .container .two.columns                     { width: 76px; }
        .container .three.columns                   { width: 124px; }
        .container .four.columns                    { width: 172px; }
        .jcarousel.container .four.column{width: 236px !important; margin-right: 20px !important;}/*for flexslider*/
        .container .five.columns                    { width: 220px; }
        .container .six.columns                     { width: 268px; }
        .container .seven.columns                   { width: 316px; }
        .container .eight.columns                   { width: 364px; }
        .container .nine.columns                    { width: 412px; }
        .container .ten.columns                     { width: 460px; }
        .container .eleven.columns                  { width: 508px; }
        .container .twelve.columns                  { width: 556px; }
        .container .thirteen.columns                { width: 604px; }
        .container .fourteen.columns                { width: 652px; }
        #client-logo .jcarousel {width: 652px !important;}/*Client logos*/
        .container .fifteen.columns                 { width: 700px; }
        .container .sixteen.columns                 { width: 748px; }

        .container .one-third.column                { width: 236px; }
        .container .two-thirds.column               { width: 492px; }
        .container .twelve.alt.columns              { width: 546px; margin-right: 20px; }
        .container .twelve.alt2.columns             { width: 546px; margin-left: 20px; }
        .container .eleven.alt.columns              { width: 488px; margin-right: 20px; }
        .container .five.alt.columns                { width: 185px; margin-right: 15px; }

        body.boxed,
        body.boxed #header                          { width: 100% }
        .hovercover{min-height: 169px !important;}
        .hovericon_zoom{margin: 60px 0 0 82px !important; }
        #main-nav{
          display: none;
      }
      .responsive_navi{
          display: block;
       }
       #client-logo ul li{
      width: 191px !important;
    }
    #slide1 .slide_text{left: 30% !important;}
    #slide1 .slide_text h2, #slide2 .slide_text h2{font-size: 32px !important;}
    #slide1 .slide_text h3, #slide2 .slide_text h3{font-size: 20px !important;}
    #slide1 .slide_text p, #slide2 .slide_text p{font-size: 13px !important;}
    .contact textarea{width: 100% !important;}
                #livecam .livecamSearch input {margin-bottom: 15px;}
    }


    @media only screen and (max-width: 767px) {
        .container { width: 300px; }
        .container .columns,
        .container .column { margin: 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column,
        .container .twelve.alt.columns,
        .container .twelve.alt2.columns,
        .container .five.alt.columns,
        .container .eleven.alt.columns { width: 285px; }
        .jcarousel.container .four.column{width: 300px !important; margin-right: 20px !important;}/*for flexslider*/
        #client-logo .jcarousel {width: 240px !important;}/*Client logos*/
        .container .twelve.alt2.columns { margin-left: 0; }
        .container .fourteen.carousel.columns  { width: 240px; }
        .container .one.carousel.column  { width: 30px; }

        body.boxed,
        body.boxed #header                          { width: 100% }
        #navigation{display: none !important;}
        #jPanelMenu-menu{z-index: 3 !important;}
        .hovercover{min-height: 214px !important;}
        .hovericon_zoom{margin: 70px 0 0 120px !important; }
        .footer-right.horizontal-list.no-bg {
      float: left !important;
    }
        #footer-left{padding-bottom: 10px;}
        #footer-right {
                  padding-bottom: 15px;
               }
    #main-nav{
          display: none;
      }
      .responsive_navi{
          display: block;
       }
       #client-logo ul li{
      width: 240px !important;
    }
    .slide_text{top: 15% !important;}
    .slide_text h2{font-size: 28px !important;}
    .slide_text h3{font-size: 17px !important;}
    .slide_text p{font-size: 12px !important;}
    #search{
      position: absolute !important;
      float: none !important;
      right: 0 !important;
    }
    #search-form .search-box:focus{width: 260px !important;}
                .current.eight.columns {
                        padding: 20px 0 6px;
                 }
    .my-breadcrumb{
      float: left !important;
      margin-top: 0px !important;
      padding: 0 0 24px !important;
    }
    form p{
        width: 100% !important;
        padding: 0 !important;
        margin-bottom: 6px !important;
    }
    form label{width: 100% !important;}
    form p label{
        margin: 0 0 5px 0 !important;
    }
    #login form p label.remember_me{
        width: auto !important;
        margin-top: 7px !important;
    }
    #page input[type="text"], #page select, #page textarea,
    #page input[type="password"], #page input[type="email"],
    #page input[type="number"]{
        width: 100% !important;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        min-height: 30px;
    }
    #checkout .left, #checkout .right{float: left; width: 100% !important;}
                .container .client-arrows.one.column{width: 20px !important;}
                .login-bottom a {white-space: normal;}
                #fileshare p input#file_upload, #access span input[type="file"] {width: 100%;}
                #shop div.details {margin-top: 220px;}
                .form-control, #mediadir .mapLarge {width: 100%;}
                #blog div.search_date {width: 100%; padding: 0;}
                #u2u .buttons input {margin: 0 10px 15px 0;}
                #voting .voting label {width: 85% !important;}
                #forum div.notification_center {padding: 50px 0; width: 100%; height: auto;}
                #livecam .livecamSearch input {margin-bottom: 15px;}
                #contactFormCaptcha {padding-left: 0;}
                .questionBlock .questionBlock_button input[type="reset"] {margin: 0 20px 0 20px !important; float: left;}
                #ecardSend input[type="button"] {margin-bottom: 15px;}
    }


    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .container { width: 420px; }
        .container .columns,
        .container .column { margin: 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column,
        .container .twelve.alt.columns,
        .container .twelve.alt2.columns,
        .container .five.alt.columns,
        .container .eleven.alt.columns { width: 420px; }
        .jcarousel.container .four.column{width: 420px !important; margin-right: 20px !important;}/*for flexslider*/
        #client-logo .jcarousel {width: 340px !important;}/*Client logos*/
        .container .twelve.alt2.columns { margin-left: 0; }
        .container .fourteen.carousel.columns  { width: 340px; }
        .container .one.carousel.column  { width: 40px; }

        body.boxed,
        body.boxed #header                          { width: 100% }
        #navigation{display: none !important;}
        #jPanelMenu-menu{z-index: 3 !important;}
        .hovercover{min-height: 300px !important;}
        .hovericon_zoom{margin: 115px 0 0 168px !important; }
        .footer-right.horizontal-list.no-bg {
      float: left !important;
    }
    #main-nav{
          display: none;
      }
      .responsive_navi{
          display: block;
       }
       #client-logo ul li{
      width: 340px !important;
    }
    .slide_text{top: 10% !important;}
    .slide_text h2{font-size: 32px !important;}
    .slide_text h3{font-size: 20px !important;}
    .slide_text p{font-size: 13px !important;}
    #slide2 .slide_text{top: 0 !important;}
    #search{
      position: absolute !important;
      float: none !important;
      right: 0 !important;
    }
    #search-form .search-box:focus{width: 377px !important;}
    .my-breadcrumb{
      float: left !important;
      margin-top: 0px !important;
      padding: 0 0 24px !important;
    }
    form p{
        width: 100% !important;
        padding: 0 !important;
        margin-bottom: 6px !important;
    }
    form label{width: 100% !important;}
    form p label{
        margin: 0 0 5px 0 !important;
    }
    #login form p label.remember_me{
        width: auto !important;
        margin-top: 7px !important;
    }
    #page input[type="text"], #page select, #page textarea,
    #page input[type="password"], #page input[type="email"],
    #page input[type="number"]{
        width: 100% !important;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        min-height: 30px;
    }
    #checkout .left, #checkout .right{float: left; width: 100% !important;}
               .container .client-arrows.one.column{width: 40px !important;}
               #shop div.details {margin-top: 150px;}
               #voting .voting label {width: 85% !important;}
    }

    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }
