/* Start CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* End CSS Reset */

@font-face {
    font-family: 'OpenSans-Light';
    src: url('fonts/OpenSansLight.eot') format('eot');
    src: url('fonts/OpenSansLight.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans';
    src: url("fonts/OpenSans.eot") format("eot");
    src: url('fonts/OpenSans.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway-SemiBold';
    src: url('fonts/RalewaySemiBold.eot') format('eot');
    src: url('fonts/RalewaySemiBold.ttf') format('truetype');
}
body {
    color: #888888;
    font-family: 'OpenSans';
    font-size: 14px;
    line-height: 1.5em;
    background: #F1F1F1 url('images/bg.gif') repeat-x;
}

a {
    color: #73bb19;
    text-decoration: none;
    outline: 0;
}

a:hover {
    color: #999999;
}
a:focus, a:visited{outline: 0;}
p {
    padding: 0 0 10px 0;
}

b,
strong {
    color: #888888;
    font-weight: bold;
}

ul.horizontal-list li {
    background: url("images/divider.gif") no-repeat scroll right 7px transparent;
    float: left;
    margin: 0 10px 0 0;
    padding: 0 8px 0 0;
}

ul.horizontal-list li.last {
    padding: 0 !important;
    margin: 0 !important;
    background: none !important;
}

h1, h2, h3, h4, h5, h6 {
    color: #505050;
    font-family: 'OpenSans';
    line-height: 1.2;
}

h1 {
    font-size: 34px;
}

h1.first {
    padding-top: 0;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 17px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 15px;
}

input,
button,
select,
textarea {
    width: 300px;
    padding: 7px 12px 8px 12px;
    margin: 0;
    color: #7D7D7D;
    font-family: Arial;
    border: 1px solid #DDDDDD;
    background: #FFFFFF;
    outline: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 35px;
}

select {
    padding: 6px 6px 7px 6px;
}
.contact textarea {
    float: left;
    width: 300px;
}
input:hover,
input:focus,
textarea:hover,
textarea:focus {
    border: 1px solid #BBBBBB;
    background: #e5e5e5;
    outline: 0;
}
#checkout form input.label:hover, #checkout form select.label:hover, #checkout form textarea.label:hover {
    background: none repeat scroll 0 0 #888888;
}
input[type=submit],
input[type=button],
input[type=reset],
input[type=radio],
input[type=checkbox],
button {
    width: auto;
}

input[type=radio] {
    float: left;
    margin: 3px 10px 3px 0;
    padding: 0;
    border: 0 none;
    min-height: 0;
}

input[type=checkbox] {
    float: left;
    margin: 4px 10px 4px 0;
    padding: 0;
    border: 0 none;
    min-height: 0;
}

input[type=text] {
    line-height: 17px;
}

button,
input[type=submit],
input[type=button],
input[type=reset] {
    background: none repeat scroll 0 0 #73bb19 !important;
    border-color: white #F8F8F8 #F2F2F2;
    border-image: none;
    border-radius: 3px 3px 3px 3px;
    border-style: none;
    border-width: 0;
    box-shadow: 1px 1px 2px #C5C5C5;
    color: white;
    cursor: pointer;
    font-size: 15px;
    line-height: 17px;
    padding: 11px 18px;
    text-decoration: none;
    transition: all 0.2s ease 0s;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-color: white #F8F8F8 #F2F2F2 #F8F8F8;
    box-shadow: 1px 1px 2px #C5C5C5;
    -moz-box-shadow: 1px 1px 2px #C5C5C5;
    -webkit-box-shadow: 1px 1px 2px #C5C5C5;
    -o-box-shadow: 1px 1px 2px #C5C5C5;
    background: #F5F5F5;
    transition: all ease .2s;
    -moz-transition: all ease .2s;
    -webkit-transition: all ease .2s;
    -o-transition: all ease .2s;
}

.loginbutton,
.loginbutton:link,
.loginbutton:hover,
.loginbutton:visited {
    display: block;
    float: left;
    color: transparent;
    height: 26px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 189px;
}

.loginbutton:hover {
    text-decoration: underline;
}

.loginbutton.facebook {
    background: url("images/facebook_login.png") no-repeat;
}

.loginbutton.google {
    background: url("images/google_login.png") no-repeat;;
}

.loginbutton.twitter {
    background: url("images/twitter_login.png") no-repeat;
}

button[disabled=disabled],
input[disabled=disabled] {
    opacity: 0.6;
    cursor: default;
}

.ie7 button,
.ie8 button {
    border: 1px solid #DDDDDD;
}

button:hover,
input[type=submit]:hover,
input[type=reset]:hover {
    background: #a0a0a0 !important;
}

button[disabled=disabled]:hover,
input[disabled=disabled]:hover {
    background: #F5F5F5;
}
.contact-mail > a:hover, .contact-web > a:hover{
    color: #73BB19;
    text-decoration: none;
}
#page h2, #page h3{
    margin-top: 15px;
    margin-bottom: 15px;
}
.radio {padding-left: 0;}
.btn-link {color: #73bb19;}
.btn-link:hover {color: #999999;}
.btn-primary {border-color: #73bb19}
