[[HOTELCARD_EDIT_HOTEL_MENU]]

<!-- BEGIN hotelcard_status -->
<span class="[[HOTELCARD_MESSAGE_TYPE]]">[[HOTELCARD_MESSAGE]]</span><br /><br />
<!-- END hotelcard_status -->

<form method="post" name="formHotelcard"
    action="index.php?section=hotelcard&amp;cmd=edit_hotel&amp;hotel_id=[[HOTELCARD_HOTEL_ID]]">
  <input type="hidden" id="DPC_TODAY_TEXT" value="[[HOTELCARD_DPC_TODAY_TEXT]]" />
  <input type="hidden" id="DPC_BUTTON_TITLE" value="[[HOTELCARD_DPC_BUTTON_TITLE]]" />
  <input type="hidden" id="DPC_MONTH_NAMES" value="[[[HOTELCARD_DPC_MONTH_NAMES]]]" />
  <input type="hidden" id="DPC_DAY_NAMES" value="[[[HOTELCARD_DPC_DAY_NAMES]]]" />

  <!-- Select date range -->
  <table summary="">
    <thead>
      <tr>
        <th valign="top">[[TXT_HOTELCARD_DATE_FROM]]</th>
        <th valign="top">[[HOTELCARD_DATE_FROM]]</th>
        <th valign="top">[[TXT_HOTELCARD_DATE_TO]]</th>
        <th valign="top">[[HOTELCARD_DATE_TO]]</th>
      </tr>
    </thead>
  </table>

  <br />
  [[HOTELCARD_FORM_SUBMIT_BUTTON_1]]
  <br />


<table summary="">
  <thead>
<!-- BEGIN hotelcard_roomtype_row -->
    <tr>
      <th>[[HOTELCARD_ROOMTYPE_NAME]]</th>
<!-- BEGIN hotelcard_day_dow --><th class="row[[HOTELCARD_CLASS]]">[[HOTELCARD_DATE_DAY_OF_THE_WEEK]]</th><!-- END hotelcard_day_dow -->
    </tr>
  </thead>
  <tbody>
    <tr class="row3">
      <td>[[TXT_HOTELCARD_DATE]]</td>
<!-- BEGIN hotelcard_day_date --><td class="row[[HOTELCARD_CLASS]]">[[HOTELCARD_DATE_DAY_NUMBER]]</td><!-- END hotelcard_day_date -->
    </tr>
    <tr>
      <td>[[TXT_HOTELCARD_ROOMS_AVAILABLE]]</td>
<!-- BEGIN hotelcard_day_total --><td valign="top">[[HOTELCARD_ROOMS_AVAILABLE]]</td><!-- END hotelcard_day_total -->
    </tr>
<!-- This *MUST NOT* be parsed for the time being! -->
<!-- BEGIN hotelcard_maybe_later -->
    <tr>
      <td>[[TXT_HOTELCARD_ROOMS_BOOKED]]</td>
<!-- BEGIN hotelcard_day_booked --><td valign="top">[[HOTELCARD_ROOMS_BOOKED]]</td><!-- END hotelcard_day_booked -->
    </tr>
    <tr>
      <td>[[TXT_HOTELCARD_ROOMS_CANCELLED]]</td>
<!-- BEGIN hotelcard_day_cancelled --><td valign="top">[[HOTELCARD_ROOMS_CANCELLED]]</td><!-- END hotelcard_day_cancelled -->
    </tr>
    <tr>
      <td>[[TXT_HOTELCARD_ROOM_PRICE]]</td>
<!-- BEGIN hotelcard_day_price --><td valign="top">[[HOTELCARD_ROOM_PRICE]]</td><!-- END hotelcard_day_price -->
    </tr>
<!-- END hotelcard_maybe_later -->
<!-- END hotelcard_roomtype_row -->
  </tbody>
</table>

  <br />
  <br />
  <br />

  <ul class="roomtype_ul">
<!-- BEGIN hotelcard_roomtype_li -->
    <li id="roomtype-li-[[HOTELCARD_ROOMTYPE_INDEX]]"
        class="roomtype_li[[HOTELCARD_ROOMTYPE_LI_CLASS]]"
        onclick="showTab('roomtype-li-', 'roomtype-div-', [[HOTELCARD_ROOMTYPE_INDEX]], 1, [[HOTELCARD_ROOMTYPE_INDEX_MAX]])">
      [[HOTELCARD_ROOMTYPE_NAME]]
    </li>
<!-- END hotelcard_roomtype_li -->
  </ul>

<!-- BEGIN hotelcard_roomtype -->
  <div id="roomtype-div-[[HOTELCARD_ROOMTYPE_INDEX]]"
      style="clear: left; display: [[HOTELCARD_ROOMTYPE_DISPLAY]];">
    <!-- Daily availability -->
    <table summary="">
      <thead>
        <tr>
          <th>[[TXT_HOTELCARD_DATE]]</th>
          <th>[[TXT_HOTELCARD_ROOMS_TOTAL]]</th>
          <!--th>[[TXT_HOTELCARD_ROOMS_BOOKED]]</th>
          <th>[[TXT_HOTELCARD_ROOMS_CANCELLED]]</th-->
          <th>[[TXT_HOTELCARD_ROOM_PRICE]]</th>
        </tr>
      </thead>
      <tbody>
<!-- BEGIN hotelcard_day -->
        <tr class="row[[HOTELCARD_CLASS]]">
          <td valign="bottom">[[HOTELCARD_DATE]]</td>
          <td valign="top">[[HOTELCARD_ROOMS_TOTAL]]</td>
          <!--td valign="top">[[HOTELCARD_ROOMS_BOOKED]]</td>
          <td valign="top">[[HOTELCARD_ROOMS_CANCELLED]]</td-->
          <td valign="top">[[HOTELCARD_ROOM_PRICE]]</td>
        </tr>
<!-- END hotelcard_day -->
      </tbody>
    </table>
  </div>
<!-- END hotelcard_roomtype -->

  <br />
  <br />
  [[HOTELCARD_FORM_SUBMIT_BUTTON_2]]
</form>
