<div id="content_steps">
  <ul>
<!-- BEGIN hotelcard_step -->
    <li class="[[HOTELCARD_STEP_CLASS]]"><!-- BEGIN hotelcard_step_link1 --><a href="[[HOTELCARD_STEP_HREF]]"><!-- END hotelcard_step_link1 -->
      [[HOTELCARD_STEP_NUMBER]]<!-- BEGIN hotelcard_step_link2 --></a><!-- END hotelcard_step_link2 -->
    </li>
<!-- END hotelcard_step -->
  </ul>
</div>

<h2>[[TXT_HOTELCARD_NOTE_TITLE]]</h2>
[[TXT_HOTELCARD_NOTE_TEXT]]
<p><br /></p>

<!-- BEGIN hotelcard_status -->
<span class="[[HOTELCARD_MESSAGE_TYPE]]">[[HOTELCARD_MESSAGE]]</span><br /><br />
<!-- END hotelcard_status -->

<!-- BEGIN hotelcard_form -->
<form name="form_hotelcard" action="[[HOTELCARD_FORM_ACTION]]" method="post"
    enctype="multipart/form-data">
  <input type="hidden" name="step" value="[[HOTELCARD_STEP]]" />
<!-- BEGIN hotelcard_data -->
<!-- BEGIN hotelcard_header -->
  <h2>[[HOTELCARD_DATA_HEADER]]</h2>
<!-- END hotelcard_header -->
<!-- BEGIN hotelcard_input -->
  <p><label[[HOTELCARD_DATA_LABEL_CLASS]]>[[HOTELCARD_DATA_LABEL]]</label>[[HOTELCARD_DATA_INPUT]]</p>
<!-- END hotelcard_input -->
<!-- BEGIN hotelcard_special -->
  [[HOTELCARD_DATA_SPECIAL]]
<!-- END hotelcard_special -->
<!-- END hotelcard_data -->
  <p><br /></p>
  <!--label>[[HOTELCARD_PAGE_NUMBER]]</label-->
<!-- BEGIN submit_button -->
  <p>
    <input type="submit" tabindex="101" name="bsubmit" value="[[HOTELCARD_FORM_SUBMIT_VALUE]]" />
  </p>
<!-- END submit_button -->
</form>
<!-- END hotelcard_form -->

<!-- BEGIN hotelcard_note -->
  <!--[[TXT_HOTELCARD_NOTE]] -->
<!-- END hotelcard_note -->
