<!-- Search form -->
<form method="post" name="formHotelcard1" action="index.php?section=hotelcard&amp;cmd=details&amp;hotel_id=[[HOTELCARD_HOTEL_ID]]">
  <input type="hidden" id="DPC_DEFAULT_FORMAT" value="[[HOTELCARD_DPC_DEFAULT_FORMAT]]" />
  <input type="hidden" id="DPC_TODAY_TEXT" value="[[HOTELCARD_DPC_TODAY_TEXT]]" />
  <input type="hidden" id="DPC_BUTTON_TITLE" value="[[HOTELCARD_DPC_BUTTON_TITLE]]" />
  <input type="hidden" id="DPC_MONTH_NAMES" value="[[[HOTELCARD_DPC_MONTH_NAMES]]]" />
  <input type="hidden" id="DPC_DAY_NAMES" value="[[[HOTELCARD_DPC_DAY_NAMES]]]" />

  <!-- Basic information -->
<!-- BEGIN hotelcard_data -->
<!-- BEGIN hotelcard_header -->
  <h2>[[HOTELCARD_DATA_HEADER]]</h2>
<!-- END hotelcard_header -->
<!-- BEGIN hotelcard_input -->
  <p><label[[HOTELCARD_DATA_LABEL_CLASS]]>[[HOTELCARD_DATA_LABEL]]</label>[[HOTELCARD_DATA_INPUT]]</p>
<!-- END hotelcard_input -->
<!-- BEGIN hotelcard_special -->
  [[HOTELCARD_DATA_SPECIAL]]
<!-- END hotelcard_special -->
<!-- END hotelcard_data -->

  <br />
  <br />
  <input type="submit" name="bsubmit" value="[[HOTELCARD_FORM_SUBMIT_VALUE]]" />
</form>

<!-- BEGIN hotelcard_status -->
<span class="[[HOTELCARD_MESSAGE_TYPE]]">[[HOTELCARD_MESSAGE]]</span><br /><br />
<!-- END hotelcard_status -->

<!-- BEGIN hotelcard_hotel -->
<div class="hotel_detail">
  <div class="hotel_detail_name">[[HOTELCARD_HOTEL_NAME]]</div>
  <div class="hotel_detail_image">[[HOTELCARD_HOTEL_IMAGE]]</div>
  <div class="hotel_detail_rating">[[HOTELCARD_RATING]]</div>
  <div class="hotel_detail_description">[[HOTELCARD_HOTEL_DESCRIPTION]]</div>
  <div class="hotel_detail_region">[[HOTELCARD_HOTEL_REGION]]</div>
  <div class="hotel_detail_location">[[HOTELCARD_HOTEL_LOCATION]]</div>
</div>

<form method="post" name="formHotelcard2" action="index.php?section=hotelcard&amp;cmd=detail&amp;hotel_id=[[HOTELCARD_HOTEL_ID]]">
<!-- BEGIN hotelcard_roomtypes -->
  <div class="hotel_detail_roomtypes">
<!-- BEGIN hotelcard_roomtypes_header -->
    <div class="hotel_detail_roomtype_header_name">[[TXT_HOTELCARD_ROOMTYPES]]</div>
<!-- BEGIN hotelcard_roomtypes_header_weekday -->
    <div class="hotel_detail_roomtype_header_weekday">[[HOTELCARD_WEEKDAY]]</div>
<!-- END hotelcard_roomtypes_header_weekday -->
    <div class="hotel_detail_roomtype_header_availability">[[TXT_HOTELCARD_NUMOF_ROOMS_SHORT]]</div>
<!-- END hotelcard_roomtypes_header -->

<!-- BEGIN hotelcard_roomtype_row -->
    <div class="hotel_detail_roomtype_row_name">[[HOTELCARD_ROOMTYPE_NAME]]</div>
<!-- BEGIN hotelcard_roomtypes_row_weekday -->
    <div class="hotel_detail_roomtype_row_weekday" title="[[HOTELCARD_ROOMS_AVAILABLE_X]]">[[HOTELCARD_ROOMTYPE_PRICE]]</div>
<!-- END hotelcard_roomtypes_row_weekday -->
    <div class="hotel_detail_roomtype_row_availability">[[HOTELCARD_ROOMTYPE_AVAILABILITY]]</div>
<!-- END hotelcard_roomtype_row -->
  </div>
<!-- END hotelcard_roomtypes -->
  <input type="submit" name="bsubmit" value="[[TXT_HOTELCARD_SUBMIT_BOOK]]" />
</form>
<!-- END hotelcard_hotel -->
