<form method="post" name="formHotelcard" action="index.php?section=hotelcard">
  <input type="hidden" id="DPC_DEFAULT_FORMAT" value="[[HOTELCARD_DPC_DEFAULT_FORMAT]]" />
  <input type="hidden" id="DPC_TODAY_TEXT" value="[[HOTELCARD_DPC_TODAY_TEXT]]" />
  <input type="hidden" id="DPC_BUTTON_TITLE" value="[[HOTELCARD_DPC_BUTTON_TITLE]]" />
  <input type="hidden" id="DPC_MONTH_NAMES" value="[[[HOTELCARD_DPC_MONTH_NAMES]]]" />
  <input type="hidden" id="DPC_DAY_NAMES" value="[[[HOTELCARD_DPC_DAY_NAMES]]]" />

  <!-- Basic information -->
<!-- BEGIN hotelcard_data -->
<!-- BEGIN hotelcard_header -->
  <h2>[[HOTELCARD_DATA_HEADER]]</h2>
<!-- END hotelcard_header -->
<!-- BEGIN hotelcard_input -->
  <p><label[[HOTELCARD_DATA_LABEL_CLASS]]>[[HOTELCARD_DATA_LABEL]]</label>[[HOTELCARD_DATA_INPUT]]</p>
<!-- END hotelcard_input -->
<!-- BEGIN hotelcard_special -->
  [[HOTELCARD_DATA_SPECIAL]]
<!-- END hotelcard_special -->
<!-- END hotelcard_data -->

<br />
  <br />
  <input type="submit" name="bsubmit" value="[[HOTELCARD_FORM_SUBMIT_VALUE]]" />
</form>

<!-- BEGIN hotelcard_status -->
<span class="[[HOTELCARD_MESSAGE_TYPE]]">[[HOTELCARD_MESSAGE]]</span><br /><br />
<!-- END hotelcard_status -->

<!-- BEGIN hotelcard_results -->
<table>
  <tr>
    <th>[[HEAD_HOTELCARD_HOTEL_NAME]]</th>
    <th>[[HEAD_HOTELCARD_HOTEL_REGION]]</th>
    <th>[[HEAD_HOTELCARD_HOTEL_LOCATION]]</th>
    <th>[[HEAD_HOTELCARD_ROOM_PRICE]]</th>
    <th>[[HEAD_HOTELCARD_RATING]]</th>
  </tr>
<!-- BEGIN hotelcard_hotel -->
  <tr>
    <td>[[HOTELCARD_HOTEL_NAME]]</td>
    <td>[[HOTELCARD_HOTEL_REGION]]</td>
    <td>[[HOTELCARD_HOTEL_LOCATION]]</td>
    <td>[[HOTELCARD_ROOM_PRICE]]</td>
    <td>[[HOTELCARD_RATING]]</td>
  </tr>
<!-- END hotelcard_hotel -->
</table>
<!-- END hotelcard_results -->
