[[HOTELCARD_EDIT_HOTEL_MENU]]

<!-- BEGIN hotelcard_status -->
<span class="[[HOTELCARD_MESSAGE_TYPE]]">[[HOTELCARD_MESSAGE]]</span><br /><br />
<!-- END hotelcard_status -->

<form method="post" name="formHotelcard"
    action="index.php?section=hotelcard&amp;cmd=edit_hotel_contact">
  <br />

    <!-- Basic information -->
<!-- BEGIN hotelcard_data -->
<!-- BEGIN hotelcard_header -->
    <h2>[[HOTELCARD_DATA_HEADER]]</h2>
<!-- END hotelcard_header -->
<!-- BEGIN hotelcard_input -->
    <p><label[[HOTELCARD_DATA_LABEL_CLASS]]>[[HOTELCARD_DATA_LABEL]]</label>[[HOTELCARD_DATA_INPUT]]</p>
<!-- END hotelcard_input -->
<!-- BEGIN hotelcard_special -->
    [[HOTELCARD_DATA_SPECIAL]]
<!-- END hotelcard_special -->
<!-- END hotelcard_data -->

  <br />
  <br />
  <input type="submit" value="[[HOTELCARD_FORM_SUBMIT_VALUE]]"
      name="bsubmit" />
</form>
