<div id="steps">[[HOTELCARD_EDIT_HOTEL_MENU]]</div>

<!-- BEGIN hotelcard_status -->
<span class="[[HOTELCARD_MESSAGE_TYPE]]">[[HOTELCARD_MESSAGE]]</span><br /><br /><br />
<!-- END hotelcard_status -->

<br />
<h2>[[TXT_HOTELCARD_EDIT_HOTEL_AVAILABILITY]]</h2>
<br />
[[TXT_HOTELCARD_EDIT_HOTEL_AVAILABILITY_NOTES]]
<br />
<form method="post" name="formHotelcard"
    action="index.php?section=hotelcard&amp;cmd=edit_hotel_availability">
  <input type="hidden" id="DPC_DEFAULT_FORMAT" value="[[HOTELCARD_DPC_DEFAULT_FORMAT]]" />
  <input type="hidden" id="DPC_TODAY_TEXT" value="[[HOTELCARD_DPC_TODAY_TEXT]]" />
  <input type="hidden" id="DPC_BUTTON_TITLE" value="[[HOTELCARD_DPC_BUTTON_TITLE]]" />
  <input type="hidden" id="DPC_MONTH_NAMES" value="[[[HOTELCARD_DPC_MONTH_NAMES]]]" />
  <input type="hidden" id="DPC_DAY_NAMES" value="[[[HOTELCARD_DPC_DAY_NAMES]]]" />
  <!-- Select date range -->
  <table summary="" class="white">
    <thead>
      <tr>
        <td nowrap="nowrap" colspan="2">
          [[HOTELCARD_FORM_SUBMIT_BUTTON_HALF]]&nbsp;[[HOTELCARD_FORM_SUBMIT_BUTTON_FULL]]
        </td>
        <td nowrap="nowrap"><br />
        </td>
      </tr>
      <tr>
        <td nowrap="nowrap">
          [[TXT_HOTELCARD_DATE_FROM]]&nbsp;[[HOTELCARD_DATE_FROM]]
        </td>
        <td nowrap="nowrap">
          [[TXT_HOTELCARD_DATE_TO]]&nbsp;[[HOTELCARD_DATE_TO]]
        </td>
        <td nowrap="nowrap" width="50%">
          [[HOTELCARD_FORM_SUBMIT_BUTTON_RANGE]]
        </td>
      </tr>
    </thead>
  </table>
</form>

<br />

<table summary="" class="redgreen">
<!-- BEGIN hotelcard_row -->
<!-- BEGIN hotelcard_row_month -->
  <thead>
    <tr>
      <th>[[TXT_HOTELCARD_MONTH]]</th>
<!-- BEGIN hotelcard_day_month --><th colspan="[[HOTELCARD_COLSPAN_MONTH]]">[[HOTELCARD_DATE_MONTH]]</th>
<!-- END hotelcard_day_month -->
    </tr>
  </thead>
<!-- END hotelcard_row_month -->
<!-- BEGIN hotelcard_row_date -->
  <thead>
    <tr class="row4">
      <td>&nbsp;[[TXT_HOTELCARD_DATE]]&nbsp;</td>
<!-- BEGIN hotelcard_day_date --><td colspan="[[HOTELCARD_COLSPAN_DATE]]" class="col[[HOTELCARD_CLASS]]" title="[[HOTELCARD_DATE_DAY_OF_THE_WEEK]]">[[HOTELCARD_DATE_DAY_NUMBER]]</td>
<!-- END hotelcard_day_date -->
    </tr>
  </thead>
<!-- END hotelcard_row_date -->

<!-- BEGIN hotelcard_row_roomtype -->
  <tbody>
    <tr class="row[[HOTELCARD_CLASS_ROW_ROOMTYPE]]">
      <td nowrap="nowrap" title="[[HOTELCARD_ROOMTYPE_NAME]]">&nbsp;[[HOTELCARD_ROOMTYPE_NAME_SHORT]]&nbsp;</td>
<!-- BEGIN hotelcard_day_roomtype --><td class="col[[HOTELCARD_CLASS_COL_ROOMTYPE]]" colspan="[[HOTELCARD_COLSPAN_ROOMTYPE]]" valign="top">[[HOTELCARD_ROOMS_AVAILABLE]]</td>
<!-- END hotelcard_day_roomtype -->
    </tr>
  </tbody>
<!-- END hotelcard_row_roomtype -->
<!-- END hotelcard_row -->
</table>

<br />
<br />
<br />
<div class="tabs">
  <ul class="roomtype_ul">
<!-- BEGIN hotelcard_roomtype_li -->
    <li id="roomtype-li-[[HOTELCARD_ROOMTYPE_INDEX]]"
        class="roomtype_li[[HOTELCARD_ROOMTYPE_LI_CLASS]]"
        onclick="showTab('roomtype-li-', 'roomtype-div-', [[HOTELCARD_ROOMTYPE_INDEX]], 1, [[HOTELCARD_ROOMTYPE_INDEX_MAX]])"
        title="[[HOTELCARD_ROOMTYPE_NAME]]"><span>
      [[HOTELCARD_ROOMTYPE_NAME_SHORT]]</span>
    </li>
<!-- END hotelcard_roomtype_li -->
  </ul>

<!-- BEGIN hotelcard_roomtype -->
  <div id="roomtype-div-[[HOTELCARD_ROOMTYPE_INDEX]]"
      style="clear: left; display: [[HOTELCARD_ROOMTYPE_DISPLAY]];">
<!-- Daily availability -->
    <table summary="">
      <thead>
        <tr>
          <th>[[TXT_HOTELCARD_DATE]]</th>
          <th>[[TXT_HOTELCARD_ROOMS_TOTAL]]</th>
          <th>[[TXT_HOTELCARD_ROOM_PRICE]]</th>
        </tr>
      </thead>
      <tbody>
<!-- BEGIN hotelcard_day -->
        <tr class="row[[HOTELCARD_CLASS]]">
          <td valign="bottom" title="[[HOTELCARD_DATE_DAY_OF_THE_WEEK]]">[[HOTELCARD_DATE]]</td>
          <td valign="top">[[HOTELCARD_ROOMS_TOTAL]]</td>
          <td valign="top">[[HOTELCARD_ROOM_PRICE]]</td>
        </tr>
<!-- END hotelcard_day -->
      </tbody>
    </table>
  </div>
<!-- END hotelcard_roomtype -->
</div>
