[[HOTELCARD_EDIT_HOTEL_MENU]]

<!-- BEGIN hotelcard_status -->
<span class="[[HOTELCARD_MESSAGE_TYPE]]">[[HOTELCARD_MESSAGE]]</span><br /><br />
<!-- END hotelcard_status -->

<form method="post" name="formHotelcard"
    action="index.php?section=hotelcard&amp;cmd=edit_hotel_roomtypes">
<h2>[[TXT_HOTELCARD_EDIT_HOTEL_ROOMTYPES]]</h2>
  <br />
  <br />

  <ul class="roomtype_ul">
<!-- BEGIN hotelcard_roomtype_li -->
    <li id="roomtype-li-[[HOTELCARD_ROOMTYPE_INDEX]]"
        class="roomtype_li[[HOTELCARD_ROOMTYPE_LI_CLASS]]"
        onclick="showTab('roomtype-li-', 'roomtype-', [[HOTELCARD_ROOMTYPE_INDEX]], 1, [[HOTELCARD_ROOMTYPE_INDEX_MAX]])"
        title="[[HOTELCARD_ROOMTYPE_NAME]]">
      [[HOTELCARD_ROOMTYPE_NAME_SHORT]]
    </li>
<!-- END hotelcard_roomtype_li -->
  </ul>

    <!-- Basic information -->
<!-- BEGIN hotelcard_data -->
<!-- BEGIN hotelcard_header -->
    <h2>[[HOTELCARD_DATA_HEADER]]</h2>
<!-- END hotelcard_header -->
<!-- BEGIN hotelcard_input -->
    <p><label[[HOTELCARD_DATA_LABEL_CLASS]]>[[HOTELCARD_DATA_LABEL]]</label>[[HOTELCARD_DATA_INPUT]]</p>
<!-- END hotelcard_input -->
<!-- BEGIN hotelcard_special -->
    [[HOTELCARD_DATA_SPECIAL]]
<!-- END hotelcard_special -->
<!-- END hotelcard_data -->

  <br />
  <br />
  <input type="submit" value="[[HOTELCARD_FORM_SUBMIT_VALUE]]"
      name="bsubmit" />
</form>
