<!-- Search form -->
<form method="post" name="formHotelcard" action="index.php?section=hotelcard">
  <input type="hidden" id="DPC_DEFAULT_FORMAT" value="[[HOTELCARD_DPC_DEFAULT_FORMAT]]" />
  <input type="hidden" id="DPC_TODAY_TEXT" value="[[HOTELCARD_DPC_TODAY_TEXT]]" />
  <input type="hidden" id="DPC_BUTTON_TITLE" value="[[HOTELCARD_DPC_BUTTON_TITLE]]" />
  <input type="hidden" id="DPC_MONTH_NAMES" value="[[[HOTELCARD_DPC_MONTH_NAMES]]]" />
  <input type="hidden" id="DPC_DAY_NAMES" value="[[[HOTELCARD_DPC_DAY_NAMES]]]" />

  <!-- Basic information -->
<!-- BEGIN hotelcard_data -->
<!-- BEGIN hotelcard_header -->
  <h2>[[HOTELCARD_DATA_HEADER]]</h2>
<!-- END hotelcard_header -->
<!-- BEGIN hotelcard_input -->
  <p><label[[HOTELCARD_DATA_LABEL_CLASS]]>[[HOTELCARD_DATA_LABEL]]</label>[[HOTELCARD_DATA_INPUT]]</p>
<!-- END hotelcard_input -->
<!-- BEGIN hotelcard_special -->
  [[HOTELCARD_DATA_SPECIAL]]
<!-- END hotelcard_special -->
<!-- END hotelcard_data -->

  <br />
  <br />
  <input type="submit" name="bsubmit" value="[[HOTELCARD_FORM_SUBMIT_VALUE]]" />
</form>

<!-- BEGIN hotelcard_status -->
<span class="[[HOTELCARD_MESSAGE_TYPE]]">[[HOTELCARD_MESSAGE]]</span><br /><br />
<!-- END hotelcard_status -->

<!-- BEGIN hotelcard_results -->
<table>
  <tr>
    <th>&nbsp;</th>
    <th>[[HEAD_HOTELCARD_HOTEL_NAME]]</th>
    <th>[[HEAD_HOTELCARD_HOTEL_REGION]]</th>
    <th>[[HEAD_HOTELCARD_HOTEL_LOCATION]]</th>
    <th>[[HEAD_HOTELCARD_ROOM_PRICE]]</th>
    <th>[[HEAD_HOTELCARD_RATING]]</th>
  </tr>
</table>
<!-- BEGIN hotelcard_hotel -->
<div class="hotel_overview">
  <div class="hotel_overview_name">[[HOTELCARD_HOTEL_NAME]]</div>

  <div class="hotel_overview_thumb">
<!-- BEGIN hotel_overview_link_image -->
    <a href="[[HOTELCARD_HOTEL_IMAGE_PATH]]" rel="shadowbox">
<!-- END hotel_overview_link_image -->
      [[HOTELCARD_HOTEL_THUMB]]
<!-- BEGIN hotel_overview_link_image_end -->
    </a>
<!-- END hotel_overview_link_image_end -->
  </div>


  <div class="hotel_overview_rating">[[HOTELCARD_RATING]]</div>
  <div class="hotel_overview_description">[[HOTELCARD_HOTEL_DESCRIPTION_MORE]]</div>
  <div class="hotel_overview_region">[[HOTELCARD_HOTEL_REGION]]</div>
  <div class="hotel_overview_location">[[HOTELCARD_HOTEL_LOCATION]]</div>
  <div class="hotel_overview_price">[[TXT_HOTELCARD_PRICE_FROM]]&nbsp;[[HOTELCARD_PRICE_UNIT]]&nbsp;[[HOTELCARD_ROOM_PRICE]]</div>
  <div class="hotel_overview_detail">
    <a href="index.php?section=hotelcard&amp;cmd=details&amp;hotel_id=[[HOTELCARD_HOTEL_ID]]">[[TXT_HOTELCARD_HOTEL_DETAILS]]</a>
  </div>
</div>
<!-- END hotelcard_hotel -->
<!-- END hotelcard_results -->
