/* missing footer definitions for Bootswatch template */
footer {
    margin:0em 0
}
footer li{
    float:left;
    margin-right:1.5em;
    margin-bottom:1.5em
}
footer p{
    clear:left;
    margin-bottom:0
}
body {
    background: url("images/background.png") no-repeat scroll 0 0 / cover rgba(0, 0, 0, 0);
}
.login_logo{
    float: left;
    margin: 135px 0 45px 0;
}
div.panel.panel-default {
    border: 0 none;
    background: transparent;
    box-shadow: none;
    margin-bottom: 18px;
}
div.panel.panel-default .panel-body{
    padding: 0;
    margin-right: 13%;
    border-bottom: 1px solid #c5c5c5;
    padding-bottom: 25px;
}
div.panel.panel-default .panel-body form .form-group .form-control{
    padding: 10px 12px;
    height: 50px;
    font-size: 25px;
    color: #434343;
    font-family: Roboto-Light;
}
div.panel.panel-default .panel-body form .form-group {
    margin-bottom: 27px;
}
div.panel.panel-default .panel-body form .checkbox.pull-left {
    padding: 0;
    font-family: Roboto-Light;
    font-size: 15px;
    margin-top: 32px;
    margin-bottom: 0;
    color: #fff;
}
div.panel.panel-default .panel-body form .btn.btn-default.pull-right {
    padding: 8px 39px;
    font-size: 24px;
    font-family: Roboto-Light;
    background: #226FBD;
    color: #fff;
    border: 0 none;
    outline: none;
}
footer .list-unstyled {
    margin-right: 13%;
}
footer .list-unstyled a {
     font-family: Roboto-Light;
     color: #fff;
     font-size: 15px;
}
footer .list-unstyled .lost_pass{
    float: left;
    margin: 0;
   
}
footer .list-unstyled  .multisite_signup {
    float: right;
    margin: 0;
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('fonts/Roboto-Light.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('fonts/Roboto-Light.eot');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('fonts/Roboto-Light.woff');
    font-weight: normal;
    font-style: normal;
}