<div id="checkout">
    {CHECKOUT_MSG_OK} {CHECKOUT_MSG_ERROR}
    <!-- BEGIN redirect -->
    {CHECKOUT_YELLOWPAY_FORM}
    <!-- END redirect -->
    <!-- BEGIN form -->
    <table>
        <tbody>
            <tr>
                <td class="left">
                    <form action="index.php?section=Checkout" method="post">
                        <fieldset>
                            <legend>{TXT_CHECKOUT_BILL_DATA}</legend>
                            <p>
                                <input class="{CHECKOUT_INVOICE_NUMBER_CLASS}" id="invoice_number" name="invoice_number" type="text" value="{CHECKOUT_INVOICE_NUMBER}" /></p>
                            <p>
                                <input class="{CHECKOUT_INVOICE_AMOUNT_CLASS}" id="invoice_amount" name="invoice_amount" type="text" value="{CHECKOUT_INVOICE_AMOUNT}" />
                                <select class="form-control {CHECKOUT_INVOICE_CURRENCY_CLASS}" id="invoice_currency" name="invoice_currency">{CHECKOUT_INVOICE_CURRENCY_OPTIONS}</select></p>
                        </fieldset>
                        <fieldset>
                            <legend>{TXT_CHECKOUT_CONTACT_DATA}</legend>
                            <p>
                                <select class="form-control {CHECKOUT_CONTACT_TITLE_CLASS}" id="contact_title" name="contact_title">{CHECKOUT_CONTACT_TITLE_OPTIONS}</select>
                            </p>
                            <p>
                                <input class="{CHECKOUT_CONTACT_FORENAME_CLASS}" id="contact_forename" name="contact_forename" type="text" value="{CHECKOUT_CONTACT_FORENAME}" />
                            </p>
                            <p>
                                <input class="{CHECKOUT_CONTACT_SURNAME_CLASS}" id="contact_surname" name="contact_surname" type="text" value="{CHECKOUT_CONTACT_SURNAME}" />
                            </p>
                            <p>
                                <input class="{CHECKOUT_CONTACT_COMPANY_CLASS}" id="contact_company" name="contact_company" type="text" value="{CHECKOUT_CONTACT_COMPANY}" />
                            </p>
                            <p>
                                <input class="{CHECKOUT_CONTACT_STREET_CLASS}" id="contact_street" name="contact_street" type="text" value="{CHECKOUT_CONTACT_STREET}" />
                            </p>
                            <p>
                                <input class="{CHECKOUT_CONTACT_POSTCODE_CLASS}" id="contact_postcode" name="contact_postcode" type="text" value="{CHECKOUT_CONTACT_POSTCODE}" />
                                <input class="{CHECKOUT_CONTACT_PLACE_CLASS}" id="contact_place" name="contact_place" type="text" value="{CHECKOUT_CONTACT_PLACE}" />
                            </p>
                            <p>
                                <select class="form-control {CHECKOUT_CONTACT_COUNTRY_CLASS}" id="contact_country" name="contact_country">{CHECKOUT_CONTACT_COUNTRY_OPTIONS}</select>
                            </p>
                            <p>
                                <input class="{CHECKOUT_CONTACT_PHONE_CLASS}" id="contact_phone" name="contact_phone" type="text" value="{CHECKOUT_CONTACT_PHONE}" />
                            </p>
                            <p>
                                <input class="{CHECKOUT_CONTACT_EMAIL_CLASS}" id="contact_email" name="contact_email" type="text" value="{CHECKOUT_CONTACT_EMAIL}" />
                            </p>
                        </fieldset>
                        <div id="buttons">
                            <input class="btn btn-default" name="submit" type="submit" value="{TXT_CORE_SUBMIT}" />
                            <input class="btn btn-default" name="reset" type="reset" value="{TXT_CORE_RESET}" />
                        </div>
                    </form>
                </td>
                <td class="right">
                    <div id="payment_methods">
                        <img alt="Postfinance Card" src="modules/Checkout/View/Media/Images/payment/postfinance_card.png" />
                        <img alt="Postfinance E-Finance" src="modules/Checkout/View/Media/Images/payment/postfinance_efinance.png" />
                        <img alt="Visa" src="modules/Checkout/View/Media/Images/payment/visa.png" /><br />
                        <img alt="Mastercard" src="modules/Checkout/View/Media/Images/payment/mastercard.png" />
                        <img alt="American Express" src="modules/Checkout/View/Media/Images/payment/american_express.png" />
                        <img alt="Diners Club" src="modules/Checkout/View/Media/Images/payment/diners_club.png" /><br />
                        <img alt="JCB" src="modules/Checkout/View/Media/Images/payment/jcb.png" />
                        <img alt="PayPal" src="modules/Checkout/View/Media/Images/payment/pay_pal.png" />
                    </div>
                    <div id="description">
                        {TXT_CHECKOUT_DESCRIPTION}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- END form -->
</div>
