/* CONTACT STYLE */

#contactFrame{
    border: 0;
    padding: 0;
}

form.contactForm p {
    width: 138px;
    clear: left;
    margin: 0;
    padding: 2px 0 3px 90px;
    height: 1%;
}

form.contactForm p label.noCaption {
    float: left;
    width: 150px;
    margin-left: 2px;
    margin-top: 2px;
}

form.contactForm .contactFormGroup {
    float: left;
    margin-top: -15px !important;
}

form.contactForm p input.contactFormClass_checkbox {
    float: left;
}

form.contactForm p input.contactFormClass_checkboxGroup {
    clear: left;
    float: left;
}

form.contactForm p input.contactFormClass_radio {
    clear: left;
    float: left;
}

form.contactForm p label, .contactForm p span {
    font-weight: bold;
    float: left;
    margin-left: -90px;
    width: 90px;
}

form.contactForm input[type="text"], form.contactForm input[type="password"] {
    width: 110px;
}

form.contactForm select {
    width: 110px;
}

form.contactForm input{
    overflow: hidden;
}

form.contactForm img.captcha {
    float: left;
}

form.contactForm .is_required {
    color: red;
}

form.contactForm textarea {
    width: 110px;
    height: 80px;
}

form.contactForm #contactFormCaptcha {
    margin-left: 147px;
}


form.contactForm .contactFormClass_button {
    margin-left: 0px;
	width: 70px;
	height: 26px;
	cursor: pointer;
	margin: 2px;
	background: url("images/buttonbg.jpg");
	border: 0;
	color: #ffffff;
	font-weight: bold;
	font-size: 1.0em;
	padding-bottom:7px;
}

.contactFormClass_button:hover, .contactFormClass_button:focus  {
	width: 60px;
	cursor: pointer;
	margin: 2px;
}

form.contactForm  #contactFormCaptcha {
    margin-left: 3px !important;
    margin-top: 5px !important;
}

/* NEWS STYLE */
#news table {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	border-spacing: 0px;
	border-collapse: collapse;
	border-width: 0px; 
	cell-spacing: 0px;
}

#news th {
	padding: 4px 5px 4px 5px;
	margin: 0px 0px 0px 0px;
	font-weight: bold;
	background-color: #EFEFEF;
	border: 0px;
	border-right: 1px solid #ffffff;
	border-bottom: 1px dotted #D0D0D0;
}

#news tr.row1 {
	background-color: #f9f9f9;
}

#news tr.row2 {
	background-color: #FFFFFF;
}

#news td {
	padding: 3px 5px 3px 5px;
	margin: 0px 0px 0px 0px;
	border: 0px;
	border-bottom: 1px dotted #D0D0D0;
	border-right: 1px solid #ffffff;
	border-spacing: 0px;
}