#logo{
    float: left;
    height: 16px;
    width: 95%;
    padding: 2px;
}

#content{
    float: left;
    width: 95%;
    padding: 0 5px 5px 5px;
    border-bottom: 1px solid #999999;
}

#footer{
    float: left;
    width: 95%;
    padding: 2px 5px;
    font-size: 0.85em
}