#navigation{
    float: left;
    height: 30px;
    width: 100%;
    background:#0099cc;
    border-bottom: 1px solid #999999;
    border-top: 1px solid #999999;
    font-weight: bold;
}

#navigation ul li{
    float:left;
    height: 16px;
    list-style: none;
    border-right: 1px solid #ffffff;
    color: #ffffff;
    padding: 7px;    
}

#navigation a{
    text-decoration: none;
    color: #ffffff;
}

#subnavigation{
    float: left;
    background: url("images/navbg.jpg");
    height: 20px;
    width: 100%;    
    border-bottom: 1px solid #999999;
}

#subnavigation ul li{
    float:left;
    height: 16px;
    list-style: none;
    border-right: 1px solid #ffffff;
    color: #ffffff;
    padding: 2px 7px;    
}

#subnavigation a{
    text-decoration: none;
    color: #ffffff;
}