* {
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Verdana;
    font-size: 0.70em;
    text-transform: lowercase;
}

h1{
    font-size: 1.2em;
    color: #0099cc;
    padding: 3px 0;
}

h2{
    font-size: 1.1em;
    color: #0099cc;
    padding: 3px 0;
}

h3{
    font-size: 1.0em;
    color: #0099cc;
    padding: 3px 0;
}

img{
    border:0;
}

a{
    text-decoration: none;
    color: #0099cc;
}

a:hover{
    text-decoration: underline;
}