<div id="docsys">
    <div class="categories">
        <form role="form" method="post" action="index.php?section=DocSys" name="docSys">
            <select class="form-control" name="category" onchange="javascript:this.form.submit()">
                <option selected="selected" value="">{DOCSYS_NO_CATEGORY}</option>
                {DOCSYS_CAT_MENU}
            </select>
        </form>
    </div>
    <div class="doc_list">
        <!-- BEGIN table -->
        <table class="table">
            <tbody>
                <tr>
                    <th style="width: 5%; white-space: nowrap;">Datum</th>
                    <th style="width: 100%;">Titel</th>
                    <th style="white-space: nowrap;">Kategorie</th>
                </tr>
                <!-- BEGIN row -->
                <tr>
                    <td  style="white-space: nowrap;">{DOCSYS_DATE}</td>
                    <td style="width: 100%;">{DOCSYS_LINK}</td>
                    <td  style="white-space: nowrap;">{DOCSYS_CATEGORY}</td>
                </tr>
                <!-- END row -->
            </tbody>
        </table>
        <!-- END table -->
        <!-- BEGIN nothing_found -->
        {TXT_NO_DOCUMENTS_FOUND}
        <!-- END nothing_found -->
    </div>
    <div class="paging">{DOCSYS_PAGING}</div>
</div>
