{PM_REMOVE_BACKGROUND_STYLE}
<table>
    <tr><td><a href="./index.php?cmd=crm&amp;act=customers&amp;tpl=showcustdetail&id={CRM_CUSTOMER_ID}&{CSRF_PARAM}" style="text-decoration:underline;">{CUSTOMER_NAME}</a></td></tr>
    <tr><td>{CUSTOMER_NOOF_CONTACT} contacts</td></tr>
    <tr><td><img alt="icon" src="images/icons/phone.gif" height="17px" width="17px"/> {CUSTOMER_PHONE} </td></tr>
    <tr><td><img alt="icon" src="images/icons/email.gif"/> {CUSTOMER_EMAIL}</td></tr>
    <tr><td>
            <div style="padding-left: 17px;background: url('images/icons/home-icon.png') no-repeat">
                {CUSTOMER_ADDRESS}<br>
                {CUSTOMER_CITY} {CUSTOMER_STATE} {CUSTOMER_POSTCODE}
                {CRM_CONTACT_COUNTRY}
            </div>
        </td>
    </tr>    
</table>
