{IMPORT_FINAL_JAVASCRIPT}

<ul id="tabmenu">
	<li><a id="Entries_Import" class="active" href="javascript:{}" onclick="selectTab('Import')" title="{TXT_CRM_IMPORT_NAME}">{TXT_CRM_IMPORT_NAME}</a></li>
	<li><a id="Entries_Export" class="" href="javascript:{}" onclick="selectTab('Export')" title="{TXT_CRM_EXPORT_NAME}">{TXT_CRM_EXPORT_NAME}</a></li>
</ul>

<form name="frmSelectFields" action="index.php?cmd={MODULE_NAME}&act=InsertCSV" method="post"><input name="csrf" value="LTU3ODc3OTQ4NQ__" type="hidden">
<input name="SaveImg" value="1" type="hidden">
<input name="pairs_left_keys" id="pairs_left_keys" value="" type="hidden">
<input name="pairs_right_keys" id="pairs_right_keys" value="" type="hidden">
<input name="pairs_left_keys2" id="pairs_left_keys2" value="" type="hidden">
<input name="pairs_right_keys2" id="pairs_right_keys2" value="" type="hidden">
<input name="pairs_left_keys3" id="pairs_left_keys3" value="" type="hidden">
<input name="pairs_right_keys3" id="pairs_right_keys3" value="" type="hidden">
<input name="pairs_left_keys4" id="pairs_left_keys4" value="" type="hidden">
<input name="pairs_right_keys4" id="pairs_right_keys4" value="" type="hidden">
<input name="category" id="category" value="" type="hidden">
<div id="import2" class="generalTab" style="display: block;">

<table class="adminlist" width="100%" cellspacing="0" cellpadding="3" border="0">
    <tr>
        <th colspan="4">{TXT_CRM_IMPORT_ANALYSIS}</th>
    </tr>

    <tr class="row3">
        <td colspan="4"><b>{TXT_CRM_CUSTOMER_TYPE}</b></td>
    </tr>

    <tr class="row2">
        <td valign="top">
            <b>{TXT_CRM_CSV_TXTFILE}:</b><br>
            <select name="FileFields" id="file_field" style="width: 200px;" size="5">
		{TXT_FILECUSTOMER_TYPE}
            </select>
        </td>
	<td>&nbsp;&nbsp;</td>
        <td valign="top">
            <b>{TXT_CRM_CSV_DATABASE}:</b><br>
            <select name="DbFields" id="given_field" style="width: 200px;" size="5">
		{TXT_DBCUSTOMERS_TYPE}
            </select>
        </td>
        <td width="50%">
  	    <!--div class="infobox_head">{TXT_CRM_CSV_NOTE}</div>
  	    <div class="infobox_body">{TXT_CRM_CSV_NOTE_TXT}<br><br>
	    </div-->
        </td>
    </tr>
    <tr class="row1">
        <td colspan="4">
            <input value="{TXT_CRM_CSV_ADDPAIR}" onclick="javascript:addPair();" type="button" title="{TXT_CRM_CSV_NOTE_TXT}">
        </td>
    </tr>
    <tr class="row2">
        <td valign="top">
           <select name="fileList" id="pairs_left" style="width: 200px;" size="5" onchange="document.getElementById('pairs_right')[this.selectedIndex].selected=true"></select>
        </td>
	<td>&nbsp;&nbsp;</td>
        <td valign="top">
           <select name="DbList" id="pairs_right" style="width: 200px;" size="5" onchange="document.getElementById('pairs_left')[this.selectedIndex].selected=true"></select>
        </td>

        <td>
            <!--div class="infobox_head">{TXT_CRM_CSV_NOTE}</div>
                <div class="infobox_body">{TXT_CRM_CSV_REMOVE_PAIR}
	        </div-->
        </td>
    </tr>
    <tr class="row1">
        <td colspan="4">
            <input value="{TXT_CRM_CSV_REMOVEPAIR}" onclick="removePair();" type="button" title="{TXT_CRM_CSV_REMOVE_PAIR}">
        </td>
    </tr>

    <tr class="row3">
        <td colspan="4"><b>{TXT_CRM_CSV_PARENTID}</b></td>
    </tr>
    <tr class="row2">
        <td valign="top">
            <b>{TXT_CRM_CSV_TXTFILE}:</b><br>
            <select name="FileFields" id="file_field2" style="width: 200px;" size="5">
	         {TXT_FILEPARENT_ID}
            </select>
        </td>
	<td>&nbsp;&nbsp;</td>
        <td valign="top">
            <b>{TXT_CRM_CSV_DATABASE}:</b><br>
            <select name="DbFields" id="given_field2" style="width: 200px;" size="5">
                 {TXT_DBCUSTOMERS_NAME}
            </select>
        </td>
        <td width="35%">
  	    <!--div class="infobox_head">{TXT_CRM_CSV_NOTE}</div>
  	    <div class="infobox_body">{TXT_CRM_CSV_NOTE_TXT}<br><br>
	    </div-->
        </td>
    </tr>
    <tr class="row1">
        <td colspan="4">
            <input value="{TXT_CRM_CSV_ADDPAIR}" onclick="javascript:addPair2();" type="button" title="{TXT_CRM_CSV_NOTE_TXT}">
        </td>
    </tr>
    <tr class="row2">
        <td valign="top">
           <select name="fileList" id="pairs_left2" style="width: 200px;" size="5" onchange="document.getElementById('pairs_right2')[this.selectedIndex].selected=true"></select>
        </td>
	<td>&nbsp;&nbsp;</td>
        <td valign="top">
           <select name="DbList" id="pairs_right2" style="width: 200px;" size="5" onchange="document.getElementById('pairs_left2')[this.selectedIndex].selected=true"></select>
        </td>

        <td>
            <!--div class="infobox_head">{TXT_CRM_CSV_NOTE}</div>
                <div class="infobox_body">{TXT_CRM_CSV_REMOVE_PAIR}
	        </div-->
        </td>
    </tr>
    <tr class="row1">
        <td colspan="4">
            <input value="{TXT_CRM_CSV_REMOVEPAIR}" onclick="removePair2();" type="button" title="{TXT_CRM_CSV_REMOVE_PAIR}">
        </td>
    </tr>

    <tr  class="row3">
        <td colspan="4"><b>{TXT_CRM_CSV_LANGUAGE}</b></td>
    </tr>
    <tr class="row2">
        <td valign="top">
            <b>{TXT_CRM_CSV_TXTFILE}:</b><br>
            <select name="FileFields" id="file_field3" style="width: 200px;" size="5">
	         {TXT_FILELANG_NAME}
            </select>
        </td>
	<td>&nbsp;&nbsp;</td>
        <td valign="top">
            <b>{TXT_CRM_CSV_DATABASE}:</b><br>
            <select name="DbFields" id="given_field3" style="width: 200px;" size="5">
                 {TXT_DBLANG_NAME}
            </select>
        </td>
        <td width="35%">
  	    <!--div class="infobox_head">{TXT_CRM_CSV_NOTE}</div>
  	    <div class="infobox_body">{TXT_CRM_CSV_NOTE_TXT}<br><br>
	    </div-->
        </td>
    </tr>
    <tr class="row1">
        <td colspan="4">
            <input value="{TXT_CRM_CSV_ADDPAIR}" onclick="javascript:addPair3();" type="button" title="{TXT_CRM_CSV_NOTE_TXT}">
        </td>
    </tr>
    <tr class="row2">
        <td valign="top">
           <select name="fileList" id="pairs_left3" style="width: 200px;" size="5" onchange="document.getElementById('pairs_right3')[this.selectedIndex].selected=true"></select>
        </td>
	<td>&nbsp;&nbsp;</td>
        <td valign="top">
           <select name="DbList" id="pairs_right3" style="width: 200px;" size="5" onchange="document.getElementById('pairs_left3')[this.selectedIndex].selected=true"></select>
        </td>

        <td>
            <!--div class="infobox_head">{TXT_CRM_CSV_NOTE}</div>
                <div class="infobox_body">{TXT_CRM_CSV_REMOVE_PAIR}
	        </div-->
        </td>
    </tr>
    <tr class="row1">
        <td colspan="4">
            <input value="{TXT_CRM_CSV_REMOVEPAIR}" onclick="removePair3();" type="button" title="{TXT_CRM_CSV_REMOVE_PAIR}">
        </td>
    </tr>

    <tr class="row3">
        <td colspan="4"><b>{TXT_CRM_CSV_CURRENCY}</b></td>
    </tr>
    <tr class="row2">
        <td valign="top">
            <b>{TXT_CRM_CSV_TXTFILE}:</b><br>
            <select name="FileFields" id="file_field4" style="width: 200px;" size="5">
		 {TXT_FILECURRENCY_NAME}
            </select>
        </td>
	<td>&nbsp;&nbsp;</td>
        <td valign="top">
            <b>{TXT_CRM_CSV_DATABASE}:</b><br>
            <select name="DbFields" id="given_field4" style="width: 200px;" size="5">
                 {TXT_DBCURRENCY_NAME}
            </select>
        </td>
        <td width="35%">
  	    <!--div class="infobox_head">{TXT_CRM_CSV_NOTE}</div>
  	    <div class="infobox_body">{TXT_CRM_CSV_NOTE_TXT}<br><br>
	    </div-- >
        </td>
    </tr>
    <tr class="row1">
        <td colspan="4">
            <input value="{TXT_CRM_CSV_ADDPAIR}" onclick="javascript:addPair4();" type="button" title="{TXT_CRM_CSV_NOTE_TXT}">
        </td>
    </tr>
    <tr class="row2">
        <td valign="top">
           <select name="fileList" id="pairs_left4" style="width: 200px;" size="5" onchange="document.getElementById('pairs_right4')[this.selectedIndex].selected=true"></select>
        </td>
	<td>&nbsp;&nbsp;</td>
        <td valign="top">
           <select name="DbList" id="pairs_right4" style="width: 200px;" size="5" onchange="document.getElementById('pairs_left4')[this.selectedIndex].selected=true"></select>
        </td>

        <td>
            <!--div class="infobox_head">{TXT_CRM_CSV_NOTE}</div>
                <div class="infobox_body">{TXT_CRM_CSV_REMOVE_PAIR}
	        </div-->
        </td>
    </tr>
    <tr class="row1">
        <td colspan="4">
            <input value="{TXT_CRM_CSV_REMOVEPAIR}" onclick="removePair4();" type="button" title="{TXT_CRM_CSV_REMOVE_PAIR}">
        </td>
    </tr>	
</table>

<br>
  <input value="{TXT_CRM_SAVE}" onclick="" title="{TXT_CRM_SAVE}" type="submit">
</div>
</form>
