<!-- START module_crm_interface.html -->
<div id="subnavbar_level2">
<ul>
    <li><a href="./index.php?cmd={MODULE_NAME}&amp;act=interface&amp;tpl=import" title="{TXT_IMPORT_NAME}">{TXT_IMPORT_NAME}</a></li>
	<li><a class="active" href="./index.php?cmd={MODULE_NAME}&amp;act=interface&amp;tpl=export" title="{TXT_EXPORT_NAME}">{TXT_EXPORT_NAME}</a></li>
</ul>
</div>
<table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
    <tr>
        <th colspan="2">{TXT_EXPORT_NAME}</th>
    </tr>
    <tr class="row3">
        <td nowrap="nowrap" width="90%"><span style="font-weight:bold;">{TXT_EXPORT_INFO}</span></td>
        <td nowrap="nowrap" style="text-align: right;"><span style="font-weight:bold;">{TXT_FUNCTIONS}</span></td>
    </tr>
    <tr class="row2">
        <td> {TXT_EXPORT_CUSTOMER_CSV}</td>
        <td style="text-align: right;"> <a title="CSV Export" target="_self" href="index.php?cmd=crm&amp;act=interface&amp;tpl=exportcsv"> <img border="0" title="Detail Export of All Customers" alt="" src="images/icons/csv.gif"> </a></td>
    </tr>
    <tr class="row2">
        <td> {TXT_CRM_EXPORT_COMPANY}</td>
        <td style="text-align: right;"> <a title="CSV Export" target="_self" href="index.php?cmd=crm&amp;act=interface&amp;tpl=exportcsv&amp;process=1"> <img border="0" title="Detail Export of All Companies" alt="" src="images/icons/csv.gif"> </a></td>
    </tr>
    <tr class="row2">
        <td> {TXT_CRM_EXPORT_PERSON}</td>
        <td style="text-align: right;"> <a title="CSV Export" target="_self" href="index.php?cmd=crm&amp;act=interface&amp;tpl=exportcsv&amp;process=2"> <img border="0" title="Detail Export of All Persons" alt="" src="images/icons/csv.gif"> </a></td>
    </tr>
    <tr class="row2">
        <td> {TXT_CRM_EXPORT_ACTIVE_CUSTOMER}</td>
        <td style="text-align: right;"> <a title="CSV Export" target="_self" href="index.php?cmd=crm&amp;act=interface&amp;tpl=exportcsv&amp;process=active"> <img border="0" title="Detail Export of All Active Customers" alt="" src="images/icons/csv.gif"> </a></td>
    </tr>
</table>
<!-- END module_crm_interface.html -->