<!-- START module_printshop_attributes.html -->
<script language="JavaScript" type="text/javascript">
//<![CDATA[

//start anonymous wrapper
(function(){
var submitForm = function(){
    return false;
}

var selectMultiAction = function() {
    var $form  = $J('form[name=formAttributes]');
    var $multi = $J('#entriesMultiAction');
    if($J('input[type=checkbox]:checked', $form).length == 0){
        $multi.val(0);
        return false;
    }
    switch ($J('option:selected', $multi).val()) {
        case 'delete':
                if (confirm('{TXT_PRINTSHOP_DELETE_SELECTED}')) {
                    deleteSelectedEntries();
                }
        break;
        default:
	}
    $multi.val(0);
}

var deleteEntry = function(){
    var id  = $J(this).attr('href').replace(/.*?id=(\d+).*/, '$1');
    var $tr = $J(this).closest('tr');
    var params = $J.param({
        id:                id,
        attribute:         '{PRINTSHOP_ATTRIBUTE}',
        json:              'delete'
    });
    $J.ajax({
        url: '{DIRECTORY_INDEX}?cmd=printshop&act={PRINTSHOP_ATTRIBUTE}',
        type: 'POST',
        data: params,
        dataType: 'json',
        success: function(data, textStatus){
                    if(data.message != 'ok'){
                        setError(data.message);
                        return false;
                    }
                    $tr.fadeOut(500, function(){
                        $J(this).remove();
                        resetRowClasses();
                        if($J('#psEntries tr:lt(3)').length < 3){
                            $J('<tr class="row2">\
                        			<td colspan="10"><div align="center"><br />{TXT_PRINTSHOP_NO_ENTRY}<br /><br /></div></td>\
                        		</tr>').appendTo($J('#psEntries'));
                        }
                    });
                 },
        error: function(xhr, textStatus, errorThrown){submitError(xhr, textStatus, errorThrown);}
    });

}

var deleteSelectedEntries = function(){
    var $form = $J('form[name=formAttributes]');
    $J('input[type=checkbox]:checked', $form).each(function(){
        deleteEntry.apply($J(this).closest('tr').find('.psdelete').get(0));
    });
}

var editEntry = function(){
    var id     = $J(this).attr('href').replace(/.*?id=(\d+).*/, '$1');
    var $td    = $J(this).closest('tr').find('td:eq(1)');
    var $input = $td.find('input');
    //if no input field, then append input and submit and add handlers
    if($input.length == 0){
        var name = $td.text().replace(/(?:^\s+|(\s)\s+|\s+$)/g, '$1');
        $td.html('&nbsp;').append('<input type="text" name="psAttributeName" value="'+name+'" size="45" />\
                            <input type="button" name="psAttributeSave" value="{TXT_PRINTSHOP_UPDATE_ATTRIBUTE}" />');
        var $submit = $td.find('input[name=psAttributeSave]');
        var $input  = $td.find('input[name=psAttributeName]').click(function(){
            return false; //prevent click bubbling to avoid checkbox checking
        });

        $submit.one('click', function(){
            if($input.val().replace(/(?:^\s+|(\s)\s+|\s+$)/g, '$1') == ''){
                $J(this).one('click', arguments.callee);
                return false;
            }
            var params = $J.param({
               id:                id,
               attribute:         '{PRINTSHOP_ATTRIBUTE}',
               psAttributeName: $input.val(),
               json:              'save'
            });
            $J.ajax({
                url: '{DIRECTORY_INDEX}?cmd=printshop&act={PRINTSHOP_ATTRIBUTE}',
                type: 'POST',
                data: params,
                dataType: 'json',
                success: function(data, textStatus){
                            if(data.exists){
                                if(name != $input.val()){
                                    setError('{TXT_PRINTSHOP_ALREADY_EXISTS}');
                                    $input.val($td.data('default'));
                                }
                            }else{
                                $td.data('default', $input.val());
                            }
                            $td.fadeOut(500, function(){
                                $J(this).fadeIn(500).html($input.val());
                            });
                         },
                error: function(xhr, textStatus, errorThrown){submitError(xhr, textStatus, errorThrown);}
            });
            return false;
        });
    }else{ //restore default value
        $td.html($td.data('default'));
    }
}

$J(function($){ //this way we can use $ normally, but no prototype stuff can be used inside this fn
    var $form = $J('form[name=formAttributes]');
    $form.submit(submitForm);


    //set default values for each entry
    $('.psname').each(function(){
        $(this).data('default', $(this).text());
    });


    //add delete link handler
    $('.psdelete').live('click', function(event){
        if(confirm('{TXT_PRINTSHOP_DELETE_ENTRY}')){
            deleteEntry.apply(this); //call deleteEntry in this context
        }
        return false;
    });

    //add edit link handler
    $('.psedit').live('click', function(event){
        editEntry.apply(this); //call editEntry in this context
        return false;
    });

    $('input[name=psAddAttribute]').click(function(){
        var name = $(this).siblings().val().replace(/(?:^\s+|(\s)\s+|\s+$)/g, '$1');
        if(name == ''){
            return false;
        }
        var params = $.param({
           id:                0,
           attribute:         '{PRINTSHOP_ATTRIBUTE}',
           psAttributeName: name,
           json:              'save'
        });
        $.ajax({
            url: '{DIRECTORY_INDEX}?cmd=printshop&act={PRINTSHOP_ATTRIBUTE}',
            type: 'POST',
            data: params,
            dataType: 'json',
            success: addRow,
            error: function(xhr, textStatus, errorThrown){submitError(xhr, textStatus, errorThrown);}
        });

        $(this).siblings().val('');
    });

    $('#entriesSelectAll').click(function(){
        var $form = $J('form[name=formAttributes]');
        $('input[type=checkbox]', $form).attr('checked', 'checked');
        return false;
    });

    $('#entriesDeselectAll').click(function(){
        var $form = $J('form[name=formAttributes]');
        $('input[type=checkbox]', $form).removeAttr('checked');
        return false;
    });

    $('#entriesMultiAction').change(selectMultiAction);

    $('input[name=psAttributeName]').keydown(function(e){
        if (e.keyCode == 13) { // click button to save the new attribute when enter is hit
            $('input[name=psAddAttribute]').click();
            return false;
        }
    });

    $('span.messageFadeout a').live('click', function(){
        $(this).closest('div').remove();
    });

//end onload
});

var addRow = function(data, textStatus){
    var id        = data.id;
    var name      = data.name;
    var exists    = data.exists;
    if(exists){
        setError('{TXT_PRINTSHOP_ALREADY_EXISTS}');
        return false;
    }

    $J('#psEntries tr:lt(3):contains({TXT_PRINTSHOP_NO_ENTRY})').fadeOut(500, function(){
        $J(this).remove();
        resetRowClasses();
    });

    var $rows = $J('#psEntries tbody tr.row2,#psEntries tbody tr.row1');
    var className = $rows.length % 2 ? 'row2' : 'row1';
    $J('<tr class="'+className+'">\
            <td><input type="checkbox" name="selectedEntriesId[]" value="'+id+'" /></td>\
    		<td class="psname">'+name+'</td>\
    		<td nowrap="nowrap">\
    			<div align="right">\
    				<a class="psedit" href="{DIRECTORY_INDEX}?cmd=printshop&amp;act={PRINTSHOP_ATTRIBUTE}&amp;id='+id+'" target="_self" title="{TXT_PRINTSHOP_EDIT}">\
    				   <img src="images/icons/edit.gif" border="0" alt="{TXT_PRINTSHOP_EDIT}" title="{TXT_PRINTSHOP_EDIT}" />\
    		        </a>\
    				<a class="psdelete" href="{DIRECTORY_INDEX}?cmd=printshop&amp;act={PRINTSHOP_ATTRIBUTE}&amp;id='+id+'" target="_self" title="{TXT_PRINTSHOP_DELETE}">\
    				   <img src="images/icons/delete.gif" border="0" alt="{TXT_PRINTSHOP_DELETE}" title="{TXT_PRINTSHOP_DELETE}" />\
    				</a>\
    			</div>\
    		</td>\
        </tr>')
    .appendTo('#psEntries').hide().fadeIn(500)
    .find('.psname').data('default', name);
}

var resetRowClasses = function(){
    $J('#psEntries tbody tr.row2,#psEntries tbody tr.row1').removeClass();
    $J('#psEntries tbody > :gt(0):nth-child(odd)').addClass('row2');
    $J('#psEntries tbody > :nth-child(even)').addClass('row1');
}

var submitError = function(xhr, textStatus, errorThrown){
    $J('#errormessagetarget').append('<div id="alertbox">AJAX['+textStatus+']: '+errorThrown+'</div>').find(':last-child')
                              .fadeIn('slow').animate({opacity: 1.0}, 3000).fadeOut(10000, function(){$J(this).remove()});
}

var setError = function(message){
    $J('#errormessagetarget').append('<div id="alertbox">\
        <span class="messageFadeout"><a href="#" target="_self" title="{TXT_PRINTSHOP_FADE_OUT}">\
		   <img src="images/icons/delete.gif" border="0" alt="{TXT_PRINTSHOP_FADE_OUT}" title="{TXT_PRINTSHOP_FADE_OUT}" />\
		</a></span>'+message+'</div>').find(':last-child')
                              .fadeIn('slow').animate({opacity: 1.0}, 3000).fadeOut(10000, function(){$J(this).remove()});
}



//end anonymous wrapper
})();

//]]>
</script>

<!--
-->
<div id="subnavbar_level2">
	<ul>
		<li><a href="?cmd=printshop&amp;act=type">{TXT_PRINTSHOP_TYPE_TITLE}</a></li>
        <li><a href="?cmd=printshop&amp;act=format">{TXT_PRINTSHOP_FORMAT_TITLE}</a></li>
        <li><a href="?cmd=printshop&amp;act=front">{TXT_PRINTSHOP_FRONT_TITLE}</a></li>
        <li><a href="?cmd=printshop&amp;act=back">{TXT_PRINTSHOP_BACK_TITLE}</a></li>
        <li><a href="?cmd=printshop&amp;act=weight">{TXT_PRINTSHOP_WEIGHT_TITLE}</a></li>
        <li><a href="?cmd=printshop&amp;act=paper">{TXT_PRINTSHOP_PAPER_TITLE}</a></li>

	</ul>
</div>
<br />
<span class="red" id="errormessagetarget">{CONTENT_STATUS}</span>
<br />
<form name="formAttributes" method="post" action="{DIRECTORY_INDEX}?cmd=printshop">
	<table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
	    <tbody>
    		<tr>
    			<th colspan="10">{TXT_PRINTSHOP_ADD_ATTRIBUTE}</th>
    		</tr>
    		<tr class="row3">
    			<td nowrap="nowrap" width="13%">{TXT_PRINTSHOP_ENTER_ATTRIBUTE}</td>
    			<td nowrap="nowrap" width="87%">
    			     <input type="text" value="" name="psAttributeName" size="60" />
    			     <input type="button" value="{TXT_PRINTSHOP_ADD_ATTRIBUTE}" name="psAddAttribute" />
    			</td>
    		</tr>
        </tbody>
    </table>
    <br />
	<table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist" id="psEntries">
		<thead>
    		<tr>
    			<th colspan="10">{TXT_PRINTSHOP_ATTRIBUTE}</th>
    		</tr>
		</thead>
		<tbody>
    		<tr class="row3">
    			<td nowrap="nowrap" width="2%"><span style="font-weight:bold;">#</span></td>
    			<td nowrap="nowrap" width="83%"><span style="font-weight:bold;">{TXT_PRINTSHOP_ATTRIBUTE_NAME}</span></td>
    			<td nowrap="nowrap" width="5%"><span style="font-weight:bold;">{TXT_PRINTSHOP_SUBTITLE_ACTIONS}</span></td>
    		</tr>
    		<!-- BEGIN showEntry -->
    		<tr class="{ENTRY_ROWCLASS}">
    			<td><input type="checkbox" name="selectedEntriesId[]" value="{PRINTSHOP_ATTRIBUTE_ID}" /></td>
    			<td class="psname">{PRINTSHOP_ATTRIBUTE_NAME}</td>
    			<td nowrap="nowrap">
    				<div align="right">
    					<a class="psedit" href="{DIRECTORY_INDEX}?cmd=printshop&amp;act={PRINTSHOP_ATTRIBUTE}&amp;id={PRINTSHOP_ATTRIBUTE_ID}" target="_self" title="{TXT_PRINTSHOP_EDIT}">
    					   <img src="images/icons/edit.gif" border="0" alt="{TXT_PRINTSHOP_EDIT}" title="{TXT_PRINTSHOP_EDIT}" />
    			        </a>
    					<a class="psdelete" href="{DIRECTORY_INDEX}?cmd=printshop&amp;act={PRINTSHOP_ATTRIBUTE}&amp;id={PRINTSHOP_ATTRIBUTE_ID}" target="_self" title="{TXT_PRINTSHOP_DELETE}">
    					   <img src="images/icons/delete.gif" border="0" alt="{TXT_PRINTSHOP_DELETE}" title="{TXT_PRINTSHOP_DELETE}" />
    					</a>
    				</div>
    			</td>
    		</tr>
    		<!-- END showEntry -->
    		<!-- BEGIN noEntry -->
    		<tr class="row2">
    			<td colspan="10"><div align="center"><br />{TXT_PRINTSHOP_NO_ENTRY}<br /><br /></div></td>
    		</tr>
    		<!-- END noEntry -->
        </tbody>
	</table>
	<br />
	<table cellpadding="2" cellspacing="0" border="0">
    	<tbody>
    		<tr>
    			<td>
    						<img src="images/icons/arrow.gif" border="0" width="38" height="22" alt="{TXT_ENTRIES_MARKED}:" />
    				<a href="#" id="entriesSelectAll" title="{TXT_SELECT_ALL}">{TXT_SELECT_ALL}</a> /
    				<a href="#" id="entriesDeselectAll" title="{TXT_DESELECT_ALL}">{TXT_DESELECT_ALL}</a>
    				<img src="images/icons/strike.gif" alt="" />
    				<select id="entriesMultiAction">
    					<option value="0">{TXT_MULTISELECT_SELECT}</option>
    					<option value="delete">{TXT_MULTISELECT_DELETE}</option>
    				</select>
    			</td>
    		</tr>
        </tbody>
	</table>
</form>
<br />
<div align="center">{ENTRIES_PAGING}</div>
<!-- END module_printshop_attributes.html -->