<!-- START module_printshop_settings.html -->
<script language="javascript" type="text/javascript">
//<![CDATA[
Style[0]=["","","","","",,"black","#ffffe1","","","",,,,1,"#000000",2,21,0.3,,2,"gray",1,,15,-5];
Text[0]=["","{TXT_PRINTSHOP_EMAIL_HELP}"];

//start anonymous wrapper
(function(){

var submitForm = function(){
    return false;
}

var createTooltip = function(j){
    var $toolTipDiv = $J('<div id="psToolTip'+j+'">'+Text[j][1]+'</div>').appendTo('body');
    var pos = $J(this).position();
    $toolTipDiv.css({
        position: 'absolute',
        left: pos.left - 50,
        top: pos.top  + 20,
        border: '1px solid black',
        paddingLeft: '3px',
        marginLeft: '3px',
        paddingRight: '3px',
        marginRight: '3px',
        backgroundColor: '#ffffe1',
        zIndex: '10200'
    });
}

var confirmDelete = function(){
    return confirm
}

$J(document).ready(function(){
    $J('.psDelete').click(function(){
        return confirm('{TXT_PRINTSHOP_DELETE_ENTRY}');
    });
//end onload
});

//end anonymous wrapper
})();
//]]>
</script>

<span class="red" id="errormessagetarget">{CONTENT_STATUS}</span>

<form name="frmSettings" method="post" action="{DIRECTORY_INDEX}?cmd=printshop&amp;act=saveSettings">
    <!-- BEGIN orderTabmenu -->
    <ul id="tabmenu">
        <li><a id="generalTab_openOrders" title="{TXT_PRINTSHOP_OPEN_ORDERS" onclick="selectTab('openOrders')" href="javascript:{}">{TXT_PRINTSHOP_OPEN_ORDERS}</a></li>
        <li><a id="generalTab_closedOrders" class="active" title="{TXT_PRINTSHOP_CLOSED_ORDERS}" onclick="selectTab('closedOrders')" href="javascript:{}">{TXT_PRINTSHOP_CLOSED_ORDERS}</a></li>
    </ul>
    <!-- END orderTabmenu -->
     <div id="openOrders" class="generalTab" style="display: block;">
      <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
        <thead>
        <tr>
          <th colspan="12">{TXT_PRINTSHOP_OPEN_ORDERS}</th>
        </tr>
        <tr class="row3">
            <td width="2%"><b>#</b></td>
            <td><b>{TXT_PRINTSHOP_SUBJECT}</b></td>
            <td><b>{TXT_PRINTSHOP_COMPANY}</b></td>
            <td><b>{TXT_PRINTSHOP_CONTACT}</b></td>
            <td><b>{TXT_PRINTSHOP_ADDRESS} 1</b></td>
            <td><b>{TXT_PRINTSHOP_ADDRESS} 2</b></td>
            <td><b>{TXT_PRINTSHOP_ZIP}</b></td>
            <td><b>{TXT_PRINTSHOP_CITY}</b></td>
            <td width="5%"><b>{TXT_PRINTSHOP_AMOUNT}</b></td>
            <td width="5%" style="text-align: right;"><b>{TXT_PRINTSHOP_PRICE}</b></td>
            <td width="5%" style="text-align: right;"><b>{TXT_PRINTSHOP_FUNCTIONS}</b></td>
        </tr>
        </thead>
        <tbody>
        <!-- BEGIN orderOpen -->
        <tr class="{PRINTSHOP_ROW_CLASS} mainRow">
          <td>{PRINTSHOP_ORDER_ID}</td>
          <td>{PRINTSHOP_SUBJECT}</td>
          <td>{PRINTSHOP_COMPANY}</td>
          <td>{PRINTSHOP_CONTACT}</td>
          <td>{PRINTSHOP_ADDRESS1}</td>
          <td>{PRINTSHOP_ADDRESS2}</td>
          <td>{PRINTSHOP_ZIP}</td>
          <td>{PRINTSHOP_CITY}</td>
          <td>{PRINTSHOP_AMOUNT}</td>
          <td nowrap="nowrap" style="text-align: right;">{PRINTSHOP_CURRENCY} {PRINTSHOP_PRICE}</td>
          <td nowrap="nowrap" style="text-align: right;">
            <div class="psAction">
                <!-- BEGIN orderMove -->
                <a href="{DIRECTORY_INDEX}?cmd=printshop&act=changeStatus&orderId={PRINTSHOP_ORDER_ID}">
                    <img border="0" src="images/icons/next.gif" title="{TXT_PRINTSHOP_MOVE_TO_CLOSED}" alt="{TXT_PRINTSHOP_MOVE_TO_CLOSED}" />
                </a>
                <!-- END orderMove -->
                <a href="{DIRECTORY_INDEX}?cmd=printshop&act=detail&orderId={PRINTSHOP_ORDER_ID}">
                    <img border="0" src="images/icons/viewmag.png" title="{TXT_PRINTSHOP_VIEW_DETAILS}" alt="{TXT_PRINTSHOP_VIEW_DETAILS}" />
                </a>
                <a href="{DIRECTORY_INDEX}?cmd=printshop&act=delOrder&orderId={PRINTSHOP_ORDER_ID}">
                    <img class="psDelete" border="0" src="images/icons/delete.gif" title="{TXT_PRINTSHOP_DELETE}" alt="{TXT_PRINTSHOP_DELETE}" />
                </a>
            </div>
          </td>
        </tr>
        <!-- END orderOpen -->
        </tbody>
      </table>
      <br />
      <div>
        {PRINTSHOP_PAGING_OPEN}
      </div>
    </div>

    <div id="closedOrders" class="generalTab" style="display: none;">
      <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
        <thead>
        <tr>
          <th colspan="12">{TXT_PRINTSHOP_CLOSED_ORDERS}</th>
        </tr>
        <tr class="row3">
            <td width="2%"><b>#</b></td>
            <td><b>{TXT_PRINTSHOP_SUBJECT}</b></td>
            <td><b>{TXT_PRINTSHOP_COMPANY}</b></td>
            <td><b>{TXT_PRINTSHOP_CONTACT}</b></td>
            <td><b>{TXT_PRINTSHOP_ADDRESS} 1</b></td>
            <td><b>{TXT_PRINTSHOP_ADDRESS} 2</b></td>
            <td><b>{TXT_PRINTSHOP_ZIP}</b></td>
            <td><b>{TXT_PRINTSHOP_CITY}</b></td>
            <td width="5%"><b>{TXT_PRINTSHOP_AMOUNT}</b></td>
            <td width="5%" style="text-align: right;"><b>{TXT_PRINTSHOP_PRICE}</b></td>
            <td width="5%" style="text-align: right;"><b>{TXT_PRINTSHOP_FUNCTIONS}</b></td>
        </tr>
        </thead>
        <tbody>
        <!-- BEGIN orderClosed -->
        <tr class="{PRINTSHOP_ROW_CLASS} mainRow">
          <td>{PRINTSHOP_ORDER_ID}</td>
          <td>{PRINTSHOP_SUBJECT}</td>
          <td>{PRINTSHOP_COMPANY}</td>
          <td>{PRINTSHOP_CONTACT}</td>
          <td>{PRINTSHOP_ADDRESS1}</td>
          <td>{PRINTSHOP_ADDRESS2}</td>
          <td>{PRINTSHOP_ZIP}</td>
          <td>{PRINTSHOP_CITY}</td>
          <td>{PRINTSHOP_AMOUNT}</td>
          <td style="text-align: right;">{PRINTSHOP_PRICE} {PRINTSHOP_CURRENCY}</td>
          <td style="text-align: right;">
            <div class="psAction">
                <a href="{DIRECTORY_INDEX}?cmd=printshop&act=changeStatus&orderId={PRINTSHOP_ORDER_ID}">
                    <img border="0" src="images/icons/previous.gif" title="{TXT_PRINTSHOP_MOVE_TO_CLOSED}" alt="{TXT_PRINTSHOP_MOVE_TO_CLOSED}" />
                </a>
                <a href="{DIRECTORY_INDEX}?cmd=printshop&act=detail&orderId={PRINTSHOP_ORDER_ID}">
                    <img border="0" src="images/icons/viewmag.png"" title="{TXT_PRINTSHOP_VIEW_DETAILS}" alt="{TXT_PRINTSHOP_VIEW_DETAILS}" />
                </a>
                <a href="{DIRECTORY_INDEX}?cmd=printshop&act=delOrder&orderId={PRINTSHOP_ORDER_ID}">
                    <img class="psDelete" border="0" src="images/icons/delete.gif" title="{TXT_PRINTSHOP_DELETE}" alt="{TXT_PRINTSHOP_DELETE}" />
                </a>
            </div>
          </td>
        </tr>
        <!-- END orderClosed -->
        </tbody>
      </table>
      <br />
      <div>
        {PRINTSHOP_PAGING_CLOSED}
      </div>
    </div>
</form>
<!-- END module_printshop_settings.html -->
