<!-- START module_printshop_settings.html -->
<script language="javascript" type="text/javascript">
//<![CDATA[
Style[0]=["","","","","",,"black","#ffffe1","","","",,,,1,"#000000",2,21,0.3,,2,"gray",1,,15,-5];
Text[0]=["","{TXT_PRINTSHOP_EMAIL_HELP}"];

//start anonymous wrapper
(function(){
//start onload
$J(document).ready(function(){
//end onload
});
//end anonymous wrapper
})();

//]]>
</script>


  <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
    <thead>
    <tr>
      <th colspan="4">{TXT_PRINTSHOP_ORDER_DETAILS}</th>
    </tr>
    <tr class="row3">
        <td><b>{TXT_PRINTSHOP_PRODUCT_DETAILS}</b></td>
        <td><b>{TXT_PRINTSHOP_ADDITIONAL_DETAILS}</b></td>
        <td><b>{TXT_PRINTSHOP_SHIPMENT_ADDRESS}</b></td>
        <td><b>{TXT_PRINTSHOP_INVOICE_ADDRESS}</b></td>
    </tr>
    </thead>
    <tbody>
    <!-- BEGIN orderEntry -->
    <tr class="{PRINTSHOP_ROW_CLASS} mainRow">
      <td style="vertical-align: top; width: 15%;">
        <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
            <tr class="row1">
                <td style="width: 40%;">{TXT_PRINTSHOP_TYPE}</td>
                <td>{PRINTSHOP_TYPE}</td>
            </tr>
            <tr class="row2">
                <td>{TXT_PRINTSHOP_FORMAT}</td>
                <td>{PRINTSHOP_FORMAT}</td>
            </tr>
            <tr class="row1">
                <td>{TXT_PRINTSHOP_FRONT}</td>
                <td>{PRINTSHOP_FRONT}</td>
            </tr>
            <tr class="row2">
                <td>{TXT_PRINTSHOP_BACK}</td>
                <td>{PRINTSHOP_BACK}</td>
            </tr>
            <tr class="row1">
                <td>{TXT_PRINTSHOP_WEIGHT}</td>
                <td>{PRINTSHOP_WEIGHT}</td>
            </tr>
            <tr class="row2">
                <td>{TXT_PRINTSHOP_PAPER}</td>
                <td>{PRINTSHOP_PAPER}</td>
            </tr>
            <tr class="row1">
                <td style="border-bottom: 0px;">{TXT_PRINTSHOP_AMOUNT}</td>
                <td style="border-bottom: 0px;">{PRINTSHOP_AMOUNT}</td>
            </tr>
        </table>
      </td>
      <td style="vertical-align: top; width: 15%;">
        <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
            <tr class="row1">
                <td style="width: 40%;">{TXT_PRINTSHOP_ORDER_ID}</td>
                <td>{PRINTSHOP_ORDER_ID}</td>
            </tr>
            <tr class="row2">
                <td style="width: 40%;">{TXT_PRINTSHOP_SUBJECT}</td>
                <td>{PRINTSHOP_SUBJECT}</td>
            </tr>
            <tr class="row1">
                <td>{TXT_PRINTSHOP_EMAIL}</td>
                <td>{PRINTSHOP_EMAIL}</td>
            </tr>
            <tr class="row2">
                <td>{TXT_PRINTSHOP_TELEPHONE}</td>
                <td>{PRINTSHOP_TELEPHONE}</td>
            </tr>
            <tr class="row1">
                <td style="vertical-align: top; border-bottom: 0px;"">{TXT_PRINTSHOP_COMMENT}</td>
                <td style="border-bottom: 0px;">{PRINTSHOP_COMMENT}</td>
            </tr>
        </table>
      </td>
      <td style="vertical-align: top; width: 15%;">
        <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
            <tr class="row1">
                <td style="width: 40%;">{TXT_PRINTSHOP_SHIPMENT_TYPE}</td>
                <td>{PRINTSHOP_SHIPMENT}</td>
            </tr>
            <tr class="row2">
                <td>{TXT_PRINTSHOP_COMPANY}</td>
                <td>{PRINTSHOP_SHIPMENT_COMPANY}</td>
            </tr>
            <tr class="row1">
                <td>{TXT_PRINTSHOP_CONTACT}</td>
                <td>{PRINTSHOP_SHIPMENT_CONTACT}</td>
            </tr>
            <tr class="row2">
                <td>{TXT_PRINTSHOP_ADDRESS} 1</td>
                <td>{PRINTSHOP_SHIPMENT_ADDRESS1}</td>
            </tr>
            <tr class="row1">
                <td>{TXT_PRINTSHOP_ADDRESS} 2</td>
                <td>{PRINTSHOP_SHIPMENT_ADDRESS2}</td>
            </tr>
            <tr class="row2">
                <td>{TXT_PRINTSHOP_ZIP}</td>
                <td>{PRINTSHOP_SHIPMENT_ZIP}</td>
            </tr>
            <tr class="row1">
                <td style="border-bottom: 0px;">{TXT_PRINTSHOP_CITY}</td>
                <td style="border-bottom: 0px;">{PRINTSHOP_SHIPMENT_CITY}</td>
            </tr>
        </table>
      </td>
      <td style="vertical-align: top; width: 15%;">
        <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
            <tr class="row1">
                <td style="width: 40%;">{TXT_PRINTSHOP_COMPANY}</td>
                <td>{PRINTSHOP_INVOICE_COMPANY}</td>
            </tr>
            <tr class="row2">
                <td>{TXT_PRINTSHOP_CONTACT}</td>
                <td>{PRINTSHOP_INVOICE_CONTACT}</td>
            </tr>
            <tr class="row1">
                <td>{TXT_PRINTSHOP_ADDRESS} 1</td>
                <td>{PRINTSHOP_INVOICE_ADDRESS1}</td>
            </tr>
            <tr class="row2">
                <td>{TXT_PRINTSHOP_ADDRESS} 2</td>
                <td>{PRINTSHOP_INVOICE_ADDRESS2}</td>
            </tr>
            <tr class="row1">
                <td>{TXT_PRINTSHOP_ZIP}</td>
                <td>{PRINTSHOP_INVOICE_ZIP}</td>
            </tr>
            <tr class="row2">
                <td>{TXT_PRINTSHOP_CITY}</td>
                <td>{PRINTSHOP_INVOICE_CITY}</td>
            </tr>
            <tr class="row1">
                <td style="border-bottom: 0px;">{TXT_PRINTSHOP_PRICE}</td>
                <td style="border-bottom: 0px;">{PRINTSHOP_PRICE}</td>
            </tr>
        </table>
      </td>
    </tbody>
  </table>
  <br />
  <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
    <thead>
    <tr>
      <th colspan="5">{TXT_PRINTSHOP_UPLOADED_IMAGES}</th>
    </tr>
    <tr>
      <td style="vertical-align: top;">
        <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
            <tr>
                <!-- BEGIN image -->
                    <td style="vertical-align: top; border-bottom: 0px;"">
                        {PRINTSHOP_IMAGE_CAPTION}:<br />
                        <a href="../{PRINTSHOP_IMAGE_SRC}">
                            <img style="border: 1px solid black;" src="../{PRINTSHOP_IMAGE_SRC}" width="300" title="{TXT_PRINTSHOP_VIEW_IMAGE}" alt="{TXT_PRINTSHOP_VIEW_IMAGE}" /> <br />
                            {TXT_PRINTSHOP_DOWNLOAD_FILE}
                        </a>
                    </td>
                <!-- END image -->
            </tr>
        </table>
      </td>
    </tr>
  </table>

<!-- END module_printshop_settings.html -->
