<!-- START module_printshop_main.html -->
<script language="JavaScript" type="text/javascript">
//<![CDATA[


//start anonymous wrapper
(function(){

var pagingLimit = {PRINTSHOP_PAGING_LIMIT};

var submitForm = function(){
    return false;
}

var selectMultiAction = function() {
    var $table = $J('#psEntriesTable');
    var $multi = $J('#entriesMultiAction');
    if($J('input[type=checkbox]:checked', $table).length == 0){
        $multi.val(0);
        return false;
    }
    switch ($J('option:selected', $multi).val()) {
        case 'delete':
            if (confirm('{TXT_PRINTSHOP_DELETE_SELECTED}')) {
                deleteSelectedEntries();
            }
        break;
        default:
	}
    $multi.val(0);
}

var deleteEntry = function(){
    var $tr = $J(this).closest('tr');
    var type   = getValueFromText('type', $J.trim($tr.find('td.pstype').text()));
    var format = getValueFromText('format', $J.trim($tr.find('td.psformat').text()));
    var front  = getValueFromText('front', $J.trim($tr.find('td.psfront').text()));
    var back   = getValueFromText('back', $J.trim($tr.find('td.psback').text()));
    var weight = getValueFromText('weight', $J.trim($tr.find('td.psweight').text()));
    var paper  = getValueFromText('paper', $J.trim($tr.find('td.pspaper').text()));

    var params = $J.param({
        psType:   type,
        psFormat: format,
        psFront:  front,
        psBack:   back,
        psWeight: weight,
        psPaper:  paper,
        json:     'delete'
    });

    $J.ajax({
        url: '{DIRECTORY_INDEX}?cmd=printshop&act=delProduct',
        type: 'POST',
        data: params,
        dataType: 'json',
        success: function(data, textStatus){
                    var error = data.error;
                    if(error != 'null'){
                        setError(error);
                        return false;
                    }

                    var ok      = data.ok;
                    setMessage(ok);

                    $tr.fadeOut(500, function(){
                        $J(this).remove();
                        if($J('#psEntriesTable tr:lt(4)').length < 4){
                            $J('<tr>\
                        			<td colspan="10"><div align="center"><br />{TXT_PRINTSHOP_NO_ENTRY}<br /><br /></div></td>\
                        		</tr>').appendTo($J('#psEntriesTable'));
                        }
                        resetRowClasses();
                    });
                 },
        error: function(xhr, textStatus, errorThrown){submitError(xhr, textStatus, errorThrown);}
    });

}

var deleteSelectedEntries = function(){
    var $table = $J('#psEntriesTable');
    $J('input[type=checkbox]:checked', $table).each(function(){
        deleteEntry.apply($J(this).closest('tr').find('.psdelete').get(0));
    });
}

var deleteHandler = function(){

}

var editEntry = function(){
    var $tr          = $J(this).closest('tr');
    var $tdPrice     = $tr.find('.psprice');
    var $tdFactor    = $tr.find('.psfactor');
    var $inputPrice  = $tdPrice.find('input');
    var $inputFactor = $tdFactor.find('input');
    //if no input field, then append input and submit and add handlers
    if($inputPrice.length == 0){
        var price = $tdPrice.text().replace(/(?:^\s+|(\s)\s+|\s+$)/g, '$1');
        var factor = $tdFactor.text().replace(/(?:^\s+|(\s)\s+|\s+$)/g, '$1');
        $tdPrice.html('&nbsp;').append('<input type="text" name="psPrice" value="'+price+'" size="6" />');
        $tdFactor.html('&nbsp;').append('<input type="text" name="psFactor" value="'+factor+'" size="6" />\
                                   <input type="button" name="psAttributeSave" value="{TXT_PRINTSHOP_SAVE}" />');
        var $inputPrice  = $tdPrice.find('input');
        var $inputFactor = $tdFactor.find('input');
        var price  = $inputPrice.val();
        var factor = $inputFactor.val();

        var $submit = $tdFactor.find('input[name=psAttributeSave]');

        $submit.one('click', function(){
            if(price.replace(/[^\d.]/g, '') == ''
            || factor.replace(/[^\d.]/g, '') == ''){
                $J(this).one('click', arguments.callee);
                return false;
            }

            var type   = getValueFromText('type', $J.trim($tr.find('td.pstype').text()));
            var format = getValueFromText('format', $J.trim($tr.find('td.psformat').text()));
            var front  = getValueFromText('front', $J.trim($tr.find('td.psfront').text()));
            var back   = getValueFromText('back', $J.trim($tr.find('td.psback').text()));
            var weight = getValueFromText('weight', $J.trim($tr.find('td.psweight').text()));
            var paper  = getValueFromText('paper', $J.trim($tr.find('td.pspaper').text()));
            price  = $inputPrice.val();
            factor = $inputFactor.val();

            var params = $J.param({
                psType:   type,
                psFormat: format,
                psFront:  front,
                psBack:   back,
                psWeight: weight,
                psPaper:  paper,
                psPrice:  price,
                psFactor: factor,
                json:     'save'
            });

            $J.ajax({
                url: '{DIRECTORY_INDEX}?cmd=printshop&act=updateProduct',
                type: 'POST',
                data: params,
                dataType: 'json',
                success: function(data, textStatus){
                            if(data.error != 'null'){
                                setError(data.error);
                            }
                            $tdPrice.fadeOut(500, function(){
                                $tdPrice.data('default', data.price);
                                $J(this).fadeIn(500).html(data.price);
                            });
                            $tdFactor.fadeOut(500, function(){
                                $tdFactor.data('default', data.factor)
                                $J(this).fadeIn(500).html(data.factor);
                            });
//                            setMessage(data.ok);
                         },
                error: function(xhr, textStatus, errorThrown){submitError(xhr, textStatus, errorThrown);}
            });
            return false;
        });
    }else{ //restore default value
        $tdPrice.html($tdPrice.data('default'));
        $tdFactor.html($tdFactor.data('default'));
    }
}

$J(function($){ //this way we can use $ normally, but no prototype stuff can be used inside this fn
    var $form = $('form[name=frmShowEntries]');
    $form.submit(submitForm);


    //set default values for each entry
    $('.psprice,.psfactor').each(function(){
        $(this).data('default', $(this).text());
    });


    //add delete link handler
    $('.psdelete').live('click', function(event){
        if(confirm('{TXT_PRINTSHOP_DELETE_ENTRY}')){
            deleteEntry.apply(this); //call deleteEntry in this context
        }
        return false;
    });

    //add edit link handler
    $('.psedit').live('click', function(event){
        editEntry.apply(this); //call editEntry in this context
        return false;
    });

    $('input[name=psPrice],input[name=psFactor]').live('keyup', function(){ // only allow digits and one dot
        $(this).val($(this).val().replace(/,/g, '.').replace(/[^\d.]+/g, '').split('').reverse().join('').replace(/\.(?=.*\.)/g, '').split('').reverse().join(''));
    });

    $('input[name=psAddProduct]').click(function(){
        var price   = $('input[name=psPrice]').val().replace(/[^\d.]/g, '');
        var factor  = $('input[name=psFactor]').val().replace(/[^\d.]/g, '');

        if(price == '' || factor == ''){
            setError('{TXT_PRINTSHOP_FIELDS_REQUIRED}');
            return false;
        }

        var params = $('#psAddTable select,#psAddTable input').serialize();
        $.ajax({
            url: '{DIRECTORY_INDEX}?cmd=printshop&act=addProduct',
            type: 'POST',
            data: params,
            dataType: 'json',
            success: addRow,
            error: function(xhr, textStatus, errorThrown){submitError(xhr, textStatus, errorThrown);}
        });
        $('#psAddProduct input').val('');
    });

    $('#entriesSelectAll').click(function(){
        var $form = $('form[name=frmShowEntries]');
        $('input[type=checkbox]', $form).attr('checked', 'checked');
        return false;
    });

    $('#entriesDeselectAll').click(function(){
        var $form = $('form[name=frmShowEntries]');
        $('input[type=checkbox]', $form).removeAttr('checked');
        return false;
    });


    $('#entriesMultiAction').change(selectMultiAction);

    $('select,input').keydown(function(e){
        if (e.keyCode == 13) { // click button to save the new attribute when enter is hit
            $(this).closest('tr').find('input[type=button]').click();
            return false;
        }
    });

    $('a#pagingPage0,a#pagingPage1,a#pagingPage2,a#pagingPage3,a#pagingPage4,a#pagingPage5,a#pagingPage6').live('click', function(e){
        e.preventDefault();
        getEntries(($(this).text()-1) * pagingLimit);
        return false;
    });

    $('a#pagingFirst').click(function(e){
        e.preventDefault();
        getEntries(0);
        return false;
    });

    $('a#pagingLast').data('totalEntries', {PRINTSHOP_TOTAL_ENTRIES})
    .click(function(e){
        e.preventDefault();
        getEntries((Math.ceil($('a#pagingLast').data('totalEntries')/pagingLimit)-1)*10);
        return false;
    });


    $('#psEntriesTable tr.row3').eq(1).find('select').change(function(){
        getEntries(0); // getEntries($('#pspaging b').text()-1) * pagingLimit)
    });

    if($('#psEntriesTable select').serialize().match(/\b0\b/g).length < 6){ // update entries if a filter is selected
        getEntries(0);
    }

    $('span.messageFadeout a').live('click', function(){
        $(this).closest('div').remove();
    });

//end onload
});

var updatePaging = function(count, pos, limit){
    var rangeEnd =  count > pos+limit ? pos+limit : count;
    var pageCount = Math.ceil(count/limit);
    var activePage = Math.ceil(pageCount-(count-pos)/limit);
    $J('#pagingLower').html(pos+1);
    $J('#pagingUpper').html(rangeEnd);
    $J('#pagingTotal').html(count);
    $J('#pagingPages').empty();

    $J.each([-3,-2,-1,0,1,2,3], function(index, offset){
        if(0 < activePage + offset && activePage + offset <= pageCount){
            addPagingPage(index, offset, pos, limit, activePage);
        }
    });
    if(count > rangeEnd){
        $J('#pagingLast').attr('href', '{DIRECTORY_INDEX}?pos='+pageCount*limit+'&cmd=printshop');
    }else{
        $J('#pagingLast').attr('href', '{DIRECTORY_INDEX}?pos=0&cmd=printshop');
    }
}

var addPagingPage = function(index, offset, pos, limit, activePage){
     var $element = offset == 0 ? $J('<b/>') : $J('<a/>'); //only bold if its the middle page in the paging, otherwise it's a link
     $element.appendTo('#pagingPages').attr('id', 'pagingPage'+index).html(activePage + offset).append('\u00A0');
     if(offset > 0){
        $element.attr('href', '{DIRECTORY_INDEX}?pos='+pos+'&cmd=printshop')
        .click(function(){
            getEntries(pos);
        });
     }
}

var updateEntries = function(data, textStatus){
    $J('#psEntriesTable tbody tr.row2,#psEntriesTable tbody tr.row1').remove();

    if(typeof data.error != 'undefined'){
        setError(data.error);
        return false;
    }
    $J('a#pagingLast').data('totalEntries', data.paging.count);
    updatePaging(data.paging.count, data.paging.pos, data.paging.limit);

    if(data.entries.length == 0){
        $J('<tr class="row2">\
    		<td colspan="10"><div align="center"><br />{TXT_PRINTSHOP_NO_ENTRY}<br /><br /></div></td>\
    	</tr>').appendTo($J('#psEntriesTable tbody')).hide().fadeIn(500);
    }

    var htmlRow = '';
    for(var row = 0; row < data.entries.length; row++){
        var rowClass = row % 2 == 0 ? 'row1' : 'row2';
        htmlRow += '<tr class="'+rowClass+'"><td class="pstype"><input type="checkbox" value="" name="selectedEntriesId[]"/> '+getTextFromValue('type', data.entries[row]['type'])+'</td>\
                    <td class="psformat">'+getTextFromValue('format', data.entries[row]['format'])+'</td>\
                    <td class="psfront">'+getTextFromValue('front', data.entries[row]['front'])+'</td>\
                    <td class="psback">'+getTextFromValue('back', data.entries[row]['back'])+'</td>\
                    <td class="psweight">'+getTextFromValue('weight', data.entries[row]['weight'])+'</td>\
                    <td class="pspaper">'+getTextFromValue('paper', data.entries[row]['paper'])+'</td>\
                    <td class="psprice">'+data.entries[row]['price']+'</td>\
                    <td class="psfactor">'+data.entries[row]['factor']+'</td>\
                    <td class="psaction" nowrap="nowrap">\
                        <div align="right">\
                            <a class="psedit" title="" target="_self" href="#">\
                                <img border="0" title="" alt="" src="images/icons/edit.gif"/>\
                            </a>\
                            <a class="psdelete" title="" target="_self" href="#">\
                                <img border="0" title="" alt="" src="images/icons/delete.gif"/>\
                            </a>\
                        </div>\
                    </td></tr>';
    }
    $J(htmlRow).appendTo($J('#psEntriesTable tbody')).hide().fadeIn(500);
}

var getEntries = function(pos){
    var params = $J('#psEntriesTable select').serialize()+'&pos='+pos
    $J.ajax({
        url: '{DIRECTORY_INDEX}?cmd=printshop&act=getProducts',
        type: 'POST',
        data: params,
        dataType: 'json',
        success: updateEntries,
        error: function(xhr, textStatus, errorThrown){submitError(xhr, textStatus, errorThrown);}
    });
}

var addRow = function(data, textStatus){
    var error = data.error;
    if(error != 'null'){
        setError(error);
        return false;
    }

    $J('#psEntriesTable tr:lt(4):contains({TXT_PRINTSHOP_NO_ENTRY})').fadeOut(500, function(){
        $J(this).remove();
        resetRowClasses();
    });

    var ok      = data.ok;
    var type    = data.type;
    var format  = data.format;
    var back    = data.back;
    var front   = data.front;
    var weight  = data.weight;
    var paper   = data.paper;
    var price   = data.price;
    var factor  = data.factor;


    setMessage(ok);

    var $rows = $J('#psEntriesTable tbody tr.row2,#psEntriesTable tbody tr.row1');
    var className = $rows.length % 2 ? 'row2' : 'row1';
    $J('<tr class="'+className+'">\
    		<td class="pstype"><input type="checkbox" name="selectedEntries[]" /> '+type+'</td>\
    		<td class="psformat">'+format+'</td>\
    		<td class="psfront">'+front+'</td>\
    		<td class="psback">'+back+'</td>\
    		<td class="psweight">'+weight+'</td>\
    		<td class="pspaper">'+paper+'</td>\
    		<td class="psprice">'+price+'</td>\
    		<td class="psfactor">'+factor+'</td>\
    		<td nowrap="nowrap" class="psaction">\
    			<div align="right">\
    				<a href="#" target="_self" title="{TXT_PRINTSHOP_EDIT}">\
    				   <img src="images/icons/edit.gif" border="0" alt="{TXT_PRINTSHOP_EDIT}" title="{TXT_PRINTSHOP_EDIT}" />\
    				</a>\
    				<a href="#" target="_self" title="{TXT_PRINTSHOP_DELETE}">\
    				   <img src="images/icons/delete.gif" border="0" alt="{TXT_PRINTSHOP_DELETE}" title="{TXT_PRINTSHOP_DELETE}" />\
    				</a>\
    			</div>\
    		</td>\
    	</tr>')
    .appendTo('#psEntriesTable').hide().fadeIn(500)
    .find('.psname').data('default', name);

    //<input size="6" type="text" name="psPrice" value="{ENTRY_PRICE}" />
}

window.psTextValues = [];
var getValueFromText = function(attribute, text){
    if(typeof psTextValues[attribute] == 'undefined'){
        psTextValues[attribute] = [];
    }

    if(typeof psTextValues[attribute][text] != 'undefined'){
        return psTextValues[attribute][text];
    }
    var attributeClass  = 'ps'+attribute;
    var attributeSelect = 'ps'+attribute.substr(0,1).toUpperCase()+attribute.substr(1);
    var value = $J.trim($J('select[name='+attributeSelect+'] option:contains('+text+')').val());
    psTextValues[attribute][text] = value;
    return value;
}

window.psValueTexts = [];
var getTextFromValue = function(attribute, value){
    if(typeof psValueTexts[attribute] == 'undefined'){
        psValueTexts[attribute] = [];
    }

    if(typeof psValueTexts[attribute][value] != 'undefined'){
        return psValueTexts[attribute][value];
    }
    var attributeClass  = 'ps'+attribute;
    var attributeSelect = 'ps'+attribute.substr(0,1).toUpperCase()+attribute.substr(1);
    var text = $J.trim($J('select[name='+attributeSelect+'] option[value='+value+']').text());
    psValueTexts[attribute][value] = text;
    return text;
}


var resetRowClasses = function(){
    var $rows = $J('#psEntriesTable tbody tr.row2,#psEntriesTable tbody tr.row1').removeClass();
    //buggy
    $J('#psEntriesTable tbody > :gt(0):nth-child(odd)').addClass('row1');
    $J('#psEntriesTable tbody > :gt(0):nth-child(even)').addClass('row2');
}

var submitError = function(xhr, textStatus, errorThrown){
    $J('#errormessagetarget').append('<div id="alertbox">AJAX['+textStatus+']: '+errorThrown+'</div>').find(':last-child')
                              .fadeIn('slow').animate({opacity: 1.0}, 3000).fadeOut(10000, function(){$J(this).remove()});
}

var setError = function(message){
    $J('#errormessagetarget').append('<div id="alertbox">\
        <span class="messageFadeout"><a href="#" target="_self" title="{TXT_PRINTSHOP_FADE_OUT}">\
		   <img src="images/icons/delete.gif" border="0" alt="{TXT_PRINTSHOP_FADE_OUT}" title="{TXT_PRINTSHOP_FADE_OUT}" />\
		</a></span>'+message+'</div>').find(':last-child')
        .fadeIn('slow').animate({opacity: 1.0}, 3000).fadeOut(10000, function(){$J(this).remove()});
}

var setMessage = function(message){
    $J('#errormessagetarget').append('<div id="okbox">\
        <span class="messageFadeout"><a href="#" target="_self" title="{TXT_PRINTSHOP_FADE_OUT}">\
		   <img src="images/icons/delete.gif" border="0" alt="{TXT_PRINTSHOP_FADE_OUT}" title="{TXT_PRINTSHOP_FADE_OUT}" />\
		</a></span>'+message+'</div>').find(':last-child')
                              .fadeIn('slow').animate({opacity: 1.0}, 3000).fadeOut(10000, function(){$J(this).remove()});
}


//end anonymous wrapper
})();


//]]>
</script>

<span class="red" id="errormessagetarget">{CONTENT_STATUS}</span>
<br />
<form name="frmShowEntries" method="post" action="">
    <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist" id="psAddTable">
	   <thead>
        <tr>
            <th colspan="9">{TXT_PRINTSHOP_ADD_PRODUCT}</th>
        </tr>
       </thead>
       <tbody>
        <tr class="row3">
            <td nowrap="nowrap" width="10%"><span style="font-weight:bold;">{TXT_PRINTSHOP_TYPE_TITLE}</span></td>
			<td nowrap="nowrap" width="13%"><span style="font-weight:bold;">{TXT_PRINTSHOP_FORMAT_TITLE}</span></td>
			<td nowrap="nowrap" width="13%"><span style="font-weight:bold;">{TXT_PRINTSHOP_FRONT_TITLE}</span></td>
			<td nowrap="nowrap" width="13%"><span style="font-weight:bold;">{TXT_PRINTSHOP_BACK_TITLE}</span></td>
			<td nowrap="nowrap" width="13%"><span style="font-weight:bold;">{TXT_PRINTSHOP_WEIGHT_TITLE}</span></td>
			<td nowrap="nowrap" width="10%"><span style="font-weight:bold;">{TXT_PRINTSHOP_PAPER_TITLE}</span></td>
  			<td nowrap="nowrap" width="10%"><span style="font-weight:bold;">{TXT_PRINTSHOP_PRICE_TITLE}</span></td>
  			<td nowrap="nowrap" width="10%"><span style="font-weight:bold;">{TXT_PRINTSHOP_FACTOR_TITLE}</span></td>
    		<td style="text-align: right;" nowrap="nowrap" width="8%"><span style="font-weight:bold;">{TXT_PRINTSHOP_SUBTITLE_ACTIONS}</span></td>
        </tr>
        <tr class="row3">
            <td nowrap="nowrap" width="10%"><span style="font-weight:bold;">{ENTRY_TYPE_DD}</span></td>
			<td nowrap="nowrap" width="13%"><span style="font-weight:bold;">{ENTRY_FORMAT_DD}</span></td>
			<td nowrap="nowrap" width="13%"><span style="font-weight:bold;">{ENTRY_FRONT_DD}</span></td>
			<td nowrap="nowrap" width="13%"><span style="font-weight:bold;">{ENTRY_BACK_DD}</span></td>
			<td nowrap="nowrap" width="13%"><span style="font-weight:bold;">{ENTRY_WEIGHT_DD}</span></td>
			<td nowrap="nowrap" width="10%"><span style="font-weight:bold;">{ENTRY_PAPER_DD}</span></td>
  			<td nowrap="nowrap" width="10%"><span style="font-weight:bold;"><input size="6" type="text" name="psPrice" /></span></td>
  			<td nowrap="nowrap" width="10%"><span style="font-weight:bold;"><input size="6" type="text" name="psFactor" /></span></td>
    		<td style="text-align: right;" nowrap="nowrap" width="8%"><span style="font-weight:bold;"><input type="button" name="psAddProduct" value="{TXT_PRINTSHOP_ADD}" /></span></td>
        </tr>
       </tbody>
	</table>
    <br />
	<table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist" id="psEntriesTable">
        <thead>
    		<tr>
    			<th colspan="9">{TXT_PRINTSHOP_PRODUCTS}</th>
    		</tr>
        </thead>
        <tbody>
    		<tr class="row3">
    			<td nowrap="nowrap" width="10%"><span style="font-weight:bold;">{TXT_PRINTSHOP_TYPE_TITLE}</span></td>
    			<td nowrap="nowrap" width="13%"><span style="font-weight:bold;">{TXT_PRINTSHOP_FORMAT_TITLE}</span></td>
    			<td nowrap="nowrap" width="13%"><span style="font-weight:bold;">{TXT_PRINTSHOP_FRONT_TITLE}</span></td>
    			<td nowrap="nowrap" width="13%"><span style="font-weight:bold;">{TXT_PRINTSHOP_BACK_TITLE}</span></td>
    			<td nowrap="nowrap" width="13%"><span style="font-weight:bold;">{TXT_PRINTSHOP_WEIGHT_TITLE}</span></td>
    			<td nowrap="nowrap" width="10%"><span style="font-weight:bold;">{TXT_PRINTSHOP_PAPER_TITLE}</span></td>
    			<td nowrap="nowrap" width="10%"><span style="font-weight:bold;">{TXT_PRINTSHOP_PRICE_TITLE}</span></td>
    			<td nowrap="nowrap" width="10%"><span style="font-weight:bold;">{TXT_PRINTSHOP_FACTOR_TITLE}</span></td>
    			<td style="text-align: right;" nowrap="nowrap" width="8%"><span style="font-weight:bold;">{TXT_PRINTSHOP_SUBTITLE_ACTIONS}</span></td>
    		</tr>
    		<tr class="row3">
    			<td nowrap="nowrap" width="10%"><span style="font-weight:bold;">{ENTRY_TYPE_FILTER_DD}</span></td>
    			<td nowrap="nowrap" width="13%"><span style="font-weight:bold;">{ENTRY_FORMAT_FILTER_DD}</span></td>
    			<td nowrap="nowrap" width="13%"><span style="font-weight:bold;">{ENTRY_FRONT_FILTER_DD}</span></td>
    			<td nowrap="nowrap" width="13%"><span style="font-weight:bold;">{ENTRY_BACK_FILTER_DD}</span></td>
    			<td nowrap="nowrap" width="13%"><span style="font-weight:bold;">{ENTRY_WEIGHT_FILTER_DD}</span></td>
    			<td nowrap="nowrap" width="10%"><span style="font-weight:bold;">{ENTRY_PAPER_FILTER_DD}</span></td>
    			<td nowrap="nowrap" width="10%"><span style="font-weight:bold;">&nbsp;</span></td>
    			<td nowrap="nowrap" width="10%"><span style="font-weight:bold;">&nbsp;</span></td>
    			<td style="text-align: right;" nowrap="nowrap" width="8%"><span style="font-weight:bold;">&nbsp;</span></td>
    		</tr>
    		<!-- BEGIN showEntry -->
    		<tr class="{ENTRY_ROWCLASS}">
    			<td class="pstype"><input type="checkbox" name="selectedEntriesId[]" value="{PRINTSHOP_ATTRIBUTE_ID}" /> {ENTRY_TYPE}</td>
    			<td class="psformat">{ENTRY_FORMAT}</td>
    			<td class="psfront">{ENTRY_FRONT}</td>
    			<td class="psback">{ENTRY_BACK}</td>
    			<td class="psweight">{ENTRY_WEIGHT}</td>
    			<td class="pspaper">{ENTRY_PAPER}</td>
    			<td class="psprice">{ENTRY_PRICE}</td><!-- <input size="6" type="text" name="psPrice" value="{ENTRY_PRICE}" /> -->
    			<td class="psfactor">{ENTRY_FACTOR}</td><!-- <input size="6" type="text" name="psPrice" value="{ENTRY_PRICE}" /> -->
    			<td nowrap="nowrap" class="psaction">
        			<div align="right">
    					<a href="#" class="psedit" target="_self" title="{TXT_PRINTSHOP_EDIT}">
    					   <img src="images/icons/edit.gif" border="0" alt="{TXT_PRINTSHOP_EDIT}" title="{TXT_PRINTSHOP_EDIT}" />
    					</a>
    					<a href="#" class="psdelete" target="_self" title="{TXT_PRINTSHOP_DELETE}">
    					   <img src="images/icons/delete.gif" border="0" alt="{TXT_PRINTSHOP_DELETE}" title="{TXT_PRINTSHOP_DELETE}" />
    					</a>
    				</div>
    			</td>
    		</tr>
    		<!-- END showEntry -->
    		<!-- BEGIN noEntry -->
    		<tr class="row2">
    			<td colspan="10"><div align="center"><br />{TXT_PRINTSHOP_NO_ENTRY}<br /><br /></div></td>
    		</tr>
		<!-- END noEntry -->
		</tbody>
	</table>




	<br />
	<table cellpadding="2" cellspacing="0" border="0">
	   <tbody>
    		<tr>
    			<td>
    				<img src="images/icons/arrow.gif" border="0" width="38" height="22" alt="{TXT_ENTRIES_MARKED}:" />
    				<a href="#" id="entriesSelectAll" title="{TXT_SELECT_ALL}">{TXT_SELECT_ALL}</a> /
    				<a href="#" id="entriesDeselectAll" title="{TXT_DESELECT_ALL}">{TXT_DESELECT_ALL}</a>
    				<img src="images/icons/strike.gif" alt="" />
    				<select id="entriesMultiAction">
    					<option value="0">{TXT_MULTISELECT_SELECT}</option>
    					<option value="delete">{TXT_MULTISELECT_DELETE}</option>
    				</select>
    			</td>
    		</tr>
		</tbody>
	</table>
</form>
<br />
<div id="pspaging" align="center">{PRINTSHOP_PAGING}</div>
<!-- END module_printshop_main -->