<!-- START module_printshop_settings.html -->
<script language="javascript" type="text/javascript">
//<![CDATA[
Style[0]=["","","","","",,"black","#ffffe1","","","",,,,1,"#000000",2,21,0.3,,2,"gray",1,,15,-5];
Text[0]=["","{TXT_PRINTSHOP_EMAIL_HELP}"];
Text[1]=["","{TXT_PRINTSHOP_PRICE_THRESHOLDS_HELP}"];
Text[2]=["","{TXT_PRINTSHOP_EMAIL_TEMPLATE_CUSTOMER_HELP}"];
Text[3]=["","{TXT_PRINTSHOP_EMAIL_TEMPLATE_VENDOR_HELP}"];
Text[4]=["","{TXT_PRINTSHOP_SENDER_EMAIL_HELP}"];
Text[5]=["","{TXT_PRINTSHOP_SENDER_EMAIL_NAME_HELP}"];
Text[6]=["","{TXT_PRINTSHOP_ORDER_STATUS_ENABLED_HELP}"];
Text[7]=["","{TXT_PRINTSHOP_MANDATORY_IMAGE_UPLOAD_ENABLED_HELP}"];
//]]>
</script>

<ul id="tabmenu">
    <li><a id="generalTab_settings1" class="active" title="{TXT_PRINTSHOP_SETTINGS_GENERAL}" onclick="selectTab('settings1')" href="javascript:{}">{TXT_PRINTSHOP_SETTINGS_GENERAL}</a></li>
    <li><a id="generalTab_settings2" title="{TXT_PRINTSHOP_SETTINGS_EMAIL}" onclick="selectTab('settings2')" href="javascript:{}">{TXT_PRINTSHOP_SETTINGS_EMAIL}</a></li>
    <li><a id="generalTab_settings3" title="{TXT_PRINTSHOP_UPLOADED_IMAGES}" onclick="selectTab('settings3')" href="javascript:{}">{TXT_PRINTSHOP_UPLOADED_IMAGES}</a></li>
</ul>

<form name="frmSettings" method="post" action="{DIRECTORY_INDEX}?cmd=printshop&amp;act=saveSettings">
  <div id="settings1" class="generalTab" style="display: block;">
  <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
    <tr>
      <th colspan="2">{TXT_PRINTSHOP_SETTINGS_GENERAL}</th>
    </tr>
    <tr class="row1">
      <td width="15%" style="vertical-align: top;">{TXT_PRINTSHOP_ENTRIES_PER_PAGE}</td>
      <td width="85%"><input type="text" name="entriesPerPage" value="{PRINTSHOP_ENTRIES_PER_PAGE}"  maxlength="50" style="width:50%;"  />&nbsp;</td>
    </tr>
    <tr class="row2">
      <td width="15%" style="vertical-align: top;">{TXT_PRINTSHOP_PRICE_THRESHOLDS}</td>
      <td width="85%"><input type="text" name="priceThresholds" value="{PRINTSHOP_PRICE_THRESHOLDS}" style="width:50%;"  />
       <img src="images/icons/note.gif" width="12" height="12" alt="info" title="" onmouseout="htm()" onmouseover="stm(Text[1],Style[0])" />
      &nbsp;</td>
    </tr>
    <tr class="row1">
      <td width="15%" style="vertical-align: top;">{TXT_PRINTSHOP_DATA_PREPARATION_PRICE}</td>
      <td width="85%"><input type="text" name="dataPreparationPrice" value="{PRINTSHOP_DATA_PREPARATION_PRICE}" style="width:50%;"  />
      &nbsp;</td>
    </tr>
    <tr class="row2">
      <td width="15%" style="vertical-align: top;">{TXT_PRINTSHOP_SHIPMENT_PRICE_MAIL}</td>
      <td width="85%"><input type="text" name="shipmentPriceMail" value="{PRINTSHOP_SHIPMENT_PRICE_MAIL}" style="width:50%;"  />
      &nbsp;</td>
    <tr class="row1">
      <td width="15%" style="vertical-align: top;">{TXT_PRINTSHOP_SHIPMENT_PRICE_MESSENGER}</td>
      <td width="85%"><input type="text" name="shipmentPriceMessenger" value="{PRINTSHOP_SHIPMENT_PRICE_MESSENGER}" style="width:50%;"  />
      &nbsp;</td>
    </tr>
    <tr class="row2">
      <td width="15%" style="vertical-align: top;">{TXT_PRINTSHOP_CURRENCY}</td>
      <td width="85%"><input type="text" name="currency" value="{PRINTSHOP_CURRENCY}" style="width:50%;"  />
      &nbsp;</td>
    </tr>
    <tr class="row1">
      <td width="15%" style="vertical-align: top;">{TXT_PRINTSHOP_ORDER_STATUS_ENABLED}</td>
      <td width="85%"><input type="checkbox" value="1" name="orderStatusEnabled" {PRINTSHOP_ORDER_STATUS_ENABLED} />
         <img src="images/icons/note.gif" width="12" height="12" alt="info" title="" onmouseout="htm()" onmouseover="stm(Text[6],Style[0])" />
      </td>
    </tr>
    <tr class="row2">
      <td width="15%" style="vertical-align: top;">{TXT_PRINTSHOP_MANDATORY_IMAGE_UPLOAD_ENABLED}</td>
      <td width="85%"><input type="checkbox" value="1" name="mandatoryImageUploadEnabled" {PRINTSHOP_MANDATORY_IMAGE_UPLOAD_ENABLED} />
         <img src="images/icons/note.gif" width="12" height="12" alt="info" title="" onmouseout="htm()" onmouseover="stm(Text[7],Style[0])" />
      </td>
    </tr>
  </table>
  <br />
  <input type="submit" value="{TXT_SAVE}" name="save_settings" />
  </div>
  <div id="settings2" class="generalTab" style="display: none;">
  <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
     <tr>
       <th colspan="2">{TXT_PRINTSHOP_SETTINGS_EMAIL}</th>
     </tr>
     <tr class="row1">
      <td width="15%" style="vertical-align: top;">{TXT_PRINTSHOP_ORDER_EMAIL}</td>
      <td width="85%"><input type="text" name="orderEmail" value="{PRINTSHOP_ORDER_EMAIL}"  maxlength="50" style="width:50%;"  />&nbsp;
        <img src="images/icons/note.gif" width="12" height="12" alt="info" title="" onmouseout="htm()" onmouseover="stm(Text[0],Style[0])" /></td>
     </tr>
     <tr class="row2">
      <td width="15%" style="vertical-align: top;">{TXT_PRINTSHOP_SENDER_EMAIL}</td>
      <td width="85%"><input type="text" name="senderEmail" value="{PRINTSHOP_SENDER_EMAIL}"  maxlength="50" style="width:50%;"  />&nbsp;
        <img src="images/icons/note.gif" width="12" height="12" alt="info" title="" onmouseout="htm()" onmouseover="stm(Text[4],Style[0])" /></td>
     </tr>
     <tr class="row1">
      <td width="15%" style="vertical-align: top;">{TXT_PRINTSHOP_SENDER_EMAIL_NAME}</td>
      <td width="85%"><input type="text" name="senderEmailName" value="{PRINTSHOP_SENDER_EMAIL_NAME}"  maxlength="50" style="width:50%;"  />&nbsp;
        <img src="images/icons/note.gif" width="12" height="12" alt="info" title="" onmouseout="htm()" onmouseover="stm(Text[5],Style[0])" /></td>
     </tr>
     <tr class="row2">
      <td width="15%" style="vertical-align: top;">{TXT_PRINTSHOP_EMAIL_SUBJECT_CUSTOMER}</td>
      <td width="85%"><input type="text" name="emailSubjectCustomer" value="{PRINTSHOP_EMAIL_SUBJECT_CUSTOMER}" style="width:50%;"  />
      &nbsp;</td>
     </tr>
     <tr class="row1">
      <td width="15%" style="vertical-align: top;">{TXT_PRINTSHOP_EMAIL_TEMPLATE_CUSTOMER}</td>
      <td width="85%">
            <textarea name="emailTemplateCustomer" style="width:50%; height: 200px;">{PRINTSHOP_EMAIL_TEMPLATE_CUSTOMER}</textarea>
       <img style="vertical-align: top;" src="images/icons/note.gif" width="12" height="12" alt="info" title="" onmouseout="htm()" onmouseover="stm(Text[2],Style[0])" />
      &nbsp;</td>
     </tr>
     <tr class="row2">
      <td width="15%" style="vertical-align: top;">{TXT_PRINTSHOP_EMAIL_SUBJECT_VENDOR}</td>
      <td width="85%"><input type="text" name="emailSubjectVendor" value="{PRINTSHOP_EMAIL_SUBJECT_VENDOR}" style="width:50%;"  />
      &nbsp;</td>
     </tr>
     <tr class="row1">
      <td width="15%" style="vertical-align: top;">{TXT_PRINTSHOP_EMAIL_TEMPLATE_VENDOR}</td>
      <td width="85%">
            <textarea name="emailTemplateVendor" style="width:50%; height: 200px;">{PRINTSHOP_EMAIL_TEMPLATE_VENDOR}</textarea>
       <img style="vertical-align: top;" src="images/icons/note.gif" width="12" height="12" alt="info" title="" onmouseout="htm()" onmouseover="stm(Text[3],Style[0])" />
      &nbsp;</td>
    </tr>
  </table>
  <br />
  <input type="submit" value="{TXT_SAVE}" name="save_settings" />
  </div>
  <div id="settings3" class="generalTab" style="display: none;">
    <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
     <tr>
       <th>{TXT_PRINTSHOP_UPLOADED_IMAGES}</th>
     </tr>
     <tr>
     <td>
      <div class="infobox_head">
      <b>{TXT_PRINTSHOP_UPLOAD_LOCATION}</b>
      </div>
      <div class="infobox_body">
      {TXT_PRINTSHOP_UPLOAD_LOCATION_HELP}
      </div>
          </td>
        </tr>
      </table>
  </div>
</form>
<!-- END module_printshop_settings.html -->
