<!-- START module_printshop_main.html -->
<script language="JavaScript" type="text/javascript">
//<![CDATA[

Style[0]=["","","","","",,"black","#ffffe1","","","",,,,1,"#000000",2,21,0.3,,2,"gray",1,,15,-5];
Text[0]=["","{TXT_PRINTSHOP_PRICE_0_HELP}"];
Text[1]=["","{TXT_PRINTSHOP_PRICE_1_HELP}"];
Text[2]=["","{TXT_PRINTSHOP_PRICE_2_HELP}"];
Text[3]=["","{TXT_PRINTSHOP_PRICE_3_HELP}"];
Text[4]=["","{TXT_PRINTSHOP_PRICE_4_HELP}"];
Text[5]=["","{TXT_PRINTSHOP_PRICE_5_HELP}"];
Text[6]=["","{TXT_PRINTSHOP_PRICE_6_HELP}"];
Text[7]=["","{TXT_PRINTSHOP_PRICE_7_HELP}"];
Text[8]=["","{TXT_PRINTSHOP_PRICE_8_HELP}"];
Text[9]=["","{TXT_PRINTSHOP_PRICE_9_HELP}"];
Text[10]=["","{TXT_PRINTSHOP_PRICE_10_HELP}"];
Text[11]=["","{TXT_PRINTSHOP_PRICE_11_HELP}"];
Text[12]=["","{TXT_PRINTSHOP_PRICE_12_HELP}"];
Text[13]=["","{TXT_PRINTSHOP_PRICE_13_HELP}"];
Text[14]=["","{TXT_PRINTSHOP_PRICE_14_HELP}"];
Text[15]=["","{TXT_PRINTSHOP_PRICE_15_HELP}"];

//start anonymous wrapper
(function(){

var pagingLimit = {PRINTSHOP_PAGING_LIMIT};

var submitForm = function(){
    return false;
}

var selectMultiAction = function() {
    var $table = $J('#psEntriesTable');
    var $multi = $J('#entriesMultiAction');
    if($J('input[type=checkbox]:checked', $table).length == 0){
        $multi.val(0);
        return false;
    }
    switch ($J('option:selected', $multi).val()) {
        case 'delete':
            if (confirm('{TXT_PRINTSHOP_DELETE_SELECTED}')) {
                deleteSelectedEntries();
            }
        break;
        default:
	}
    $multi.val(0);
}

var deleteEntry = function(){
    var $tr = $J(this).closest('tr');
    var type   = getValueFromText('type', $J.trim($tr.find('td.pstype').text()));
    var format = getValueFromText('format', $J.trim($tr.find('td.psformat').text()));
    var front  = getValueFromText('front', $J.trim($tr.find('td.psfront').text()));
    var back   = getValueFromText('back', $J.trim($tr.find('td.psback').text()));
    var weight = getValueFromText('weight', $J.trim($tr.find('td.psweight').text()));
    var paper  = getValueFromText('paper', $J.trim($tr.find('td.pspaper').text()));

    var params = $J.param({
        psType:   type,
        psFormat: format,
        psFront:  front,
        psBack:   back,
        psWeight: weight,
        psPaper:  paper,
        json:     'delete'
    });

    $J.ajax({
        url: '{DIRECTORY_INDEX}?cmd=printshop&act=delProduct',
        type: 'POST',
        data: params,
        dataType: 'json',
        success: function(data, textStatus){
                    var error = data.error;
                    if(error != 'null'){
                        setError(error);
                        return false;
                    }

                    var ok      = data.ok;
                    setMessage(ok);

                    $tr.add($tr.next()).fadeOut(500, function(){
                        $J(this).remove();
                        if($J('#psEntriesTable tr:lt(4)').length < 4){
                            $J('<tr>\
                        			<td colspan="10"><div align="center"><br />{TXT_PRINTSHOP_NO_ENTRY}<br /><br /></div></td>\
                        		</tr>').appendTo($J('#psEntriesTable'));
                        }
                        resetRowClasses();
                        $J('#pagingUpper').text(parseInt($J('#pagingUpper').text())-1);
                        $J('#pagingTotal').text(parseInt($J('#pagingTotal').text())-1);
                    });
                 },
        error: function(xhr, textStatus, errorThrown){submitError(xhr, textStatus, errorThrown);}
    });

}

var deleteSelectedEntries = function(){
    var $table = $J('#psEntriesTable');
    $J('input[type=checkbox]:checked', $table).each(function(){
        deleteEntry.apply($J(this).closest('tr').find('.psdelete').get(0));
    });
}

var copyEntry = function(){
    var price   = [];
    var $td     = [];
    var $input  = [];
    var $tr     = $J(this).closest('tr');
    var $trSub  = $tr.next();

    var type    = getValueFromText('type', $J.trim($tr.find('td.pstype').text()));
    var format  = getValueFromText('format', $J.trim($tr.find('td.psformat').text()));
    var front   = getValueFromText('front', $J.trim($tr.find('td.psfront').text()));
    var back    = getValueFromText('back', $J.trim($tr.find('td.psback').text()));
    var weight  = getValueFromText('weight', $J.trim($tr.find('td.psweight').text()));
    var paper   = getValueFromText('paper', $J.trim($tr.find('td.pspaper').text()));

    $J.each([0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15], function(i,j){
        var newPrice = $J('.psPrice_'+j, $trSub).find('span').text().replace(/(?:^\s+|(\s)\s+|\s+$)/g, '$1');
        $J('#psAddTable [name=psPrice_'+j+']').val(newPrice);
    });

    $J('#psAddTable [name=psType]').val(type);
    $J('#psAddTable [name=psFormat]').val(format);
    $J('#psAddTable [name=psFront]').val(front);
    $J('#psAddTable [name=psBack]').val(back);
    $J('#psAddTable [name=psWeight]').val(weight);
    $J('#psAddTable [name=psPaper]').val(paper);
    selectTab('addproduct');
}

var editEntry = function(){
    var $tr     = $J(this).closest('tr');
    var $trSub  = $tr.next();
    if($trSub.is(':hidden')){
        $trSub.show();
    }
    var rowClass    = $tr.is('.row1') ? 'row1' : 'row2';

    var price       = []
    var $td         = [];
    var $input      = [];
    $J.each([0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15], function(i,j){
        $td[j]          = $J('.psPrice_'+j, $trSub);
        $input[j]       = $td[j].find('input');
        price[j]        = $td[j].find('span').text().replace(/(?:^\s+|(\s)\s+|\s+$)/g, '$1');
    });

    //if no input field, then append selects, input and submit and add handlers
    if($td[0].find('input').length == 0){
         $J.each(['type', 'format', 'front', 'back', 'weight', 'paper'], function(i, attr){
            var attrCapital = attr.charAt(0).toUpperCase() + attr.slice(1);
            var attrValue = $J.trim($J('.ps'+attr, $tr).text());
            $J('.psAttr'+attrCapital, $tr).hide();
            $J('#psAddTable [name=ps'+attrCapital+']')
            .clone()
            .find('option:first-child').remove().end() //remove the first option from the cloned select, since it's only garbage in this case
            .attr('name', 'ps'+attrCapital)
            .val(getValueFromText(attr, attrValue))
            .appendTo($J('.ps'+attr, $tr)).click(function(){return false;})
        });

        $J.each([0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15], function(i,j){
            $td[j].find('span').html('<input type="text" class="priceInput" name="psPrice_'+j+'" value="'+price[j]+'" size="6" />');
            if(j == 15){
               $J('<tr class="'+rowClass+' rowSubmit">\
                    <td colspan="16" style="text-align: right">\
                        <input type="button" name="psAttributeSave" value="{TXT_PRINTSHOP_SAVE}" />\
                    </td>\
                  </tr>').insertAfter($trSub);
            }

            $J('[name=psPrice_'+j+']', $trSub).focus(function(){ //create tooltip on the fly
                createTooltip.call(this, j);
            });

            $J('[name=psPrice_'+j+']', $trSub).blur(function(e){ //remove tooltip
                $J('#psToolTip'+j).empty().remove();
            });
        });

        var $submit = $trSub.next().find('input[name=psAttributeSave]');

        $submit.one('click', function(){
            var inputPrice  = [];
            $J.each([0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15], function(i,j){
                inputPrice[j]  = $td[j].find('input').val() || 0;
            });
            if(inputPrice[0].replace(/[^\d.]/g, '') == ''){
                $J(this).one('click', arguments.callee);
                return false;
            }

            var type   = $J('[name=psType] option:selected', $tr).val();
            var format = $J('[name=psFormat] option:selected', $tr).val();
            var front  = $J('[name=psFront] option:selected', $tr).val();
            var back   = $J('[name=psBack] option:selected', $tr).val();
            var weight = $J('[name=psWeight] option:selected', $tr).val();
            var paper  = $J('[name=psPaper] option:selected', $tr).val();

            var oldtype   = getValueFromText('type', $J.trim($tr.find('td.pstype span').text()));
            var oldformat = getValueFromText('format', $J.trim($tr.find('td.psformat span').text()));
            var oldfront  = getValueFromText('front', $J.trim($tr.find('td.psfront span').text()));
            var oldback   = getValueFromText('back', $J.trim($tr.find('td.psback span').text()));
            var oldweight = getValueFromText('weight', $J.trim($tr.find('td.psweight span').text()));
            var oldpaper  = getValueFromText('paper', $J.trim($tr.find('td.pspaper span').text()));

            var params = $J.param({
                psType:      type,
                psFormat:    format,
                psFront:     front,
                psBack:      back,
                psWeight:    weight,
                psPaper:     paper,
                psOldType:   oldtype,
                psOldFormat: oldformat,
                psOldFront:  oldfront,
                psOldBack:   oldback,
                psOldWeight: oldweight,
                psOldPaper:  oldpaper,
                psPrice_0:   inputPrice[0],
                psPrice_1:   inputPrice[1],
                psPrice_2:   inputPrice[2],
                psPrice_3:   inputPrice[3],
                psPrice_4:   inputPrice[4],
                psPrice_5:   inputPrice[5],
                psPrice_6:   inputPrice[6],
                psPrice_7:   inputPrice[7],
                psPrice_8:   inputPrice[8],
                psPrice_9:   inputPrice[9],
                psPrice_10:  inputPrice[10],
                psPrice_11:  inputPrice[11],
                psPrice_12:  inputPrice[12],
                psPrice_13:  inputPrice[13],
                psPrice_14:  inputPrice[14],
                psPrice_15:  inputPrice[15],
                json:       'save'
            });

            $J.ajax({
                url: '{DIRECTORY_INDEX}?cmd=printshop&act=updateProduct',
                type: 'POST',
                data: params,
                dataType: 'json',
                success: function(data, textStatus){
                    if(data.error != 'null'){
                        setError(data.error);
                        $J(this).one('click', arguments.callee);
                        return;
                    }
                    if(data.newProductExisted){
                        setMessage('{TXT_PRINTSHOP_PRODUCT_EXISTED_UPDATED}');
                        $tr.remove();
                        resetRowClasses();
                        var currentPage = parseInt($J('#pspaging b').text());
                        getEntries((currentPage - 1) * pagingLimit);
                    }else{
                        $J.each([0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15], function(i,j){
                            $td[j].find('span').fadeOut(500, function(){
                                $td[j].data('default', data.price[j]);
                                $td[j].find('span').html(data.price[j]);
                                $td[j].find('span').fadeIn(500);
                            });
                        });

                        $J.each(['type', 'format', 'front', 'back', 'weight', 'paper'], function(i, attr){
                            var attrCapital = attr.charAt(0).toUpperCase() + attr.slice(1);
                            var attrValue = $J.trim($J('.ps'+attr, $tr).text());
                            $J('[name=ps'+attrCapital+']', $tr).fadeOut(500, function(){
                                $J(this).remove();
                                $J('.psAttr'+attrCapital, $tr).text(data[attr]).fadeIn(500);
                            });
                        });
                        $trSub.next().remove();
                        setMessage('{TXT_PRINTSHOP_PRODUCT_UPDATED}');
                    }
    //              setMessage(data.ok);
                },
                error: function(xhr, textStatus, errorThrown){submitError(xhr, textStatus, errorThrown);}
            });
            return false;
        });
    }else{ //restore default value
        $J.each([0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15], function(i,j){
            $td[j].find('span').html($td[j].data('default'));
        });

        $J.each(['type', 'format', 'front', 'back', 'weight', 'paper'], function(i, attr){
            var attrCapital = attr.charAt(0).toUpperCase() + attr.slice(1);
            $J('.psAttr'+attrCapital, $tr).show();
            $J('[name=ps'+attrCapital+']', $tr).remove();
        });

        $trSub.next().remove();
    }
}

var createTooltip = function(j){
    var $toolTipDiv = $J('<div id="psToolTip'+j+'">'+Text[j][1]+'</div>').appendTo('body');
    var pos = $J(this).position();
    $toolTipDiv.css({
        position: 'absolute',
        left: pos.left - 50,
        top: pos.top  + 20,
        border: '1px solid black',
        paddingLeft: '3px',
        marginLeft: '3px',
        paddingRight: '3px',
        marginRight: '3px',
        backgroundColor: '#ffffe1',
        zIndex: '10200'
    });
}


$J(function($){ //this way we can use $ normally, but no prototype stuff can be used inside this fn
    var $form = $('form[name=frmShowEntries]');
    $form.submit(submitForm);

    //highlight handling
    $J('.rowSub,.rowMain,.rowSubmit').live('mouseover', function(){
        var $row = $J(this);
        var rowClass = $row.is('.row1') ? '.row1' : '.row2';
        while($row.is(rowClass)){
            $row.addClass('rowHover');
            $row = $row.next();
        }
        $row = $J(this);
        while($row.is(rowClass)){
            $row.addClass('rowHover');
            $row = $row.prev();
        }
    });
    $J('.rowSub,.rowMain,.rowSubmit').live('mouseout', function(){
        var $row = $J(this);
        var rowClass = $row.is('.row1') ? '.row1' : '.row2';
        while($row.is(rowClass)){
            $row.removeClass('rowHover');
            $row = $row.next();
        }
        $row = $J(this);
        while($row.is(rowClass)){
            $row.removeClass('rowHover');
            $row = $row.prev();
        }
    });
    $J('.rowMain').live('click', function(){
        if($J(this).next().is(':hidden')){
            $J(this).next().show();
        }else{
            $J(this).next().hide();
        }
    });

    //stop checkbox click event bubble
    $J('[name=selectedEntriesId[]]').click(function(e){
        e.stopPropagation();
        return true;
    });

    //tooltip setup and input checks for threshold prices
    $J.each([0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15], function(i,j){
        if(j > 0){ //add visual aid for price thresholds data table
            $J('.psNote'+j).closest('td').css({
                    borderLeft:'1px solid #aaccee'
            });
        }

        $J('[name=psPrice_'+j+']').focus(function(){ //create tooltip on the fly
            createTooltip.call(this, j);
        });

        $J('[name=psPrice_'+j+']').blur(function(e){ //remove tooltip
            $J('#psToolTip'+j).empty().remove();
        });

        $J('.psNote'+j).live('mouseover', function(){ //create tooltip on the fly
            createTooltip.call(this, j);
        });

        $J('.psNote'+j).live('mouseout', function(e){ //remove tooltip
            $J('#psToolTip'+j).empty().remove();
        });

        $('input[name=psPrice_'+j+']').live('keyup', function(){ // only allow digits and one dot
            $(this).val($(this).val().replace(/,/g, '.').replace(/[^\d.]+/g, '')
            .split('').reverse().join('') //reverse for crude lookbehind emulation
                .replace(/\.(?=.*\.)/g, '')
            .split('').reverse().join('')); //reverse back
        });
    });

    //set default values for each entry
    $J.each([0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15], function(i,j){
        $('.psPrice_'+j).each(function(){
            $(this).data('default', $(this).text());
        });
    });

    //add copy link handler
    $('.pscopy').live('click', function(event){
        copyEntry.apply(this); //call editEntry in this context
        return false;
    });

    //add delete link handler
    $('.psdelete').live('click', function(event){
        if(confirm('{TXT_PRINTSHOP_DELETE_ENTRY}')){
            deleteEntry.apply(this); //call deleteEntry in this context
        }
        return false;
    });

    //add edit link handler
    $('.psedit').live('click', function(event){
        editEntry.apply(this); //call editEntry in this context
        return false;
    });

    $('input[name=psAddProduct]').click(function(){$
        var price = [];
        $J.each([0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15], function(i,j){
            price[j] = $('input[name=psPrice_'+j+']').val().replace(/[^\d.]/g, '');
        });

        if(price[0] == ''){ // at least one price must be present
            setError('{TXT_PRINTSHOP_FIELDS_REQUIRED}');
            return false;
        }

        var params = $('#psAddTable select,#psAddTable input').serialize();

        $.ajax({
            url: '{DIRECTORY_INDEX}?cmd=printshop&act=addProduct',
            type: 'POST',
            data: params,
            dataType: 'json',
            success: addRow,
            error: function(xhr, textStatus, errorThrown){submitError(xhr, textStatus, errorThrown);}
        });
        $('#psAddProduct input').val('');
    });

    $('#entriesSelectAll').click(function(){
        var $form = $('form[name=frmShowEntries]');
        $('input[type=checkbox]', $form).attr('checked', 'checked');
        return false;
    });

    $('#entriesDeselectAll').click(function(){
        var $form = $('form[name=frmShowEntries]');
        $('input[type=checkbox]', $form).removeAttr('checked');
        return false;
    });


    $('#entriesMultiAction').change(selectMultiAction);

    $('select,input').keydown(function(e){
        if (e.keyCode == 13) { // click button to save the new attribute when enter is hit
            $(this).closest('tr').find('input[type=button]').click();
            return false;
        }
    });

    $('a#pagingPage0,a#pagingPage1,a#pagingPage2,a#pagingPage3,a#pagingPage4,a#pagingPage5,a#pagingPage6').live('click', function(e){
        e.preventDefault();
        getEntries(($(this).text()-1) * pagingLimit);
        return false;
    });

    $('a#pagingFirst').click(function(e){
        e.preventDefault();
        getEntries(0);
        return false;
    });

    $('a#pagingLast').data('totalEntries', {PRINTSHOP_TOTAL_ENTRIES}-1)
    .click(function(e){
        e.preventDefault();
        var pos = (Math.ceil($('a#pagingLast').data('totalEntries')/pagingLimit)-1)*10;
        if(pos > $('a#pagingLast').data('totalEntries')){
            pos = $('a#pagingLast').data('totalEntries');
        }
        getEntries(pos);
        return false;
    });


    $('#psEntriesTable tr.row3').eq(1).find('select').change(function(){
        getEntries(0); // getEntries($('#pspaging b').text()-1) * pagingLimit)
    });

    if($('#psEntriesTable select').serialize().match(/\b0\b/g).length < 6){ // update entries if a filter is selected
        getEntries(0);
    }

    $('span.messageFadeout a').live('click', function(){
        $(this).closest('div').remove();
    });

//end onload
});

var updatePaging = function(count, pos, limit){
    var rangeEnd =  count > pos+limit ? pos+limit : count;
    var pageCount = Math.ceil(count/limit);
    var activePage = Math.ceil(pageCount-(count-pos)/limit);
    $J('#pagingLower').html(pos+1);
    $J('#pagingUpper').html(rangeEnd);
    $J('#pagingTotal').html(count);
    $J('#pagingPages').empty();

    $J.each([-3,-2,-1,0,1,2,3], function(index, offset){
        if(0 < activePage + offset && activePage + offset <= pageCount){
            addPagingPage(index, offset, pos, limit, activePage);
        }
    });
    if(count > rangeEnd){
        $J('#pagingLast').attr('href', '{DIRECTORY_INDEX}?pos='+pageCount*limit+'&cmd=printshop');
    }else{
        $J('#pagingLast').attr('href', '{DIRECTORY_INDEX}?pos=0&cmd=printshop');
    }
}

var addPagingPage = function(index, offset, pos, limit, activePage){
     var $element = offset == 0 ? $J('<b/>') : $J('<a/>'); //only bold if its the middle page in the paging, otherwise it's a link
     $element.appendTo('#pagingPages').attr('id', 'pagingPage'+index).html(activePage + offset).append('\u00A0');
     if(offset > 0){
        $element.attr('href', '{DIRECTORY_INDEX}?pos='+pos+'&cmd=printshop')
        .click(function(){
            getEntries(pos);
        });
     }
}

var updateEntries = function(data, textStatus){
    $J('#psEntriesTable tbody tr.row2,#psEntriesTable tbody tr.row1').remove();

    if(typeof data.error != 'undefined'){
        setError(data.error);
        return false;
    }

    $J('a#pagingLast').data('totalEntries', data.paging.count);
    updatePaging(data.paging.count, data.paging.pos, data.paging.limit);

    if(data.entries.length == 0){
        $J('<tr class="row2">\
    		<td colspan="10"><div align="center"><br />{TXT_PRINTSHOP_NO_ENTRY}<br /><br /></div></td>\
    	</tr>').appendTo($J('#psEntriesTable tbody')).hide().fadeIn(500);
    }

    var htmlRow = '';
    for(var row = 0; row < data.entries.length; row++){
        var rowClass = row % 2 == 0 ? 'row1' : 'row2';
        var price    = data.entries[row].price;
        htmlRow += '<tr class="'+rowClass+' rowMain"><td class="pstype" colspan="2"><input type="checkbox" value="" name="selectedEntriesId[]"/>\
                                                    <span class="psAttrType">'+getTextFromValue('type', data.entries[row]['type'])+'</span></td>\
                    <td class="psformat" colspan="2"><span class="psAttrFormat">'+getTextFromValue('format', data.entries[row].format)+'</span></td>\
                    <td class="psfront" colspan="2"><span class="psAttrFront">'+getTextFromValue('front', data.entries[row].front)+'</span></td>\
                    <td class="psback" colspan="2"><span class="psAttrBack">'+getTextFromValue('back', data.entries[row].back)+'</span></td>\
                    <td class="psweight" colspan="2"><span class="psAttrWeight">'+getTextFromValue('weight', data.entries[row].weight)+'</span></td>\
                    <td class="pspaper" colspan="2"><span class="psAttrPaper">'+getTextFromValue('paper', data.entries[row].paper)+'</span></td>\
                    <td colspan="2">&nbsp;</td>\
                    <td class="psaction" nowrap="nowrap" colspan="2">\
                        <div align="right">\
                            <a href="#" class="pscopy" target="_self" title="{TXT_PRINTSHOP_COPY}">\
        					   <img src="images/icons/copy.gif" border="0" alt="{TXT_PRINTSHOP_COPY}" title="{TXT_PRINTSHOP_COPY}" />\
            	       		</a>\
                            <a class="psedit" title="" target="_self" href="#">\
                                <img border="0" title="" alt="" src="images/icons/edit.gif"/>\
                            </a>\
                            <a class="psdelete" title="" target="_self" href="#">\
                                <img border="0" title="" alt="" src="images/icons/delete.gif"/>\
                            </a>\
                        </div>\
                    </td>\
                 </tr>\
                 <tr class="'+rowClass+' rowSub">\
        		    <td class="psPrice_0">\
        		        <span class="psNote0">'+price[0]+'</span>\
                    </td>\
        		    <td class="psPrice_1">\
                        <span class="psNote1">'+price[1]+'</span>\
    				</td>\
        		    <td class="psPrice_2">\
        				<span class="psNote2">'+price[2]+'</span>\
    				</td>\
        		    <td class="psPrice_3">\
    					<span class="psNote3">'+price[3]+'</span>\
    				</td>\
        		    <td class="psPrice_4">\
    					<span class="psNote4">'+price[4]+'</span>\
    				</td>\
        		    <td class="psPrice_5">\
    					<span class="psNote5">'+price[5]+'</span>\
    				</td>\
        		    <td class="psPrice_6">\
    					<span class="psNote6">'+price[6]+'</span>\
    				</td>\
        		    <td class="psPrice_7">\
    					<span class="psNote7">'+price[7]+'</span>\
    				</td>\
        		    <td class="psPrice_8">\
    					<span class="psNote8">'+price[8]+'</span>\
    				</td>\
        		    <td class="psPrice_9">\
    					<span class="psNote9">'+price[9]+'</span>\
    				</td>\
        		    <td class="psPrice_10">\
    					<span class="psNote10">'+price[10]+'</span>\
    				</td>\
        		    <td class="psPrice_11">\
    					<span class="psNote11">'+price[11]+'</span>\
    				</td>\
        		    <td class="psPrice_12">\
    					<span class="psNote12">'+price[12]+'</span>\
    				</td>\
        		    <td class="psPrice_13">\
    					<span class="psNote13">'+price[13]+'</span>\
    				</td>\
        		    <td class="psPrice_14">\
    					<span class="psNote14">'+price[14]+'</span>\
    				</td>\
        		    <td class="psPrice_15">\
    					<span class="psNote15">'+price[15]+'</span>\
    				</td>\
        		</tr>';
    }
    $J(htmlRow).appendTo('#psEntriesTable tbody');
}

var getEntries = function(pos){
    var params = $J('#psEntriesTable select').serialize()+'&pos='+pos
    $J.ajax({
        url: '{DIRECTORY_INDEX}?cmd=printshop&act=getProducts',
        type: 'POST',
        data: params,
        dataType: 'json',
        success: updateEntries,
        error: function(xhr, textStatus, errorThrown){submitError(xhr, textStatus, errorThrown);}
    });
}

var addRow = function(data, textStatus){
    var error = data.error;
    if(error != 'null'){
        setError(error);
        return false;
    }

    $J('#psEntriesTable tr:lt(4):contains({TXT_PRINTSHOP_NO_ENTRY})').fadeOut(500, function(){
        $J(this).remove();
        resetRowClasses();
    });

    var ok      = data.ok;
    var type    = data.type;
    var format  = data.format;
    var back    = data.back;
    var front   = data.front;
    var weight  = data.weight;
    var paper   = data.paper;
    var price   = data.price;

    setMessage(ok);

    var $rows = $J('#psEntriesTable tbody tr.row2.rowMain,#psEntriesTable tbody tr.row1.rowMain');
    var className = $rows.length % 2 ? 'row2' : 'row1';
    $J('<tr class="'+className+' rowMain">\
    		<td class="pstype" colspan="2"><input type="checkbox" name="selectedEntries[]" />\
    		                                  <span class="psAttrType"> '+type+'</span></td>\
    		<td class="psformat" colspan="2"><span class="psAttrFormat">'+format+'</span></td>\
    		<td class="psfront" colspan="2"><span class="psAttrFront">'+front+'</span></td>\
    		<td class="psback" colspan="2"><span class="psAttrBack">'+back+'</span></td>\
    		<td class="psweight" colspan="2"><span class="psAttrWeight">'+weight+'</span></td>\
    		<td class="pspaper" colspan="2"><span class="psAttrPaper">'+paper+'</span></td>\
    		<td colspan="2">&nbsp;</td>\
    		<td colspan="2" nowrap="nowrap" class="psaction">\
    			<div align="right">\
        			<a href="#" class="pscopy" target="_self" title="{TXT_PRINTSHOP_COPY}">\
    					   <img src="images/icons/copy.gif" border="0" alt="{TXT_PRINTSHOP_COPY}" title="{TXT_PRINTSHOP_COPY}" />\
    	       		</a>\
        			<a class="psedit" href="#" target="_self" title="{TXT_PRINTSHOP_EDIT}">\
    				   <img src="images/icons/edit.gif" border="0" alt="{TXT_PRINTSHOP_EDIT}" title="{TXT_PRINTSHOP_EDIT}" />\
    				</a>\
    				<a class="psdelete" href="#" target="_self" title="{TXT_PRINTSHOP_DELETE}">\
    				   <img src="images/icons/delete.gif" border="0" alt="{TXT_PRINTSHOP_DELETE}" title="{TXT_PRINTSHOP_DELETE}" />\
    				</a>\
    			</div>\
    		</td>\
    	</tr>\
    	<tr class="'+className+' rowSub">\
    		    <td class="psPrice_0">\
    		        <span class="psNote0">'+price[0]+'</span>\
                </td>\
    		    <td class="psPrice_1">\
                    <span class="psNote1">'+price[1]+'</span>\
				</td>\
    		    <td class="psPrice_2">\
    				<span class="psNote2">'+price[2]+'</span>\
				</td>\
    		    <td class="psPrice_3">\
					<span class="psNote3">'+price[3]+'</span>\
				</td>\
    		    <td class="psPrice_4">\
					<span class="psNote4">'+price[4]+'</span>\
				</td>\
    		    <td class="psPrice_5">\
					<span class="psNote5">'+price[5]+'</span>\
				</td>\
    		    <td class="psPrice_6">\
					<span class="psNote6">'+price[6]+'</span>\
				</td>\
    		    <td class="psPrice_7">\
					<span class="psNote7">'+price[7]+'</span>\
				</td>\
    		    <td class="psPrice_8">\
					<span class="psNote8">'+price[8]+'</span>\
				</td>\
    		    <td class="psPrice_9">\
					<span class="psNote9">'+price[9]+'</span>\
				</td>\
    		    <td class="psPrice_10">\
					<span class="psNote10">'+price[10]+'</span>\
				</td>\
    		    <td class="psPrice_11">\
					<span class="psNote11">'+price[11]+'</span>\
				</td>\
    		    <td class="psPrice_12">\
					<span class="psNote12">'+price[12]+'</span>\
				</td>\
    		    <td class="psPrice_13">\
					<span class="psNote13">'+price[13]+'</span>\
				</td>\
    		    <td class="psPrice_14">\
					<span class="psNote14">'+price[14]+'</span>\
				</td>\
    		    <td class="psPrice_15">\
					<span class="psNote15">'+price[15]+'</span>\
				</td>\
    		</tr>')
    .appendTo('#psEntriesTable tbody');
    $J.each([0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15], function(i,j){
       $J('psPrice_'+j).data('default', price[j]);
    });
    $J('#pagingUpper').text(parseInt($J('#pagingUpper').text())+1);
    $J('#pagingTotal').text(parseInt($J('#pagingTotal').text())+1);
    //<input size="6" type="text" name="psPrice" value="{ENTRY_PRICE}" />
}

window.psTextValues = [];
var getValueFromText = function(attribute, text){
    if(typeof psTextValues[attribute] == 'undefined'){
        psTextValues[attribute] = [];
    }

    if(typeof psTextValues[attribute][text] != 'undefined'){
        return psTextValues[attribute][text];
    }
    var attributeClass  = 'ps'+attribute;
    var attributeSelect = 'ps'+attribute.substr(0,1).toUpperCase()+attribute.substr(1);
    var value = $J.trim($J('select[name='+attributeSelect+'] option:contains('+text+')').val());
    psTextValues[attribute][text] = value;
    return value;
}

window.psValueTexts = [];
var getTextFromValue = function(attribute, value){
    if(typeof psValueTexts[attribute] == 'undefined'){
        psValueTexts[attribute] = [];
    }

    if(typeof psValueTexts[attribute][value] != 'undefined'){
        return psValueTexts[attribute][value];
    }
    var attributeClass  = 'ps'+attribute;
    var attributeSelect = 'ps'+attribute.substr(0,1).toUpperCase()+attribute.substr(1);
    var text = $J.trim($J('select[name='+attributeSelect+'] option[value='+value+']').text());
    psValueTexts[attribute][value] = text;
    return text;
}


var resetRowClasses = function(){
    var $rows = $J('#psEntriesTable tbody tr.row2,#psEntriesTable tbody tr.row1');
    $rows.each(function(i){
        var hidden = $J(this).is(':hidden');
        $J(this).removeClass('row1 row2');
        if(i % 4 < 2){
            $J(this).addClass('row2');
        }else{
            $J(this).addClass('row1');
        }

        if(hidden){
            $J(this).hide();
        }

    });
}

var submitError = function(xhr, textStatus, errorThrown){
    $J('#errormessagetarget').append('<div id="alertbox">AJAX['+textStatus+']: '+errorThrown+'</div>').find(':last-child')
                              .fadeIn('slow').animate({opacity: 1.0}, 3000).fadeOut(4000, function(){$J(this).remove()});
}

var setError = function(message){
    $J('#errormessagetarget').append('<div id="alertbox">\
        <span class="messageFadeout"><a href="#" target="_self" title="{TXT_PRINTSHOP_FADE_OUT}">\
		   <img src="images/icons/delete.gif" border="0" alt="{TXT_PRINTSHOP_FADE_OUT}" title="{TXT_PRINTSHOP_FADE_OUT}" />\
		</a></span>'+message+'</div>').find(':last-child')
        .fadeIn('slow').animate({opacity: 1.0}, 3000).fadeOut(4000, function(){$J(this).remove()});
}

var setMessage = function(message){
    $J('#errormessagetarget').append('<div id="okbox">\
        <span class="messageFadeout"><a href="#" target="_self" title="{TXT_PRINTSHOP_FADE_OUT}">\
		   <img src="images/icons/delete.gif" border="0" alt="{TXT_PRINTSHOP_FADE_OUT}" title="{TXT_PRINTSHOP_FADE_OUT}" />\
		</a></span>'+message+'</div>').find(':last-child')
                              .fadeIn('slow').animate({opacity: 1.0}, 3000).fadeOut(4000, function(){$J(this).remove()});
}


//end anonymous wrapper
})();


//]]>
</script>

<span class="red" id="errormessagetarget">{CONTENT_STATUS}</span>
<br />
<form name="frmShowEntries" method="post" action="{DIRECTORY_INDEX}?cmd=printshop&act=products">
    <ul id="tabmenu">
        <li><a id="generalTab_products" class="active" title="{TXT_PRINTSHOP_PRODUCTS}" onclick="selectTab('products')" href="javascript:{}">{TXT_PRINTSHOP_PRODUCTS}</a></li>
        <li><a id="generalTab_addproduct" title="{TXT_PRINTSHOP_ADD_PRODUCT}" onclick="selectTab('addproduct')" href="javascript:{}">{TXT_PRINTSHOP_ADD_PRODUCT}</a></li>
    </ul>
    <div id="products" class="generalTab" style="display: block;">
	<table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist" id="psEntriesTable">
        <thead>
    		<tr>
    			<th colspan="16">{TXT_PRINTSHOP_PRODUCTS}</th>
    		</tr>
        </thead>
        <tbody>
    		<tr class="row3">
    			<td nowrap="nowrap" width="12%" colspan="2"><span style="font-weight:bold;">{TXT_PRINTSHOP_TYPE_TITLE}</span></td>
    			<td nowrap="nowrap" width="12%" colspan="2"><span style="font-weight:bold;">{TXT_PRINTSHOP_FORMAT_TITLE}</span></td>
    			<td nowrap="nowrap" width="12%" colspan="2"><span style="font-weight:bold;">{TXT_PRINTSHOP_FRONT_TITLE}</span></td>
    			<td nowrap="nowrap" width="12%" colspan="2"><span style="font-weight:bold;">{TXT_PRINTSHOP_BACK_TITLE}</span></td>
    			<td nowrap="nowrap" width="13%" colspan="2"><span style="font-weight:bold;">{TXT_PRINTSHOP_WEIGHT_TITLE}</span></td>
    			<td nowrap="nowrap" width="13%" colspan="2"><span style="font-weight:bold;">{TXT_PRINTSHOP_PAPER_TITLE}</span></td>
    			<td nowrap="nowrap" width="13%" colspan="2"><span style="font-weight:bold;">&nbsp;</span></td>
    			<td style="text-align: right;" nowrap="nowrap" colspan="2"><span style="font-weight:bold;">{TXT_PRINTSHOP_SUBTITLE_ACTIONS}</span></td>
    		</tr>
    		<!-- TXT_PRINTSHOP_PRICE_TITLE   TXT_PRINTSHOP_FACTOR_TITLE -->
    		<tr class="row3">
    			<td nowrap="nowrap" width="12%" colspan="2"><span style="font-weight:bold;">{ENTRY_TYPE_FILTER_DD}</span></td>
    			<td nowrap="nowrap" width="12%" colspan="2"><span style="font-weight:bold;">{ENTRY_FORMAT_FILTER_DD}</span></td>
    			<td nowrap="nowrap" width="12%" colspan="2"><span style="font-weight:bold;">{ENTRY_FRONT_FILTER_DD}</span></td>
    			<td nowrap="nowrap" width="12%" colspan="2"><span style="font-weight:bold;">{ENTRY_BACK_FILTER_DD}</span></td>
    			<td nowrap="nowrap" width="13%" colspan="2"><span style="font-weight:bold;">{ENTRY_WEIGHT_FILTER_DD}</span></td>
    			<td nowrap="nowrap" width="13%" colspan="2"><span style="font-weight:bold;">{ENTRY_PAPER_FILTER_DD}</span></td>
    			<td nowrap="nowrap" width="13%" colspan="2"><span style="font-weight:bold;">&nbsp;</span></td>
    			<td style="text-align: right;" nowrap="nowrap"  colspan="2"><span style="font-weight:bold;">&nbsp;</span></td>
    		</tr>
    		<tr class="row3">
    			<td nowrap="nowrap">
    			<span class="psNote0">{PRINTSHOP_PRICE_0}</span>
                </td>
    			<td nowrap="nowrap">
    			<span class="psNote1">{PRINTSHOP_PRICE_1}</span>
    			</td>
    			<td nowrap="nowrap">
    			<span class="psNote2">{PRINTSHOP_PRICE_2}</span>
    			</td>
    			<td nowrap="nowrap">
    			<span class="psNote3">{PRINTSHOP_PRICE_3}</span>
    			</td>
    			<td nowrap="nowrap">
    			<span class="psNote4">{PRINTSHOP_PRICE_4}</span>
    			</td>
    			<td nowrap="nowrap">
    			<span class="psNote5">{PRINTSHOP_PRICE_5}</span>
    			</td>
    			<td nowrap="nowrap">
    			<span class="psNote6">{PRINTSHOP_PRICE_6}</span>
    			</td>
    			<td nowrap="nowrap">
    			<span class="psNote7">{PRINTSHOP_PRICE_7}</span>
    			</td>
    			<td nowrap="nowrap">
    			<span class="psNote8">{PRINTSHOP_PRICE_8}</span>
    			</td>
    			<td nowrap="nowrap">
    			<span class="psNote9">{PRINTSHOP_PRICE_9}</span>
    			</td>
    			<td nowrap="nowrap">
    			<span class="psNote10">{PRINTSHOP_PRICE_10}</span>
    			</td>
    			<td nowrap="nowrap">
    			<span class="psNote11">{PRINTSHOP_PRICE_11}</span>
    			</td>
    			<td nowrap="nowrap">
    			<span class="psNote12">{PRINTSHOP_PRICE_12}</span>
    			</td>
    			<td nowrap="nowrap">
    			<span class="psNote13">{PRINTSHOP_PRICE_13}</span>
    			</td>
    			<td nowrap="nowrap">
    			<span class="psNote14">{PRINTSHOP_PRICE_14}</span>
    			</td>
    			<td nowrap="nowrap">
    			<span class="psNote15">{PRINTSHOP_PRICE_15}</span>
    			</td>
            </tr>
    		<!-- BEGIN showEntry -->
    		<tr class="{ENTRY_ROWCLASS} rowMain">
    		<!--  <input {PRINTSHOP_PRICE_0_DISABLED} size="6" style="width: 35px;" type="text" name="psPrice_0" />  -->
    			<td class="pstype" colspan="2"><input type="checkbox" name="selectedEntriesId[]" value="{PRINTSHOP_ATTRIBUTE_ID}" />
    			                                 <span class="psAttrType">{ENTRY_TYPE}</span></td>
    			<td class="psformat" colspan="2"><span class="psAttrFormat">{ENTRY_FORMAT}</span></td>
    			<td class="psfront" colspan="2"><span class="psAttrFront">{ENTRY_FRONT}</span></td>
    			<td class="psback" colspan="2"><span class="psAttrBack">{ENTRY_BACK}</span></td>
    			<td class="psweight" colspan="2"><span class="psAttrWeight">{ENTRY_WEIGHT}</span></td>
    			<td class="pspaper" colspan="2"><span class="psAttrPaper">{ENTRY_PAPER}</span></td>
<!--class="psprice" -->
    			<td colspan="2">&nbsp;</td>
    			<td colspan="2" nowrap="nowrap" class="psaction">
        			<div align="right">
    					<a href="#" class="pscopy" target="_self" title="{TXT_PRINTSHOP_COPY}">
    					   <img src="images/icons/copy.gif" border="0" alt="{TXT_PRINTSHOP_COPY}" title="{TXT_PRINTSHOP_COPY}" />
    					</a>
    					<a href="#" class="psedit" target="_self" title="{TXT_PRINTSHOP_EDIT}">
    					   <img src="images/icons/edit.gif" border="0" alt="{TXT_PRINTSHOP_EDIT}" title="{TXT_PRINTSHOP_EDIT}" />
    					</a>
    					<a href="#" class="psdelete" target="_self" title="{TXT_PRINTSHOP_DELETE}">
    					   <img src="images/icons/delete.gif" border="0" alt="{TXT_PRINTSHOP_DELETE}" title="{TXT_PRINTSHOP_DELETE}" />
    					</a>
    				</div>
    			</td>
    		</tr>
    		<tr class="{ENTRY_ROWCLASS} rowSub">
    		    <td class="psPrice_0">
    		        <span class="psNote0">{ENTRY_PRICE_0}</span>
                </td>
    		    <td class="psPrice_1">
                    <span class="psNote1">{ENTRY_PRICE_1}</span>
				</td>
    		    <td class="psPrice_2">
    				<span class="psNote2">{ENTRY_PRICE_2}</span>
				</td>
    		    <td class="psPrice_3">
					<span class="psNote3">{ENTRY_PRICE_3}</span>
				</td>
    		    <td class="psPrice_4">
					<span class="psNote4">{ENTRY_PRICE_4}</span>
				</td>
    		    <td class="psPrice_5">
					<span class="psNote5">{ENTRY_PRICE_5}</span>
				</td>
    		    <td class="psPrice_6">
					<span class="psNote6">{ENTRY_PRICE_6}</span>
				</td>
    		    <td class="psPrice_7">
					<span class="psNote7">{ENTRY_PRICE_7}</span>
				</td>
    		    <td class="psPrice_8">
					<span class="psNote8">{ENTRY_PRICE_8}</span>
				</td>
    		    <td class="psPrice_9">
					<span class="psNote9">{ENTRY_PRICE_9}</span>
				</td>
    		    <td class="psPrice_10">
					<span class="psNote10">{ENTRY_PRICE_10}</span>
				</td>
    		    <td class="psPrice_11">
					<span class="psNote11">{ENTRY_PRICE_11}</span>
				</td>
    		    <td class="psPrice_12">
					<span class="psNote12">{ENTRY_PRICE_12}</span>
				</td>
    		    <td class="psPrice_13">
					<span class="psNote13">{ENTRY_PRICE_13}</span>
				</td>
    		    <td class="psPrice_14">
					<span class="psNote14">{ENTRY_PRICE_14}</span>
				</td>
    		    <td class="psPrice_15">
					<span class="psNote15">{ENTRY_PRICE_15}</span>
				</td>
    		</tr>
    		<!-- END showEntry -->
    		<!-- BEGIN noEntry -->
    		<tr class="row2">
    			<td colspan="16"><div align="center"><br />{TXT_PRINTSHOP_NO_ENTRY}<br /><br /></div></td>
    		</tr>
		<!-- END noEntry -->
		</tbody>
	</table>
	<br />
	<table cellpadding="2" cellspacing="0" border="0">
	   <tbody>
    		<tr>
    			<td>
    				<img src="images/icons/arrow.gif" border="0" width="38" height="22" alt="{TXT_ENTRIES_MARKED}:" />
    				<a href="#" id="entriesSelectAll" title="{TXT_SELECT_ALL}">{TXT_SELECT_ALL}</a> /
    				<a href="#" id="entriesDeselectAll" title="{TXT_DESELECT_ALL}">{TXT_DESELECT_ALL}</a>
    				<img src="images/icons/strike.gif" alt="" />
    				<select id="entriesMultiAction">
    					<option value="0">{TXT_MULTISELECT_SELECT}</option>
    					<option value="delete">{TXT_MULTISELECT_DELETE}</option>
    				</select>
    			</td>
    		</tr>
		</tbody>
	</table>
	<br />
	<div id="pspaging">{PRINTSHOP_PAGING}</div>
	</div>
    <div id="addproduct" class="generalTab" style="display: none;">
    <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist" id="psAddTable">
	   <thead>
        <tr>
            <th colspan="16">{TXT_PRINTSHOP_ADD_PRODUCT}</th>
        </tr>
       </thead>
       <tbody>
        <tr class="row3">
            <td nowrap="nowrap" width="12%" colspan="2"><span style="font-weight:bold;">{TXT_PRINTSHOP_TYPE_TITLE}</span></td>
			<td nowrap="nowrap" width="12%" colspan="2"><span style="font-weight:bold;">{TXT_PRINTSHOP_FORMAT_TITLE}</span></td>
			<td nowrap="nowrap" width="12%" colspan="2"><span style="font-weight:bold;">{TXT_PRINTSHOP_FRONT_TITLE}</span></td>
			<td nowrap="nowrap" width="12%" colspan="2"><span style="font-weight:bold;">{TXT_PRINTSHOP_BACK_TITLE}</span></td>
			<td nowrap="nowrap" width="13%" colspan="2"><span style="font-weight:bold;">{TXT_PRINTSHOP_WEIGHT_TITLE}</span></td>
			<td nowrap="nowrap" width="13%" colspan="2"><span style="font-weight:bold;">{TXT_PRINTSHOP_PAPER_TITLE}</span></td>
			<td nowrap="nowrap" width="13%" colspan="2">&nbsp;</td>
			<td nowrap="nowrap" colspan="2">&nbsp;</td>
        </tr>
        <tr class="row3">
            <td nowrap="nowrap" width="12%" colspan="2"><span style="font-weight:bold;">{ENTRY_TYPE_DD}</span></td>
			<td nowrap="nowrap" width="12%" colspan="2"><span style="font-weight:bold;">{ENTRY_FORMAT_DD}</span></td>
			<td nowrap="nowrap" width="12%" colspan="2"><span style="font-weight:bold;">{ENTRY_FRONT_DD}</span></td>
			<td nowrap="nowrap" width="12%" colspan="2"><span style="font-weight:bold;">{ENTRY_BACK_DD}</span></td>
			<td nowrap="nowrap" width="13%" colspan="2"><span style="font-weight:bold;">{ENTRY_WEIGHT_DD}</span></td>
			<td nowrap="nowrap" width="13%" colspan="2"><span style="font-weight:bold;">{ENTRY_PAPER_DD}</span></td>
			<td nowrap="nowrap" width="13%" colspan="2">&nbsp;</td>
			<td colspan="2" style="text-align: right;" nowrap="nowrap"><span style="font-weight:bold;"><input type="button" name="psAddProduct" value="{TXT_PRINTSHOP_ADD}" /></span></td>
        </tr>
        <tr class="row3">
			<td nowrap="nowrap">
			{PRINTSHOP_PRICE_0}
            </td>
			<td nowrap="nowrap">
			{PRINTSHOP_PRICE_1}
			</td>
			<td nowrap="nowrap">
			{PRINTSHOP_PRICE_2}
			</td>
			<td nowrap="nowrap">
			{PRINTSHOP_PRICE_3}
			</td>
			<td nowrap="nowrap">
			{PRINTSHOP_PRICE_4}
			</td>
			<td nowrap="nowrap">
			{PRINTSHOP_PRICE_5}
			</td>
			<td nowrap="nowrap">
			{PRINTSHOP_PRICE_6}
			</td>
			<td nowrap="nowrap">
			{PRINTSHOP_PRICE_7}
			</td>
			<td nowrap="nowrap">
			{PRINTSHOP_PRICE_8}
			</td>
			<td nowrap="nowrap">
			{PRINTSHOP_PRICE_9}
			</td>
			<td nowrap="nowrap">
			{PRINTSHOP_PRICE_10}
			</td>
			<td nowrap="nowrap">
			{PRINTSHOP_PRICE_11}
			</td>
			<td nowrap="nowrap">
			{PRINTSHOP_PRICE_12}
			</td>
			<td nowrap="nowrap">
			{PRINTSHOP_PRICE_13}
			</td>
			<td nowrap="nowrap">
			{PRINTSHOP_PRICE_14}
			</td>
			<td nowrap="nowrap">
			{PRINTSHOP_PRICE_15}
			</td>
        </tr>
        <tr class="row3">
            <td nowrap="nowrap">
                <input {PRINTSHOP_PRICE_0_DISABLED} size="6" style="width: 35px;" type="text" name="psPrice_0" />
    	    </td>
    	    <td nowrap="nowrap">
                <input {PRINTSHOP_PRICE_1_DISABLED} size="6" style="width: 35px;" type="text" name="psPrice_1" />
			</td>
            <td nowrap="nowrap">
                <input {PRINTSHOP_PRICE_2_DISABLED} size="6" style="width: 35px;" type="text" name="psPrice_2" />
    	    </td>
    	    <td nowrap="nowrap">
                <input {PRINTSHOP_PRICE_3_DISABLED} size="6" style="width: 35px;" type="text" name="psPrice_3" />
			</td>
            <td nowrap="nowrap">
                <input {PRINTSHOP_PRICE_4_DISABLED} size="6" style="width: 35px;" type="text" name="psPrice_4" />
    	    </td>
    	    <td nowrap="nowrap">
                <input {PRINTSHOP_PRICE_5_DISABLED} size="6" style="width: 35px;" type="text" name="psPrice_5" />
			</td>
            <td nowrap="nowrap">
                <input {PRINTSHOP_PRICE_6_DISABLED} size="6" style="width: 35px;" type="text" name="psPrice_6" />
    	    </td>
    	    <td nowrap="nowrap">
                <input {PRINTSHOP_PRICE_7_DISABLED} size="6" style="width: 35px;" type="text" name="psPrice_7" />
			</td>
            <td nowrap="nowrap">
                <input {PRINTSHOP_PRICE_8_DISABLED} size="6" style="width: 35px;" type="text" name="psPrice_8" />
    	    </td>
    	    <td nowrap="nowrap">
                <input {PRINTSHOP_PRICE_9_DISABLED} size="6" style="width: 35px;" type="text" name="psPrice_9" />
			</td>
            <td nowrap="nowrap">
                <input {PRINTSHOP_PRICE_10_DISABLED} size="6" style="width: 35px;" type="text" name="psPrice_10" />
    	    </td>
    	    <td nowrap="nowrap">
                <input {PRINTSHOP_PRICE_11_DISABLED} size="6" style="width: 35px;" type="text" name="psPrice_11" />
			</td>
            <td nowrap="nowrap">
                <input {PRINTSHOP_PRICE_12_DISABLED} size="6" style="width: 35px;" type="text" name="psPrice_12" />
    	    </td>
    	    <td nowrap="nowrap">
                <input {PRINTSHOP_PRICE_13_DISABLED} size="6" style="width: 35px;" type="text" name="psPrice_13" />
			</td>
            <td nowrap="nowrap">
                <input {PRINTSHOP_PRICE_14_DISABLED} size="6" style="width: 35px;" type="text" name="psPrice_14" />
    	    </td>
    	    <td nowrap="nowrap">
                <input {PRINTSHOP_PRICE_15_DISABLED} size="6" style="width: 35px;" type="text" name="psPrice_15" />
			</td>
        </tr>
       </tbody>
	</table>
    </div>
</form>
<br />
<!-- END module_printshop_main -->