<!-- START settings_ftp.html -->
<script type="text/javascript">
    (function($) {
        cx.ready(function() {

        /**
         * Locks the password status in reset password to prevent user input
         */
        cx.lock = function() {
            cx.jQuery("#load-lock").show();
        };
        /**
         * Unlocks the password status in reset password to allow user input
         */
        cx.unlock = function() {
            cx.jQuery("#load-lock").hide();
        };

        $('#resetPassword').click(function() {
                url = cx.variables.get('baseUrl', 'MultiSite') + cx.variables.get('cadminPath', 'contrexx') + "index.php?cmd=JsonData&object=MultiSite&act=resetFtpPassword";
                cx.bind("loadingStart", cx.lock, "resetPasswordFtp");
                cx.bind("loadingEnd", cx.unlock, "resetPasswordFtp");
                cx.trigger("loadingStart", "resetPasswordFtp", {});
                cx.tools.StatusMessage.showMessage("<div id=\"loading\">" + $('#loading').html() + "</div>");
                cx.jQuery.ajax({
                    dataType: "json",
                    url: url,
                    type: "POST",
                    success: function(response) {
                        if (response.message && response.status == 'error') {
                            cx.tools.StatusMessage.showMessage(response.message, null, 2000);
                        } else {
                            if (response.data.status == 'success') {
                                $('#password').text(response.data.password);
                                cx.tools.StatusMessage.showMessage(response.data.message, null, 2000);
                            }
                            if (response.data.status == 'error') {
                                cx.tools.StatusMessage.showMessage(response.data.message, null, 2000);
                            }
                        }
                        cx.trigger("loadingEnd", "resetPasswordFtp", {});
                    }
                });
            });

        });
    })(jQuery);
</script>
<style>
    .ui-dialog.noTitle .ui-dialog-titlebar {
        display: none;
    }
    #load-lock {
        position: absolute;
        opacity: 0.5;
        background-color: white;
        display: none;
        z-index: 500;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }
    .ui-dialog #loading {
        float: none;
        margin: 0 auto;
        width: 95px !important;
        height: 16px !important;
    }
    .ui-dialog #loading span {
        margin: 0 0 0 5px;
        line-height: 16px;
        float: left;
    }
    .ui-dialog #loading img {
        float: left;
    }
</style>
<div id ="load-lock"></div>
<form name="settings_ftp" method="post" action="index.php?cmd=Config&amp;act=Ftp">
    <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
        <tr>
            <th colspan="2">{TXT_SETTINGS_FTP}</th>
        </tr>
        <tr class="row1">
            <td width="200">{TXT_SETTINGS_FTP_SERVER}:</td>
            <td>{FTP_SERVER_NAME}</td>
        </tr>
        <tr class="row2">
            <td>{TXT_SETTINGS_FTP_USER}:</td>
            <td>{FTP_USER_NAME}</td>
        </tr>
        <tr class="row2">
            <td>{TXT_SETTINGS_FTP_PASSWORD}:</td>
            <td><span id="password">***</span>&nbsp;&nbsp;<input id="resetPassword" type="button" name="resetPassword" value="{TXT_SETTINGS_RESET_PASSWORD}"></td>
        </tr>

    </table>
</form>
<!-- END settings_ftp.html -->
