/*ul li*/
#sitemap ul, #news, .ersteUl li, .horizontal-list, #subnavbar2 li, #news li, .blogTagHitlist li, #subnavigation li, #navigation li, .blogCategoriesList, #news_archive_months_list, #news_archive_list li {
    list-style: none;
}
#fe_toolbar {
    display: none !important;
}
.wrapper header {
    border-bottom: 1px solid #ebebeb;
    float: left;
    margin-top: 39px;
    padding-bottom: 36px;
    width: 100%;
}
.navigation li a:hover, .navigation li.starter_active a {
    color: #444;
}
.navigation li.last {
    padding-right: 0;
}
.navigation {
    float: left;
    padding: 0;
    width: 100%;
    margin-bottom: 0;
}
.navigation li ul, #tinynav1 {
    display: none;
}
.navigation li {
    float: left;
    padding-left: 27px;
    list-style: none;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
}
.navigation li.last ul {
    width: 100% !important;
}
.main-nav {
    float: right;
}
.banner {
    float: left;
    width: 100%;
    padding: 44px 0 45px 0;
    border-bottom: 1px solid #ebebeb;
}
.contact.row.form-group {
    margin: 0;
    margin-bottom: 16px;
}
section, span.addir-search {
    float: left;
    width: 100%;
}
.banner-content, .subpage-content {
    width: 66.67%;
    float: left;
    padding: 0 15px;
    margin-left: -15px;
    margin-right: -15px;
    padding-bottom: 80px;
}
div#contactDescription {
    margin-bottom: 40px;
}
.entry-content {
    word-wrap: break-word;
    float: left;
}
.posttitle, .posttitle a {
    font-size: 20px;
}
.posttitle {
    margin: 0 0 3px 0;
    word-wrap: break-word;
    font-weight: 600;
}
.posttitle a, .posttitle a:visited {
    color: #444;
}
.entry-utility {
    font-size: 11px;
    margin: 0px 0px 5px 0px;
    padding: 0px 0px 0px;
    line-height: 22px;
}
.entry-utility .text-sep {
    margin: 0 5px;
}
.entry-utility div {
    display: inline-block;
    line-height: 100%;
}
.entry-utility a {
    color: #777;
}
.zero-comments {
    display: none;
}
.entry-content {
    overflow: hidden;
    margin-bottom: 26px;
    padding: 0 0 0px 0;
    word-wrap: break-word;
    width: 100%;
}
.entry-content p {
    margin-bottom: 16px;
}
.articlecontainer {
    margin-bottom: 50px;
    float: left;
    width: 100%;
}
body footer {
    float: left;
    width: 100%;
    background: #2c2c2c;
    padding-bottom: 17px;
    padding-top: 20px;
    color: #777;
}
body footer a:hover {
    color: #ddd;
}
img {
    max-width: 100%;
    height: auto;
}
.detail {
    font-size: 13px;
    font-style: italic;
}
.sf-menu li:hover ul, .sf-menu li.sfHover ul {
    background: #ffffff!important;
    color: #858585;
    border: 1px solid #ebebeb;
    border-top: 2px solid #c4c4c4;
}
.sf-menu li:hover ul, .sf-menu li.sfHover ul {
    left: -5px;
    top: 4.8em;
    z-index: 999;
    padding: 0 15px;
}
.sf-menu li li:first-child {
    border: 0px;
}
.sf-menu li li {
    text-align: left;
    line-height: 20px;
    margin: 0;
    padding: 5px 0px!important;
}
.sf-menu a, .sf-menu a:visited {
    color: #858585;
}
.sf-menu ul li a {
    font-size: 13px;
}
.main-nav li > ul {
    top: 4.8em;
    position: absolute;
    margin: 0;
    background: #fff;
}
.main-title {
    float: left;
    width: 100%;
    background-color: #fafafa;
    border-bottom: 1px solid #ebebeb;
    position: relative;
    padding-top: 21px;
    padding-bottom: 23px;
    margin-bottom: 60px;
}
.main-title h1 {
    margin-bottom: 0px;
    word-break: break-all;
}
.pagetitle {
    font-size: 22px;
    line-height: normal;
    margin: 0px;
    display: block;
}
body #contactFrame label {
    padding: 5px 0;
    margin-top: 0px;
    padding: 5px 0;
    display: inline-block;
}
#contactFrame input[type="text"] {
    margin-bottom: 3px;
    padding: 8px 5px;
    vertical-align: middle;
    width: 50%;
    font-size: 12px;
    font-family: arial;
    display: block;
    page-break-after: always;
    height: 32px;
}
#contactFrame textarea {
    width: 96.6%;
    margin-bottom: 12px;
    padding: 9px 5px;
    vertical-align: top;
    font-size: 12px;
    font-family: arial;
    display: block;
    height: 130px;
}
.subpage-content, .shop {padding-bottom: 90px;}
#contactFrame .contact.row.form-group {
    margin-bottom: 0;
    padding: 0;
}
.entry-content #contactFrame textarea {
    height: 40px;
    width: 90%;
    font-size: 11px;
    padding: 7px 5px;
    line-height: normal;
    margin-bottom: 0;
    float: left;
}
.entry-content #contactFrame input[type="text"] {
    width: 90%;
    font-size: 11px;
    padding: 7px 5px;
    margin-bottom: 0;
    height: 28px;
}
body .entry-content #contactFrame label {
    padding: 0;
}
.entry-content #contactFrame .contact.row.form-group {
    margin-bottom: 16px;
}
#news-social-media, #news-links ul {list-style: none;}
div#logo {
    float: left;
}
/**/
#subnavigation {
    float: left;
    width: 100%;
    padding: 5px 0;
    margin: 0 0 20px 0;
    background: #FFFFFF;
}
#subnavigation.no-border,
#subnavigation ul.no-border {
    border: 0;
}
#subnavigation li {
    float: left;
    padding: 0;
    background: none;
    width: 100%;
}
#subnavigation li a {
    width: 100%;
    float: left;
    padding: 10px 5px 10px 30px;
    border-bottom: 1px solid #D6D6D6;
    background-image: url('images/nav-2-inactive.png');
    background-position: 15px 15.5px;
    background-repeat: no-repeat;
    outline: 0 none;
}
#subnavigation li a.no-border {
    border: 0;
}
#sidebar #subnavigation li.level-2:last-child > ul {
    border-bottom: 0;
}
#subnavigation li.level-3 a {
    width: 100%;
    padding: 0 5px 1px 45px;
    font-size: 13px;
    border: 0;
    background-image: url('images/nav-3-inactive.png');
    background-position: 30px 7px;
    word-wrap: break-word;
}
#subnavigation li.level-4 a {
    font-size: 12px;
    background-image: url('images/nav-3-inactive.png');
    background-position: 31px 7px;
}
#subnavigation li.level-1 > a {
    display: none;
}
#subnavigation li ul {
    display: block;
    float: left;
    margin-left: 0;
}
#subnavigation li.level-1 > ul,
#subnavigation li.active > ul {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
}
#subnavigation li.active.level-2 > ul {
    float: left;
    width: 100%;
    padding: 10px 0 9px 0;
    border-bottom: 1px solid #D6D6D6;
}
#subnavigation li.active.level-3 > ul {
    float: left;
    padding: 5px 0 5px 0;
}
#subnavigation li.level-2 a.active {
    font-weight: bold;
}
#subnavigation li.level-2 a:hover,
#subnavigation li.level-2 a.active {
    background-image: url('images/nav-2-active.png');
    background-position: 15px 15px;
    text-decoration: none;
}
#subnavigation li.level-3 a:hover,
#subnavigation li.level-3 a.active,
#subnavigation li.level-4 a:hover,
#subnavigation li.level-4 a.active {
    background-image: url('images/nav-3-active.png');
    background-position: 30px 6px;
}
#gallery ul {
    list-style: none;
    margin: 0;
}
.entry-content legend {
    display: block;
}
