<!-- START dbm_sql.html -->
<!-- BEGIN performedQuery -->
<table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
	<tr>
		<th>{TXT_SQL_PERFOMED}</th>
	</tr>
	<tr class="row1">
		<td><div style="width: 100%; height: 300px; overflow: auto;">{PERFOMED_QUERY}</div></td>
	</tr>
</table>
<br />
<!-- END performedQuery -->
<form name="frmDatabaseQuery" method="post" action="?cmd=dbm&amp;act=doSql" enctype="multipart/form-data">
	<table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
		<tr>
			<th>{TXT_SQL_CODE_TITLE}</th>
		</tr>
		<tr class="row1">
			<td width="100%"><textarea name="frmDatabaseQuery_Code" cols="20" rows="20" style="width: 100%; height: 200px;"></textarea></td>
		</tr>
		<tr class="row1">
			<td>{TXT_SQL_CODE_HINT}</td>
		</tr>
	</table>
	<br />
	<table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
		<tr>
			<th colspan="2">{TXT_SQL_FILE_TITLE}</th>
		</tr>
		<tr class="row1">
			<td width="10%"><b>{TXT_SQL_FILE_ALLOWED_TYPES}:</b></td>
			<td width="90%">{FILE_TYPES}</td>
		</tr>
		<tr class="row1">
			<td><b>{TXT_SQL_FILE_ALLOWED_SIZE}:</b></td>
			<td>{FILE_SIZE} kB</td>
		</tr>
		<tr class="row1">
			<td><b>{TXT_SQL_FILE_FILE}:</b></td>
			<td><br  /><input type="file" name="frmDatabaseQuery_File" size="50" value="" /><br /><br /></td>
		</tr>
	</table>
	<br />
	<input type="submit" name="frmDatabaseQuery_Submit" value="{TXT_SQL_SUBMIT}" />
</form>
<!-- END dbm_sql.html -->