<!-- START themes_content.html -->
<script language="JavaScript" type="text/javascript">
<!-- // confirm delete page
function reloadThemesPage()
{
document.themesForm.action = 'index.php?cmd=skins';
document.themesForm.themesDelName.value='';
document.themesForm.themesDelFileName.value='';
document.themesForm.submit();
}
// -->
</script>
<form name="themesForm" action="index.php?cmd=skins"  method="post">
<table width="100%" border="0" cellspacing="0" cellpadding="3"  class="adminlist">
	<tr>
		<th width="180" nowrap>{TXT_DESIGN_FOLDER}</th>
		<th width="180" nowrap>{TXT_TEMPLATE_FILES}</th>
		<th width="100%"><b>{TXT_MANAGE_FILES}</b></th>
	</tr>
	<tr valign="top" class="row1">
		<td>
			<select name="themes" size="9" onChange="reloadThemesPage()" style="WIDTH: 180px">
			<option value="">--- {TXT_CHOOSE_TEMPLATE_GROUP} ----</option>
			{THEMES_MENU}
			</select>
		</td>
		<td>
			<select name="themesPage" size="9" onChange="reloadThemesPage()" style="WIDTH: 180px">
			<option value="">--- {TXT_SELECT_FILE} -------------------</option>
			{THEMES_PAGES_MENU}
			</select>
		</td>
		<td>
			<select name="themesDelFileName" style="WIDTH: 180px">
			<option value="" selected>--- {TXT_SELECT_FILE} ---</option>
			{THEMES_PAGE_DEL_VALUE}
			</select>
			<input type="submit" name="Submit" value="{TXT_DELETE}" style="WIDTH: 100px"/>
			<br /><br />
			<select name="themesDelName" style="WIDTH: 180px">
			<option value="" selected>--- {TXT_SELECT_THEME} ---</option>
			{THEMES_MENU_DEL}
			</select>
			<input type="submit" name="Submit" value="{TXT_DELETE}" style="WIDTH: 100px"/>
			<br /><br />
			<input type="input" name="themesNewFileName" maxlength="50" />
			<input type="submit" name="Submit" value="{TXT_CREATE_FILE}" style="WIDTH: 100px"/>
		</td>
	</tr>
</table>
</form>
<br />
<form name="themesForm2" method="post" action="index.php?cmd=skins&amp;act=update">
<table width="100%" border="0" cellspacing="0" cellpadding="3"  class="adminlist">
	<tr>
		<th>{TXT_FILE_EDITOR}</th>
	</tr>
	<tr class="row1">
		<td>
<b>{THEMES_FULL_PATH}</b><br />
<input type="hidden" name="themes" value="{THEMES_SELECTED_THEME}" />
<input type="hidden" name="themesPage" value="{THEMES_SELECTED_PAGENAME}" />
<textarea name="content" style="height: 400px; width:100%;">{CONTENT_HTML}</textarea>
		</td>
	</tr>
</table>
<br />
<input onClick="javascript:this.form.content.focus(); this.form.content.select();" type=button value='{TXT_SELECT_ALL}' />
<input type="reset" value='{TXT_RESET}' name="Reset" />
<input type="submit" value='{TXT_STORE}' name="Submit" />
</form>
<!-- END themes_content.html -->