<!-- START user_overview.html -->
<script language="javascript" type="text/javascript">
<!--
function activateUser(userId)
{
	if (confirm('{TXT_SEND_ACTIVATION_USER_EMAIL}')) {
		window.location.replace("index.php?cmd=user&act=activate&sendmail=1&userId="+userId);
	} else {
		window.location.replace("index.php?cmd=user&act=activate&userId="+userId);
	}
	
}

-->
</script>
<table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
  <tr> 
    <th colspan="9"> 
      <div align="left">{TXT_USER_LIST}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        <a href='?cmd=user&amp;useract=inactive'>{TXT_USER_LINK_INACTIVE}</a></div>
    </th>
  </tr>
  <tr class="row1"> 
    <td width="15%"><b>{TXT_USER_NAME}</b></td>
    <td width="15%"><b>{TXT_FIRST_NAME}</b></td>
    <td width="15%"><b>{TXT_LAST_NAME}</b></td>
    <td width="17%"><b>{TXT_EMAIL}</b></td>
    <td width="16%"><b>{TXT_LANGUAGE}</b></td>
    <td width="17%"><b>{TXT_ADMINISTRATOR}</b></td>
    <td colspan="2"><b>{TXT_ACTION}</b></td>
  </tr>
  <!-- BEGIN user_row -->
  <tr class="{USERS_ROWCLASS}"> 
    <td><a href="index.php?cmd=user&amp;act=edituser&amp;userId={USERS_EDIT_ID}" title="{TXT_EDIT_USER_ACCOUNT}">{USERS_USERNAME}</a></td>
    <td>{USERS_FIRSTNAME}</td>
    <td>{USERS_LASTNAME}</td>
    <td><a href="mailto:{USERS_EMAIL}">{USERS_EMAIL}</a></td>
    <td>{USERS_LANGUAGE}</td>   
    <td>{USERS_ADMIN_STATUS}</td>
    <td nowrap="nowrap"><div align="right"><a href="index.php?cmd=user&amp;act=edituser&amp;userId={USERS_EDIT_ID}" title="{TXT_EDIT_USER_ACCOUNT}"><img src="images/icons/edit.gif" border="0" alt="{TXT_EDIT_USER_ACCOUNT}" /></a></div></td>
    <td nowrap="nowrap"><div align="right">
    <!-- BEGIN user_active -->
    <a href="index.php?cmd=user&amp;act=deactivate&amp;userId={USERS_ID}" title="{TXT_DEACTIVATE_USER_ACCOUNT}"><img src="images/icons/delete.gif" border="0" alt="{TXT_DEACTIVATE_USER_ACCOUNT}" /></a>
    <!-- END user_active -->
    <!-- BEGIN user_inactive -->
    <a href="javascript:{}" onclick="activateUser({USERS_ID})" title="{TXT_ACTIVATE_USER_ACCOUNT}"><img src="images/icons/check.gif" border="0" alt="{TXT_ACTIVATE_USER_ACCOUNT}" /></a>
    <!-- END user_inactive -->    
    </div></td>
  </tr>
<!-- END user_row -->
</table>
<!-- END user_overview.html -->
<br />
{USERS_PAGING} 