


<script language="javascript">
  // <![CDATA[

    function selectLang(lang){

      ObjChecked = document.getElementById("CatLanguage_"+lang).checked;
      if(ObjChecked){
        //document.getElementById("LangTab_"+lang).style.display = 'block';
        //document.getElementById("tabNavi_"+lang).style.display = 'block';
      }

    }

    function newsGetFileBrowser(elInsertBox, sType)
    {
      newsElInsertBox = elInsertBox;
      newsElType = sType;

      if (sType == 'link') {
        newsElLinkText = prompt('', '');
        if (newsElLinkText == null) {
          return false;
        }
      }

      if (sType == 'webpages') {
        openWindow('?cmd=fileBrowser&standalone=true&type=webpages','','width=800,height=600,resizable=yes,status=no,scrollbars=yes');
      } else {
        openWindow('?cmd=fileBrowser&standalone=true','','width=800,height=600,resizable=yes,status=no,scrollbars=yes');
      }
    }

    function openWindow(theURL,winName,features){
      galleryPopup = window.open(theURL,"gallery",features);
      galleryPopup.focus();
    }

    function SetUrl(url, width, height, alt) {
      switch (newsElType) {
      case 'image':
      case 'webpages':
        document.getElementById(newsElInsertBox).value = url;
        break
      case 'link':
        if (newsElLinkText == '') {
          newsElLinkText = url;
        }
        newsInsertLink(document.getElementById(newsElInsertBox), '<a href="'+url+'">'+newsElLinkText+'</a>');
        break;
      }
    }

    /* ----------------------------------------- */


    arrTabToDiv = new Array();
    {JS_ARR}

    function switchBoxAndTab(objElement, strTabId) {

      if (countActiveLanguages() == 0) {
        //We just "unchecked" the last language, disallow this
        objElement.checked = true;
      } else {
        //There are more active languages, hide the tab
        switchTabVisibility(strTabId);
      }

      //Now make sure that a possible div is shown
      activateAnyActiveDiv();
    }

    function switchTabVisibility(strTabId) {
      if (document.getElementById(strTabId).style.display == 'none') {
        document.getElementById(strTabId).style.display = 'inline';
      } else {
        document.getElementById(strTabId).style.display = 'none';
      }
    }


    function countActiveLanguages() {
      var activeLanguages = 0;

      for (var h=0; h < document.forms.length;h++) {
        for (var i=0; i < document.forms[h].elements.length;i++) {
          //read out all form-elements with the loop
          if(document.forms[h].elements[i].name.search('frmEditEntry_Languages') != -1) {
            if(document.forms[h].elements[i].checked) {
              activeLanguages++;
            }
          }
        }
      }

      return activeLanguages;
    }

    function activateAnyActiveDiv() {
      //Deactivate every div first first
      for (var TabName in arrTabToDiv) {
        document.getElementById(TabName).className = 'inactive';
        document.getElementById(arrTabToDiv[TabName]).style.display = 'none';
      }

      //Activate the first possible div with an acitvated checkbox
      for (var TabName in arrTabToDiv) {
        if (document.getElementById(TabName).style.display == 'inline') {
          document.getElementById(TabName).className = 'active';
          document.getElementById(arrTabToDiv[TabName]).style.display = 'inline';
          break;
        }
      }
    }

    function deleteCategory(Cat){
      if(confirm('{TXT_CONFIRM_DELETE}\n{TXT_ACTION_IS_IRREVERSIBLE}')){
        document.location.href = 'index.php?cmd=downloads&act=categories&mode=delete&id='+Cat;
      }
    }

  // ]]>
</script>


<ul id="tabmenu">
  <li><a id="categories_Overview" class="active" href="javascript:{}" onclick="selectTab('Overview')" title="{TXT_MANAGE_CATEGORIES}">{TXT_MANAGE_CATEGORIES}</a></li>
  <li><a id="categories_AddCategory" class="" href="javascript:{}" onclick="selectTab('AddCategory')" title="{TXT_ADD_CATEGORY}">{TXT_ADD_CATEGORY}</a></li>
</ul>


<!-- begin categories overview -->
  <div id="Overview" class="categories" style="display: block;">
    <form name="downloadsCategories" method="post" action="index.php?cmd=downloads&act=categories">

      <table class="adminlist" align="top" border="0" cellpadding="3" cellspacing="0" width="100%">
        <tr>
          <th colspan="6">{TXT_MANAGE_CATEGORIES}</th>
        </tr>
        <tr class="row3">
          <td nowrap="nowrap" width="2%"><span style="font-weight: bold;">&nbsp;&nbsp;#</span></td>
          <td nowrap="nowrap" width="2%"><span style="font-weight: bold;">{TXT_DOWNLOADS_ORDER}</span></td>
          <td nowrap="nowrap" width="20%"><span style="font-weight: bold;">ID</span></td>
          <td nowrap="nowrap" width="75%"><span style="font-weight: bold;">Name</span></td>
          <!--<td nowrap="nowrap" width="77%"><span style="font-weight: bold;">Aktivierte Sprachen</span></td>-->
          <td nowrap="nowrap" width="1%"><div align="right"><span style="font-weight: bold;">Aktionen</span></div></td>
        </tr>

        <!-- BEGIN categoriesList -->
        <tr class="{ROWCLASS}">
          <td nowrap="nowrap" width="2%"><input type="checkbox" name="selectedCatId[]" value="{CAT_ID}" /></td>
          <td nowrap="nowrap" width="2%"><input name="categoriesSortOrder[{CAT_ID}]" size="5" maxlength="5" value="{CAT_ORDER}" type="text"></td>
          <td nowrap="nowrap" width="20%">{CAT_ID}</td>
          <td nowrap="nowrap" width="75%">{CAT_NAME}</td>
          <!--<td nowrap="nowrap" width="77%">{CAT_LANG}</td>-->
          <td nowrap="nowrap" width="1%">
          <div align="right">
            <a href="index.php?cmd=downloads&act=category&id={CAT_ID}" title="{TXT_EDIT}"><img src="images/icons/edit.gif" alt="{TXT_EDIT}" border="0" /></a>
            <a href="javascript:deleteCategory('{CAT_ID}')" title="{TXT_DELETE}"><img src="images/icons/delete.gif" alt="{TXT_DELETE}" border="0" /></a>
          </div></td>
        </tr>
        <!-- END categoriesList -->

      </table>

      <img src="images/icons/arrow.gif" border="0" width="38" height="22" title="{TXT_MARKED}:" alt="{TXT_MARKED}:" />
      <a href="javascript:{}" onclick="changeCheckboxes('downloadsCategories','selectedCatId[]',true)" title="{TXT_SELECT_ALL}">{TXT_SELECT_ALL}</a>&nbsp;/&nbsp;
      <a href="javascript:{}" onclick="changeCheckboxes('downloadsCategories','selectedCatId[]',false)" title="{TXT_REMOVE_SELECTION}">{TXT_REMOVE_SELECTION}</a>&nbsp;&nbsp;&nbsp;
      <select name="selectAction" onchange="downloadsCategoriesDoAction('downloadsCategories','selectedCatId[]',this,this.value)">
        <option value="0" selected="selected">{TXT_SELECT_ACTION}:</option>
        <option value="del">{TXT_DELETE}</option>
      </select>

    <form>
  </div>
<!-- end categories overview -->



<!-- begin categories add -->
  <div id="AddCategory" class="categories" style="display: none;">
    <form name="AddCategoryForm" action="index.php?cmd=downloads&act=categories" method="post">
    <input type="hidden" name="mode" value="insert" />
    <table class="adminlist" align="top" border="0" cellpadding="3" cellspacing="0" width="100%">
      <tr>
        <th colspan="2">{TXT_ADD_CATEGORY}</th>
      </tr>
    </table>
    <br />
    {LANG_TAB_NAVI}
    {LANG_TABS}
    <br />
    <table class="adminlist" align="top" border="0" cellpadding="3" cellspacing="0" width="100%">
      <tr class="row1">
        <td width="200">{TXT_AUTHOR}</td>
        <td><input name="category_author" style="width: 30%;" value="{VALUE_USER}" type="text" /></td>
      </tr>
      <tr class="row1">
        <td>{TXT_IMAGE}</td>
        <td><input name="category_image" id="category_image" style="width: 30%;" value="" type="text" />&nbsp;<input value="{TXT_BROWSE}" onclick="newsGetFileBrowser('category_image', 'image')" type="button" /></td>
      </tr>
      <!--
      <tr class="row1">
        <td>{TXT_DOWNLOADS_PERMISSIONS}</td>
        <td>{GROUP_SELECT}</td>
      </tr>

      <tr class="row1">
        <td>{TXT_LANGUAGES}</td>
        <td>
          <table border="0" cellpadding="3" cellspacing="0">
            <tr class="row1">{LANG_SELECT}</tr>
          </table>
        </td>
      </tr>
      -->
    </table>
    <input type="submit" value="{TXT_SAVE}" />
    </form>
  </div>
<!-- begin categories add/edit -->
