<table width="100%" class="adminlist">
    <tr>
        <th>{TXT_DOWNLOADS_DOWNLOADS}</th>
    </tr>
    <tr>
        <td>
            <form action="index.php" method="get">
                <input type="hidden" name="cmd" value="downloads" />
                <input type="hidden" name="act" value="downloads" />
                <input type="text" class="search" name="search_term" value="{DOWNLOADS_SEARCH_TERM}" onfocus="if(this.value=='{TXT_DOWNLOADS_SEARCH_DOWNLOAD}'){this.value='';}" onblur="if(this.value==''){this.value='{TXT_DOWNLOADS_SEARCH_DOWNLOAD}';}" style="width: 240px;" />
                {DOWNLOADS_CATEGORY_MENU}
                <input type="submit" value="{TXT_DOWNLOADS_SEARCH}" />
            </form>
        </td>
    </tr>
</table>