<!-- start module_downloads_categories.html -->


<script language="javascript">
// <![CDATA[


function downloadsDeleteCategory(id,name,hasSubcategories)
{
    strMsg = '{DOWNLOADS_CONFIRM_DELETE_CATEGORY_TXT}';
    if (confirm(strMsg.replace('%s', name)+'\n{TXT_DOWNLOADS_OPERATION_IRREVERSIBLE}')) {
        subcategories = hasSubcategories && confirm('{TXT_DOWNLOADS_DELETE_SUBCATEGORIES}');
        window.location.href = "index.php?cmd=downloads&act=delete_category&parent_id={DOWNLOADS_CATEGORY_ID}&id="+id+"&subcategories="+subcategories;
    }
}

function downloadsCategoryDoAction(action)
{
    if (action == 'order' || checkboxIsChecked('downloads_category_form', 'downloads_category_id[]')) {
        if (action == 'order' || confirm('{DOWNLOADS_CONFIRM_DELETE_CATEGORIES_TXT}\n{TXT_DOWNLOADS_OPERATION_IRREVERSIBLE}')) {
            if (action == 'delete' && confirm('{TXT_DOWNLOADS_DELETE_SUBCATEGORIES_MULTI}')) {
                document.getElementById('downloads_category_delete_recursive').value = '1';
            }
            document.getElementById('downloads_category_form').submit(); return true;
        }
    }
    document.getElementById('downloads_category_select_action').value=0;
}
	
	
		function selectLang(lang){
			
			ObjChecked = document.getElementById("CatLanguage_"+lang).checked;
			if(ObjChecked){
				//document.getElementById("LangTab_"+lang).style.display = 'block';
				//document.getElementById("tabNavi_"+lang).style.display = 'block';
			}
			
		}
		
		function newsGetFileBrowser(elInsertBox, sType)
		{
			newsElInsertBox = elInsertBox;
			newsElType = sType;
		
			if (sType == 'link') {
				newsElLinkText = prompt('', '');
				if (newsElLinkText == null) {
					return false;
				}
			}
		
			if (sType == 'webpages') {
				openWindow('?cmd=fileBrowser&standalone=true&type=webpages','','width=800,height=600,resizable=yes,status=no,scrollbars=yes');
			} else {
				openWindow('?cmd=fileBrowser&standalone=true','','width=800,height=600,resizable=yes,status=no,scrollbars=yes');
			}
		}
		
		function openWindow(theURL,winName,features){
			galleryPopup = window.open(theURL,"gallery",features);
			galleryPopup.focus();
		}
		
		function SetUrl(url, width, height, alt) {
			switch (newsElType) {
			case 'image':
			case 'webpages':
				document.getElementById(newsElInsertBox).value = url;
				break
			case 'link':
				if (newsElLinkText == '') {
					newsElLinkText = url;
				}
				newsInsertLink(document.getElementById(newsElInsertBox), '<a href="'+url+'">'+newsElLinkText+'</a>');
				break;
			}
		}
		
		/* ----------------------------------------- */
		
		
		arrTabToDiv = new Array();
		{JS_ARR}
		
		function switchBoxAndTab(objElement, strTabId) {
	
			if (countActiveLanguages() == 0) {
				//We just "unchecked" the last language, disallow this
				objElement.checked = true;	
			} else {
				//There are more active languages, hide the tab
				switchTabVisibility(strTabId);
			}
			
			//Now make sure that a possible div is shown
			activateAnyActiveDiv();
		}
		
		function switchTabVisibility(strTabId) {
			if (document.getElementById(strTabId).style.display == 'none') {
				document.getElementById(strTabId).style.display = 'inline';
			} else {
				document.getElementById(strTabId).style.display = 'none';
			}
		}
		
		
		function countActiveLanguages() {
			var activeLanguages = 0;
			
			for (var h=0; h < document.forms.length;h++) {
				for (var i=0; i < document.forms[h].elements.length;i++) {
					//read out all form-elements with the loop
					if(document.forms[h].elements[i].name.search('frmEditEntry_Languages') != -1) {
						if(document.forms[h].elements[i].checked) {
							activeLanguages++;
						}
					}
				}
			}	
			
			return activeLanguages;
		}
		
		function activateAnyActiveDiv() {
			//Deactivate every div first first
			for (var TabName in arrTabToDiv) {
				document.getElementById(TabName).className = 'inactive';
				document.getElementById(arrTabToDiv[TabName]).style.display = 'none';
			}
			
			//Activate the first possible div with an acitvated checkbox
			for (var TabName in arrTabToDiv) {
				if (document.getElementById(TabName).style.display == 'inline') {
					document.getElementById(TabName).className = 'active';
					document.getElementById(arrTabToDiv[TabName]).style.display = 'inline';
					break;
				}
			}	
		}
		
		function deleteCategory(Cat){
			if(confirm('{TXT_CONFIRM_DELETE}\n{TXT_ACTION_IS_IRREVERSIBLE}')){
				document.location.href = 'index.php?cmd=downloads&act=categories&mode=delete&id='+Cat;
			}
		}
	
	// ]]>
</script>


<ul id="tabmenu">
    <li><a id="categories_Overview" class="active" href="javascript:void(0)" title="{TXT_MANAGE_CATEGORIES}">{TXT_MANAGE_CATEGORIES}</a></li>
    <!-- BEGIN downloads_category_add_buttom --><li><a id="categories_AddCategory" href="index.php?cmd=downloads&amp;act=category&parent_id={DOWNLOADS_CATEGORY_ID}" title="{TXT_ADD_CATEGORY}">{TXT_ADD_CATEGORY}</a></li><!-- END downloads_category_add_buttom -->
</ul>


<form name="downloads_category_form" id="downloads_category_form" action="index.php?cmd=downloads&amp;act=categories" method="post">
<input type="hidden" name="parent_id" value="{DOWNLOADS_CATEGORY_ID}" />
<input type="hidden" name="downloads_category_delete_recursive" id="downloads_category_delete_recursive" value="0" />
<table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
    <tr>
        <th colspan="{DOWNLOADS_CATEGORY_COLSPAN}" style="padding:3px;">{DOWNLOADS_CATEGORY_MENU}</th>
    </tr> 
    <tr class="row3" style="font-weight: bold;">
        <!-- BEGIN downloads_category_select_label -->
        <td width="1%" style="text-align: center;">#</td>
        <!-- END downloads_category_select_label -->
        <td width="1%" style="text-align: center;">{TXT_DOWNLOADS_ID}</td>
        <td width="1%" style="text-align: center;">{TXT_DOWNLOADS_STATUS}</td>
        <!-- BEGIN downloads_category_order_label -->
        <td width="1%" style="text-align: center;">{TXT_DOWNLOADS_ORDER}</td>
        <!-- END downloads_category_order_label -->
        <td width="15%">{TXT_DOWNLOADS_NAME}</td>
        <td width="65%">{TXT_DOWNLOADS_DESCRIPTION}</td>
        <td width="15%">{TXT_DOWNLOADS_AUTHOR}</td>
        <td width="1%">{TXT_DOWNLOADS_FUNCTIONS}</td>
    </tr>
<!-- BEGIN downloads_category_list -->
    <tr class="{DOWNLOADS_CATEGORY_ROW_CLASS}">
        <!-- BEGIN downloads_category_checkbox -->
        <td style="text-align: center;">
            <input type="checkbox" name="downloads_category_id[]" value="{DOWNLOADS_CATEGORY_ID}" />
        </td>
        <!-- END downloads_category_checkbox -->
        <td nowrap="nowrap" style="text-align: center;">{DOWNLOADS_CATEGORY_ID}</td>
        <td style="text-align: center;">
          <!-- BEGIN downloads_category_status_link_open -->
            <a href="index.php?cmd=downloads&amp;act=switch_category_status&amp;parent_id={DOWNLOADS_CATEGORY_PARENT_ID}&amp;id={DOWNLOADS_CATEGORY_ID}" title="{DOWNLOADS_CATEGORY_SWITCH_STATUS_DESC}">
          <!-- END downloads_category_status_link_open -->
                <img src="images/icons/{DOWNLOADS_CATEGORY_STATUS_LED}" alt="{DOWNLOADS_CATEGORY_SWITCH_STATUS_IMG_DESC}" border="0" width="13" height="13" />
          <!-- BEGIN downloads_category_status_link_close -->
            </a>
          <!-- END downloads_category_status_link_close -->
        </td>
        <!-- BEGIN downloads_category_orderbox -->
        <td style="text-align: center;">
            <input name="downloads_category_order[{DOWNLOADS_CATEGORY_ID}]" size="5" maxlength="5" value="{DOWNLOADS_CATEGORY_ORDER}" type="text" />
        </td>
        <!-- END downloads_category_orderbox -->
        <td nowrap="nowrap">
            <img src="images/icons/folder_on.gif" width="15" height="13" />
          <!-- BEGIN downloads_category_name_link_open -->
            <a href="index.php?cmd=downloads&amp;act=categories&amp;parent_id={DOWNLOADS_CATEGORY_ID}" title="{DOWNLOADS_OPEN_CATEGORY_DESC}">
          <!-- END downloads_category_name_link_open -->
            {DOWNLOADS_CATEGORY_NAME}
          <!-- BEGIN downloads_category_name_link_close -->
            </a>
          <!-- END downloads_category_name_link_close -->
        </td>
		<td nowrap="nowrap">{DOWNLOADS_CATEGORY_DESCRIPTION}</td>
		<td nowrap="nowrap">{DOWNLOADS_CATEGORY_AUTHOR}</td>
		<td nowrap="nowrap" style="text-align: right;">
            <!-- BEGIN downloads_category_function_modify_link -->
		    <a href="index.php?cmd=downloads&amp;act=category&amp;parent_id={DOWNLOADS_CATEGORY_PARENT_ID}&amp;id={DOWNLOADS_CATEGORY_ID}" title="{TXT_DOWNLOADS_EDIT}"><img src="images/icons/edit.gif" alt="{TXT_DOWNLOADS_EDIT}" width="16" height="16" border="0" /></a>
            <!-- END downloads_category_function_modify_link -->
            <!-- BEGIN downloads_category_function_no_modify_link -->
            <img src="images/icons/pixel.gif" alt="{TXT_DOWNLOADS_EDIT}" width="16" height="16" border="0" />
            <!-- END downloads_category_function_no_modify_link -->
            <!-- BEGIN downloads_category_function_delete_link -->
		    <a href="javascript:void(0);" onclick="downloadsDeleteCategory({DOWNLOADS_CATEGORY_ID},'{DOWNLOADS_CATEGORY_NAME_JS}',{DOWNLOADS_CATEGORY_HAS_SUBCATEGORIES})" title="{TXT_DOWNLOADS_DELETE}"><img src="images/icons/delete.gif" alt="{TXT_DOWNLOADS_DELETE}" width="17" height="17" border="0" /></a>
            <!-- END downloads_category_function_delete_link -->
            <!-- BEGIN downloads_category_function_no_delete_link -->
            <img src="images/icons/pixel.gif" alt="f" width="16" height="16" border="0" />
            <!-- END downloads_category_function_no_delete_link -->
		</td>
    </tr>
<!-- END downloads_category_list -->
</table>
<!-- BEGIN downloads_category_action_dropdown -->
<img src="images/icons/arrow.gif" width="38" height="22" style="margin-left:5px;" alt="arrow" />
<a href="javascript:void(0);" onclick="changeCheckboxes('downloads_category_form','downloads_category_id[]',true); return false;" title="{TXT_DOWNLOADS_CHECK_ALL}">{TXT_DOWNLOADS_CHECK_ALL}</a> /
<a href="javascript:void(0);" onclick="changeCheckboxes('downloads_category_form','downloads_category_id[]',false); return false;" title="{TXT_DOWNLOADS_UNCHECK_ALL}">{TXT_DOWNLOADS_UNCHECK_ALL}</a>
<img src="images/icons/strike.gif" width="34" height="22" alt="design" />
<select name="downloads_category_select_action" id="downloads_category_select_action" onchange="downloadsCategoryDoAction(this.value)">
    <option value="0" selected="selected">{TXT_DOWNLOADS_SELECT_ACTION}</option>
    <option value="order">{TXT_DOWNLOADS_ORDER}</option>
    <option value="delete">{TXT_DOWNLOADS_DELETE}</option>
</select>
<!-- END downloads_category_action_dropdown -->
<br />
<br />
<table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
    <tr class="row3">
        <td colspan="{DOWNLOADS_CATEGORY_COLSPAN}">Files</td>
    </tr>
    <tr>
        <td colspan="{DOWNLOADS_CATEGORY_COLSPAN}">Hier werden dann jeweils die Dateien der ausgewählten Kategorie angezeigt.</td>
    </tr>
<!-- BEGIN downloads_file_list -->
    <tr class="{DOWNLOADS_FILE_ROW_CLASS}">
        <td>
            <!-- BEGIN downloads_file_checkbox -->
            <input type="checkbox" name="downloads_file_id[]" value="{DOWNLOADS_FILE_ID}" />
            <!-- END downloads_file_checkbox -->
        </td>
        <td>
            <!-- BEGIN downloads_file_orderbox -->
            <input name="downloads_file_order[{DOWNLOADS_FILE_ID}]" size="5" maxlength="5" value="{DOWNLOADS_FILE_ORDER}" type="text" />
            <!-- END downloads_file_orderbox -->
        </td>
        <td>
          <!-- BEGIN downloads_file_status_link_open -->
            <a href="javascript:void(0);" onclick="downloadsChangeFileStatus({DOWNLOADS_FILE_ID},{DOwNLOADS_FILE_STATUS_JS},'{DOWNLOADS_FILE_NAME_JS}')" title="{DOWNLOADS_SWITCH_STATUS_DESC}">
          <!-- END downloads_file_status_link_open -->
                <img src=images/icons/{DOWNLOADS_FILE_STATUS_LED}" alt="{DOWNLOADS_SWITCH_STATUS_DESC}" width="13" height="13" />
          <!-- BEGIN downloads_file_status_link_end -->
            </a>
          <!-- END downloads_file_status_link_end -->
        <td nowrap="nowrap">{DOWNLOADS_FILE_ID}</td>
        <td nowrap="nowrap">
          <!-- BEGIN downloads_file_name_link_open -->
            <a href="index.php?cmd=download&amp;act=file&amp;id={DOWNLOADS_FILE_ID}" title="{DOWNLOADS_OPEN_FILE_DESC}">
          <!-- end downloads_file_name_link_open -->
            {DOWNLOADS_FILE_NAME}
          <!-- BEGIN downloads_file_name_link_close -->
            </a>
          <!-- END downloads_file_name_link_close -->
        </td>
        <td nowrap="nowrap">{DOWNLOADS_FILE_DESCRIPTION}</td>
        <td nowrap="nowrap">{DOWNLOADS_FILE_AUTHOR}</td>
        <td nowrap="nowrap" style="text-align: right;">
            <!-- BEGIN downloads_file_function_list -->
            <a href="index.php?cmd=downloads&act=file&id={DOWNLOADS_FILE_ID}" title="{TXT_DOWNLOADS_EDIT}"><img src="images/icons/edit.gif" alt="{TXT_DOWNLOADS_EDIT}" width="16" height="16" border="0" /></a>
            <a href="javascript:void(0);" onclick="downloadsDeleteFile({DOWNLOADS_FILE_ID},'{DOWNLOADS_FILE_NAME_JS}')" title="{TXT_DOWNLOADS_DELETE}"><img src="images/icons/delete.gif" alt="{TXT_DOWNLOADS_DELETE}" width="17" height="17" border="0" /></a>
            <!-- END downloads_file_function_list -->
        </td>
    </tr>
<!-- END downloads_file_list -->
</table>
<form>
<!-- end module_downloads_categories.html -->