<!-- start module_downloads_settings_mail_modify.html -->
<form action="index.php?cmd=downloads&amp;act=settings&amp;tpl={DOWNLOADS_MAIL_ACTION}&amp;type={DOWNLOADS_MAIL_TYPE}" id="downloads_mail_form" method="post">
<table border="0" cellpadding="3" cellspacing="0" width="100%" class="adminlist">
  <thead>
    <tr>
      <th colspan="2">{TXT_DOWNLOADS_MODIFY_EMAIL}</th>
    </tr>
  </thead>
  <tbody style="vertical-align:top;">
    <tr class="row1">
      <td width="15%">{TXT_DOWNLOADS_TYPE}</td>
      <td width="85%">{DOWNLOADS_MAIL_TYPE_TXT}</td>
    </tr>
    <tr class="row2">
      <td>{TXT_DOWNLOADS_LANGUAGE}</td>
      <td>{DOWNLOADS_MAIL_LANGUAGE}</td>
    </tr>
    <tr class="row1">
      <td>{TXT_DOWNLOADS_MAIL_SUBJECT}</td>
      <td><input type="text" name="downloads_mail_subject" value="{DOWNLOADS_MAIL_SUBJECT}" style="width:400px;" /></td>
    </tr>
    <tr class="row2">
      <td>{TXT_DOWNLOADS_SEND_AS}</td>
      <td>{DOWNLOADS_MAIL_FORMAT}</td>
    </tr>
    <tr class="row1">
      <td>{TXT_DOWNLOADS_SENDER_ADDRESS}</td>
      <td><input type="text" name="downloads_mail_sender_address" value="{DOWNLOADS_MAIL_SENDER_ADDRESS}" style="width:400px;" /></td>
    </tr>
    <tr class="row2">
      <td>{TXT_DOWNLOADS_SENDER_NAME}</td>
      <td><input type="text" name="downloads_mail_sender_name" value="{DOWNLOADS_MAIL_SENDER_NAME}" style="width:400px;" /></td>
    </tr>
  </tbody>
</table>
<br />
<ul id="tabmenu">
<!-- BEGIN downloads_mail_html_body --><li><a id="downloadsTab_htmlBody" class="{DOWNLOADS_MAIL_HTML_BODY_CLASS}" href="javascript:{}" onclick="selectTab('htmlBody')" title="{TXT_DOWNLOADS_HTML_UC}">{TXT_DOWNLOADS_HTML_UC}</a></li><!-- END downloads_mail_html_body -->
<!-- BEGIN downloads_mail_text_body --><li><a id="downloadsTab_textBody" class="{DOWNLOADS_MAIL_TEXT_BODY_CLASS}" href="javascript:{}" onclick="selectTab('textBody')" title="{TXT_DOWNLOADS_TEXT}">{TXT_DOWNLOADS_TEXT}</a></li><!-- END downloads_mail_text_body -->
<li><a id="downloadsTab_placeholders" href="javascript:{}" onclick="selectTab('placeholders')" title="{TXT_DOWNLOADS_PLACEHOLDER_DIRECTORY}">{TXT_DOWNLOADS_PLACEHOLDER_DIRECTORY}</a></li>
</ul>
<div id="htmlBody" class="downloadsTab" style="display:{DOWNLOADS_MAIL_HTML_BODY_STAUTS};">
<table width="100%" border="0" cellpadding="3" cellspacing="0" class="adminlist" style="height:485px;">
  <tr>
    <th>{TXT_DOWNLOADS_HTML_BODY}</th>
  </tr>
  <tr class="row1" >
    <td style="vertical-align:top;">{DOWNLOADS_MAIL_BODY_HTML}</td>
  </tr>
</table>
</div>
<div id="textBody" class="downloadsTab" style="display:{DOWNLOADS_MAIL_TEXT_BODY_STAUTS};">
<table width="100%" border="0" cellpadding="3" cellspacing="0" class="adminlist" style="height:485px;">
  <tr>
    <th>{TXT_DOWNLOADS_TEXT_BODY}</th>
  </tr>
  <tr class="row1">
    <td style="vertical-align:top;"><textarea name="downloads_mail_body_text" cols="50" rows="20" style="width:100%; height:447px;">{DOWNLOADS_MAIL_BODY_TEXT}</textarea></td>
  </tr>
</table>
</div>
<div id="placeholders" class="downloadsTab" style="display:none;">
<table width="100%" border="0" cellpadding="3" cellspacing="0" class="adminlist">
  <thead>
    <tr>
      <th colspan="2">{TXT_DOWNLOADS_PLACEHOLDER_DIRECTORY}</th>
    </tr>
  </thead>
  <tbody style="vertical-align:top;white-space:nowrap;">
  <!-- BEGIN downloads_placeholder_list -->
    <!-- BEGIN downloads_placeholder_header -->
    <tr class="row3" style="font-weight:bold;">
      <td colspan="2">{DOWNLOADS_PLACEHOLDER_HEADER}</td>
    </tr>
    <!-- END downloads_placeholder_header -->
    <!-- BEGIN downloads_placeholder_entry -->
    <tr class="row{DOWNLOADS_CLASS_ROW_NR}">
      <td width="15%">{DOWNLOADS_PLACEHOLDER_TXT}</td>
      <td width="85%">{DOWNLOADS_PLACEHOLDER}</td>
    </tr>
    <!-- END downloads_placeholder_entry -->
    <!-- BEGIN downloads_placeholder_spacer -->
    <tr>
      <td colspan="2" style="border-bottom:0px;">&nbsp;</td>
    </tr>
    <!-- END downloads_placeholder_spacer -->
  <!-- END downloads_placeholder_list -->
  </tbody>
</table>
</div>
<br />
<input type="button" value="{TXT_DOWNLOADS_CANCEL}" onclick="document.location.href='index.php?cmd=downloads&{CSRF_PARAM}&amp;act=settings&amp;tpl=emails'" />
<input type="submit" name="downloads_save_mail" value="{TXT_DOWNLOADS_SAVE}" />
</form>
<!-- end module_downloads_settins_mail_modify.html -->
