<!-- start module_downloads_settings.html -->
<div id="subnavbar_level2">
  <ul>
    <li><a href="index.php?cmd=downloads&amp;act=settings" title="{TXT_DOWNLOADS_GENERAL}">{TXT_DOWNLOADS_GENERAL}</a></li>
    <li><a href="index.php?cmd=downloads&amp;act=settings&amp;tpl=interfaces" title="{TXT_DOWNLOADS_INTERFACES}">{TXT_DOWNLOADS_INTERFACES}</a></li>
    <li><a href="index.php?cmd=downloads&amp;act=settings&amp;tpl=emails" title="{TXT_DOWNLOADS_EMAILS}">{TXT_DOWNLOADS_EMAILS}</a></li>
  </ul>
</div>
<br />
{DOWNLOADS_SETTINGS_TEMPLATE}
<!-- end module_downloads_settings.html -->
