<!-- start module_downloads_settings_general.html -->
<form name="downloads_settings_form" id="downloads_settings_form" action="index.php?cmd=downloads&amp;act=settings" method="post" onsubmit="downloadsSelectAll(); return true;">
    <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist" summary="downloads settings">
        <tbody style="vertical-align:top;">
            <tr>
                <th colspan="2">{TXT_DOWNLOADS_GENERAL}</th>
            </tr>
            <tr class="row3">
                <td colspan="2" style="font-weight:bold;">{TXT_DOWNLOADS_OVERVIEW_PAGE}</td>
            </tr>
            <tr class="row1">
                <td width="50%">
                    <strong>{TXT_DOWNLOADS_COL_COUNT}</strong><br />
                {TXT_DOWNLOADS_COL_COUNT_DESC}
                </td>
                <td width="50%"><input type="text" name="downloads_settings_col_count" value="{DOWNLOADS_SETTINGS_COL_COUNT}" /></td>
            </tr>
            <tr class="row2">
                <td style="padding-bottom: 10px;">
                    <strong>{TXT_DOWNLOADS_SUBCAT_COUNT}</strong><br />
                    {TXT_DOWNLOADS_SUBCAT_COUNT_DESC}
                </td>
                <td style="padding-bottom: 10px;"><input type="text" name="downloads_settings_subcat_count" value="{DOWNLOADS_SETTINGS_SUBCAT_COUNT}" /></td>
            </tr>
            <tr class="row3">
                <td colspan="2" style="font-weight:bold;">{TXT_DOWNLOADS_BLOCKS}</td>
            </tr>
            <tr class="row1">
                <td>
                    <strong>{TXT_DOWNLOADS_MOST_VIEWED_FILE_COUNT}</strong><br />
                    {TXT_DOWNLOADS_MOST_VIEWED_FILE_COUNT_DESC}
                </td>
                <td><input type="text" name="downloads_settings_most_viewed_file_count" value="{DOWNLOADS_SETTINGS_MOST_VIEWED_FILE_COUNT}" /></td>
            </tr>
            <tr class="row2">
                <td>
                    <strong>{TXT_DOWNLOADS_MOST_DOWNLOADED_FILE_COUNT}</strong><br />
                    {TXT_DOWNLOADS_MOST_DOWNLOADED_FILE_COUNT_DESC}
                </td>
                <td><input type="text" name="downloads_settings_most_downloaded_file_count" value="{DOWNLOADS_SETTINGS_MOST_DOWNLOADED_FILE_COUNT}" /></td>
            </tr>
            <tr class="row1">
                <td>
                    <strong>{TXT_DOWNLOADS_MOST_POPULAR_FILE_COUNT}</strong><br />
                    {TXT_DOWNLOADS_MOST_POPULAR_FILE_COUNT_DESC}
                </td>
                <td><input type="text" name="downloads_settings_most_popular_file_count" value="{DOWNLOADS_SETTINGS_MOST_POPULAR_FILE_COUNT}" /></td>
            </tr>
            <tr class="row2">
                <td>
                    <strong>{TXT_DOWNLOADS_NEWEST_FILE_COUNT}</strong><br />
                    {TXT_DOWNLOADS_NEWEST_FILE_COUNT_DESC}
                </td>
                <td><input type="text" name="downloads_settings_newest_file_count" value="{DOWNLOADS_SETTINGS_NEWEST_FILE_COUNT}" /></td>
            </tr>
            <tr class="row1">
                <td style="padding-bottom: 10px;">
                    <strong>{TXT_DOWNLOADS_UPDATE_FILE_COUNT}</strong><br />
                    {TXT_DOWNLOADS_UPDATE_FILE_COUNT_DESC}
                </td>
                <td style="padding-bottom: 10px;"><input type="text" name="downloads_settings_updated_file_count" value="{DOWNLOADS_SETTINGS_UPDATED_FILE_COUNT}" /></td>
            </tr>
            <tr class="row3">
                <td colspan="2" style="font-weight:bold;">{TXT_DOWNLOADS_MISCELLANEOUS}</td>
            </tr>
            <tr class="row1">
                <td>
                    <strong>{TXT_DOWNLOADS_NEW_FILE_TIME_LIMIT}</strong><br />
                    {TXT_DOWNLOADS_NEW_FILE_TIME_LIMIT_DESC}<br />
                    {TXT_DOWNLOADS_SECONDS_COMB_EXAMPLES}
                </td>
                <td><input type="text" name="downloads_settings_new_file_time_limit" value="{DOWNLOADS_SETTINGS_NEW_FILE_TIME_LIMIT}" /></td>
            </tr>
            <tr class="row2">
                <td style="padding-bottom: 10px;">
                    <strong>{TXT_DOWNLOADS_UPDATED_FILE_TIME_LIMIT}</strong><br />
                    {TXT_DOWNLOADS_UPDATED_FILE_TIME_LIMIT_DESC}<br />
                    {TXT_DOWNLOADS_SECONDS_COMB_EXAMPLES}
                </td>
                <td style="padding-bottom: 10px;"><input type="text" name="downloads_settings_updated_file_time_limit" value="{DOWNLOADS_SETTINGS_UPDATEDED_FILE_TIME_LIMIT}" /></td>
            </tr>
            <tr class="row3">
                <td colspan="2" style="font-weight:bold;">{TXT_DOWNLOADS_ATTRIBUTES}</td>
            </tr>
            <tr class="row1">
                <td>{TXT_DOWNLOADS_ATTRIBUTES_DESC}</td>
                <td>
                    <input type="checkbox" name="downloads_settings_attribute_size" id="downloads_settings_attribute_size" value="1" {DOWNLOADS_SETTINGS_ATTRIBUTE_SIZE_CHECKED} /> <label for="downloads_settings_attribute_size">{TXT_DOWNLOADS_SIZE}</label> <br />
                    <input type="checkbox" name="downloads_settings_attribute_license" id="downloads_settings_attribute_license" value="1" {DOWNLOADS_SETTINGS_ATTRIBUTE_LICENSE_CHECKED} /> <label for="downloads_settings_attribute_license">{TXT_DOWNLOADS_LICENSE}</label> <br />
                    <input type="checkbox" name="downloads_settings_attribute_version" id="downloads_settings_attribute_version" value="1" {DOWNLOADS_SETTINGS_ATTRIBUTE_VERSION_CHECKED} /> <label for="downloads_settings_attribute_version">{TXT_DOWNLOADS_VERSION}</label> <br />
                    <input type="checkbox" name="downloads_settings_attribute_author" id="downloads_settings_attribute_author" value="1" {DOWNLOADS_SETTINGS_ATTRIBUTE_AUTHOR_CHECKED} /> <label for="downloads_settings_attribute_author">{TXT_DOWNLOADS_AUTHOR}</label> <br />
                    <input type="checkbox" name="downloads_settings_attribute_origin" id="downloads_settings_attribute_origin" value="1" {DOWNLOADS_SETTINGS_ATTRIBUTE_ORIGIN_CHECKED} /> <label for="downloads_settings_attribute_origin">{TXT_DOWNLOADS_ORIGIN}</label> <br />
                    <input type="checkbox" name="downloads_settings_attribute_website" id="downloads_settings_attribute_website" value="1" {DOWNLOADS_SETTINGS_ATTRIBUTE_WEBSITE_CHECKED} /> <label for="downloads_settings_attribute_website">{TXT_DOWNLOADS_WEBSITE}</label> <br />
                </td>
            </tr>
        </tbody>
    </table>
<br />
<br />
<input type="submit" name="downloads_settings_save" value="{TXT_DOWNLOADS_SAVE}" />
</form>
<!-- end module_downloads_settings_general.html -->
