<!-- start module_downloads_settings_mail.html -->
<table border="0" cellpadding="3" cellspacing="0" width="100%" class="adminlist">
  <thead>
    <tr>
      <th colspan="4">{TXT_DOWNLOADS_EMAIL_NOTIFICATIONS}</th>
    </tr>
  </thead>
  <tbody style="vertical-align:top;">
    <tr class="row3" style="font-weight:bold;">
      <td width="15%">{TXT_DOWNLOADS_TYPE}</td>
      <td width="10%">{TXT_DOWNLOADS_LANGUAGE}</td>
      <td width="80%">{TXT_DOWNLOADS_MAIL_SUBJECT}</td>
      <td width="5%" style="text-align:right;">{TXT_DOWNLOADS_FUNCTIONS}</td>
    </tr>
    <!-- BEGIN downloads_email_list -->
    <tr class="row{DOWNLOADS_ROW_CLASS_NR}">
      <td style="{DOWNLOADS_MAIL_TYPE_STYLE}; white-space:nowrap;">{DOWNLOADS_MAIL_TYPE_TXT}</td>
      <td>{DOWNLOADS_MAIL_LANGUAGE}</td>
      <td>{DOWNLOADS_MAIL_SUBJECT}</td>
      <td style="text-align:right;">
      <!-- BEGIN downloads_email_copy -->
        <a href="index.php?cmd=downloads&amp;act=settings&amp;tpl=copyMail&amp;type={DOWNLOADS_MAIL_TYPE}" title="{TXT_DOWNLOADS_COPY_MAIL_TEMPLATE}"><img src="images/icons/copy.gif" alt="{TXT_DOWNLOADS_COPY_MAIL_TEMPLATE}" border="0" width="16" height="16" /></a>
      <!-- END downloads_email_copy -->
        <a href="index.php?cmd=downloads&amp;act=settings&amp;tpl=modifyMail&amp;type={DOWNLOADS_MAIL_TYPE}&amp;downloads_mail_lang={DOWNLOADS_MAIL_LANG}" title="{TXT_DOWNLOADS_MODIFY_MAIL_TEMPLATE}"><img src="images/icons/edit.gif" alt="{TXT_DOWNLOADS_MODIFY_MAIL_TEMPLATE}" border="0" width="16" height="16" /></a>
      <!-- BEGIN downloads_email_delete_space -->
      <img src="images/icons/pixel.gif" alt="-" border="0" width="17" height="17" />
      <!-- END downloads_email_delete_space -->
      <!-- BEGIN downloads_email_delete -->
				<a href="javascript:if(confirm('{TXT_DOWNLOADS_CONFIRM_DELETE_MAIL}')){window.location.href='index.php?cmd=downloads&{CSRF_PARAM}&amp;act=settings&amp;tpl=deleteMail&amp;type={DOWNLOADS_MAIL_TYPE}&amp;downloads_mail_lang={DOWNLOADS_MAIL_LANG}';}" title="{TXT_DOWNLOADS_DELETE_MAIL_TEMPLATE}"><img src="images/icons/delete.gif" alt="{TXT_DOWNLOADS_DELETE_MAIL_TEMPLATE}" border="0" width="17" height="17" /></a>
      <!-- END downloads_email_delete --></td>
    </tr>
    <!-- END downloads_email_list -->
  </tbody>
</table>
<!-- end module_downloads_settings_mail.html -->
