

<ul id="tabmenu">
  <li><a id="block_Downloads" class="active" href="javascript:{}" onclick="selectTab('Downloads')" title="{TXT_DOWNLOADS_DOWNLOADS}">{TXT_DOWNLOADS_DOWNLOADS}</a></li>
  <li><a id="block_Category" class="inactive" href="javascript:{}" onclick="selectTab('Category')" title="{TXT_DOWNLOADS_CATEGORIES}">{TXT_DOWNLOADS_CATEGORIES}</a></li>
  <li><a id="block_Icons" class="inactive" href="javascript:{}" onclick="selectTab('Icons')" title="{TXT_DOWNLOADS_ICONS}">{TXT_DOWNLOADS_ICONS}</a></li>
</ul>

<div id="Downloads" class="block" style="display: active;">
  <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
    <tr>
      <th colspan="2">{TXT_DOWNLOADS_DOWNLOADS}</th>
    </tr>
    <tr class="row1">
      <td width="15%">[[FILE_ID]]</td>
      <td width="85%">{TXT_PLACEHOLDER_FILE_ID}</td>
    </tr>
    <tr class="row2">
      <td width="15%">[[FILE_NAME]]</td>
      <td width="85%">{TXT_PLACEHOLDER_FILE_NAME}</td>
    </tr>
    <tr class="row1">
      <td width="15%">[[FILE_DESC]]</td>
      <td width="85%">{TXT_PLACEHOLDER_FILE_DESC}</td>
    </tr>
    <tr class="row2">
      <td width="15%">[[FILE_TYPE]]</td>
      <td width="85%">{TXT_PLACEHOLDER_FILE_TYPE}</td>
    </tr>
    <tr class="row1">
      <td width="15%">[[FILE_SIZE]]</td>
      <td width="85%">{TXT_PLACEHOLDER_FILE_SIZE}</td>
    </tr>
    <tr class="row2">
      <td width="15%">[[FILE_IMG]]</td>
      <td width="85%">{TXT_PLACEHOLDER_FILE_IMG}</td>
    </tr>
    <tr class="row1">
      <td width="15%">[[FILE_AUTHOR]]</td>
      <td width="85%">{TXT_PLACEHOLDER_FILE_AUTHOR}</td>
    </tr>
    <tr class="row2">
      <td width="15%">[[FILE_CREATED]]</td>
      <td width="85%">{TXT_PLACEHOLDER_FILE_CREATED}</td>
    </tr>
    <tr class="row1">
      <td width="15%">[[FILE_LICENSE]]</td>
      <td width="85%">{TXT_PLACEHOLDER_FILE_LICENSE}</td>
    </tr>
    <tr class="row2">
      <td width="15%">[[FILE_VERSION]]</td>
      <td width="85%">{TXT_PLACEHOLDER_FILE_VERSION}</td>
    </tr>
  </table>
</div>

<div id="Category" class="block" style="display: none;">
  <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
    <tr>
      <th colspan="2">{TXT_DOWNLOADS_CATEGORIES}</th>
    </tr>
    <tr class="row1">
      <td width="15%">[[CATEGORY_ID]]</td>
      <td width="85%">{TXT_PLACEHOLDER_CATEGORY_ID}</td>
    </tr>
    <tr class="row2">
      <td width="15%">[[CATEGORY_NAME]]</td>
      <td width="85%">{TXT_PLACEHOLDER_CATEGORY_NAME}</td>
    </tr>
    <tr class="row1">
      <td width="15%">[[CATEGORY_DESC]]</td>
      <td width="85%">{TXT_PLACEHOLDER_CATEGORY_DESC}</td>
    </tr>
  </table>
</div>

<div id="Icons" class="block" style="display: none;">
  <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
    <tr>
      <th colspan="2">{TXT_DOWNLOADS_ICONS}</th>
    </tr>
    <tr class="row1">
      <td width="15%">[[ICON_DISPLAY]]</td>
      <td width="85%">{TXT_PLACEHOLDER_ICON_DISPLAY}</td>
    </tr>
    <tr class="row2">
      <td width="15%">[[ICON_FILTERS]]</td>
      <td width="85%">{TXT_PLACEHOLDER_ICON_FILTERS}</td>
    </tr>
    <tr class="row1">
      <td width="15%">[[ICON_INFO]]</td>
      <td width="85%">{TXT_PLACEHOLDER_ICON_INFO}</td>
    </tr>
    <tr class="row2">
      <td width="15%">[[ICON_CATEGORY]]</td>
      <td width="85%">{TXT_PLACEHOLDER_ICON_CATEGORY}</td>
    </tr>
    <tr class="row1">
      <td width="15%">[[ICON_FILE]]</td>
      <td width="85%">{TXT_PLACEHOLDER_ICON_FILE}</td>
    </tr>
    <tr class="row2">
      <td width="15%">[[ICON_DOWNLOAD]]</td>
      <td width="85%">{TXT_PLACEHOLDER_ICON_DOWNLOAD}</td>
    </tr>
  </table>
</div>
