

<form name="frmSettings" action="index.php?cmd=downloads&act=settings" method="post">
  <input type="hidden" name="mode" value="save" />
  <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
    <tr>
      <th colspan="2">{TXT_SETTINGS}</th>
    </tr>
    <tr class="row1">
      <td width="15%">{TXT_DWONLOADS_FILTER}</td>
      <td width="85%"><input type="checkbox" name="settings_filter" value="1" {FILTER_CHECKED} /></td>
    </tr>
    <tr class="row2">
      <td width="15%">{TXT_DWONLOADS_DESIGN}</td>
      <td width="85%">
        <select name="settings_design" style="width: 30%;">
          <option value="0" {ICONS_SELECTED_0}>{TXT_DWONLOADS_NO_ICONS}</option>
          <option value="1" {ICONS_SELECTED_1}>{TXT_DWONLOADS_ICON_SET} 1</option>
          <option value="2" {ICONS_SELECTED_2}>{TXT_DWONLOADS_ICON_SET} 2</option>
          <option value="3" {ICONS_SELECTED_3}>{TXT_DWONLOADS_ICON_SET} 3</option>
        </select>
      </td>
    </tr>
  </table>
  <br />
  <input type="submit" value="{TXT_SAVE}" />

</form>
