/*************************************************************/
/*   Design:   Multiflex-3 Layout-2                          */
/*   File:     Extended text and layout options              */
/*-----------------------------------------------------------*/
/*   Author:   G. Wolfgang                                   */
/*   Date:     November 15, 2006                             */
/*   Homepage: wwww.1-2-3-4.info                             */
/*-----------------------------------------------------------*/
/*   License:  Fully open source without restrictions.       */
/*             Please keep footer credits with a link to     */
/*             G. Wolfgang (www.1-2-3-4.info). Thank you!    */
/*************************************************************/

/*************/
/*  3. MAIN  */
/*************/

/* NAVIGATION */

.nav3-bullet {width:160px; padding:0 0 0 20px;}
.nav3-bullet li {list-style:none; margin:0.6em 0 0 0;}
.nav3-bullet li li {list-style:none; margin:0.2em 0 0 15px; padding:0.2em 0 0 0;}
.nav3-bullet li a, .nav3-bullet li a:visited {padding:0 0 0 10px; background:url(../img/bg_bullet_full_1.gif) no-repeat 0px 4px; text-decoration:none; color:rgb(70,122,167); font-weight:bold; font-size:120%;}
.nav3-bullet li li a, .nav3-bullet li li a:visited {padding:0 0 0 10px; background:url(../img/bg_bullet_half_1.gif) no-repeat 0px 4px; text-decoration:none; color:rgb(70,122,167); font-weight:normal; font-size:120%;}
.nav3-bullet li a:hover {padding:0 0 0 10px; background:url(../img/bg_bullet_full_2.gif) no-repeat 0px 4px;  text-decoration:underline; color:rgb(42,90,138);}
.nav3-bullet li li a:hover {padding:0 0 0 10px; background:url(../img/bg_bullet_half_2.gif) no-repeat 0px 4px; text-decoration:underline; color:rgb(42,90,138);}

.nav3-nobullet {width:160px; padding:0 0 0 20px;}
.nav3-nobullet li {list-style:none; margin:0.6em 0 0 0;}
.nav3-nobullet li li {list-style:none; margin:0.2em 0 0 15px; padding:2px 0 0 0;}
.nav3-nobullet li a, .nav3-nobullet li a:visited {text-decoration:none; color:rgb(70,122,167); font-weight:bold; font-size:120%;}
.nav3-nobullet li li a, .nav3-nobullet li li a:visited {text-decoration:none; color:rgb(70,122,167); font-weight:normal; font-size:120%;}
.nav3-nobullet li a:hover {text-decoration:underline; color:rgb(42,90,138);}
.nav3-nobullet li li a:hover {text-decoration:underline; color:rgb(42,90,138);}

.main-navigation p.right {text-align:right;}

.main-navigation ul.nobullet {list-style:none; margin:0.5em 0 1.0em 10px;}
.main-navigation ul.nobullet li {margin:0 0 0.4em 10px; background:transparent; font-size:110%;}
.main-navigation ul.nobullet-indent {list-style:none; margin:0.5em 0 1.0em 20px;}
.main-navigation ul.nobullet-indent li {margin:0 0 0.4em 10px; background:transparent; font-size:110%;}
.main-navigation ul.bullet-indent {list-style:none; margin:0.5em 0 1.0em 30px;}
.main-navigation ul.bullet-indent li {margin:0 0 0.4em 2px; padding:0 0 0 11px; background:url(../img/bg_bullet_full_1.gif) no-repeat 0px 5px; font-size:110%;}
.main-navigation ol {margin:0.5em 0 1.0em 40px !important; margin:0.5em 0 1.0em 44px;/*IE*/}
.main-navigation ol li {list-style-position:outside; margin:0 0 0.4em 0; font-size:110%;}
.main-navigation ol.indent {margin:5px 0 10px 50px !important; margin:0.5em 0 1.0em 54px/*IE*/;}
.main-navigation ol.indent li {list-style-position:outside; margin:0 0 0.4em 0; font-size:110%;}

/* CONTENT */

.column2-unit-left {float:left; width:300px;}
.column2-unit-right {float:right; width:300px;}
.column3-unit-left {float:left; width:186px;}
.column3-unit-middle {float:left; width:186px; margin:0 0 0 40px;}
.column3-unit-right {float:right; width:186px;}

.img-text-unit-column1-160px {float:right; width:460px;}
.img-text-unit-column1-140px {float:right; width:480px;}
.img-text-unit-column1-120px {float:right; width:500px;}
.img-text-unit-column1-100px {float:right; width:520px;}
.img-text-unit-column1-80px {float:right; width:540px;}
.img-text-unit-column1-60px {float:right; width:560px;}
.img-text-unit-column2-80px {float:right; width:200px;}
.img-text-unit-column2-60px {float:right; width:220px;}
.img-text-unit-column2-40px {float:right; width:240px;}
.img-text-unit-column3-40px {float:right; width:126px;}
.img-text-unit-column3-20px {float:right; width:146px;}

.main-content p.right {text-align:right;}
.main-content blockquote {clear:both; margin:0 30px 0.6em 30px; font-size:90%;}

.main-content table.style1 {clear:both; width:600px; margin:2.0em 0 0.2em 20px; table-layout: fixed; border-collapse:collapse; empty-cells:show; border:solid 1px rgb(200,200,200); background-color:rgb(233,232,244);}
.main-content table.style1 th.top {height:3.5em; padding:0 7px 0 7px; border:solid 1px rgb(200,200,200); empty-cells:show; background-color:rgb(225,225,225); text-align:left; color:rgb(80,80,80); font-weight:bold; font-size:110%;}
.main-content table.style1 th.normal {height:3.0em; padding:0 7px 0 7px; border:solid 1px rgb(200,200,200); empty-cells:show; background-color:rgb(225,225,225); text-align:left; color:rgb(80,80,80); font-weight:normal; font-size:110%;}
.main-content table.style1 th {height:3.0em; padding:0 7px 0 7px; border:solid 1px rgb(200,200,200); empty-cells:show; background-color:rgb(225,225,225); text-align:left; color:rgb(80,80,80); font-weight:bold; font-size:110%;}
.main-content table.style1 td {background:white; height:30px; padding:2px 7px 2px 7px; border:solid 1px rgb(200,200,200); text-align:left; font-weight:normal; color:rgb(80,80,80); font-size:110%;}
p.caption {clear:both; margin:0.5em 0 2.0em 20px; text-align:left; color:rgb(80,80,80); font-size:110%;}

table.style2 {clear:both; width:600px; margin:2.0em 0 0.2em 20px; table-layout: fixed; border-collapse:collapse; empty-cells:show; background-color:rgb(233,232,244);}
table.style2 th.top {height:3.5em; padding:0 7px 0 7px; empty-cells:show; background-color:rgb(175,175,175); text-align:left; color:rgb(255,255,255); font-weight:bold; font-size:110%;}
table.style2 th {height:3.0em; padding:2px 20px 2px 7px; border-left:solid 2px rgb(255,255,255); border-right:solid 2px rgb(255,255,255); border-top:solid 2px rgb(255,255,255); border-bottom:solid 2px rgb(255,255,255); background-color:rgb(225,225,225); text-align:left; color:rgb(80,80,80); font-weight:bold; font-size:110%;}
table.style2 td {height:3.0em; padding:2px 7px 2px 7px; border-left:solid 2px rgb(255,255,255); border-right:solid 2px rgb(255,255,255); border-top:solid 2px rgb(255,255,255); border-bottom:solid 2px rgb(255,255,255); background-color:rgb(225,225,225); text-align:left; font-weight:normal; color:rgb(80,80,80); font-size:110%;}

table.style3 {clear:both; width:600px; margin:2.0em 0 0.2em 20px; table-layout: fixed; border-left:none; border-right:none; border-top:solid 3px rgb(150,150,150); border-bottom:solid 3px rgb(150,150,150); border-collapse:collapse; empty-cells:show; background-color:rgb(255,255,255);}
table.style3 th.top {height:3.5em;padding:0px 7px 0 7px; border-left:none; border-right:none; border-bottom:solid 3px rgb(150,150,150); empty-cells:show; background-color:rgb(235,235,235); text-align:left; color:rgb(80,80,80); font-weight:bold; font-size:110%;}
table.style3 th {height:3.0em; padding:2px 20px 2px 7px; border-left:none; border-right:none; border-top:solid 1px rgb(150,150,150); border-bottom:solid 1px rgb(150,150,150); background-color:rgb(235,235,235); text-align:left; color:rgb(80,80,80); font-weight:bold; font-size:110%;}
table.style3 td {height:3.0em; padding:2px 7px 2px 7px; border-left:none; border-right:none; border-top:solid 1px rgb(150,150,150); border-bottom:solid 1px rgb(150,150,150); background-color:rgb(235,235,235); text-align:left; font-weight:normal; color:rgb(80,80,80); font-size:110%;}

table.style4 {clear:both; width:600px; margin:2.0em 0 0.2em 20px; table-layout: fixed; border-collapse:collapse; border-left:none; border-right:none; empty-cells:show; background-color:rgb(233,232,244);}
table.style4 th.top {height:3.5em; padding:0px 7px 0 7px; empty-cells:show; border-left:none; border-right:none; background-color:rgb(175,175,175); text-align:left; color:rgb(255,255,255); font-weight:bold; font-size:110%;}
table.style4 th {height:3.0em; padding:2px 20px 2px 7px; border-left:none; border-right:none; border-top:solid 2px rgb(255,255,255); border-bottom:solid 2px rgb(255,255,255); background-color:rgb(225,225,225); text-align:left; color:rgb(80,80,80); font-weight:bold; font-size:110%;}
table.style4 td {height:3.0em; padding:2px 7px 2px 7px; border-left:none; border-right:none; border-top:solid 2px rgb(255,255,255); border-bottom:solid 2px rgb(255,255,255); background-color:rgb(225,225,225); text-align:left; font-weight:normal; color:rgb(80,80,80); font-size:110%;}

.main-content ul.nobullet {list-style:none; margin:0.5em 0 1.0em 0;}
.main-content ul.nobullet li {margin:0 0 0.4em 0; padding:0px; background:transparent; font-size:120%;}
.main-content ul.nobullet-indent {list-style:none; margin:0.5em 0 1.0em 15px;}
.main-content ul.nobullet-indent li {margin:0 0 0.4em 0; padding:0px; background:transparent; font-size:120%;}
.main-content ul.bullet-indent {list-style:none; margin:0.5em 0 1.0em 15px;}
.main-content ul.bullet-indent li {margin:0 0 0.4em 2px; padding:0 0 0 11px; background:url(../img/bg_bullet_full_1.gif) no-repeat 0px 5px; font-size:120%;}
.main-content ol.indent {margin:0.5em 0 1.0em 35px !important; margin:0.5em 0 1.0em 40px /*IE*/;}
.main-content ol.indent li {list-style-position:outside; margin:0 0 0.4em 0; font-size:120%;}

.contactform {width:418px; margin:2.0em 0 0 0; padding:10px; border:solid 1px rgb(200,200,200); background-color:rgb(240,240,240);}
.contactform input {width:200px; margin:1px 0 0 0; padding:4px; border:solid 1px rgb(200,200,200); font-family:verdana,arial,sans-serif; font-weight:normal; font-size:110%;}
.contactform textarea {width:400px; margin:1px 0 0 0; padding:4px; border:solid 1px rgb(200,200,200); font-family:verdana,arial,sans-serif; font-weight:normal; font-size:110%;}
form fieldset {border:none;}
form textarea {overflow:auto;}
form p {margin:0 0 10px 0; color:rgb(80,80,80);}
form p.title {margin:0 0 20px 0; color:rgb(80,80,80); font-weight:bold;}
form .button {width:10em; padding:4px; border:solid 1px rgb(200,200,200); background:rgb(235,235,235); color:rgb(80,80,80); text-align:center; font-size:110%;}
form .button:hover {border:solid 1px rgb(150,150,150); background-color:rgb(220,220,220);}

/***************/
/*  5. COMMON  */
/***************/
img.right-border {clear:both; float:right; margin:3px 0 7px 10px; padding:1px; border:1px solid rgb(150,150,150);}
img.left-noborder {clear:both; float:left; margin:3px 10px 7px 0; border:none;}
img.center-noborder {clear:both; float:none; margin:0; border:none;}
img.right-noborder {clear:both; float:right; margin:3px 0 7px 10px; border:none;}