<ul class="label_list">
    <!-- BEGIN entry_line -->
    <li id="label_entry_{ENTRY_ID}" onmouseover="$('del_entry_{ENTRY_ID}_img').show()" onmouseout="$('del_entry_{ENTRY_ID}_img').hide()"><span>{ENTRY_TEXT}</span>
    <a id="del_entry_{ENTRY_ID}" href="#" 
        onclick="LabelTools.drop_entry({PARTNER_ID}, {ENTRY_ID}, 'label_list_{LABEL_ID}');return false;"
    ><img border="0" id="del_entry_{ENTRY_ID}_img" alt="{TXT_DELETE}" style="display:none;" src="images/icons/delete.gif"/></a>
    </li>
    <!-- END entry_line -->
</ul>
