<!-- START edit_label.html -->
<script type="text/javascript" src="{PARTNERS_POPUP_JS_LOCATION}"></script>
<style tyle="text/css">
table.adminlist td {
  vertical-align: top;
}
</style>
<form name="edit_label" method="POST">
    <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
        <tr> <th style="width: 150px;">{TXT_PARTNERS_EDIT_LABEL}</th> <th >&nbsp;</th> </tr>

        <tr class="row2">
            <td>{TXT_PARTNERS_LABEL_PLACEHOLDER}</td>
            <td>
                <div style="float:left; padding:3px;">PARTNER_</div>
                <input style="float:left;" value="{LABEL_PLACEHOLDER}" name="placeholder">
            </td>
        </tr>
        <tr class="row1">
            <td>{TXT_PARTNERS_LABEL_MULTI_ASSIGNABLE}</td>
            <td><input {LABEL_MULTI_ASSIGNABLE_CHK} type="checkbox" name="multi_assignable" /></td>
        </tr>

        <tr class="row2">
            <td>{TXT_PARTNERS_IMPORT_DATASOURCE}</td>
            <td>
                <select name="datasource">
                    <!-- BEGIN datasource_option -->
                    <option {PARTNERS_DATASOURCE_SEL} value="{PARTNERS_DATASOURCE_ID}">{PARTNERS_DATASOURCE_NAME}</option>
                    <!-- END datasource_option -->
                </select>
                <!-- BEGIN datasource_refresh -->
                <input id="enable_autoimport" type="checkbox" name="enable_autoimport"/>
                <label for="enable_autoimport">{TXT_PARTNERS_DATASOURCE_REFRESH}</label>
                <!-- END datasource_refresh -->
            </td>
        </tr>

        <tr>
            <th >{TXT_PARTNERS_EDIT_LABEL_TEXTS}</th>
            <th >&nbsp;</th>
        </tr>

        <!-- BEGIN translation_entry -->
        <tr class="{ROW_CLASS}">
            <td>{PARTNERS_LANGUAGE}:</td>
            <td>
                <input style="width: 400px;" type="text" name="name[{PARTNERS_LANGID}]" class="label_translation"  value="{PARTNERS_LANGUAGE_SINGULAR}"/>
            </td>
        </tr>
        <!-- END translation_entry -->
    </table>

    <p/>
</form>

<script type="text/javascript">
     (function(){
         var translations = $$('.label_translation');
         Event.observe(translations[0], 'change', function() {
             translations.each(function(item){
                 if (item.getValue() == '' && item != translations[0]) {
                    item.setValue(translations[0].getValue());
                 }
             });
         });
     })();
</script>
    <!-- BEGIN entries_block -->
    <div id="label_entries">
        <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
            <tr>
                <th colspan="3">{TXT_PARTNERS_LABEL_ENTRIES}</th>
            </tr>
            <tr class="row3">
                <td><span style="font-weight: bold">{TXT_PARTNERS_LABEL}</span></td>
                <!-- <th>{TXT_PARTNERS_CUSTOM_BLOCK}</th> -->
                <td><span style="font-weight: bold">{TXT_PARTNERS_LABEL_ENTRY_DEFAULT_PARTNER}</span></td>
                <td style="text-align: right;"><span style="font-weight: bold;">{TXT_ACTION}</span></td>
            </tr>
            <!-- BEGIN entry_line -->
            <tr class="{ROW_CLASS}" id="row_entry_{ENTRY_ID}">
                <td ><span style="padding-left: {ENTRY_INDENT}0px">{ENTRY_NAME} ({ENTRY_PARTNER_COUNT})</span></td>
                <!-- <td>{ENTRY_ADDITIONAL_BLOCK}</td> -->
                <td>{ENTRY_DEFAULT_PARTNER}</td>
                <td style="text-align: right;">
                    <a href="#" onclick="return Popup.show_newentry({LABEL_ID}, {ENTRY_ID})"><img border="0" alt="{TXT_PARTNERS_NEW_ENTRY}" src="images/icons/newdoc.gif"/></a>
                    <a href="#" onclick="return Popup.show_edit({ENTRY_ID})"><img border="0" alt="{TXT_EDIT}" src="images/icons/edit.gif"/></a>
                    <a href="#" onclick="return delete_entry({ENTRY_ID}   )"><img border="0" alt="{TXT_DELETE}" src="images/icons/delete.gif"/></a>

                </td>

            </tr>
            <tr style="padding: 0px;margin:0px;">
              <td style="padding: 0px;margin:0px;border:0px;" colspan="3"><span id="popuptarget_{ENTRY_ID}"></span></td>
            </tr>
            <!-- END entry_line -->
            <tr class="{ROW_CLASS}" style="font-weight: bold">
        <td colspan="4">
          <a href="#" onclick="Popup.show_newentry({LABEL_ID}, 0);return 0">{TXT_PARTNERS_NEW_ENTRY}</a>
          <span id="popuptarget_0"></span>
        </td>
            </tr>
        </table>
        <p/>
    </div>
    <script type="text/javascript">
        if ('{JS_CREATED_ENTRY_ID}' != '') {
            Effect.Pulsate("row_entry_{JS_CREATED_ENTRY_ID}");
        }
    </script>
    <!-- END entries_block -->

    <!-- BEGIN save_first_please -->
    {TXT_PARTNERS_SAVE_BEFORE_EDITING_ENTRIES}
    <!-- END save_first_please -->
    <p/>
    <input type="submit" value="{TXT_SAVE}"/>

<div style="display: none">
    <!-- the following spans contain data used by javascript. We do this so
         we don't have to do ugly hacks trying to escape data javascript-style.
    -->
    <span id="js_text_ask_delete">{TXT_PARTNERS_DELETE_ENTRY_QUESTION}</span>
    <script type="text/javascript">
        function delete_entry(entry_id) {
            var msg = $('js_text_ask_delete').innerHTML;
            if (confirm(msg)) {
                new Ajax.Request('index.php?cmd=partners&act=deleteentry', {
                    method: 'post',
                    parameters: {'id': entry_id},
                    onSuccess: function(transport) {
                        if (transport.responseText == 'OK') {
                            var row = 'row_entry_' + entry_id;
                            Effect.Fade(row);
                        }
                    }
                });
            }
            return false;
        }
    </script>
</div>
<!-- END edit_label.html -->
