<table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
    <tr> <th style="width: 340px;">{TXT_TITLE}</th> <th>&nbsp;</th> </tr>

    <tr class="row2">
        <td>{TXT_PARTNERS_LABEL_ENTRY_DEFAULT_PARTNER}</td>
        <td><input {ENTRY_DEFAULTPARTNER_CHK} name="default_partner" type="checkbox"/></td>
    </tr>
    <!--
    <tr class="row3">
        <td>{TXT_PARTNERS_LABEL_ENTRY_PARSE_CUSTOM_BLOCK}</td> 
        <td><input style="width: 100%;" value="{ENTRY_PARSE_CUSTOM_BLOCK}" type="text" name="parse_custom_block"/></td>
    </tr>
    -->

    <tr> 
        <th >{TXT_PARTNERS_EDIT_LABEL_TEXTS}</th>
        <th >{TXT_PARTNERS_EDIT_ENTRY_NAME}</th>
    </tr>
    <!-- BEGIN translation_entry -->
    <tr class="{ROW_CLASS}"> 
        <td>{PARTNERS_LANGUAGE}</td>
        <td><input style="width: 100%" type="text" name="name[{PARTNERS_LANGID}]" value="{PARTNERS_ENTRY_TRANSLATION}"/></td>
    </tr>
    <!-- END translation_entry -->

</table>
<p/>
<input type="hidden" name="label_id"   value="{LABEL_ID}"  />
<input type="hidden" name="entry_id"   value="{ENTRY_ID}"  />
<input type="hidden" name="parent_id"  value="{PARENT_ID}" />
<input type="button" id="entry_save"   value="{TXT_SAVE}"  />
<input type="button" id="entry_cancel" value="{TXT_CANCEL}"/>

