<!-- START list_partners.html -->
<script type="text/javascript" src="{PARTNERS_DROPDOWN_JS_LOCATION}"></script>
<script type="text/javascript">
function toggle_all() {
  var all_checkboxes = $$('input.partner_checkbox');
  var master         =  $('toggleall_checkbox');
  all_checkboxes.each(function(elem) {
    elem.checked = master.checked;
  });
}
</script>
<style type="text/css">
    #Search input,
    #Search select {
        margin-right: 20px;
    }
</style>

<ul id="tabmenu">
  <li><a title="{TXT_PARTNERS_OVERVIEW_TITLE}" href="#" class="active" id="categories_Overview">{TXT_PARTNERS_OVERVIEW_TITLE}</a></li>
  <li><a href="index.php?cmd=partners&amp;tab=new" class="inactive" id="categories_NewPartner">{TXT_PARTNERS_NEW_PARTNER}</a></li>
</ul>

<div class="categories" id="Overview">
    <div id="Search">
        <form name="search_partners">
        <input type="hidden" name="cmd" value="partners">
        <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
            <tr><th colspan="7">{TXT_SEARCH}</th></tr>
            <tr class="row3">
                <td>
                    <div style="float:left;">
                        <label for="search">{TXT_PARTNERS_SEARCH_TEXT}</label> <br/> <br/>
                        <input type="text" value="{TXT_SEARCH_VALUE}" name="search" id="search"/>
                    </div>
                    <!-- BEGIN label_searchbox -->
                    <div style="float: left;">
                        <label for="{TXT_PARTNERS_LABEL_NAME}">{PARTNERS_LABEL_NAME}</label>
                        <br/>
                        {TXT_PARTNERS_LABEL_SEARCHFIELD}
                    </div>
                    <!-- END label_searchbox -->
                    <div style="float:left;">
                        <br/><br/>
                        <input id="submit_search" type="submit" value="{TXT_SEARCH}"/>
                    </div>
                    <div style="float:left;">
                        {TXT_PARTNERS_SPECIAL_SEARCH}<br/><br/>
                        <input type="button" onclick="window.location='index.php?cmd=partners&reset_search=1'" value="{TXT_PARTNERS_RESET_SEARCH}"/>
                        <input type="button" onclick="window.location='index.php?cmd=partners&labelfree=1'" value="{TXT_PARTNERS_LOOK_FOR_LABELFREE}"/>
                    </div>
          <div style="clear: both">
            <br/>
          </div>
                </td>
            </tr>
        </table>
        </form>
    </div>

<form action="index.php?cmd=partners&amp;act=partnermultiaction" method="POST" id="entries_form">
    <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
    <tr><th colspan="8">{TXT_PARTNERS_OVERVIEW_TITLE} ({TXT_PARTNERS_TOTAL} {PARTNERS_TOTAL})</th></tr>
    <tr class="row3">
        <td width="16"><input type="checkbox" id="toggleall_checkbox" onclick="toggle_all()"/></th>
        <td width="16">&nbsp;</td>
        <td><span style="font-weight: bold"># Inst</span></th>
        <td><span style="font-weight: bold">{TXT_PARTNERS_COMPANY_NAME}</span></th>
        <td><span style="font-weight: bold">{TXT_PARTNERS_COMPANY_CONTACT}</span</th>
        <td><span style="font-weight: bold">{TXT_PARTNERS_COMPANY_URL}</span</th>
        <td><span style="font-weight: bold">{TXT_PARTNERS_COMPANY_CITY}</span</th>
        <td style="text-align: right;"><span style="font-weight: bold">{TXT_ACTION}</span</th>
    </tr>
    <!-- BEGIN partner_entry -->
    <tr class="{ROW_CLASS}" id="partner_row_{PARTNER_ID}">
        <td><input type="checkbox" id="checked_{PARTNER_ID}" class="partner_checkbox" name="checked_partner[]" value="{PARTNER_ID}"/></td>
    <td><a href="index.php?cmd=partners&act=statustoggle&id={PARTNER_ID}"><img src="images/icons/led_{LED_COLOR}.gif" style="border:none"/></a></td>
    <td><input type="text" name="partner_inst[{PARTNER_ID}]" style="width: 3em;" value="{PARTNER_NUM_INSTALLATIONS}"/></th>
        <td><a href="index.php?cmd=partners&amp;act=editpartner&amp;id={PARTNER_ID}">{PARTNER_NAME}</a></td>
        <td><a href="mailto:{PARTNER_CONTACT_EMAIL}">{PARTNER_CONTACT_NAME}</a></td>
        <td><a href="{PARTNER_WEB_URL}">{PARTNER_WEB_URL}</a></td>
        <td>{PARTNER_ZIP_CODE} {PARTNER_CITY}</td>
        <td style="width: 100px; text-align: right;">
            <a href="index.php?cmd=partners&amp;act=editpartner&amp;id={PARTNER_ID}"><img border="0" alt="{TXT_EDIT}" src="images/icons/edit.gif"/></a>
            <a href="#" onclick="return delete_partner({PARTNER_ID})"><img border="0" alt="{TXT_EDIT}" src="images/icons/delete.gif"/></a>
        </td>
    </tr>
    <!-- END   partner_entry -->
    </table>
    <img border="0" width="38" height="22" alt="Selection:" src="images/icons/arrow.gif"/>
    <script type="text/javascript">
        function ask_del() {
            if ($('entries_multiaction').value == "") {
                return;
            }
            if ($('entries_multiaction').value == "delete") {
                if (!confirm("{TXT_PARTNERS_ARE_YOU_SURE_TO_DELETE_PARTNERS}")) {
                    $('entries_multiaction').selectedIndex = 0;
                    return;
                }
            }
            $('entries_form').submit();
        }
    </script>
    <select onchange="ask_del();" name="multiaction" id="entries_multiaction">
        <option value="0"         >{TXT_MULTISELECT_SELECT}</option>
        <option value="delete"    >{TXT_SETTINGS_DELETE}</option>
        <option value="activate"  >{TXT_ACTIVATE_DESIGN}</option>
        <option value="deactivate">{TXT_PARTNERS_DEACTIVATE}</option>
    </select>
    <input type="submit" value="OK"/>
</form>

<p/>
<div style="text-align:right">
    {TXT_PARTNERS_PAGE}:
    <a href="{PAGER_PREV_URL}">&lt;&lt;</a>
    {PAGER_CURRENT_PAGE} / {PAGER_NUM_PAGES}
    <a href="{PAGER_NEXT_URL}">&gt;&gt;</a><br/>
    {TXT_PARTNERS_ROW_COUNT}: {PARTNERS_ROW_COUNT}</div>
<div align="center">{ENTRIES_PAGING}</div>

</div>


<div style="display: none">
    <!-- the following spans contain data used by javascript. We do this so
         we don't have to do ugly hacks trying to escape data javascript-style.
    -->
    <span id="js_text_ask_delete">{TXT_PARTNERS_DELETE_QUESTION}</span>
    <script type="text/javascript">
        function delete_partner(partner_id) {
            var msg = $('js_text_ask_delete').innerHTML;
            if (confirm(msg)) {
                new Ajax.Request('index.php?cmd=partners&act=deletepartner', {
                    method: 'post',
                    parameters: {'id': partner_id},
                    onSuccess: function(transport) {
                        if (transport.responseText == 'OK') {
                            var row = 'partner_row_' + partner_id;
                            Effect.Fade(row);
                        }
                    }
                });
            }
            return false;
        }
    </script>
</div>
<!-- END list_partners.html -->
