<!-- START list_labels.html -->
<script type="text/javascript">
function toggle_all() {
  var all_checkboxes = $$('input.label_checkbox');
  var master         =  $('toggleall_checkbox');
  all_checkboxes.each(function(elem) {
    elem.checked = master.checked;
  });
}
</script>

<ul id="tabmenu">
  <li><a title="{TXT_PARTNERS_OVERVIEW_TITLE}" onclick="selectTab('Overview')" href="javascript:{}" class="active" id="categories_Overview">{TXT_PARTNERS_OVERVIEW_TITLE}</a></li>
  <li><a title="Add category" onclick="selectTab('NewLabel')" href="javascript:{}" class="inactive" id="categories_NewLabel">{TXT_PARTNERS_NEW_LABEL}</a></li>
</ul>

<div class="categories" id="Overview">
    <form action="index.php?cmd=partners&amp;act=labelmultiaction" method="POST" id="entries_form">
    <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
    <tr>
        <th colspan="4">{TXT_PARTNERS_EDIT_LABELS}</th>
    </tr>
    <tr class="row3">
        <td width="16"><input type="checkbox" id="toggleall_checkbox" onclick="toggle_all()"/></th>
        <td width="16">&nbsp;</td>
        <td><span style="font-weight: bold">{TXT_PARTNERS_LABELS}</span></td>
        <td style="text-align: right;" class="row3"><span style="font-weight: bold">{TXT_ACTION}</span></td>
    </tr>
    <!-- BEGIN label_entry -->
    <tr class="{ROW_CLASS}" id="label_row{LABEL_ID}">
        <td><input type="checkbox" id="checked_{label_ID}" class="label_checkbox" name="checked_label[]" value="{LABEL_ID}"/></td>
        <td><img src="images/icons/led_{LED_COLOR}.gif"/></td>
        <td><a href="index.php?cmd=partners&amp;act=editlabel&amp;id={LABEL_ID}">{LABEL_NAME}</a> ({LABEL_COUNT_ENTRIES} {TXT_LABEL_COUNT_ENTRIES})</td>
        <td style="width: 100px; text-align: right;">
            <a href="index.php?cmd=partners&amp;act=editlabel&amp;id={LABEL_ID}"><img border="0" alt="{TXT_EDIT}" src="images/icons/edit.gif"/></a>
            <a href="#" onclick="return delete_label({LABEL_ID})"><img border="0" alt="{TXT_DELETE}" src="images/icons/delete.gif"/></a>
        </td>
    </tr>
    <!-- END   label_entry -->
    </table>
    <img border="0" width="38" height="22" alt="Selection:" src="images/icons/arrow.gif"/>
    <script type="text/javascript">
        function ask_del() {
            if ($('entries_multiaction').value == "") {
                return;
            }
            if ($('entries_multiaction').value == "delete") {
                if (!confirm("{TXT_PARTNERS_ARE_YOU_SURE_TO_DELETE_LABELS}")) {
                    $('entries_multiaction').selectedIndex = 0;
                    return;
                }
            }
            $('entries_form').submit();
        }
    </script>
    <select onchange="ask_del();" name="multiaction" id="entries_multiaction">
        <option value="0"         >{TXT_MULTISELECT_SELECT}</option>
        <option value="delete"    >{TXT_SETTINGS_DELETE}</option>
        <option value="activate"  >{TXT_ACTIVATE_DESIGN}</option>
        <option value="deactivate">{TXT_PARTNERS_DEACTIVATE}</option>
    </select>
    <input type="submit" value="OK" style="display:none"/>
    </form>
</div>
<div class="categories" id="NewLabel" style="display:none">
    {NEWLABEL_FORM}
</div>

<div style="display: none">
    <!-- the following spans contain data used by javascript. We do this so
         we don't have to do ugly hacks trying to escape data javascript-style.
    -->
    <span id="js_text_ask_delete">{TXT_PARTNERS_DELETE_LABEL_QUESTION}</span>
    <script type="text/javascript">
        function delete_label(label_id) {
            var msg = $('js_text_ask_delete').innerHTML;
            if (confirm(msg)) {
                new Ajax.Request('index.php?cmd=partners&act=deletelabel', {
                    method: 'post',
                    parameters: {'id': label_id},
                    onSuccess: function(transport) {
                        if (transport.responseText == 'OK') {
                            var row = 'label_row' + label_id;
                            Effect.Fade(row);
                        }
                    }
                });
            }
            return false;
        }
    </script>
</div>
<!-- END list_labels.html -->
