<!-- START module_partners_settings.html -->
<form name="frmSettings" method="post" action="?cmd=partners&amp;act=saveSettings">
	<table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
		<tr>
			<th colspan="2">{TXT_GENERAL_TITLE}</th>
		</tr>
		<tr class="row2">
			<td width="15%">{TXT_SORT_TITLE}</td>
			<td width="85%">{PARTNERS_SETTINGS_ORDER_ACTIVE}<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_COMMENTS_ALLOW_SORT_HELP}</span></td>
		</tr>
	</table>
	<br />	
	<table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
		<tr>
			<th colspan="2">{TXT_IMAGE_TITLE}</th>
		</tr>
		<tr class="row2">
			<td width="15%">{TXT_WIDTH_TITLE}</td>
			<td width="85%">
                <input type="text" name="frmSettings_width" value="{PARTNERS_SETTINGS_WIDTH}"  maxlength="50" style="width:30%;"  />&nbsp;
                <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_COMMENTS_ALLOW_WIDTH_HELP}</span>
            </td>
		</tr>
		<tr class="row1">
			<td>{TXT_HEIGHT_TITLE}</td>
			<td>
                <input type="text" name="frmSettings_height" value="{PARTNERS_SETTINGS_HEIGHT}"  maxlength="50" style="width:30%;"  />&nbsp;
                <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_COMMENTS_ALLOW_HEIGHT_HELP}</span>
            </td>
		</tr>
  	</table>
	<br />
		<table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
		<tr>
			<th colspan="2">{TXT_IMAGE_LEVEL_TITLE}</th>
		</tr>
		<tr class="row2">
			<td width="15%">{TXT_WIDTH_TITLE}</td>
			<td width="85%">
                <input type="text" name="frmSettings_widthlevel" value="{PARTNERS_SETTINGS_WIDTH_LEVEL}"  maxlength="50" style="width:30%;"  />&nbsp;
                <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_COMMENTS_ALLOW_WIDTH_HELP_LEVEL}</span>
            </td>
		</tr>
		<tr class="row1">
			<td>{TXT_HEIGHT_TITLE}</td>
			<td>
                <input type="text" name="frmSettings_heightlevel" value="{PARTNERS_SETTINGS_HEIGHT_LEVEL}"  maxlength="50" style="width:30%;"  />&nbsp;
                <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_COMMENTS_ALLOW_HEIGHT_HELP_LEVEL}</span>
            </td>
		</tr>
  	</table>
  	<br />
  		<table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
		<tr>
			<th colspan="2">{TXT_IMAGE_CERT_TITLE}</th>
		</tr>
		<tr class="row2">
			<td width="15%">{TXT_WIDTH_TITLE}</td>
			<td width="85%">
                <input type="text" name="frmSettings_widthcert" value="{PARTNERS_SETTINGS_WIDTH_CERT}"  maxlength="50" style="width:30%;"  />&nbsp;
                <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_COMMENTS_ALLOW_WIDTH_HELP_CERT}</span>
            </td>
		</tr>
		<tr class="row1">
			<td>{TXT_HEIGHT_TITLE}</td>
			<td>
                <input type="text" name="frmSettings_heightcert" value="{PARTNERS_SETTINGS_HEIGHT_CERT}"  maxlength="50" style="width:30%;"  />&nbsp;
                <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_COMMENTS_ALLOW_HEIGHT_HELP_CERT}</span>
            </td>
		</tr>
  	</table>
  	<br />
   	<table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
		<tr>
			<th colspan="2">{TXT_ACTIVE_TITLE}</th>
		</tr>
		<tr class="row1">
			<td width="15%">{TXT_LEVEL_TITLE}</td>
			<td width="85%">{PARNTERS_ACTIVE_LEVEL}&nbsp;<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_COMMENTS_ALLOW_ACTIVE_HELP_LEVEL}</span></td>
		</tr>
		<tr class="row2">
			<td width="15%">{TXT_PROFILE_TITLE}</td>
			<td width="85%">{PARNTERS_ACTIVE_PROFILE}&nbsp;<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_COMMENTS_ALLOW_ACTIVE_HELP_PROFILE}</span></td>
		</tr>
		<tr class="row1">
			<td width="15%">{TXT_COUNTRY_TITLE}</td>
			<td width="85%">{PARNTERS_ACTIVE_COUNTRY}&nbsp;<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_COMMENTS_ALLOW_ACTIVE_HELP_COUNTRY}</span></td>
		</tr>
		<tr class="row2">
			<td width="15%">{TXT_VERTICAL_TITLE}</td>
			<td width="85%">{PARNTERS_ACTIVE_VERTICAL}&nbsp;<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_COMMENTS_ALLOW_ACTIVE_HELP_VERTICAL}</span></td>
		</tr>
		<tr class="row1">
			<td width="15%">{TXT_CERTIFICATE_TITLE}</td>
			<td width="85%">{PARNTERS_ACTIVE_CERTIFICATE}&nbsp;<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_COMMENTS_ALLOW_ACTIVE_HELP_CERTIFICATE}</span></td>
		</tr>

  	</table>
	<input type="submit" value="{TXT_SAVE}" name="frmSettings_submit" />
</form>
<!-- END module_partners_settings.html -->