<!-- START shop_settings.html -->
<script language="javascript" type="text/javascript">
<!-- //
function swapBlockStatus( div,status )
{
  if(status == 1)
  {
      document.getElementById( div ).style.display ='block';
  }
  else
  {
      document.getElementById( div ).style.display ='none';
  }
}

function swapBlock( div )
{
  displayType = ( document.getElementById( div ).style.display == 'none' ) ? 'block' : 'none';
  document.getElementById( div ).style.display = displayType;
}
// -->
</script>
<div id="subnavbar_level2">
<ul>
<li><a href="index.php?cmd=partners&amp;act=manageCategory" title="{TXT_CATEGORY}">{TXT_CATEGORY}</a></li>
{TXT_LEVEL}
{TXT_PROFILE}
{TXT_COUNTRY}
{TXT_VERTICAL}
</ul>
</div>
<br />{PARTNERS_SUBCATEGORY_FILE}
<br />
<!-- END shop_settings.html -->
