<!-- START list_partners.html -->
<script type="text/javascript" src="{PARTNERS_LABEL_JS_LOCATION}"></script>
<script type="text/javascript" src="{PARTNERS_POPUP_JS_LOCATION}"></script>
<script type="text/javascript" src="{PARTNERS_DROPDOWN_JS_LOCATION}"></script>
<script type="text/javascript" src="{PARTNERS_LABELBROWSER_JS_LOCATION}"></script>
<script type="text/javascript">
  LabelBrowser.config({'select_size': 1});
</script>

<ul id="tabmenu">
  <li><a title="{TXT_PARTNERS_SETTINGS_PARSE_BLOCKS}" onclick="selectTab('BlockParsing')" href="javascript:{}" class="active" id="categories_BlockParsing">{TXT_PARTNERS_SETTINGS_PARSE_BLOCKS}</a></li>
  <li><a title="{TXT_PARTNERS_SETTINGS_MISC}" onclick="selectTab('Misc')" href="javascript:{}" class="inactive" id="categories_Misc">{TXT_PARTNERS_SETTINGS_MISC}</a></li>
</ul>

<div class="categories" id="BlockParsing">
  <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
    <tr>
      <th colspan="3">{TXT_PARTNERS_LABELS}</th>
    </tr>
    <!-- BEGIN settings_parsing_labels -->
        <tr class="row3">
            <td><span style="font-weight: bold">{TXT_PARTNERS_LABEL} '{PARTNERS_ASSIGNABLELABEL}'</span></td>
            <td><span style="font-weight: bold;">{TXT_PARTNERS_BLOCK_TO_PARSE}</span></td>
            <td>&nbsp;</td>
        </tr>
        <!-- BEGIN settings_parsing_label_entry -->
        <tr class="{ROW_CLASS}">
            <td>{ENTRY_NAME}</td>
            <td>{ENTRY_BLOCK}</td>
            <td style="text-align: right">
                <form method="POST" id="drop_entry_{ENTRY_ID}"
                    action="index.php?cmd=partners&amp;act=settings&amp;do=drop_parse_entry">
                <input type="hidden" name="entry_id" value="{ENTRY_ID}"/>
                <img src="images/icons/delete.gif" onclick="$('drop_entry_{ENTRY_ID}').submit()"/>
                </form>
            </td>
        </tr>
        <!-- END settings_parsing_label_entry -->
        <tr>
            <form method="POST" action="index.php?cmd=partners&amp;act=settings&amp;do=new_parse_entry">
            <td>
                <input type="hidden" name="label_type" value="{TXT_PARTNERS_DD_NAME}" />
                <span style="font-weight: bold">{TXT_PARTNERS_NEW_ENTRY}</span><br/>
                {TXT_PARTNERS_LABEL_BROWSER}
            </td>
            <td>
                <br/>
                <input type="text" name="new_parseblock"/>
                <input type="submit" value="OK"/>
            </td>
            <td>&nbsp;</td>
            </form>
        </tr>
    <!-- END settings_parsing_labels -->

  </table>
</div>

<div class="categories" id="Misc" style="display:none">

    <form method="POST" action="index.php?cmd=partners&amp;act=settings&amp;do=misc">
      <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
        <tr>
            <th colspan="3">{TXT_PARTNERS_SETTINGS_MISC}</th>
        </tr>
        <tr class="row3">
            <td colspan="3"><b>{TXT_PARTNERS_SETTINGS_IMAGES}</b></td>
        </tr>
        <tr class="row1">
            <td style="width: 200px;">{TXT_PARTNERS_IMAGE_SCALE_WIDTH}</td>
            <td style="width: 400px;"><input style="width: 180px; " type="text" value="{PARTNERS_IMAGE_SCALE_WIDTH}" name="imagewidth"></td>
            <td> </td>
        </tr>

        <tr class="row3">
            <td colspan="3"><b>{TXT_PARTNERS_LABELS}</b></td>
        </tr>
        <tr class="row1">
            <td style="width: 200px;">{TXT_PARTNERS_HIDE_EMPTY_LABELS}</td>
            <td style="width: 400px;"><input type="checkbox" {PARTNERS_HIDE_EMPTY_CHECKED} value="1" name="hide_empty_labels"></td>
            <td> </td>
        </tr>
      </table>
      <p/>
      <input type="submit" value="{TXT_SAVE}"/>
    </form>
</div>
<!-- END list_partners.html -->
