<div id="subnavbar_level2">
  <ul>
    <li><a href="index.php?cmd=Config&amp;act=Wysiwyg" title="{TXT_CORE_WYSIWYG_ACT_WYSIWYG_TEMPLATE}">{TXT_CORE_WYSIWYG_ACT_WYSIWYG_TEMPLATE}</a></li>
    <li><a href="index.php?cmd=Config&amp;act=Wysiwyg&amp;tpl=Functions" title="{TXT_CORE_WYSIWYG_ACT_FUNCTIONS}">{TXT_CORE_WYSIWYG_ACT_FUNCTIONS}</a></li>
    <li><a href="index.php?cmd=Config&amp;act=Wysiwyg&amp;tpl=Settings" title="{TXT_CORE_WYSIWYG_ACT_SETTINGS}">{TXT_CORE_WYSIWYG_ACT_SETTINGS}</a></li>
  </ul>
</div>
<br />
{WYSIWYG_CONFIG_TEMPLATE}
