<table>
<!-- BEGIN objectRow -->
<tr>
	<td colspan="3" style="background-color: #f00"></td>
</tr>
<tr>
	<td>
		<p>{IMMO_HEADER}</p>
		<p>{IMMO_LOCATION}</p>
		<p>{TXT_IMMO_CURRENCY_PREFIX} {IMMO_PRICE} {TXT_IMMO_CURRENCY_SUFFIX} </p>
	</td>	
	<td>
		<p>{IMMO_REF_NR}</p>
		<p>{IMMO_HEADLINE}</p>
		<p><a href="{IMMO_LINK_DETAILS_HREF}"> {TXT_IMMO_MORE_INFOS} </a></p>		
	</td>	
	<td>
		<!-- BEGIN previewImage -->
			<img style="width: 60px; height: 60px;" title="{IMMO_HEADER}" alt="{IMMO_HEADER}" src="{IMMO_IMG_PREVIEW_SRC}" />
		<!-- END previewImage -->
	</td>	
</tr>
<!-- END objectRow -->
</table>
<div style="text-align: center;">
<a href="javascript:history.back()" alt="{TXT_IMMO_BACK}"> {TXT_IMMO_BACK} </a>
</div>
