<!-- start showObj --> <script type="text/javascript">
//<![CDATA[
	[[IMMO_DETAILS_JAVASCRIPT]]
	
//]]>
</script>
<div id="immo">
<table style="width: 100%;">
<!-- BEGIN basicData -->
<tbody>
<tr>
    <td class="center" colspan="2"> 
       <a href="javascript:void(0)" onclick="openPreview('[[IMMO_IMG_SRC]]', '[[IMMO_IMG_WIDTH]]', '[[IMMO_IMG_HEIGHT]]')">
         <img [[IMMO_IMG_DIM]] src="[[IMMO_IMG_SRC]]" title="[[IMMO_HEADER]]" alt="[[IMMO_HEADER]]" />
       <a/>
    </td>
</tr>
<tr>
    <td class="nowrap">
         <p>[[IMMO_HEADLINE]]</p>
         <p>[[IMMO_ADDRESS]] <br /> [[IMMO_LOCATION]] 
           <a href="javascript:void(0)" title="[[TXT_IMMO_SHOWMAP]]" onclick="openMap([[IMMO_ID]]);"> <br />[[TXT_IMMO_SHOWMAP]] </a><br />  
         </p>
     </td>
     <td>
      <p style="margin-left: 25px;">[[TXT_IMMO_PRICE_PREFIX]] [[IMMO_PRICE]][[TXT_IMMO_PRICE_SUFFIX]] </p>
     <ul> 		
         <!-- BEGIN listing -->
  	       <li> [[IMMO_LISTING]] </li>
         <!-- END listing --> 		
     </ul>
     <br />
    </td>
 </tr>
<tr>
	<td colspan="2">
		<p>[[IMMO_DESCRIPTION]]</p>
             <!-- BEGIN homepageLink --> 
                 <ul><li><a href="[[IMMO_HOMEPAGE_LINK]]" title="[[TXT_IMMO_HOMEPAGE_LINK]]"> [[TXT_IMMO_HOMEPAGE_LINK]]</a>&nbsp;</li></ul>
             <!-- END homepageLink -->
            <br />
	</td>
</tr>
    <!-- END basicData -->
<tr>
<td colspan="2"><h1>[[TXT_IMMO_SERVICE_LINKS]]</h1>  <a name="servicelinks" title="[[TXT_IMMO_SERVICE_LINKS]]"> </a>
</td>
</tr>
<tr>
<td width="50%">
<ul>
<li> <a href="#objdata"> [[TXT_IMMO_TO_OBJECTDATA]] </a></li>
<li> <a href="#links"> [[TXT_IMMO_TO_LINKS]] </a></li>
</ul>
</td>
<td width="50%">
<ul>
<li> <a href="#plans"> [[TXT_IMMO_TO_PLANS]] </a></li>
<li><a href="index.php?section=contact&cmd=3" title="[[TXT_IMMO_CONTACT_FORM]]"> [[TXT_IMMO_CONTACT_FORM]]</a>&nbsp; </li>
</ul>
<br />
</td>
</tr>
<tr>
	<td colspan="2">
		<h1>[[TXT_IMMO_PICTURES]]</h1>
	</td>
</tr>
</table>
<table style="width: 100%">
<!-- BEGIN panorama --> 
<tr>
 <td class="center" colspan="3">
  [[IMMO_FIELD_NAME]]
 </td>
</tr>
<tr>
 <td class="center" colspan="3"> 
  <a href="javascript:void(0)" onclick="openPreview('[[IMMO_IMG_SRC]]', '[[IMMO_IMG_WIDTH]]', '[[IMMO_IMG_HEIGHT]]')">
   <img [[IMMO_IMG_DIM]] src="[[IMMO_IMG_SRC]]" alt="[[IMMO_FIELD_CONTENT]]" title="[[IMMO_IMG_SRC]]"/>
  </a> 
 </td>  
</tr>
<tr>
 <td class="center" colspan="3">
  [[IMMO_FIELD_CONTENT]]
 </td>
</tr>
<!-- END panorama -->


<!-- BEGIN imageListRow -->  
<tr>
<!-- BEGIN imageList -->  
	<td class="center" style="width: 33%;">
            <!-- BEGIN anchor_plan_images -->
                 <a name="plans"> &nbsp; </a>
            <!-- END anchor_plan_images -->
		[[IMMO_FIELD_NAME]]<br />
		<a href="javascript:void(0)" onclick="openPreview('[[IMMO_IMG_SRC]]', '[[IMMO_IMG_WIDTH]]', '[[IMMO_IMG_HEIGHT]]')"><img [[IMMO_IMG_DIM]] src="[[IMMO_IMG_SRC]]" /></a><br />
	    [[IMMO_FIELD_CONTENT]]<br />
	</td> 
<!-- END imageList --> 
</tr>
<!-- BEGIN imageListHR --> 
<tr> 
	<td colspan="3">    
		<hr />   
	</td> 
</tr>
<!-- END imageListHR --> 
<!-- END imageListRow -->  
</table>
<br />
<table width="100%">
<tr>
    <td colspan="2">
		<h1>[[TXT_IMMO_OBJECTDATA]]</h1>
		<span style="float: right"><a href="#servicelinks" name="objdata" title="[[TXT_IMMO_OBJECTDATA]]">[[TXT_IMMO_GOTO_TOP]]</a></span>
	</td>
</tr>
<!-- BEGIN textList -->  
<tr>
	<td class="field">
		[[IMMO_FIELD_NAME]]
	</td>
	<td>
		[[TXT_IMMO_CURRENCY_PREFIX]] [[IMMO_FIELD_CONTENT]][[TXT_IMMO_CURRENCY_SUFFIX]]
	</td>
</tr>
<!-- BEGIN textListHR -->  
<tr> 
	<td colspan="2"> 
		<hr /> 
	</td> 
</tr>
<!-- END textListHR -->  
<!-- END textList -->
<tr><td colspan="2">&nbsp;</td></tr>
<tr>
    <td colspan="2">
		<h1>[[TXT_IMMO_LINKS]]</h1>
		<span style="float: right"><a href="#servicelinks" name="links" title="[[TXT_IMMO_LINKS]]">[[TXT_IMMO_GOTO_TOP]]</a></span>
	</td>
</tr>
<!-- BEGIN linkListRow -->  
<tr>
<!-- BEGIN linkList -->
	<td>	
		<img style="border: none; vertical-align: middle;" height="16px" width="16px" src="[[IMMO_LINK_ICON_SRC]]" alt="[[IMMO_FIELD_NAME]]" title="[[IMMO_FIELD_NAME]]" /><a href="[[IMMO_FIELD_CONTENT]]" title="[[IMMO_FIELD_NAME]]"> [[IMMO_FIELD_NAME]]  </a>
	</td>
<!-- END linkList -->
</tr>  
<!-- END linkListRow -->  
<tr><td colspan="2">&nbsp;</td></tr>
</tbody>
</table>

<br />
<br />

<!--
<div style="float: right;">
  <a href="javascript:history.back()" title="[[TXT_IMMO_BACK]]"> [[TXT_IMMO_BACK]] </a>
</div>        
-->
<div style="float: right;">
  <a href="index.php?section=contact&cmd=3" title="[[TXT_IMMO_CONTACT_FORM]]"> [[TXT_IMMO_CONTACT_FORM]]</a>&nbsp;
</div>

<div>
  <a href="javascript:print();"> <img style="border: 0px;vertical-align: middle;" src="images/content/print.gif" alt="[[TXT_IMMO_PRINT_PAGE]]" title="[[TXT_IMMO_PRINT_PAGE]]" /> [[TXT_IMMO_PRINT_PAGE]] </a>
</div>
<br />

</div><!-- //end div id=immo -->
