<!-- BEGIN map -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Map</title>
<style type="text/css">
.immomap {
   color: black;
   font-size: 11px;
   font-family: verdana;
}
div.immomap a {
   color: black;
   text-decoration: underline;
}
</style>

<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key={IMMO_GOOGLE_API_KEY}" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[

var startX = {IMMO_START_X};
var startY = {IMMO_START_Y};
var startZoom = {IMMO_START_ZOOM};
var immoLang = {IMMO_LANG};
var txtLook = "{IMMO_TXT_LOOK}";

var sIcon = null;
var cIcon = null;
var map = null;
var geocoder = null;

var markers = new Array();

<!-- BEGIN setmarker -->
markers[{IMMO_KEY_NUMBER}] = new Array();
markers[{IMMO_KEY_NUMBER}]['lat'] = {IMMO_MARKER_LAT};
markers[{IMMO_KEY_NUMBER}]['long'] = {IMMO_MARKER_LONG};
markers[{IMMO_KEY_NUMBER}]['message'] = "{IMMO_MARKER_MSG}";
markers[{IMMO_KEY_NUMBER}]['id'] = {IMMO_MARKER_ID};
markers[{IMMO_KEY_NUMBER}]['logo'] = "{IMMO_MARKER_LOGO}";
<!-- END setmarker -->

var loadMap = function() {
	if (GBrowserIsCompatible()) {
		map = new GMap2(document.getElementById("gmap"));
		map.addControl(new GLargeMapControl());
    	map.addControl(new GMapTypeControl());
		map.addControl(new GOverviewMapControl(new GSize(200,100)));
		map.setCenter(new GLatLng(startX, startY), startZoom);
		//sIcon = new GIcon(G_DEFAULT_ICON, "");
		//cIcon = new GIcon(G_DEFAULT_ICON, "");
		//sIcon.iconSize = new GSize(47, 35);
		//cIcon.iconSize = new GSize(47, 35);
	    //sIcon.shadowSize = new GSize(0, 0);
		//cIcon.shadowSize = new GSize(0, 0);
		//sIcon.shadow = "";
		//cIcon.shadow = "";
        //sIcon.imageMap = [0,1,13,37,38,28,34,7];
        //cIcon.imageMap = [0,1,13,37,38,28,34,7];
		// Set markers
		for (var i = 0; i < markers.length; i++) {
			map.addOverlay(createMarker(i));
		}
		//change to hybrid mode
		gMapType = map.getMapTypes();
        map.setMapType(gMapType[2]);  // [0] map [1] satellite [2] hybrid

        // remove overlays on click
        GEvent.addListener(map, "click", function(overlay, point) {
          if (overlay == null){
            map.closeInfoWindow();
          }
        });

    	//switch maptype to normal if zoom bigger than 14 (no images available for this zoom location)
    	//else show hybrid

        GEvent.addListener(map, "zoomend", function() {
    	    zoom = map.getZoom();
			if(zoom > 14){
				map.setMapType(gMapType[0]);
			}else{
				map.setMapType(gMapType[2]);
			}
    	});
	}
}

var createMarker = function(i) {
	var point = new GLatLng(markers[i]['long'], markers[i]['lat']);
	var message = createMessage(i);
	//custom icons can be set here, different ones as well
	/*var icon = null;
	if (markers[i]['logo'] == 1) {
		icon = sIcon;
	} else {
		icon = cIcon;
	}*/
	//var house = new GMarker(point, icon);
	var house = new GMarker(point);
	GEvent.addListener(house, "click", function() {
		house.openInfoWindowHtml(message);
	});
	return house;
}

var createMessage = function(id) {
	var message = markers[id]['message'];
	var id = markers[id]['id'];
	return "<div class=\"immomap\">"+message+"<p><a href=\"javascript:showObj("+id+");\">"+txtLook+"<\/a><\/p><\/div>";
}

var showObj = function(id){
	if(!opener){
		top.location.href='index.php?section=immo&{CSRF_PARAM}&cmd=showObj&immoLang='+immoLang+"&id="+id;
	}else{
		opener.top.location.href='index.php?section=immo&{CSRF_PARAM}&cmd=showObj&immoLang='+immoLang+"&id="+id;
		window.close();
	}
}

//]]>
</script>
</head>
<body onload="loadMap();">
<!-- BEGIN small -->
<div id="gmap" style="width: 535px; height: 600px"></div>
<!-- END small -->

<!-- BEGIN big -->
<div id="gmap" style="width: 810px; height: 600px"></div>
<!-- END big -->

</body>
</html>
<!-- END map -->
