#wrapper_header {
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #6983B6;
}

#header {
	margin: 0 auto;
	padding: 0;
	width: 970px;
	height: 70px;
	background-color: #173A8B;
	position:relative;
}

#header_title {
	top:22px;
	position:absolute;
	margin-left:16px;
}

#header_links {
	right:6px;
	top:15px;
	position:absolute;
	margin: 0;
	padding: 0;
}

#header_links ul {
	margin: 0;
	padding: 0;
}

#header_links .search div {
	padding-right:0.5em;
	padding-left:0.5em;
	background-color:#6983B6;
}

#lang_navigation {
	margin: 0;
	padding: 4px 28px 4px 8px;
	width: auto !important;
	float:left;
	height: auto !important;
	background-color: #173A8B;
	border-top:1px solid #6983B6;
	border-bottom:1px solid #6983B6;
	border-left:1px solid #6983B6;
	border-right:1px solid #6983B6;
	z-index: 99;
}

#wrapper_navigation {
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #F4F4F2;
	border-bottom:1px solid #C6C6C6;
	border-top:1px solid #C6C6C6;
}

#navigation {
	margin: 0 auto;
	padding: 0;
	width: 969px;
	height: 29px;
	position:relative;
	border-left:1px solid #c6c6c6;
	background-image:url(images/header_navigation_bg.gif);
	background-position:left top;
	background-repeat:repeat-x;
}

#wrapper_banner {
	margin: 0;
	padding: 0;
	width: 100%;
}

#banner {
	margin: 0 auto;
	padding: 0;
	width: 970px;
	height: 244px;
	position:relative;
	background-image:url("images/frontpage_new.jpg");
	background-position:center center;
	background-repeat:no-repeat;
}

#banner_text {
	top:40px;
	left:540px;
	width: 370px;
	height: 105px;
	position:absolute;
	font-size:1.4em;
	color:#000000;
	line-height:1.2;
}

#wrapper_content {
	margin: 0 auto;
	padding: 0;
	width: 970px;
}

#content {
	margin: 0;
	padding: 0;
	width: 968px;
	position:relative;
	float:left;
	height: auto !important;
	border-left:1px solid #C6C6C6;
	border-right:1px solid #C6C6C6;
	background-color:#FFFFFF;
}

#wrapper_footer {
	margin: 0;
	padding: 0;
	width: 100%;
}

#footer {
	margin: 0 auto;
	padding: 0;
	width: 970px;
	height: 48px;
	position:relative;
	background-color: #6983B6;
}

#footer_inside {
	margin: 0;
	padding: 0;
	width: 961px;
	height: 29px;
	position:absolute;
	bottom: 0px;
	border-top:1px solid #ffffff;
	background-color: #173A8B;
	padding-top:12px;
	padding-right:9px;
	text-align:right;
	color:#CFEDFF;
}

#wrapper_copyright_powered {
	margin: 0 auto;
	padding: 10px 0 15px 0;
	width: 970px;
	color:#9F9F9F;
	font-size: 11px;
}

#copyright {
	float:left;
	width: 485px;
        text-align: left;
}

#powered {
	float:left;
	width: 485px;
        text-align: right;
}

