/***************************************************/
/* CSS GLOBAL DEFINITIONS FOR FORMS IN MODULES     */
/***************************************************/

form p {
    width: 300px;
    clear: left;
    margin: 0;
    padding: 2px 0 3px 0;
    padding-left: 190px;
    height: 1%;
}

form p label.description {
    font-weight: normal;
    float: left;
    margin: 0px 0px 0px 10px;
    padding:  0px 0px 0px 0px;
}

form p label.noCaption {
    float: left;
    width: 180px;
    margin-left: 2px;
    margin-top: 2px;
}


form p label, form  p span {
    font-weight: bold;
    float: left;
    margin-left: -190px;
    width: 180px;
    margin-top: 7px;
}


/***************************************************/
/* CSS GLOBAL DEFINITIONS FOR TABELS IN MODULES    */
/***************************************************/

table {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
        border-spacing: 0px;
        width: 100%;
}

table th {
	padding: 4px 5px 4px 5px;
	margin: 0px 0px 0px 0px;
	font-weight: bold;
	background-color: #f5f5f5;
	border: 0px;
	border-right: 1px solid #ffffff;
	border-bottom: 1px solid #E6E6E6;
        text-align: left;
}

table tr.row2 {
	background-color: #F9F9F9;
}

table tr.row1 {
	background-color: #ffffff;
}

table  td {
	padding: 3px 5px 3px 5px;
	margin: 0px 0px 0px 0px;
	border: 0px;
	border-bottom: 1px solid #E6E6E6;
	border-right: 1px solid #ffffff;
	border-spacing: 0px;
	vertical-align:top;
}


/***************************************************/
/* CSS GLOBAL DEFINITIONS FOR LAYER RWO CLASS     */
/***************************************************/


div.row_1 {
	background-color: #f9f9f9;
	border-bottom: 1px solid #E6E6E6;
}

div.row_2 {
	background-color: #ffffff;
	border-bottom: 1px solid #E6E6E6;
}


/***************************************************/
/* CSS DEFINITIONS FOR VOTING MODULE               */
/***************************************************/

#voting {
	width: 100%;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	float:left;
	height:auto !important;
}

#voting div.form, 
#voting div.voting,
#voting div.votes,
#voting div.archive{
	width: 100%;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 15px 0px;
	float:left;
}

#voting div.message{
	color: #ff0000;
	width: 100%;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	float:left;
}

#voting input[type=radio],  
#voting  input.radio{
        float: none;
}


/***************************************************/
/* CSS DEFINITIONS FOR GALLERY MODULE              */
/***************************************************/

#gallery div.category_tree,
#gallery div.category_comment,
#gallery div.category_images,
#gallery div.show_image,
#gallery div.image_navigation,
#gallery div.category_paging {
	width: 100%;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 15px 0px;
	float:left;
	height:auto !important;
}

#gallery div.category_image,
#gallery div.category_informations {
	float: left;
	height:auto !important;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

#gallery div.category_informations h2 {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

#gallery div.image_voting, 
#gallery div.image_comment {
	float: left;
	height:auto !important;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	width: 100%;
}

#gallery div.category {
	width: 100%;
	padding: 10px 0px 10px 0px;
	margin: 0px 0px 0px 0px;
	float:left;
	height:auto !important;
}

#gallery div.category_images div.image {
	width: 33%;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	text-align:left;
	float: left;
}

#gallery div.show_image img, #gallery div.category_image img, #gallery div.category_images img{
	margin: 0px 15px 0px 0px;
}

#gallery div.show_image, #gallery div.image_navigation {
	text-align: center;
}