#navigation ul{
	width: 969px;
	padding: 0;
	margin: 0;
}

#navigation li{
	float:left;
	list-style: none;
	padding: 0;
	margin: 0;
}

#navigation li.login, #navigation li.logout, #navigation li.register, #navigation li.user{
	float:right;
}

#navigation a.login{
	padding-left:36px;
	background-image:url("images/header_navigation_login.jpg");
	background-position:left center;
	background-repeat:no-repeat;
	border-left:1px solid #c6c6c6;
}

#navigation a.login:hover, #navigation a.login.active {
	background-image:url("images/header_navigation_login_active.jpg");
	background-position:left center;
	background-repeat:no-repeat;
}

#navigation a.logout{
	padding-left:36px;
	background-image:url("images/header_navigation_login.jpg");
	background-position:left center;
	background-repeat:no-repeat;
}

#navigation a.logout:hover, #navigation a.logout.active {
	background-image:url("images/header_navigation_login_active.jpg");
	background-position:left center;
	background-repeat:no-repeat;
}

#navigation a.register {
	padding-left:36px;
	background-image:url("images/header_navigation_register.jpg");
	background-position:left center;
	background-repeat:no-repeat;
}

#navigation a.register:hover, #navigation a.register.active {
	background-image:url("images/header_navigation_register_active.jpg");
	background-position:left center;
	background-repeat:no-repeat;
}

#navigation a.user {
	padding-left:36px;
	background-image:url("images/header_navigation_user.jpg");
	background-position:left center;
	background-repeat:no-repeat;
	border-left:1px solid #c6c6c6;
}

#navigation a.user:hover, #navigation a.user.active {
	background-image:url("images/header_navigation_user_active.jpg");
	background-position:left center;
	background-repeat:no-repeat;
}

#navigation a {
	display:block;
	padding:8px 18px 9px 18px;
	border-right:1px solid #c6c6c6;
	font-weight:bold;
	text-decoration:none;
	color:#808080;
	line-height:1;
}

#navigation a:hover, #navigation a.active{
	background-image:url(images/header_navigation_active.gif);
	background-position:left top;
	background-repeat:repeat-x;
	color:#333333;
}


#left_navigation ul{
	width: 240px;
	padding: 0 0 1px 0;
	margin: 0;
	background-image:url(images/left_navigation_bg.gif);
	background-position:bottom;
	background-repeat:no-repeat;
}

#left_navigation li{
	list-style: none;
	padding: 0;
	margin: 0;
}

#left_navigation li a {
	display:block;
	padding:9px 6px 8px 18px;
	text-decoration:none;
	color:#808080;
	line-height:1;
	font-weight: bold;
	border-top: 0px solid #E6E6E6;
	background-image:url(images/left_navigation_inactive_bg.gif);
	background-position:right top;
	background-repeat:no-repeat;
}

#left_navigation a:hover {
	color:#FF8000;
	background-color: #E9E9E9;
	background-image:url(images/left_navigation_hover_bg.gif);
	background-position:right top;
	background-repeat:no-repeat;
	font-weight: bold;
}

#left_navigation a.active {
	color:#FF8000;
	background-color: #E9E9E9;
	background-image:url(images/left_navigation_active_bg.gif);
	background-position:right top;
	background-repeat:no-repeat;
	font-weight: bold;
}

#left_navigation li.level_3 a {
	display:block;
	padding:5px 6px 5px 36px;
	text-decoration:none;
	background-image:none;
	color:#808080;
	line-height:1;
	font-size: 0.9em;
	border-top: 0px solid #c6c6c6;
	font-weight: normal;
}

#left_navigation li.level_3 a:hover,
#left_navigation li.level_3 a.active {
	color:#FF8000;
	background-color: #E9E9E9;
	background-image:url(images/left_navigation_hover_bg.gif);
	background-position:right center;
	background-repeat:no-repeat;
	font-weight: normal;
}

#left_navigation li.level_4 a {
	display:block;
	padding:5px 6px 5px 54px;
	text-decoration:none;
	background-image:none;
	color:#808080;
	line-height:1;
	font-size: 0.9em;
	border-top: 0px solid #c6c6c6;
	font-weight: normal;
}

#left_navigation li.level_4 a:hover,
#left_navigation li.level_4 a.active {
	color:#FF8000;
	background-color: #E9E9E9;
	background-image:url(images/left_navigation_hover_bg.gif);
	background-position:right center;
	background-repeat:no-repeat;
	font-weight: normal;
}

#shopJsCart ul{
	width: 240px;
	padding: 0 0 1px 0;
	margin: 0;
	background-image:url(images/left_navigation_bg.gif);
	background-position:bottom;
	background-repeat:no-repeat;
}

#shopJsCart li{
	list-style: none;
	padding: 0;
	margin: 0;
}

#shopJsCart li a.title {
	display:block;
	padding:9px 6px 8px 36px;
	text-decoration:none;
	color:#808080;
	line-height:1;
	font-weight: bold;
	background-image:url(images/left_navigation_shop_cart_b.gif);
	background-position:right top;
	background-repeat:no-repeat;
}

#shopJsCart li.product {
	display:block;
	padding:5px 6px 5px 36px;
	text-decoration:none;
	background-image:none;
	color:#808080;
	line-height:1;
	font-size: 0.9em;
	border-top: 0px solid #c6c6c6;
	font-weight: normal;
	margin-bottom: 0px;
}

#shopJsCart li.total {
	display:block;
	padding:9px 6px 8px 36px;
	text-decoration:none;
	color:#808080;
	line-height:1;
	background-image:url(images/left_navigation_shop_total.gif);
	background-position:right top;
	background-repeat:no-repeat;
}

#shopJsCart li.link a{
	display:block;
	padding:5px 6px 5px 36px;
	text-decoration:none;
	background-image:none;
	color:#808080;
	line-height:1;
	font-size: 0.9em;
	border-top: 0px solid #c6c6c6;
	font-weight: normal;
}

#shopJsCart li.link a:hover{
    display:block;
	padding:5px 6px 5px 36px;
	text-decoration:none;
	color:#FF8000;
	background-color: #E9E9E9;
	background-image:url(images/left_navigation_hover_bg.gif);
	background-position:right center;
	background-repeat:no-repeat;
	font-weight: normal;
	font-size: 0.9em;
}

#shop_navigation ul{
	width: 240px;
	padding: 0 0 1px 0;
	margin: 0;
	background-image:url(images/left_navigation_bg.gif);
	background-position:bottom;
	background-repeat:no-repeat;
}

#shop_navigation li{
	list-style: none;
	padding: 0;
	margin: 0;
}

#shop_navigation li a.title {
	display:block;
	padding:9px 6px 8px 36px;
	text-decoration:none;
	color:#808080;
	line-height:1;
	font-weight: bold;
	background-image:url(images/left_navigation_shop_catego.gif);
	background-position:right top;
	background-repeat:no-repeat;
}

#shop_navigation li.shopnavbar1 a {
	display:block;
	padding:5px 6px 5px 36px;
	text-decoration:none;
	background-image:none;
	color:#808080;
	line-height:1;
	font-size: 0.9em;
	border-top: 0px solid #c6c6c6;
	font-weight: normal;
}

#shop_navigation li.shopnavbar1 a:hover,
#shop_navigation li.shopnavbar1_active a {
    display:block;
	padding:5px 6px 5px 36px;
	text-decoration:none;
	color:#FF8000;
	background-color: #E9E9E9;
	background-image:url(images/left_navigation_hover_bg.gif);
	background-position:right center;
	background-repeat:no-repeat;
	font-weight: normal;
	font-size: 0.9em;
}

#shop_navigation li.shopnavbar2 a {
	display:block;
	padding:5px 6px 5px 44px;
	text-decoration:none;
	background-image:none;
	color:#808080;
	line-height:1;
	font-size: 0.9em;
	border-top: 0px solid #c6c6c6;
	font-weight: normal;
}

#shop_navigation li.shopnavbar2 a:hover,
#shop_navigation li.shopnavbar2_active a {
    display:block;
	padding:5px 6px 5px 44px;
	text-decoration:none;
	color:#FF8000;
	background-color: #E9E9E9;
	background-image:url(images/left_navigation_hover_bg.gif);
	background-position:right center;
	background-repeat:no-repeat;
	font-weight: normal;
	font-size: 0.9em;
}

#shop_currencies  a {
	padding: 0 10px 0 0;
	margin: 0;
	height: auto !important;
	font-weight: bold;
	color:#808080;
}

#shop_currencies  a:hover,
#shop_currencies  a.active {
	color:#FF8000;
}