@import url(layout.css);
@import url(layout_home.css);
@import url(layout_content.css);
@import url(navigation.css);
@import url(text.css);
@import url(modules.css);

html {
   height: 100%;
   margin: 0px;
   padding: 0px;
} 

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #F9F9F9;
	font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
	font-size:0.75em;
	color:#333333;
	line-height:1.5;
}