/* Global Style */
h1, h2, h3, h4, h5, h6 { font-family:Helvetica, Arial, sans-serif;font-weight:normal;}
h1{margin-top:0.0em;margin-bottom:0.25em;font-size:2.1em;}
h2{margin-bottom:0.4em;font-size:1.75em;}
h3{margin-bottom:0.65em;font-size:1.5em;}


a, a:hover, a:link  {
	outline-style:none;
}

a {
	color: #173A8B;
	text-decoration: none;
}

#powered a {
	color: #9F9F9F;
	text-decoration: none;
}

a:hover {
	color: #148ED9;
	text-decoration: none;
}

a.out {
	padding-left:18px;
	background-image:url(images/link_out_bg.gif);
	background-position:left center;
	background-repeat:no-repeat;
}

form  {
	margin:0;
	padding:0;
}

fieldset{
	margin:0em 0em 1.5em 0em;
	padding:1.4em;
	border:1px solid #c6c6c6;
}

legend{
	font-weight:bold;
	font-size:1.2em;
}

img {
	border:0;
}

table {
	width: 100%;
}

table th {
	text-align: left;
}

table td.none {
	border: 0px solid #000000;
}

.clear { clear:both;}
.block { overflow:hidden; }


/* Header Title Style */
#header_title a{
	font-size:1.6em;
	color:#ffffff;
	text-decoration:none;
}

/* Header Search Style */
#header_links li{
	float:left;
	padding:12px 9px;
	list-style: none;
}

#header_links li.lang{
	float:left;
	padding:12px 9px 12px 9px;
	list-style: none;
	background-image:url(images/world.gif);
	background-position: right center;
	background-repeat:no-repeat;
}

#header_links li.lang a{
	padding-right:25px;
}


#lang_navigation a {
	text-decoration:none;
	color:#CFEDFF;
	padding: 0px 0px 0px 22px;
}

#lang_navigation a.de {
	background-image:url(images/flag_de.gif);
	background-position: left center;
	background-repeat:no-repeat;
}

#lang_navigation a.en {
	background-image:url(images/flag_en.gif);
	background-position: left center;
	background-repeat:no-repeat;
}

#lang_navigation a.fr {
	background-image:url(images/flag_fr.gif);
	background-position: left center;
	background-repeat:no-repeat;
}

#header_links, #header_links a{
	text-decoration:none;
	color:#CFEDFF;
}

#header_links a:hover, #lang_navigation a:hover{
	color:#ffffff;
}

#header_links .search{
	padding:6px 9px;
}

#header_links .search input.search_input{
	width:140px;
	margin-top:0.3em;
	margin-right:0.1em;
	margin-bottom:0.3em;
	padding:1px;
	background-color:#f6f6f6;
	border:1px solid #c6c6c6;
	background:#f6f6f6 url(images/search_input_bg.gif) no-repeat 2px;
	padding-left: 24px;
}

#header_links .search input.search_input:focus{
	background-color:#ffffdd;
	border:1px solid #173A8B;
}

#header_links .search input.search_button{
	margin-top:6px;
	padding-right:0;
	padding-left:0;
	vertical-align:top;
}

/* Footer Inside Style */
#footer_inside a{
	text-decoration:none;
	color:#CFEDFF;
}
#footer_inside a:hover{
	color:#ffffff;
	text-decoration:none;
}

/* Box Style */
.box {
	float:left;
	clear:both;
	padding:0px;
	margin:0px;
	margin-bottom:30px;
	background-color:#f9f9f9;
	border:1px solid #c6c6c6;
}

.box h1{
	margin:0;
	padding:6px;
	background-color:#f0f0f0;
	font-weight:bold;
	font-size:1.2em;
	line-height:1;
}

.box h2 {
	margin:0;
	margin:0px;
	margin-bottom:0;
	font-size:1.2em;
}

.box div.content{
	border-top:1px solid #c6c6c6;
	margin:0;
	padding:6px;
}

.box  p.date{
	padding:0px;
	margin:0px;
	font-size:0.9em;
	color:#808080;
	margin-bottom:0.25em;
	margin-top:0.25em;
}

.box  p.more{
	padding:0px;
	margin:0px;
	font-size:0.9em;
	margin-bottom:0.25em;
	margin-top:0.0em;
	text-align:right;
}

/* Accordeon style */
.accordion_content{
	clear:both;
	width: 290px;
}

h2.toggler{
	padding:3px 6px 3px 6px;
	margin:0;
	background-color:#fdfeff;
	background-image:url(images/toggler_accordeon_bg.jpg);
	background-position:left bottom;
	background-repeat:repeat-x;
	border-top:1px solid #dfdfdf;
	border-bottom:1px solid #dfdfdf;
	cursor:pointer;
}

.accordion_content .toggler h2{
	font-weight:normal;
	font-size:1.2em;
	line-height:1;
}

.accordion_content .accordion div{
}

/* Content form style */

#frame_content_right input,
#frame_home input,
#boxes_home input {
	width:260px;
	margin:0.25em 0.25em 0.25em 0em;
	padding:4px;
	background-color:#f6f6f6;
	border:1px solid #c6c6c6;
}

* html #frame_content_right input,
#frame_home input,
#boxes_home input {
        width:auto;
	margin:0.25em 0.25em 0.25em 0em;
	padding:4px;
	background-color:#f6f6f6;
	border:1px solid #c6c6c6;
        float: left;
}


#frame_content_right input[type=submit],
#frame_content_right input[type=button],
#frame_content_right input[type=reset],
#frame_home input[type=submit],
#frame_home input[type=button],
#frame_home input[type=reset],
#boxes_home input[type=submit],
#boxes_home input[type=button],
#boxes_home input[type=reset],
input.submit,
input.button,
input.reset{
	width:auto;
	margin:0.25em 0.25em 0.25em 0em;
	padding:4px 10px 4px 10px;
	background-color:#f6f6f6;
	border:1px solid #c6c6c6;
}

#frame_content_right input[type=checkbox],
#frame_content_right input[type=radio],
#frame_home input[type=checkbox],
#frame_home input[type=radio],
#boxes_home input[type=checkbox],
#boxes_home input[type=radio],
input.checkbox,
input.radio{
	width:auto;
	margin:0.25em 0.25em 0.25em 0em;
	padding:4px 15px 4px 15px;
	background-color:#f6f6f6;
	border:1px solid #c6c6c6;
        float: left;
}

#frame_content_right select,
#frame_home select,
#boxes_home select {
	width:270px;
	margin:0.25em 0.25em 0.25em 0em;
	padding:4px 4px 4px 4px;
	background-color:#f6f6f6;
	border:1px solid #c6c6c6;
}

#frame_content_right textarea,
#frame_home textarea,
#boxes_home textarea {
	width:260px;
	margin:0.25em 0.25em 0.25em 0em;
	padding:4px;
	background-color:#f6f6f6;
	border:1px solid #c6c6c6;
	font-size:1.0em;
	height: 60px;
	font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
}

#frame_content_right input:focus,
#frame_content_right select:focus,
#frame_content_right textarea:focus,
#frame_home input:focus,
#frame_home select:focus,
#frame_home textarea:focus,
#boxes_home input:focus,
#boxes_home select:focus,
#boxes_home textarea:focus {
	background-color:#ffffdd;
	border:1px solid #173A8B;
}
