/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}
/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {margin-bottom: 0; position: relative; display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}
/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}
/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}
/* FlexSlider Default Theme
*********************************/
.flexslider {margin: 0; position: relative; zoom: 1;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}
.carousel li {margin-right: 5px}
/* Direction Nav */
.flexslider-wrapper .flex-direction-nav {*height: 0;}
.flexslider-wrapper .flex-direction-nav li {margin-bottom: 0;}
.flexslider-wrapper .flex-direction-nav a {width: 50px; height: 100px; margin: -50px 0 0; display: block; position: absolute; top: 50%; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .2s ease; -moz-transition: all .2s ease; -o-transition: all .2s ease; transition: all .2s ease;}
.flexslider-wrapper .flex-direction-nav .flex-next {background: #444 url(images/slider-arrow-r.png) no-repeat center center; right: -50px; }
.flexslider-wrapper .flex-direction-nav .flex-prev {background: #444 url(images/slider-arrow-l.png) no-repeat center center; left: -50px;}
.flexslider-wrapper .flexslider:hover .flex-next {opacity: 0.6; right: 0;}
.flexslider-wrapper .flexslider:hover .flex-prev {opacity: 0.6; left: 0;}
.flexslider-wrapper .flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: .9;}
.flexslider-wrapper .flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}
/* ie8 */
.ie8 .flexslider-wrapper .flex-direction-nav .flex-next {right: 0px; display: none;}
.ie8 .flexslider-wrapper .flex-direction-nav .flex-prev {left: 0px; display: none;}
.ie8 .flexslider-wrapper .flexslider:hover .flex-next {display: block;}
.ie8 .flexslider-wrapper .flexslider:hover .flex-prev {display: block;}
/* Control Nav */
.flex-control-nav {position: absolute; height: 10px; display: block; top: 10px; right: 10px; text-align: center;}
.flex-control-nav li {margin: 0; display: block; float: left; zoom: 1; *display: inline;}
.flex-control-paging li a {background: #fff url(images/pattern-line.png); width: 15px; height: 10px; margin-left: 2px; display: block; cursor: pointer; text-indent: -9999px;}
.flex-control-paging li a:hover { background: #5a5a5a; }
.flex-control-paging li a.flex-active { cursor: default; }
.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}
.flex-caption {background: url(images/caption-bg.png); zoom: 1; bottom: 0;font-size: 12px;left: 0;line-height: 18px; padding: 10px 20px;position: absolute;}
/* Caption*/
.flex-caption {background: url(images/caption-bg.png); zoom: 1; bottom: 0;font-size: 12px;left: 0;line-height: 18px; padding: 10px 20px;position: absolute;}
.flex-caption p {margin-bottom: 0; color: #eee;}
.flex-caption a {font-weight: bold; color: #fff;}
.flex-caption a:hover {text-decoration: underline; color: #fff;}
