/* Start CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* End CSS Reset */
body {
    font: 13px/19px "Helvetica Neue", Arial, sans-serif;
}
a {
    color: #066196;
    text-decoration: none;
}
a:hover {
    color: #323F55;
}
b,
strong {
    font-weight: bold;
}
ul.horizontal-list li {
    float: left;
    padding: 0 10px 0 0;
    margin: 0 10px 0 0;
    background: url('images/divider.gif') no-repeat right 7px;
}
ul.horizontal-list li.last {
    padding: 0 !important;
    margin: 0 !important;
    background: none !important;
}
h1.first {
    padding-top: 0;
}
h2 {
    font-size: 22px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 17px;
}
h5 {
    font-size: 16px;
}
h6 {
    font-size: 12px;
    line-height: 1.4em;
    margin-bottom: 1.5em;
    padding-bottom: 1.2em;
}
input,
button,
select,
textarea {
    width: 300px;
    padding: 12px;
    margin: 0;
    color: #7D7D7D;
    font-family: Arial;
    border: 1px solid #DDDDDD;
    background: #FFFFFF;
    outline: 0;
}
select {
    width: 300px;
    padding: 6px 6px 7px 6px;
}
input:hover,
input:focus,
select:hover,
select:focus,
textarea:hover,
textarea:focus {
    border: 1px solid #AAAAAA;
    outline: 0;
}
input[type=submit],
input[type=button],
input[type=reset],
input[type=radio],
input[type=checkbox],
button {
    width: auto;
}
input[type=radio] {
    float: left;
    margin: 3px 10px 3px 0;
}
input[type=checkbox] {
    float: left;
    margin: 4px 10px 4px 0;
}
input[type=text] {
    line-height: 17px;
}
button,
input[type=submit],
input[type=button],
input[type=reset] {
    padding: 8px 10px 7px 10px;
    color: #FFFFFF;
    font-size: 13px;
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-weight: bold;
    line-height: 17px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    border: medium none !important;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    background: #FF6D11;
    transition: background 0.2s ease 0s;
    -moz-transition: background 0.2s ease 0s;
    -webkit-transition: background 0.2s ease 0s;
    -o-transition: background 0.2s ease 0s;
}
button[disabled=disabled],
input[disabled=disabled] {
    opacity: 0.6;
    cursor: default;
}
.ie7 button,
.ie8 button {
    border: 1px solid #DDDDDD;
}
/*button:hover,
input[type=submit]:hover,
input[type=reset]:hover {
    background: none repeat scroll 0 0 #A8A8A8;
}*/
button[disabled=disabled]:hover,
input[disabled=disabled]:hover {
    background: #F5F5F5;
}
legend {
    padding: 0 5px 0 5px;
    font-size: 18px;
    display: none !important;
}
fieldset {
}
#contactForm input {
    border: 1px solid #DDDDDD ;
}
#contactForm input, #contactForm textarea {
    font-size: 12px ;
    margin-bottom: 0 ;
    padding: 12px ;
}
#contactForm input.contactFormClass_button {
    border: medium none !important;
    padding: 10px 20px;
    -moz-transition: background 0.2s ease 0s;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.2);
    background: none repeat scroll 0 0 #FF6D11;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase;
    font-family: "Helvetica Neue",Arial,sans-serif;
}
#contactForm input.contactFormClass_button:hover {
    background: none repeat scroll 0 0 #A8A8A8;
}
#contactForm input:hover, #contactForm input:focus, #contactForm textarea:hover, #contactForm textarea:focus {
    border: 1px solid #AAAAAA;
}
