{FAVORITELIST_FAVORITE_LIST}
<!-- BEGIN favoritelist_favorite_list_actions -->
<div class="btn-group" role="group" aria-label="List actions">
    <a class="btn btn-default" href="{FAVORITELIST_ACT_MAIL_LINK}" role="button">{TXT_MODULE_FAVORITELIST_ACT_MAIL}</a>
    <a class="btn btn-default" href="{FAVORITELIST_ACT_PRINT_LINK}" role="button">{TXT_MODULE_FAVORITELIST_ACT_PRINT}</a>
    <a class="btn btn-default" href="{FAVORITELIST_ACT_RECOMMENDATION_LINK}" role="button">{TXT_MODULE_FAVORITELIST_ACT_RECOMMENDATION}</a>
    <a class="btn btn-default" href="{FAVORITELIST_ACT_INQUIRY_LINK}" role="button">{TXT_MODULE_FAVORITELIST_ACT_INQUIRY}</a>
</div>
<!-- END favoritelist_favorite_list_actions -->
