<htmlpageheader name="header">
    <img src="[FAVORITELIST_PDF_LOGO]" alt=""/>
    <p>[FAVORITELIST_PDF_ADDRESS]</p>
</htmlpageheader>

[[FAVORITELIST_PDF_CATALOG]
<table>
    <tr>
        <th>[FAVORITELIST_PDF_HEADER_TITLE]</th>
        <th>[FAVORITELIST_PDF_HEADER_LINK]</th>
        <th>[FAVORITELIST_PDF_HEADER_DESCRIPTION]</th>
        <th>[FAVORITELIST_PDF_HEADER_MESSAGE]</th>
        <th>[FAVORITELIST_PDF_HEADER_PRICE]</th>
        <th>[FAVORITELIST_PDF_HEADER_IMAGE1]</th>
        <th>[FAVORITELIST_PDF_HEADER_IMAGE2]</th>
        <th>[FAVORITELIST_PDF_HEADER_IMAGE3]</th>
    </tr>
    [[FAVORITELIST_PDF_CATALOG_ROW]
    <tr>
        <td>[FAVORITELIST_PDF_TITLE]</td>
        <td>[FAVORITELIST_PDF_LINK]</td>
        <td>[FAVORITELIST_PDF_DESCRIPTION]</td>
        <td>[FAVORITELIST_PDF_MESSAGE]</td>
        <td>[FAVORITELIST_PDF_PRICE]</td>
        <td>[FAVORITELIST_PDF_IMAGE1]</td>
        <td>[FAVORITELIST_PDF_IMAGE2]</td>
        <td>[FAVORITELIST_PDF_IMAGE3]</td>
    </tr>
    [FAVORITELIST_PDF_CATALOG_ROW]]
</table>
[FAVORITELIST_PDF_CATALOG]]

<htmlpagefooter name="footer">
    <p>[FAVORITELIST_PDF_FOOTER]</p>
</htmlpagefooter>

<sethtmlpageheader name="haeder" value="on" show-this-page="1"/>
<sethtmlpagefooter name="footer" value="on"/>
