
#header {
    top: 20px;
}

#content_wrapper {
    padding-top: 73px;
}

#workbenchWarning {
    z-index: 1000001;
    width: 100%;
    height: 20px;
    text-align:center;
    background-color: orange;
    marquee-style: scroll;
}
