#workbenchWarning {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 111;
    width: 100%;
    text-align:center;
    marquee-style: scroll;
    margin-bottom: 52px;
    border: 1px solid transparent;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 15px;
}
