{HOTELCARD_EDIT_HOTEL_MENU}
<form method="post" name="formHotelcard"
    action="index.php?cmd=hotelcard&amp;act=edit_hotel_roomtypes&amp;hotel_id={HOTELCARD_HOTEL_ID}">

  <ul id="tabmenu">
<!-- BEGIN hotelcard_roomtype_li -->
    <li id="roomtype-li-{HOTELCARD_ROOMTYPE_INDEX}"
        class="roomtype_li{HOTELCARD_ROOMTYPE_LI_CLASS}"
        onclick="showTab('roomtype-li-','roomtype-',{HOTELCARD_ROOMTYPE_INDEX},1,{HOTELCARD_ROOMTYPE_INDEX_MAX})"
    >{HOTELCARD_ROOMTYPE_NAME}</li>
<!-- END hotelcard_roomtype_li -->
  </ul>

  <table class="adminlist" border="0" cellspacing="0" cellpadding="2" width="100%" summary="">
    <!-- Basic information -->
<!-- BEGIN hotelcard_data -->
<!-- BEGIN hotelcard_header -->
    <tr class="row3">
      <th colspan="2">{HOTELCARD_DATA_HEADER}</th>
    </tr>
<!-- END hotelcard_header -->
<!-- BEGIN hotelcard_input -->
    <tr class="row{HOTELCARD_ROWCLASS}">
      <td width="15%" valign="top"{HOTELCARD_DATA_LABEL_CLASS}>{HOTELCARD_DATA_LABEL}</td>
      <td width="85%" valign="top">{HOTELCARD_DATA_INPUT}</td>
    </tr>
<!-- END hotelcard_input -->
<!-- BEGIN hotelcard_special -->
  </table>
  {HOTELCARD_DATA_SPECIAL}
  <table class="adminlist" border="0" cellspacing="0" cellpadding="2" width="100%" summary="">
<!-- END hotelcard_special -->
<!-- END hotelcard_data -->
  </table>

  <br />
  <br />
  <input type="submit" value="{TXT_HOTELCARD_FORM_SUBMIT_STORE}" name="bsubmit" />
</form>
