{HOTELCARD_EDIT_HOTEL_MENU}
<form action="index.php?cmd=hotelcard&amp;act=edit_hotel_images"
    method="post" name="formHotelcard" enctype="multipart/form-data">

  <table class="adminlist" border="0" cellspacing="0" cellpadding="2" width="100%" summary="">
    <!-- Basic information -->
<!-- BEGIN hotelcard_data -->
<!-- BEGIN hotelcard_header -->
    <tr class="row3">
      <th colspan="2">{HOTELCARD_DATA_HEADER}</th>
    </tr>
<!-- END hotelcard_header -->
<!-- BEGIN hotelcard_input -->
    <tr class="row{HOTELCARD_ROWCLASS}">
      <td width="15%" valign="top"{HOTELCARD_DATA_LABEL_CLASS}>{HOTELCARD_DATA_LABEL}</td>
      <td width="85%" valign="top">{HOTELCARD_DATA_INPUT}</td>
    </tr>
<!-- END hotelcard_input -->
<!-- BEGIN hotelcard_special -->
  </table>
  {HOTELCARD_DATA_SPECIAL}
  <table class="adminlist" border="0" cellspacing="0" cellpadding="2" width="100%" summary="">
<!-- END hotelcard_special -->
<!-- END hotelcard_data -->
  </table>

  <br />
  <br />
  <input type="submit" value="{TXT_HOTELCARD_FORM_SUBMIT_STORE}" name="bsubmit" />
</form>
