<!-- start edit_accomodation_types.html -->
<form name="formSettings-{ACCOMODATION_TYPE_TAB_INDEX}" method="post" action="{URI_BASE}">
  <input type="hidden" name="active_tab" value="{ACCOMODATION_TYPE_TAB_INDEX}" />
<!-- BEGIN accomodation_type_section -->
  <table class="adminlist" border="0" cellspacing="0" cellpadding="2" width="100%" summary="">
    <thead>
      <tr>
        <th colspan="4">
          {ACCOMODATION_TYPE_SECTION}
        </th>
      </tr>
      <tr class="row3">
        <td width="05%">
          <b>{TXT_ACCOMODATION_TYPE_ID}</b>
        </td>
        <td width="20%">
          <b>{TXT_ACCOMODATION_TYPE_ORD}</b>
        </td>
        <td width="70%">
          <b>{TXT_ACCOMODATION_TYPE_NAME}</b>
        </td>
        <td width="05%">
          <b>{TXT_ACCOMODATION_TYPE_FUNCTIONS}</b>
        </td>
      </tr>
    </thead>
    <tbody>
<!-- BEGIN accomodation_type_row -->
      <tr class="row{ACCOMODATION_TYPE_ROWCLASS}">
        <td>
          {ACCOMODATION_TYPE_ID}
        </td>
        <td>
          {ACCOMODATION_TYPE_ORD}
        </td>
        <td>
          {ACCOMODATION_TYPE_NAME}
        </td>
        <td>
          {ACCOMODATION_TYPE_FUNCTIONS}
        </td>
      </tr>
<!-- END accomodation_type_row -->
    </tbody>
  </table>
  <br />
  <br />
  <input type="submit" value="{TXT_HOTELCARD_ACCOMODATION_TYPE_STORE}" name="bsubmit"
      tabindex="101" />
  <br />
  <br />
<!-- END accomodation_type_section -->
</form>
<!-- end edit_accomodation_types.html -->
