<!-- start overview.html -->
<form name="formHotelcardOverview" method="post" action="{MODULE_URI_BASE}">
  <div class="table">
    <div class="thead">
      <div class="tr" style="width: 100%;">
        <div class="th" style="width: 25%;">
          <b>{TXT_HOTELCARD_NAME}</b>
        </div>
        <div class="th" style="width: 75%;">
          <b>{TXT_HOTELCARD_VALUE}</b>
        </div>
      </div>
    </div>
    <div class="tbody">
<!-- BEGIN hotelcard_section -->
      <div class="tr_section">
        <div class="td" style="width: 100%;font-weight: bold;">
          {HOTELCARD_SECTION}
        </div>
      </div>
<!-- BEGIN hotelcard_row -->
      <div class="trrow{HOTELCARD_ROWCLASS}">
        <div class="td" style="width: 25%;">
          {HOTELCARD_NAME}
        </div>
        <div class="td" style="width: 25%;">
          {HOTELCARD_VALUE}
        </div>
        <div class="td" style="width: 50%;">&nbsp;</div>
      </div>
<!-- END hotelcard_row -->
<!-- END hotelcard_section -->
    </div>
  </div>
  <br />
  <br />
  <div class="table">
    <div class="thead">
      <div class="tr" style="width: 100%;">
        <div class="th" style="width: 10%;">
          <b>{TXT_HOTELCARD_HOTEL_ID}</b>
        </div>
        <div class="th" style="width: 30%;">
          <b>{TXT_HOTELCARD_HOTEL_NAME}</b>
        </div>
        <div class="th" style="width: 50%;">
          <b>{TXT_HOTELCARD_HOTEL_INFO}</b>
        </div>
        <div class="th" style="width: 10%;">
          <b>{TXT_HOTELCARD_FUNCTIONS}</b>
        </div>
      </div>
    </div>
    <div class="tbody">
<!-- BEGIN hotelcard_hotel_row -->
      <div class="trrow{HOTELCARD_ROWCLASS}">
        <div class="td" style="width: 10%;">
          <b>{HOTELCARD_HOTEL_ID}</b>
        </div>
        <div class="td" style="width: 30%;">
          <b>{HOTELCARD_HOTEL_NAME}</b>
        </div>
        <div class="td" style="width: 50%;">
          <b>{HOTELCARD_HOTEL_INFO}</b>
        </div>
        <div class="td" style="width: 10%;">
          <b>{HOTELCARD_FUNCTIONS}</b>
        </div>
      </div>
<!-- END hotelcard_hotel_row -->
    </div>
  </div>
  <br />
  <br />
  <input type="submit" value="{TXT_HOTELCARD_STORE}" name="store" style="margin-left:30px;" /><br />
</form>
<!-- end overview.html -->
