<!-- start overview.html -->
<form name="formHotelcardOverview" method="post" action="{MODULE_URI_BASE}">
  <table class="adminlist" border="0" cellspacing="0" cellpadding="2" width="100%" summary="">
    <thead>
      <tr>
        <th width="25%">
          <b>{TXT_HOTELCARD_NAME}</b>
        </th>
        <th width="75%">
          <b>{TXT_HOTELCARD_VALUE}</b>
         </th>
       </tr>
     </thead>
    <tbody>
<!-- BEGIN hotelcard_section -->
      <tr class="row3">
        <td colspan="2">
          {HOTELCARD_SECTION}
         </td>
       </tr>
<!-- BEGIN hotelcard_row -->
      <tr class="row{HOTELCARD_ROWCLASS}">
        <td valign="top">
          {HOTELCARD_NAME}
         </td>
        <td valign="top">
          {HOTELCARD_VALUE}
         </td>
       </tr>
<!-- END hotelcard_row -->
<!-- END hotelcard_section -->
     </tbody>
   </table>
  <br />
  <br />
  <table class="adminlist" border="0" cellspacing="0" cellpadding="2" width="100%" summary="">
    <thead>
      <tr class="row3">
        <th width="10%">
          <b>{TXT_HOTELCARD_HOTEL_ID}</b>
        </th>
         <th width="30%">
          <b>{TXT_HOTELCARD_HOTEL_NAME}</b>
        </th>
         <th width="50%">
          <b>{TXT_HOTELCARD_HOTEL_INFO}</b>
        </th>
         <th width="10%">
          <b>{TXT_HOTELCARD_FUNCTIONS}</b>
        </th>
       </tr>
     </thead>
<!-- BEGIN hotelcard_hotel_list -->
    <tbody>
<!-- BEGIN hotelcard_hotel_row -->
      <tr class="row{HOTELCARD_ROWCLASS}">
        <td width="10%">
          <b>{HOTELCARD_HOTEL_ID}</b>
        </td>
        <td width="30%">
          <b>{HOTELCARD_HOTEL_NAME}</b>
        </td>
        <td width="50%">
          <b>{HOTELCARD_HOTEL_INFO}</b>
        </td>
        <td width="10%">
          <b>{HOTELCARD_FUNCTIONS}</b>
        </td>
       </tr>
<!-- END hotelcard_hotel_row -->
     </tbody>
<!-- END hotelcard_hotel_list -->
   </table>
  <br />
  <br />
  <input type="submit" value="{TXT_HOTELCARD_STORE}" name="store" style="margin-left: 30px;" />
  <br />
</form>
<!-- end overview.html -->
