<!-- start settings.html -->
<form name="formSettings" method="post" action="{MODULE_URI_BASE}" >
  <table class="adminlist" border="0" cellspacing="0" cellpadding="2" width="100%" summary="">
    <thead>
      <tr>
        <th width="25%">
          <b>{TXT_SETTING_NAME}</b>
        </th>
        <th width="75%">
          <b>{TXT_SETTING_VALUE}</b>
        </th>
      </tr>
    </thead>
    <tbody>
<!-- BEGIN core_setting_db_section -->
      <tr class="row3">
        <td colspan="2">
          {TXT_SETTING_SECTION}
        </td>
      </tr>
<!-- BEGIN core_setting_db_row -->
      <tr class="row{SETTING_ROWCLASS}">
        <td valign="top">
          {SETTING_NAME}
        </td>
        <td valign="top">
          {SETTING_VALUE}
        </td>
      </tr>
<!-- END core_setting_db_row -->

<!-- END core_setting_db_section -->
    </tbody>
  </table>
  <br />
  <br />
  <input type="submit" value="{TXT_SETTING_STORE}" name="store" style="margin-left:30px;" /><br />
</form>
<!-- end settings.html -->
