footer {
    margin:5em 0
}
footer li{
    float:left;
    margin-right:1.5em;
    margin-bottom:1.5em
}
footer p{
    clear:left;
    margin-bottom:0
}

.navbar, .btn {
    background-image: none;
}

.navbar-header a.navbar-brand {
    width: 298px;
    height: 24px;
    background: url("images/cloudrexx_customerpanel_logo.png") no-repeat;
    outline: 0;
    padding: 0;
    margin: 14px 12px 12px 0;
} 
.navbar.navbar-default {
    background: #000;
    border: 0 none;
}
.navbar.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus,.navbar.navbar-default .navbar-nav>.active>a:hover, .navbar.navbar-default .navbar-nav>.active>a:focus ,.navbar.navbar-default .navbar-nav li.dropdown.open ul li a:hover{
    color: #ffffff;
    background-color: #373737;

}
.navbar.navbar-default .navbar-nav a {
    color: #b9b9b9;
    font-family: Roboto-Light;
}
.navbar.navbar-default .navbar-nav li.dropdown.open ul li a{
    color: #333333;
}
.dropdown span.outer_circle{
    background: none repeat scroll 0 0 #fff;
    border-radius: 10px;
    float: left;
    height: 22px;
    padding: 3px 0 5px 6px;
    width: 24px;

}
.dropdown  i.fa.fa-user, .dropdown  i.fa.fa-caret-down{
    color: #7E7E7E;
}
ul.nav.navbar-nav li > a {
    border-left: 1px solid #373737;
    outline: none;
}
ul.nav.navbar-nav li > a:last-child {
    border-right: 1px solid #373737;
}
ul.nav.navbar-nav.navbar-right li > a {
    border-right: 0;
}
ul.nav.navbar-nav.navbar-right li ul li a{
    border: 0 none !important;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus,ul.nav.navbar-nav.navbar-right li ul li a:hover {
    background: #373737;
    border-left: 1px solid #373737;
}

footer {
    margin: 5em 0 0 0;
    width: 100%;
    background: #000;
    position: absolute;
    bottom: 0;
}
footer p, footer a {
    color: #b9b9b9;
    font-family: Roboto-Light;
}
footer a:hover {
    color: #fff;
}
footer p {
    float: left;
    padding-top: 8px; 
    padding-bottom: 8px; 
}
footer ul {
    float: right;
    padding-top: 8px; 
    padding-bottom: 8px; 
}
footer ul,footer ul li {
    margin: 0;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.full_page{
    float: left;
    width: 100%;
    position: relative;
    min-height: 100%;
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('fonts/Roboto-Light.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('fonts/Roboto-Light.eot');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('fonts/Roboto-Light.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AvantGarde-Book';
    src: url('fonts/AvantGarde-Book.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AvantGarde-Book';
    src: url('fonts/AvantGarde-Book.eot');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AvantGarde-Book';
    src: url('fonts/AvantGarde-Book.woff');
    font-weight: normal;
    font-style: normal;
}

/* changed the following colors in bootstrap.min.css
 *   #2fa4e7 => #0071bc
 *   #178acc => #0a85c8
 */
