<!-- START module_newsletter_user_detail.html -->

{JAVASCRIPTCODE}
<table width="100%" border="0" cellpadding="3" cellspacing="0" class="adminlist">
  <tr>
    <th>{TXT_TITLE}</th>
  </tr>
</table>
<form name="updateuser" action="index.php?cmd=newsletter&act=updateuser" method="POST">
  <input type="hidden" name="update" value="exe" />
  <input type="hidden" name="id" value="{VALUE_ID}" />
  <table width="100%" border="0" cellpadding="3" cellspacing="0" class="adminlist">
    <tr class="row1">
      <td width="12%"><b>{TXT_EMAIL_ADDRESS}</b></td>
      <td width="88%"><input type="text" name="email" size="40" maxlength="200" value="{VALUE_EMAIL}" /></td>
    </tr>
    <tr class="row2">
      <td width="12%">{TXT_USER_TITLE}</td>
      <td width="88%">
        <input type="radio" name="title" value="f" {CHECKED_FEMALE} /> {TXT_NEWSLETTER_FEMALE}
        <input type="radio" name="title" value="m" {CHECKED_MALE} /> {TXT_NEWSLETTER_MALE}
      </td>
    </tr>
    <tr class="row1">
      <td width="12%">{TXT_LASTNAME}</td>
      <td width="88%"><input type="text" name="lastname" size="40" maxlength="200" value="{VALUE_LASTNAME}" /></td>
    </tr>
    <tr class="row2">
      <td width="12%">{TXT_FIRSTNAME}</td>
      <td width="88%"><input type="text" name="firstname" size="40" maxlength="200" value="{VALUE_FIRSTNAME}" /></td>
    </tr>
    <tr class="row1">
      <td width="12%">{TXT_STREET}</td>
      <td width="88%"><input type="text" name="street" size="40" maxlength="200" value="{VALUE_STREET}" /></td>
    </tr>
    <tr class="row2">
      <td width="12%">{TXT_ZIP}</td>
      <td width="88%"><input type="text" name="zip" size="40" maxlength="200" value="{VALUE_ZIP}" /></td>
    </tr>
    <tr class="row1">
      <td width="12%">{TXT_CITY}</td>
      <td width="88%"><input type="text" name="city" size="40" maxlength="200" value="{VALUE_CITY}" /></td>
    </tr>
    <tr class="row2">
      <td width="12%">{TXT_COUNTRY}</td>
      <td width="88%"><input type="text" name="country" size="40" maxlength="200" value="{VALUE_COUNTRY}" /></td>
    </tr>
    <tr class="row1">
      <td width="12%">{TXT_PHONE}</td>
      <td width="88%"><input type="text" name="phone" size="40" maxlength="200" value="{VALUE_PHONE}" /></td>
    </tr>
    <tr class="row2">
      <td width="12%">{TXT_BIRTHDAY}</td>
      <td width="88%"><input type="text" name="birthday" size="40" maxlength="200" value="{VALUE_BIRTHDAY}" /></td>
    </tr>
    <tr class="row1">
      <td width="12%" valign="top">{TXT_CATEGORIES}</td>
      <td width="88%">{CATEGORY_SELECT}</td>
    </tr>
    <tr class="row2">
      <td width="12%">{TXT_STATUS}</td>
      <td width="88%"><input type="checkbox" name="status" value="1" {VALUE_STATUS} /></td>
    </tr>
  </table>
  <br/>
  <input type="button" onclick="SubmitUpdateForm();" value="{TXT_SAVE}" />
</form>
<!-- END module_newsletter_user_detail.html -->
