<!-- START module_newsletter_overview.html -->



<table width="100%" border="0" cellpadding="3" cellspacing="0" class="adminlist">
	<tr>
		<th colspan="2">{TXT_TITLE}</th>
	</tr>
	<tr>
		<td colspan="2"><br/></td>
	</tr>
	<tr class="row1">
		<td width="16"><a href="index.php?cmd=newsletter&act=newsletterinsert"><img src="images/icons/newdoc.gif" border="0" alt="{TXT_NEWSLETTER_NEW}" /></a></td>
		<td><a href="index.php?cmd=newsletter&act=newsletterinsert">{TXT_NEWSLETTER_NEW}</a></td>
	</tr>
	<tr class="row1">
		<td width="16"><a href="index.php?cmd=newsletter&act=newsletterlist"><img src="images/icons/compose.gif" border="0" alt="{TXT_NEWSLETTER_EDIT}" /></a></td>
		<td><a href="index.php?cmd=newsletter&act=newsletterlist">{TXT_NEWSLETTER_EDIT_SEND}</a></td>
	</tr>
</table>

<br/>


<!-- END module_newsletter_overview.html -->
