<!-- START newsletter_news.html -->
<script type="text/javascript">
<!--

var createNewsletter = function(text){
	if(document.getElementById("newsContent").value != ''){
		document.getElementById("newsLetterNews").action = "?cmd=newsletter&act=editMail";
		return true;
	}else{
		return false;
	}
}


// -->
</script>

<table width="100%" border="0" cellpadding="3" cellspacing="0" class="adminlist">
	<tr>
		<th>{TXT_TITLE}</th>
	</tr>
</table>
<form id="newsLetterNews" name="form" method="post" action="?cmd=newsletter&amp;act=news">
<table cellspacing="0" cellpadding="3" width="100%" border="0" class="adminlist">
<tr class="row3">
	<td valign="top"><b>{TXT_COUNT}</b></td>
</tr>
<tr class="row2">
<td valign="top">
	<input type="text" name="newslimit" size="5" maxlength="5" value="20" />
	<input type="submit" name="Submit" value="{TXT_SHOW_NEWS}" /><br /><br />
</td>
<tr class="row3">
	<td><b>{TXT_PREVIEW}</b></td>
</tr>
<tr class="row2">
<td valign="top">
<textarea id="newsContent" name="textfield" cols="150" rows="25">
[ {NEWSLETTER_CONTENT_TITLE} ]
----------------------------------------
<!-- BEGIN row -->{NEWSLETTER_NEWS_DATE} {NEWSLETTER_NEWS_TITLE}<!-- END row -->
====================================

<!-- BEGIN detailrow -->
{NEWSLETTER_NEWS_DETAIL_TITLE} {NEWSLETTER_NEWS_DETAIL_DATE}

{NEWSLETTER_NEWS_DETAIL_TEXT}

{TXT_LINK_TO_REPORT_INFO_SOURCES}
{NEWSLETTER_NEWS_DETAIL_LINK}

====================================
<!-- END detailrow -->
</textarea> 
<input style="position: relative; top: 80%;" onclick='javascript:this.form.textfield.focus();this.form.textfield.select();' type="button" value="{TXT_SELECT_ALL}" />
</td>
</tr>
</table>
<br/>
<input type="submit" accesskey="c" onclick="return createNewsletter();" name="NewsletterFromNews" value="{TXT_NEWSLETTER_CREATE_FROM_NEWS}"/>

</form>

<!-- END newsletter_news.html -->
