<!-- START module_newsletter_overview.html -->

{JAVASCRIPTCODE}
<div id="subnavbar_level2">
<ul>
<li><a href="index.php?cmd=newsletter&act=edituser" title="{TXT_EDIT}">{TXT_EDIT}</a></li>
<li><a href="index.php?cmd=newsletter&act=adduser" title="{TXT_ADD}">{TXT_ADD}</a></li>
<li><a href="index.php?cmd=newsletter&act=importuser" title="{TXT_IMPORT}">{TXT_IMPORT}</a></li>
<li><a href="index.php?cmd=newsletter&act=exportuser" title="{TXT_EXPORT}">{TXT_EXPORT}</a></li>
</ul>
</div>
<br/>
<table width="100%" border="0" cellpadding="3" cellspacing="0" class="adminlist">
  <tr>
    <th>{TXT_TITLE}</th>
  </tr>
</table>

<form name="adduser" action="index.php?cmd=newsletter&act=adduser" method="POST">
  <input type="hidden" name="insert" value="1" />
  <table width="100%" border="0" cellpadding="3" cellspacing="0" class="adminlist">
    <tr class="row1">
      <td width="12%"><b>{TXT_EMAIL_ADDRESS}</b></td>
      <td width="88%"><input type="text" name="email" size="40" maxlength="200" /></td>
    </tr>
    <tr class="row2">
      <td width="12%">{TXT_USER_TITLE}</td>
      <td width="88%">
        <input type="radio" name="title" value="f" /> {TXT_NEWSLETTER_FEMALE}
        <input type="radio" name="title" value="m" checked="checked" /> {TXT_NEWSLETTER_MALE}
      </td>
    </tr>
    <tr class="row1">
      <td width="12%">{TXT_LASTNAME}</td>
      <td width="88%"><input type="text" name="lastname" size="40" maxlength="200" /></td>
    </tr>
    <tr class="row2">
      <td width="12%">{TXT_FIRSTNAME}</td>
      <td width="88%"><input type="text" name="firstname" size="40" maxlength="200" /></td>
    </tr>
    <tr class="row1">
      <td width="12%">{TXT_STREET}</td>
      <td width="88%"><input type="text" name="street" size="40" maxlength="200" /></td>
    </tr>
    <tr class="row2">
      <td width="12%">{TXT_ZIP}</td>
      <td width="88%"><input type="text" name="zip" size="40" maxlength="200" /></td>
    </tr>
    <tr class="row1">
      <td width="12%">{TXT_CITY}</td>
      <td width="88%"><input type="text" name="city" size="40" maxlength="200" /></td>
    </tr>
    <tr class="row2">
      <td width="12%">{TXT_COUNTRY}</td>
      <td width="88%"><input type="text" name="country" size="40" maxlength="200" /></td>
    </tr>
    <tr class="row1">
      <td width="12%">{TXT_PHONE}</td>
      <td width="88%"><input type="text" name="phone" size="40" maxlength="200" /></td>
    </tr>
    <tr class="row2">
      <td width="12%">{TXT_BIRTHDAY}</td>
      <td width="88%"><input type="text" name="birthday" size="40" maxlength="200" /></td>
    </tr>
    <tr class="row1">
      <td width="12%" valign="top">{TXT_CATEGORIES}</td>
      <td width="88%">{CATEGORY_SELECT}</td>
    </tr>
  </table>
  <br/>
  <input type="button" onclick="SubmitAddForm();" value="{TXT_SAVE}" />
</form>
<!-- END module_newsletter_overview.html -->
