<!-- START module_data_categories.html -->
<script language="JavaScript" type="text/javascript">
// needs prototype.js
//<![CDATA[
function showOrHide(strElement) {
	if ($(strElement).style.display == 'none') {
		$(strElement).style.display = 'block';
	} else {
		$(strElement).style.display = 'none';
	}
}

function copyText(strField) {
	for (var h=0; h < document.forms.length;h++) {
		for (var i=0; i < document.forms[h].elements.length;i++) {
			//read out all form-elements with the loop
			if(document.forms[h].elements[i].name.search(strField) != -1) {
				switch (strField) {
					case 'frmAddCategory_Name_':
						document.forms[h].elements[i].value = document.frmAddCategory.frmAddCategory_Name.value;
					break;
				}
			}
		}
	}	
}

function deleteCategory(catId){ 
    if(confirm('{TXT_OVERVIEW_DELETE_CATEGORY_JS}')) 
        window.location.replace("index.php?cmd=data&{CSRF_PARAM}&act=deleteCategory&id="+catId);
}

function selectMultiAction() {
	with (document.frmShowCategories) {
		switch (frmShowCategories_MultiAction.value) {
			case 'delete':
				if (confirm('{TXT_OVERVIEW_SUBMIT_DELETE_JS}')) {
					action='index.php?cmd=data&act=multiactionCategory';
					submit();
				}
			break;
			default: //do nothing			
		}
	}
}

var switchActive = function(id, obj, action)
{
    var img = obj.getElementsByTagName("img")[0];
    if (action == 0) {
        img.src = "images/icons/led_red.gif";
        obj.onclick = function() { switchActive(id, obj, 1); }
    } else {
        img.src = "images/icons/led_green.gif";
        obj.onclick = function() { switchActive(id, obj, 0); }
    }
    
    new Ajax.Request('index.php', {
        method: 'get',
        parameters: {cmd : "data", act : "switchCategoryState", id : id, switchTo : action},
        onSuccess: function() {}
    });
}

var switchAction = function(obj)
{
    var pageSelect = $("select_display");
    var height = $('box_height');
    var width = $('box_width');
    if (obj.value == "overlaybox" ) {
        pageSelect.style.display = "none";
        makeVisible(width, "table-row");
        makeVisible(height, "table-row");
    } else if (obj.value == "subcategories") {
        pageSelect.style.display = "none";
        width.style.display = "none";
        height.style.display = "none";
    } else {
        makeVisible(pageSelect, "table-row");
        height.style.display = "none";
        width.style.display = "none";
    }
}

/**
 * IE doesn't neither know the table-row nor 
 * table-cell properties of CSS
 */
var makeVisible = function(ref, property)
{
    try {
        ref.style.display = property;
    } catch(e) {
        ref.style.display = "block";
    }
}

var order = new Hash();
var objects = new Hash();
var order_changed = false;

var init = function()
{
    // do this in a function so everything is loaded first
    <!-- BEGIN push_sort -->
    try {
        last_id = order.get({PARENT_ID}).push({CATID});
    } catch(e) {
        order.set({PARENT_ID}, new Array());
        last_id = order.get({PARENT_ID}).push({CATID});
    }
    var hash = new Hash();
    hash.set('position', last_id-1);
    hash.set('obj_ref', $('catrow_{CATID}'));
    hash.set('parent', {PARENT_ID});
    hash.set('children', new Array());
    
    <!-- BEGIN set_child -->
    //objects.get({PARENT_ID}).get('children').push({CATID});
    hash.get('children').push({CHILD_ID});
    <!-- END set_child -->
    objects.set({CATID}, hash);
    <!-- END push_sort -->
}

var swap_upwards = function(id, children)
{
    /*
        Swap positions in the position array
    */
    var cur_pos = objects.get(id).get('position');
    var parent = objects.get(id).get('parent');
    if (cur_pos == 0) {
        // already at the top
        return;
    }
    var upper_pos = cur_pos - 1;
    var upper_pos_id = order.get(parent)[upper_pos];
    order.get(parent)[cur_pos] = upper_pos_id;
    order.get(parent)[upper_pos] = id;
    objects.get(id).set('position', upper_pos);
    objects.get(upper_pos_id).set('position', cur_pos);
    
    /*
        swap the actual position in the html table
    */
    var obj_ref_cur = objects.get(id).get('obj_ref');
    var obj_ref_upper = objects.get(upper_pos_id).get('obj_ref');
    var obj_parent = obj_ref_cur.parentNode;
    
    
    obj_parent.removeChild(obj_ref_cur);
    obj_parent.insertBefore(obj_ref_cur, obj_ref_upper);
    
    children = objects.get(id).get('children');
    
    if (children.length > 0) {
        for (var i=0; i<children.length; i++) {
            obj_ref_cur = objects.get(children[i]).get('obj_ref');
            obj_parent.removeChild(obj_ref_cur);
            obj_parent.insertBefore(obj_ref_cur, obj_ref_upper);
        }
    }
    
    orderChanged();
    setRows();
}

var swap_downwards = function(id, children)
{   
    /*
        Swap the position in the order array
    */
    var cur_pos = objects.get(id).get('position');
    var parent = objects.get(id).get('parent');
    if (cur_pos == order.get(parent).length-1) {
        //already at the bottom
        return;
    }
    var lower_pos = cur_pos + 1;
    var lower_pos_id = order.get(parent)[lower_pos];
    order.get(parent)[cur_pos] = lower_pos_id;
    order.get(parent)[lower_pos] = id;
    objects.get(id).set('position', lower_pos);
    objects.get(lower_pos_id).set('position', cur_pos);
    
    /*
        Swap the actual positions in the table
    */
    var obj_ref_cur = objects.get(id).get('obj_ref');
    var obj_parent = obj_ref_cur.parentNode;
    var obj_ref_lower = objects.get(lower_pos_id).get('obj_ref');
    
    obj_parent.removeChild(obj_ref_lower);
    obj_parent.insertBefore(obj_ref_lower, obj_ref_cur);
    
    children = objects.get(lower_pos_id).get('children');
    
    if (children.length > 0) {
        for (var i=0; i<children.length; i++) {
            obj_ref_lower = objects.get(children[i]).get('obj_ref');
            obj_parent.removeChild(obj_ref_lower);
            obj_parent.insertBefore(obj_ref_lower, obj_ref_cur);
        }
    }
    
    orderChanged();
    setRows();
}

var orderChanged = function()
{
    btn = $('save_order');
    btn.disabled = false;
    btn.style.color = "black";
}

var saveOrder = function()
{
    var jsonObj = Object.toJSON(order);
    new Ajax.Request('index.php?cmd=data&act=saveCategoryOrder', {
        method: 'post',
        parameters: {order : jsonObj}
    });
    
    $('save_order').disabled = true;
    $('save_order').style.color = "grey";
    
}

var setRows = function()
{
    var row = 1;
    var tb = $('entry_list').getElementsByTagName("tr");
    
    for (var i = 0; i<tb.length; i++) {
        tb[i].className = "row"+((row % 2) + 1);
        row++;
    }
}

//]]>
</script>
<ul id="tabmenu">
	<li><a id="categories_Overview" class="active" href="javascript:{}" onclick="selectTab('Overview')" title="{TXT_OVERVIEW_TITLE}">{TXT_OVERVIEW_TITLE}</a></li>
	<li><a id="categories_AddCategory" class="inactive" href="javascript:{}" onclick="selectTab('AddCategory')" title="{TXT_ADD_TITLE}">{TXT_ADD_TITLE}</a></li>
</ul>

<div id="Overview" class="categories" style="display: block;">
	<form name="frmShowCategories" method="post" action="">
		<table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist" id="categories_table">
			<tr>
				<th colspan="8">{TXT_OVERVIEW_TITLE}</th>
			</tr>
			<tr class="row3">
			    <td style="width: 2%; white-space: nowrap;"><strong>&nbsp;&nbsp;#</strong></td>
			    <td style="width: 2%; white-space: nowrap;">&nbsp;</td>
			    <td style="width: 6%; white-space: nowrap;">&nbsp;</td>
				<td style="width: 39%; white-space: nowrap;"><strong>{TXT_OVERVIEW_SUBTITLE_NAME}</strong></td>
				<td style="width: 20%; white-space: nowrap;"><strong>{TXT_PLACEHOLDERS}</strong></td>
				<td style="width: 10%; white-space: nowrap;"><strong>{TXT_DISPLAY_MODE}</strong></td>
				<td style="width: 20%; white-space: nowrap;"><strong>{TXT_OVERVIEW_SUBTITLE_ACTIVE}</strong></td>
                <td style="width: 1%; white-space: nowrap;"><div align="right"><strong>{TXT_OVERVIEW_SUBTITLE_ACTIONS}</strong></div></td>
			</tr>
			<tbody  id="entry_list">
    			<!-- BEGIN showCategories -->
    			<tr class="{OVERVIEW_CATEGORY_ROWCLASS}" style="display: {DISPLAY};" id="catrow_{OVERVIEW_CATEGORY_ID}">
    			     <td><input type="checkbox" name="selectedCategoryId[]" value="{OVERVIEW_CATEGORY_ID}"/></td>
    			     <td>
    			         <a href="javascript: void(0);" onclick="switchActive({OVERVIEW_CATEGORY_ID}, this, {ACTIVE_STATE})"><img src="images/icons/led_{ACTIVE_LED}.gif" style="border: none;" alt=""/></a>
    			     </td>
    			     <td>
    			         <a href="javascript: void(0);" onclick="swap_downwards({OVERVIEW_CATEGORY_ID})" ><img src="images/icons/down.gif" style="border: none;" alt="go one up" /></a> 
    			         <a href="javascript: void(0);" onclick="swap_upwards({OVERVIEW_CATEGORY_ID})"><img src="images/icons/up.gif" style="border: none;" alt="go one down"/> </a>
    			    </td>
    				<td style="padding-left: {INDENT}px;"><!-- BEGIN arrow --><img src="images/icons/sub_arrow.gif" /><!-- END arrow -->
    				<img src="images/icons/folder_on.gif" />
    				<a href="?cmd=data&amp;act=editCategory&amp;id={OVERVIEW_CATEGORY_ID}" target="_self" title="{TXT_OVERVIEW_IMGALT_EDIT}">{OVERVIEW_CATEGORY_NAME}</a></td>
    				<td>[[DATA_{OVERVIEW_CATEGORY_PLACEHOLDER}]]</td>
    				<td>{OVERVIEW_CATEGORY_DISPLAY}</td>
    				<td>{OVERVIEW_CATEGORY_LANGUAGES}</td>
    				<td nowrap="nowrap">
    					<div align="right">
    						<a href="index.php?cmd=data&amp;catId={OVERVIEW_CATEGORY_ID}" target="_self" title="{TXT_OVERVIEW_IMGALT_MESSAGES}"><img src="images/icons/details.gif" border="0" alt="{TXT_OVERVIEW_IMGALT_MESSAGES}" title="{TXT_OVERVIEW_IMGALT_MESSAGES}" /></a>
    						<a href="index.php?cmd=data&amp;act=editCategory&amp;id={OVERVIEW_CATEGORY_ID}" target="_self" title="{TXT_OVERVIEW_IMGALT_EDIT}"><img src="images/icons/edit.gif" border="0" alt="{TXT_OVERVIEW_IMGALT_EDIT}" title="{TXT_OVERVIEW_IMGALT_EDIT}" /></a>
    						<a href="javascript:deleteCategory({OVERVIEW_CATEGORY_ID});" target="_self" title="{TXT_OVERVIEW_IMGALT_DELETE}"><img src="images/icons/delete.gif" border="0" alt="{TXT_OVERVIEW_IMGALT_DELETE}" title="{TXT_OVERVIEW_IMGALT_DELETE}" /></a> 
    					</div>
    				</td>
    			</tr>
    			<!-- END showCategories -->
			</tbody>
			<!-- BEGIN noCategories -->
			<tr class="row2">
				<td colspan="4"><div align="center"><br />{TXT_OVERVIEW_NO_CATEGORIES_FOUND}<br /><br /></div></td>
			</tr>
			<!-- END noCategories -->
		</table>
		<input type="button" value="Sortierung abspeichern" disabled="disabled" id="save_order" style="margin-top: 1em; margin-left: 3em; color: grey;" onclick="saveOrder()" />
		<br />
		<table cellpadding="2" cellspacing="0" border="0">
			<tr>
				<td>
					<img src="images/icons/arrow.gif" border="0" width="38" height="22" alt="{TXT_OVERVIEW_MARKED}:" />
					<a href="#" onclick="changeCheckboxes('frmShowCategories','selectedCategoryId[]',true); return false;">{TXT_OVERVIEW_SELECT_ALL}</a> / 
					<a href="#" onclick="changeCheckboxes('frmShowCategories','selectedCategoryId[]',false); return false;">{TXT_OVERVIEW_DESELECT_ALL}</a>
					<img src="images/icons/strike.gif" alt="" />
					<select name="frmShowCategories_MultiAction" onchange="selectMultiAction();">
						<option value="0">{TXT_OVERVIEW_SUBMIT_SELECT}</option>
						<option value="delete">{TXT_OVERVIEW_SUBMIT_DELETE}</option>
					</select>
				</td>
			</tr>
		</table>
	</form>
	<br />
	<div align="center">{OVERVIEW_PAGING}</div>	
</div>

<div id="AddCategory" class="categories" style="display: none;">
	<form name="frmAddCategory" method="post" action="?cmd=data&amp;act=insertCategory">
		<table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
			<tr>
				<th colspan="4">{TXT_ADD_TITLE}</th>
			</tr>
			<tr class="row1">
				<td valign="top">{TXT_ADD_NAME}</td>
				<td colspan="3">
					<input type="text" name="frmAddCategory_Name" value="" maxlength="100" onchange="copyText('frmAddCategory_Name_');" style="width:730px;" />&nbsp;<a href="javascript:showOrHide('divAddCategoryLang_Name');">{TXT_ADD_EXTENDED}</a>
					<div id="divAddCategoryLang_Name" style="display: none;">
						<!-- BEGIN addCategoryNameFields -->
						<input type="text" name="frmAddCategory_Name_{ADD_NAME_LANGID}" value="" maxlength="100" style="width:730px; margin-top:1px;" />&nbsp;<label for="frmAddCategory_Name_{ADD_NAME_LANGID}">{ADD_NAME_LANG}</label><br />
						<!-- END addCategoryNameFields -->
					</div>	
				</td>
			</tr>
<!--			<tr>
                <td>{TXT_PARENT_CAT}</td>
                <td colspan="3">
                    <select name="frmParentcategory" style="width: 730px">
                            <option value="0">{TXT_TOP_LEVEL}</option>
                        <!-- BEGIN addCategoryDropDown -->
                            <option value="{CATEGORY_OPT_VALUE}">{CATEGORY_OPT_INDENT}{CATEGORY_OPT_LABEL}</option>
                        <!-- END addCategoryDropDown -->
<!--                    </select>
                </td>
            </tr>-->
			<tr class="row1">
				<td width="15%">{TXT_ADD_LANGUAGES}</td>
				<td width="10%" valign="top">{ADD_LANGUAGES_1}</td>
				<td width="10%" valign="top">{ADD_LANGUAGES_2}</td>
				<td width="65%" valign="top">{ADD_LANGUAGES_3}</td>
			</tr>
			<tr class="row2">
                <td width="15%">{TXT_PLACEHOLDER}</td>
                <td colspan="3">
                    [[DATA_<input type="text" name="frmPlaceholder" id="frmPlaceholder" value="{PLACEHOLDER}" style="width:690px;" />]]
                </td>
			</tr>
			<tr class="row1">
                <td>{TXT_GENERAL_ACTION}</td>
                <td colspan="3">
                    <select name="frmSettings_action" style="width: 730px;" onchange="switchAction(this)">
                        <option value="overlaybox">{TXT_BOX}</option>
                        <option value="content">{TXT_CONTENT_PAGE}</option>
                          <option value="subcategories">{TXT_SUBCATEGORIES}</option>
                    </select>
                </td>
            </tr>
			<tr class="row2" style="display: {PAGE_SELECT_DISPLAY};" id="select_display">
                <td>{TXT_FRONTEND_PAGE}</td>
                <td colspan="3">
                    <select name="frmFrontendPage" style="width: 730px;">
                        <!-- BEGIN frontendPage -->
                        <option value="{FRONTEND_PAGE_ID}">{FRONTEND_PAGE}</option>
                        <!-- END frontendPage -->
                    </select>
                </td>
			</tr>
			<tr class="row2" id="box_width">
        	  <td>{TXT_BOX_WIDTH}</td>
        	  <td colspan="3">
        	      <input type="text" style="width: 730px;" value="300" name="frmBoxwidth"/> px
        	  </td>
        	</tr>
        	<tr class="row1" id="box_height">
        	  <td>{TXT_BOX_HEIGHT}</td>
        	  <td colspan="3">
        	      <input type="text" style="width: 730px;" value="500" name="frmBoxheight" /> px 
        	  </td>
        	</tr>
        	<tr class="row2">
    		  <td style="vertical-align: top;">{TXT_TEMPLATE}</td>
    		  <td colspan="3">
    		      <textarea rows="20" cols="100" style="width: 730px;" name="frmTemplate">{CAT_TEMPLATE}</textarea>
    		  </td>
    		</tr>
		</table>
		<br />
		<input type="submit" value="{TXT_ADD_SUBMIT}" name="frmAddCategory_Submit" />
	</form>
</div>
<script type="text/javascript">
/* <![CDATA[ */

init();

/* ]]> */
</script>
<!-- END module_data_categories.html -->
