<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Map</title>
<style type="text/css">
.theMap {
   color: black;
   font-size: 11px;
   font-family: verdana;
   width: 300px;
}
div.theMap a {
   color: black;
   text-decoration: underline;
}
</style>

<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key={HOTEL_GOOGLE_API_KEY}" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[

var startX = {HOTEL_START_X};
var startY = {HOTEL_START_Y};
var startZoom = {HOTEL_START_ZOOM};
var hotelLang = {HOTEL_LANG};
var txtLook = "{HOTEL_TXT_LOOK}";

var sIcon = null;
var cIcon = null;
var map = null;
var geocoder = null;

var markers = new Array();

<!-- BEGIN setmarker -->
markers[{HOTEL_KEY_NUMBER}] = new Array();
markers[{HOTEL_KEY_NUMBER}]['lat'] = {HOTEL_MARKER_LAT};
markers[{HOTEL_KEY_NUMBER}]['long'] = {HOTEL_MARKER_LONG};
markers[{HOTEL_KEY_NUMBER}]['message'] = "{HOTEL_MARKER_MSG}";
markers[{HOTEL_KEY_NUMBER}]['id'] = {HOTEL_MARKER_ID};
markers[{HOTEL_KEY_NUMBER}]['logo'] = "{HOTEL_MARKER_LOGO}";
<!-- END setmarker -->

var loadMap = function() {
	if (GBrowserIsCompatible()) {
		map = new GMap2(document.getElementById("gmap"));
		map.addControl(new GLargeMapControl());
    	map.addControl(new GMapTypeControl());
		map.addControl(new GOverviewMapControl(new GSize(200,100)));
		map.setCenter(new GLatLng(startX, startY), startZoom);
		// Set markers
		for (var i = 0; i < markers.length; i++) {
			map.addOverlay(createMarker(i));
		}
		//change to hybrid mode
		gMapType = map.getMapTypes();
        map.setMapType(gMapType[0]);  // [0] map [1] satellite [2] hybrid

        // remove overlays on click
        GEvent.addListener(map, "click", function(overlay, point) {
          if (overlay == null){
            map.closeInfoWindow();
          }
        });

    	//switch maptype to normal if zoom bigger than 14 (no images available for this zoom location)
    	//else show hybrid
//        GEvent.addListener(map, "zoomend", function() {
//    	    zoom = map.getZoom();
//			if(zoom > 14){
//				map.setMapType(gMapType[0]);
//			}else{
//				map.setMapType(gMapType[2]);
//			}
//    	});
	}
}

var createMarker = function(i) {
	var point = new GLatLng(markers[i]['long'], markers[i]['lat']);
	var message = createMessage(i);
	var icon = null;
	if (markers[i]['logo'] == 'saxer') {
		icon = sIcon;
	} else {
		icon = cIcon;
	}
	var house = new GMarker(point, icon);
	GEvent.addListener(house, "click", function() {
		house.openInfoWindowHtml(message);
	});
	return house;
}

var createMessage = function(id) {
	var message = markers[id]['message'];
	var id = markers[id]['id'];
	return "<div class=\"theMap\">"+message+"<p><a href=\"javascript:showObj("+id+");\">"+txtLook+"<\/a><\/p><\/div>";
}

var showObj = function(id){
	if(!opener){
		top.location.href='index.php?section=hotel&{CSRF_PARAM}&cmd=showObj&langId='+hotelLang+"&id="+id;
	}else{
		opener.location.href='index.php?section=hotel&{CSRF_PARAM}&cmd=showObj&langId='+hotelLang+"&id="+id;
		window.close();
	}
}

//]]>
</script>
</head>
<body onload="loadMap();">
<div id="gmap" style="width: 525px; height: 500px"></div>

</body>
</html>
