<!-- START module_hotel_stats.html -->
<script type="text/javascript">
//<![CDATA[
       
//]]>    
</script>

<!-- START pageViews form -->
<table border="0" id="statslist" cellspacing="0" class="adminlist" style="width: 100%" cellpadding="3">
<thead>
<tr>
	<th colspan="5">{TXT_HOTEL_CONTACT_DETAILS}</th>
</tr>
</thead>
<tbody>
<tr class="row2">
	<td style="width: 150px;">Hotel</td>
	<td>{HOTEL_OBJECT_DETAILS}&nbsp;</td>
</tr>

<tr class="row1">
	<td>{TXT_HOTEL_EMAIL}</td>
	<td>{HOTEL_EMAIL}&nbsp;</td>
</tr>

<tr class="row2">
	<td>{TXT_HOTEL_NAME}</td>
	<td>{HOTEL_NAME}&nbsp;</td>
</tr>
<tr class="row1">
	<td>{TXT_HOTEL_FIRSTNAME}</td>
	<td>{HOTEL_FIRSTNAME}&nbsp;</td>
</tr>
<tr class="row2">
	<td>{TXT_HOTEL_STREET}</td>
	<td>{HOTEL_STREET}&nbsp;</td>
</tr>
<tr class="row1">
	<td>{TXT_HOTEL_ZIP}</td>
	<td>{HOTEL_ZIP}&nbsp;</td>
</tr>
<tr class="row2">
	<td>{TXT_HOTEL_LOCATION}</td>
	<td>{HOTEL_LOCATION}&nbsp;</td>
</tr>
<tr class="row1">
	<td>{TXT_HOTEL_TELEPHONE}</td>
	<td>{HOTEL_TELEPHONE}&nbsp;</td>
</tr>
<tr class="row2">
	<td>{TXT_HOTEL_TELEPHONE_OFFICE}</td>
	<td>{HOTEL_TELEPHONE_OFFICE}&nbsp;</td>
</tr>
<tr class="row1">
	<td>{TXT_HOTEL_TELEPHONE_MOBILE}</td>
	<td>{HOTEL_TELEPHONE_MOBILE}&nbsp;</td>
</tr>
<tr class="row2">
	<td>Anzahl Wochen</td>
	<td>{HOTEL_TRAVEL_WEEKS}&nbsp;</td>
</tr>
<tr class="row1">
	<td>Anzahl Kinder</td>
	<td>{HOTEL_TRAVEL_CHILDREN}&nbsp;</td>
</tr>
<tr class="row2">
	<td>Anzahl Erwachsene</td>
	<td>{HOTEL_TRAVEL_ADULTS}&nbsp;</td>
</tr>
<tr class="row1">
	<td>gewünschtes Abreisedatum</td>
	<td>{HOTEL_TRAVEL_DEPARTUREDATE}&nbsp;</td>
</tr>
<tr class="row2">
	<td>gewünschtes Rückreisedatum</td>
	<td>{HOTEL_TRAVEL_ARRIVALDATE}&nbsp;</td>
</tr>
<tr class="row1">
	<td>Nur Flug</td>
	<td>{HOTEL_TRAVEL_FLIGHTONLY}&nbsp;</td>
</tr>
<tr class="row2">
	<td>ISIS-Code</td>
	<td>{HOTEL_TRAVEL_ISISCODE}&nbsp;</td>
</tr>
<tr class="row1">
	<td>{TXT_HOTEL_COMMENT}</td>
	<td>{HOTEL_TRAVEL_COMMENT}&nbsp;</td>
</tr>
<tr class="row2">
	<td>{TXT_HOTEL_TIMESTAMP}</td>
	<td>{HOTEL_TRAVEL_TIMESTAMP}&nbsp;</td>
</tr>

</tbody>
</table>
<br />
<input type="button" onclick="history.back(1);" title="{TXT_HOTEL_BACK}" value="{TXT_HOTEL_BACK}" />
<!-- END module_hotel_stats.html -->
