<!-- START module_hotel_addvariables.html -->
<script type="text/javascript">
//<![CDATA[
    var fieldlist = false;

    var editingRows = new Array();
    var editingRowsCount = 0;

    rowNumber = 0;

    /*
	 * Tooltip stuff
	 */
    var Style = new Array();
    var Text = new Array();
	Style[0]=["","","","","",,"black","#ffffe1","","","",,,,1,"#000000",2,21,0.3,,2,"gray",1,,15,-5];
    Text[0]=["","{TXT_HOTEL_SETTINGS_ICON_MESSAGE_DESC}"];
    Text[1]=["",'{TXT_HOTEL_GOOGLE_KEY_INFO}'];
    Text[2]=["",'{TXT_HOTEL_PROTECTED_LINK_EMAIL_MESSAGE_BODY_INFO}'];
    Text[3]=["",'{TXT_HOTEL_CONTACT_RECEIVERS_INFO}'];
    Text[4]=["",'{TXT_HOTEL_INTEREST_INFO}'];
    

    /*
    	getElementsByClassName() function
        Written by Jonathan Snook, http://www.snook.ca/jonathan
        Add-ons by Robert Nyman, http://www.robertnyman.com
    */
    function getElementsByClassName(oElm, strTagName, strClassName){
        var arrElements = (strTagName == "*" && document.all)? document.all : oElm.getElementsByTagName(strTagName);
        var arrReturnElements = new Array();
        strClassName = strClassName.replace(/\-/g, "\\-");
        var oRegExp = new RegExp("(^|\\s)" + strClassName + "(\\s|$)");
        var oElement;
        for(var i=0; i<arrElements.length; i++){
            oElement = arrElements[i];
            if(oRegExp.test(oElement.className)){
                arrReturnElements.push(oElement);
            }
        }
        return (arrReturnElements)
    }

	var cloneRow = function(){
	    var fieldlist = document.getElementById("fieldlist");
		for (var i = 0; i <= fieldlist.childNodes.length-1; i++) {
		    if (fieldlist.childNodes[i].tagName == "TR") {
		        var toClone = fieldlist.childNodes[i];
		        var cloned = toClone.cloneNode(true);
		        break;
		    }
		}

		newId = ++rowNumber;
		cloned.id = "newFields"+newId;
        cloned.className = 'row'+(rowNumber%2+1);

		for (var i = cloned.childNodes.length-1; i > 0; i--) {
		    if (cloned.childNodes[i].tagName == "TD") {
		        for (var j = 0; j < cloned.childNodes[i].childNodes.length; j++) {
		            if (cloned.childNodes[i].childNodes[j].tagName == "A") {
                        var z = 0;
                        var aChilds = new Array();
		                for (var k = 0; k < cloned.childNodes[i].childNodes[j].childNodes.length; k++) {
		                    aChilds[z++]  = cloned.childNodes[i].childNodes[j].childNodes[k].cloneNode(true);
		                }
		                cloned.childNodes[i].removeChild(cloned.childNodes[i].childNodes[j]);
		                var a = document.createElement("a");
		                a.setAttribute("href", "javascript:delRow("+newId+");");
		                for (var k = 0; k < aChilds.length; k++) {
		                    a.appendChild(aChilds[k]);
		                }
		                cloned.childNodes[i].appendChild(a);
		                break;
		            }
		        }
		        break;
		    }
		}

		toClone.parentNode.appendChild(cloned);
		updateRowColors();
		editingRowsCount++;
	}

	var delRow = function(id){
	    if (editingRowsCount > 0) {
            var row = document.getElementById("newFields"+id);
            row.parentNode.removeChild(row);
			editingRowsCount--;
	    }
	    updateRowColors();
	}

	var updateRowColors = function() {
	    var fieldlist = document.getElementById("fieldlist");
	    var rowid = 2;

        for (var i = 0; i < fieldlist.childNodes.length; i++) {
            if (fieldlist.childNodes[i].tagName == "TR") {
                fieldlist.childNodes[i].className = "row" + rowid;
                rowid = (rowid == 2) ? 1 : 2;
            }
        }
	}

	var confirmDelete = function(id) {
		if(confirm('{TXT_CONFIRM_DELETE}')){
			return location.href="?cmd=hotel&{CSRF_PARAM}&act=delfield&id="+id;
		}
		return false;
	}

	var editRow = function(id) {
	    if (editingRows[id] == 0 || editingRows[id] == undefined) {
            var row = document.getElementById("field_row_"+id);
            var textElements = getElementsByClassName(row, "span", id);
            var inputElements = row.getElementsByTagName("input");
            for (var i = 0; i < inputElements.length; i++) {
                inputElements[i].style.display = "inline";
                textElements[i].style.display = "none";
            }

            document.getElementById("select_list_" + id).style.display = "inline";
            document.getElementById("field_type_"+id).style.display = "none";
            document.getElementById("select_field_mandatory_"+id).style.display="inline";
            document.getElementById("field_mandatory_"+id).style.display="none";

            editingRows[id] = 1;
            editingRowsCount++;
	    } else {
	        var row = document.getElementById("field_row_"+id);
	        var inputElements = row.getElementsByTagName("input");
	        var textElements = getElementsByClassName(row, "span", id);

            for (var i = 0; i < inputElements.length; i++) {
                inputElements[i].style.display = "none";
                inputElements[i].value = textElements[i].innerHTML;
                textElements[i].style.display = "inline";
            }

            var type_options = document.getElementById("select_list_" + id);
            var type_field = document.getElementById("field_type_"+id);
            var mandatory_option = document.getElementById("field_mandatory_"+id);
            var select_mandatory = document.getElementById("select_field_mandatory_"+id);

            type_options.style.display = "none";
            type_field.style.display = "inline"
            mandatory_option.style.display = "inline";
            select_mandatory.style.display = "none";
            for (var i = 0; i < type_options.length; i++) {
                if (type_options.options[i].childNodes[0].data == type_field.innerHTML) {
                    type_options.selectedIndex = i;
                }
            }

            for (var i = 0; i < select_mandatory.length; i++) {
            	if (select_mandatory.options[i].childNodes[0].data == mandatory_option.innerHTML) {
            		select_mandatory.selectedIndex = i;
            	}
            }

	        editingRows[id] = 0;
	        editingRowsCount--;
	    }

	    if (editingRowsCount > 0) {
	       document.getElementById("submitEditfields").style.visibility = "visible";
	    } else {
	       document.getElementById("submitEditfields").style.visibility = "hidden";
	    }
	}

	var decimalOnlyCoords = function(str){
		str = str.replace(/[^0-9\-\.]/g, '');
		if(str.indexOf('-', 1) == -1){
			return str;		
		}else{
			return '-'+str.replace(/-/g, '');	
		}
	}
	
	var mapPopUp = function(obj){
		try{
			if(! popUp.closed){
				return popUp.focus();
			}
		}catch(e){}

		url='?cmd=hotel&act=map&standalone=true';
		if (!window.focus){
			return true;
		}
		popUp = window.open(url, 'GoogleMap', 'width=800,height=700,scrollbars=no');
		popUp.focus();
		return false;
	}

	
//]]>
</script>

<!-- START Tabmenu -->
<ul id="tabmenu">
<li><a id="editorTab_hotel_addvariables" href="javascript:void(0)"  class="active" onclick="htm(); selectTab('hotel_addvariables')" title="{TXT_HOTEL_DEFINE_FIELDS}">{TXT_HOTEL_DEFINE_FIELDS}</a></li>
<li><a id="editorTab_hotel_settings" href="javascript:void(0)" onclick="htm(); selectTab('hotel_settings')" title="{TXT_SETTINGS}">{TXT_SETTINGS}</a></li>
<li><a id="editorTab_hotel_languages" href="javascript:void(0)" onclick="htm(); selectTab('hotel_languages')" title="{TXT_HOTEL_LANGUAGES}">{TXT_HOTEL_LANGUAGES}</a></li>
<li><a id="editorTab_hotel_images" href="javascript:void(0)" onclick="htm(); selectTab('hotel_images')" title="{TXT_HOTEL_IMAGES}">{TXT_HOTEL_IMAGES}</a></li>
</ul>
<!-- END Tabmenu -->

<!-- START settings form -->
<div class="editorTab" id="hotel_settings" style="display: none;">
<form action="?cmd=hotel&amp;act=saveSettings" method="post">
<table border="0" cellspacing="0" class="adminlist" style="width: 100%" cellpadding="3">
    <tr>
        <th colspan="{HOTEL_LANG_COUNT_PLUS1}">
        {TXT_SETTINGS}
        </th>
    </tr>
    <tr class="row2">
        <td style="width: 250px;">
            {TXT_HOTEL_LATEST_ENTRIES_COUNT}:
        </td>
        <td colspan="{HOTEL_LANG_COUNT}">
            <input type="text" style="width: 450px;" value="{HOTEL_SETTINGS_LATEST_ENTRIES_COUNT}" name="latest_entries_count" />
        </td>
    </tr>
    <tr class="row1">
        <td>{TXT_HOTEL_GOOGLE_KEY} {HOTEL_SETTINGS_DOMAIN1}:</td>
        <td colspan="{HOTEL_LANG_COUNT}">
            <input type="text" style="width: 450px;" value="{HOTEL_SETTINGS_GOOGLE_KEY_DOMAIN1}" name="GOOGLE_API_KEY_{HOTEL_SETTINGS_DOMAIN1}" /> <img src="images/icons/note.gif" alt="" width="12" height="12" onclick="htm()" onmouseover="stm(Text[1],Style[0])" />
        </td>
    </tr>
    <tr class="row2">
        <td>{TXT_HOTEL_GOOGLE_KEY} {HOTEL_SETTINGS_DOMAIN2}:</td>
        <td colspan="{HOTEL_LANG_COUNT}">
            <input type="text" style="width: 450px;" value="{HOTEL_SETTINGS_GOOGLE_KEY_DOMAIN2}" name="GOOGLE_API_KEY_{HOTEL_SETTINGS_DOMAIN2}" />
        </td>
    </tr>
    <tr class="row1">
    	<td>
    		{TXT_HOTEL_MAP_STARTPOINT_FRONTEND}
    	</td>    
    	<td colspan="{HOTEL_LANG_COUNT}">
    		lat: <input type="text" name="lat_frontend"  onchange="this.value=decimalOnlyCoords(this.value)" value="{HOTEL_LAT_FRONTEND}" />
    		lon: <input type="text" name="lon_frontend" onchange="this.value=decimalOnlyCoords(this.value)" value="{HOTEL_LON_FRONTEND}" />
    		zoom: <input type="text" name="zoom_frontend"  onchange="this.value=decimalOnlyCoords(this.value)" value="{HOTEL_ZOOM_FRONTEND}" />
    	</td>
    </tr>
    <tr class="row2">
    	<td>
    		{TXT_HOTEL_MAP_STARTPOINT_BACKEND}
    	</td>    
	    <td colspan="{HOTEL_LANG_COUNT}">
    		lat: <input type="text" name="lat_backend" onchange="this.value=decimalOnlyCoords(this.value)" value="{HOTEL_LAT_BACKEND}" />
       		lon: <input type="text" name="lon_backend" onchange="this.value=decimalOnlyCoords(this.value)" value="{HOTEL_LON_BACKEND}" />
    		zoom: <input type="text" name="zoom_backend" onchange="this.value=decimalOnlyCoords(this.value)" value="{HOTEL_ZOOM_BACKEND}" />
    	</td>
    </tr>
    
    <tr class="row1">
        <td style="vertical-align: top;">{TXT_HOTEL_ICON_MESSAGE}:</td>
        <td style="vertical-align: top;" colspan="{HOTEL_LANG_COUNT}">
            <textarea rows="8" cols="5" style="width: 450px;" name="message">{HOTEL_SETTINGS_ICON_MESSAGE}</textarea> <img src="images/icons/note.gif" alt="info" title="info" width="12" height="12" onmouseout="htm()" onmouseover="stm(Text[0],Style[0])" />
        </td>
    </tr>
    <tr class="row2">
		<td>
			{TXT_HOTEL_CURRENCY}
		</td>
		<!-- BEGIN langRow5 -->
		<td>
			{HOTEL_LANGUAGE_NAME5}<br />
			<input type="text" value="{HOTEL_CURRENCY}" name="currency_lang_{HOTEL_LANGUAGE_ID5}" />		
		</td>
	<!-- END langRow5 -->
	</tr>
	<tr class="row1">
		<td>
			{TXT_HOTEL_PROTECTED_LINK_SENDER_EMAIL}
		</td>
		<td colspan="{HOTEL_LANG_COUNT}">
			<input style="width: 450px;" type="text" name="sender_email" value="{HOTEL_PROT_LINK_SENDER_EMAIL}" />
		</td>
	</tr>
	<tr class="row2">
		<td>
			{TXT_HOTEL_PROTECTED_LINK_SENDER_NAME}
		</td>
		<td colspan="{HOTEL_LANG_COUNT}">
			<input style="width: 450px;" type="text" name="sender_name" value="{HOTEL_PROT_LINK_SENDER_NAME}" />
		</td>
	</tr>
	<tr class="row1">
		<td>
			{TXT_HOTEL_PROTECTED_LINK_EMAIL_MESSAGE_BODY}
			<img src="images/icons/note.gif" alt="info" title="info" width="12" height="12" onmouseout="htm()" onmouseover="stm(Text[2],Style[0])" /> 
		</td>
		<td colspan="{HOTEL_LANG_COUNT}">
			<textarea rows="8" style="width: 450px;" name="prot_link_message_body">{HOTEL_PROT_LINK_MESSAGE_BODY}</textarea>
		</td>
	</tr>
	<tr class="row2">
		<td>
			{TXT_HOTEL_PROTECTED_LINK_EMAIL_MESSAGE_SUBJECT}
		</td>
		<td colspan="{HOTEL_LANG_COUNT}">
			<input style="width: 450px;" type="text" name="prot_link_message_subject" value="{HOTEL_PROT_LINK_MESSAGE_SUBJECT}" />
		</td>
	</tr>	
	<tr class="row1">
		<td>
			{TXT_HOTEL_CONTACT_RECEIVERS}
			<img src="images/icons/note.gif" alt="info" title="info" width="12" height="12" onmouseout="htm()" onmouseover="stm(Text[3],Style[0])" /> 
		</td>
		<td colspan="{HOTEL_LANG_COUNT}">
			<input style="width: 450px;" type="text" name="contact_receiver" value="{HOTEL_CONTACT_RECEIVERS}" />
		</td>
	</tr>
	<tr class="row2">
		<td>
			{TXT_HOTEL_INTEREST_CONFIRM_SUBJECT}
		</td>
		<td colspan="{HOTEL_LANG_COUNT}">
			<input style="width: 450px;" type="text" name="interest_confirm_subject" value="{HOTEL_INTEREST_CONFIRM_SUBJECT}" />
		</td>
	</tr>	
	<tr class="row1">
		<td>
			{TXT_HOTEL_INTEREST_CONFIRM_MESSAGE}
			<img src="images/icons/note.gif" alt="info" title="info" width="12" height="12" onmouseout="htm()" onmouseover="stm(Text[4],Style[0])" /> 
	
		</td>
		<td colspan="{HOTEL_LANG_COUNT}">
			<textarea rows="8" style="width: 450px;" name="interest_confirm_message">{HOTEL_INTEREST_CONFIRM_MESSAGE}</textarea> 
		</td>
	</tr>
	
</table>
<br />
<input type="submit" value="{TXT_HOTEL_SAVE}" />

</form>
</div>

<!-- END settings form -->

<!-- START Field definition form -->
<div class="editorTab" id="hotel_addvariables">
<form action="?cmd=hotel&amp;act=addfields" method="post">
<table border="0" cellspacing="0" class="adminlist" style="width: 100%" cellpadding="3">
<thead>
	<tr>
		<th colspan="{HOTEL_DEFINE_FIELDS_COLSPAN}">
			{TXT_HOTEL_DEFINE_FIELDS}
		</th>
	</tr>
	<tr class="row3" >
		<td>
			<strong>{TXT_HOTEL_TYPE}</strong>
		</td>
		<td>
			<strong>{TXT_HOTEL_MANDATORY}</strong>
		</td>
		<td>
			<strong>{TXT_HOTEL_ORDER}</strong>
		</td>
	<!-- BEGIN langRow2 -->
		<td>
			<strong>{HOTEL_LANGUAGE_NAME2}</strong>
		</td>
	<!-- END langRow2 -->
	   <td style="text-align: right;">
	       <strong>{TXT_HOTEL_FUNCTIONS}</strong>
	   </td>
	</tr>
</thead>
<tbody id="fieldlist">
	<tr id="newFields0" class="row2">
		<td>
			<select name="type[]">
				<option value="text"> {TXT_HOTEL_TYPE_TEXT} </option>
				<option value="textarea"> {TXT_HOTEL_TYPE_TEXTAREA} </option>
				<option value="img"> {TXT_HOTEL_TYPE_IMG} </option>
				<option value="link"> {TXT_HOTEL_TYPE_LINK} </option>
				<!--<option value="protected_link"> {TXT_HOTEL_TYPE_PROTECTED_LINK} </option>-->
				<!--<option value="panorama"> {TXT_HOTEL_TYPE_PANORAMA} </option>-->
				<option value="digits_only"> {TXT_HOTEL_TYPE_DIGITS_ONLY} </option>
				<!--<option value="price"> {TXT_HOTEL_TYPE_PRICE} </option>-->
			</select>
		</td>
		<td>
			<select name="mandatory[]">
				<option value="0">{TXT_HOTEL_NO}</option>
				<option value="1">{TXT_HOTEL_YES}</option>
			</select>
		</td>
		<td>
			<input type="text" name="order[]" />
		</td>
	<!-- BEGIN langRowContent -->
		<td>
			<input type="text" name="lang_{HOTEL_LANGUAGE_ID2}[]" />
		</td>
	<!-- END langRowContent -->
	    <td style="text-align: right;">
	       <a href="javascript:delRow(0);"><img src="images/icons/delete.gif" style="border: none;" alt="" /></a>
	    </td>
	</tr>
</tbody>
</table>
<br />
<input type="button" value="{TXT_HOTEL_CLONEROW}" onclick="javascript:cloneRow()" />
<input type="submit" name="addfields" value="{TXT_HOTEL_SAVE}" />
</form>
<br /><br />
<!-- END Field definition form -->

<!-- START variable overview -->
<form action="?cmd=hotel&amp;act=modfields" method="post">
<table border="0" cellspacing="0" class="adminlist" style="width: 100%; empty-cells: show;" cellpadding="3">
<tr style="width: 100%;">
	<th colspan="{HOTEL_DEFINE_FIELDS_COLSPAN}">{TXT_HOTEL_AVAILABLE_FIELDS}</th>
</tr>
</table>
<table border="0" cellspacing="0" class="adminlist" style="width: 100%; empty-cells: show; table-layout: fixed;" cellpadding="3">
<thead>
<tr class="row3">
	<td style="width: 25px;">
		<strong>{TXT_HOTEL_ID}</strong>
	</td>
	<td style="width: 125px;">
		<strong>{TXT_HOTEL_TYPE}</strong>
	</td>
	<td style="width: 100px;">
		<strong>{TXT_HOTEL_MANDATORY}</strong>
	</td>
	<td style="width: 100px;">
	   <strong>{TXT_HOTEL_ORDER}</strong>
	</td>

	<!-- BEGIN langRow3 -->
	<td>
		<strong>{HOTEL_LANGUAGE_NAME3}</strong>
	</td>
	<!-- END langRow3 -->
	<td style="width: 100px; text-align: right;">
		<strong>{TXT_HOTEL_FUNCTIONS}</strong>
	</td>
</tr>
</thead>
<tbody>
<!-- BEGIN fieldLangList -->
<tr id="field_row_{HOTEL_FIELD_ID}" class="row{HOTEL_ROW}">
	<td>
		{HOTEL_FIELD_ID}
	</td>
	<td>
		<span id="field_type_{HOTEL_FIELD_ID}">{HOTEL_FIELD_TYPE}</span> {HOTEL_FIELD_TYPE_LIST}
	</td>
	<td>
		<span id="field_mandatory_{HOTEL_FIELD_ID}">{TXT_MANDATORY}</span>
		<select style="display: none;" name="field_mandatory_{HOTEL_FIELD_ID}" id="select_field_mandatory_{HOTEL_FIELD_ID}">
				<option value="0" {HOTEL_SELECTED_NO}>{TXT_HOTEL_NO}</option>
				<option value="1" {HOTEL_SELECTED_YES}>{TXT_HOTEL_YES}</option>
		</select>
	</td>
	<td>
	   <span class="{HOTEL_FIELD_ID}">{HOTEL_ORDER}</span>
	   <input type="text" name="order_{HOTEL_FIELD_ID}" value="{HOTEL_ORDER}" style="display: none; width: 25px;"/>
	</td>
	<!-- BEGIN langRow4 -->
	<td>
		<span class="{HOTEL_FIELD_ID}">{HOTEL_FIELD_CONTENT}</span>
		<input type="text" name="value_{HOTEL_FIELD_ID}_{HOTEL_FIELD_LANGID}" style="display: none;" value="{HOTEL_FIELD_CONTENT}" />
	</td>
	<!-- END langRow4 -->
	<td style="text-align: right;">
	   <a href="javascript:editRow('{HOTEL_FIELD_ID}');" title="{TXT_HOTEL_EDIT}"><img src="images/icons/edit.gif" title="{TXT_HOTEL_EDIT}" alt="{TXT_HOTEL_EDIT}"  style="border: none;" /></a>
       <a href="javascript:void(0);" onclick="return confirmDelete('{HOTEL_FIELD_ID}');" title="{TXT_HOTEL_DELETE}"><img src="images/icons/delete.gif" title="{TXT_HOTEL_DELETE}" alt="{TXT_HOTEL_DELETE}"  style="border: none;" /></a>
	</td>
</tr>
<!-- END fieldLangList -->
</tbody>
</table><br />
<input type="submit" name="editfields" id="submitEditfields" value="{TXT_HOTEL_SAVE}" style="visibility: hidden;"/><br /><br />
</form>
</div>
<!-- END variable overview -->


<!-- START languages div -->
<div class="editorTab" id="hotel_languages" style="display:none;">
<form action="?cmd=hotel&amp;act=addlanguage" method="post">
<table border="0" cellspacing="0" class="adminlist" style="width: 100%" cellpadding="3">
<thead>
	<tr>
		<th colspan="2">
			{TXT_HOTEL_LANGUAGES}
		</th>
	</tr>
	<tr class="row3">
		<td colspan="2">
			<strong>{TXT_HOTEL_AVAILABLE_LANGUAGES}</strong>
		</td>
	</tr>
	<!-- BEGIN langRow -->
	<tr>
		<td style="width: 10%">
			{HOTEL_LANGUAGE_ID}
		</td>
		<td>
			{HOTEL_LANGUAGE_NAME}
		</td>
	</tr>
	<!-- END langRow -->
</thead>
<tbody id="newlang">
<!--
	<tr>
		<td>
			{TXT_HOTEL_NEW_LANGUAGE}
		</td>

		<td>
			<input type="text" name="newlanguage" />
		</td>
	</tr>
-->
</tbody>
</table>
<!--
<input type="submit" name="addfields" value="{TXT_HOTEL_ADD}" />
-->
</form>
</div>
<!-- END languages div -->
<!-- START images div -->
<div class="editorTab" id="hotel_images" style="display:none;">
<table border="0" cellspacing="0" class="adminlist" style="width: 100%" cellpadding="3">
<thead>
	<tr>
		<th colspan="2">
			{TXT_HOTEL_IMAGES}
		</th>
	</tr>
	<tr class="row3">
		<td>
			{TXT_HOTEL_DELETE_IMAGES}			
		</td>
	</tr>	
	<tr>
		<td>
			<a href="?cmd=hotel&amp;act=delimages" >{TXT_HOTEL_DELETE_UNUSED_IMAGES}</a>	
		</td>
	</tr>
</table>
</div>
<!-- END images div -->

<!-- END module_hotel_addvariables.html -->
