<!-- START module_hotel_map_popup.html -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>Google Map Coordinate Picker</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="robots" content="noindex" />
<meta name="robots" content="nofollow" />
<meta name="robots" content="noarchive" />
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="cache-control" content="no-cache" />
<script language="JavaScript" src="javascript/switching_content.js" type="text/javascript"></script>
<script language="JavaScript" src="javascript/tabs.js" type="text/javascript"></script>
<script language="JavaScript" src="javascript/set_checkboxes.js" type="text/javascript"></script>
<script language="JavaScript1.2" src="javascript/tip_message15.js" type="text/javascript"></script>

<!--<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAiKvX-UvkFhq-mr1BCyeikxRTqYUo_fxNQcRmQ_WHxV_uZfoYWBSxIvp_IsJuww cx9hxnYFlHD55YLA" type="text/javascript"></script>
-->
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key={HOTEL_GOOGLE_API_KEY}" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[




//todo: add langvars
var reasons=[];
reasons[G_GEO_SUCCESS]            = "Success";
reasons[G_GEO_MISSING_ADDRESS]    = "Missing Address: The address was either missing or had no value.";
reasons[G_GEO_UNKNOWN_ADDRESS]    = "Unknown Address:  No corresponding geographic location could be found for the specified address.";
reasons[G_GEO_UNAVAILABLE_ADDRESS]= "Unavailable Address:  The geocode for the given address cannot be returned due to legal or contractual reasons.";
reasons[G_GEO_BAD_KEY]            = "Bad Key: The API key is either invalid or does not match the domain for which it was given";
reasons[G_GEO_TOO_MANY_QUERIES]   = "Too Many Queries: The daily geocoding quota for this site has been exceeded.";
reasons[G_GEO_SERVER_ERROR]       = "Server error: The geocoding request could not be successfully processed.";

var map = null;
var geocoder = null;
var point = null;
var address = null;

var load = function() {
    if (GBrowserIsCompatible()) {
        map = new GMap2(document.getElementById("gmap"));
    	map.addControl(new GLargeMapControl());
    	map.addControl(new GMapTypeControl());
    	map.addControl(new GOverviewMapControl(new GSize(200,200)));
    	if(window.opener.document.getElementById('longitude').value != '' && window.opener.document.getElementById('latitude').value != ''){
    		lon = window.opener.document.getElementById('longitude').value;
    		lonf = window.opener.document.getElementById('longitude_fraction').value;
    		lat = window.opener.document.getElementById('latitude').value;
    		latf = window.opener.document.getElementById('latitude_fraction').value;
    		zoom = parseInt(((window.opener.document.getElementById('map_zoom').value != '') ? window.opener.document.getElementById('map_zoom').value : 13));
    		map.setCenter(new GLatLng(lon+'.'+lonf, lat+'.'+latf), zoom);
    		point = map.getCenter();
    		document.getElementById("loclayer").innerHTML = getStatusString(point.x.toString(), point.y.toString());
    	}else{
    		map.setCenter(new GLatLng({HOTEL_MAP_LAT_BACKEND}, {HOTEL_MAP_LON_BACKEND}), {HOTEL_MAP_ZOOM_BACKEND});  //standard location: thun
    		point = map.getCenter();
    		document.getElementById("loclayer").innerHTML = getStatusString(point.x.toString(), point.y.toString());
    	}

    	point = map.getCenter();
    	map.addOverlay(new GMarker(point));

    	GEvent.addListener(map, "moveend", function() {
    	      point = map.getCenter();
    	      map.clearOverlays();
    	      marker = new GMarker(point);
    	      map.addOverlay(marker);
    	      document.getElementById("loclayer").innerHTML = getStatusString(point.x.toString(), point.y.toString())
    	});

        geocoder = new GClientGeocoder();

       	gMapType = map.getMapTypes();
		map.setMapType(gMapType[0]);  // [0] map [1] satellite [2] hybrid

    }else{
    	alert("{TXT_HOTEL_BROWSER_NOT_SUPPORTED}");
    }
}

var getStatusString = function(X, Y){
	return '<span class="red">lat: </span>'+Y+'<br /><span class="red">lon: </span>'+X+'<span class="red"><br /> zoom: </span>'+map.getZoom();
}

var passValues = function(){
	lon=point.y.toString().split('.')[0];
	lonfac=point.y.toString().split('.')[1];
	lat=point.x.toString().split('.')[0];
	latfac=point.x.toString().split('.')[1];
	window.opener.document.getElementById('longitude').value = lon;
	window.opener.document.getElementById('longitude_fraction').value = lonfac;
	window.opener.document.getElementById('latitude').value = lat;
	window.opener.document.getElementById('latitude_fraction').value = latfac;
	window.opener.document.getElementById('map_zoom').value = map.getZoom();
	window.opener.popUp = false; window.close(); window.opener.focus();
}

var showAddress = function() {
	address = document.getElementById("location").value;
   	if (geocoder) {
    	geocoder.getLocations(address, getGeoCodeData);
    }
}

var getGeoCodeData = function(data){
	if(data.Status.code == G_GEO_SUCCESS){
		document.getElementById("status").innerHTML = reasons[data.Status.code];
		point = new GLatLng(data.Placemark[0].Point.coordinates[1], data.Placemark[0].Point.coordinates[0]);
		map.setCenter(point);
	}else{
		document.getElementById("status").innerHTML = address+" not found";
	}
}


//]]>
</script>

<link href="template/ascms/css/datepickercontrol.css" rel="stylesheet" type="text/css" />
<link href="template/ascms/css/base.css" rel="stylesheet" type="text/css" />
<link href="template/ascms/css/calendar.css" rel="stylesheet" type="text/css" />
<style type="text/css">
	body{
		border: 1px solid #DCE4FF;
		background-color: #F4F7FF;
	}
	#info{
		border: 1px solid #DCE4FF;
		background-color: #F4F7FF;
		text-align: center;
	}
	#loclayer{
		filter: Alpha(opacity='90');
		text-align: left;
		-moz-opacity: 0.9;
		position: absolute;
		top: 100px;
		right: 1px;
		z-index: 100000;
		background-color: #F4F7FF;
		width: 140px;
		height:	41px;
		padding: 2px 4px 2px 2px;
	}
	.red{
		color: #ab2222;
	}
</style>
</head>

<body onload="load();" onunload="GUnload();">
<div id="info">
<p>{TXT_HOTEL_DBLCLICK_TO_SET_POINT}</p>
</div>
<div>
    <input type="text" id="location" />
    <input type="button"  value="Suchen" onclick="showAddress()" />
</div>
<div id="loclayer">
</div>

<form action="?cmd=hotel&amp;act=add" method="post">
	<div id="gmap" style="width: 800px; height: 600px"></div>
<table style="width: 100%; border: none;" cellpadding="0" cellspacing="0">
<tr>
 <td style="width: 20%">
	 <input type="submit" value="{TXT_HOTEL_ACCEPT}" onclick="passValues();" />
 </td>
 <td style="width: 60%; text-align: center;">
   <span id="status">  </span>
 </td>
 <td style="width: 20%; float: right;">
 	<input style="float: right;" type="submit" value="{TXT_HOTEL_CLOSE}" onclick="window.opener.popUp = false; window.close(); window.opener.focus(); "/>
 </td>
</tr>
</table>
</form>

</body>
</html>
<!-- END module_hotel_map_popup.html -->
