<form action="?cmd=hotel&amp;act=travel&amp;tpl=import" method="post" enctype="multipart/form-data">
<table class="adminlist" cellpadding="0" cellspacing="0" width="100%">
<tr>
	<th>{TXT_HOTEL_TRAVEL_IMPORT}</th>
</tr>
<tr class="row1">
	<td>
		<input type="file" name="hotel_travel_import_file" value="" size="60" /><br />
	</td>
</tr>
</table>
<input type="submit" name="hotel_travel_import_submit" value="{TXT_HOTEL_TRAVEL_IMPORT}"  />
</form>
<br />
<div class="infobox_head">CSV</div>
<div class="infobox_body">
	<span>{TXT_HOTEL_CSV_EXAMPLE}</span>
</div>
