<!-- START module_immo_stats.html -->
<script type="text/javascript">
//<![CDATA[
       
//]]>    
</script>

<!-- START pageViews form -->
<table border="0" id="statslist" cellspacing="0" class="adminlist" style="width: 100%" cellpadding="3">
<thead>
<tr>
	<th colspan="5">{TXT_IMMO_CONTACT_DETAILS}</th>
</tr>
</thead>
<tbody>
<tr class="row1">
	<td stlye="width: 120px;">{TXT_IMMO_OBJECT_DETAILS}</td>
	<td>{IMMO_OBJECT_DETAILS}</td>
</tr>
<tr class="row2">
	<td>{TXT_IMMO_EMAIL}</td>
	<td>{IMMO_EMAIL}&nbsp;</td>
</tr>
<tr class="row1">
	<td>{TXT_IMMO_NAME}</td>
	<td>{IMMO_NAME}&nbsp;</td>
</tr>
<tr class="row2">
	<td>{TXT_IMMO_FIRSTNAME}</td>
	<td>{IMMO_FIRSTNAME}&nbsp;</td>
</tr>
<tr class="row1">
	<td>{TXT_IMMO_COMPANY}</td>
	<td>{IMMO_COMPANY}&nbsp;</td>
</tr>
<tr class="row2">
	<td>{TXT_IMMO_STREET}</td>
	<td>{IMMO_STREET}&nbsp;</td>
</tr>
<tr class="row1">
	<td>{TXT_IMMO_ZIP}</td>
	<td>{IMMO_ZIP}&nbsp;</td>
</tr>
<tr class="row2">
	<td>{TXT_IMMO_LOCATION}</td>
	<td>{IMMO_LOCATION}&nbsp;</td>
</tr>
<tr class="row1">
	<td>{TXT_IMMO_TELEPHONE}</td>
	<td>{IMMO_TELEPHONE}&nbsp;</td>
</tr>
<tr class="row2">
	<td>{TXT_IMMO_TELEPHONE_OFFICE}</td>
	<td>{IMMO_TELEPHONE_OFFICE}&nbsp;</td>
</tr>
<tr class="row1">
	<td>{TXT_IMMO_TELEPHONE_MOBILE}</td>
	<td>{IMMO_TELEPHONE_MOBILE}&nbsp;</td>
</tr>
<tr class="row2">
	<td>{TXT_IMMO_PURCHASE}</td>
	<td>{IMMO_PURCHASE}&nbsp;</td>
</tr>
<tr class="row1">
	<td>{TXT_IMMO_FUNDING}</td>
	<td>{IMMO_FUNDING}&nbsp;</td>
</tr>
<tr class="row2">
	<td>{TXT_IMMO_COMMENT}</td>
	<td>{IMMO_COMMENT}&nbsp;</td>
</tr>
<tr class="row1">
	<td>{TXT_IMMO_TIMESTAMP}</td>
	<td>{IMMO_TIMESTAMP}&nbsp;</td>
</tr>
</tbody>
</table>
<br />
<input type="button" onclick="history.back(1);" title="{TXT_IMMO_BACK}" value="{TXT_IMMO_BACK}" />
<!-- END module_immo_stats.html -->
