<!-- BEGIN core_setting_row -->
<!-- BEGIN core_setting_row_1 -->
<tr class="row{CORE_SETTING_ROWCLASS1}">
    <td colspan="2" valign="top">
        {CORE_SETTING_ROW}
    </td>
</tr>
<!-- END core_setting_row_1 -->
<!-- BEGIN core_setting_row_2 -->
<tr class="row{CORE_SETTING_ROWCLASS2}">
    <td valign="top" width="25%">
        {CORE_SETTING_NAME}
    </td>
    <td valign="top" width="75%">
        {CORE_SETTING_VALUE}
    </td>
</tr>
<!-- END core_setting_row_2 -->
<!-- END core_setting_row -->