<!-- BEGIN subscription_filter -->
<form method="get" action="" name="searchSubscription" id="searchSubscription">
    <table cellspacing="0" cellpadding="5" border="0" width="100%" class="adminlist" >
        <tr>
            <th valign="top" colspan="2">
                <div align="left">{TXT_ORDER_SUBSCRIPTIONS_FILTER}</div>
            </th>
        </tr>
        <tr>
            <td>
                <input type='hidden' name="cmd" value="Order" />
                <input type='hidden' name="act" value="subscription" />
                <input type="text" name="term" placeholder="{TXT_ORDER_SUBSCRIPTIONS_SEARCH_TERM}" id="term"  style="width: 300px;" class="search-box" value="{ORDER_SUBSCRIPTIONS_SEARCH_VALUE}" autocomplete="off" />
                &nbsp;&nbsp;
                <select tabindex="7" data-placeholder="{TXT_ORDER_SUBSCRIPTIONS_SEARCH_PRODUCT}" style="width: 300px;" name="filter_product[]" class="chzn-select" data-disable_search="true" size="1" multiple>
                    <!-- BEGIN subscription_product_filter -->
                    <option value="{ORDER_SUBSCRIPTION_PRODUCT_VALUE}" {ORDER_SUBSCRIPTION_PRODUCT_SELECTED}>{ORDER_SUBSCRIPTION_PRODUCT_NAME}</option>
                    <!-- END subscription_product_filter -->
                </select>
                <select tabindex="7" data-placeholder="{TXT_ORDER_SUBSCRIPTIONS_SEARCH_STATE}" style="width: 300px;" name="filter_state[]" class="chzn-select" data-disable_search="true" size="1" multiple>
                    <!-- BEGIN subscription_state_filter -->
                    <option value="{ORDER_SUBSCRIPTION_STATE_VALUE}" {ORDER_SUBSCRIPTION_STATE_SELECTED}>{ORDER_SUBSCRIPTION_STATE_NAME}</option>
                    <!-- END subscription_state_filter -->
                </select>
                <input type="submit" value="{TXT_ORDER_SUBSCRIPTIONS_SEARCH}"  id="searchButton"/>&nbsp;&nbsp;
            </td>
        </tr>
    </table>
</form>
<!-- END subscription_filter -->
{SUBSCRIPTIONS_CONTENT}
