<script type="text/javascript">
<!--
function supportRequestToggle(index)
{
  element = document.getElementById("supportRequest"+index+"data");
  display = element.style.display;
  switch(display) {
    case 'none':
      display = 'inline';
      break;
    case 'inline':
    default:
      display = 'none';
  }
  element.style.display = display;
}
// -->
</script>

<form name="supportForm" method="POST" action="">
  <!-- SUPPORT_REQUEST_STATUS_START -->
  <div id="supportRequest1head" onclick="JavaScript:supportRequestToggle(1);">
    [[TXT_SUPPORT_REQUEST_STATUS_1]]
  </div>
  <div id="supportRequest1data" [[SUPPORT_REQUEST_STYLE_1]]>
    <div>
      [[TXT_SUPPORT_REQUEST_WELCOME]]
    </div>
    <div>
      [[TXT_SUPPORT_REQUEST_CHOOSE_CATEGORY]]
      [[SUPPORT_REQUEST_CATEGORIES_MENU]]
    </div>
  </div>
  <!-- SUPPORT_REQUEST_STATUS_CATEGORY -->
  <div id="supportRequest2head" onclick="JavaScript:supportRequestToggle(2);">
    [[TXT_SUPPORT_REQUEST_STATUS_2]]
  </div>
  <div id="supportRequest2data" [[SUPPORT_REQUEST_STYLE_2]]>
    <div>
    </div>
    <div>
      [[TXT_SUPPORT_REQUEST_ENTER_SUBJECT]]
      <input type="text" id="supportRequestSubject" maxlength="366"
        value="[[SUPPORT_REQUEST_SUBJECT]]">
    </div>
  </div>
  <!-- SUPPORT_REQUEST_STATUS_SUBJECT -->
  <div id="supportRequest3head" onclick="JavaScript:supportRequestToggle(3);">
    [[TXT_SUPPORT_REQUEST_STATUS_3]]
  </div>
  <div id="supportRequest3data" [[SUPPORT_REQUEST_STYLE_3]]>
    <div>
    </div>
    <div>
      [[TXT_SUPPORT_REQUEST_ENTER_MESSAGE]]
      <textarea id="supportRequestBody" rows="14">
        [[SUPPORT_REQUEST_MESSAGE]]
      </textarea>
    </div>
  </div>
<!-- SUPPORT_REQUEST_STATUS_MESSAGE -->
  <div id="supportRequest4head" onclick="JavaScript:supportRequestToggle(4);">
    [[TXT_SUPPORT_REQUEST_STATUS_4]]
  </div>
  <div id="supportRequest4data" [[SUPPORT_REQUEST_STYLE_4]]>
    <div>
      <div>
        [[TXT_SUPPORT_REQUEST_PRESENT_ATTACHMENTS]]
      </div>
      <div>
        <!-- BEGIN attachmentRow -->
        <div>
          <input type="file" disabled="disabled"
            name="[[SUPPORT_REQUEST_ATTACHMENT_NAME]]"
            value="[[SUPPORT_REQUEST_ATTACHMENT_VALUE]]" />
          <input type="button"
            name="supportRequestAttachmentDelete"
            value="[[SUPPORT_REQUEST_ATTACHMENT_DELETE]]" /><br />
        </div>
        <!-- END attachmentRow -->
      </div>
    </div>
    <div>
      [[TXT_SUPPORT_REQUEST_SPECIFY_ATTACHMENT]]
      <input type="file" name="supportRequestAttachmentNew" />
    </div>
  </div>
<!-- SUPPORT_REQUEST_STATUS_ATTACHMENT -->
  <div id="supportRequest5head" onclick="JavaScript:supportRequestToggle(5);">
    [[TXT_SUPPORT_REQUEST_STATUS_5]]
  </div>
  <div id="supportRequest5data" [[SUPPORT_REQUEST_STYLE_5]]>
    <div>
      <div>
        [[TXT_SUPPORT_REQUEST_PROVIDE_INFO]]
      </div>
      <div>
        <!-- BEGIN infofieldRow -->
        <div>
          <div>
            [[SUPPORT_REQUEST_INFOFIELD_NAME]]
          </div>
          <div>
            <input type="[[SUPPORT_REQUEST_INFOFIELD_TYPE]]"
              name="infoField[[SUPPORT_REQUEST_INFOFIELD_ID]]"
              value="[[SUPPORT_REQUEST_INFOFIELD_VALUE]]" />
          </div>
          <div>
            [[SUPPORT_REQUEST_INFOFIELD_MANDATORY]]
            [[SUPPORT_REQUEST_INFOFIELD_MULTIPLE]]
          </div>
        </div>
        <!-- END infofieldRow -->
      </div>
    </div>
  </div>
<!-- SUPPORT_REQUEST_STATUS_INFOFIELD -->
  <div id="supportRequest6head" onclick="JavaScript:supportRequestToggle(6);">
    [[TXT_SUPPORT_REQUEST_STATUS_6]]
  </div>
  <div id="supportRequest6data" [[SUPPORT_REQUEST_STYLE_6]]>
    <div>
      <div>
        [[TXT_SUPPORT_REQUEST_PROVIDE_NAME]]
      </div>
      <div>
        <input type="text" name="supportRequestUserName"
          value="[[SUPPORT_REQUEST_USER_NAME]]" />
      </div>
    </div>
  </div>
<!-- SUPPORT_REQUEST_STATUS_NAME -->
  <div id="supportRequest7head" onclick="JavaScript:supportRequestToggle(7);">
    [[TXT_SUPPORT_REQUEST_STATUS_7]]
  </div>
  <div id="supportRequest7data" [[SUPPORT_REQUEST_STYLE_7]]>
    <div>
      <div>
        [[TXT_SUPPORT_REQUEST_PROVIDE_EMAIL]]
      </div>
      <div>
        <input type="text" name="supportRequestUserEmail"
          value="[[SUPPORT_REQUEST_USER_EMAIL]]" />
      </div>
    </div>
  </div>
<!-- SUPPORT_REQUEST_STATUS_EMAIL -->
  <div id="supportRequest8head" onclick="JavaScript:supportRequestToggle(8);">
    [[TXT_SUPPORT_REQUEST_STATUS_8]]
  </div>
  <div id="supportRequest8data" [[SUPPORT_REQUEST_STYLE_8]]>
    <div>
      <!-- BEGIN requestComplete -->
      <div>
        [[TXT_SUPPORT_REQUEST_COMPLETE]]
      </div>
      <div>
        [[TXT_SUPPORT_REQUEST_YOUR_TICKET]]
        [[SUPPORT_REQUEST_TICKET_ID]]
      </div>
      <div>
        [[TXT_SUPPORT_REQUEST_THANK_YOU]]
      </div>
      <!-- END requestComplete -->
      <!-- BEGIN requestIncomplete -->
      <div>
        [[TXT_SUPPORT_REQUEST_INCOMPLETE]]
      </div>
      <div>
        [[TXT_SUPPORT_REQUEST_COMPLETE_DATA]]
      </div>
      <!-- END requestIncomplete -->
    </div>
  </div>
<!-- SUPPORT_REQUEST_STATUS_TICKET -->
  <div>
    <input type="submit" value="[[TXT_SUPPORT_REQUEST_CONTINUE]]" />
  </div>
</form>
