<script type="text/javascript">
<!--

var supportStatus = [[SUPPORT_REQUEST_STATUS]];
var infoFieldsShown = 0;
var infoFieldIndexNext = [[SUPPORT_REQUEST_INFOFIELD_INDEX]];

$J(function() {
  $J("[id^=supportRequestHead]").click(function(ev) {
    supportRequestToggle(getIndex($J(this)));
  });
});

function getIndex(element)
{
  return element.attr("id").replace(/\D/g, '');
}

function markStep(index, status)
{
  $J("#supportRequestHead"+index).css("background-color",
    (status ? "#aaaaff" : "#aaffaa"));
}

function supportRequestToggle(index, power)
{
console.log("Index: "+index);
//  element.toggle();
  if (power == undefined) {
    power = $J("#supportRequestData"+index).css("display");
console.log("Power is "+power);
  }
  switch (power) {
    case 'inline':
    case 'on':
    case 'show':
    case 'block':
      display = false;
//      $J("#supportRequestHead"+index).css("background-color", "#AAAAFF");
      //setAttribute('class', 'supportStepOk', true);
      break;
    case 'none':
    case 'off':
    case 'hide':
      display = true;
//      $J("#supportRequestHead"+index).css("background-color", "#AAFFAA");
      //setAttribute('class', 'supportStepOk', true);
      break;
  }
  $J("#supportRequestData"+index).toggle(display);
}

function cloneInfoField(id, index)
{
  // The index div, parent of the name and input divs
  var infoFieldIndex = document.getElementById('infoFieldIndex_'+id+'_'+index);
//alert("infoFieldIndex: "+infoFieldIndex.nodeName+" - id '"+infoFieldIndex.getAttribute('id')+"'");
  // Clone the index container, with all its child nodes
  var infoFieldIndexClone = infoFieldIndex.cloneNode(true);
//alert("infoFieldIndexClone: "+infoFieldIndexClone.nodeName+" - id '"+infoFieldIndexClone.getAttribute('id')+"'");//test - OK // The div separating the containers id = infoFieldIndex.parentNode; id.appendChild(infoFieldIndexClone); return;
  // The cloned input div
  var inputNodes = infoFieldIndexClone.childNodes[3].childNodes;
  // The next InfoField index is kept in infoFieldIndexNext.
  // Update parameters
  infoFieldIndexClone.id = infoFieldIndexClone.id.replace(/\d+$/, infoFieldIndexNext);
  inputNodes[1].id = inputNodes[1].id.replace(/\d+$/, infoFieldIndexNext);
  inputNodes[1].name = inputNodes[1].name.replace(/\]\[\d+]$/, ']['+infoFieldIndexNext+']');
  inputNodes[1].value = '';
  inputNodes[3].setAttribute('onclick',
    inputNodes[3].getAttribute('onclick').replace(/\,\s?\d+\);?/, ', '+infoFieldIndexNext+');'));
  inputNodes[5].setAttribute('onclick',
    inputNodes[5].getAttribute('onclick').replace(/\,\s?\d+\);?/, ', '+infoFieldIndexNext+');'));
  // The div separating the containers
  var id = infoFieldIndex.parentNode;
  id.appendChild(infoFieldIndexClone);
  ++infoFieldIndexNext;
}

function deleteInfoField(id, index)
{
  var element = $J("#infoFieldIndex_"+id+"_"+index);
  var parent = element.parentNode;
  if (parent.childNodes.length > 1) {
    parent.removeChild(element);
  }
}

function supportContinue()
{
  var element = $J("#supportCategoryId");
  if (element.val() <= 0) {
    supportStatus = 0;
    markStep(0, false);
    supportRequestToggle(0, 'hide');
    element.focus();
    return;
  } else {
    supportStatus = 1;
    markStep(0, true);
    supportRequestToggle(0, 'show');
  }
  element = $J("#supportSubject");
  if (element.val() == '') {
    markStep(1, false);
    supportRequestToggle(1, 'hide');
    $J("#supportSubject").focus();
    return;
  } else {
    supportStatus = 2;
    markStep(1, true);
    supportRequestToggle(1, 'show');
  }
  if ($J("#supportBody").val() == '') {
    markStep(2, false);
    supportRequestToggle(2, 'hide');
    $J("#supportBody").focus();
    return;
  } else {
    supportStatus = 3;
    markStep(2, true);
    supportRequestToggle(2, 'show');
  }
  // Test whether mandatory InfoFields have content.
  // Assume that everything is fine -- we shall prove the contrary
  mandatoryOkay = 1;
  infoFields = document.getElementById('infoFields');
//alert("infoFields: "+infoFields.nodeName);
  // Loop through the InfoFieldId div tags.
  for (i = 1; i < infoFields.childNodes.length; i += 2) {
    infoFieldId = infoFields.childNodes[i];
//alert("infoFieldId: "+infoFieldId.nodeName);
    // Loop through the InfoFieldIndex tags. index represents the child index.
    for (j = 1; j < infoFieldId.childNodes.length; j += 2) {
      infoFieldIndex = infoFieldId.childNodes[j];
//alert("infoFieldIndex: "+infoFieldIndex.nodeName+" - id '"+infoFieldIndex.getAttribute('id')+"'");
      // Kid #1 is the container for the InfoField name and mandatory "flag"
      infoFieldName = infoFieldIndex.childNodes[1];
//alert("infoFieldName: "+infoFieldName.nodeName+" - '"+infoFieldName.getAttribute('id')+"'");
      // If the name div contains only one child, it cannot have the flag
      if (infoFieldName.childNodes.length == 1) {
          // The InfoField with this ID is not mandatory, skip it
//alert("infoFieldName: "+infoFieldName.nodeName+" - ID '"+infoFieldName.getAttribute('id')+"' is not mandatory.");
          break;
      }
//alert("infoFieldName: "+infoFieldName.nodeName+" - '"+infoFieldName.getAttribute('id')+"' is mandatory.");
      // So this is a mandatory field.  It must contain a value.
      // Kid #3 is the container for the input elements
      infoFieldInput = infoFieldIndex.childNodes[3];
//alert("infoFieldInput: "+infoFieldName.nodeName+" - ID "+infoFieldInput.getAttribute('id'));
      // Kid #1 is the text/file input box
      // Note that there *MUST* be either some whitespace *OR* the
      // MAX_FILE_SIZE hidden input tag between this <div> tag and its parent.
      infoFieldInput = infoFieldInput.childNodes[1];
//alert("mandatory infoFieldInput: '"+infoFieldInput.getAttribute('name')+"', value: "+infoFieldInput.value);
      if (infoFieldInput.value == '') {
//alert("mandatory infoFieldInput: '"+infoFieldInput.getAttribute('name')+"' is empty!");
        mandatoryOkay = 0;
        infoFieldInput.focus();
      }
    }
  }
  if (mandatoryOkay == 0 || !infoFieldsShown) {
    infoFieldsShown = 1;
    markStep(3, false);
    supportRequestToggle(3, 'hide');
    return;
  } else {
    supportStatus = 4;
    markStep(3, true);
    supportRequestToggle(3, 'show');
  }
  if ($J("#supportName").value == '') {
    markStep(4, false);
    supportRequestToggle(4, 'hide');
    $J("#supportName").focus();
    return;
  } else {
    supportStatus = 5;
    markStep(4, true);
    supportRequestToggle(4, 'show');
  }
  if ($J("#supportEmail").value == '') {
    markStep(5, false);
    supportRequestToggle(5, 'hide');
    $J("#supportEmail").focus();
    return;
  } else {
    supportStatus = 6;
    markStep(5, true);
    supportRequestToggle(5, 'show');
  }
  if (supportStatus == 6) {
    if ($J("#supportTicketId").value > 0) {
      markStep(6, false);
      supportRequestToggle(6, 'hide');
      $J("#supportNext").focus();
      return;
    } else {
      markStep(6, true);
      supportRequestToggle(6, 'show');
      document.supportForm.submit();
    }
  }
}
// -->
</script>

<form name="supportForm" method="post" enctype="multipart/form-data"
      action="[[SUPPORT_FORM_ACTION]]">
  <!-- BEGIN requestData -->
  <div>
    [[TXT_SUPPORT_REQUEST_WELCOME]]
  </div>
  <br />
  <!-- SUPPORT_REQUEST_STATUS_START -->
  <div id="supportRequestHead0" class="[[SUPPORT_REQUEST_CLASS_0]]">
    [[TXT_SUPPORT_REQUEST_STATUS_CATEGORY]]
  </div>
  <br />
  <div id="supportRequestData0" style="display:[[SUPPORT_REQUEST_STYLE_0]];">
    <div>
      [[TXT_SUPPORT_REQUEST_CHOOSE_CATEGORY]]
    </div>
    <div>
      [[SUPPORT_REQUEST_CATEGORIES_MENU]]
    </div>
  </div>
  <br />
  <!-- SUPPORT_REQUEST_STATUS_CATEGORY -->
  <div id="supportRequestHead1" class="[[SUPPORT_REQUEST_CLASS_1]]">
    [[TXT_SUPPORT_REQUEST_STATUS_SUBJECT]]
  </div>
  <br />
  <div id="supportRequestData1" style="display:[[SUPPORT_REQUEST_STYLE_1]];">
    <div>
      [[TXT_SUPPORT_REQUEST_ENTER_SUBJECT]]
    </div>
    <div>
      <input type="text" id="supportSubject" name="supportSubject"
        maxlength="255" value="[[SUPPORT_REQUEST_SUBJECT]]"
        tabindex="2" onchange="JavaScript:supportContinue();" />
    </div>
  </div>
  <br />
  <!-- SUPPORT_REQUEST_STATUS_SUBJECT -->
  <div id="supportRequestHead2" class="[[SUPPORT_REQUEST_CLASS_2]]">
    [[TXT_SUPPORT_REQUEST_STATUS_MESSAGE]]
  </div>
  <br />
  <div id="supportRequestData2" style="display:[[SUPPORT_REQUEST_STYLE_2]];">
    <div>
      [[TXT_SUPPORT_REQUEST_ENTER_MESSAGE]]<br />
    </div>
    <div>
      <textarea id="supportBody" name="supportBody" rows="40" cols="6" tabindex="3"
          onchange="JavaScript:supportContinue();">[[SUPPORT_REQUEST_MESSAGE]]</textarea>
    </div>
  </div>
  <br />
<!-- SUPPORT_REQUEST_STATUS_MESSAGE -->
  <div id="supportRequestHead3" class="[[SUPPORT_REQUEST_CLASS_3]]">
    [[TXT_SUPPORT_REQUEST_STATUS_INFOFIELD]]
  </div>
  <br />
  <div id="supportRequestData3" style="display:[[SUPPORT_REQUEST_STYLE_3]];">
    <div>
      [[TXT_SUPPORT_REQUEST_PROVIDE_INFO]]
    </div>
    <br />
    <div id="infoFields">
      <!-- BEGIN infofieldId -->
      <div id="infoFieldId_[[SUPPORT_REQUEST_INFOFIELD_ID]]">
        <!-- BEGIN infofieldIndex -->
        <div id="infoFieldIndex_[[SUPPORT_REQUEST_INFOFIELD_ID]]_[[SUPPORT_REQUEST_INFOFIELD_INDEX]]">
          [[SUPPORT_REQUEST_INFOFIELD]]
        </div>
        <!-- END infofieldIndex -->
      </div>
      <!-- END infofieldId -->
    </div>
  </div>
  <br />
<!-- SUPPORT_REQUEST_STATUS_INFOFIELD -->
  <div id="supportRequestHead4" class="[[SUPPORT_REQUEST_CLASS_4]]">
    [[TXT_SUPPORT_REQUEST_STATUS_NAME]]
  </div>
  <br />
  <div id="supportRequestData4" style="display:[[SUPPORT_REQUEST_STYLE_4]];">
    <div>
      [[TXT_SUPPORT_REQUEST_PROVIDE_NAME]]
    </div>
    <div>
      <input type="text" id="supportName" name="supportName"
        value="[[SUPPORT_REQUEST_USER_NAME]]" tabindex="5"
        onchange="JavaScript:supportContinue();" />
    </div>
  </div>
  <br />
<!-- SUPPORT_REQUEST_STATUS_NAME -->
  <div id="supportRequestHead5" class="[[SUPPORT_REQUEST_CLASS_5]]">
    [[TXT_SUPPORT_REQUEST_STATUS_EMAIL]]
  </div>
  <br />
  <div id="supportRequestData5" style="display:[[SUPPORT_REQUEST_STYLE_5]];">
    <div>
      [[TXT_SUPPORT_REQUEST_PROVIDE_EMAIL]]
    </div>
    <div>
      <input type="text" id="supportEmail" name="supportEmail"
        value="[[SUPPORT_REQUEST_USER_EMAIL]]" tabindex="6"
        onchange="JavaScript:supportContinue();" />
    </div>
  </div>
  <br />
  <!-- END requestData -->
<!-- SUPPORT_REQUEST_STATUS_EMAIL -->
  <div id="supportRequestHead6" class="[[SUPPORT_REQUEST_CLASS_6]]">
    [[TXT_SUPPORT_REQUEST_STATUS_TICKET]]
  </div>
  <br />
  <div id="supportRequestData6" style="display:[[SUPPORT_REQUEST_STYLE_6]];">
    <input type="hidden" id="supportTicketId" name="supportTicketId"
      value="[[SUPPORT_REQUEST_TICKET_ID]]" />
    <!-- BEGIN requestComplete -->
    <div>
      [[TXT_SUPPORT_REQUEST_COMPLETE]]
    </div>
    <br />
    <div>
      [[SUPPORT_REQUEST_YOUR_TICKET]]
    </div>
    <br />
    <div>
      [[TXT_SUPPORT_REQUEST_THANK_YOU]]
    </div>
    <!-- END requestComplete -->
    <!-- BEGIN requestIncomplete -->
    <div>
      [[TXT_SUPPORT_REQUEST_INCOMPLETE]]
    </div>
    <br />
    <div>
      [[TXT_SUPPORT_REQUEST_COMPLETE_DATA]]
    </div>
    <!-- END requestIncomplete -->
  </div>
<!-- SUPPORT_REQUEST_STATUS_TICKET -->
  <br />
  <div>
    <input type="button" id="supportNext"
      value="[[SUPPORT_REQUEST_CONTINUE]]"
      onclick="[[SUPPORT_REQUEST_CONTINUE_FUNCTION]]" />
  </div>
</form>
