<table summary="" class="adminlist" border=0 width="100%" cellpadding="2" cellspacing="0">
    <tr class="row1">
      <th colspan="6" nowrap="nowrap">{TXT_SUPPORT_MESSAGES}</th>
  </tr>
  <tr class="row2">
      <td nowrap="nowrap" width="5%">{TXT_SUPPORT_SELECTED}</td>
      <td nowrap="nowrap" width="5%">{HEADER_SUPPORT_MESSAGE_ID}</td>
      <td nowrap="nowrap" width="20%">{HEADER_SUPPORT_MESSAGE_DATE}</td>
      <td nowrap="nowrap" width="5%">{HEADER_SUPPORT_MESSAGE_STATUS}</td>
      <td nowrap="nowrap" width="30%">{HEADER_SUPPORT_MESSAGE_FROM}</td>
      <td nowrap="nowrap" width="40%">{HEADER_SUPPORT_MESSAGE_SUBJECT}</td>
  </tr>
  <!-- BEGIN messageRow -->
  {MESSAGE_ROW}
  <!-- END messageRow -->
</table>
