<script type="text/javascript">
<!--
function supportTicketDoAction(strAction, strForm, strCheckbox, objSelect)
{
  switch(strAction) {
    case 'commit':
      if (confirm('{TXT_SUPPORT_TICKET_CHANGE_CONFIRM}')) {
        document.forms.formSupportTicketData.action =
          "index.php?cmd=support&act=ticketChange";
        document.forms.formSupportTicketData.submit();
      }
      break;
  }
}

function categoryDelete(id)
{
  if (confirm('{TXT_SUPPORT_CATEGORY_DELETE_CONFIRM}\n{TXT_SUPPORT_ACTION_IS_IRREVERSIBLE}'))
    window.location.replace(
        "index.php?cmd=support&{CSRF_PARAM}&act=categoryDelete&supportCategoryId="+id+
//        "&supportCategoryOffset={SUPPORT_CATEGORY_OFFSET}"+
        "&supportLanguageId="+document.getElementById('supportLanguageId').value
    );
}

function supportCategoryDoAction(strAction, strForm, strCheckbox, objSelect)
{
  if (checkboxIsChecked(strForm, strCheckbox) == true) {
    switch (strAction) {
      case 'delete':
        if (confirm('{TXT_SUPPORT_CATEGORIES_DELETE_CONFIRM}\n{TXT_SUPPORT_ACTION_IS_IRREVERSIBLE}')) {
          document.forms[strForm].action =
            "index.php?cmd=support&act=categoriesDelete"+
//            "&supportCategoryOffset={SUPPORT_CATEGORY_OFFSET}"+
            "&supportLanguageId="+document.getElementById('supportLanguageId').value;
          document.forms[strForm].submit();
        }
        break;
    }
  } else {
    alert("{TXT_SUPPORT_MAKE_SELECTION}");
  }
  objSelect.value = 0;
}
<!-- BEGIN tipMessageRow -->
Text[{SUPPORT_TIP_ID}]=["", "{SUPPORT_TIP_NOTE}"];
<!-- END tipMessageRow -->
Style[0]=["", "", "", "", "", , "black", "#ffffe1", "", "", "", , , , 1, "#000000", 2, 24, 0.3, , 2, "gray", 1, , 10, -20];
// -->
</script>

<table summary="" border=0 width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td>{SUPPORT_TOPLEFT}</td>
    <td>{SUPPORT_TOP}</td>
    <td>{SUPPORT_TOPRIGHT}</td>
  </tr>
  <tr>
    <td>{SUPPORT_LEFT}</td>
    <td>{SUPPORT_CENTER}</td>
    <td>{SUPPORT_RIGHT}</td>
  </tr>
  <tr>
    <td>{SUPPORT_BOTTOMLEFT}</td>
    <td>{SUPPORT_BOTTOM}</td>
    <td>{SUPPORT_BOTTOMRIGHT}</td>
  </tr>
</table>
