<script type="text/javascript">
<!--
function supportInfoFieldDoAction(strAction, strForm, strCheckbox, objSelect)
{
    switch (strAction) {
      case 'deleteInfoFields':
        if (checkboxIsChecked(strForm, strCheckbox) == true) {
          if (confirm('{TXT_SUPPORT_INFO_FIELDS_DELETE_CONFIRM}\n{TXT_SUPPORT_ACTION_IS_IRREVERSIBLE}')) {
            document.forms[strForm].action =
              "index.php?cmd=support&act=infoFieldsDelete";
//              "&supportInfoFieldOffset={SUPPORT_INFO_FIELD_OFFSET}"+
            document.forms[strForm].submit();
          }
        } else {
          alert("{TXT_SUPPORT_MAKE_SELECTION}");
        }
        break;
      case 'deleteInfoField':
        if (confirm('{TXT_SUPPORT_INFO_FIELD_DELETE_CONFIRM}\n{TXT_SUPPORT_ACTION_IS_IRREVERSIBLE}')) {
          document.forms[strForm].action =
              "index.php?cmd=support&act=infoFieldDelete&supportInfoFieldId="+strForm+
              "&supportInfoFieldLanguageId="+strCheckbox+
//              "&supportInfoFieldOffset={SUPPORT_INFO_FIELD_OFFSET}"+
          document.forms[strForm].submit();
        }
        break;
      case 'showAll':
        document.forms[strForm].action =
          "index.php?cmd=support&act=infoFieldsEdit";
        document.forms[strForm].submit();
        break;
    }
  if (objSelect) {
    objSelect.value = 0;
  }
}
// -->
</script>

<form name="supportInfoFieldEditForm" method="post"
  action="?cmd=support&amp;act=infoFieldStore&amp;supportLanguageId={SUPPORT_EDIT_LANGUAGE_ID}&amp;supportLanguageShowAll={SUPPORT_LANGUAGE_SHOW_ALL}&amp;supportInfoFieldOffset={SUPPORT_INFO_FIELD_OFFSET}">
  <table summary="" width="100%" border="0" cellspacing="0" cellpadding="2" class="adminlist">
    <tr>
      <th>{TXT_SUPPORT_INFO_FIELD_EDIT}</th>
    </tr>
    <tr class="row1">
      <td>
        <label for="supportInfoFieldOrder">{TXT_CORE_SORTING_ORDER}</label>
        <input type="text" id="supportInfoFieldOrder" name="supportInfoFieldOrder"
          size="4" maxlength="5" value="{SUPPORT_INFO_FIELD_ORDER}" />&nbsp;
        <label for="supportInfoFieldName">{TXT_SUPPORT_NAME}</label>
        <input type="text" id="supportInfoFieldName" name="supportInfoFieldName"
          size="40" maxlength="255" value="{SUPPORT_INFO_FIELD_NAME}" />&nbsp;
        <label for="supportInfoFieldType">{TXT_SUPPORT_TYPE}</label>
          {SUPPORT_INFO_FIELD_TYPE_MENU}&nbsp;
        <label for="supportInfoFieldMandatory">{TXT_SUPPORT_MANDATORY}</label>
        <input type="checkbox" id="supportInfoFieldMandatory" name="supportInfoFieldMandatory"
          value="1"{SUPPORT_INFO_FIELD_MANDATORY_CHECKED} />&nbsp;
        <label for="supportInfoFieldMultiple">{TXT_SUPPORT_MULTIPLE}</label>
        <input type="checkbox" id="supportInfoFieldMultiple" name="supportInfoFieldMultiple"
          value="1"{SUPPORT_INFO_FIELD_MULTIPLE_CHECKED} />&nbsp;
        <label for="supportInfoFieldLanguageId">{TXT_SUPPORT_LANGUAGE}</label>
        {SUPPORT_INFO_FIELD_LANGUAGE_MENU}&nbsp;
        <label for="supportInfoFieldStatus">{TXT_SUPPORT_STATUS}</label>
        <input type="checkbox" id="supportInfoFieldStatus" name="supportInfoFieldStatus"
          value="1"{SUPPORT_INFO_FIELD_STATUS_CHECKED} />&nbsp;
        <input type="submit" name="supportStoreInfoField" value="{TXT_SUPPORT_STORE}" />
        <input type="hidden" name="supportInfoFieldId" value="{SUPPORT_INFO_FIELD_ID}" />
      </td>
    </tr>
  </table>
</form>
<br />

<form name="formSupportInfoFieldTable" method="post"
  action="?cmd=support&amp;act=infoFieldsStore&amp;supportLanguageId={SUPPORT_EDIT_LANGUAGE_ID}&amp;supportInfoFieldOffset={SUPPORT_INFO_FIELD_OFFSET}">
  <table summary="" width="100%" cellspacing="0" cellpadding="2" border="0" class="adminlist">
    <tr>
      <th colspan="10">{TXT_SUPPORT_INFO_FIELDS}</th>
    </tr>
    <tr class="row1">
      <td width="01%" nowrap="nowrap">
        <div style="text-align:center;"><b>#</b></div></td>
      <td width="03%" nowrap="nowrap"><b>{TXT_SUPPORT_INFO_FIELD_ID}</b></td>
      <td width="01%" nowrap="nowrap"><b>{TXT_CORE_SORTING_ORDER}</b></td>
      <td width="22%" nowrap="nowrap"><b>{TXT_SUPPORT_NAME}</b></td>
      <td width="22%" nowrap="nowrap"><b>{TXT_SUPPORT_TYPE}</b></td>
      <td width="22%" nowrap="nowrap"><b>{TXT_SUPPORT_MANDATORY}</b></td>
      <td width="22%" nowrap="nowrap"><b>{TXT_SUPPORT_MULTIPLE}</b></td>
      <td width="22%" nowrap="nowrap">
        <b>{TXT_SUPPORT_LANGUAGE}</b>&nbsp;
        {SUPPORT_EDIT_LANGUAGE_MENU}&nbsp;&nbsp;
        {TXT_SUPPORT_LANGUAGE_SHOW_ALL}
        <input type="checkbox" id="supportLanguageShowAll" name="supportLanguageShowAll"
          onchange="supportInfoFieldDoAction('showAll', 'formSupportInfoFieldTable', '', '')"
          value="1"{SUPPORT_LANGUAGE_SHOW_ALL_CHECKED} />&nbsp;
      </td>
      <td width="03%" nowrap="nowrap"><b>{TXT_SUPPORT_STATUS}</b></td>
      <td width="01%" nowrap="nowrap">
        <div style="text-align:right;"><b>{TXT_SUPPORT_ACTION}</b></div>
      </td>
    </tr>
    <!-- BEGIN infoFieldRow -->
    {INFO_FIELD_ROW}
    <!-- END infoFieldRow -->
  </table>
  <img src="images/icons/arrow.gif" border="0" width="38" height="22"
    title="{TXT_SUPPORT_INFO_FIELDS_MARKED}" alt="{TXT_SUPPORT_INFO_FIELDS_MARKED}" />
  <a href="javascript:{}" onclick="changeCheckboxes('formSupportInfoFieldTable', 'selectedInfoFieldId[]', true)"
    title="{TXT_SUPPORT_SELECT_ALL}">{TXT_SUPPORT_SELECT_ALL}
  </a>
  <a href="javascript:{}" onclick="changeCheckboxes('formSupportInfoFieldTable', 'selectedInfoFieldId[]', false)"
    title="{TXT_SUPPORT_SELECT_NONE}">{TXT_SUPPORT_SELECT_NONE}</a>
  <select name="selectAction" onchange="supportInfoFieldDoAction(this.value, 'formSupportInfoFieldTable', 'selectedInfoFieldArrayId[]', this)">
    <option value="0" selected="selected">{TXT_SUPPORT_SELECT_ACTION}</option>
    <option value="deleteInfoFields">{TXT_SUPPORT_DELETE_MARKED}</option>
  </select>
  <br />
  <br />
  <input type="submit" name="storeSupportInfoFieldTable" value="{TXT_SUPPORT_STORE}" />
</form>
