<!-- BEGIN ticketData -->
{TICKET_DATA}
<!-- END ticketData -->
<!-- BEGIN messageTable -->
{MESSAGE_TABLE}
<!-- END messageTable -->
<br />
<form name="formSupportMessageEdit" method="post" action="?cmd=support&amp;act=messageEdit" -->
  <input type="hidden" id="messageBodyOriginal" name="messageBodyOriginal"
    value="{SUPPORT_MESSAGE_BODY}">
  <input type="hidden" id="supportTicketId" name="supportTicketId"
    value="{SUPPORT_TICKET_ID}">
  <!-- BEGIN messageData -->
  <table summary="" class="adminlist" border=0 width="100%" cellpadding="2" cellspacing="0">
    <tr>
      <th nowrap="nowrap" colspan="4">{TXT_SUPPORT_MESSAGE_BODY}</th>
    </tr>
    <!-- BEGIN ticketOptions -->
    <tr class="row1">
      <td>{TXT_SUPPORT_LANGUAGE}</td>
      <td>{SUPPORT_LANGUAGE_MENU}</td>
      <td>{TXT_SUPPORT_CATEGORY}</td>
      <td>{SUPPORT_CATEGORY_MENU}</td>
    </tr>
    <tr>
      <td>{TXT_SUPPORT_FROM}</td>
      <td><input type="text" id="supportMessageFrom" name="supportMessageFrom"
        maxlength="255" style="width: 220px;" value="{SUPPORT_MESSAGE_FROM}"></td>
      <td>{TXT_SUPPORT_SUBJECT}</td>
      <td><input type="text" id="supportMessageSubject" name="supportMessageSubject"
        maxlength="255" style="width: 220px;" value="{SUPPORT_MESSAGE_SUBJECT}"></td>
    </tr>
    <!-- END ticketOptions -->
    <tr class="row2">
      <td nowrap="nowrap" colspan="4">
        <textarea id="supportMessageBody" name="supportMessageBody"
          cols="72" rows="24">{SUPPORT_MESSAGE_BODY}</textarea>
      </td>
    </tr>
  </table>
  <!-- END messageData -->
  <br />
  <input type="button" id="clearMessage" value="{TXT_SUPPORT_CLEAR}" onclick="supportMessageDoAction('clear')">&nbsp;&nbsp;
  <input type="button" id="revertMessage" value="{TXT_SUPPORT_REVERT}" onclick="supportMessageDoAction('revert')">&nbsp;&nbsp;
  <input type="button" id="messageCommit" value="{TXT_SUPPORT_COMMIT}" onclick="supportMessageDoAction('commit')">&nbsp;&nbsp;
</form>
