<!-- BEGIN supportInfoFieldRow -->
<tr class="{SUPPORT_ROW_CLASS}">
  <td nowrap="nowrap">
    <input type="hidden" name="supportInfoFieldArrayLanguageId[{SUPPORT_INFO_FIELD_ID}]" value="{SUPPORT_INFO_FIELD_LANGUAGE_ID}" />
    <input type="checkbox" name="selectedInfoFieldArrayId[]" value="{SUPPORT_INFO_FIELD_ID}" />
  </td>
  <td nowrap="nowrap">{SUPPORT_INFO_FIELD_ID}</td>
  <td nowrap="nowrap">
    <input type="text" name="supportInfoFieldArrayOrder[{SUPPORT_INFO_FIELD_ID}]"
      value="{SUPPORT_INFO_FIELD_ORDER}" size="3" maxlength="5" />
  </td>
  <td nowrap="nowrap"><b>
    <a href="index.php?cmd=support&amp;act=infoFieldsEdit&amp;supportInfoFieldId={SUPPORT_INFO_FIELD_ID}&amp;supportInfoFieldLanguageId={SUPPORT_INFO_FIELD_LANGUAGE_ID}&amp;supportInfoFieldOffset={SUPPORT_INFO_FIELD_OFFSET}&amp;supportLanguageId={SUPPORT_EDIT_LANGUAGE_ID}&amp;supportLanguageShowAll={SUPPORT_LANGUAGE_SHOW_ALL}"
      title="{SUPPORT_INFO_FIELD_NAME}">{SUPPORT_INFO_FIELD_NAME}</a></b>
  </td>
  <td nowrap="nowrap">{SUPPORT_INFO_FIELD_TYPE}</td>
  <td nowrap="nowrap">
    <input type="checkbox" name="supportInfoFieldArrayMandatory[{SUPPORT_INFO_FIELD_ID}]"
      value="1"{SUPPORT_INFO_FIELD_MANDATORY_CHECKED} />&nbsp;
  </td>
  <td nowrap="nowrap">
    <input type="checkbox" name="supportInfoFieldArrayMultiple[{SUPPORT_INFO_FIELD_ID}]"
      value="1"{SUPPORT_INFO_FIELD_MULTIPLE_CHECKED} />&nbsp;
  </td>
  <td nowrap="nowrap">{SUPPORT_INFO_FIELD_LANGUAGE}</td>
  <td nowrap="nowrap">
    <input type="checkbox" name="supportInfoFieldArrayStatus[{SUPPORT_INFO_FIELD_ID}]"
      value="1"{SUPPORT_INFO_FIELD_STATUS_CHECKED} />
  </td>
  <td nowrap="nowrap">
    <div style="text-align:right;">
      <a href="?cmd=support&amp;act=infoFieldsEdit&amp;supportInfoFieldId={SUPPORT_INFO_FIELD_ID}&amp;supportInfoFieldLanguageId={SUPPORT_INFO_FIELD_LANGUAGE_ID}&amp;supportInfoFieldOffset={SUPPORT_INFO_FIELD_OFFSET}&amp;supportLanguageId={SUPPORT_EDIT_LANGUAGE_ID}&amp;supportLanguageShowAll={SUPPORT_LANGUAGE_SHOW_ALL}"
        title="{TXT_SUPPORT_INFO_FIELD_EDIT}">
        <img src="images/icons/edit.gif" alt="{TXT_SUPPORT_INFO_FIELD_EDIT}" border="0" />
      </a>
      <a href="javascript:void();"
        onclick="supportInfoFieldDoAction('infoFieldDelete', {SUPPORT_INFO_FIELD_ID}, {SUPPORT_INFO_FIELD_LANGUAGE_ID}, '')"
        title="{TXT_SUPPORT_INFO_FIELD_DELETE_LANGUAGE}">
        <img src="images/icons/delete.gif" alt="{TXT_SUPPORT_INFO_FIELD_DELETE_LANGUAGE}" border="0" />
      </a>
    </div>
  </td>
</tr>
<!-- END supportInfoFieldRow -->
<!-- BEGIN supportInfoFieldLanguageRow -->
<tr class="{SUPPORT_ROW_CLASS}">
  <td nowrap="nowrap">
    <!-- input type="hidden" name="supportInfoFieldArrayLanguageId[{SUPPORT_INFO_FIELD_ID}]"
      value="{SUPPORT_INFO_FIELD_LANGUAGE_ID}" / -->
  </td>
  <td nowrap="nowrap"></td>
  <td nowrap="nowrap"></td>
  <td nowrap="nowrap"><b>
    <a href="index.php?cmd=support&amp;act=infoFieldsEdit&amp;supportInfoFieldId={SUPPORT_INFO_FIELD_ID}&amp;supportInfoFieldLanguageId={SUPPORT_INFO_FIELD_LANGUAGE_ID}&amp;supportInfoFieldOffset={SUPPORT_INFO_FIELD_OFFSET}&amp;supportLanguageId={SUPPORT_EDIT_LANGUAGE_ID}&amp;supportLanguageShowAll={SUPPORT_LANGUAGE_SHOW_ALL}"
      title="{SUPPORT_INFO_FIELD_NAME}">{SUPPORT_INFO_FIELD_NAME}</a></b>
  </td>
  <td nowrap="nowrap"></td>
  <td nowrap="nowrap"></td>
  <td nowrap="nowrap"></td>
  <td nowrap="nowrap">{SUPPORT_INFO_FIELD_LANGUAGE}</td>
  <td nowrap="nowrap"></td>
  <td nowrap="nowrap">
    <div style="text-align:right;">
      <a href="?cmd=support&amp;act=infoFieldsEdit&amp;supportInfoFieldId={SUPPORT_INFO_FIELD_ID}&amp;supportInfoFieldLanguageId={SUPPORT_INFO_FIELD_LANGUAGE_ID}&amp;supportInfoFieldOffset={SUPPORT_INFO_FIELD_OFFSET}&amp;supportLanguageId={SUPPORT_EDIT_LANGUAGE_ID}&amp;supportLanguageShowAll={SUPPORT_LANGUAGE_SHOW_ALL}"
        title="{TXT_SUPPORT_INFO_FIELD_EDIT}">
        <img src="images/icons/edit.gif" alt="{TXT_SUPPORT_INFO_FIELD_EDIT}" border="0" />
      </a>
      <a href="javascript:void();"
        onclick="supportInfoFieldDoAction('infoFieldDelete', {SUPPORT_INFO_FIELD_ID}, {SUPPORT_INFO_FIELD_LANGUAGE_ID}, '')"
        title="{TXT_SUPPORT_INFO_FIELD_DELETE_LANGUAGE}">
        <img src="images/icons/delete.gif" alt="{TXT_SUPPORT_INFO_FIELD_DELETE_LANGUAGE}" border="0" />
      </a>
    </div>
  </td>
</tr>
<!-- END supportInfoFieldLanguageRow -->
