<tr class="row1">
  <td nowrap="nowrap">
    <input type="radio" name="supportMessageSelect"
      value="{SUPPORT_MESSAGE_ID}"{SUPPORT_MESSAGE_SELECTED}
      onchange="supportMessageTableEvent('select', {SUPPORT_MESSAGE_ID})" />
  </td>
  <td nowrap="nowrap">{SUPPORT_MESSAGE_ID}</td>
  <td nowrap="nowrap">{SUPPORT_MESSAGE_DATE}</td>
  <td nowrap="nowrap">{SUPPORT_MESSAGE_STATUS}</td>
  <td nowrap="nowrap">
    <a href="?cmd=support&amp;act=messageData&amp;supportMessageId={SUPPORT_MESSAGE_ID}"
      title="{TXT_SUPPORT_MESSAGE_VIEW}">
      {SUPPORT_MESSAGE_FROM}
    </a>
  </td>
  <td nowrap="nowrap">{SUPPORT_MESSAGE_SUBJECT}</td>
</tr>
