<script type="text/javascript">
<!--
function supportMessageTableEvent(strAction, messageId)
{
  switch(strAction) {
    case 'select':
//alert("Action: " + strAction + "\nMessage ID: " + messageId);
      document.forms.formSupportMessageTable.action +=
        "&supportMessageId="+messageId;
      document.forms.formSupportMessageTable.submit();
      break;

    case 'quote':
      if (confirm('{TXT_SUPPORT_MESSAGE_REALLY_QUOTE}')) {
        document.forms.formSupportMessageTable.action =
          "index.php?cmd=support&act=messageEdit&supportMessageId="+messageId;
        document.forms.formSupportMessageTable.submit();
      }
      break;
  }
}
// -->
</script>

<form name="formSupportMessageTable" method="post" action="?cmd=support&amp;act={SUPPORT_MESSAGE_TABLE_ACTION}">
<table summary="" class="adminlist" border=0 width="100%" cellpadding="2" cellspacing="0">
    <tr class="row1">
      <th colspan="6" nowrap="nowrap">{TXT_SUPPORT_MESSAGES}</th>
  </tr>
  <tr class="row2">
      <td nowrap="nowrap" width="05%">{TXT_SUPPORT_SELECTED}</td>
      <td nowrap="nowrap" width="05%">{HEADER_SUPPORT_MESSAGE_ID}</td>
      <td nowrap="nowrap" width="20%">{HEADER_SUPPORT_MESSAGE_DATE}</td>
      <td nowrap="nowrap" width="05%">{HEADER_SUPPORT_MESSAGE_STATUS}</td>
      <td nowrap="nowrap" width="30%">{HEADER_SUPPORT_MESSAGE_FROM}</td>
      <td nowrap="nowrap" width="40%">{HEADER_SUPPORT_MESSAGE_SUBJECT}</td>
  </tr>
  <!-- BEGIN messageRow -->
  {MESSAGE_ROW}
  <!-- END messageRow -->
</table>
</form>
<br />

{MESSAGE_DATA}
