<script type="text/javascript">
<!--
function supportMessageEditEvent(strAction, messageId)
{
  switch(strAction) {
    case 'clear':
      if (confirm('{TXT_SUPPORT_MESSAGE_REALLY_CLEAR}')) {
        document.forms.formSupportMessageEdit.elements.messageBody.value = '';
      }
      break;
    case 'revert':
      if (confirm('{TXT_SUPPORT_MESSAGE_REALLY_REVERT}')) {
        document.forms.formSupportMessageEdit.elements.messageBody.value =
          document.getElementById('messageBodyOriginal').value;
      }
      break;
    case 'commit':
      if (confirm('{TXT_SUPPORT_MESSAGE_REALLY_COMMIT}')) {
        document.forms.formSupportMessageEdit.action =
          "index.php?cmd=support&act=messageCommit";
        document.forms.formSupportMessageEdit.submit();
      }
      break;
  }
}
// -->
</script>

{TICKET_DATA}

{MESSAGE_TABLE}

<br />
<form name="formSupportMessageEdit" method="post" action="?cmd=support&amp;act=messageEdit">
  <input type="hidden" id="messageBodyOriginal" name="messageBodyOriginal"
    value="{SUPPORT_MESSAGE_BODY}">
  <input type="hidden" id="supportTicketId" name="supportTicketId"
    value="{SUPPORT_TICKET_ID}">
  <input type="hidden" id="supportCategoryId" name="supportCategoryId"
    value="{SUPPORT_CATEGORY_ID}">
  <table summary="" class="adminlist" border=0 width="100%" cellpadding="2" cellspacing="0">
    <tr>
      <th nowrap="nowrap" colspan="4">{TXT_SUPPORT_MESSAGE_BODY}</th>
    </tr>
    <!-- BEGIN ticketOptions -->
    <tr class="row1">
      <td>{TXT_SUPPORT_LANGUAGE}</td>
      <td>{SUPPORT_LANGUAGE_MENU}</td>
      <td>{TXT_SUPPORT_CATEGORY}</td>
      <td>{SUPPORT_CATEGORY_MENU}</td>
    </tr>
    <tr>
      <td>{TXT_SUPPORT_FROM}</td>
      <td><input type="text" id="supportMessageFrom" name="supportMessageFrom"
        maxlength="255" style="width: 220px;" value="{SUPPORT_MESSAGE_FROM}"></td>
      <td>{TXT_SUPPORT_SUBJECT}</td>
      <td><input type="text" id="supportMessageSubject" name="supportMessageSubject"
        maxlength="255" style="width: 220px;" value="{SUPPORT_MESSAGE_SUBJECT}"></td>
    </tr>
    <!-- END ticketOptions -->
    <tr class="row2">
      <td nowrap="nowrap" colspan="4">
        <textarea id="supportMessageBody" name="supportMessageBody"
          cols="72" rows="24">{SUPPORT_MESSAGE_BODY}</textarea>
      </td>
    </tr>
  </table>
  <br />
  <input type="button" id="messageCommit" value="{TXT_SUPPORT_COMMIT}" onclick="supportMessageEditEvent('commit', 0)">&nbsp;&nbsp;
  <label for="ticketClose">{TXT_SUPPORT_TICKET_CLOSE}</label>
  <input type="checkbox" id="supportTicketClose" name="supportTicketClose" value="1">&nbsp;&nbsp;
  <input type="button" id="messageClear" value="{TXT_SUPPORT_CLEAR}" onclick="supportMessageEditEvent('clear', 0)">&nbsp;&nbsp;
  <input type="button" id="messageRevert" value="{TXT_SUPPORT_REVERT}" onclick="supportMessageEditEvent('revert', 0)">&nbsp;&nbsp;
</form>
