<script type="text/javascript">
<!--
function supportTicketsDoAction(strAction, strForm, strCheckbox, objSelect)
{
  if (checkboxIsChecked(strForm, strCheckbox) == true) {
    switch(strAction) {
      case 'delete':
        if (confirm('{TXT_SUPPORT_TICKETS_DELETE_CONFIRM}\n{TXT_SUPPORT_ACTION_IS_IRREVERSIBLE}')) {
          document.forms[strForm].action = "index.php?cmd=support&act=ticketsDelete";
          document.forms[strForm].submit();
        }
        break;
    }
  } else {
    alert("{TXT_SUPPORT_MAKE_SELECTION}");
  }
  objSelect.value = 0;
}
// -->
</script>

<!-- BEGIN ticketTableFilter -->
<form name="formSupportTicketsFilter" method="post" action="?cmd=support&amp;act=ticketTable">
  <table summary="" width="100%" border="0" cellspacing="0" cellpadding="2" class="adminlist">
  <tr>
    <th style="text-align: left">
    {TXT_SUPPORT_TICKETS_FILTER}
    </th>
  </tr>
  <tr class=row1>
    <td>
      <label for="supportLanguageId">{TXT_SUPPORT_LANGUAGE}</label>
      <select id="supportLanguageId" name="supportLanguageId"
        onchange="document.forms.formSupportTicketsFilter.submit()">
        <option value="0">{TXT_SUPPORT_ALL}</option>
        {SUPPORT_TICKET_LANGUAGE_MENU}
      </select>&nbsp;&nbsp;
      <label for="supportTicketOwnerId">{TXT_SUPPORT_OWNER}</label>
      <select id="supportTicketOwnerId" name="supportTicketOwnerId"
        onchange="document.forms.formSupportTicketsFilter.submit()">
        <option value="-1">{TXT_SUPPORT_ALL}</option>
        {SUPPORT_TICKET_OWNER_MENU}
        <option value="0">{TXT_SUPPORT_NO_OWNER}</option>
      </select>&nbsp;&nbsp;
      <label for="supportCategoryId">{TXT_SUPPORT_CATEGORY}</label>
      <select id="supportCategoryId" name="supportCategoryId"
        onchange="document.forms.formSupportTicketsFilter.submit()">
        <option value="0">{TXT_SUPPORT_ALL}</option>
        {SUPPORT_TICKET_CATEGORY_MENU}
      </select>&nbsp;&nbsp;
      <label for="supportTicketStatus">{TXT_SUPPORT_STATUS}</label>
      <select id="supportTicketStatus" name="supportTicketStatus"
        onchange="document.forms.formSupportTicketsFilter.submit()">
        <option value="-1">{TXT_SUPPORT_ALL}</option>
        {SUPPORT_TICKET_STATUS_MENU}
      </select>&nbsp;&nbsp;
      <label for="supportTicketSource">{TXT_SUPPORT_SOURCE}</label>
      <select id="supportTicketSource" name="supportTicketSource"
        onchange="document.forms.formSupportTicketsFilter.submit()">
        <option value="-1">{TXT_SUPPORT_ALL}</option>
        {SUPPORT_TICKET_SOURCE_MENU}
      </select>&nbsp;&nbsp;
      <!-- input type="submit" name="supportTicketsUpdate" value="{TXT_SUPPORT_TICKET_UPDATE}" / -->
    </td>
  </tr>
  <tr class=row2>
    <td>
      <!--label for="supportTicketSearchTerm">{TXT_SUPPORT_TICKET_SEARCH_TERM}</label>
      <input type="text" id="supportTicketSearchTerm"
         name="supportTicketSearchTerm" size="40" maxlength="255"
         value="{SUPPORT_TICKET_SEARCH_TERM}" />&nbsp;&nbsp;
    </td>
  </tr>
  <tr class=row1>
    <td -->
      <label for="supportTicketShowClosed">{TXT_SUPPORT_TICKET_SHOW_CLOSED}</label>
      <input type="checkbox" {SUPPORT_TICKET_SHOW_CLOSED_CHECK}
        id="supportTicketShowClosed" name="supportTicketShowClosed"
        onchange="document.formSupportTicketsFilter.submit();" />
    </td>
  </tr>
  </table>
  <br />
</form>
<!-- END ticketTableFilter -->

<!-- BEGIN ticketTable -->
<p>
  {SUPPORT_PAGING}
</p>
<form name="formSupportTicketSelect" method="post" action="?cmd=support&amp;act=tickets">
  <table summary="" class="adminlist" border=0 width="100%" cellpadding="2" cellspacing="0">
    <tr>
      <th nowrap="nowrap" style="text-align:center;">#</th>
      <th nowrap="nowrap" width="5%">{HEADER_SUPPORT_TICKET_ID}</th>
      <th nowrap="nowrap" width="15%">{HEADER_SUPPORT_TICKET_DATE}</th>
      <th nowrap="nowrap" width="5">{HEADER_SUPPORT_TICKET_STATUS}</th>
      <th nowrap="nowrap" width="20%">{HEADER_SUPPORT_TICKET_EMAIL}</th>
      <th nowrap="nowrap" width="20%">{HEADER_SUPPORT_TICKET_CATEGORY}</th>
      <th nowrap="nowrap" width="15%">{HEADER_SUPPORT_TICKET_OWNER}</th>
      <th nowrap="nowrap" width="10%">{HEADER_SUPPORT_TICKET_LANGUAGE}</th>
      <th nowrap="nowrap" width="10%">{HEADER_SUPPORT_TICKET_MESSAGE_COUNT}</th>
      <th nowrap="nowrap" width="10%" style="text-align:right;">
        {TXT_SUPPORT_ACTION}
      </th>
    </tr>
    <!-- BEGIN ticketRow -->
    {TICKET_ROW}
    <!-- END ticketRow -->
  </table>
  <img src="images/icons/arrow.gif" border="0" width="38" height="22"
    title="{TXT_SUPPORT_TICKETS_MARKED}:" alt="{TXT_SUPPORT_TICKETS_MARKED}:" />
  <a href="javascript:{}" onclick="changeCheckboxes('formSupportTicketSelect', 'selectedTicketId[]', true)"
    title="{TXT_SUPPORT_SELECT_ALL}">{TXT_SUPPORT_SELECT_ALL}</a>&nbsp;/&nbsp;
  <a href="javascript:{}" onclick="changeCheckboxes('formSupportTicketSelect', 'selectedTicketId[]', false)"
    title="{TXT_SUPPORT_SELECT_NONE}">{TXT_SUPPORT_SELECT_NONE}</a>&nbsp;&nbsp;&nbsp;
  <select name="selectAction" onchange="supportTicketsDoAction(this.value, 'formSupportTicketSelect', 'selectedTicketId[]', this)">
    <option value="0" selected="selected">{TXT_SUPPORT_SELECT_ACTION}:</option>
    <option value="delete">{TXT_SUPPORT_DELETE}</option>
  </select>
</form>
<p>
  {SUPPORT_PAGING}
</p>
<!-- END ticketTable -->
