<!-- BEGIN supportCategoryRow -->
<tr class="{SUPPORT_ROW_CLASS}">
  <td nowrap="nowrap">
    <input type="hidden" value="{SUPPORT_CATEGORY_LANGUAGE_ID}" name="supportCategoryArrayLanguageId[{SUPPORT_CATEGORY_ID}]" />
    <input type="checkbox" name="selectedCategoryArrayId[]" value="{SUPPORT_CATEGORY_ID}" />
  </td>
  <td nowrap="nowrap">{SUPPORT_CATEGORY_ID}</td>
  <td nowrap="nowrap">
    <input type="text" name="supportCategoryArrayOrder[{SUPPORT_CATEGORY_ID}]"
      value="{SUPPORT_CATEGORY_ORDER}" size="3" maxlength="5" />
  </td>
  <td nowrap="nowrap">
    {SUPPORT_INDENT}
    <b><a href="index.php?cmd=support&amp;act=categoriesEdit&amp;supportCategoryId={SUPPORT_CATEGORY_ID}&amp;supportCategoryLanguageId={SUPPORT_CATEGORY_LANGUAGE_ID}&amp;supportLanguageId={SUPPORT_EDIT_LANGUAGE_ID}&amp;supportCategoryOffset={SUPPORT_CATEGORY_OFFSET}&amp;supportLanguageShowAll={SUPPORT_LANGUAGE_SHOW_ALL}"
      title="{SUPPORT_CATEGORY_NAME}">{SUPPORT_CATEGORY_NAME}</a></b>
    <a href="?cmd=support&amp;act=ticketTable&amp;supportCategoryId={SUPPORT_CATEGORY_ID}&amp;supportLanguageId={SUPPORT_CATEGORY_LANGUAGE_ID}"
      title="{TXT_SUPPORT_CATEGORY_HAS_TICKETS}">
        <img src="images/icons/details.gif" width="14" height="16"
          border="0" alt="{TXT_SUPPORT_CATEGORY_HAS_TICKETS}" /></a>
  </td>
  <td nowrap="nowrap">{SUPPORT_CATEGORY_LANGUAGE}</td>
  <td nowrap="nowrap">
    <input type="checkbox" name="supportCategoryArrayStatus[{SUPPORT_CATEGORY_ID}]"
      value="1"{SUPPORT_CATEGORY_STATUS_CHECKED} />
  </td>
  <td nowrap="nowrap">
    <div style="text-align:right;">
      <a href="?cmd=support&amp;act=categoriesEdit&amp;supportCategoryId={SUPPORT_CATEGORY_ID}&amp;supportCategoryLanguageId={SUPPORT_CATEGORY_LANGUAGE_ID}&amp;supportLanguageId={SUPPORT_EDIT_LANGUAGE_ID}&amp;supportCategoryOffset={SUPPORT_CATEGORY_OFFSET}&amp;supportLanguageShowAll={SUPPORT_LANGUAGE_SHOW_ALL}"
        title="{TXT_SUPPORT_CATEGORY_EDIT}">
        <img src="images/icons/edit.gif" alt="{TXT_SUPPORT_CATEGORY_EDIT}" border="0" />
      </a>
      <a href="javascript:void();"
        onclick="supportCategoryDoAction('categoryDelete', {SUPPORT_CATEGORY_ID}, {SUPPORT_CATEGORY_LANGUAGE_ID}, '')"
        title="{TXT_SUPPORT_CATEGORY_DELETE_LANGUAGE}">
        <img src="images/icons/delete.gif" alt="{TXT_SUPPORT_CATEGORY_DELETE_LANGUAGE}" border="0" />
      </a>
    </div>
  </td>
</tr>
<!-- END supportCategoryRow -->
<!-- BEGIN supportCategoryLanguageRow -->
<tr class="{SUPPORT_ROW_CLASS}">
  <td nowrap="nowrap">
    <!-- input type="hidden" value="{SUPPORT_CATEGORY_LANGUAGE_ID}"
      name="supportCategoryArrayLanguageId[{SUPPORT_CATEGORY_ID}]" / -->
  </td>
  <td nowrap="nowrap"></td>
  <td nowrap="nowrap"></td>
  <td nowrap="nowrap">
    {SUPPORT_INDENT}
    <b><a href="index.php?cmd=support&amp;act=categoriesEdit&supportCategoryId={SUPPORT_CATEGORY_ID}&amp;supportCategoryLanguageId={SUPPORT_CATEGORY_LANGUAGE_ID}&amp;supportCategoryOffset={SUPPORT_CATEGORY_OFFSET}&amp;supportLanguageId={SUPPORT_EDIT_LANGUAGE_ID}&amp;supportLanguageShowAll={SUPPORT_LANGUAGE_SHOW_ALL}"
      title="{SUPPORT_CATEGORY_NAME}">{SUPPORT_CATEGORY_NAME}</a></b>
    <a href="?cmd=support&amp;act=ticketTable&amp;supportCategoryId={SUPPORT_CATEGORY_ID}&amp;supportCategoryLanguageId={SUPPORT_CATEGORY_LANGUAGE_ID}&amp;supportCategoryOffset={SUPPORT_CATEGORY_OFFSET}&supportLanguageId={SUPPORT_EDIT_LANGUAGE_ID}"
      title="{TXT_SUPPORT_CATEGORY_HAS_TICKETS}">
        <img src="images/icons/details.gif" width="14" height="16"
          border="0" alt="{TXT_SUPPORT_CATEGORY_HAS_TICKETS}" /></a>
  </td>
  <td nowrap="nowrap">{SUPPORT_CATEGORY_LANGUAGE}</td>
  <td nowrap="nowrap"></td>
  <td nowrap="nowrap">
    <div style="text-align:right;">
      <a href="?cmd=support&amp;act=categoriesEdit&amp;supportCategoryId={SUPPORT_CATEGORY_ID}&amp;supportCategoryLanguageId={SUPPORT_CATEGORY_LANGUAGE_ID}&amp;supportCategoryOffset={SUPPORT_CATEGORY_OFFSET}&supportLanguageId={SUPPORT_EDIT_LANGUAGE_ID}&amp;supportLanguageShowAll={SUPPORT_LANGUAGE_SHOW_ALL}"
        title="{TXT_SUPPORT_CATEGORY_EDIT}">
        <img src="images/icons/edit.gif" alt="{TXT_SUPPORT_CATEGORY_EDIT}" border="0" />
      </a>
      <a href="javascript:void();"
        onclick="supportCategoryDoAction('categoryDelete', {SUPPORT_CATEGORY_ID}, {SUPPORT_CATEGORY_LANGUAGE_ID}, '')"
        title="{TXT_SUPPORT_CATEGORY_DELETE_LANGUAGE}">
        <img src="images/icons/delete.gif" alt="{TXT_SUPPORT_CATEGORY_DELETE_LANGUAGE}" border="0" />
      </a>
    </div>
  </td>
</tr>
<!-- END supportCategoryLanguageRow -->
