<script type="text/javascript">
<!--
function supportMessageDataEvent(strAction, messageId)
{
  switch(strAction) {
    case 'quote':
      document.location =
        "index.php?cmd=support&{CSRF_PARAM}&act=messageEdit&supportMessageId=" + messageId;
      break;
    case 'ticketClose':
      document.location =
        "index.php?cmd=support&{CSRF_PARAM}&act=ticketClose&supportMessageId=" + messageId;
      break;
  }
}
// -->
</script>

<table summary="" class="adminlist" border=0 width="100%" cellpadding="2" cellspacing="0">
  <tr>
    <th nowrap="nowrap" colspan="4">{TXT_SUPPORT_MESSAGE}</th>
  </tr>
  <tr class="row1">
    <td nowrap="nowrap" width="20%">{TXT_SUPPORT_ID}</td>
    <td nowrap="nowrap" width="30%">{SUPPORT_MESSAGE_ID}</td>
    <td nowrap="nowrap" width="20%">{TXT_SUPPORT_FROM}</td>
    <td nowrap="nowrap" width="30%">{SUPPORT_MESSAGE_FROM}</td>
  </tr>
  <tr class="row2">
    <td nowrap="nowrap">{TXT_SUPPORT_DATE}</td>
    <td nowrap="nowrap">{SUPPORT_MESSAGE_DATE}</td>
    <td nowrap="nowrap">{TXT_SUPPORT_SUBJECT}</td>
    <td nowrap="nowrap">{SUPPORT_MESSAGE_SUBJECT}</td>
  </tr>
  <tr class="row1">
    <td nowrap="nowrap">{TXT_SUPPORT_STATUS}</td>
    <td nowrap="nowrap">{SUPPORT_MESSAGE_STATUS}</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
<br />
<table summary="" class="adminlist" border=0 width="100%" cellpadding="2" cellspacing="0">
  <tr>
    <th nowrap="nowrap">{TXT_SUPPORT_MESSAGE_BODY}</th>
  </tr>
  <tr class="row1">
    <td nowrap="nowrap"><pre>{SUPPORT_MESSAGE_BODY}</pre></td>
  </tr>
</table>
<br />
<input type="button" id="supportMessageQuote" name="supportMessageQuote"
  value="{TXT_SUPPORT_MESSAGE_QUOTE}"
  onclick="supportMessageDataEvent('quote', {SUPPORT_MESSAGE_ID})">&nbsp;&nbsp;
<input type="button" id="supportTicketClose" name="supportTicketClose"
  value="{TXT_SUPPORT_TICKET_CLOSE}"
  onclick="supportMessageDataEvent('ticketClose', {SUPPORT_MESSAGE_ID})">&nbsp;&nbsp;
