<script type="text/javascript">
<!--
function ticketClose()
{
  if (confirm('{TXT_SUPPORT_TICKET_CLOSE_CONFIRM}\n{TXT_SUPPORT_ACTION_IS_IRREVERSIBLE}')) {
    window.location.replace("index.php?cmd=support&{CSRF_PARAM}&act=ticketClose&supportTicketId={SUPPORT_TICKET_ID}");
  }
}

function ticketDelete()
{
  if (confirm('{TXT_SUPPORT_TICKET_DELETE_CONFIRM}\n{TXT_SUPPORT_ACTION_IS_IRREVERSIBLE}')) {
    window.location.replace("index.php?cmd=support&{CSRF_PARAM}&act=ticketDelete&supportTicketId={SUPPORT_TICKET_ID}");
  }
}
// -->
</script>

<form name="formSupportTicketData" method="post" action="?cmd=support&amp;act=tickets">
  <table summary="" class="adminlist" border=0 width="100%" cellpadding="2" cellspacing="0">
    <tr>
      <th nowrap="nowrap" colspan="4">{TXT_SUPPORT_TICKET_DETAIL}</th>
    </tr>
    <tr class="row2">
      <td nowrap="nowrap">
        {TXT_SUPPORT_TICKET_ID}
        <input type="hidden" id="supportTicketId" name="supportTicketId"
          value="{SUPPORT_TICKET_ID}" />
      </td>
      <td nowrap="nowrap">{SUPPORT_TICKET_ID}</td>
      <td nowrap="nowrap">&nbsp;</td>
      <td nowrap="nowrap">&nbsp;</td>
    </tr>
    <tr class="row1">
      <td nowrap="nowrap" width="20%">{TXT_SUPPORT_DATE}</td>
      <td nowrap="nowrap" width="30%">{SUPPORT_TICKET_DATE}</td>
      <td nowrap="nowrap" width="20%">{TXT_SUPPORT_FROM}</td>
      <td nowrap="nowrap" width="30%">{SUPPORT_TICKET_EMAIL}</td>
    </tr>
    <tr class="row2">
      <td nowrap="nowrap">{TXT_SUPPORT_STATUS}</td>
      <td nowrap="nowrap">{SUPPORT_TICKET_STATUS}</td>
      <td nowrap="nowrap">{TXT_SUPPORT_LANGUAGE}</td>
      <td nowrap="nowrap">{SUPPORT_TICKET_LANGUAGE}</td>
    </tr>
    <tr class="row1">
      <td nowrap="nowrap">{TXT_SUPPORT_CATEGORY}</td>
      <td nowrap="nowrap">{SUPPORT_TICKET_CATEGORY}</td>
      <td nowrap="nowrap">{TXT_SUPPORT_CHANGE_TO}</td>
      <td nowrap="nowrap">{SUPPORT_TICKET_CATEGORY_MENU}</td>
    </tr>
    <tr class="row2">
      <td nowrap="nowrap">{TXT_SUPPORT_OWNER}</td>
      <td nowrap="nowrap">{SUPPORT_TICKET_OWNER}</td>
      <td nowrap="nowrap">{TXT_SUPPORT_CHANGE_TO}</td>
      <td nowrap="nowrap">{SUPPORT_TICKET_OWNER_MENU}</td>
    </tr>
  </table>
  <br />
  <!-- BEGIN closeButton -->
  <input type="button" name="close" value="{TXT_SUPPORT_TICKET_CLOSE}"
    onclick="ticketClose()">&nbsp;&nbsp;
  <!-- END closeButton -->
  <input type="button" name="delete" value="{TXT_SUPPORT_DELETE}"
    onclick="ticketDelete()">&nbsp;&nbsp;
  <br />
  <br />
</form>
