/* CALENDAR */
form.contactForm p {
	width: 300px;
	clear: left;
	margin: 0;
	padding: 2px 0 3px 0;
	padding-left: 155px;
	height: 1%;
}
form.contactForm p label.noCaption {
	float: left;
	width: 150px;
	margin-left: 2px;
	margin-top: 2px;
}
form.contactForm .contactFormGroup {
	float: left;
	margin-top: -15px !important;
}
form.contactForm p input.contactFormClass_checkbox {
	float: left;
}
form.contactForm p input.contactFormClass_checkboxGroup {
	clear: left;
	float: left;
}
form.contactForm p input.contactFormClass_radio {
	clear: left;
	float: left;
}
form.contactForm p label, .contactForm p span {
	font-weight: bold;
	float: left;
	margin-left: -155px;
	width: 150px;
}
form.contactForm input[type="text"] {
	width: 180px;
}
form.contactForm img.captcha {
	float: left;
}
form.contactForm .is_required {
	color: red;
}
form.contactForm textarea {
	width: 250px;
	height: 150px;
}
form.contactForm #contactFormCaptcha {
	margin-left: 147px;
}
form.contactForm .contactFormClass_button {
	margin-left: 0px;
}
form.contactForm  #contactFormCaptcha {
	margin-left: 3px !important;
	margin-top: 5px !important;
}

/* ROWS */
.row1 {

}
.row2 {
	background-color: #f9f9f9;
}

/* GALLERY */
#gallery img {
	border: 4px solid #efefef;
	margin-bottom: 4px;
}
#gallery a, #gallery a:visited {
	border: 0px;
}
#gallery a:hover {
	border: 0px;
}
#gallery a:hover img {
	border: 4px solid #d0d0d0;
	margin-bottom: 4px;
}

/* DOCSYS */
#docsys {
	border-top: 1px solid #d0d0d0;
	border-left: 1px solid #d0d0d0;
}
#docsys td {
	border-right: 1px solid #d0d0d0;
	border-bottom: 1px solid #d0d0d0;
}
#docsys th {
	border-right: 1px solid #d0d0d0;
	border-bottom: 1px solid #d0d0d0;
	font-weight: bold;
	background-color: #efefef;
}

/* MEDIA */
#media {
	width: 100%;
	border-top: 1px solid #d0d0d0;
	border-left: 1px solid #d0d0d0;
}
#media td {
	border-right: 1px solid #d0d0d0;
	border-bottom: 1px solid #d0d0d0;
}
#media th {
	border-right: 1px solid #d0d0d0;
	border-bottom: 1px solid #d0d0d0;
	font-weight: bold;
	background-color: #efefef;
}

/* NEWS */
#news {
	border-top: 1px solid #d0d0d0;
	border-left: 1px solid #d0d0d0;
}
#news td {
	border-right: 1px solid #d0d0d0;
	border-bottom: 1px solid #d0d0d0;
}
#news th {
	border-right: 1px solid #d0d0d0;
	border-bottom: 1px solid #d0d0d0;
	font-weight: bold;
	background-color: #efefef;
}

/* DIRECTOR */
#directory {
	border-top: 0px solid #d0d0d0;
	border-bottom: 0px solid #d0d0d0;
	border-right: 0px solid #d0d0d0;
	border-left: 0px solid #d0d0d0;
	background-color: #ffffff;
}
#directory span.title {
	font-weight: bold;
	font-size:11px;
	color: #000000;
}
#directory span.title a{
	font-weight: bold;
	color: #000000;
}
#directory span.title a:hover{
	font-weight: bold;
}
#directory a.catLink {
	font-weight: bold;
	font-size:12px;
}
#directory a.catLink:hover {
}
#directory a.subcatLink {
	font-weight: normal;
	font-size:11px;
}
#directory a.subcatLink:hover {
}
#directory td.description{
	border-top: 1px solid #d0d0d0;
	border-bottom: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0;
	border-left: 1px solid #d0d0d0;
	background-color: #efefef;
    padding: 4px;
   	color: #000000;
}

/* SITEMAP */
#sitemap_level_1 {
	padding: 4px 0px 4px 20px;
    background-image: url('images/icons/link.gif');
    background-repeat: no-repeat;
    background-position: 0px 4px;
    font-weight: bold;
}
#sitemap_level_2 {
	padding: 2px 0px 2px 40px;
    background-image: url('images/icons/link.gif');
    background-repeat: no-repeat;
    background-position: 20px 4px;
}
#sitemap_level_3,
#sitemap_level_4,
#sitemap_level_5 {
	padding: 1px 0px 1px 60px;
    font-style: italic;
}

/* FORUM */
#forum .div_title {
	font-weight: bold;
	padding: 3px 6px 3px 6px;
	background-color: #efefef;
	border: 1px solid #d0d0d0;
}
#forum div.div_board {
	margin: 0px 0px 0px 0px;
}
#forum div.div_board hr{
	height: 1px;
	background-color: #7390AF;
	border: 0px solid #7390AF;
}
#forum span.last_edited{
	font-size: 10px;
}
#forum table {
	width: 100%;
	border-right: 1px solid #d0d0d0;
	border-left: 1px solid #d0d0d0;
}
#forum table tr{
	text-align: left;
}
#forum table th {
	font-weight: bold;
	text-align: left;
	padding: 3px 6px 3px 6px;
	background-color: #f9f9f9;
	border-bottom: 1px solid #d0d0d0;
}
#forum table td {
	text-align: left;
	padding: 3px 6px 3px 6px;
}
#forum table .row_subtitle td {
	font-weight: bold;
	border-bottom: 1px solid #d0d0d0;
}
#forum .bottomborder{
	border-bottom: 1px solid #d0d0d0;
}
#forum .row_1 {
	background-color: #ffffff;
}
#forum .row_2 {
	background-color: #f9f9f9;
}
#forum .div_board pre.forum_code{
	padding: 3px;
	background-color: #fcfce6;
	border: 1px solid #d0d0d0;
}
#forum .div_board div.quote{
	padding: 3px;
	background-color: #fcfcff;
	border: 1px solid #d0d0d0;
}
#forum .div_board div.code{
	padding: 3px;
	background-color: #eeeeee;
	border: 1px solid #d0d0d0;
	font-family: monospace;
	white-space: pre;
}
#forum .div_board span.quote_from{
	font-weight: normal;
}
#forum .div_board .forum_embedded{
	border: 1px solid #333333;
}