body {
	font-family: Tahoma;
	font-size: 10px;
	text-align: justify;
	color: #333333;
	margin: 0px;
	padding: 0px;
	background-color: #eeeeee;
}
/* GENERAL  ------------------------------------------------------------------------ */
#container {
	float: left;
	width: 776px;
	position: absolute;
	left: 50%;
	margin-left: -388px;
}
/* BACKGROUND ---------------------------------------------------------------------- */
#bg_top {
	width: 776px;
	height: 24px;
	background-image: url('images/bg_top.gif');
	background-repeat: no-repeat;
	background-position: bottom center;
}

#bg_content {
	padding: 5px 0px 0px 1px;
	width: 776px;
	background-image: url('images/bg_center.gif');
	background-repeat: repeat-y;
	background-position: center center;
}

#bg_bottom {
	width: 776px;
	height: 18px;
	background-image: url('images/bg_bottom.gif');
	background-repeat: no-repeat;
	background-position: top center;
}
/* HEADER -------------------------------------------------------------------------- */
#header {
	padding: 26px 28px 26px 28px;
	margin: 0px 25px 0px 25px;
	width: 670px;
	height: 24px;
	background-image: url('images/header_bg.gif');
	background-repeat: repeat-x;
	background-position: top center;
}
#header_left {
	float: left;
	height: 22px;
	width: 335px;
	color: #ffffff;
	font-size: 22px;
	font-weight: bold;
	text-align: left;
}
#header_right {
	float: right;
	height: 22px;
	width: 335px;
	color: #ffffff;
	font-size: 22px;
	font-weight: bold;
	text-align: right;
}
/* NAVIGATION ---------------------------------------------------------------------- */
#navbar {
	padding: 0px 28px 0px 28px;
	margin: 0px 25px 0px 25px;
	width: 670px;
	height: 24px;
	background-image: url('images/navigation_bg.gif');
	font-family: Verdana, arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
}
#navbar ul {
	height:24px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	list-style: none;
}
#navbar ul li {
	float: left;
	height:16px;
	margin: 0px 0px 0px 0px;
	padding: 5px 7px 3px 7px;
}
#navbar ul li.active {
	margin: 0px 0px 0px 0px;
	padding: 4px 6px 2px 6px;
	border-top: 1px solid #aaaaaa;
	border-left: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
	border-bottom: 1px solid #ececec;
	background-color: #f5f5f5;
}
#navbar ul li a, #navbar ul li a:visited {
	margin: 0px 0px 0px 0px;
	padding: 0px 2px 0px 2px;
	text-decoration: none;
	color: #455372;
} 
#navbar ul li a:hover {
	text-decoration: underline;
}
/* SUBNAVIGATION ------------------------------------------------------------------- */
#subnavbar {
	padding: 0px 28px 0px 28px;
	margin: 0px 25px 0px 25px;
	width: 668px;
	min-height: 3px;
	height: auto !important;
	height: 2px;
 	background-color: #f5f5f5;
 	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	font-family: arial, sans-serif;
	font-size: 11px;
}
#subnavbar ul {
	margin: 0px 0px 0px 0px;
	padding: 4px 0px 4px 0px;
	list-style: none;
}
#subnavbar ul li {
	display: inline;
	margin: 0px 0px 0px 0px;
	padding: 0px 10px 0px 0px;
}
#subnavbar ul li a, #subnavbar ul li a:visited {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	text-decoration: none;
	color: #555555;
}
#subnavbar ul li a:hover, #subnavbar ul li a.active {
	text-decoration: underline;
}
/* CONTENT ------------------------------------------------------------------------- */
#content {
	padding: 20px 10px 20px 10px;
	margin: 0px 25px 0px 25px;
	width: 706px;
	min-height: 483px;
 	height:auto !important;
 	height:482px;
}
#content h1 {
	padding: 0px 0px 15px 0px;
	margin: 0px 0px 0px 0px;
	font-family: Verdana, arial, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #666666;
}
#content_text {
	font-family: verdana, tahoma, arial, sans-serif;
	font-size: 11px;
	color: #333333;
}
#content_text a, #content_text a:visited {
	text-decoration: none;
	border-bottom: 1px solid #cccccc;
	color: #000066;
}
#content_text a:hover {
	border-bottom: 1px solid #c94900;
}
#content_text input {
	padding: 2px 1px 2px 3px;
	background-color: #f5f5f5;
	border: 1px solid #666666;
	font-family: verdana, tahoma, arial, sans-serif;
	font-size: 11px;
}
#content_text select, #content_text textarea {
	background-color: #f5f5f5;
	border: 1px solid #666666;
}
#content_text input[type="text"] { /* Funktioniert nicht bis IE 6.0 */
	height: 16px;
	padding: 1px 1px 0px 3px;
	background-color: #ffffff;
	background-image: url('images/input_bg.gif');
	background-repeat: repeat-x;
}
#content_text input[type="submit"] { /* Funktioniert nicht bis IE 6.0 */
	height: 20px;
	padding: 0px 0px 0px 0px;
	background-image: url('images/input_submit_bg.gif');
	background-repeat: repeat-x;
	border: 0px;
	color: #ffffff;
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 11px;
    font-weight: bold;
}
#content_text input[type="reset"] { /* Funktioniert nicht bis IE 6.0 */
	height: 20px;
	background-image: url('images/input_reset_bg.gif');
	background-repeat: repeat-x;
	border: 0px;
	color: #ffffff;    
	font-family: Arial, Helvetica, Sans-Serif;
    font-size: 11px;
    font-weight: bold;
}
/* FOOOTER ------------------------------------------------------------------------- */
#footer {
	padding: 0px 0px 10px 0px;
	margin: 0px 25px 0px 25px;
}
#footer hr {
	height: 1px;
	border: 0px;
	color: #eeeeee;
	background-color: #eeeeee;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 7px 0px;
}
#footer a, #footer a:visited {
	color: #000066;
	text-decoration: none;
	font-family: Tahoma;
	font-size: 11px;
}
#footer a:hover {
	text-decoration: underline;
}
#footer a.top {
	padding: 0px 0px 0px 17px;
    background-image: url('images/icons/top.gif');
    background-repeat: no-repeat;
    background-position: 0px 2px;
}
#footer a.print {
	padding: 0px 0px 0px 17px;
    background-image: url('images/icons/print.gif');
    background-repeat: no-repeat;
    background-position: 0px 2px;
}
#footer a.sitemap {
	padding: 0px 0px 0px 17px;
    background-image: url('images/icons/sitemap.gif');
    background-repeat: no-repeat;
    background-position: 0px 2px;
}
#footer a.recommend {
	padding: 0px 0px 0px 17px;
    background-image: url('images/icons/contact.gif');
    background-repeat: no-repeat;
    background-position: 0px 2px;
}
/* CONTREXX BOTTOM ----------------------------------------------------------------- */
#contrexx_bottom {
	text-align: center;
	font-size: 9px;
}
#contrexx_bottom a, #contrexx_bottom a:visited {
	color: #888888;
	text-decoration: none;
}
#contrexx_bottom a:hover {
	color: #444444;
	text-decoration: underline;
}
/* SIDEBAR ------------------------------------------------------------------------- */
#sidebar {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 10px 10px;
	float: right;
	width: 200px;
    background-image: url('images/sidebar_bg.gif');
    background-repeat: repeat-y;
	font-family: Verdana, arial, sans-serif;
	font-size: 11px;
}
#sidebar a, #sidebar a:visited {
	padding: 0px 0px 0px 17px;
    background-image: url('images/icons/link.gif');
    background-repeat: no-repeat;
    background-position: 0px 2px;
	text-decoration: none;
	color: #000066;
}
#sidebar a:hover {
	text-decoration: underline;
}
#sidebar .sb_top {
	height: 20px;
	width: 200px;
	padding: 3px 12px 0px 12px;
	margin: 0px 0px 4px 0px;
	background-image: url('images/sidebar_top.gif');
    background-repeat: no-repeat;
    font-weight: bold;
    color: #ffffff;
}
#sidebar .sb_bottom {
	height: 11px;
	width: 200px;
	background-image: url('images/sidebar_bottom.gif');
    background-repeat: no-repeat;
    background-color: #ffffff;
}
#sidebar .sb_title {
	height: 20px;
	width: 200px;
	padding: 3px 12px 0px 12px;
	margin: 7px 0px 4px 0px;
	background-image: url('images/sidebar_title.gif');
    background-repeat: no-repeat;
    font-weight: bold;
    color: #ffffff;
}
#sidebar .sb_content {
	padding: 0px 12px 0px 12px;
	text-align: left;
}
#sidebar ul {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	list-style: none;
}
#sidebar ul li {
	margin: 0px 0px 5px 0px;
	padding: 0px 0px 0px 0px;
}
#sidebar ul li a, #sidebar ul li a:visited {
	background-image: none;
	padding: 0px 0px 0px 0px;
	text-decoration: none;
	color: #000066;
}
#sidebar ul li a:hover {
	text-decoration: underline;
}
#sidebar form {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
#sidebar form input {
	width: 170px;
	padding: 2px 1px 2px 3px;
	background-color: #f5f5f5;
	border: 1px solid #666666;
	font-family: verdana, tahoma, arial, sans-serif;
	font-size: 11px;
}
#sidebar form input[type="text"] { /* Funktioniert nicht bis IE 6.0 */
	height: 16px;
	padding: 1px 1px 0px 3px;
	background-color: #ffffff;
	background-image: url('images/input_bg.gif');
	background-repeat: repeat-x;

}