<!-- start license.html -->
<table summary="license" class="adminlist" border="0" width="100%" cellpadding="0" cellspacing="0">
	<!-- BEGIN statusMsg -->
		<tr>
			<td class="status_message">
				<table summary="status message" border="0" width="100%" cellpadding="0" cellspacing="0">
					<tr>
						<td width="24"><img src="template/contrexx/images/stop.gif" width="24" height="24" alt="{TXT_STOP}" title="{TXT_STOP}" /></td>
						<td>{STATUS_MSG}</td>
					</tr>
				</table>
			<td>
		</tr>
	<!-- END statusMsg -->
	<tr>
		<td><div style="width: 100%; height: 400px; overflow: auto; border-bottom: 1px solid #000000;">{LICENSE}</div></td>
	</tr>
	<tr>
		<td><br /></td>
	</tr>
	<tr class="row1">
		<td><input type="checkbox" name="license" id="license" value="accepted" {CHECKED} /><label for="license">&nbsp;{TXT_ACCEPT_LICENSE}</label></td>
	</tr>
</table>
<br />
<!-- end license.html -->
