<!-- start requirements.html -->
<table summary="requirements" class="adminlist" border="0" width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<th colspan="2">{TXT_PHP}</th>
	</tr>
	<!-- BEGIN phpErrorMsg -->
		<tr>
			<td colspan="2" class="status_message">
				<table summary="status message" border="0" width="100%" cellpadding="0" cellspacing="0">
					<tr>
						<td width="24"><img src="template/contrexx/images/stop.gif" width="24" height="24" alt="{TXT_STOP}" title="{TXT_STOP}" /></td>
						<td>{PHP_ERROR_MSG}</td>
					</tr>
				</table>
			</td>
		</tr>
	<!-- END phpErrorMsg -->
	<tr class="row1">
		<td>{PHP_REQUIRED_VERION}</td>
		<td class="{PHP_VERSION_CLASS}">{PHP_VERSION}</td>
	</tr>
	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>
	<tr>
		<th colspan="2">{TXT_PHP_EXTENSIONS}</th>
	</tr>
	<!-- BEGIN extensionsErrorMsg -->
		<tr>
			<td colspan="2" class="status_message">
				<table summary="status message" border="0" width="100%" cellpadding="0" cellspacing="0">
					<tr>
						<td width="24"><img src="template/contrexx/images/stop.gif" width="24" height="24" alt="{TXT_STOP}" title="{TXT_STOP}" /></td>
						<td>{EXTENSIONS_ERROR_MSG}</td>
					</tr>
				</table>
			</td>
		</tr>
	<!-- END extensionsErrorMsg -->
	<tr class="row1">
		<td>{TXT_MYSQL_SUPPORT}</td>
		<td class="{MYSQL_SUPPORT_CLASS}">{MYSQL_SUPPORT}</td>
	</tr>
	<tr class="row2">
		<td>{TXT_FTP_SUPPORT}</td>
		<td class="{FTP_SUPPORT_CLASS}">{FTP_SUPPORT}</td>
	</tr>
	<tr class="row1">
		<td>{GD_REQUIRED_VERSION}</td>
		<td class="{GD_VERSION_CLASS}">{GD_VERSION}</td>
	</tr>
	<!-- BEGIN phpConfiguration -->
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>
		<tr>
			<th colspan="2">{TXT_PHP_CONFIGURATION}</th>
		</tr>
		<!-- BEGIN configErrorMsg -->
			<tr>
				<td colspan="2" class="status_message">
					<table summary="status message" border="0" width="100%" cellpadding="0" cellspacing="0">
						<tr>
							<td width="24"><img src="template/contrexx/images/stop.gif" width="24" height="24" alt="{TXT_STOP}" title="{TXT_STOP}" /></td>
							<td>{CONFIG_ERROR_MSG}</td>
						</tr>
					</table>
				</td>
			</tr>
		<!-- END configErrorMsg -->
		<tr class="row1">
			<td>{TXT_ALLOW_URL_FOPEN}</td>
			<td class="{ALLOW_URL_FOPEN_CLASS}">{ALLOW_URL_FOPEN}</td>
		</tr>
	<!-- END phpConfiguration -->
</table>
<br />
<!-- end requirements.html -->