<!-- START shop_product_manage.html -->
<script language="javascript" type="text/javascript">
/* <![CDATA[ */
var fieldID;
var langID;
var langcount = 2
var elInputID;
var elinputid;
var value;
var popUp;
var browserPopup;
var notDefined = new Array();
var ltype;
var elName;
var par;

function reloadPage()
{
  //save_in_textarea_all(); // needed for wysiwyg
  document.formShopProduct.submit();
}

function setDateToday(txtValue)
{
  with (document.formShopProduct) {
    if (txtValue.value == "") {
      txtValue.value = date.value;
    }
  }
}

function openWindow(theURL, winName, features)
{
  window.open(theURL, winName, features);
}

var openBrowser = function openBrowser(url, id, attrs)
{
  fieldID = id;
  try {
    if (!browserPopup.closed) {
      return browserPopup.focus();
    }
  } catch(e) {}
  if (!window.focus) {
    return true;
  }
  browserPopup = window.open(url, "", attrs);
  browserPopup.focus();
  return false;
}

var SetUrl = function(url, width, height, alt)
{
  notDefined[fieldID] = true;
  var elInput = document.getElementById("hi_"+fieldID);
  elInput.setAttribute('name', 'productImage'+fieldID);
  elInput.setAttribute('id', 'hi_'+fieldID);
  elInput.setAttribute('value', decodeURIComponent(url));

  if (document.getElementById('lnk_'+fieldID) == null) {
    notDefined[fieldID] = true;
  } else {
    notDefined[fieldID] = false;
  }
  url = url.substring(1);
  var fileRegExp = /.+\/(.+)$/;
  fileRegExp.exec(url);
  var elTxt = document.createTextNode(decodeURIComponent(RegExp.$1));
  var img = document.getElementById("img"+fieldID);
  img.src = '/'+url;
  var fact = 1;
  if (width > height) {
    fact = 80 / width;
  } else {
    fact = 80 / height;
  }
  img.style.width  = width*fact+'px';
  img.style.height = height*fact+'px';

  // set resized width and height in hidden fields
  elInput_w = document.getElementById('hi_'+fieldID+'_w');
  elInput_w.setAttribute('name', 'productImage'+fieldID+'_width');
  elInput_w.setAttribute('value', width);

  elInput_h = document.getElementById('hi_'+fieldID+'_h');
  elInput_h.setAttribute('name', 'productImage'+fieldID+'_height');
  elInput_h.setAttribute('value', height);

  if (notDefined[fieldID]) {
    var elALink = document.createElement('a');
  } else {
    var elALink = document.getElementById("lnk_"+fieldID);
  }
  elALink.setAttribute('href', decodeURIComponent(url));
  elALink.setAttribute('target', '_blank');
  elALink.setAttribute('id', 'lnk_'+fieldID);
  elALink.setAttribute('title', 'product Image');

  if (notDefined[fieldID]) {
    elALink.appendChild(elTxt);
    img.parentNode.appendChild(elALink);
//  img.parentNode.appendChild(elInput);
    img.parentNode.insertBefore(document.createElement('br'), elALink);
  } else {
    elALink = document.getElementById("lnk_"+fieldID);
    elALink.removeChild(elALink.childNodes[0]);
    fileRegExp = /.+\/(.+)$/;
    fileRegExp.exec(decodeURIComponent(url));
    elTxt = document.createTextNode(RegExp.$1);
    elALink.appendChild(elTxt);
    img.parentNode.appendChild(elALink);
//  img.parentNode.appendChild(elInput);
  }
}

function toggleOptions(checkboxId)
{
  if (document.getElementById('productOptions'+checkboxId).checked == true) {
    document.getElementById('subOptionsProductOptions'+checkboxId).style.display = 'block';
    for (var i = 0; i < document.getElementById('subOptionsProductOptions'+checkboxId).getElementsByTagName('input').length; ++i) {
      objInput = document.getElementById('subOptionsProductOptions'+checkboxId).getElementsByTagName('input')[i];
      if (objInput.getAttribute('type') == "checkbox") {
        objInput.checked = true;
      }
    }
  } else {
    document.getElementById('subOptionsProductOptions'+checkboxId).style.display = 'none';
    for (var i = 0; i < document.getElementById('subOptionsProductOptions'+checkboxId).getElementsByTagName('input').length; ++i) {
      objInput = document.getElementById('subOptionsProductOptions'+checkboxId).getElementsByTagName('input')[i];
      if (objInput.getAttribute('type') == "checkbox") {
        objInput.checked = false;
      }
    }
  }
}

function setDisplay(elementId, status) {
  if (status == 1) {
    document.getElementById(elementId).style.display = "block";
  } else {
    document.getElementById(elementId).style.display = "none";
  }
}

function toggleDisplay(elementId) {
  if (document.getElementById(elementId).style.display == "block") {
    document.getElementById(elementId).style.display = "none";
  } else {
    document.getElementById(elementId).style.display = "block";
  }
}

function distributionChanged()
{
  var selectedValue = document.getElementById("shopDistribution").value;
  var display = (document.all ? "block" : "table-row");
  if (selectedValue == "delivery") {
    if ({SHOP_WEIGHT_ENABLED})
    document.getElementById("shopWeightRow").style.display = display;
    document.getElementById("shopAccountRow").style.display = "none";
    document.getElementById("shopValidityRow").style.display = "none";
    document.getElementById("shopGroupsRow").style.display = "none";
  } else if (selectedValue == "download") {
    document.getElementById("shopWeightRow").style.display = "none";
    document.getElementById("shopAccountRow").style.display = display;
    // Disabled: accountChanged();
    // Instead:
    document.getElementById("shopValidityRow").style.display = display;
    document.getElementById("shopGroupsRow").style.display = display;
  } else {
    document.getElementById("shopWeightRow").style.display = "none";
    document.getElementById("shopAccountRow").style.display = "none";
    document.getElementById("shopValidityRow").style.display = "none";
    document.getElementById("shopGroupsRow").style.display = "none";
  }
}

function accountChanged()
{
  if (document.getElementById("shopCreateAccountYes").checked) {
    var display = (document.all ? "block" : "table-row");
    document.getElementById("shopValidityRow").style.display = display;
    document.getElementById("shopGroupsRow").style.display = display;
  } else {
    document.getElementById("shopValidityRow").style.display = "none";
    document.getElementById("shopGroupsRow").style.display = "none";
  }
}

function moveOptions(from, dest, add, remove)
{
  if (from.selectedIndex < 0) {
    if (from.options[0] != null)
      from.options[0].selected = true;
    from.focus();
    return false;
  } else {
    for (var i = 0; i < from.length; ++i) {
      if (from.options[i].selected) {
        dest.options[dest.length] = new Option(from.options[i].text, from.options[i].value, false, false);
      }
    }
    for (var i = from.length-1; i >= 0; --i) {
      if (from.options[i].selected) {
        from.options[i] = null;
      }
    }
  }
  flagMasterChanged = 1;
  disableButtons(from, dest, add, remove);
}

function selectAll(selectElement) {
  if (selectElement) {
    for (var i = 0; i < selectElement.length; ++i) {
      selectElement.options[i].selected = true;
    }
  }
}

function deselectAll(selectElement) {
  if (selectElement) {
    for (var i = 0; i < selectElement.length; ++i) {
      selectElement.options[i].selected = false;
    }
  }
}

function disableButtons(from, dest, add, remove) {
  if (from.options.length > 0) {
    add.disabled = 0;
  } else {
    add.disabled = 1;
  }
  if (dest.options.length > 0) {
    remove.disabled = 0;
  } else {
    remove.disabled = 1;
  }
}
/* ]]> */
</script>
<ul id="tabmenu">
  <li><a id="productManageTab_shopContent1" class="active" href="javascript:{}" onclick="selectTab('shopContent1')" title="{TXT_PRODUCT_INFORMATIONS}">{TXT_PRODUCT_INFORMATIONS}</a></li>
  <li><a id="productManageTab_shopContent2" href="javascript:{}" onclick="selectTab('shopContent2')" title="{TXT_PRODUCT_OPTIONS}">{TXT_PRODUCT_OPTIONS}</a></li>
  <li><a id="productManageTab_shopContent3" href="javascript:{}" onclick="selectTab('shopContent3')" title="{TXT_PRODUCT_IMAGE}">{TXT_PRODUCT_IMAGE}</a></li>
  <li><a id="productManageTab_shopContent4" href="javascript:{}" onclick="selectTab('shopContent4')" title="{TXT_PRODUCT_STATUS}">{TXT_PRODUCT_STATUS}</a></li>
</ul>
<!-- start shopContent1 div -->
<form name="formShopProduct"
  action="index.php?cmd=shop{MODULE_INDEX}&amp;act=products&amp;tpl=manage"
  method="post"
  onsubmit="selectAll(document.formShopProduct.elements['shopGroupsAssigned[]']);"
>
  <div id="shopContent1" class="productManageTab" style="display: block;">
    <input type="hidden" name="date" value="{SHOP_DATE}" />
    <input type="hidden" name="id" value="{SHOP_PRODUCT_ID}" />
    <input type="hidden" name="shopTempThumbnail" value="{SHOP_TEMP_THUMBNAIL}" />
    <input type="hidden" name="edit" value="1" />
    <input type="hidden" name="shopImageName" value="{SHOP_IMAGE_NAME}" />
    <table summary="" class="adminlist" border="0" width="100%" cellpadding="3" cellspacing="0">
      <tr valign="top">
        <th nowrap colspan="2">
          <div align="left">{TXT_PRODUCT_INFORMATIONS}</div>
        </th>
      </tr>
      {SHOP_ID_COMMENT_START}
      <tr valign="top" class="row1">
        <td nowrap width="17%">{TXT_ID}</td>
        <td nowrap width="83%">{SHOP_PRODUCT_ID}</td>
      </tr>
      {SHOP_ID_COMMENT_END}
      <tr valign="top" class="row2">
        <td nowrap="nowrap">{TXT_PRODUCT_NAME}</td>
        <td nowrap="nowrap">
          <input maxlength=255 name="shopProductName" size="40" value="{SHOP_PRODUCT_NAME}" />
          {TXT_CATEGORY}
          <select name="shopCatMenu">
            {SHOP_CAT_MENUOPTIONS}
          </select>
          &nbsp;
        </td>
      </tr>
      <tr valign="top" class="row1">
        <td nowrap="nowrap">{TXT_SHOP_PRODUCT_CUSTOM_ID}</td>
        <td nowrap="nowrap">
          <input maxlength=255 name="shopProductIdentifier" size="40" value="{SHOP_PRODUCT_CUSTOM_ID}" />
        </td>
      </tr>
      <tr valign="top" class="row2">
        <td nowrap="nowrap">{TXT_CUSTOMER_PRICE}&nbsp;<span class="status">&nbsp;</span></td>
        <td>
          <input maxlength=255 name="shopCustomerPrice" size="40" value="{SHOP_CUSTOMER_PRICE}" />
        </td>
      </tr>
      <tr valign="top" class="row1">
        <td nowrap="nowrap">{TXT_RESELLER_PRICE}</td>
        <td>
          <input maxlength=255 name="shopResellerPrice" size="40" value="{SHOP_RESELLER_PRICE}" />
        </td>
      </tr>
      <tr class="row2">
        <td nowrap="nowrap">{TXT_SPECIAL_OFFER}</td>
        <td>
          <input maxlength=10 name="shopDiscount" size="40" value="{SHOP_DISCOUNT}" />
          <input type="checkbox" name="shopSpecialOffer" value="1" {SHOP_SPECIAL_OFFER} />
          &nbsp;{TXT_ACTIVE}
        </td>
      </tr>
      <tr class="row1">
        <td nowrap>{TXT_SHOP_DISCOUNT_GROUP_ARTICLE}</td>
        <td>
          <select name="shopDiscountGroupArticle" style="width:220px;">
            {SHOP_DISCOUNT_GROUP_ARTICLE_MENU_OPTIONS}
          </select>
        </td>
      </tr>
      <tr class="row2">
        <td nowrap>{TXT_SHOP_DISCOUNT_GROUP_COUNT}</td>
        <td>
          <select name="shopDiscountGroupCount" style="width:220px;">
            {SHOP_DISCOUNT_GROUP_COUNT_MENU_OPTIONS}
          </select>
        </td>
      </tr>
      <tr class="row1">
        <td nowrap="nowrap">{TXT_TAX_RATE}</td>
        <td>
          <select name="shopTaxId" style="width:220px;">
            {SHOP_VAT_MENUOPTIONS}
          </select>
        </td>
      </tr>
      <tr class="row2">
        <td nowrap="nowrap">{TXT_DISTRIBUTION}</td>
        <td>{SHOP_DISTRIBUTION_MENU}</td>
      </tr>
      <!-- either -->
      <tr class="row1" id="shopWeightRow" style="display: none;">
        <td nowrap="nowrap">{TXT_WEIGHT}</td>
        <td>
          <input maxlength=10 name="shopWeight" size="40" value="{SHOP_WEIGHT}" />
        </td>
      </tr>
      <!-- or -->
      <tr class="row1" id="shopAccountRow" style="display: none;">
        <!--td nowrap="nowrap">{TXT_SHOP_PROTECTED_DOWNLOAD}</td>
        <td nowrap="nowrap">
          <input type="radio" name="shopCreateAccount" id="shopCreateAccountYes"
            onchange="accountChanged();"{SHOP_CREATE_ACCOUNT_YES_CHECKED} />
          <label for="shopCreateAccountYes">{TXT_SHOP_YES}</label>
          <input type="radio" name="shopCreateAccount" id="shopCreateAccountNo"
            onchange="accountChanged();"{SHOP_CREATE_ACCOUNT_NO_CHECKED} />
          <label for="shopCreateAccountNo">{TXT_SHOP_NO}</label>
        </td-->
      </tr>
      <!-- if shopCreateAccountYes.checked (2 rows) -->
      <tr class="row2" id="shopValidityRow" style="display: none;">
        <td nowrap="nowrap">{TXT_SHOP_ACCOUNT_VALIDITY}</td>
        <td>
          <select name="shopAccountValidity">
            {SHOP_ACCOUNT_VALIDITY_OPTIONS}
          </select>
        </td>
      </tr>
      <tr class="row1" id="shopGroupsRow" style="display: none;">
        <td nowrap="nowrap" valign="top">{TXT_SHOP_USERGROUPS}</td>
        <td>
          <!-- Table width contracts the select boxes and the arrows -->
          <table summary="" width="10%">
            <tr>
              <td style="border-bottom: 0px;">
                {TXT_SHOP_GROUPS_AVAILABLE}<br />
                <select name="shopGroupsAvailable[]" size="10" style="width: 300px;" multiple="multiple">
                {SHOP_GROUPS_AVAILABLE}
                </select>
                <br />
                <font size="1">
                  <a href="javascript:void(0);" onclick="selectAll(document.formShopProduct.elements['shopGroupsAvailable[]'])" style="color:blue;">{TXT_SHOP_SELECT_ALL}</a><br />
                  <a href="javascript:void(0);" onclick="deselectAll(document.formShopProduct.elements['shopGroupsAvailable[]'])" style="color:blue;">{TXT_SHOP_DESELECT_ALL}</a>
                </font>
              </td>
              <td style="border-bottom: 0px;">
                &nbsp;&nbsp;&nbsp;<input type="button" value="&gt;&gt;" name="addGroup" onclick="moveOptions(document.formShopProduct.elements['shopGroupsAvailable[]'],document.formShopProduct.elements['shopGroupsAssigned[]'],addGroup,removeGroup);" style="margin-bottom:1px;" />&nbsp;&nbsp;
                <input type="button" value="&gt;&gt;" name="addGroup"
                    onclick="moveOptions(document.formShopProduct.elements['shopGroupsAvailable[]'],document.formShopProduct.elements['shopGroupsAssigned[]'],addGroup,removeGroup);"
                    style="margin-bottom:1px;" />
                &nbsp;&nbsp;
                <br />
                &nbsp;&nbsp;&nbsp;
              </td>
              <td style="border-bottom: 0px;">
                {TXT_SHOP_GROUPS_ASSIGNED}<br />
                <select name="shopGroupsAssigned[]" size="10" style="width: 300px;" multiple="multiple">
                {SHOP_GROUPS_ASSIGNED}
                </select>
                <br />
                <font size="1">
                  <a href="javascript:void(0);" onclick="selectAll(document.formShopProduct.elements['shopGroupsAssigned[]'])" style="color:blue;">{TXT_SHOP_SELECT_ALL}</a> <br />
                  <a href="javascript:void(0);" onclick="deselectAll(document.formShopProduct.elements['shopGroupsAssigned[]'])" style="color:blue;">{TXT_SHOP_DESELECT_ALL}</a>
                </font>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <!-- BEGIN shopFlags
      <tr class="row2">
        <td nowrap="nowrap">{TXT_SHOP_FLAGS}</td>
        <td>{SHOP_FLAGS_SELECTION}</td>
      </tr>
      END shopFlags -->
      <tr valign="top" class="row2">
        <td colspan="2">{TXT_SHORT_DESCRIPTION}<br />{SHOP_SHORT_DESCRIPTION}</td>
      </tr>
      <tr valign="top" class="row1">
        <td colspan="2"><br />{TXT_DESCRIPTION}<br />{SHOP_DESCRIPTION}</td>
      </tr>
      <tr valign="top" class="row2">
        <td>{TXT_SHOP_KEYWORDS}</td>
        <td>
          <textarea name="shopKeywords" rows="5" cols="80">{SHOP_KEYWORDS}</textarea>
        </td>
      </tr>
      <tr valign="top" class="row1">
        <td nowrap="nowrap">{TXT_SHOP_MANUFACTURER}</td>
        <td>
          <select name="shopManufacturerId" style="width: 220px;">
            {SHOP_MANUFACTURER_MENUOPTIONS}
          </select>
        </td>
      </tr>
      <tr valign="top" class="row2">
        <td nowrap="nowrap">{TXT_MANUFACTURER_URL}</td>
        <td>
          <input maxlength="255" name="shopManufacturerUrl" size="40" value="{SHOP_MANUFACTURER_URL}" />
          ({TXT_WITH_HTTP})
        </td>
      </tr>
      <tr valign="top" class="row1">
        <td nowrap="nowrap">{TXT_STOCK}</td>
        <td>
          <input maxlength=10 name="shopStock" size="10" value="{SHOP_STOCK}" />
          {TXT_ACTIVE}
          <input type="checkbox" name="shopStockVisibility" value="1" {SHOP_STOCK_VISIBILITY} />
        </td>
      </tr>
    </table>
  </div>
  <!-- end shopContent1 div -->
  <!-- start shopContent2 div -->
  <div id="shopContent2" class="productManageTab" style="display: none;">
    <table summary="" class="adminlist" border=0 width="100%" cellpadding="3" cellspacing="0">
      <tr valign="top">
        <th nowrap  colspan="2"> <div align="left">{TXT_PRODUCT_OPTIONS}</div></th>
      </tr>
      <tr class="row1">
          <td nowrap="nowrap" width="5%"><b>{TXT_SHOP_SORTING_ORDER}</b></td>
          <td nowrap="nowrap" width="95%"><b>{TXT_SHOP_PRODUCT_OPTION}</b></td>
      </tr>
      <!-- BEGIN attributeList -->
      <tr valign="top" class="{SHOP_PRODUCTS_ATTRIBUTE_ROW_CLASS}">
        <td nowrap="nowrap" width="5%"><input style="width:25px;" type="text" name="productOptionsSortId[{SHOP_PRODUCTS_ATTRIBUTE_ID}]" value="{SHOP_PRODUCTS_ATTRIBUTE_SORTID}" /></td>
        <td nowrap="nowrap">
          <label for="productOptions{SHOP_PRODUCTS_ATTRIBUTE_ID}"><input id="productOptions{SHOP_PRODUCTS_ATTRIBUTE_ID}" onclick="toggleOptions({SHOP_PRODUCTS_ATTRIBUTE_ID})" type="checkbox" value="{SHOP_PRODUCTS_ATTRIBUTE_ID}" {SHOP_PRODUCTS_ATTRIBUTE_SELECTED} />&nbsp;{SHOP_PRODUCTS_ATTRIBUTE_NAME}</label><br />
          <div style="display: {SHOP_PRODUCTS_ATTRIBUTE_DISPLAY_TYPE}; margin-left: 50px" id="subOptionsProductOptions{SHOP_PRODUCTS_ATTRIBUTE_ID}">
            <!-- BEGIN attributeValueList -->
            <label for="productOptionsValues{SHOP_PRODUCTS_ATTRIBUTE_VALUE_ID}"><input type="checkbox" id="productOptionsValues{SHOP_PRODUCTS_ATTRIBUTE_VALUE_ID}" name="productOptionsValues[{SHOP_PRODUCTS_ATTRIBUTE_VALUE_ID}]" value="{SHOP_PRODUCTS_ATTRIBUTE_ID}" {SHOP_PRODUCTS_ATTRIBUTE_VALUE_SELECTED} />&nbsp;{SHOP_PRODUCTS_ATTRIBUTE_VALUE_TEXT}</label><br />
            <!-- END attributeValueList -->
          </div>
        </td>
      </tr>
      <!-- END attributeList -->
    </table>
  </div>
  <!-- end shopContent2 div -->
  <!-- start shopContent3 div -->
  <div id="shopContent3" class="productManageTab" style="display: none;">
    <table summary="" class="adminlist" border=0 width="100%" cellpadding="3" cellspacing="0">
      <tr>
        <th nowrap="nowrap" colspan="4">
          <div align="left">{TXT_PRODUCT_IMAGE}</div>
        </th>
      </tr>
      <tr  class="row1">
        <td nowrap width="17%" valign="top"> {TXT_SHOP_EDIT_OR_ADD_IMAGE}</td>
        <td width="27%">
          <a href="javascript:void(0);" title="{TXT_SHOP_EDIT_OR_ADD_IMAGE}" onclick="openBrowser('index.php?cmd=fileBrowser&{CSRF_PARAM}&amp;standalone=true&amp;type=shop', '1', 'width=800,height=640,resizable=yes,status=no,scrollbars=yes', 'img', '');"  >{TXT_SHOP_EDIT_OR_ADD_IMAGE}<br /> <span id="img_1"><img id="img1" style="width: {SHOP_IMG1_WIDTH}px; height: {SHOP_IMG1_HEIGHT}px; border: none;" src="{SHOP_PICTURE1_IMG_SRC}" title="{TXT_SHOP_EDIT_OR_ADD_IMAGE}" alt="{TXT_SHOP_EDIT_OR_ADD_IMAGE}" /></span></a> <a href="javascript:void(0);" onclick="document.getElementById('img_1').innerHTML='<img src=\'{SHOP_NO_PICTURE_ICON}\' border=\'0\' id=\'img1\' title=\'{TXT_SHOP_EDIT_OR_ADD_IMAGE}\' >',document.getElementById('hi_1').value='{SHOP_NO_PICTURE_ICON}',document.getElementById('hi_1_w').value='0',document.getElementById('hi_1_h').value='0'" title="{TXT_SHOP_DEL_ICON}"><img src="{SHOP_DELETE_ICON}" border="0" alt="{TXT_SHOP_DEL_ICON}"/></a>
          <input type="hidden" id="hi_1" name="productImage1" value="{SHOP_PICTURE1_IMG_SRC_NO_THUMB}" />
          <input type="hidden" id="hi_1_w" name="productImage1_width" value="{SHOP_PICTURE1_IMG_WIDTH}" />
          <input type="hidden" id="hi_1_h" name="productImage1_height" value="{SHOP_PICTURE1_IMG_HEIGHT}" />
        </td>
        <td width="27%">
          <a href="javascript:void(0);" title="{TXT_SHOP_EDIT_OR_ADD_IMAGE}" onclick="openBrowser('index.php?cmd=fileBrowser&{CSRF_PARAM}&amp;standalone=true&amp;type=shop', '2','width=800,height=640,resizable=yes,status=no,scrollbars=yes', 'img', '');" >{TXT_SHOP_EDIT_OR_ADD_IMAGE}<br /><span id="img_2"> <img id="img2" style="width: {SHOP_IMG2_WIDTH}px; height: {SHOP_IMG2_HEIGHT}px; border: none;" src="{SHOP_PICTURE2_IMG_SRC}" title="{TXT_SHOP_EDIT_OR_ADD_IMAGE}" alt="{TXT_SHOP_EDIT_OR_ADD_IMAGE}" /></span></a> <a href="javascript:void(0);" onclick="document.getElementById('img_2').innerHTML='<img src=\'{SHOP_NO_PICTURE_ICON}\' border=\'0\' id=\'img2\' title=\'{TXT_SHOP_EDIT_OR_ADD_IMAGE}\' >',document.getElementById('hi_2').value='{SHOP_NO_PICTURE_ICON}',document.getElementById('hi_2_w').value='0',document.getElementById('hi_2_h').value='0'" title="{TXT_SHOP_DEL_ICON}"><img src="{SHOP_DELETE_ICON}" border="0" alt="{TXT_SHOP_DEL_ICON}"/> </a>
          <input type="hidden" id="hi_2" name="productImage2" value="{SHOP_PICTURE2_IMG_SRC_NO_THUMB}" />
          <input type="hidden" id="hi_2_w" name="productImage2_width" value="{SHOP_PICTURE2_IMG_WIDTH}" />
          <input type="hidden" id="hi_2_h" name="productImage2_height" value="{SHOP_PICTURE2_IMG_HEIGHT}" />
        </td>
        <td width="27%">
          <a href="javascript:void(0);" title="{TXT_SHOP_EDIT_OR_ADD_IMAGE}" onclick="openBrowser('index.php?cmd=fileBrowser&{CSRF_PARAM}&amp;standalone=true&amp;type=shop', '3','width=800,height=640,resizable=yes,status=no,scrollbars=yes', 'img', '');" >{TXT_SHOP_EDIT_OR_ADD_IMAGE}<br /> <span id="img_3"><img id="img3" style="width: {SHOP_IMG3_WIDTH}px; height: {SHOP_IMG3_HEIGHT}px; border: none;" src="{SHOP_PICTURE3_IMG_SRC}" title="{TXT_SHOP_EDIT_OR_ADD_IMAGE}" alt="{TXT_SHOP_EDIT_OR_ADD_IMAGE}" /></span></a> <a href="javascript:void(0);" onclick="document.getElementById('img_3').innerHTML='<img src=\'{SHOP_NO_PICTURE_ICON}\' border=\'0\' id=\'img3\' title=\'{TXT_SHOP_EDIT_OR_ADD_IMAGE}\' >',document.getElementById('hi_3').value='{SHOP_NO_PICTURE_ICON}',document.getElementById('hi_3_w').value='0',document.getElementById('hi_3_h').value='0'" title="{TXT_SHOP_DEL_ICON}"> <img src="{SHOP_DELETE_ICON}" border="0" alt="{TXT_SHOP_DEL_ICON}"/> </a>
          <input type="hidden" id="hi_3" name="productImage3" value="{SHOP_PICTURE3_IMG_SRC_NO_THUMB}" />
          <input type="hidden" id="hi_3_w" name="productImage3_width" value="{SHOP_PICTURE3_IMG_WIDTH}" />
          <input type="hidden" id="hi_3_h" name="productImage3_height" value="{SHOP_PICTURE3_IMG_HEIGHT}" />
        </td>
      </tr>
    </table>
  </div>
  <!-- end shopContent3 div -->
  <!-- start shopContent4 div -->
  <div id="shopContent4" class="productManageTab" style="display: none;">
    <table summary="" class="adminlist" border=0 width="100%" cellpadding="3" cellspacing="0">
      <tr valign="top">
        <th nowrap  colspan="2">
          <div align="left">{TXT_PRODUCT_STATUS}</div>
        </th>
      </tr>
      <tr valign="top" class="row1">
        <td nowrap colspan="2">
          {TXT_ACTIVE}
          <input type="checkbox" name="shopArticleActive" value="1" {SHOP_ARTICLE_ACTIVE} />
          B2B
          <input type="checkbox" name="shopB2B" value="1" {SHOP_B2B} />
          B2C
          <input type="checkbox" name="shopB2C" value="1" {SHOP_B2C} />
          <!-- // unused
          {TXT_START_DATE}:
          <input type="text" name="shopStartdate" size="20" maxlength="20" onClick="setDateToday(shopStartdate)" value="{SHOP_STARTDATE}" />
          {TXT_END_DATE}:
          <input type="text" name="shopEnddate" size="20" maxlength="20" onClick="setDateToday(shopEnddate)" value="{SHOP_ENDDATE}" />
           -->
        </td>
      </tr>
    </table>
  </div>
  <!-- end shopContent4 div -->
  <br />
    <input type=submit value="{TXT_RESET}" name="shopResetForm" />
    <input type=submit value="{TXT_STORE}" name="shopStoreProduct" />
  {TXT_ACTION_AFTER_SAVEING}
  <select name="shopAfterStoreAction">
    <option value="catalog" selected="selected">{TXT_PRODUCT_CATALOG}</option>
    <option value="newEmpty">{TXT_ADD_PRODUCTS}</option>
    <option value="newTemplate">{TXT_ADD_PRODUCTS} ({TXT_FROM_TEMPLATE})</option>
  </select>
</form>
<script type="text/javascript">
/* <![CDATA[ */
distributionChanged();
/* ]]> */
</script>
<!-- END shop_product_manage.html-->
