<!-- START module_shop_discount_groups_customer.html -->
<script language="javascript" type="text/javascript">
<!-- //
function deleteGroup(groupId)
{
  if (confirm('{TXT_SHOP_CONFIRM_DELETE_CUSTOMER_GROUP}\n{TXT_ACTION_IS_IRREVERSIBLE}'))
    window.location.href="index.php?cmd=shop&{CSRF_PARAM}&act=customers&tpl=groups&delete=1&id="+groupId;
}
// -->
</script>
<div id="subnavbar_level2">
  <ul>
    <li><a href="index.php?cmd=shop&amp;act=customers&amp;tpl=catalog" title="{TXT_OVERVIEW}">{TXT_OVERVIEW}</a></li>
    <li><a href="index.php?cmd=shop&amp;act=customers&amp;tpl=discounts" title="{TXT_SHOP_DISCOUNTS_CUSTOMER}">{TXT_SHOP_DISCOUNTS_CUSTOMER}</a></li>
    <li><a href="index.php?cmd=shop&amp;act=customers&amp;tpl=groups" title="{TXT_SHOP_CUSTOMER_GROUPS}">{TXT_SHOP_CUSTOMER_GROUPS}</a></li>
  </ul>
</div>
<br />
<!-- BEGIN statusBar -->
<span class="red">{CONTENT_STATUS}</span>
<!-- END statusBar -->
<ul id="tabmenu">
  <li><a id="groupTab_shopContent1" class="{SHOP_GROUP_LIST_CLASS}"
        href="javascript:void(0);"
        onclick="selectTab('shopContent1')" title="{TXT_SHOP_CUSTOMER_GROUPS}">
      {TXT_SHOP_CUSTOMER_GROUPS}</a></li>
  <li><a id="groupTab_shopContent2" class="{SHOP_GROUP_EDIT_CLASS}"
        href="javascript:void(0);"
        onclick="selectTab('shopContent2')" title="{TXT_ADD_OR_EDIT}">
      {TXT_ADD_OR_EDIT}</a></li>
</ul>
<form name="shopForm" method="post"
    action="index.php?cmd=shop&amp;act=customers&amp;tpl=groups">
  <!-- start shopContent1 div -->
  <div id="shopContent1" class="groupTab" style="display:{SHOP_GROUP_LIST_DISPLAY};">
    <table border="0" cellspacing="0" cellpadding="2" width="100%" class="adminlist">
      <tr>
        <th width="98%"><b>{TXT_SHOP_CUSTOMER_GROUP_NAME}</b></th>
        <th width="02%"><b>{TXT_FUNCTIONS}</b></th>
      </tr>
      <!-- BEGIN shopGroup -->
      <tr class="{SHOP_ROW_STYLE}">
        <td nowrap="nowrap">
          <a href="index.php?cmd=shop&act=customers&tpl=groups&edit=1&id={SHOP_GROUP_ID}"
              title="{TXT_EDIT}">
            {SHOP_GROUP_NAME}
          </a>
        </td>
        <td nowrap="nowrap">
          <div style="text-align:right">
            <a href="javascript:deleteGroup({SHOP_GROUP_ID})" title="{TXT_DELETE}">
              <img src="images/icons/delete.gif" alt="{TXT_DELETE}" border="0" />
            </a>
            <a href="index.php?cmd=shop&act=customers&tpl=groups&edit=1&id={SHOP_GROUP_ID}"
                title="{TXT_EDIT}">
              <img src="images/icons/edit.gif" alt="{TXT_EDIT}" border="0" />
            </a>
          </div>
        </td>
      </tr>
      <!-- END shopGroup -->
    </table>
  </div>
  <!-- end shopContent1 div -->

  <!-- start shopContent2 div -->
  <div id="shopContent2" class="groupTab" style="display:{SHOP_GROUP_EDIT_DISPLAY}">
    <table border="0" cellspacing="0" cellpadding="2" width="100%" class="adminlist">
      <tr>
        <th colspan="2"><b>{TXT_SHOP_EDIT_CUSTOMER_GROUP}</b></th>
      </tr>
      <!-- BEGIN shopGroupName -->
      <tr class="{SHOP_ROW_STYLE}">
        <td nowrap="nowrap">{TXT_SHOP_CUSTOMER_GROUP_NAME}</td>
        <td nowrap="nowrap">
          <input type="hidden" name="id" value="{SHOP_GROUP_ID_EDIT}" />
          <input type="text" size="40" name="groupName"
              value="{SHOP_GROUP_NAME}" />
        </td>
      </tr>
      <!-- END shopGroupName -->
    </table>
    <br />
    <input type="submit" name="store" value="{TXT_STORE}" />
    <input type="button" name="cancel" value="{TXT_SHOP_CANCEL}"
        onclick="javascript:window.location.href='index.php?cmd=shop&{CSRF_PARAM}&act=customers&tpl=groups';"
    />
  </div>
  <!-- end shopContent2 div -->
</form>
<!-- END module_shop_discount_groups_customer.html -->
