<!-- START shop_order_details.html -->
<script type="text/javascript">
<!--
function edit(order_id)
{
  window.location.replace("index.php?cmd=shop{MODULE_INDEX}&{CSRF_PARAM}&act=editorder&order_id="+order_id);
}
//-->
</script>
<br />
<table width="100%" border="0" class="adminlist" cellpadding="2" cellspacing="0">
    <colgroup><col width="15%" /><col width="35%" /><col width="15%" /><col width="35%" /></colgroup>
  <tr>
    <th colspan="4">{TXT_ORDER}</th>
  </tr>
  <tr class="row1">
    <td nowrap='nowrap'>{TXT_ORDERNUMBER}</td>
    <td nowrap='nowrap'>{SHOP_ORDERID}</td>
    <td nowrap='nowrap'>{TXT_IP_ADDRESS}</td>
    <td nowrap='nowrap'>{SHOP_CUSTOMER_IP}</td>
  </tr>
  <tr class="row2">
    <td nowrap='nowrap'>{TXT_ORDERDATE}</td>
    <td nowrap='nowrap'>{SHOP_DATE}&nbsp;</td>
    <td nowrap='nowrap'>{TXT_CLIENT_HOST}</td>
    <td nowrap='nowrap'>{SHOP_CUSTOMER_HOST}</td>
  </tr>
  <tr class="row1" style="vertical-align:top;">
    <td nowrap='nowrap'>{TXT_ORDERSTATUS}</td>
    <td nowrap='nowrap'>{SHOP_ORDER_STATUS}</td>
    <td nowrap='nowrap'>{TXT_BROWSER_VERSION}</td>
    <td nowrap='nowrap'>{SHOP_CUSTOMER_BROWSER}</td>
  </tr>
  <tr class="row2">
    <td nowrap='nowrap'>{TXT_LAST_EDIT}</td>
    <td nowrap='nowrap'>{SHOP_LAST_MODIFIED}</td>
    <td nowrap='nowrap'>{TXT_BROWSER_LANGUAGE}</td>
    <td nowrap='nowrap'>{SHOP_CUSTOMER_LANG}</td>
  </tr>
  <tr class="row1">
    <td nowrap='nowrap'>{TXT_ORDER_SUM}</td>
    <td nowrap='nowrap' colspan="3">{SHOP_ORDER_SUM}&nbsp;{SHOP_DEFAULT_CURRENCY}</td>
  </tr>
<!-- </table> <br /> <table width="100%" cellspacing="0" cellpadding="2" class="adminlist" border="0"> -->
<tr><td>&nbsp;</td></tr>
  <tr>
    <th nowrap="nowrap" colspan="2">{TXT_BILLING_ADDRESS}</th>
    <th nowrap="nowrap" colspan="2">{TXT_SHIPPING_ADDRESS}</th>
  </tr>
  <tr class="row1">
    <td nowrap='nowrap'>{TXT_COMPANY}</td>
    <td nowrap='nowrap'><a href="index.php?cmd=shop{MODULE_INDEX}&amp;act=customerdetails&amp;customer_id={SHOP_CUSTOMER_ID}" title="{TXT_VIEW_DETAILS}">{SHOP_COMPANY}</a>&nbsp;</td>
    <td nowrap='nowrap'>{TXT_COMPANY}</td>
    <td nowrap='nowrap'>{SHOP_SHIP_COMPANY}&nbsp;</td>
  </tr>
  <tr class="row2">
    <td nowrap='nowrap'>{TXT_SHOP_TITLE}</td>
    <td nowrap='nowrap'>{SHOP_GENDER}&nbsp;</td>
    <td nowrap='nowrap'>{TXT_SHOP_TITLE}</td>
    <td nowrap='nowrap'>{SHOP_SHIP_TITLE}&nbsp;</td>
  </tr>
  <tr class="row1">
    <td nowrap='nowrap'>{TXT_LAST_NAME}</td>
    <td nowrap='nowrap'><a href="index.php?cmd=shop{MODULE_INDEX}&amp;act=customerdetails&amp;customer_id={SHOP_CUSTOMER_ID}" title="{TXT_VIEW_DETAILS}">{SHOP_LASTNAME}</a>&nbsp;</td>
    <td nowrap='nowrap'>{TXT_LAST_NAME}</td>
    <td nowrap='nowrap'>{SHOP_SHIP_LASTNAME}&nbsp;</td>
  </tr>
  <tr class="row2">
    <td nowrap='nowrap'>{TXT_FIRST_NAME}</td>
    <td nowrap='nowrap'><a href="index.php?cmd=shop{MODULE_INDEX}&amp;act=customerdetails&amp;customer_id={SHOP_CUSTOMER_ID}" title="{TXT_VIEW_DETAILS}">{SHOP_FIRSTNAME}</a>&nbsp;</td>
    <td nowrap='nowrap'>{TXT_FIRST_NAME}</td>
    <td nowrap='nowrap'>{SHOP_SHIP_FIRSTNAME}&nbsp;</td>
  </tr>
  <tr class="row1">
    <td nowrap='nowrap'>{TXT_ADDRESS}</td>
    <td nowrap='nowrap'>{SHOP_ADDRESS}&nbsp;</td>
    <td nowrap='nowrap'>{TXT_ADDRESS}</td>
    <td nowrap='nowrap'>{SHOP_SHIP_ADDRESS}&nbsp;</td>
  </tr>
  <tr class="row2">
    <td nowrap='nowrap'>{TXT_ZIP_CITY}</td>
    <td nowrap='nowrap'>{SHOP_ZIP}&nbsp;{SHOP_CITY}</td>
    <td nowrap='nowrap'>{TXT_ZIP_CITY}</td>
    <td nowrap='nowrap'>{SHOP_SHIP_ZIP}&nbsp;{SHOP_SHIP_CITY}</td>
  </tr>
  <tr class="row1">
    <td nowrap='nowrap'>{TXT_COUNTRY}</td>
    <td nowrap='nowrap'>{SHOP_COUNTRY}&nbsp;</td>
    <td nowrap='nowrap'>{TXT_COUNTRY}</td>
    <td nowrap='nowrap'>{SHOP_SHIP_COUNTRY}&nbsp;</td>
  </tr>
  <tr class="row2">
    <td nowrap='nowrap'>{TXT_PHONE}</td>
    <td nowrap='nowrap'>{SHOP_PHONE}&nbsp;</td>
    <td nowrap='nowrap'>{TXT_PHONE}</td>
    <td nowrap='nowrap'>{SHOP_SHIP_PHONE}&nbsp;</td>
  </tr>
  <tr class="row1">
    <td nowrap='nowrap'>{TXT_FAX}</td>
    <td nowrap='nowrap' colspan="3">{SHOP_FAX}&nbsp;</td>
  </tr>
  <tr class="row2">
    <td nowrap='nowrap'>{TXT_EMAIL}</td>
    <td nowrap='nowrap'><a href="index.php?cmd=shop{MODULE_INDEX}&amp;act=settings&amp;tpl=mail&amp;strTab=shopMailSend&amp;shopMailTo={SHOP_EMAIL}" title="{TXT_SEND_MAIL_TO_ADDRESS}">{SHOP_EMAIL}</a>&nbsp;</td>
    <td nowrap='nowrap'>{TXT_SHIPPING_METHOD}</td>
    <td nowrap='nowrap'>{SHOP_SHIPPING_TYPE}&nbsp;</td>
  </tr>
<!-- </table> <br /> <table border="0" width="100%" cellspacing="0" cellpadding="2" class="adminlist"> -->
<tr><td>&nbsp;</td></tr>
  <tr>
    <th colspan="4">{TXT_PAYMENT_INFORMATIONS}</th>
  </tr>
  <tr class="row1">
    <td nowrap='nowrap'>{TXT_PAYMENT_TYPE}</td>
    <td nowrap='nowrap' colspan="3">{SHOP_PAYMENTTYPE}&nbsp;({SHOP_PAYMENT_HANDLER})</td>
  </tr>

<!-- BEGIN creditCard -->
  <tr class="row2">
    <td nowrap='nowrap'>{TXT_CREDIT_CARD_OWNER}</td>
    <td nowrap='nowrap' colspan="3">{SHOP_CCNAME}&nbsp;</td>
  </tr>
  <tr class="row1">
    <td nowrap='nowrap'>{TXT_CARD_NUMBER}</td>
    <td nowrap='nowrap' colspan="3">{SHOP_CCNUMBER}&nbsp;</td>
  </tr>
  <tr class="row2">
    <td nowrap='nowrap'>{TXT_CVC_CODE}</td>
    <td nowrap='nowrap' colspan="3">{SHOP_CVC_CODE}&nbsp;</td>
  </tr>
  <tr class="row1">
    <td nowrap='nowrap'>{TXT_EXPIRY_DATE}</td>
    <td nowrap='nowrap' colspan="3">{SHOP_CCDATE}&nbsp;</td>
  </tr>
<!-- END creditCard -->

<!-- BEGIN lsv -->
  <tr class="row2">
    <td nowrap='nowrap'>{TXT_ACCOUNT_HOLDER}</td>
    <td nowrap='nowrap' colspan="3">{SHOP_ACCOUNT_HOLDER}&nbsp;</td>
  </tr>
  <tr class="row1">
    <td nowrap='nowrap'>{TXT_ACCOUNT_BANK}</td>
    <td nowrap='nowrap' colspan="3">{SHOP_ACCOUNT_BANK}&nbsp;</td>
  </tr>
  <tr class="row2">
    <td nowrap='nowrap'>{TXT_ACCOUNT_BLZ}</td>
    <td nowrap='nowrap' colspan="3">{SHOP_ACCOUNT_BLZ}&nbsp;</td>
  </tr>
<!-- END lsv -->

</table>
<br />
<table border="0" width="100%" class="adminlist" cellspacing="0" cellpadding="2">
  <tr>
    <th colspan="9">{TXT_BILL}</th>
  </tr>
  <tr class="row1">
    <td nowrap='nowrap' width="5%"><b>{TXT_NUMBER}</b></td>
    <td nowrap='nowrap' width="10%"><b>{TXT_PRODUCT_ID}</b></td>
    <td nowrap='nowrap' width="10%"><b>{TXT_SHOP_PRODUCT_CUSTOM_ID}</b></td>
    <td nowrap='nowrap' width="40%"><b>{TXT_PRODUCT_NAME}</b></td>
    <td nowrap='nowrap' width="10%"><div style="text-align:right;"><b>{TXT_WEIGHT}</b></div></td>
    <td nowrap='nowrap' width="15%"><div style="text-align:right;"><b>{TXT_PRODUCT_PRICE}</b></div></td>
    <td colspan="2" nowrap='nowrap' width="10%"><div style="text-align:left;"><b>{TXT_TAX_RATE}</b></div></td>
    <td nowrap='nowrap' width="10%"><div style="text-align:right;"><b>{TXT_SUM}</b></div></td>
  </tr>
<!-- BEGIN orderdetailsRow -->
  <tr class="{SHOP_ROWCLASS}" style="vertical-align: top;">
    <td nowrap='nowrap'>{SHOP_QUANTITY}&nbsp;</td>
    <td nowrap='nowrap'>{SHOP_P_ID}&nbsp;</td>
    <td nowrap='nowrap'>{SHOP_PRODUCT_CUSTOM_ID}&nbsp;</td>
    <td nowrap='nowrap'>{SHOP_PRODUCT_NAME}&nbsp;</td>
    <td nowrap='nowrap'><div style="text-align:right;">{SHOP_PRODUCT_WEIGHT}&nbsp;</div></td>
    <td nowrap='nowrap'><div style="text-align:right;">{SHOP_PRODUCT_PRICE}&nbsp;{SHOP_CURRENCY}</div></td>
    <td nowrap='nowrap'><div style="text-align:right;">{SHOP_PRODUCT_TAX_RATE}</div></td>
    <td nowrap='nowrap'><div style="text-align:right;">{SHOP_PRODUCT_TAX_AMOUNT}&nbsp;{SHOP_CURRENCY}</div></td>
    <td nowrap='nowrap'><div style="text-align:right;">{SHOP_PRODUCT_SUM}&nbsp;{SHOP_CURRENCY}</div></td>
  </tr>
<!-- END orderdetailsRow -->
<!-- BEGIN shopNetPrice -->
  <tr>
    <td colspan="7">&nbsp;</td>
    <td nowrap="nowrap"><div style="text-align:right;"><b>{TXT_NET_PRICE}</b></div></td>
    <td nowrap="nowrap"><div style="text-align:right;">{SHOP_NET_PRICE}&nbsp;{SHOP_CURRENCY}</div></td>
  </tr>
<!-- END shopNetPrice -->
<!-- BEGIN shopTaxPrice -->
  <tr>
    <td colspan="7">&nbsp;</td>
    <td><div style="text-align:right;"><b>{SHOP_PART_TAX_PROCENTUAL}</b></div></td>
    <td><div style="text-align:right;">{SHOP_TAX_PRICE}&nbsp;{SHOP_CURRENCY}</div></td>
  </tr>
<!-- END shopTaxPrice -->
<!-- BEGIN shopShipmentPrice -->
  <tr><td colspan="9">&nbsp;</td></tr>
  <tr>
    <td colspan="3">&nbsp;</td>
    <td nowrap="nowrap"><div style="text-align:right;"><b>{TXT_TOTAL_WEIGHT}</b>&nbsp;</div></td>
    <td nowrap="nowrap"><div style="text-align:right;">{SHOP_TOTAL_WEIGHT}</div></td>
    <td colspan="2">&nbsp;</td>
    <td><div style="text-align:right;"><b>{TXT_SHIPPING_PRICE}</b></div></td>
    <td><div style="text-align:right;">{SHOP_SHIPPING_PRICE}&nbsp;{SHOP_CURRENCY}</div></td>
  </tr>
<!-- END shopShipmentPrice -->
<!-- BEGIN shopPaymentPrice -->
  <tr>
    <td colspan="7">&nbsp;</td>
    <td><div style="text-align:right;"><b>{TXT_PAYMENT_COSTS}</b></div></td>
    <td><div style="text-align:right;">{SHOP_PAYMENT_PRICE}&nbsp;{SHOP_CURRENCY}</div></td>
  </tr>
<!-- END shopPaymentPrice -->
  <tr>
    <td colspan="7">&nbsp;</td>
    <td><div style="text-align:right;"><b>{TXT_TOTAL}</b></div></td>
    <td><div style="text-align:right;">{SHOP_CURRENCY_ORDER_SUM}&nbsp;{SHOP_CURRENCY}</div></td>
  </tr>
</table>
<br />
<table border="0" width="100%" cellpadding="2" cellspacing="0" class="adminlist">
  <tr>
    <th>{TXT_CUSTOMER_REMARKS}</th>
  </tr>
  <tr>
    <td><div style="vertical-align:top;">{SHOP_CUSTOMER_NOTE}&nbsp;</div></td>
  </tr>
</table>
<br />
<input type="button" name="editOrder" value="{TXT_EDIT}" onclick="edit({SHOP_ORDERID})" />
<!-- END shop_order_details.html -->
