<!-- START module_shop_settings_general.html -->
<script language="JavaScript" type="text/javascript">
<!-- //
// -->
</script>
<!-- BEGIN statusBar -->
<span class="red">{CONTENT_STATUS}</span>
<!-- END statusBar -->
<ul id="tabmenu">
<li><a id="generalTab_shopContent1" class="active" href="javascript:{}" onclick="selectTab('shopContent1')" title="{TXT_GENERAL_SETTINGS}">{TXT_GENERAL_SETTINGS}</a></li>
<li><a id="generalTab_shopContent2" href="javascript:{}" onclick="selectTab('shopContent2')" title="{TXT_PAYMENT_HANDLER}">{TXT_PAYMENT_HANDLER}</a></li>
<li><a id="generalTab_shopContent4" href="javascript:{}" onclick="selectTab('shopContent4')" title="{TXT_SHOP_IMAGE_SETTINGS}">{TXT_SHOP_IMAGE_SETTINGS}</a></li>
</ul>
<form name="shopForm" method="post" action="index.php?cmd=shop{MODULE_INDEX}&amp;act=settings&amp;tpl=general">
<!-- start shopContent1 div -->
<div id="shopContent1" class="generalTab" style="display:block">
  <table summary="" border="0" cellspacing="0" cellpadding="2" width="100%" class="adminlist">
    <tr>
      <th colspan="2"> <b>{TXT_GENERAL_SETTINGS}</b></th>
    </tr>
    <tr class="row1">
      <td nowrap="nowrap">{TXT_SHOP_EMAIL}</td>
      <td nowrap="nowrap"><input type="text" name="email" size="50" maxlength='255' value="{SHOP_CONTACT_EMAIL}" /></td>
    </tr>
    <tr class="row2">
      <td nowrap="nowrap" width="15%">{TXT_CONFIRMATION_EMAILS}</td>
      <td nowrap="nowrap" ><input type="text" name="confirmation_emails" size="50" maxlength='255' value="{SHOP_CONFIRMATION_EMAILS}" />
      ({TXT_SEPARATED_WITH_COMMAS}) </td>
    </tr>

    <tr class="row1">
      <td nowrap="nowrap">{TXT_CONTACT_COMPANY}</td>
      <td nowrap="nowrap"><input type="text" name="shop_company" size="50" maxlength='255' value="{SHOP_CONTACT_COMPANY}" /></td>
    </tr>
    <tr class="row2">
      <td nowrap="nowrap">{TXT_CONTACT_ADDRESS}</td>
      <td nowrap="nowrap"><textarea cols="36" rows="5" name="shop_address">{SHOP_CONTACT_ADDRESS}</textarea></td>
    </tr>
    <tr class="row1">
      <td nowrap="nowrap">{TXT_PHONE_NUMBER}</td>
      <td nowrap="nowrap"><input type="text" name="telephone" size="50" maxlength='255' value="{SHOP_CONTACT_TEL}" /></td>
    </tr>
    <tr class="row2">
      <td nowrap="nowrap">{TXT_FAX_NUMBER}</td>
      <td nowrap="nowrap"><input type="text" name="fax" size="50" maxlength='255' value="{SHOP_CONTACT_FAX}" /></td>
    </tr>
    <tr class="row1">
      <td nowrap="nowrap">{TXT_COUNTRY}</td>
      <td nowrap="nowrap">
        <select name="country_id" style="width: 270px;">
          {SHOP_GENERAL_COUNTRY_MENUOPTIONS}
        </select>
      </td>
    </tr>
    <tr class="row2">
      <td nowrap="nowrap">{TXT_SHOP_SETTING_WEIGHT_ENABLE}</td>
      <td nowrap="nowrap"><input type="checkbox" name="shop_weight_enable" value="1"{SHOP_WEIGHT_ENABLE_CHECKED} /></td>
    </tr>
    <tr class="row1">
      <td nowrap="nowrap">{TXT_SHOP_PRODUCT_SORTING}</td>
      <td nowrap="nowrap">
        <select name="product_sorting" style="width: 270px;">
          {SHOP_PRODUCT_SORTING_MENUOPTIONS}
        </select>
      </td>
    </tr>
    <tr class="row2">
      <td nowrap="nowrap">{TXT_SHOP_SHOW_PRODUCTS_ON_START_PAGE}</td>
      <td nowrap="nowrap">
        <select name="shop_show_products_default" style="width: 270px;">
          {SHOP_SHOW_PRODUCTS_DEFAULT_OPTIONS}
        </select>
    </tr>
    <tr class="row1">
      <td nowrap="nowrap">{TXT_SHOP_ORDERITEMS_AMOUNT_MAX} ({SHOP_CURRENCY_CODE})</td>
      <td nowrap="nowrap">
        <input type="text" align="right" name="orderitems_amount_max" size="50" maxlength='12' value="{SHOP_ORDERITEMS_AMOUNT_MAX}" />
        {TXT_SHOP_ORDERITEMS_AMOUNT_MAX_NOTE}
    </tr>
  </table>
  <br />
</div>
<!-- end shopContent1 div -->

<!-- start shopContent2 div -->
<div id="shopContent2" class="generalTab" style="display:none;">
  <table summary="" border="0" cellspacing="0" cellpadding="2" width="100%" class="adminlist">
    <tr>
      <th colspan="3">{TXT_PAYMENT_HANDLER}</th>
    </tr>
    <tr class="row1">
      <td nowrap="nowrap" width="15%"><strong>{TXT_NAME}</strong></td>
      <td width="80%"><strong>{TXT_STATEMENT}</strong></td>
      <td nowrap="nowrap" width="5%"><div align="center"><strong>{TXT_ACTIVE}</strong></div></td>
    </tr>
    <tr valign="top" class="row2">
      <td width="15%" nowrap="nowrap">{TXT_YELLOWPAY_POSTFINANCE}</td>
      <td nowrap="nowrap">
        <label for="yellowpay_swapper">{TXT_SHOP_EDIT}&nbsp;</label>
        <input name="yellowpay_swapper" id="yellowpay_swapper" type="checkbox" onclick="swapBlock('yellowpay');" value="1" />&nbsp;
        <div id="yellowpay" style="display:none;">
          <table width="100%" summary="">
            <tr>
              <td width="20%">
                {TXT_SHOP_YELLOWPAY_PSPID}
              </td>
              <td width="80%">
                <input type="text" name="yellowpay_shop_id" value="{SHOP_YELLOWPAY_SHOP_ID}" size="15" maxlength="50" />
              </td>
            </tr>
            <tr>
              <td>
                {TXT_SHOP_YELLOWPAY_HASH_SIGNATURE_IN}
              </td>
              <td>
                <input type="text" name="yellowpay_hash_signature_in" value="{SHOP_YELLOWPAY_HASH_SIGNATURE_IN}" size="15" maxlength="50" />
              </td>
            </tr>
            <tr>
              <td>
                {TXT_SHOP_YELLOWPAY_HASH_SIGNATURE_OUT}
              </td>
              <td>
                <input type="text" name="yellowpay_hash_signature_out" value="{SHOP_YELLOWPAY_HASH_SIGNATURE_OUT}" size="15" maxlength="50" />
              </td>
            </tr>
            <tr>
              <td>
                {TXT_AUTORIZATION}
              </td>
              <td>
                <select name="yellowpay_authorization_type">
                  {SHOP_YELLOWPAY_AUTHORIZATION_TYPE_OPTIONS}
                </select>
              </td>
            </tr>
            <tr>
              <td valign="top">
                {TXT_SHOP_ACCEPTED_PAYMENT_METHODS}
              </td>
              <td>
                {SHOP_YELLOWPAY_ACCEPTED_PAYMENT_METHODS_CHECKBOXES}
              </td>
            </tr>
            <tr>
              <td valign="top">{TXT_SHOP_YELLOWPAY_USE_TESTSERVER}</td>
              <td>
                <input id="yellowpay_use_testserver_yes" type="radio"
                  name="yellowpay_use_testserver" value="1"{SHOP_YELLOWPAY_USE_TESTSERVER_YES_CHECKED} />
                <label for="yellowpay_use_testserver_yes">{TXT_SHOP_YES}</label>
                <br />
                <input id="yellowpay_use_testserver_no" type="radio"
                  name="yellowpay_use_testserver" value="0"{SHOP_YELLOWPAY_USE_TESTSERVER_NO_CHECKED} />
                <label for="yellowpay_use_testserver_no">{TXT_SHOP_NO}</label>
              </td>
            </tr>
          </table>
        </div>
      </td>
      <td nowrap="nowrap"><div align="center"><input type="checkbox" name="yellowpay_status" value="1" {SHOP_YELLOWPAY_STATUS} /></div></td>
    </tr>

    <tr valign="top" class="row2">
      <td width="15%" nowrap="nowrap">{TXT_SHOP_DATATRANS}</td>
      <td nowrap="nowrap">
        <label for="datatrans_swapper">{TXT_SHOP_EDIT}&nbsp;</label>
        <input name="datatrans_swapper" id="datatrans_swapper" type="checkbox" onclick="swapBlock('datatrans');" value="1" />&nbsp;
        <div id="datatrans" style="display:none;">
          <table width="100%" summary="">
            <tr>
              <td width="20%">{TXT_SHOP_DATATRANS_MERCHANT_ID}</td>
              <td width="80%">
                <input type="text" name="datatrans_merchant_id" value="{SHOP_DATATRANS_MERCHANT_ID}" size="15" maxlength="50" />
              </td>
            </tr>
            <tr>
              <td>{TXT_SHOP_AUTHORIZATION}</td>
              <td>
                <select name="datatrans_request_type">
                  {SHOP_DATATRANS_AUTHORIZATION_TYPE_OPTIONS}
                </select>
              </td>
            </tr>
            <!--tr>
              <td valign="top">{TXT_SHOP_ACCEPTED_PAYMENT_METHODS}</td>
              <td>{SHOP_DATATRANS_ACCEPTED_PAYMENT_METHODS_CHECKBOXES}</td>
            </tr-->
            <tr>
              <td valign="top">{TXT_SHOP_DATATRANS_USE_TESTSERVER}</td>
              <td>
                <input id="datatrans_use_testserver_yes" type="radio"
                  name="datatrans_use_testserver" value="1"{SHOP_DATATRANS_USE_TESTSERVER_YES_CHECKED} />
                <label for="datatrans_use_testserver_yes">{TXT_SHOP_YES}</label>
                <br />
                <input id="datatrans_use_testserver_no" type="radio"
                  name="datatrans_use_testserver" value="0"{SHOP_DATATRANS_USE_TESTSERVER_NO_CHECKED} />
                <label for="datatrans_use_testserver_no">{TXT_SHOP_NO}</label>
              </td>
            </tr>
          </table>
        </div>
      </td>
      <td nowrap="nowrap"><div align="center"><input type="checkbox" name="datatrans_status" value="1"{SHOP_DATATRANS_STATUS} /></div></td>
    </tr>

    <tr valign="top" class="row1">
      <td width="15%" nowrap="nowrap">{TXT_SAFERPAY}</td>
      <td nowrap="nowrap"><label for="safperpay_swapper">{TXT_SHOP_EDIT}&nbsp;</label>
        <input name="safperpay_swapper" id="safperpay_swapper" type="checkbox" onclick="swapBlock('safperpay');" value="1" />&nbsp;
        <div id="safperpay" style="display:none;">
          <table width="100%" summary="">
            <tr>
              <td width="20%">{TXT_ACCOUNT_ID}</td>
              <td width="80%">
                <input type="text" name="saferpay_id" value="{SHOP_SAFERPAY_ID}" size="15" maxlength="60" />
              </td>
            </tr>
            <tr>
              <td>{TXT_USE_TEST_ACCOUNT}</td>
              <td>
                <input type="checkbox" name="saferpay_use_test_account" value="1" {SHOP_SAFERPAY_TEST_STATUS} />
              </td>
            </tr>
            <tr>
              <td>{TXT_FINALIZE_PAYMENT}</td>
              <td>
                <input type="checkbox" name="saferpay_finalize_payment" value="1" {SHOP_SAFERPAY_FINALIZE_PAYMENT} />
              </td>
            </tr>
            <tr>
              <td>{TXT_INDICATE_PAYMENT_WINDOW_AS}</td>
              <td>
                <select name="saferpay_window_option" id="saferpay_window_option">
                  {SHOP_SAFERPAY_WINDOW_MENUOPTIONS}
                </select>
              </td>
            </tr>
          </table>
        </div>
      </td>
      <td nowrap="nowrap" ><div align="center"><input type="checkbox" name="saferpay_status" value="1" {SHOP_SAFERPAY_STATUS} /></div></td>
    </tr>
    <tr valign="top" class="row2">
      <td width="15%">{TXT_PAYPAL}</td>
      <td><label for="paypal_swapper">{TXT_SHOP_EDIT}&nbsp;</label>
        <input name="paypal_swapper" id="paypal_swapper" type="checkbox" onclick="swapBlock('paypal');" value="1" />&nbsp;
        <div id="paypal" style="display:none;">
          <table width="100%" summary="">
            <tr>
              <td width="20%">{TXT_PAYPAL_EMAIL_ACCOUNT}</td>
              <td width="80%">
                <input type="text" name="paypal_account_email" value="{SHOP_PAYPAL_EMAIL}" size="24" maxlength="254" style="margin-bottom:1px;" />
              </td>
            </tr>
            <tr>
              <td>{TXT_SHOP_PAYPAL_DEFAULT_CURRENCY}</td>
              <td>
                <select name="paypal_default_currency">
                  {SHOP_PAYPAL_DEFAULT_CURRENCY_MENUOPTIONS}
                </select>
              </td>
            </tr>
          </table>
        </div>
      </td>
      <td ><div align="center"><input type="checkbox" name="paypal_status" value="1" {SHOP_PAYPAL_STATUS} /></div></td>
    </tr>
    <tr class="row1">
      <td nowrap="nowrap">{TXT_PAYMENT_LSV}</td>
      <td>&nbsp;</td>
      <td ><div align="center"><input type="checkbox" name="payment_lsv_status" value="1" {SHOP_PAYMENT_LSV_STATUS} /></div></td>
    </tr>
  </table>
  <br />
</div>
<!-- end shopContent2 div -->

<!-- start shopContent4 div -->
<div id="shopContent4" class="generalTab" style="display:none;">
    <table summary="" border="0" cellspacing="0" cellpadding="2" width="100%" class="adminlist">
      <tr>
        <th colspan="2">{TXT_SHOP_IMAGE_SETTINGS}</th>
      </tr>
      <tr class="row1">
        <td nowrap="nowrap" width='15%'>
          {TXT_SHOP_THUMBNAIL_MAX_WIDTH}
        </td>
        <td width='85%'>
          <input type="text" name="shop_thumbnail_max_width" value="{SHOP_THUMBNAIL_MAX_WIDTH}" size="6" maxlength="3" />
        </td>
      </tr>
      <tr class="row2">
        <td nowrap="nowrap" width='15%'>
          {TXT_SHOP_THUMBNAIL_MAX_HEIGHT}
        </td>
        <td width='85%'>
          <input type="text" name="shop_thumbnail_max_height" value="{SHOP_THUMBNAIL_MAX_HEIGHT}" size="6" maxlength="3" />
        </td>
      </tr>
      <tr class="row1">
        <td nowrap="nowrap" width='15%'>
          {TXT_SHOP_THUMBNAIL_QUALITY}
        </td>
        <td width='85%'>
          <input type="text" name="shop_thumbnail_quality" value="{SHOP_THUMBNAIL_QUALITY}" size="6" maxlength="3" />
        </td>
      </tr>
    </table>
  <br />
</div>
<!-- end shopContent4 div -->

<input type="submit" name="general" value="{TXT_STORE}" />
</form>
<!-- END module_shop_settings_general.html -->
