<!-- START shop_order_edit.html -->
<script type="text/javascript">//<![CDATA[
// Array with information about all products
{SHOP_JS_ARR_PRODUCT}

// Array with information about all shipment methods
{SHOP_JS_ARR_SHIPMENT}

// Array with information about all payment methods
{SHOP_JS_ARR_PAYMENT}

// Customer discount information -- unused
//var discountRateCustomer = {SHOP_DISCOUNT_RATE_CUSTOMER};

// Array with count type discount information
{SHOP_JS_ARR_DISCOUNT_COUNT}

// sum of all items, without either shipping or payment,
// taxes only included if applicable
total_items_price = 0;

// get an array of all product IDs from the order
// index => array ('id' => order_item_id, 'value' => product_id)
function getArrProduct()
{
  var arrProductId = new Array();
  var indexId = 0;
  // Loop through all input tags
  var arrElements = document.getElementsByTagName("input");
  for (var i = 0; i < arrElements.length; i++) {
    var element = arrElements[i];
    // input tags' id attribute
    var elementId = element.getAttribute("id");
    if (!elementId) continue;
    var match = elementId.match(/product_id-(\d+)/);
    if (!match) continue;
    var orderItemId = Number(match[1]);
    // the containing row has the product ID
    if (element.value == "0") continue;
    arrProductId[indexId] = new Array();
    // Order item ID
    arrProductId[indexId]['id'] = orderItemId;
    // Product ID
    arrProductId[indexId]['value'] =
      document.getElementById("product_list-"+orderItemId).value;
    ++indexId;
  }
  return arrProductId;
}

// Change the order item row "orderItemId" to contain the product
// with ID "newProductId" if a product with the id "newProductId"
// doesn't exist already
function changeProduct(orderItemId, newProductId)
{
  // list of product items in the order
  var arrProductId = getArrProduct();
  // try to find the new product id in the order array.
  // if newProductId is zero, an item is about to be removed.
  if (newProductId != 0) {
    for (i = 0; i < arrProductId.length; ++i) {
      if (newProductId == arrProductId[i]['value']
       && orderItemId != arrProductId[i]['id']) {
        alert("{TXT_PRODUCT_ALREADY_PRESENT}");
        document.getElementById("product_list-"+orderItemId).selectedIndex =
          document.getElementById("product_id-"+orderItemId).value;
        return;
      }
    }
  }
  if (newProductId == "0") {
    // the new product ID is zero, so an item is to be deleted
// TODO: What exactly does this condition do?
    if (orderItemId == 0) {
      document.getElementById("product_id-"+orderItemId).value = "0";
    }
    document.getElementById("productQuantity-"+orderItemId).value = 0;
//    document.getElementById("product_name-"+orderItemId).value = "";
    document.getElementById("productPrice-"+orderItemId).value = '0.00';
    document.getElementById("productTaxPercent-"+orderItemId).value = '0.00';
    document.getElementById("productWeight-"+orderItemId).value = '0 g';
  } else {
    // An existing items' id has been changed to another product id.
    // There has to be at least one
    var quantity = document.getElementById("productQuantity-"+orderItemId).value;
    if (quantity < 1) {
      quantity = 1;
      document.getElementById("productQuantity-"+orderItemId).value = quantity;
    }
    document.getElementById("product_id-"+orderItemId).value = newProductId;
//    document.getElementById("product_name-"+orderItemId).value = arrProducts[newProductId]['title'];
    document.getElementById("productTaxPercent-"+orderItemId).value =
      arrProducts[newProductId]['percent'].toFixed(2);
    document.getElementById("productWeight-"+orderItemId).value =
      weightToString(
          getWeightGrams(arrProducts[newProductId]['weight'])
        * Number(document.getElementById("productQuantity-"+orderItemId).value)
    );
// TODO: Deduct count type discount
    var prices = arrProducts[newProductId]['price'];
    var price = null;
    for (var count = 0; count < prices.length; count += 2) {
      var quantity_min = prices[count];
      if (quantity >= quantity_min) {
        price = prices[count+1];
//alert("TOOK\nCount: "+count+", min. Quantity: "+quantity_min+" (price: "+(prices[count+1])+")");
        break;
      }
    }
//alert("Price: "+price);
    document.getElementById("productPrice-"+orderItemId).value =
      price.toFixed(2);
  }
  // Store the current product id
  document.getElementById("product_id-"+orderItemId).value =
    document.getElementById("product_list-"+orderItemId).selectedIndex;
  // Calculate the product price, row sum and the total order sum
  calcPrice(orderItemId);
}

// weight settings
// units -- *MUST* be all lowercase!
units = new Array('g', 'kg', 't', '');
// factors -- match units above, defaults to gram
facts = new Array(1, 1000, 1000000, 1);

// convert weight string to grams (integer)
function getWeightGrams(strWeight)
{
  // match positive float value
  var number = strWeight.match(/^[\d+\.]+/);
  var unit = 0; // default is grams
  for (var unit_index = 0; unit_index < facts.length; ++unit_index) {
    // try to match one of the units
    var regex = new RegExp('[\\s\\d]'+units[unit_index]);
    if (regex.test(strWeight)) {
      unit = unit_index;
      break;
    }
  }
  return number * facts[unit];
}

// convert weight in grams (integer) to bigger unit, if appropriate (string)
function weightToString(intWeight)
{
  var unit_index = 0;
  // find useful unit
  while (intWeight >= 1000) {
    ++unit_index;
    intWeight /= 1000;
  }
  // round weight to three significant digits, add unit
  return intWeight.toPrecision(3)+' '+units[unit_index];
}

// update the total order weight
function updateWeight()
{
  // total weight
  var totalWeight = 0;
  // loop through input tags, search for all product weights
  for (var element_index = 0; element_index < document.getElementsByTagName("input").length; ++element_index) {
    // input tags' id attribute
    var elementId = document.getElementsByTagName("input")[element_index].getAttribute("id");
    if (elementId && elementId.substr(0, 18) == "productWeight-") {
      var orderItemId = elementId.substr(18)
      // pick number of items
      var quantity = document.getElementById("productQuantity-"+orderItemId).value
      // pick weight string from order item
      var weight = document.getElementsByTagName("input")[element_index].value.toLowerCase();
      // convert to grams (integer) and multiply
      var grams = getWeightGrams(weight) * quantity;
      // sum of products' weights
      totalWeight += grams;
    }
  }
  // convert total weight to appropriate unit
  totalWeight = weightToString(totalWeight);
  document.getElementById("totalWeight").value = totalWeight;
}

// set the price of the selected shipment method
// the given shipper id is looked up in the shipments available,
// and those are searched for the cheapest match.
function updateShipment()
{
  // who's shipping it?
  var sid = document.getElementById("shipperId").value;
  // Bail out if sid is not valid -- that means that no shipment is
  // selected, and possibly not needed anyway.
  if (sid == 0) {
    document.getElementById("shippingPrice").value = 0;
    return;
  }
  // copy the price from the global variable
  var price = Number(document.getElementById("netPrice").value);
  // get the total weight
  var weight = getWeightGrams(document.getElementById("totalWeight").value);
  // check shipments available by this shipper
  var shipments = arrShipments[sid];
  // find the best match for the current order weight and shipment cost.
  // arbitrary upper limit - we *SHOULD* be able to find one that's lower!
  // we'll just try to find the cheapest way to handle the delivery.
  var lowest_cost = 1e100;
  // temporary shipment cost
  var cost = 0;
  // found flag is set to the index of a suitable shipment, if encountered below.
  // if the flag stays at -1, there is no way to deliver it!
  var found = -1;
  // try all the available shipments;
  // (see Shipment.class.php::getJSArrays())
  for (var i = 0; i < shipments.length; ++i) {
    var price_free = shipments[i][2];
    var max_weight = getWeightGrams(shipments[i][1]);
    // get the shipment conditions that are closest to our order:
    // we have to make sure the maximum weight is big enough for the order,
    // or that it's unspecified (don't care)
    if ((max_weight > 0 && weight <= max_weight ) || max_weight == 0) {
      // if price_free is set, the order amount has to be higher than that
      // in order to get the shipping for free.
      if (price_free > 0 && price >= price_free) {
        // we're well within the weight limit, and the order is also expensive
        // enough to get a free shipping.
        cost = '0.00';
      } else {
        // either the order amount is too low, or price_free is unset, or zero,
        // so the shipping has to be paid for in any case.
        cost = shipments[i][3];
      }
      // we found a kind of shipment that can handle the order, but maybe
      // it's too expensive. - keep the cheapest way to deliver it
      if (cost < lowest_cost) {
        // Aahh, found a cheaper one. keep the index.
        found = i;
        lowest_cost = cost;
      }
    }
  }
  if (found != -1) {
    // after checking all the shipments, we found the lowest cost for the
    // given weight and order price. - update the shipping cost
    document.getElementById("shippingPrice").value =
      Number(lowest_cost).toFixed(2);
  } else {
    alert("{TXT_WARNING_SHIPPER_WEIGHT}");
  }
}

// set the price of the selected payment method
function updatePayment(paymentId)
{
  document.getElementById("paymentPrice").value =
    Number(arrPayment[paymentId]).toFixed(2);
  calcPrice(0);
}

// recalculate the entire form upto and including the total price.
// if a order item  ID is given, update the corresponding row first.
function calcPrice(orderItemId)
{
  var arrProductId = getArrProduct();
  // Recalculate the row of the selected product:
  // Determine the row price according to the quantity
  var price = 0;
  var quantity = 0;
  var newProductId =
    document.getElementById("product_list-"+orderItemId).value;
  if (newProductId > 0) {
    var price =
      document.getElementById("productPrice-"+orderItemId).value;
    var quantity =
      document.getElementById("productQuantity-"+orderItemId).value;
//alert("Quantity: "+quantity+", Price: "+price);
  }
  document.getElementById("productPrice-"+orderItemId).value =
    Number(price).toFixed(2);
  document.getElementById("productSum-"+orderItemId).value =
    (quantity * price).toFixed(2);
  // Totals
  var totalVat = 0;
  var totalSum = 0;
  for (var i = 0; i < arrProductId.length; ++i) {
    // update the total VAT amount
    totalVat +=
        Number(document.getElementById(
          "productTaxPercent-"+arrProductId[i]['id']).value)
      * Number(document.getElementById(
          "productSum-"+arrProductId[i]['id']).value) / 100;
    // update the total order value
    totalSum += Number(document.getElementById(
      "productSum-"+arrProductId[i]['id']).value);
  }
  // store totalSum as net total before adding VAT
  document.getElementById("netPrice").value =
    (Math.round(totalSum*100)/100).toFixed(2);
  updateWeight();
  // if the total weight changes, so may the shipping conditions
  updateShipment();
  // round prices to cents
  totalVat = Math.round(totalVat*100)/100;
  if (vat_included == 0) {
    totalSum += totalVat;
  }
  // add shipping and payment cost
  totalSum +=
      Number(document.getElementById("shippingPrice").value)
    + Number(document.getElementById("paymentPrice").value);
  totalSum = Math.round(totalSum*100)/100;
  document.getElementById("currencyOrderSum").value = totalSum.toFixed(2);
  document.getElementById("taxPrice").value = totalVat.toFixed(2);
}

function swapSendToStatus(element)
{
  if (document.getElementById("order_status").selectedIndex == 4) {
    document.getElementById("sendMailDiv").style.display = 'inline';
  } else {
    document.getElementById("sendMailDiv").style.display = 'none';
  }
}
//]]></script>
<br />
<form id="orderEdit" name="orderEdit" method="post" action="index.php?cmd=shop&amp;act=editorder">
  <table width="100%" border="0" class="adminlist" cellpadding="2" cellspacing="0">
    <colgroup><col width="15%" /><col width="35%" /><col width="15%" /><col width="35%" /></colgroup>
    <tr>
      <th colspan="4">{TXT_ORDER}</th>
    </tr>
    <tr class="row1">
      <td nowrap="nowrap">{TXT_ORDERNUMBER}</td>
      <td nowrap="nowrap">{SHOP_ORDERID}<input type="hidden" name="order_id" value="{SHOP_ORDERID}" /></td>
      <td nowrap="nowrap">{TXT_IP_ADDRESS}</td>
      <td nowrap="nowrap">{SHOP_CUSTOMER_IP}</td>
    </tr>
    <tr class="row2">
      <td nowrap="nowrap">{TXT_ORDERDATE}</td>
      <td nowrap="nowrap">{SHOP_DATE}&nbsp;</td>
      <td nowrap="nowrap">{TXT_CLIENT_HOST}</td>
      <td nowrap="nowrap">{SHOP_CUSTOMER_HOST}</td>
    </tr>
    <tr class="row1" style="vertical-align:top;">
      <td nowrap="nowrap">{TXT_ORDERSTATUS}</td>
      <td nowrap="nowrap">
        {SHOP_ORDER_STATUS}
        <div id="sendMailDiv" style="{SHOP_SEND_MAIL_STYLE}">
          &nbsp;{SHOP_SEND_TEMPLATE_TO_CUSTOMER}&nbsp;
          <input type="checkbox" name="sendMail" value="1"
              onclick="swapSendToStatus();" {SHOP_SEND_MAIL_STATUS} />
        </div>
      </td>
      <td nowrap="nowrap">{TXT_BROWSER_VERSION}</td>
      <td nowrap="nowrap">{SHOP_CUSTOMER_BROWSER}</td>
    </tr>
    <tr class="row2">
      <td nowrap="nowrap">{TXT_LAST_EDIT}</td>
      <td nowrap="nowrap">
        {SHOP_LAST_MODIFIED}
        <input type="hidden" name="lastModified" value="{SHOP_LAST_MODIFIED_DATE}" />
      </td>
      <td nowrap="nowrap">{TXT_BROWSER_LANGUAGE}</td>
      <td nowrap="nowrap">{SHOP_CUSTOMER_LANG}</td>
    </tr>
<!-- see below <tr class="row1"> <td nowrap="nowrap" width="15%">{TXT_ORDER_SUM}</td> <td nowrap="nowrap" width="85%" colspan="3">{SHOP_ORDER_SUM}&nbsp;{SHOP_DEFAULT_CURRENCY}</td> </tr> -->
    <tr><td colspan="4">&nbsp;</td></tr>
    <tr>
      <th nowrap="nowrap" colspan="2">{TXT_BILLING_ADDRESS}</th>
      <th nowrap="nowrap" colspan="2">{TXT_SHIPPING_ADDRESS}</th>
    </tr>
    <tr class="row1">
      <td nowrap="nowrap">{TXT_COMPANY}</td>
      <td nowrap="nowrap">
        <a href="index.php?cmd=shop&amp;act=neweditcustomer&amp;customer_id={SHOP_CUSTOMER_ID}">
          {SHOP_COMPANY}
        </a>
        &nbsp;
      </td>
      <td nowrap="nowrap">{TXT_COMPANY}</td>
      <td nowrap="nowrap">
        <input type="text" name="shipCompany" value="{SHOP_SHIP_COMPANY}" />
      </td>
    </tr>
    <tr class="row2">
      <td nowrap="nowrap">{TXT_SHOP_TITLE}</td>
      <td nowrap="nowrap">{SHOP_GENDER}&nbsp;</td>
      <td nowrap="nowrap">{TXT_SHOP_TITLE}</td>
      <td nowrap="nowrap">
        <input type="text" name="shipPrefix" value="{SHOP_SHIP_TITLE}" />
      </td>
    </tr>
    <tr class="row1">
      <td nowrap="nowrap">{TXT_LAST_NAME}</td>
      <td nowrap="nowrap">
        <a href="index.php?cmd=shop&amp;act=neweditcustomer&amp;customer_id={SHOP_CUSTOMER_ID}">{SHOP_LASTNAME}</a>&nbsp;</td>
      <td nowrap="nowrap">{TXT_LAST_NAME}</td>
      <td nowrap="nowrap">
        <input type="text" name="shipLastname" value="{SHOP_SHIP_LASTNAME}" /></td>
    </tr>
    <tr class="row2">
      <td nowrap="nowrap">{TXT_FIRST_NAME}</td>
      <td nowrap="nowrap">
        <a href="index.php?cmd=shop&amp;act=neweditcustomer&amp;customer_id={SHOP_CUSTOMER_ID}">{SHOP_FIRSTNAME}</a>&nbsp;</td>
      <td nowrap="nowrap">{TXT_FIRST_NAME}</td>
      <td nowrap="nowrap">
        <input type="text" name="shipFirstname" value="{SHOP_SHIP_FIRSTNAME}" /></td>
    </tr>
    <tr class="row1">
      <td nowrap="nowrap">{TXT_ADDRESS}</td>
      <td nowrap="nowrap">{SHOP_ADDRESS}&nbsp;</td>
      <td nowrap="nowrap">{TXT_ADDRESS}</td>
      <td nowrap="nowrap">
        <input type="text" name="shipAddress" value="{SHOP_SHIP_ADDRESS}" /></td>
    </tr>
    <tr class="row2">
      <td nowrap="nowrap">{TXT_ZIP_CITY}</td>
      <td nowrap="nowrap">{SHOP_ZIP}&nbsp;{SHOP_CITY}</td>
      <td nowrap="nowrap">{TXT_ZIP_CITY}</td>
      <td nowrap="nowrap">
        <input type="text" name="shipZip" size="8" maxlength="8" value="{SHOP_SHIP_ZIP}" />&nbsp;<input type="text" name="shipCity" value="{SHOP_SHIP_CITY}" /></td>
    </tr>
    <tr class="row1">
      <td nowrap="nowrap">{TXT_COUNTRY}</td>
      <td nowrap="nowrap">{SHOP_COUNTRY}&nbsp;</td>
      <td nowrap="nowrap">{TXT_COUNTRY}</td>
      <td nowrap="nowrap">{SHOP_SHIP_COUNTRY}</td>
    </tr>
    <tr class="row2">
      <td nowrap="nowrap">{TXT_PHONE}</td>
      <td nowrap="nowrap">{SHOP_PHONE}&nbsp;</td>
      <td nowrap="nowrap">{TXT_PHONE}</td>
      <td nowrap="nowrap">
        <input type="text" name="shipPhone" value="{SHOP_SHIP_PHONE}" /></td>
    </tr>
    <tr class="row1">
      <td nowrap="nowrap">{TXT_FAX}</td>
      <td nowrap="nowrap">{SHOP_FAX}&nbsp;</td>
      <td></td>
      <td></td>
    </tr>
    <tr class="row2">
      <td nowrap="nowrap">
        {TXT_EMAIL}<input type="hidden" name="mailTo" value="{SHOP_EMAIL}" /></td>
      <td nowrap="nowrap">
        <a href="index.php?cmd=shop&amp;act=settings&amp;tpl=mail&amp;strTab=mailSend&amp;mailTo={SHOP_EMAIL}">{SHOP_EMAIL}</a>&nbsp;</td>
      <td nowrap="nowrap">
        {TXT_SHIPPING_METHOD}</td>
      <td nowrap="nowrap">
        {SHOP_SHIPPING_TYP_MENU}</td>
    </tr>
  </table>
  <br />
  <table border="0" width="100%" cellspacing="0" cellpadding="2" class="adminlist">
    <tr>
      <th colspan="2">{TXT_PAYMENT_INFORMATIONS}</th>
    </tr>
    <tr class="row1">
      <td nowrap="nowrap" width="15%">{TXT_PAYMENT_TYPE}</td>
    <td nowrap='nowrap'>{SHOP_PAYMENTTYPE}&nbsp;({SHOP_PAYMENT_HANDLER})</td>
    </tr>

<!-- BEGIN creditCard -->
<!-- Obsolete! -->
    <tr class="row2">
      <td nowrap="nowrap">{TXT_CREDIT_CARD_OWNER}</td>
      <td nowrap="nowrap">{SHOP_CCNAME}&nbsp;</td>
    </tr>
    <tr class="row1">
      <td nowrap="nowrap">{TXT_CARD_NUMBER}</td>
      <td nowrap="nowrap">{SHOP_CCNUMBER}&nbsp;</td>
    </tr>
    <tr class="row2">
      <td nowrap="nowrap">{TXT_CVC_CODE}</td>
      <td nowrap="nowrap">{SHOP_CVC_CODE}&nbsp;</td>
    </tr>
    <tr class="row1">
      <td nowrap="nowrap">{TXT_EXPIRY_DATE}</td>
      <td nowrap="nowrap">{SHOP_CCDATE}&nbsp;</td>
    </tr>
<!-- END creditCard -->

<!-- BEGIN lsv -->
    <tr class="row2">
    <td nowrap='nowrap'>{TXT_ACCOUNT_HOLDER}</td>
    <td nowrap='nowrap'>{SHOP_ACCOUNT_HOLDER}&nbsp;</td>
    </tr>
    <tr class="row1">
    <td nowrap='nowrap'>{TXT_ACCOUNT_BANK}</td>
    <td nowrap='nowrap'>{SHOP_ACCOUNT_BANK}&nbsp;</td>
    </tr>
    <tr class="row2">
    <td nowrap='nowrap'>{TXT_ACCOUNT_BLZ}</td>
    <td nowrap='nowrap'>{SHOP_ACCOUNT_BLZ}&nbsp;</td>
    </tr>
<!-- END lsv -->

  </table>
  <br />
  <table border="0" width="100%" class="adminlist" cellspacing="0" cellpadding="2">
    <tr>
      <th colspan="6">{TXT_BILL}</th>
    </tr>
    <tr class="row1">
      <td width="10%" nowrap="nowrap"><b>{TXT_NUMBER}</b></td>
      <td width="10%" nowrap="nowrap"><b>{TXT_SHOP_PRODUCT}</b></td>
      <!--td width="40%" nowrap="nowrap"><b>{TXT_PRODUCT_NAME}</b></td-->
      <td width="10%" nowrap='nowrap'><b>{TXT_WEIGHT}</b></td>
      <td width="10%" nowrap="nowrap"><b>{TXT_PRODUCT_PRICE}</b></td>
      <td width="10%" nowrap="nowrap"><b>{TXT_TAX_RATE}</b></td>
      <td width="10%" nowrap="nowrap"><b>{TXT_SUM}</b></td>
    </tr>
<!-- BEGIN orderdetailsRow -->
    <!--tr id="{SHOP_P_ID}" class="{SHOP_ROWCLASS}"-->
    <tr class="{SHOP_ROWCLASS}">
      <td nowrap="nowrap">
        <input type="text" id="productQuantity-{SHOP_P_ID}"
            name="productQuantity[{SHOP_P_ID}]" value="{SHOP_QUANTITY}"
            size="5" maxlength="5" onchange="calcPrice({SHOP_P_ID});" />
      </td>
      <td nowrap="nowrap">
        <input type="hidden" name="product_id_old[{SHOP_P_ID}]" value="{SHOP_P_ID}" />
        <input type="hidden" name="product_id[{SHOP_P_ID}]" id="product_id-{SHOP_P_ID}" value="{SHOP_P_ID}" />
        <select id="product_list-{SHOP_P_ID}" name="product_list[{SHOP_P_ID}]" size="1" onchange="changeProduct({SHOP_P_ID},this.value);">
          {SHOP_PRODUCT_IDS_MENU}
        </select>
      </td>
      <!--td nowrap="nowrap"><div style="text-align:left;">
        <input type="text" size="50" id="product_name-{SHOP_P_ID}"
            name="product_name[{SHOP_P_ID}]" value="{SHOP_PRODUCT_NAME}" />
      </div></td-->
      <td nowrap="nowrap">
        <input class="inputCurrency" type="text" id="productWeight-{SHOP_P_ID}"
            name="productWeight[{SHOP_P_ID}]" value="{SHOP_PRODUCT_WEIGHT}"
            onchange="calcPrice({SHOP_P_ID});" />
      </td>
      <td nowrap="nowrap">
        <input class="inputCurrency" type="text" id="productPrice-{SHOP_P_ID}"
            name="productPrice[{SHOP_P_ID}]" value="{SHOP_PRODUCT_PRICE}"
            onchange="calcPrice({SHOP_P_ID});" />
        &nbsp;{SHOP_CURRENCY}
      </td>
      <td nowrap="nowrap">
        <input class="inputCurrency" type="text"
            id="productTaxPercent-{SHOP_P_ID}"
            name="productTaxPercent[{SHOP_P_ID}]"
            value="{SHOP_PRODUCT_TAX_RATE}"
            onchange="calcPrice({SHOP_P_ID});" />
        &nbsp;%
      </td>
      <td nowrap="nowrap">
        <input readonly="readonly" class="inputCurrency" type="text"
            id="productSum-{SHOP_P_ID}" name="productSum[{SHOP_P_ID}]"
            value="{SHOP_PRODUCT_SUM}" />
        &nbsp;{SHOP_CURRENCY}
      </td>
    </tr>
<!-- END orderdetailsRow -->
    <!--tr id="0" class="{SHOP_ROWCLASS_NEW}"-->
    <tr class="{SHOP_ROWCLASS_NEW}">
      <td nowrap="nowrap">
        <input type="text" id="productQuantity-0" name="productQuantity[0]"
            value="0" size="5" maxlength="5" onchange="calcPrice(0);" />
      </td>
      <td nowrap="nowrap">
        <input type="hidden" id="product_id-0" name="product_id[0]"
            value="0" />
        <select id="product_list-0" name="product_list[0]" size="1"
            onchange="changeProduct(0,this.value);">
          {SHOP_PRODUCT_IDS_MENU_NEW}
        </select>
      </td>
      <!--td nowrap="nowrap"><div style="text-align:left;">
        <input type="text" size="50" id="product_name-0" name="product_name[0]" value="" />
      </div></td-->
      <td nowrap="nowrap">
        <input class="inputCurrency" type="text" id="productWeight-0"
            name="productWeight[0]" value="0 g" onchange="calcPrice(0);" />
      </td>
      <td nowrap="nowrap">
        <input class="inputCurrency" type="text" id="productPrice-0"
            name="productPrice[0]" onchange="calcPrice(0);"
            value="0.00" />
        &nbsp;{SHOP_CURRENCY}
      </td>
      <td nowrap="nowrap">
        <input class="inputCurrency" type="text" id="productTaxPercent-0"
            name="productTaxPercent[0]" onchange="calcPrice(0);"
            value="0.00" />
        &nbsp;%
      </td>
      <td nowrap="nowrap">
        <input class="inputCurrency" type="text" id="productSum-0"
            name="productSum[0]" value="0.00" onchange="calcPrice(0);" />
        &nbsp;{SHOP_CURRENCY}
      </td>
    </tr>
<!-- BEGIN netPrice -->
    <tr class="row1">
      <td colspan="4">&nbsp;</td>
      <td nowrap="nowrap" style="text-align:right;">
        <b>{TXT_NET_PRICE}</b>&nbsp;
      </td>
      <td nowrap="nowrap">
        <input class="inputCurrency" type="text" id="netPrice"
            name="netPrice" value="{SHOP_NET_PRICE}"
            onchange="calcPrice(0);" />&nbsp;{SHOP_CURRENCY}
      </td>
    </tr>
<!-- END netPrice -->
<!-- BEGIN taxPrice -->
    <tr>
      <td colspan="4">&nbsp;</td>
      <td nowrap="nowrap"><div style="text-align:right;"><b>{SHOP_PART_TAX_PROCENTUAL}</b>&nbsp;</div></td>
      <td nowrap="nowrap">
        <input class="inputCurrency" type="text" id="taxPrice"
            name="taxPrice" value="{SHOP_TAX_PRICE}"
            onchange="calcPrice(0);" />&nbsp;{SHOP_CURRENCY}
      </td>
    </tr>
<!-- END taxPrice -->
    <tr><td colspan="6">&nbsp;</td></tr>
    <tr>
      <td colspan="1">&nbsp;</td>
      <td nowrap="nowrap"><div style="text-align:right;"><b>{TXT_TOTAL_WEIGHT}</b>&nbsp;</div></td>
      <td nowrap="nowrap">
        <input class="inputCurrency" type="text" id="totalWeight"
            name="totalWeight" value="{SHOP_TOTAL_WEIGHT}"
            onchange="calcPrice(0);" />
      </td>
      <td colspan="1">&nbsp;</td>
      <td nowrap="nowrap"><div style="text-align:right;"><b>{TXT_SHIPPING_PRICE}</b>&nbsp;</div></td>
      <td nowrap="nowrap">
        <input class="inputCurrency" type="text" id="shippingPrice"
            name="shippingPrice" value="{SHOP_SHIPPING_PRICE}"
            onchange="calcPrice(0);" />&nbsp;{SHOP_CURRENCY}
      </td>
    </tr>
    <tr>
      <td colspan="4">&nbsp;</td>
      <td nowrap="nowrap"><div style="text-align:right;"><b>{TXT_PAYMENT_COSTS}</b>&nbsp;</div></td>
      <td nowrap="nowrap">
        <input class="inputCurrency" type="text" id="paymentPrice"
            name="paymentPrice" value="{SHOP_PAYMENT_PRICE}"
            onchange="calcPrice(0);" />&nbsp;{SHOP_CURRENCY}</td>
    </tr>
    <tr>
      <td colspan="4">&nbsp;</td>
      <td nowrap="nowrap"><div style="text-align:right;"><b>{TXT_TOTAL}</b>&nbsp;</div></td>
      <td nowrap="nowrap">
        <input class="inputCurrency" type="text" id="currencyOrderSum"
            name="currencyOrderSum" value="{SHOP_CURRENCY_ORDER_SUM}"
            onchange="calcPrice(0);" />&nbsp;{SHOP_CURRENCY}
      </td>
    </tr>
  </table>
  <br />
  <table border="0" width="100%" cellpadding="2" cellspacing="0" class="adminlist">
    <tr>
      <th>{TXT_CUSTOMER_REMARKS}</th>
    </tr>
    <tr>
      <td>{SHOP_CUSTOMER_NOTE}&nbsp;</td>
    </tr>
  </table>
  <br />
  <input type="submit" name="saveOrderChanges" value="{TXT_STORE}" />
</form>
<!-- END shop_order_edit.html -->
