<!-- START shop_customer_edit.html -->
<form name="formCustomer" method="post" action="?cmd=shop{MODULE_INDEX}&amp;act={SHOP_CUSTOMER_ACT}">
  <table width="100%" cellspacing="0" cellpadding="2" class="adminlist" border="0">
    <tr>
      <th nowrap="nowrap" colspan="4">{TXT_CUSTOMER_DATA}</th>
    </tr>
    <tr class="row1">
      <td nowrap="nowrap" width="15%">{TXT_CUSTOMER_NUMBER}</td>
      <td width="85%" colspan="3">{SHOP_CUSTOMERID}</td>
      <td width="15%">&nbsp;</td>
      <td width="35%">&nbsp;</td>
    </tr>
    <tr class="row2">
      <td nowrap="nowrap" width="15%">{TXT_COMPANY}</td>
      <td width="85%" colspan="3"><input type="text" name="shopCompany" value="{SHOP_COMPANY}" size="42" /></td>
    </tr>
    <tr class="row1">
      <td nowrap="nowrap" width="15%">{TXT_PREFIX}</td>
      <td width="35%"><input type="text" name="shopPrefix" value="{SHOP_PREFIX}" size="42" /></td>
      <td nowrap="nowrap" width="15%">{TXT_CUSTOMER_TYP}</td>
      <td width="35%">
        <select name="shopCustomerClass" size="1">
          <option value="0" {SHOP_IS_CUSTOMER}>{TXT_CUSTOMER}</option>
          <option value="1" {SHOP_IS_RESELLER}>{TXT_RESELLER}</option>
        </select>
      </td>
    </tr>
    <tr class="row2">
      <td nowrap="nowrap" width="15%">{TXT_LAST_NAME}</td>
      <td width="35%"><input type="text" name="shopLastname" value="{SHOP_LASTNAME}" size="42" /></td>
      <td nowrap="nowrap" width="15%">{TXT_LOGIN_NAME}</td>
      <td width="35%"><input type="text" name="shopUsername" value="{SHOP_USERNAME}" size="42" /></td>
    </tr>
    <tr class="row1">
      <td nowrap="nowrap" width="15%">{TXT_FIRST_NAME}</td>
      <td width="35%"><input type="text" name="shopFirstname" value="{SHOP_FIRSTNAME}" size="42" /></td>
      <td nowrap="nowrap" width="15%">{TXT_RESET_PASSWORD}</td>
      <td width="35%"><input type="text" name="shopPassword" value="{SHOP_PASSWORD}" size="42" /></td>
    </tr>
    <tr class="row2">
      <td nowrap="nowrap" width="15%">{TXT_ADDRESS}</td>
      <td width="35%"><input type="text" name="shopAddress" value="{SHOP_ADDRESS}" size="42" /></td>
      <td nowrap="nowrap" width="15%">{TXT_REGISTER_DATE}</td>
      <td width="35%"><input type="text" name="shopRegisterDate" value="{SHOP_REGISTER_DATE}" size="42" /></td>
    </tr>
    <tr class="row1">
      <td nowrap="nowrap" width="15%">{TXT_ZIP_CITY}</td>
      <td width="35%"><input type="text" name="shopZip" value="{SHOP_ZIP}" size="10" maxlength="10" />&nbsp;<input type="text" name="shopCity" value="{SHOP_CITY}" size="28" /></td>
      <td nowrap="nowrap" width="15%">{TXT_CUSTOMER_STATUS}</td>
      <td width="35%">
        <select name="shopCustomerStatus" size="1">
      <td>
        <select name="shopCustomerStatus" size="1" tabindex="27" style="width: 230px;">
          <option value="0" {SHOP_CUSTOMER_STATUS_0}>{TXT_INACTIVE}</option>
          <option value="1" {SHOP_CUSTOMER_STATUS_1}>{TXT_ACTIVE}</option>
        </select>
      </td>
    </tr>
    <tr class="row2">
      <td nowrap="nowrap" width="15%">{TXT_PHONE}</td>
      <td width="35%"><input type="text" name="shopPhone" value="{SHOP_PHONE}" size="42" /></td>
      <td nowrap="nowrap" width="15%">{TXT_COUNTRY}</td>
      <td width="35%">{SHOP_COUNTRY}</td>
    </tr>
    <tr class="row1">
      <td nowrap="nowrap" width="15%">{TXT_EMAIL}</td>
      <td width="35%"><input type="text" name="shopEmail" value="{SHOP_EMAIL}" size="42" /></td>
      <td nowrap="nowrap" width="15%">{TXT_FAX}</td>
      <td width="35%"><input type="text" name="shopFax" value="{SHOP_FAX}" size="42" /></td>
    </tr>
  </table>
  <!--br />
  <table width="100%" border="0" cellspacing="0" cellpadding="2" class="adminlist">
    <tr>
      <th nowrap="nowrap" colspan="4">{TXT_PAYMENT_INFORMATIONS}</td>
    </tr>
    <tr class="row1">
      <td nowrap="nowrap" width="15%">{TXT_CREDIT_CARD_OWNER}</td>
      <td width="35%"><input type="text" name="shopCcname" value="{SHOP_CCNAME}" size="40" /></td>
      <td nowrap="nowrap" width="15%">{TXT_CARD_NUMBER}</td>
      <td width="35%"><input type="text" name="shopCcnumber" value="{SHOP_CCNUMBER}" size="40" /></td>
    </tr>
    <tr class="row2">
      <td nowrap="nowrap" width="15%">{TXT_EXPIRY_DATE}</td>
      <td width="35%"><input type="text" name="shopCcdate" value="{SHOP_CCDATE}" size="10" maxlength="10" /></td>
      <td nowrap="nowrap" width="15%">{TXT_CVC_CODE}</td>
      <td width="35%"><input type="text" name="shopCvcCode" value="{SHOP_CVC_CODE}" size="5" maxlength="5" /></td>
    </tr>
  </table-->
  <br />
  <table width="100%" border="0" cellspacing="0" cellpadding="2" class="adminlist">
    <tr>
      <th nowrap="nowrap" colspan="4">{TXT_OPTIONS}</th>
    </tr>
    <tr class="row1">
      <td nowrap="nowrap" width="15%"><div style="vertical-align:top;">{TXT_REMARK}</div></td>
      <td width="85%" colspan="3"><textarea name="shopCompanyNote" rows="4" cols="80">{SHOP_COMPANY_NOTE}</textarea></td>
    </tr>
  </table>
  <br />
    <input type="submit" name="shopStore" value="{TXT_SAVE_CHANGES}" />&nbsp;{TXT_SEND_LOGIN_DATA}&nbsp;<input type="checkbox" name="shopSendLoginData" value="checkbox" {SHOP_SEND_LOGING_DATA_STATUS} />
</form>
<!-- END shop_customer_edit.html -->
