<!-- START shop_orders.html -->
<script type="text/javascript">
<!--
function deleteOrder(order_id)
{
  if (confirm('{TXT_CONFIRM_DELETE_ORDER}\n{TXT_ACTION_IS_IRREVERSIBLE}'))
    window.location.replace("index.php?cmd=shop{MODULE_INDEX}&{CSRF_PARAM}&act=delorder&order_id="+order_id);
}

function shopOrdersDoAction(strForm, strCheckbox, objSelect, strAct)
{
  if (checkboxIsChecked(strForm, strCheckbox) == true) {
    switch (strAct) {
      case 'del':
        if (confirm('{TXT_CONFIRM_DELETE_ORDER}\n{TXT_ACTION_IS_IRREVERSIBLE}')) {
          document.forms[strForm].action = "index.php?cmd=shop{MODULE_INDEX}&{CSRF_PARAM}&act=delorder";
          document.forms[strForm].submit();
        }
        break;
    }
  } else {
    alert("{TXT_MAKE_SELECTION}");
  }
  objSelect.value = 0;
}

function sendForm(letter)
{
  document.formSearchOrders.searchterm.value = '';
  document.formSearchOrders.listletter.value = letter;
  document.formSearchOrders.submit();
}

function changeOrderStatus(order_id, status, new_status)
{
  if (confirm('{TXT_CONFIRM_CHANGE_STATUS}')) {
    var strURI = "index.php?cmd=shop{MODULE_INDEX}&{CSRF_PARAM}&act=orders&order_id="+order_id+"&changeOrderStatus="+new_status;
    if (   new_status == 1
        || new_status == 4
        || new_status == 5
        || new_status == 6) {
      if (confirm('{SHOP_SEND_TEMPLATE_TO_CUSTOMER}?')) {
        strURI += "&shopSendMail=1";
      }
    }
    window.location.replace(strURI);
  } else {
    document.getElementById("orderstatusid["+order_id+"]").setAttribute("value", status);
  }
}

<!-- BEGIN tipMessageRow -->
Text[{SHOP_TIP_ID}]=["","{SHOP_TIP_NOTE}"];
<!-- END tipMessageRow -->
Style[0]=["","","","","",,"black","#ffffe1","","","",,,,1,"#000000",2,24,0.3,,2,"gray",1,,10,-20];
//-->
</script>
<form name="formSearchOrders" method="post" action="index.php?cmd=shop{MODULE_INDEX}&amp;act=orders">
  <input type="hidden" name="listletter" value="{SHOP_CUSTOMER_LISTLETTER}" />
  <input type="hidden" name="{SHOP_ORDERS_ORDER_NAME}" value="{SHOP_ORDERS_ORDER_VALUE}" />
  <table width="100%" border="0" cellspacing="0" cellpadding="2" class="adminlist">
    <tr>
      <th style="text-align: left">
        {TXT_SEARCH}
      </th>
    </tr>
    <tr class=row1>
      <td>
        <input type="text" name="searchterm" size="40" maxlength="255"
          value="{SHOP_SEARCH_TERM}" />
        <select name="customer_type">
          {SHOP_CUSTOMER_TYPE_MENUOPTIONS}
        </select>
        <select name="status">
          {SHOP_ORDER_STATUS_MENUOPTIONS}
        </select>
        <input type="submit" name="searchOrders" value="{TXT_SEARCH}" />
      </td>
    </tr>
    <tr class=row2>
      <td>
        <label for="show_pending_orders">{TXT_SHOP_SHOW_PENDING_ORDERS}</label>
        <input type="checkbox"{SHOP_SHOW_PENDING_ORDERS_CHECKED}
            id="show_pending_orders" name="show_pending_orders"
            onchange="document.formSearchOrders.submit();" />
      </td>
    </tr>
    <tr class=row1>
      <td>
        {SHOP_LISTLETTER_LINKS}
      </td>
    </tr>
  </table>
  <br />
</form>
<!-- BEGIN orderTable -->
<p>{SHOP_ORDER_PAGING}</p>
<form name="form_orders" method="post" action="index.php?cmd=shop{MODULE_INDEX}&amp;act=orders">
  <table class="adminlist" border=0 width="100%" cellpadding="2" cellspacing="0">
    <tr>
      <th nowrap="nowrap" width="01%" style="text-align: center;">#</th>
      <th nowrap="nowrap" width="02%" style="text-align: right;">{SHOP_HEADER_ID}&nbsp;</th>
      <th nowrap="nowrap" width="05%">{SHOP_HEADER_DATE_TIME}&nbsp;</th>
      <th nowrap="nowrap" width="03%">{SHOP_HEADER_STATUS}&nbsp;</th>
      <th nowrap="nowrap" width="22%">{SHOP_HEADER_CUSTOMER_NAME}&nbsp;</th>
      <th nowrap="nowrap" width="05%" style="text-align: center;">{SHOP_HEADER_NOTES}&nbsp;</th>
      <th nowrap="nowrap" width="05%" style="text-align: right;">{SHOP_HEADER_SUM}&nbsp;</th>
      <th nowrap="nowrap" width="10%" style="text-align: right;">{TXT_ACTION}</th>
    </tr><!-- BEGIN orderRow -->
    <tr class="{SHOP_ROWCLASS}">
      <td nowrap="nowrap" style="text-align: center;">
        <input type="checkbox" name="selectedOrderId[]" value="{SHOP_ORDERID}" />
      </td>
      <td nowrap="nowrap" style="text-align: right;">{SHOP_ORDERID}&nbsp;</td>
      <td nowrap="nowrap">{SHOP_DATE}&nbsp;&nbsp;</td>
      <td nowrap="nowrap">{SHOP_ORDER_STATUS}&nbsp;&nbsp;</td>
      <td nowrap="nowrap">
        <a href="index.php?cmd=shop{MODULE_INDEX}&amp;act=orderdetails&amp;order_id={SHOP_ORDERID}" title="{TXT_VIEW_DETAILS}">{SHOP_NAME}</a>
      </td>
      <td nowrap="nowrap" style="text-align: center;">{SHOP_TIP_LINK}&nbsp;</td>
      <td nowrap="nowrap" style="text-align: right;">{SHOP_ORDER_SUM}&nbsp;{SHOP_CURRENCY}</td>
      <td nowrap="nowrap" style="text-align: right;">
        <a href="index.php?cmd=shop{MODULE_INDEX}&amp;act=orderdetails&amp;order_id={SHOP_ORDERID}"
            title="{TXT_VIEW_DETAILS}">
          <img src="images/icons/press.gif" alt="{TXT_VIEW_DETAILS}" border="0" />
        </a>
        <a href="index.php?cmd=shop{MODULE_INDEX}&amp;act=editorder&amp;order_id={SHOP_ORDERID}"
            title="{TXT_EDIT}">
          <img src="images/icons/edit.gif" alt="{TXT_EDIT}" border="0" />
        </a>
        <a href="javascript:deleteOrder('{SHOP_ORDERID}')" title="{TXT_DELETE}">
          <img src="images/icons/delete.gif" alt="{TXT_DELETE}" border="0" />
        </a>
      </td>
    </tr><!-- END orderRow -->
  </table>
  <img src="images/icons/arrow.gif" border="0" width="38" height="22"
      title="{TXT_MARKED}:" alt="{TXT_MARKED}:" />
  <a href="javascript:{}" onclick="changeCheckboxes('form_orders','selectedOrderId[]',true)"
      title="{TXT_SELECT_ALL}">{TXT_SELECT_ALL}</a>&nbsp;/&nbsp;
  <a href="javascript:{}" onclick="changeCheckboxes('form_orders','selectedOrderId[]',false)"
      title="{TXT_REMOVE_SELECTION}">{TXT_REMOVE_SELECTION}</a>&nbsp;&nbsp;&nbsp;
  <select name="multi_action" onchange="shopOrdersDoAction('form_orders','selectedOrderId[]',this,this.value)">
    <option value="0" selected="selected">{TXT_SELECT_ACTION}:</option>
    <option value="del">{TXT_DELETE}</option>
  </select>
</form>
<!-- END orderTable -->
<p>{SHOP_ORDER_PAGING}</p>
<!-- END shop_orders.html -->
