<!-- START shop_order_edit.html -->
<script type="text/javascript">
<!--

// Array with information about all products
{SHOP_JS_ARR_PRODUCT}

// Array with information about all shipment methods
{SHOP_JS_ARR_SHIPMENT}

// Array with information about all payment methods
{SHOP_JS_ARR_PAYMENT}

// vogt // TODO
// Customer discount information
//var discountRateCustomer = {SHOP_DISCOUNT_RATE_CUSTOMER};

// vogt
// Array with count type discount information
{SHOP_JS_ARR_DISCOUNT_COUNT}

// sum of all items, without either shipping or payment,
// taxes only included if applicable
var total_items_price = 0;

// get an array of all product ids from the order
// index => array ('id' => order_item_id, 'value' => product_id)
function getArrProduct()
{
  arrProductId = new Array();
  indexId = 0;
  // loop through input tags
  for (i = 0; i < document.getElementsByTagName("input").length; ++i) {
    // input tags' id attribute
    elementId = document.getElementsByTagName("input")[i].getAttribute("id");
    if (elementId) {
      // only go on with "shopProductId[]" IDs
      if (elementId.substr(0, 14) == "shopProductId-") {
        // the containing row has the product ID
        if (document.getElementById(elementId).value != "0") {
          arrProductId[indexId] = new Array();
          // Order item ID
          orderItemId = elementId.substr(14, elementId.length);
          arrProductId[indexId]['id'] = orderItemId;
          // Product ID
          arrProductId[indexId]['value'] = document.getElementById("shopProductList-"+orderItemId).value;
          ++indexId;
        }
      }
    }
  }
  return arrProductId;
}

// Change the order item row "orderItemId" to contain the product
// with ID "newProductId" if a product with the id "newProductId"
// doesn't exist already
function changeProduct(orderItemId, newProductId)
{
  // list of product items in the order
  arrProductId = getArrProduct();
  anzorderItemId = 0;
  // try to find the new product id in the order array.
  // if newProductId is zero, an item is about to be removed.
  if (newProductId != 0) {
    for (i = 0; i < arrProductId.length; ++i) {
      if (newProductId == arrProductId[i]['value'] && orderItemId != arrProductId[i]['id']) {
        ++anzorderItemId;
      }
    }
  }
  // check if the product is already present in the order list
  if (anzorderItemId == 0) {
    // the new product ID is zero, so an item is to be deleted
    if (newProductId == "0") {
// TODO: What's this condition good for?
//      if (orderItemId == 0) {
        document.getElementById("shopProductId-"+orderItemId).value = "0";
//      }
      document.getElementById("shopProductQuantity-"+orderItemId).value   = 0;
      document.getElementById("shopProductName-"+orderItemId).value       = "";
      document.getElementById("shopProductPrice-"+orderItemId).value      = '0.00';
      document.getElementById("shopProductTaxPercent-"+orderItemId).value = '0.00';
      document.getElementById("shopProductWeight-"+orderItemId).value     = '0 g';
    } else {
      // An existing items' id has been changed to another product id.
      // There has to be at least one
      quantity = document.getElementById("shopProductQuantity-"+orderItemId).value;
      if (quantity < 1) {
        quantity = 1;
        document.getElementById("shopProductQuantity-"+orderItemId).value = quantity;
      }
      document.getElementById("shopProductId-"+orderItemId).value         = newProductId;
      document.getElementById("shopProductName-"+orderItemId).value       = arrProducts[newProductId]['title'];
      document.getElementById("shopProductTaxPercent-"+orderItemId).value = arrProducts[newProductId]['percent'];
      document.getElementById("shopProductWeight-"+orderItemId).value     = weightToString(
        getWeightGrams(arrProducts[newProductId]['weight'])
        * Number(document.getElementById("shopProductQuantity-"+orderItemId).value)
      );
// vogt
// Deduct count type discount
//      price = arrProducts[newProductId]['price'];
//      discountGroupId = arrProducts[newProductId]['discount_group_id'];
//      if (   discountGroupId > 0
//          && arrDiscountCount[discountGroupId].length > 0) {
//        discountRate = 0;
//        for (count in arrDiscountCount[discountGroupId]) {
//          if (count < quantity) continue;
//          discountRate = arrDiscountCount[discountGroupId][count];
//          break;
//        }
//        price -= (price * discountRate * 0.01).toFixed(2);
//      }
//      document.getElementById("shopProductPrice-"+orderItemId).value = price;
    }
    // Store the current product id
    document.getElementById("shopProductId-"+orderItemId).value =
      document.getElementById("shopProductList-"+orderItemId).selectedIndex;
    // Calculate the product price, row sum and the total order sum
    calcPrice(orderItemId);
  } else {
    alert("{TXT_PRODUCT_ALREADY_PRESENT}");
    document.getElementById("shopProductList-"+orderItemId).selectedIndex =
      document.getElementById("shopProductId-"+orderItemId).value;
  }
}

// weight settings
// units -- *MUST* be all lowercase!
var units = new Array('g', 'kg', 't', '');
// factors -- match units above, defaults to gram
var facts = new Array(1, 1000, 1000000, 1);

// convert weight string to grams (integer)
function getWeightGrams(strWeight)
{
  // match positive float value
  number = strWeight.match(/^[\d+\.]+/);
  unit = 0; // default is grams
  for (unit_index = 0; unit_index < facts.length; ++unit_index) {
    // try to match one of the units
    regex = new RegExp('[\\s\\d]'+units[unit_index]);
    if (regex.test(strWeight)) {
      unit = unit_index;
      break;
    }
  }
  return number * facts[unit];
}

// convert weight in grams (integer) to bigger unit, if appropriate (string)
function weightToString(intWeight)
{
  unit_index = 0;
  // find useful unit
  while (intWeight >= 1000) {
    ++unit_index;
    intWeight /= 1000;
  }
  // round weight to three significant digits, add unit
  return intWeight.toPrecision(3)+' '+units[unit_index];
}

// update the total order weight
function updateWeight()
{
  // total weight
  totalWeight = 0;
  // loop through input tags, search for all product weights
  for (element_index = 0; element_index < document.getElementsByTagName("input").length; ++element_index) {
    // input tags' id attribute
    elementId = document.getElementsByTagName("input")[element_index].getAttribute("id");
    if (elementId && elementId.substr(0, 18) == "shopProductWeight-") {
      orderItemId = elementId.substr(18)
      // pick number of items
      quantity = document.getElementById("shopProductQuantity-"+orderItemId).value
      // pick weight string from order item
      weight = document.getElementsByTagName("input")[element_index].value.toLowerCase();
      // convert to grams (integer) and multiply
      grams = getWeightGrams(weight) * quantity;
      // sum of products' weights
      totalWeight += grams;
alert("order item ID "+orderItemId+": quantity "+quantity+", weight "+weight+", grams "+grams+", total "+totalWeight);
    }
  }
  // convert total weight to appropriate unit
  totalWeight = weightToString(totalWeight);
  document.forms.shopOrderEdit.shopTotalWeight.value = totalWeight;
}

// set the price of the selected shipment method
// the given shipper id is looked up in the shipments available,
// and those are searched for the cheapest match.
function updateShipment()
{
  // who's shipping it?
  sid = document.forms.shopOrderEdit.shipperId.value;
  // Bail out if sid is not valid -- that means that no shipment is
  // selected, and possibly not needed anyway.
  if (sid == 0) {
    document.forms.shopOrderEdit.shopShippingPrice.value = 0;
    return;
  }
  // copy the price from the global variable
  price = Number(document.forms.shopOrderEdit.shopNetPrice.value);
  // get the total weight
  weight = getWeightGrams(document.forms.shopOrderEdit.shopTotalWeight.value);
  // check shipments available by this shipper
  shipments = arrShipments[sid];
  // find the best match for the current order weight and shipment cost.
  // arbitrary upper limit - we *SHOULD* be able to find one that's lower!
  // we'll just try to find the cheapest way to handle the delivery.
  lowest_cost = 1e100;
  // temporary shipment cost
  cost = 0;
  // found flag is set to the index of a suitable shipment, if encountered below.
  // if the flag stays at -1, there is no way to deliver it!
  found = -1;
  // try all the available shipments;
  // (see Shipment.class.php::getJSArrays())
  for (i = 0; i < shipments.length; ++i) {
    price_free = shipments[i][2];
    max_weight = getWeightGrams(shipments[i][1]);
    // get the shipment conditions that are closest to our order:
    // we have to make sure the maximum weight is big enough for the order,
    // or that it's unspecified (don't care)
    if ((max_weight > 0 && weight <= max_weight ) || max_weight == 0) {
      // if price_free is set, the order amount has to be higher than that
      // in order to get the shipping for free.
      if (price_free > 0 && price >= price_free) {
        // we're well within the weight limit, and the order is also expensive
        // enough to get a free shipping.
        cost = '0.00';
      } else {
        // either the order amount is too low, or price_free is unset, or zero,
        // so the shipping has to be paid for in any case.
        cost = shipments[i][3];
      }
      // we found a kind of shipment that can handle the order, but maybe
      // it's too expensive. - keep the cheapest way to deliver it
      if (cost < lowest_cost) {
        // Aahh, found a cheaper one. keep the index.
        found = i;
        lowest_cost = cost;
      }
    }
  }
  if (found != -1) {
    // after checking all the shipments, we found the lowest cost for the
    // given weight and order price. - update the shipping cost
    document.forms.shopOrderEdit.shopShippingPrice.value = lowest_cost; //.toFixed(2);
  } else {
    // alert the user
    alert("{TXT_WARNING_SHIPPER_WEIGHT}");
  }
}

// set the price of the selected payment method
function updatePayment(paymentId)
{
  document.getElementById("shopPaymentPrice").value = arrPayment[paymentId];
  calcPrice(0);
}

// recalculate the entire form upto and including the total price.
// if a order item  ID is given, update the corresponding row first.
function calcPrice(orderItemId)
{
  arrProductId = getArrProduct();
  // Recalculate the row of the selected product;
  // defaults to the new product row

// vogt
// Determine price according to the quantity.
// By default, a product is removed.
  price = 0;
  quantity = 0;
  if (orderItemId > 0) {
    newProductId = document.getElementById("shopProductList-"+orderItemId).value;
    if (newProductId > 0) {
      // Note that the price array is ordered descending, from highest to lowest count.
      arrPrice = arrProducts[newProductId]['price'];
      quantity = document.getElementById("shopProductQuantity-"+orderItemId).value;
      for (count in arrPrice) {
        // At least so many products to get this discount rate
        if (count <= quantity) {
          price = arrPrice[count];
//alert("fount count "+count+" <= quantity "+quantity+", price "+price);
          break;
        }
      }
    }
  }
alert("order item ID "+orderItemId+" quantity "+quantity);
  document.getElementById("shopProductPrice-"+orderItemId).value = Number(price).toFixed(2);
  document.getElementById("shopProductSum-"+orderItemId).value = (quantity * price).toFixed(2);

  // totals
  totalVat = 0;
  totalSum = 0;
  for (i = 0; i < arrProductId.length; ++i) {
    // update the total VAT amount
    totalVat += Number(document.getElementById("shopProductTaxPercent-"+arrProductId[i]['id']).value)
          * Number(document.getElementById("shopProductSum-"+arrProductId[i]['id']).value) / 100;
    // update the total order value
    totalSum += Number(document.getElementById("shopProductSum-"+arrProductId[i]['id']).value);
  }

  // store totalSum as net total before adding VAT
  document.forms.shopOrderEdit.shopNetPrice.value = (Math.round(totalSum*100)/100).toFixed(2);

  updateWeight();
  // if the total weight changes, so may the shipping conditions
  updateShipment();

  // round prices to cents
  totalVat = Math.round(totalVat*100)/100;
  if (vat_included == 0) {
    totalSum += totalVat;
  }
  // add shipping and payment cost
  totalSum +=   Number(document.getElementById("shopShippingPrice").value)
        + Number(document.getElementById("shopPaymentPrice").value);

  totalSum = Math.round(totalSum*100)/100;
  document.forms.shopOrderEdit.shopCurrencyOrderSum.value = totalSum.toFixed(2);
  document.forms.shopOrderEdit.shopTaxPrice.value = totalVat.toFixed(2);
}

function swapSendToStatus(orderId)
{
  if (orderId == 4) {
    document.getElementById("shopSendMailDiv").style.display = 'inline';
  } else {
    document.getElementById("shopSendMailDiv").style.display = 'none';
  }
}
// -->
</script>
<br />
<form id="shopOrderEdit" name="shopOrderEdit" method="post" action="?cmd=shop&amp;act=editorder">
  <table width="100%" border="0" class="adminlist" cellpadding="2" cellspacing="0">
    <colgroup><col width="15%" /><col width="35%" /><col width="15%" /><col width="35%" /></colgroup>
    <tr>
      <th colspan="4">{TXT_ORDER}</th>
    </tr>
    <tr class="row1">
      <td nowrap="nowrap">{TXT_ORDERNUMBER}</td>
      <td nowrap="nowrap">{SHOP_ORDERID}<input type="hidden" name="orderid" value="{SHOP_ORDERID}" /></td>
      <td nowrap="nowrap">{TXT_IP_ADDRESS}</td>
      <td nowrap="nowrap">{SHOP_CUSTOMER_IP}</td>
    </tr>
    <tr class="row2">
      <td nowrap="nowrap">{TXT_ORDERDATE}</td>
      <td nowrap="nowrap">{SHOP_DATE}&nbsp;</td>
      <td nowrap="nowrap">{TXT_CLIENT_HOST}</td>
      <td nowrap="nowrap">{SHOP_CUSTOMER_HOST}</td>
    </tr>
    <tr class="row1" style="vertical-align:top;">
      <td nowrap="nowrap">{TXT_ORDERSTATUS}</td>
      <td nowrap="nowrap">
        {SHOP_ORDER_STATUS}
        <div id="shopSendMailDiv" style="{SHOP_SEND_MAIL_STYLE}">
          {TXT_SEND_TEMPLATE_TO_CUSTOMER}&nbsp;
          <input type="checkbox" name="shopSendMail" value="1" {SHOP_SEND_MAIL_STATUS}/>
        </div>
      </td>
      <td nowrap="nowrap">{TXT_BROWSER_VERSION}</td>
      <td nowrap="nowrap">{SHOP_CUSTOMER_BROWSER}</td>
    </tr>
    <tr class="row2">
      <td nowrap="nowrap">{TXT_LAST_EDIT}</td>
      <td nowrap="nowrap">{SHOP_LAST_MODIFIED}<input type="hidden" name="shopLastModified" value="{SHOP_LAST_MODIFIED_DATE}" /></td>
      <td nowrap="nowrap">{TXT_BROWSER_LANGUAGE}</td>
      <td nowrap="nowrap">{SHOP_CUSTOMER_LANG}</td>
    </tr>
<!-- see below <tr class="row1"> <td nowrap="nowrap" width="15%">{TXT_ORDER_SUM}</td> <td nowrap="nowrap" width="85%" colspan="3">{SHOP_ORDER_SUM}&nbsp;{SHOP_DEFAULT_CURRENCY}</td> </tr> -->
    <tr><td></td></tr>
    <tr>
      <th nowrap colspan="2">{TXT_BILLING_ADDRESS}</th>
      <th nowrap colspan="2">{TXT_SHIPPING_ADDRESS}</th>
    </tr>
    <tr class="row1">
      <td nowrap="nowrap">{TXT_COMPANY}</td>
      <td nowrap="nowrap"><a href="index.php?cmd=shop&amp;act=neweditcustomer&amp;customerid={SHOP_CUSTOMER_ID}">{SHOP_COMPANY}</a>&nbsp;</td>
      <td nowrap="nowrap">{TXT_COMPANY}</td>
      <td nowrap="nowrap"><input type="text" name="shopShipCompany" value="{SHOP_SHIP_COMPANY}" /></td>
    </tr>
    <tr class="row2">
      <td nowrap="nowrap">{TXT_PREFIX}</td>
      <td nowrap="nowrap">{SHOP_PREFIX}&nbsp;</td>
      <td nowrap="nowrap">{TXT_PREFIX}</td>
      <td nowrap="nowrap"><input type="text" name="shopShipPrefix" value="{SHOP_SHIP_PREFIX}" /></td>
    </tr>
    <tr class="row1">
      <td nowrap="nowrap">{TXT_LAST_NAME}</td>
      <td nowrap="nowrap"><a href="index.php?cmd=shop&amp;act=neweditcustomer&amp;customerid={SHOP_CUSTOMER_ID}">{SHOP_LASTNAME}</a>&nbsp;</td>
      <td nowrap="nowrap">{TXT_LAST_NAME}</td>
      <td nowrap="nowrap"><input type="text" name="shopShipLastname" value="{SHOP_SHIP_LASTNAME}" /></td>
    </tr>
    <tr class="row2">
      <td nowrap="nowrap">{TXT_FIRST_NAME}</td>
      <td nowrap="nowrap"><a href="index.php?cmd=shop&amp;act=neweditcustomer&amp;customerid={SHOP_CUSTOMER_ID}">{SHOP_FIRSTNAME}</a>&nbsp;</td>
      <td nowrap="nowrap">{TXT_FIRST_NAME}</td>
      <td nowrap="nowrap"><input type="text" name="shopShipFirstname" value="{SHOP_SHIP_FIRSTNAME}" /></td>
    </tr>
    <tr class="row1">
      <td nowrap="nowrap">{TXT_ADDRESS}</td>
      <td nowrap="nowrap">{SHOP_ADDRESS}&nbsp;</td>
      <td nowrap="nowrap">{TXT_ADDRESS}</td>
      <td nowrap="nowrap"><input type="text" name="shopShipAddress" value="{SHOP_SHIP_ADDRESS}" /></td>
    </tr>
    <tr class="row2">
      <td nowrap="nowrap">{TXT_ZIP_CITY}</td>
      <td nowrap="nowrap">{SHOP_ZIP}&nbsp;{SHOP_CITY}</td>
      <td nowrap="nowrap">{TXT_ZIP_CITY}</td>
      <td nowrap="nowrap"><input type="text" name="shopShipZip" size="8" maxlength="8" value="{SHOP_SHIP_ZIP}" />&nbsp;<input type="text" name="shopShipCity" value="{SHOP_SHIP_CITY}" /></td>
    </tr>
    <tr class="row1">
      <td nowrap="nowrap">{TXT_COUNTRY}</td>
      <td nowrap="nowrap">{SHOP_COUNTRY}&nbsp;</td>
      <td nowrap="nowrap">{TXT_COUNTRY}</td>
      <td nowrap="nowrap">{SHOP_SHIP_COUNTRY}</td>
    </tr>
    <tr class="row2">
      <td nowrap="nowrap">{TXT_PHONE}</td>
      <td nowrap="nowrap">{SHOP_PHONE}&nbsp;</td>
      <td nowrap="nowrap">{TXT_PHONE}</td>
      <td nowrap="nowrap"><input type="text" name="shopShipPhone" value="{SHOP_SHIP_PHONE}" /></td>
    </tr>
    <tr class="row1">
      <td nowrap="nowrap">{TXT_FAX}</td>
      <td nowrap="nowrap">{SHOP_FAX}&nbsp;</td>
      <td></td>
      <td></td>
    </tr>
    <tr class="row2">
      <td nowrap="nowrap">{TXT_EMAIL}<input type="hidden" name="shopMailTo" value="{SHOP_EMAIL}" /></td>
      <td nowrap="nowrap"><a href="index.php?cmd=shop&amp;act=settings&amp;tpl=mail&amp;strTab=shopMailSend&amp;shopMailTo={SHOP_EMAIL}">{SHOP_EMAIL}</a>&nbsp;</td>
      <td nowrap="nowrap">{TXT_SHIPPING_METHOD}</td>
      <td nowrap="nowrap">{SHOP_SHIPPING_TYP_MENU}</td>
    </tr>
  </table>
  <br />
  <table border="0" width="100%" cellspacing="0" cellpadding="2" class="adminlist">
    <tr>
      <th colspan="2">{TXT_PAYMENT_INFORMATIONS}</th>
    </tr>
    <tr class="row1">
      <td nowrap="nowrap" width="15%">{TXT_PAYMENT_TYPE}</td>
    <td nowrap='nowrap'>{SHOP_PAYMENTTYPE}&nbsp;({SHOP_PAYMENT_HANDLER})</td>
    </tr>

<!-- BEGIN creditCard -->
    <tr class="row2">
      <td nowrap="nowrap">{TXT_CREDIT_CARD_OWNER}</td>
      <td nowrap="nowrap">{SHOP_CCNAME}&nbsp;</td>
    </tr>
    <tr class="row1">
      <td nowrap="nowrap">{TXT_CARD_NUMBER}</td>
      <td nowrap="nowrap">{SHOP_CCNUMBER}&nbsp;</td>
    </tr>
    <tr class="row2">
      <td nowrap="nowrap">{TXT_CVC_CODE}</td>
      <td nowrap="nowrap">{SHOP_CVC_CODE}&nbsp;</td>
    </tr>
    <tr class="row1">
      <td nowrap="nowrap">{TXT_EXPIRY_DATE}</td>
      <td nowrap="nowrap">{SHOP_CCDATE}&nbsp;</td>
    </tr>
<!-- END creditCard -->

<!-- BEGIN lsv -->
    <tr class="row2">
    <td nowrap='nowrap'>{TXT_ACCOUNT_HOLDER}</td>
    <td nowrap='nowrap'>{SHOP_ACCOUNT_HOLDER}&nbsp;</td>
    </tr>
    <tr class="row1">
    <td nowrap='nowrap'>{TXT_ACCOUNT_BANK}</td>
    <td nowrap='nowrap'>{SHOP_ACCOUNT_BANK}&nbsp;</td>
    </tr>
    <tr class="row2">
    <td nowrap='nowrap'>{TXT_ACCOUNT_BLZ}</td>
    <td nowrap='nowrap'>{SHOP_ACCOUNT_BLZ}&nbsp;</td>
    </tr>
<!-- END lsv -->

  </table>
  <br />
  <table border="0" width="100%" class="adminlist" cellspacing="0" cellpadding="2">
    <tr>
      <th colspan="7">{TXT_BILL}</th>
    </tr>
    <tr class="row1">
      <td width="10%" nowrap="nowrap"><b>{TXT_NUMBER}</b></td>
      <td width="10%" nowrap="nowrap"><b>{TXT_PRODUCT_ID}</b></td>
      <td width="40%" nowrap="nowrap"><b>{TXT_PRODUCT_NAME}</b></td>
      <td width="10%" nowrap='nowrap'><div style="text-align:center;"><b>{TXT_WEIGHT}</b></div></td>
      <td width="10%" nowrap="nowrap"><div style="text-align:center;"><b>{TXT_PRODUCT_PRICE}</b></div></td>
      <td width="10%" nowrap="nowrap"><div style="text-align:center;"><b>{TXT_TAX_RATE}</b></div></td>
      <td width="10%" nowrap="nowrap"><div style="text-align:center;"><b>{TXT_SUM}</b></div></td>
    </tr>
<!-- BEGIN orderdetailsRow -->
    <!--tr id="{SHOP_P_ID}" class="{SHOP_ROWCLASS}"-->
    <tr class="{SHOP_ROWCLASS}">
      <td nowrap="nowrap">
        <input type="text" id="shopProductQuantity-{SHOP_P_ID}" name="shopProductQuantity[{SHOP_P_ID}]" value="{SHOP_QUANTITY}" size="5" maxlength="5" onchange="javascript:calcPrice({SHOP_P_ID})" />
      </td>
      <td nowrap="nowrap">
        <input type="hidden" name="shopProductIdOld[{SHOP_P_ID}]" value="{SHOP_P_ID}" />
        <input type="hidden" name="shopProductId[{SHOP_P_ID}]" id="shopProductId-{SHOP_P_ID}" value="{SHOP_P_ID}" />
        <select id="shopProductList-{SHOP_P_ID}" name="shopProductList[{SHOP_P_ID}]" size="1" onchange="javascript:changeProduct({SHOP_P_ID}, this.value)">
          <option value="0">none</option>
          {SHOP_PRODUCT_IDS_MENU}
        </select>
      </td>
      <td nowrap="nowrap"><div style="text-align:left;">
        <input type="text" size="50" id="shopProductName-{SHOP_P_ID}" name="shopProductName[{SHOP_P_ID}]" value="{SHOP_PRODUCT_NAME}" />
      </div></td>
      <td nowrap="nowrap"><div style="text-align:right;">
        <input class="inputCurrency" type="text" id="shopProductWeight-{SHOP_P_ID}" name="shopProductWeight[{SHOP_P_ID}]" value="{SHOP_PRODUCT_WEIGHT}" onchange="javascript:calcPrice({SHOP_P_ID})" />&nbsp;
      </div></td>
      <td nowrap="nowrap"><div style="text-align:right;">
        <input class="inputCurrency" type="text" id="shopProductPrice-{SHOP_P_ID}" name="shopProductPrice[{SHOP_P_ID}]" value="{SHOP_PRODUCT_PRICE}" onchange="javascript:calcPrice({SHOP_P_ID})" />&nbsp;{SHOP_CURRENCY}
      </div></td>
      <td nowrap="nowrap"><div style="text-align:right;">
        <input class="inputCurrency" type="text" id="shopProductTaxPercent-{SHOP_P_ID}" name="shopProductTaxPercent[{SHOP_P_ID}]" value="{SHOP_PRODUCT_TAX_RATE}" onchange="javascript:calcPrice({SHOP_P_ID})" />&nbsp;%
      </div></td>
      <td nowrap="nowrap"><div style="text-align:right;">
        <input readonly class="inputCurrency" type="text" id="shopProductSum-{SHOP_P_ID}" name="shopProductSum[{SHOP_P_ID}]" value="{SHOP_PRODUCT_SUM}" />&nbsp;{SHOP_CURRENCY}
      </div></td>
    </tr>
<!-- END orderdetailsRow -->
    <!--tr id="0" class="{SHOP_ROWCLASS_NEW}"-->
    <tr class="{SHOP_ROWCLASS_NEW}">
      <td nowrap="nowrap">
        <input type="text" id="shopProductQuantity-0" name="shopProductQuantity[0]" value="0" size="5" maxlength="5" onchange="javascript:calcPrice(0)" />
      </td>
      <td nowrap="nowrap">
        <input type="hidden" id="shopProductId-0" name="shopProductId[0]" value="0" />
        <select id="shopProductList-0" name="shopProductList[0]" size="1" onchange="javascript:changeProduct(0, this.value)">
          <option value="0">none</option>
          {SHOP_PRODUCT_IDS_MENU_NEW}
        </select>
      </td>
      <td nowrap="nowrap"><div style="text-align:left;">
        <input type="text" size="50" id="shopProductName-0" name="shopProductName[0]" value="" />
      </div></td>
      <td nowrap="nowrap"><div style="text-align:right;">
        <input class="inputCurrency" type="text" id="shopProductWeight-0" name="shopProductWeight[0]" value="0 g" onchange="javascript:calcPrice(0)" />&nbsp;
      </div></td>
      <td nowrap="nowrap"><div style="text-align:right;">
        <input class="inputCurrency" type="text" id="shopProductPrice-0" name="shopProductPrice[0]" onchange="javascript:calcPrice(0)" value="0.00" />&nbsp;{SHOP_CURRENCY}
      </div></td>
      <td nowrap="nowrap"><div style="text-align:right;">
        <input class="inputCurrency" type="text" id="shopProductTaxPercent-0" name="shopProductTaxPercent[0]" onchange="javascript:calcPrice(0)" value="0.00" />&nbsp;%
      </div></td>
      <td nowrap="nowrap"><div style="text-align:right;">
        <input class="inputCurrency" type="text" id="shopProductSum-0" name="shopProductSum[0]" value="0.00" onchange="javascript:calcPrice(0)" />&nbsp;{SHOP_CURRENCY}
      </div></td>
    </tr>
<!-- BEGIN shopNetPrice -->
    <tr>
      <td colspan="5">&nbsp;</td>
      <td nowrap="nowrap"><div style="text-align:right;"><b>{TXT_NET_PRICE}</b></div></td>
      <td nowrap="nowrap"><div style="text-align:right;"><input class="inputCurrency" type="text" id="shopNetPrice" name="shopNetPrice" value="{SHOP_NET_PRICE}" onchange="javascript:calcPrice(0)" />&nbsp;{SHOP_CURRENCY}</div></td>
    </tr>
<!-- END shopNetPrice -->
<!-- BEGIN shopTaxPrice -->
    <tr>
      <td colspan="5">&nbsp;</td>
      <td nowrap="nowrap"><div style="text-align:right;"><b>{SHOP_PART_TAX_PROCENTUAL}</b></div></td>
      <td nowrap="nowrap"><div style="text-align:right;"><input class="inputCurrency" type="text" id="shopTaxPrice" name="shopTaxPrice" value="{SHOP_TAX_PRICE}" onchange="javascript:calcPrice(0)" />&nbsp;{SHOP_CURRENCY}</div></td>
    </tr>
<!-- END shopTaxPrice -->
    <tr><td>&nbsp;</td></tr>
    <tr>
      <td colspan="2">&nbsp;</td>
      <td nowrap="nowrap"><div style="text-align:right;"><b>{TXT_TOTAL_WEIGHT}</b>&nbsp;</div></td>
      <td nowrap="nowrap"><div style="text-align:right;"><input class="inputCurrency" type="text" id="shopTotalWeight" name="shopTotalWeight" value="{SHOP_TOTAL_WEIGHT}" onchange="javascript:calcPrice(0)" />&nbsp;</div></td>
      <td colspan="1">&nbsp;</td>
      <td nowrap="nowrap"><div style="text-align:right;"><b>{TXT_SHIPPING_PRICE}</b></div></td>
      <td nowrap="nowrap"><div style="text-align:right;"><input class="inputCurrency" type="text" id="shopShippingPrice" name="shopShippingPrice" value="{SHOP_SHIPPING_PRICE}" onchange="javascript:calcPrice(0)" />&nbsp;{SHOP_CURRENCY}</div></td>
    </tr>
    <tr>
      <td colspan="5">&nbsp;</td>
      <td nowrap="nowrap"><div style="text-align:right;"><b>{TXT_PAYMENT_COSTS}</b></div></td>
      <td nowrap="nowrap"><div style="text-align:right;"><input class="inputCurrency" type="text" id="shopPaymentPrice" name="shopPaymentPrice" value="{SHOP_PAYMENT_PRICE}" onchange="javascript:calcPrice(0)" />&nbsp;{SHOP_CURRENCY}</div></td>
    </tr>
    <tr>
      <td colspan="5">&nbsp;</td>
      <td nowrap="nowrap"><div style="text-align:right;"><b>{TXT_TOTAL}</b></div></td>
      <td nowrap="nowrap"><div style="text-align:right;"><input class="inputCurrency" type="text" id="shopCurrencyOrderSum" name="shopCurrencyOrderSum" value="{SHOP_CURRENCY_ORDER_SUM}" onchange="javascript:calcPrice(0)" />&nbsp;{SHOP_CURRENCY}</div></td>
    </tr>
  </table>
  <br />
  <table border="0" width="100%" cellpadding="2" cellspacing="0" class="adminlist">
    <tr>
      <th>{TXT_CUSTOMER_REMARKS}</th>
    </tr>
    <tr>
      <td><div style="vertical-align:top;">{SHOP_CUSTOMER_NOTE}&nbsp;</div></td>
    </tr>
  </table>
  <br />
  <input type="submit" name="shopSaveOrderChanges" value="{TXT_STORE}" />
</form>
<!-- END shop_order_edit.html -->
