<!-- START shop_product_catalog.html -->
<script language="javascript" type="text/javascript">
// <![CDATA[
function deleteProduct(id)
{
  if (confirm('{TXT_CONFIRM_DELETE_PRODUCT}\n{TXT_ACTION_IS_IRREVERSIBLE}'))
    window.location.replace("index.php?cmd=shop{MODULE_INDEX}&act=delProduct&id="+id);
}

function shopProductsDoAction(obj,act)
{
  if (shopProductsIsChecked('selectedProductId[]')) {
    switch(act) {
      case 'delete':
        if (confirm('{TXT_CONFIRM_DELETE_PRODUCT}\n{TXT_ACTION_IS_IRREVERSIBLE}')) {
          document.formCatalog.action = "index.php?cmd=shop{MODULE_INDEX}&act=deleteProduct";
          document.formCatalog.submit();
        }
        break;
      case 'activate':
        document.formCatalog.action = "index.php?cmd=shop{MODULE_INDEX}&act=activateProducts";
        document.formCatalog.submit();
        break;
      case 'deactivate':
        document.formCatalog.action = "index.php?cmd=shop{MODULE_INDEX}&act=deactivateProducts";
        document.formCatalog.submit();
        break;
    }
  } else {
    alert("{TXT_MAKE_SELECTION}");
  }
  obj.value = 0;
}

function shopProductsIsChecked(fieldName)
{
  for (var i = 0; i < document.formCatalog.elements.length; ++i) {
    var e = document.formCatalog.elements[i];
    if (e.name == fieldName && e.checked == true) return true;
  }
  return false;
}

Style[0]=["","","","","",,"black","#ffffe1","","","",,,,1,"#000000",2,24,0.3,,2,"gray",1,,15,-50];
Text[0]=["","{TXT_SHOP_SHOW_PRODUCT_ON_START_PAGE_TIP}"];
// ]]>
</script>
<form name="formSearch" method="post" action="index.php?cmd=shop{MODULE_INDEX}&amp;act=products">
  <table summary="" width="100%" border="0" cellspacing="0" cellpadding="2" class="adminlist">
    <tr>
      <th colspan="2">{TXT_SEARCH}</th>
    </tr>
    <tr class="row1">
      <td>
        <input type="text" name="shopSearchTerm" size="40" maxlength="255" />
        <select name="catId" size="1">
          <option value='0'>{TXT_ALL_PRODUCT_GROUPS}</option>
          {SHOP_CAT_MENUOPTIONS}
        </select>
        <input type="submit" name="submit" value="{TXT_SEARCH}" />
      </td>
      <td><div style="text-align:right;"><a href="index.php?cmd=shop{MODULE_INDEX}&amp;act=products&amp;specialoffer=1" title="{TXT_VIEW_SPECIAL_OFFERS}">{TXT_VIEW_SPECIAL_OFFERS}</a></div></td>
    </tr>
  </table>
</form>

<form name="formCatalog" method="post" action="index.php?cmd=shop{MODULE_INDEX}&amp;act=products">
  {SHOP_PRODUCT_PAGING}<br />
  <table summary="" width="100%" cellspacing="0" cellpadding="2" border="0" class="adminlist">
    <tr>
      <th colspan="16">{TXT_PRODUCT_CATALOG}&nbsp;({TXT_TOTAL}&nbsp;{SHOP_PRODUCT_TOTAL})</th>
    </tr>
    <tr class="row1">
      <td width="1%" nowrap="nowrap"><div style="text-align:center;"><b>#</b></div></td>
      <td width="1%" nowrap="nowrap"><b>{TXT_ID}</b></td>
      <td width="1%" nowrap="nowrap"><b>{TXT_PRODUCT_STATUS}&nbsp;</b></td>
      <td width="1%" nowrap="nowrap"><b>{TXT_SHOP_ORDER_ABBREV}</b></td>
      <td width="7%" nowrap="nowrap">
        <span class="note" onmouseout="htm()" onmouseover="stm(Text[0],Style[0])">
          <img src="images/icons/home.gif" alt="{TXT_SHOP_SHOW_PRODUCT_ON_START_PAGE}" />
        </span>
      </td>
      <td width="88%"><b>{TXT_PRODUCT_NAME}</b></td>
      <td width="1%" nowrap="nowrap"><b>{TXT_SHOP_PRODUCT_CUSTOM_ID}</b></td>
      <td width="1%" colspan="2" nowrap="nowrap"><b>{TXT_SPECIAL_OFFER}</b></td>
      <td width="1%" nowrap="nowrap"><b>{TXT_EKP}</b></td>
      <td width="1%" nowrap="nowrap"><b>{TXT_HP}</b></td>
      <td width="1%" nowrap="nowrap"><b>{TXT_SHOP_VAT_ABBREV}</b></td>
      <!--td width="5%" nowrap="nowrap"><b>{TXT_WEIGHT}</b></td-->
      <td width="1%" nowrap="nowrap"><b>{TXT_DISTRIBUTION}</b></td>
      <td width="1%" nowrap="nowrap"><b>{TXT_STOCK}</b></td>
      <td width="1%" nowrap="nowrap"><b>{TXT_ACTION}</b></td>
    </tr>
    <!-- BEGIN productRow -->
      <tr class="{SHOP_ROWCLASS}" style="vertical-align:top;">
        <td><input type="checkbox" name="selectedProductId[]" value="{SHOP_PRODUCT_ID}" /></td>
        <td>{SHOP_PRODUCT_ID}<input type="hidden" name="shopProductId[{SHOP_PRODUCT_ID}]" value="{SHOP_PRODUCT_ID}" /></td>
        <td>
          <img src="images/icons/{SHOP_PRODUCT_STATUS_PICTURE}" alt="{TXT_PRODUCT_STATUS}" title="{TXT_PRODUCT_STATUS}" />
          <input type="checkbox" name="active[{SHOP_PRODUCT_ID}]" value="1"{SHOP_PRODUCT_STATUS} /><input type="hidden" name="activeOld[{SHOP_PRODUCT_ID}]" value="{SHOP_ACTIVE_VALUE_OLD}" />
        </td>
        <td><input type="text" name="shopSortOrder[{SHOP_PRODUCT_ID}]" size="5" maxlength="5" value="{SHOP_SORT_ORDER}" /><input type="hidden" name="shopSortOrderOld[{SHOP_PRODUCT_ID}]" value="{SHOP_SORT_ORDER}" /></td>
        <td>
          <input type="checkbox" name="shownonstartpage[{SHOP_PRODUCT_ID}]" value="1"{SHOP_SHOW_PRODUCT_ON_START_PAGE_CHECKED} />
          <input type="hidden" name="shownonstartpageOld[{SHOP_PRODUCT_ID}]" value="{SHOP_SHOW_PRODUCT_ON_START_PAGE_OLD}" />
        </td>
        <td><a href="index.php?cmd=shop{MODULE_INDEX}&amp;act=products&amp;tpl=manage&amp;id={SHOP_PRODUCT_ID}" title="{SHOP_PRODUCT_NAME}">{SHOP_PRODUCT_NAME}</a></td>
        <!-- Edit the Product title in the overview:
        <td>
          <input type="text" name="title[{SHOP_PRODUCT_ID}]" size="40" maxlength="255" value="{SHOP_TITLE}" />
          <input type="hidden" name="titleOld[{SHOP_PRODUCT_ID}]" value="{SHOP_TITLE}" />
        </td-->
        <td><input maxlength="255" name="identifier[{SHOP_PRODUCT_ID}]" value="{SHOP_PRODUCT_CUSTOM_ID}" size="10" /><input type="hidden" name="identifierOld[{SHOP_PRODUCT_ID}]" value="{SHOP_PRODUCT_CUSTOM_ID}" /></td>
        <td>
          <input type="checkbox" name="specialOffer[{SHOP_PRODUCT_ID}]" value="1"{SHOP_PRODUCT_SPECIAL_OFFER} />
        </td>
        <td>
          <input maxlength=10 name="discount[{SHOP_PRODUCT_ID}]" value="{SHOP_PRODUCT_DISCOUNT}" size="6" />
          <input type="hidden" name="discountOld[{SHOP_PRODUCT_ID}]" value="{SHOP_PRODUCT_DISCOUNT}" />
          <input type="hidden" name="specialOfferOld[{SHOP_PRODUCT_ID}]" value="{SHOP_SPECIAL_OFFER_VALUE_OLD}" />
        </td>
        <td><input type="text" name="price1[{SHOP_PRODUCT_ID}]" value="{SHOP_PRODUCT_PRICE1}" size="6" maxlength="10" /><input type="hidden" name="price1Old[{SHOP_PRODUCT_ID}]" value="{SHOP_PRODUCT_PRICE1}" /></td>
        <td><input type="text" name="price2[{SHOP_PRODUCT_ID}]" value="{SHOP_PRODUCT_PRICE2}" size="6" maxlength="10" /><input type="hidden" name="price2Old[{SHOP_PRODUCT_ID}]" value="{SHOP_PRODUCT_PRICE2}" /></td>
        <td>{SHOP_PRODUCT_VAT_MENU}<input type="hidden" name="taxIdOld[{SHOP_PRODUCT_ID}]" value="{SHOP_PRODUCT_VAT_ID}" /></td>
        <!--td><input type="text" name="weight[{SHOP_PRODUCT_ID}]" value="{SHOP_PRODUCT_WEIGHT}" size="10" maxlength="10" /><input type="hidden" name="weightOld[{SHOP_PRODUCT_ID}]" value="{SHOP_PRODUCT_WEIGHT}" /></td-->
        <!--td>{SHOP_DISTRIBUTION_MENU}<input type="hidden" name="distributionOld[{SHOP_PRODUCT_ID}]" value="{SHOP_PRODUCT_DISTRIBUTION}" /></td-->
        <td>{SHOP_DISTRIBUTION}</td>
        <td><input type="text" name="stock[{SHOP_PRODUCT_ID}]" value="{SHOP_PRODUCT_STOCK}" size="5" maxlength="5" /><input type="hidden" name="stockOld[{SHOP_PRODUCT_ID}]" value="{SHOP_PRODUCT_STOCK}" /></td>
        <td nowrap="nowrap"><div style="text-align:right;">
          <a href="index.php?cmd=shop{MODULE_INDEX}&amp;act=products&amp;tpl=manage&amp;id={SHOP_PRODUCT_ID}&amp;new=1" title="{TXT_AS_TEMPLATE}"><img src="images/icons/press.gif" alt="{TXT_AS_TEMPLATE}" border="0" /></a>&nbsp;
          <a href="index.php?cmd=shop{MODULE_INDEX}&amp;act=products&amp;tpl=manage&amp;id={SHOP_PRODUCT_ID}" title="{TXT_SHOP_EDIT}"><img src="images/icons/edit.gif" alt="{TXT_SHOP_EDIT}" border="0" /></a>&nbsp;
          <a href="javascript:deleteProduct('{SHOP_PRODUCT_ID}')" title="{TXT_DELETE}"><img src="images/icons/delete.gif" alt="{TXT_DELETE}" border="0" /></a>
        </div></td>
      </tr>
    <!-- END productRow -->
  </table>
  <img src="images/icons/arrow.gif" border="0" width="38" height="22" title="{TXT_MARKED}:" alt="{TXT_MARKED}:" />
  <a href="javascript:{}" onclick="changeCheckboxes('formCatalog','selectedProductId[]',true)" title="{TXT_SELECT_ALL}">{TXT_SELECT_ALL}</a>&nbsp;/&nbsp;
  <a href="javascript:{}" onclick="changeCheckboxes('formCatalog','selectedProductId[]',false)" title="{TXT_REMOVE_SELECTION}">{TXT_REMOVE_SELECTION}</a>&nbsp;&nbsp;&nbsp;
  <select name="selectAction" onchange="shopProductsDoAction(this,this.value)">
    <option value="0" selected="selected">{TXT_SELECT_ACTION}:</option>
    <option value="delete">{TXT_DELETE}</option>
  </select>
  <br />
  <br />
  {SHOP_PRODUCT_PAGING}
  <br />
  <br />
  <input type="submit" name="shopSaveProductAttributes" value="{TXT_ACCEPT_CHANGES}" />
</form>
<!-- END shop_product_catalog.html -->
