<!-- START module_shop_settings_mail.html -->
<script language="javascript" type="text/javascript">
// <![CDATA[
function delMail(mailId)
{
  if (!mailId) {
    alert("{TXT_CANNOT_DELETE_TEMPLATE_LANGUAGE}");
  } else {
    if (confirm("{TXT_CONFIRM_DELETE_TEMPLATE_LANGUAGE}\n{TXT_ACTION_IS_IRREVERSIBLE}"))
      window.location.replace("index.php?cmd=shop{MODULE_INDEX}&{CSRF_PARAM}&act=settings&tpl=mail&delMailId="+mailId);
  }
}

function delTpl(tplId)
{
  if (confirm("{TXT_CONFIRM_DELETE_TEMPLATE}\n{TXT_ACTION_IS_IRREVERSIBLE}"))
    window.location.replace("index.php?cmd=shop{MODULE_INDEX}&{CSRF_PARAM}&act=settings&tpl=mail&delTplId="+tplId);
}

function sendMail()
{
  if (document.getElementById('shopMailTo').value == "") {
    alert("{TXT_PLEASE_SET_RECEIPTOR_ADDRESS}");
    return false;
  }
  if (document.shopFormSend.elements['shopMailFromAddress'].value == "") {
    alert("{TXT_SET_MAIL_FROM_ADDRESS}");
    return false;
  }
  return true;
}

function loadTpl(tplId, langId, strTab)
{
  var strUri = "index.php?cmd=shop{MODULE_INDEX}&{CSRF_PARAM}&act=settings&tpl=mail&tplId="+tplId+"&langId="+langId+"&strTab="+strTab;
  if (document.getElementById('portMail')) {
    if (document.shopFormEdit.elements['portMail'].checked == true) {
      strUri += "&portLangId="+document.shopFormEdit.elements['loadedLangId'].value;
    }
  }
  if (strTab == "shopMailSend") {
    if (document.getElementById('shopMailTo') != "") {
      strUri += "&shopMailTo="+document.getElementById('shopMailTo').value;
    }
  }
  window.location.replace(strUri);
}
// ]]>
</script>
<style type="text/css">
<!--
.listBox {width: 270px;}
-->
</style>
<!-- BEGIN statusBar -->
<span class="red">{CONTENT_STATUS}</span>
<!-- END statusBar -->
<ul id="tabmenu">
  <li><a id="mailTab_shopMailOverview" class="{SHOP_MAILTAB_OVERVIEW_CLASS}" href="javascript:{}" onclick="selectTab('shopMailOverview')" title="{TXT_MAIL_TEMPLATES}">{TXT_MAIL_TEMPLATES}</a></li>
  <li><a id="mailTab_shopMailEdit" class="{SHOP_MAILTAB_EDIT_CLASS}" href="javascript:{}" onclick="selectTab('shopMailEdit')" title="{TXT_SHOP_ADD_EDIT}">{TXT_SHOP_ADD_EDIT}</a></li>
  <li><a id="mailTab_shopMailReplacements" href="javascript:{}" onclick="selectTab('shopMailReplacements')" title="{TXT_REPLACEMENT_DIRECTORY}">{TXT_REPLACEMENT_DIRECTORY}</a></li>
  <li><a id="mailTab_shopMailSend" class="{SHOP_MAILTAB_SEND_CLASS}" href="javascript:{}" onclick="selectTab('shopMailSend')" title="{TXT_SEND_TEMPLATE}">{TXT_SEND_TEMPLATE}</a></li>
</ul>
<!-- start shopMailOverview div -->
<div id="shopMailOverview" class="mailTab" style="{SHOP_MAIL_OVERVIEW_STYLE}">
  <table border="0" cellspacing="0" cellpadding="2" width="100%" class="adminlist">
    <tr>
      <th colspan="{SHOP_MAIL_COLS}">
        {TXT_MAIL_TEMPLATES}
      </th>
    </tr>
    <tr class="row1">
      <td width="25%">
        <b>{TXT_TEMPLATE}</b>
      </td>
      <!-- BEGIN shopMailLanguages -->
      <td><div style="text-align:center; width:{SHOP_MAIL_LANG_COL_WIDTH}%;">
        <b>{SHOP_MAIL_LANGUAGE}</b>
      </div></td>
      <!-- END shopMailLanguages -->
      <td width="5%"><div style="text-align:right"><b>{TXT_FUNCTIONS}</b></div></td>
    </tr>
    <!-- BEGIN shopMailTemplates -->
    <tr class="{SHOP_MAIL_CLASS}">
      <td width="25%" nowrap="nowrap">{SHOP_MAIL_TEMPLATE_NAME}</td>
      <!-- BEGIN shopMailLanguagesStatus -->
      <td><div style="text-align:center; width:{SHOP_MAIL_LANG_COL_WIDTH}%;">{SHOP_MAIL_STATUS}
      </div></td>
      <!-- END shopMailLanguagesStatus -->
      <td nowrap="nowrap" width="5%" valign="top"><div style="text-align:right">
        <a href="javascript:loadTpl({SHOP_TEMPLATE_ID},{SHOP_LANGUAGE_ID},'shopMailSend')" title="{TXT_SEND_TEMPLATE}"><img src="images/icons/email.gif" alt="{TXT_SEND_TEMPLATE}" border="0" /></a>
        <a href="javascript:loadTpl({SHOP_TEMPLATE_ID},{SHOP_LANGUAGE_ID},'shopMailEdit')" title="{TXT_EDIT}"><img src="images/icons/edit.gif" alt="{TXT_EDIT}" border="0" /></a>
        <a href="javascript:delTpl({SHOP_TEMPLATE_ID})" title="{TXT_DELETE}"><img src="images/icons/delete.gif" alt="{TXT_DELETE}" border="0" /></a>
      </div></td>
    </tr>
    <!-- END shopMailTemplates -->
  </table>
  <br />
</div>
<!-- end shopMailOverview div -->

<!-- start shopMailReplacements div -->
<div id="shopMailReplacements" class="mailTab" style="display:none">
  <table border="0" cellspacing="0" cellpadding="2" width="100%" class="adminlist">
    <tr>
      <th colspan="2">{TXT_REPLACEMENT_DIRECTORY}</th>
    </tr>
    <tr class="row1">
      <td width="15%"><b>{TXT_ORDER}</b>*</td>
      <td width="85%"><b>{TXT_REPLACEMENT}</b></td>
    </tr>
    <tr class="row2">
      <td>{TXT_SHOP_ORDER_ID}</td>
      <td>&lt;ORDER_ID&gt;</td>
    </tr>
    <!--tr class="row1">
      <td>{TXT_SHOP_ORDER_ID_CUSTOM}</td>
      <td>&lt;ORDER_ID_CUSTOM&gt;</td>
    </tr-->
    <tr class="row1">
      <td>{TXT_ORDER_DETAILS}</td>
      <td>&lt;ORDER_DATA&gt;</td>
      </tr>
    <tr class="row2">
      <td>{TXT_ORDER_SUM}</td>
      <td>&lt;ORDER_SUM&gt;</td>
    </tr>
    <tr class="row1">
      <td>{TXT_SHOP_ORDER_TIME}</td>
      <td>&lt;ORDER_TIME&gt;</td>
    </tr>
    <tr class="row2">
      <td colspan="2">&nbsp;</td>
    </tr>
    <tr class="row1">
      <td><b>{TXT_CUSTOMER_INFORMATIONS}</b>*</td>
      <td><b>{TXT_REPLACEMENT}</b></td>
    </tr>
    <tr class="row2">
      <td>{TXT_CUSTOMER_NR}</td>
      <td>&lt;CUSTOMER_ID&gt;</td>
    </tr>
    <tr class="row1">
      <td>{TXT_SHOP_COMPANY}</td>
      <td>&lt;CUSTOMER_COMPANY&gt;</td>
    </tr>
    <tr class="row2">
      <td>{TXT_SHOP_PREFIX}</td>
      <td>&lt;CUSTOMER_PREFIX&gt;</td>
    </tr>
    <tr class="row1">
      <td>{TXT_SHOP_FIRSTNAME}</td>
      <td>&lt;CUSTOMER_FIRSTNAME&gt;</td>
    </tr>
    <tr class="row2">
      <td>{TXT_SHOP_LASTNAME}</td>
      <td>&lt;CUSTOMER_LASTNAME&gt;</td>
    </tr>
    <tr class="row1">
      <td>{TXT_SHOP_ADDRESS}</td>
      <td>&lt;CUSTOMER_ADDRESS&gt;</td>
    </tr>
    <tr class="row2">
      <td>{TXT_SHOP_ZIP}</td>
      <td>&lt;CUSTOMER_ZIP&gt;</td>
    </tr>
    <tr class="row1">
      <td>{TXT_SHOP_CITY}</td>
      <td>&lt;CUSTOMER_CITY&gt;</td>
    </tr>
    <tr class="row2">
      <td>{TXT_SHOP_COUNTRY}</td>
      <td>&lt;CUSTOMER_COUNTRY&gt;</td>
    </tr>
    <tr class="row1">
      <td>{TXT_SHOP_PHONE}</td>
      <td>&lt;CUSTOMER_PHONE&gt;</td>
    </tr>
    <tr class="row2">
      <td>{TXT_SHOP_FAX}</td>
      <td>&lt;CUSTOMER_FAX&gt;</td>
    </tr>
    <tr class="row1">
      <td>{TXT_EMAIL_ADDRESS}</td>
      <td>&lt;CUSTOMER_EMAIL&gt;</td>
    </tr>
    <tr class="row2">
      <td>{TXT_USERNAME}</td>
      <td>&lt;USERNAME&gt;</td>
    </tr>
    <tr class="row1">
      <td>{TXT_PASSWORD}</td>
      <td>&lt;PASSWORD&gt;</td>
    </tr>
    <tr class="row2">
      <td>{TXT_SHOP_DOWNLOAD_USERNAME}</td>
      <td valign="top">&lt;DOWNLOAD_USERNAME&gt;</td>
    </tr>
    <tr class="row1">
      <td>{TXT_SHOP_DOWNLOAD_PASSWORD}</td>
      <td valign="top">&lt;DOWNLOAD_PASSWORD&gt;</td>
    </tr>
    <tr class="row2">
      <td>{TXT_SHOP_LOGIN_DATA}</td>
      <td valign="top">&lt;LOGIN_DATA&gt;</td>
    </tr>
    <tr class="row1">
      <td>{TXT_CUSTOMER_REMARKS}</td>
      <td>&lt;REMARKS&gt;</td>
    </tr>
    <tr class="row2">
      <td colspan="2">&nbsp;</td>
    </tr>
    <tr class="row1">
      <td><b>{TXT_SHOP_SHIPPING_INFORMATIONS}</b></td>
      <td><b>{TXT_REPLACEMENT}</b></td>
    </tr>
    <tr class="row2">
      <td>{TXT_SHOP_COMPANY}</td>
      <td>&lt;SHIPPING_COMPANY&gt;</td>
    </tr>
    <tr class="row1">
      <td>{TXT_SHOP_PREFIX}</td>
      <td>&lt;SHIPPING_PREFIX&gt;</td>
    </tr>
    <tr class="row2">
      <td>{TXT_SHOP_FIRSTNAME}</td>
      <td>&lt;SHIPPING_FIRSTNAME&gt;</td>
    </tr>
    <tr class="row1">
      <td>{TXT_SHOP_LASTNAME}</td>
      <td>&lt;SHIPPING_LASTNAME&gt;</td>
    </tr>
    <tr class="row2">
      <td>{TXT_SHOP_ADDRESS}</td>
      <td>&lt;SHIPPING_ADDRESS&gt;</td>
    </tr>
    <tr class="row1">
      <td>{TXT_SHOP_ZIP}</td>
      <td>&lt;SHIPPING_ZIP&gt;</td>
    </tr>
    <tr class="row2">
      <td>{TXT_SHOP_CITY}</td>
      <td>&lt;SHIPPING_CITY&gt;</td>
    </tr>
    <tr class="row1">
      <td>{TXT_SHOP_COUNTRY}</td>
      <td>&lt;SHIPPING_COUNTRY&gt;</td>
    </tr>
    <tr class="row2">
      <td>{TXT_SHOP_PHONE}</td>
      <td>&lt;SHIPPING_PHONE&gt;</td>
    </tr>
    <tr class="row1">
      <td colspan="2">&nbsp;</td>
    </tr>
    <tr class="row2">
      <td><b>{TXT_OTHER}</b></td>
      <td><b>{TXT_REPLACEMENT}</b></td>
    </tr>
    <tr class="row1">
      <td>{TXT_DATE}</td>
      <td>&lt;DATE&gt;</td>
    </tr>
  </table>
  <br />
  *&nbsp;{TXT_REPLACEMENT_NOT_AVAILABLE}
</div>
<!-- end shopMailReplacements div -->

<!-- start shopMailEdit div -->
<div id="shopMailEdit" class="mailTab" style="{SHOP_MAIL_EDIT_STYLE}">
  <form name="shopFormEdit" method="post" action="index.php?cmd=shop{MODULE_INDEX}&amp;act=settings&amp;tpl=mail">
    <input type="hidden" id="loadedLangId" name="loadedLangId" value="{SHOP_LOADD_LANGUAGE_ID}" />
    <input type="hidden" name="mailId" value="{SHOP_MAIL_ID}" />
    <table border="0" cellspacing="0" cellpadding="2" width="100%" class="adminlist">
      <tr>
        <th colspan="3">{TXT_EDIT}/{TXT_ADD}</th>
      </tr>
      <tr class="row1">
        <td width="15%">{TXT_TEMPLATE}</td>
        <td width="85%">
          <select class="listBox" name="tplId" size="1" onchange="loadTpl(this.value,document.shopFormEdit.elements['langId'].value,'shopMailEdit');">
            <option value="0">{TXT_NEW_TEMPLATE}</option>
            {SHOP_MAIL_EDIT_TEMPLATES}
          </select>
          {SHOP_MAIL_EDIT_LANGS}
        </td>
        <td width="5%"><div style="text-align:right;">
          <a href="javascript:delMail('{SHOP_MAIL_ID}')" title="{TXT_DELETE}"><img src="images/icons/delete.gif" alt="{TXT_DELETE}" border="0" /></a>
        </div></td>
      </tr>
      <tr class="row2">
        <td nowrap="nowrap">{TXT_TEMPLATE_NAME}</td>
        <td colspan="2">
          <input type="text" name="shopMailTemplate" size="50" value="{SHOP_MAIL_TEMPLATE}" />
        </td>
      </tr>
      <tr class="row1">
        <td nowrap="nowrap">{TXT_SENDER} {TXT_EMAIL}</td>
        <td colspan="2">
          <input type="text" name="shopMailFromAddress" size="50" value="{SHOP_MAIL_FROM}" />
        </td>
      </tr>
      <tr class="row2">
        <td nowrap="nowrap">{TXT_SENDER} {TXT_NAME}</td>
        <td colspan="2">
          <input type="text" name="shopMailFromName" size="50" value="{SHOP_MAIL_NAME}" />
        </td>
      </tr>
      <tr class="row1">
        <td nowrap="nowrap">{TXT_SUBJECT}</td>
        <td colspan="2">
          <input type="text" name="shopMailSubject" size="50" maxlength="255" value="{SHOP_MAIL_SUBJ}" />
        </td>
      </tr>
      <tr class="row2">
        <td valign="top" nowrap="nowrap">{TXT_MESSAGE}</td>
        <td colspan="2">
           <textarea name="shopMailBody" id="shopMailBody" style="width:85%; height:300px; FONT-SIZE: 8pt;" rows="20" cols="5">{SHOP_MAIL_MSG}</textarea>
        </td>
        <!--
        <td width="5%">
          <select name="replacement" id="replacement" size="1" onchange="insertReplacement()">
            <option value="0">Platzhalter</option>
            <option value="&lt;ORDER_ID&gt;">&lt;ORDER_ID&gt;</option>
            <option value="&lt;CUSTOMER_ID&gt;">&lt;CUSTOMER_ID&gt;</option>
            <option value="&lt;CUSTOMER_ADDRESS&gt;">&lt;CUSTOMER_ADDRESS&gt;</option>
            <option value="&lt;SHIPPING_ADDRESS&gt;">&lt;SHIPPING_ADDRESS&gt;</option>
            <option value="&lt;ORDER_DATA&gt;">&lt;ORDER_DATA&gt;</option>
            <option value="&lt;ORDER_SUM&gt;">&lt;ORDER_SUM&gt;</option>
            <option value="&lt;CUSTOMER_EMAIL&gt;">&lt;CUSTOMER_EMAIL&gt;</option>
            <option value="&lt;ORDUSERNAME_ID&gt;">&lt;USERNAME&gt;</option>
            <option value="&lt;PASSWORD&gt;">&lt;PASSWORD&gt;</option>
            <option value="&lt;DATE&gt;">&lt;DATE&gt;</option>
          </select>
        </td>
        -->
      </tr>
      <!-- BEGIN saveToOther -->
      <tr class="row1">
        <td colspan="3" nowrap="nowrap">
          <input type="checkbox" name="shopMailSaveNew" value="1" />&nbsp;{TXT_STORE_AS_NEW_TEMPLATE}
        </td>
      </tr>
      <!-- END saveToOther -->
    </table>
    <br />
    <input type="submit" name="mails" value="{TXT_STORE}" />
  </form>
</div>
<!-- end shopMailEdit div -->

<!-- start shopMailSend div -->
<div id="shopMailSend" class="mailTab" style="{SHOP_MAIL_SEND_STYLE}">
  <form name="shopFormSend" method="post" action="index.php?cmd=shop{MODULE_INDEX}&amp;act=settings&amp;tpl=mail" onsubmit="return sendMail();">
    <input type="hidden" name="mailId" value="{SHOP_MAIL_ID_SEND}" />
    <table border="0" cellspacing="0" cellpadding="2" width="100%" class="adminlist">
      <tr>
        <th colspan="2">{TXT_SEND_TEMPLATE}</th>
      </tr>
      <tr class="row1">
        <td width="15%">{TXT_TEMPLATE}</td>
        <td width="85%">
          <select class="listBox" name="tplId" size="1" onchange="loadTpl(this.value,document.shopFormSend.elements['langId'].value,'shopMailSend')">
            <option value="0">keine Vorlage</option>
            {SHOP_MAIL_SEND_TEMPLATES}
          </select>
          {SHOP_MAIL_SEND_LANGS}
        </td>
      </tr>
      <tr class="row1">
        <td>{TXT_SHOP_RECIPIENT_ADDRESS}</td>
        <td>
          <input type="text" id="shopMailTo" name="shopMailTo" size="50" value="{SHOP_MAIL_TO}" />&nbsp;( {TXT_SEPARATED_WITH_COMMAS} )
        </td>
      </tr>
      <tr class="row2">
        <td>{TXT_SENDER} {TXT_EMAIL}</td>
        <td>
          <input type="text" name="shopMailFromAddress" size="50" value="{SHOP_MAIL_FROM_SEND}" />
        </td>
      </tr>
      <tr class="row1">
        <td>{TXT_SENDER} {TXT_NAME}</td>
        <td>
          <input type="text" name="shopMailFromName" size="50" value="{SHOP_MAIL_NAME_SEND}" />
        </td>
      </tr>
      <tr class="row2">
        <td>{TXT_SUBJECT}</td>
        <td>
          <input type="text" name="shopMailSubject" size="50" maxlength="255" value="{SHOP_MAIL_SUBJ_SEND}" />
        </td>
      </tr>
      <tr class="row1">
        <td valign="top">{TXT_MESSAGE}</td>
        <td>
           <textarea name="shopMailBody" style="width:85%; height:300px; FONT-SIZE: 8pt;" rows="20" cols="5">{SHOP_MAIL_MSG_SEND}</textarea>
        </td>
      </tr>
    </table>
    <br />
    <input type="submit" name="shopMailSend" value="{TXT_SEND}" />
  </form>
</div>
<!-- end shopMailSend div -->
<!-- END module_shop_settings_mail.html -->
