<!-- START mailsend.tpl -->
<script language="javascript">
function shopTemplateAction()
{
  document.formMailsend.submit();
}
</script>
<style type="text/css">
<!--
.listBox {width: 200px;}
-->
</style>
<ul id="tabmenu">
<li><a class="active" href="javascript:{}" onClick="expandcontent('shopMailContent1')" title="{TXT_PAYMENT_TYPE}">{TXT_MAIL_TEMPLATES}</a></li>
<li><a href="javascript:{}" onClick="expandcontent('shopMailContent2')" title="{TXT_ADD}">{TXT_ADD}</a></li>
</ul>
<form name="shopFormMailSend" method="post" action="index.php?cmd=shop{MODULE_INDEX}&act=mail">
<span class="red">{CONTENT_STATUS}</span>
<!-- start shopMailContent1 div -->
<div id="shopMailContent1" class="switchcontent" style="display:block">
<table border="0" cellspacing="0" cellpadding="2" width="100%" class="adminlist">
  <tr>
    <th colspan="{SHOP_MAIL_COLS}">
      {TXT_MAIL_TEMPLATES}
    </th>
  </tr>
  <tr>
    <td width="25%">
      <b>Vorlage</b>
    </td>
    <!-- BEGIN shopMailLanguages -->
    <td width="{SHOP_MAIL_LANG_COL_WIDTH}%">
      <b>{SHOP_MAIL_LANGUAGE}</b>
    </td>
    <!-- END shopMailLanguages -->
    <td width="5%">
      &nbsp;
    </td>
  </tr>
  <!-- BEGIN shopMailTemplates -->
  <tr>
    <td width="25">
      {SHOP_MAIL_TEMPLATE_NAME}
    </td>
    <!-- BEGIN shopMailLanguagesStatus -->
    <td width="{SHOP_MAIL_LANG_COL_WIDTH}">
      <img src="images/icons/led_{SHOP_MAIL_LANGUAGE_STATUS}.gif" alt="{TXT_SHOP_MAIL_LANGUAGE_STATUS}" border="0" />
    </td>
    <!-- END shopMailLanguagesStatus -->
    <td width="5%" valign="top"><div style="text-align:right">
      <a href="javascript:editTemplate('{SHOfP_TEMPLATE_ID}')" title="{TXT_EDIT}"><img src="images/icons/edit.gif" alt="{TXT_EDIT}" border="0"></a>
      <a href="javascript:deleteTemplate('{SfHOP_TEMPLATE_ID}')" title="{TXT_DELETE}"><img src="images/icons/delete.gif" alt="{TXT_DELETE}" border="0"></a>
    </div></td>
  </tr>
  <!-- END shopMailTemplates -->
</table>
<br /><br /><br /><br /><br /><br />
<table border="0" cellspacing="0" cellpadding="2" width="100%" class="adminlist">
  <tr>
    <th colspan="5">
      {TXT_MAIL_TEMPLATES}
    </th>
  </tr>
  <tr class="row1">
    <td  width="15%" valign="top">
      Vorlagen
    </td>
    <td width="35%" valign="top">
      <select class="listBox" name="shopSelectMailtemplate" size="5">{SHOP_MAILTMEPLATE_MENU}</select>
    </td>
    <td width="10%" valign="top">
      Sprache
    </td>
    <td width="35%" valign="top">
      <select class="listBox" name="shopMailTemplateLanguage" size="5"></select>
    </td>
    <td width="5%" valign="top"><div style="text-align:right">
      <a href="javascript:editTemplate()" title="{TXT_EDIT}"><img src="images/icons/edit.gif" alt="{TXT_EDIT}" border="0"></a>
      <a href="javascript:deleteTemplate()" title="{TXT_DELETE}"><img src="images/icons/delete.gif" alt="{TXT_DELETE}" border="0"></a>
    </div></td>
  </tr>
  <tr class="row2">
    <td width="15%">
      {TXT_RECEIPTOR_ADDRESS}
    </td>
    <td colspan="4" class="row2" width="85%">
      <input type="text" name="shopMailTo" size="50" value="{SHOP_MAIL_TO}" />
      <input type="submit" name="shopSendMail" value="{TXT_SEND}" />
    </td>
  </tr>
</table>
<table border="0" cellspacing="0" cellpadding="2" width="100%" class="adminlist">
  <tr>
    <th colspan="4">
      Vorlage
    </th>
  </tr>
  <tr class="row1">
    <td width="15%">
      Vorlagenname
    </td>
    <td width="35%">
      <input type="text" name="shopMailTemplate" size="50" value="{SHOP_MAIL_TEMPLATE}" />
    </td>
    <td width="10%" valign="top">
      Sprache
    </td>
    <td width="40%" valign="top">
      <select class="listBox" name="language" size="1">{SHOP_MAIL_LANG_MENU_OPTIONS}</select>
    </td>
  </tr>
  <tr class="row2">
    <td width="15%">
      {TXT_SENDER}({TXT_EMAIL})
    </td>
    <td width="85%" colspan="3">
      <input type="text" name="shopMailFromAddress" size="50" value="{SHOP_MAIL_FROM}" />
    </td>
  </tr>
  <tr class="row1">
    <td width="15%">
      {TXT_SENDER}({TXT_NAME})
    </td>
    <td width="85%" colspan="3">
      <input type="text" name="shopMailFromName" size="50" value="{SHOP_MAIL_NAME}" />
    </td>
  </tr>
  <tr class="row2">
    <td width="15%">
      {TXT_SUBJECT}
    </td>
    <td width="85%" colspan="3">
      <input type="text" name="shopMailSubject" size="50" maxlength="255" value="{SHOP_MAIL_SUBJ}" />
    </td>
  </tr>
  <tr class="row1">
    <td valign="top" width="15%">
      {TXT_MESSAGE}
    </td>
    <td colspan="3" width="85%">
       <textarea name="shopMailBody" style="width:85%; height:300px; FONT-SIZE: 8pt;">{SHOP_MAIL_MSG}</textarea>
    </td>
  </tr>
</table>
<br />
<input type="submit" name="shopSaveMailTemplate" value="{TXT_STORE}" />
</form>
</div>
<!-- end shopMailContent1 div -->


<!-- END mailsend.tpl -->
