<!-- START module_shop_settings_general.html -->
<script language="JavaScript" type="text/javascript">
<!-- //
function deleteVat(vatId)
{
    if(confirm("{TXT_TAX_CONFIRM_DELETE}\n{TXT_ACTION_IS_IRREVERSIBLE}")) {
        window.location.replace("index.php?cmd=shop{MODULE_INDEX}&act=settings&vatid=" + vatId);
    }
}
function setVatAll()
{
    if(confirm("{TXT_TAX_CONFIRM_SET_ALL}\n{TXT_ACTION_IS_IRREVERSIBLE}")) {
        var vatId = document.forms.shopForm.tax_default_id.value;
        window.location.replace("index.php?cmd=shop{MODULE_INDEX}&act=settings&setVatAll=" + vatId);
    }
}
function setVatUnset()
{
    if(confirm("{TXT_TAX_CONFIRM_SET_UNSET}\n{TXT_ACTION_IS_IRREVERSIBLE}")) {
        var vatId = document.forms.shopForm.tax_default_id.value;
        window.location.replace("index.php?cmd=shop{MODULE_INDEX}&act=settings&setVatUnset=" + vatId);
    }
}
//Text[0]=["","{}"];
//Style[0]=["","","","","",,"black","#ffffe1","","","",,,,1,"#000000",2,24,0.3,,2,"gray",1,,15,-50];
//function getElementId(objFormName,objElementName) {
//    for(var i=0;i<document.forms[objFormName].elements.length;i++) {
//        if(document.forms[objFormName].elements[i].name == objElementName) {
//            return i;
//        }
//    }
//}
//function validateForm(objFormName) {
//    getElementId(objFormName,"general_yellowpay_id_status");
//    if(document.forms[objFormName].elements[getElementId(objFormName,"general_yellowpay_id_status")].checked == true) {
//        if(document.forms[objFormName].elements[getElementId(objFormName,"general_yellowpay_id")].value == "") {
//            alert("ss");
//        }
//    }
//    return false;
//}
// -->
</script>
<!-- BEGIN statusBar -->
<span class="red">{CONTENT_STATUS}</span>
<!-- END statusBar -->
<ul id="tabmenu">
<li><a id="generalTab_shopContent1" class="active" href="javascript:{}" onclick="selectTab('shopContent1')" title="{TXT_GENERAL_SETTINGS}">{TXT_GENERAL_SETTINGS}</a></li>
<li><a id="generalTab_shopContent2" href="javascript:{}" onclick="selectTab('shopContent2')" title="{TXT_PAYMENT_HANDLER}">{TXT_PAYMENT_HANDLER}</a></li>
<li><a id="generalTab_shopContent3" href="javascript:{}" onclick="selectTab('shopContent3')" title="{TXT_TAXES}">{TXT_TAXES}</a></li>
<li><a id="generalTab_shopContent4" href="javascript:{}" onclick="selectTab('shopContent4')" title="{TXT_SHOP_IMAGE_SETTINGS}">{TXT_SHOP_IMAGE_SETTINGS}</a></li>
</ul>
<form name="shopForm" method="post" action="index.php?cmd=shop{MODULE_INDEX}&amp;act=settings&amp;tpl=general">
<!-- start shopContent1 div -->
<div id="shopContent1" class="generalTab" style="display:block">
  <table summary="" border="0" cellspacing="0" cellpadding="2" width="100%" class="adminlist">
    <tr>
      <th colspan="2"> <b>{TXT_GENERAL_SETTINGS}</b></th>
    </tr>
    <tr class="row1">
      <td nowrap="nowrap">{TXT_SHOP_EMAIL}</td>
      <td nowrap="nowrap"><input type="text" name="email" size="50" maxlength='255' value="{SHOP_CONTACT_EMAIL}" /></td>
    </tr>
    <tr class="row2">
      <td nowrap="nowrap" width="15%">{TXT_CONFIRMATION_EMAILS}</td>
      <td nowrap="nowrap" ><input type="text" name="confirmation_emails" size="50" maxlength='255' value="{SHOP_CONFIRMATION_EMAILS}" />
      ({TXT_SEPARATED_WITH_COMMAS}) </td>
    </tr>

    <tr class="row1">
      <td nowrap="nowrap">{TXT_CONTACT_COMPANY}</td>
      <td nowrap="nowrap"><input type="text" name="shop_company" size="50" maxlength='255' value="{SHOP_CONTACT_COMPANY}" /></td>
    </tr>
    <tr class="row2">
      <td nowrap="nowrap">{TXT_CONTACT_ADDRESS}</td>
      <td nowrap="nowrap"><textarea cols="36" rows="5" name="shop_address">{SHOP_CONTACT_ADDRESS}</textarea></td>
    </tr>
    <tr class="row1">
      <td nowrap="nowrap">{TXT_PHONE_NUMBER}</td>
      <td nowrap="nowrap"><input type="text" name="telephone" size="50" maxlength='255' value="{SHOP_CONTACT_TEL}" /></td>
    </tr>
    <tr class="row2">
      <td nowrap="nowrap">{TXT_FAX_NUMBER}</td>
      <td nowrap="nowrap"><input type="text" name="fax" size="50" maxlength='255' value="{SHOP_CONTACT_FAX}" /></td>
    </tr>
    <tr class="row1">
      <td nowrap="nowrap">{TXT_COUNTRY}</td>
      <td nowrap="nowrap">{SHOP_GENERAL_COUNTRY}</td>
    </tr>

    <tr class="row2">
      <td nowrap="nowrap">{TXT_SHOP_SETTING_WEIGHT_ENABLE}</td>
      <td nowrap="nowrap"><input type="checkbox" name="shop_weight_enable" value="1"{SHOP_WEIGHT_ENABLE_CHECKED} /></td>

<!-- vogt -->
    <tr class="row2">
      <td nowrap="nowrap">{TXT_SHOP_PRODUCT_SORTING}</td>
      <td nowrap="nowrap">
        <select name="product_sorting">
          {SHOP_PRODUCT_SORTING}
        </select>
      </td>

    </tr>
  </table>
  <br />
</div>
<!-- end shopContent1 div -->
<!-- start shopContent2 div -->
<div id="shopContent2" class="generalTab" style="display:none;">
  <table summary="" border="0" cellspacing="0" cellpadding="2" width="100%" class="adminlist">
    <tr>
      <th colspan="3">{TXT_PAYMENT_HANDLER}</th>
    </tr>
    <tr class="row1">
      <td nowrap="nowrap" width="15%"><strong>{TXT_NAME}</strong></td>
      <td width="80%"><strong>{TXT_STATEMENT}</strong></td>
      <td nowrap="nowrap" width="5%"><div align="center"><strong>{TXT_ACTIVE}</strong></div></td>
    </tr>
    <tr valign="top" class="row2">
      <td width="15%" nowrap="nowrap">{TXT_YELLOWPAY_POSTFINANCE}</td>
      <td nowrap="nowrap">
        <label for="yellowpay_swapper">{TXT_EDIT}&nbsp;</label>
        <input name="yellowpay_swapper" id="yellowpay_swapper" type="checkbox" onclick="swapBlock('yellowpay');" value="1" />&nbsp;
        <div id="yellowpay" style="display:none;">
          <table width="100%" summary="">
            <tr>
              <td width="20%">
                {TXT_SHOP_ID}
              </td>
              <td width="80%">
                <input type="text" name="yellowpay_shop_id" value="{SHOP_YELLOWPAY_SHOP_ID}" size="15" maxlength="50" />
              </td>
            </tr>
            <tr>
              <td>
                {TXT_HASH_SEED}
              </td>
              <td>
                <input type="text" name="yellowpay_hash_seed" value="{SHOP_YELLOWPAY_HASH_SEED}" size="15" maxlength="50" />
              </td>
            </tr>
            <tr>
              <td>
                {TXT_AUTORIZATION}
              </td>
              <td>
                <select name="yellowpay_authorization_type">
                  {SHOP_YELLOWPAY_AUTHORIZATION_TYPE_OPTIONS}
                </select>
              </td>
            </tr>
            <tr>
              <td valign="top">
                {TXT_SHOP_ACCEPTED_PAYMENT_METHODS}
              </td>
              <td>
                {SHOP_YELLOWPAY_ACCEPTED_PAYMENT_METHODS_CHECKBOXES}
              </td>
            </tr>
            <tr>
              <td valign="top">{TXT_SHOP_YELLOWPAY_USE_TESTSERVER}</td>
              <td>
                <input id="yellowpay_use_testserver_yes" type="radio"
                  name="yellowpay_use_testserver" value="1"{SHOP_YELLOWPAY_USE_TESTSERVER_YES_CHECKED} />
                <label for="yellowpay_use_testserver_yes">{TXT_SHOP_YES}</label>
                <br />
                <input id="yellowpay_use_testserver_no" type="radio"
                  name="yellowpay_use_testserver" value="0"{SHOP_YELLOWPAY_USE_TESTSERVER_NO_CHECKED} />
                <label for="yellowpay_use_testserver_no">{TXT_SHOP_NO}</label>
              </td>
            </tr>
          </table>
        </div>
      </td>
      <td nowrap="nowrap"><div align="center"><input type="checkbox" name="yellowpay_status" value="1" {SHOP_YELLOWPAY_STATUS} /></div></td>
    </tr>
    <tr valign="top" class="row1">
      <td width="15%" nowrap="nowrap">{TXT_SAFERPAY}</td>
      <td nowrap="nowrap"><label for="safperpay_swapper">{TXT_EDIT}&nbsp;</label>
        <input name="safperpay_swapper" id="safperpay_swapper" type="checkbox" onclick="swapBlock('safperpay');" value="1" />&nbsp;
        <div id="safperpay" style="display:none;">
          <table width="100%" summary="">
            <tr>
              <td width="20%">{TXT_ACCOUNT_ID}</td>
              <td width="80%">
                <input type="text" name="saferpay_id" value="{SHOP_SAFERPAY_ID}" size="15" maxlength="60" />
              </td>
            </tr>
            <tr>
              <td>{TXT_USE_TEST_ACCOUNT}</td>
              <td>
                <input type="checkbox" name="saferpay_use_test_account" value="1" {SHOP_SAFERPAY_TEST_STATUS} />
              </td>
            </tr>
            <tr>
              <td>{TXT_FINALIZE_PAYMENT}</td>
              <td>
                <input type="checkbox" name="saferpay_finalize_payment" value="1" {SHOP_SAFERPAY_FINALIZE_PAYMENT} />
              </td>
            </tr>
            <tr>
              <td>{TXT_INDICATE_PAYMENT_WINDOW_AS}</td>
              <td>{SHOP_SAFERPAY_WINODW_OPTION_MENU}
              </td>
            </tr>
          </table>
        </div>
      </td>
      <td nowrap="nowrap" ><div align="center"><input type="checkbox" name="saferpay_status" value="1" {SHOP_SAFERPAY_STATUS} /></div></td>
    </tr>
    <tr valign="top" class="row2">
      <td width="15%">{TXT_PAYPAL}</td>
      <td><label for="paypal_swapper">{TXT_EDIT}&nbsp;</label>
        <input name="paypal_swapper" id="paypal_swapper" type="checkbox" onclick="swapBlock('paypal');" value="1" />&nbsp;
        <div id="paypal" style="display:none;">
          <table width="100%" summary="">
            <tr>
              <td width="20%">{TXT_PAYPAL_EMAIL_ACCOUNT}</td>
              <td width="80%">
                <input type="text" name="paypal_account_email" value="{SHOP_PAYPAL_EMAIL}" size="24" maxlength="254" style="margin-bottom:1px;" />
              </td>
            </tr>
            <tr>
              <td>{TXT_SHOP_PAYPAL_DEFAULT_CURRENCY}</td>
              <td>{SHOP_PAYPAL_DEFAULT_CURRENCY_MENU}</td>
            </tr>
          </table>
        </div>
      </td>
      <td ><div align="center"><input type="checkbox" name="paypal_status" value="1" {SHOP_PAYPAL_STATUS} /></div></td>
    </tr>
    <tr class="row1">
      <td nowrap="nowrap">{TXT_PAYMENT_LSV}</td>
      <td>&nbsp;</td>
      <td ><div align="center"><input type="checkbox" name="payment_lsv_status" value="1" {SHOP_PAYMENT_LSV_STATUS} /></div></td>
    </tr>
  </table>
  <br />
</div>
<!-- end shopContent2 div -->
<!-- start shopContent3 div -->
<div id="shopContent3" class="generalTab" style="display:none;">
    <table summary="" border="0" cellspacing="0" cellpadding="2" width="100%" class="adminlist">
      <tr>
        <th>{TXT_TAXES}</th>
      </tr>
      <tr class="row1">
        <td nowrap="nowrap">
          {TXT_ACTIVATE_TAXES}
          <input name="tax_enabled" type="checkbox" onclick="swapBlock('taxes');" value="1" {SHOP_TAX_STATUS} />
        </td>
      </tr>
    </table>
    <br />
    <table summary="" id='taxes' style="display:{SHOP_TAX_DISPLAY_STATUS};" border="0" cellspacing="0" cellpadding="2" width='100%' class="adminlist">
    <colgroup><col width="5%" /><col width="5%" /><col width="90%" /></colgroup>
      <tr>
        <th width='100%' colspan="3">{TXT_TAX_DETAILS}</th>
      </tr>
      <tr class="row1">
        <td nowrap="nowrap" width='10%'>
          {TXT_TAX_NUMBER}
        </td>
        <td colspan="2" width='91%'>
          <input type="text" name="tax_number" value="{SHOP_TAX_NUMBER}" size="10" />
        </td>
      </tr>
      <tr>
        <td nowrap="nowrap"></td>
        <td colspan="2" nowrap="nowrap">
          {TXT_INCLUDED}
          <input name="tax_included" type="radio" value="1" {SHOP_TAX_INCLUDED_STATUS} />
          {TXT_EXCLUSIVE}
          <input name="tax_included" type="radio" value="0" {SHOP_TAX_EXCLUDED_STATUS} />
        </td>
      </tr>
      <tr class="row1">
        <td nowrap="nowrap">
          {TXT_TAX_DEFAULT}
        </td>
        <td nowrap="nowrap" colspan="2">
          {SHOP_TAX_DEFAULT_MENU}
          <input type='button' name='buttonSetVatUnset' value="{TXT_TAX_SET_UNSET}" onclick='javascript:setVatUnset()' />
          <input type='button' name='buttonSetVatAll' value="{TXT_TAX_SET_ALL}" onclick='javascript:setVatAll()' />
        </td>
      </tr>
      <tr><td colspan="3">&nbsp;</td></tr>
      <tr>
        <th colspan="3">{TXT_TAX_RATES}</th>
      </tr>
<!-- BEGIN taxRow -->
      <tr class="{SHOP_ROWCLASS}">
        <td nowrap="nowrap">
          {TXT_TAX_CLASS}
          <input type="hidden" name="vatids[]" value="{SHOP_TAX_ID}" />
          <input type="text" name="vatclasses[]" value="{SHOP_TAX_CLASS}" size="30" maxlength="255" />
        </td>
        <td nowrap="nowrap">
          {TXT_TAX_RATE}
          <input type="text" name="vatrates[]" value="{SHOP_TAX_RATE}" size="10" maxlength="6" />%
        </td>
        <td>
          <a href="javascript:deleteVat({SHOP_TAX_ID})" title="{TXT_DELETE}">
            <img src="images/icons/delete.gif" alt="{TXT_DELETE}" border="0" />
          </a>
        </td>
      </tr>
<!-- END taxRow -->
      <tr><td colspan="3">&nbsp;</td></tr>
      <tr>
        <th colspan="3">{TXT_TAX_NEW}</th>
      </tr>
      <tr class="row1">
        <td nowrap="nowrap">
          {TXT_TAX_CLASS_NEW}
          <input type="text" name="vatclassnew" value="" size="30" maxlength="255" />
        </td>
        <td nowrap="nowrap" colspan="2">
          {TXT_TAX_RATE_NEW}
          <input type="text" name="vatratenew" value="" size="10" maxlength="6" />%
        </td>
      </tr>
    </table>
  <br />
</div>
<!-- end shopContent3 div -->

<!-- start shopContent4 div -->
<div id="shopContent4" class="generalTab" style="display:none;">
    <table summary="" border="0" cellspacing="0" cellpadding="2" width="100%" class="adminlist">
      <tr>
        <th colspan="2">{TXT_SHOP_IMAGE_SETTINGS}</th>
      </tr>
      <tr class="row1">
        <td nowrap="nowrap" width='10%'>
          {TXT_SHOP_THUMBNAIL_MAX_WIDTH}
        </td>
        <td colspan="2" width='90%'>
          <input type="text" name="shop_thumbnail_max_width" value="{SHOP_THUMBNAIL_MAX_WIDTH}" size="6" maxlength="3" />
        </td>
      </tr>
      <tr class="row2">
        <td nowrap="nowrap" width='10%'>
          {TXT_SHOP_THUMBNAIL_MAX_HEIGHT}
        </td>
        <td colspan="2" width='90%'>
          <input type="text" name="shop_thumbnail_max_height" value="{SHOP_THUMBNAIL_MAX_HEIGHT}" size="6" maxlength="3" />
        </td>
      </tr>
      <tr class="row1">
        <td nowrap="nowrap" width='10%'>
          {TXT_SHOP_THUMBNAIL_QUALITY}
        </td>
        <td colspan="2" width='90%'>
          <input type="text" name="shop_thumbnail_quality" value="{SHOP_THUMBNAIL_QUALITY}" size="6" maxlength="3" />
        </td>
      </tr>
    </table>
  <br />
</div>
<!-- end shopContent4 div -->

<input type="submit" name="general" value="{TXT_STORE}" />
</form>
<!-- END module_shop_settings_general.html -->
