<!-- START module_shop_discount_coupon.html -->
<ul id="tabmenu">
  <li>
    <a id="couponTab_view" class="{SHOP_DISCOUNT_COUPON_VIEW_ACTIVE}"
        href="javascript:{}" onclick="selectTab('view')"
        title="{TXT_SHOP_DISCOUNT_COUPON_VIEW}">{TXT_SHOP_DISCOUNT_COUPON_VIEW}</a>
  </li>
  <li><a id="couponTab_edit" class="{SHOP_DISCOUNT_COUPON_EDIT_ACTIVE}"
        href="javascript:{}" onclick="selectTab('edit')"
        title="{TXT_SHOP_DISCOUNT_COUPON_EDIT}">{TXT_SHOP_DISCOUNT_COUPON_ADD_OR_EDIT}</a>
  </li>
</ul>

<div id="view" class="couponTab" style="display:{SHOP_DISCOUNT_COUPON_VIEW_DISPLAY}">
  <table border="0" cellspacing="0" cellpadding="2" width="100%" class="adminlist">
    <tr>
      <th colspan="14"><b>{TXT_SHOP_DISCOUNT_COUPON_CODES}</b></th>
    </tr>
    <tr class="row3">
      <td width="10%" nowrap="nowrap"><b>{HEADER_SHOP_DISCOUNT_COUPON_CODE}</b></td>
      <td width="10%" nowrap="nowrap"><b>{TXT_SHOP_DISCOUNT_COUPON_URI}</b>&nbsp;{SHOP_DISCOUNT_COUPON_URI_HINT}</td>
      <td width="08%" nowrap="nowrap"><b>{HEADER_SHOP_DISCOUNT_COUPON_START_TIME}</b></td>
      <td width="08%" nowrap="nowrap"><b>{HEADER_SHOP_DISCOUNT_COUPON_END_TIME}</b></td>
      <td width="10%" nowrap="nowrap"><div style="text-align: right;"><b>{HEADER_SHOP_DISCOUNT_COUPON_MINIMUM_AMOUNT_CURRENCY}</b></div></td>
      <td width="08%" nowrap="nowrap"><div style="text-align: right;"><b>{HEADER_SHOP_DISCOUNT_COUPON_RATE}</b></div></td>
      <td width="10%" nowrap="nowrap"><div style="text-align: right;"><b>{HEADER_SHOP_DISCOUNT_COUPON_AMOUNT_CURRENCY}</b></div></td>
      <td width="10%" nowrap="nowrap"><div style="text-align: right;"><b>{HEADER_SHOP_DISCOUNT_COUPON_USES}</b></div></td>
      <td width="05%" nowrap="nowrap"><b>{HEADER_SHOP_DISCOUNT_COUPON_SCOPE}</b></td>
      <td width="10%" nowrap="nowrap"><b>{HEADER_SHOP_DISCOUNT_COUPON_CUSTOMER}</b></td>
      <td width="10%" nowrap="nowrap"><b>{HEADER_SHOP_DISCOUNT_COUPON_PRODUCT}</b></td>
      <td width="10%" nowrap="nowrap"><b>{HEADER_SHOP_DISCOUNT_COUPON_PAYMENT}</b></td>
      <td width="01%" nowrap="nowrap"><b>{TXT_FUNCTIONS}</b></td>
    </tr>
<!-- BEGIN shopDiscountCouponView -->
    <tr class="{SHOP_ROWCLASS}">
      <td nowrap="nowrap">{SHOP_DISCOUNT_COUPON_CODE}</td>
      <td nowrap="nowrap">
        <input type="text" readonly="readonly"
            style="width: 420px;"
            value="{SHOP_DISCOUNT_COUPON_URI}"
            onfocus="this.select();" />
      </td>
      <td nowrap="nowrap">{SHOP_DISCOUNT_COUPON_START_TIME}</td>
      <td nowrap="nowrap">{SHOP_DISCOUNT_COUPON_END_TIME}</td>
      <td nowrap="nowrap"><div style="text-align: right;">{SHOP_DISCOUNT_COUPON_MINIMUM_AMOUNT}</div></td>
      <td nowrap="nowrap"><div style="text-align: right;">{SHOP_DISCOUNT_COUPON_RATE}</div></td>
      <td nowrap="nowrap"><div style="text-align: right;">{SHOP_DISCOUNT_COUPON_AMOUNT}</div></td>
      <td nowrap="nowrap"><div style="text-align: right;">{SHOP_DISCOUNT_COUPON_USES}</div></td>
      <td nowrap="nowrap">{SHOP_DISCOUNT_COUPON_SCOPE}</td>
      <td nowrap="nowrap">{SHOP_DISCOUNT_COUPON_CUSTOMER}</td>
      <td nowrap="nowrap">{SHOP_DISCOUNT_COUPON_PRODUCT}</td>
      <td nowrap="nowrap">{SHOP_DISCOUNT_COUPON_PAYMENT}</td>
      <td nowrap="nowrap">{SHOP_DISCOUNT_COUPON_FUNCTIONS}</td>
    </tr>
<!-- END shopDiscountCouponView -->
  </table>
  <br />
  <br />
  {SHOP_PAGING}
</div>
<div id="edit" class="couponTab" style="display:{SHOP_DISCOUNT_COUPON_EDIT_DISPLAY}">
  <form name="couponForm" method="post"
      action="index.php?{CSFR_PARAM}&amp;cmd=shop&amp;act=settings&amp;tpl=coupon">

<!-- BEGIN shopDiscountCouponEdit -->
    <table border="0" cellspacing="0" cellpadding="2" width="100%" class="adminlist">
      <tr>
        <th colspan="2"><b>{TXT_SHOP_DISCOUNT_COUPON_ADD_OR_EDIT}</b></th>
      </tr>
      <tr class="row2">
        <td width="25%">{TXT_SHOP_DISCOUNT_COUPON_CODE}</td>
        <td width="75%">
          {SHOP_DISCOUNT_COUPON_CODE}
          {SHOP_DISCOUNT_COUPON_CODE_CREATE}
        </td>
      </tr>
      <tr class="row1">
        <td>{TXT_SHOP_DISCOUNT_COUPON_START_TIME}</td>
        <td>{SHOP_DISCOUNT_COUPON_START_TIME}</td>
      </tr>
      <tr class="row2">
        <td>{TXT_SHOP_DISCOUNT_COUPON_END_TIME}</td>
        <td>
          {SHOP_DISCOUNT_COUPON_END_TIME}
          {SHOP_DISCOUNT_COUPON_END_TIME_UNLIMITED}
        </td>
      </tr>
      <tr class="row1">
        <td>{TXT_SHOP_DISCOUNT_COUPON_MINIMUM_AMOUNT_CURRENCY}</td>
        <td>{SHOP_DISCOUNT_COUPON_MINIMUM_AMOUNT}</td>
      </tr>
      <tr class="row2">
        <td>{TXT_SHOP_DISCOUNT_COUPON_RATE}</td>
        <td>{SHOP_DISCOUNT_COUPON_RATE}</td>
      </tr>
      <tr class="row1">
        <td>{TXT_SHOP_DISCOUNT_COUPON_AMOUNT_CURRENCY}</td>
        <td>{SHOP_DISCOUNT_COUPON_AMOUNT}</td>
      </tr>
      <tr class="row2">
        <td>{TXT_SHOP_DISCOUNT_COUPON_USES}</td>
        <td>
          {SHOP_DISCOUNT_COUPON_USES}
          {SHOP_DISCOUNT_COUPON_USES_UNLIMITED}
        </td>
      </tr>
      <tr class="row1">
        <td valign="top">{TXT_SHOP_DISCOUNT_COUPON_SCOPE}</td>
        <td>
          {SHOP_DISCOUNT_COUPON_GLOBALLY}<br />
          {SHOP_DISCOUNT_COUPON_PER_CUSTOMER}<br />
          {SHOP_DISCOUNT_COUPON_CUSTOMER}
        </td>
      </tr>
      <tr class="row2">
        <td>{TXT_SHOP_DISCOUNT_COUPON_PRODUCT}</td>
        <td>{SHOP_DISCOUNT_COUPON_PRODUCT}</td>
      </tr>
      <tr class="row1">
        <td>{TXT_SHOP_DISCOUNT_COUPON_PAYMENT}</td>
        <td>{SHOP_DISCOUNT_COUPON_PAYMENT}</td>
      </tr>
    </table>
<!-- END shopDiscountCouponEdit -->
    <br />
    <br />
    <input type="submit" name="bsubmit" value="{TXT_STORE}" tabindex="1001" />
    <input type="button" name="bcancel" value="{TXT_SHOP_CANCEL}"
        onclick="location.href='index.php?cmd=shop&amp;act=settings&amp;tpl=coupon&amp;{CSRF_PARAM}';"
        tabindex="1002" />
  </form>
</div>
<!-- END module_shop_discount_coupon.html -->
