<!-- START shop_product_manager.html -->
<script language="javascript" type="text/javascript">
<!-- //
function reloadPage()
{
  //save_in_textarea_all(); // needed for wysiwyg 
  document.shop_article.submit();
}

function setDateToday(txtValue)
{
    with(document.shop_article)
    {
     if(txtValue.value=="")
     {
       txtValue.value=date.value;
     }
    }
}

function openWindow(theURL,winName,features)
{
    window.open(theURL,winName,features);
}
// -->
</script>
<FORM name="shop_article" action="index.php?cmd=shop&act=productmanager" method="post" encType="multipart/form-data">
  <input type="hidden" name="date" value="{SHOP_DATE}">
  <input type="hidden" name="id" value="{SHOP_PRODUCT_ID}">
  <input type="hidden" name="shopTempThumbnail" value="{SHOP_TEMP_THUMBNAIL}">  
  <input type="hidden" name="edit" value="1">
  <input type="hidden" name="shopImageName" value="{SHOP_IMAGE_NAME}">
  <table class="adminlist" border=0 width="100%" cellpadding="3" cellspacing="0">
    <tr valign="top"> 
      <th nowrap colspan="2">
        <div align="left">{TXT_PRODUCT_INFORMATIONS}</div>
      </th>
    </tr>
    {SHOP_ID_COMMENT_START} 
    <tr valign="top"  class="row1"> 
      <td nowrap width="17%">{TXT_ID}</td>
      <td nowrap width="83%">{SHOP_ID}</td>
    </tr>
  {SHOP_ID_COMMENT_END}
    <tr valign="top" class="row1"> 
      <td nowrap width="17%">{TXT_PRODUCT_NAME}</td>
      <td nowrap width="83%"> 
        <input maxlength=255 name="shopProductName" size="40" value="{SHOP_PRODUCT_NAME}" />
        {TXT_CATEGORY} 
        <select name="shopCatMenu">
    {SHOP_CAT_MENU}
        </select>
        &nbsp; </td>
    </tr> 
    <tr valign="top" class="row1"> 
      <td nowrap width="17%">{TXT_PRODUCT_ID}</td>
      <td nowrap width="83%"> 
        <input maxlength=255 name="shopProductIdentifier" size="40" value="{SHOP_PRODUCT_IDENTIFIER}" />
      </td>
    </tr>
    <tr valign="top" class="row1"> 
      <td nowrap width="17%">{TXT_CUSTOMER_PRICE}&nbsp;<span class="status"></span></td>
      <td width="83%"> 
        <input maxlength=255 name="shopCustomerPrice" size="40" value="{SHOP_CUSTOMER_PRICE}">&nbsp;(f.e. 2049.00)
      </td>
    </tr>
    <tr valign="top" class="row1"> 
      <td nowrap width="17%">{TXT_RESELLER_PRICE}</td>
      <td width="83%"> 
        <input maxlength=255 name="shopResellerPrice" size="40" value="{SHOP_RESELLER_PRICE}">&nbsp;(f.e. 2049.00)
      </td>
    </tr>
    <tr class="row1"> 
      <td nowrap width="17%">{TXT_SPECIAL_OFFER}</td>
      <td width="83%"> 
        <input maxlength=10 name="shopDiscount" size="40" value="{SHOP_DISCOUNT}">
        <input type="checkbox" name="shopSpecialOffer" value="1" {SHOP_SPECIAL_OFFER}>
      </td>
    </tr>
    <tr valign="top" class="row1"> 
      <td nowrap width="17%">{TXT_SHORT_DESCRIPTION}</td>
      <td width="83%"> 
        <textarea name="shopShortDescription" style="width:95%; height:80px;">{SHOP_SHORT_DESCRIPTION}</textarea>
      </td>
    </tr>
    <tr valign="top" class="row1"> 
      <td nowrap width="17%">{TXT_DESCRIPTION}</td>
      <td width="83%"> {SHOP_DESCRIPTION} </td>
    </tr>
    <tr valign="top" class="row1"> 
      <td nowrap width="17%">{TXT_MANUFACTURER_URL}</td>
      <td width="83%"> 
        <input maxlength="255" name="shopManufacturerUrl" size="40" value="{SHOP_MANUFACTURER_URL}"> 
        ( {TXT_WITH_HTTP} ) 
      </td>
    </tr>  
    <tr valign="top" class="row1"> 
      <td nowrap width="17%">{TXT_STOCK}</td>
      <td width="83%"> 
        <input maxlength=10 name="shopStock" size="10" value="{SHOP_STOCK}">
        {TXT_ACTIVE} 
        <input type="checkbox" name="shopStockVisibility" value="1" {SHOP_STOCK_VISIBILITY}>
      </td>
    </tr>
  </table>
  <br />
  <br />
  <table class="adminlist" border=0 width="100%" cellpadding="3" cellspacing="0">
    <tr> 
      <th nowrap colspan="2"> 
        <div align="left">{TXT_PRODUCT_IMAGE}</div>
      </th>
    </tr>
    <tr  class="row1">
      <td nowrap width="17%" valign="top"> {TXT_IMAGE_UPLOAD}</td>
      <td width="83%">
        <input name="shopUploadImage" type="file" accept="image/pjpeg" onChange="reloadPage()">
        {TXT_OPTIONS}:{TXT_IMAGE_WIDTH} 
        <input maxlength=10 name="shopImageWidth" size="10">
        <br />
        {TXT_IMAGES_WITH_SAME_NAME}: 
        <select name="shopImageOverwrite">
          <option value="0" selected>{TXT_ADD_NEW}</option>
          <option value="1">{TXT_OVERWRITE}</option>
        </select>
        <br />
        {TXT_ENABLED_FILE_EXTENSIONS}: *.png, *.jpg, *.jpeg, *.jpe </td>
    </tr>
    <tr> 
{SHOP_COMMENT_START}
      <td nowrap width="17%" valign="top">{TXT_IMAGE_INFORMATIONS}</td>
      <td width="83%"> {TXT_IMAGE_NAME}&nbsp;&nbsp;{SHOP_IMAGE_NAME}<br />
        {TXT_IMAGE_DIMENSION}:{SHOP_IMAGE_WIDTH}x {SHOP_IMAGE_HIGHT}&nbsp;{TXT_PIXEL}&nbsp;&nbsp;{TXT_IMAGE_SIZE}: 
        {SHOP_IMAGE_SIZE} Bytes<br />
        </td>
    </tr>
 {SHOP_COMMENT_END}
    <tr class="row1"> 
      <td width="17%" valign="top">{TXT_THUMBNAIL_SETTINGS}</td>
      <td width="83%"> {TXT_THUMBNAIL_SIZE} 
        <select name="shopThumbnailPercentSize" onChange="reloadPage()">
     {SHOP_SELECTED_THUMBNAIL_PERCENTAGE}
          <option value="5">5%</option>
          <option value="10">10%</option>
          <option value="15">15%</option>
          <option value="20">20%</option>
          <option value="25">25%</option>
          <option value="30">30%</option>
          <option value="35">35%</option>
          <option value="40">40%</option>
          <option value="45">45%</option>
          <option value="50">50%</option>
          <option value="55">55%</option>
          <option value="60">60%</option>
          <option value="65">65%</option>
          <option value="70">70%</option>
          <option value="75">75%</option>
          <option value="80">80%</option>
          <option value="85">85%</option>
          <option value="90">90%</option>
          <option value="95">95%</option>
          <option value="100">100%</option>
        </select>
        {TXT_QUALITIY} 
        <select name="shopImageQuality" onChange="reloadPage()">
    {SHOP_SELECTED_THUMBNAIL_QUALITY}
          <option value="10">10%</option>
          <option value="20">20%</option>
          <option value="30">30%</option>
          <option value="40">40%</option>
          <option value="50">50%</option>
          <option value="60">60%</option>
          <option value="70">70%</option>
          <option value="80">80%</option>
          <option value="90">90%</option>
          <option value="100">100%</option>
        </select>
      </td>
    </tr>
{SHOP_COMMENT_START}
    <tr class="row1"> 
      <td width="17%" valign="top">{TXT_THUMBNAIL_PREVIEW}</td>
      <td width="83%"><a href=javascript:openWindow('{SHOP_IMAGE_PATH}','','width={SHOP_IMAGE_WIDTH},height={SHOP_IMAGE_HEIGHT}')><img src='{SHOP_THUMBNAIL_IMAGE_PATH}' border='0' width='{SHOP_THUMBNAIL_IMAGE_WIDTH}'  height='{SHOP_THUMBNAIL_IMAGE_HEIGHT}'></a><br />
        <br />
        {TXT_IMAGE_DIMENSION}:{SHOP_THUMBNAIL_WIDTH}x{SHOP_THUMBNAIL_HEIGHT}&nbsp;{TXT_PIXEL}&nbsp;{TXT_THUMBNAIL_SIZE}: 
        {SHOP_THUMBNAIL_SIZE} Bytes<br />
      </td>
    </tr>
{SHOP_COMMENT_END}
  </table>
  <br />
  <br />
  <table class="adminlist" border=0 width="100%" cellpadding="3" cellspacing="0">
    <tr valign="top"> 
      <th nowrap  colspan="2"> 
        <div align="left">{TXT_PRODUCT_STATUS}</div>
      </th>
    </tr>
    <tr valign="top" class="row1"> 
      <td nowrap colspan="2">{TXT_ACTIVE} 
        <input type="checkbox" name="shopArticleActive" value="1" {SHOP_ARTICLE_ACTIVE}>
        B2B 
        <input type="checkbox" name="shopB2B" value="1" {SHOP_B2B}>
        B2C 
        <input type="checkbox" name="shopB2C" value="1" {SHOP_B2C}>
        <!-- 
        {TXT_START_DATE}:
        <input type="text" name="shopStartdate" size="20" maxlength="20" onClick="setDateToday(shopStartdate)" value="{SHOP_STARTDATE}">
         {TXT_END_DATE}:
        <input type="text" name="shopEnddate" size="20" maxlength="20" onClick="setDateToday(shopEnddate)" value="{SHOP_ENDDATE}">
     -->
      </td>
    </tr>
  </table>
  <br />
    <input type=submit value="{TXT_RESET}" name="shopResetForm" />
    <input type=submit value="{TXT_STORE}" name="shopStoreProduct" />
  {TXT_ACTION_AFTER_SAVEING} 
  <select name="shopAfterStoreAction">
    <option value="catalog" selected="selected">{TXT_PRODUCT_CATALOG}</option>
    <option value="newEmpty">{TXT_ADD_PRODUCTS}</option>
    <option value="newTemplate">{TXT_ADD_PRODUCTS} ({TXT_FROM_TEMPLATE})</option>
  </select>
</form>
<!-- END shop_product_manager.html-->